[2019-12-13 20:55] ehildenb opened #979 "Unparsing performance drastically worsened by polymorphic sort inference"
On commit `e2a3c34c - PGM[I] is always defined when evaluating #computeValidJumpDests (#625)` of KEVM, we have `make test-prove` and `make test-klab-prove` performance as such:

[code]

After updating the submodule to one which include polymorphic sorts (and associated sort inference), we get:

[code]

Which shows that `make test-prove` went up in time by about 15%, but `make test-klab-prove` goes

[2019-12-14 01:34] nishantjr opened #980 "Non-terminating behaviour when using `multiplicity=Set`"
[code]

[2019-12-16 17:47] dwightguth commented on #980
It seems this happens because my PR to update the llvm backend was never merged. Try with the latest master of llvm-backend and it should unblock you.

[2019-12-16 18:35] #980 closed, assigned to dwightguth

[2019-12-16 19:05] dwightguth commented on #976
What exactly are you hoping it would be formatted as? we cannot simply modify the existing production in a way that would put the configuration inside the parentheses in a manner which is general enough for what we would need. Note that it /is/ printing the configuration argument of that function, simply after the closing parentheses.

[2019-12-16 19:54] #979 closed, assigned to dwightguth

[2019-12-17 17:04] virgil-serbanuta commented on #976
Of course, my first option would have been to put the argument in the argument list of the function, i.e.
[code]

Now, if that's not possible, I don't think that there are other good options. I could suggest putting parentheses around it or something similar that helps people figure this out when they don't already know how this works, but I can't think of a reason for not being able to put the co

[2019-12-19 11:00] traiansf commented on #947
This was fixed by #954 and by https://github.com/kframework/kore/commit/c32cb34e5da799e8b3218d7037bee47b1783b73e

[2019-12-19 11:00] #947 closed, assigned to traiansf

[2019-12-19 11:12] traiansf commented on #975
I'm also encountering a strange KORE encoding generated by `#as` patterns, in which the equation corresponding to the `#as` condition is added both to the precondition and the postcondition of an equation.

For example, one of the rules for `orElse`,
[code]

is translated to
[code]

Which reads something like
[code]

What I particularly don't like about this encoding is that the substitution also

[2019-12-19 13:42] traiansf opened #984 "Wrong kompilation of `#Or` if in RHS."
[code]

is transformed during kompilation to something like
[code]

with no further restrictions on C.

[2019-12-19 16:47] radumereuta opened #985 "K should infer sorts when using abstract syntax"
[code]
This rule should apply, but right now, the sorts for `I` and `L` are being inferred as sort `K`. It used to work in the ocaml backend because we didn't have such strict sort checks and injections.

This is blocking the K-in-K definition. Since we're defining K, we have to avoid using the concrete syntax so we don't get parsing errors. The alternatives would be to either type all variables i

[2019-12-19 18:07] dwightguth commented on #985
I would recommend creating macros instead of using abstract syntax.

[2019-12-19 18:45] #974 closed, assigned to traiansf

[2019-12-19 21:06] ehildenb commented on #975
Hmmm, the translation is made more difficult when the `#as` pattern does not appear at the top of the rule, because we don't necessarily have access to the RHS of the rewrite at the point where we are supposed to translate the `#as` pattern: https://github.com/kframework/k/blob/1ac32f2abf2df78253b4385d8ed42ef2a7714e46/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L1450

[code]

[2019-12-20 14:15] traiansf commented on #975
yes, me and Virgil were looking on that code the other day; what I would do (based on the examples that @xc93 and @virgil-serbanuta  gave) would be to run another collector and get the as patterns as equalities and add them all to the requires clause. So, in your example,
[code]
would turn into
[code]

Then it would be the backend's responsibility to decide whether to apply the substitution and in

[2019-12-20 14:58] dwightguth commented on #975
In general I'm not opposed to removing the as patterns from places where they cause problems. It's intended as an optimization to reduce time spent constructing terms, but if there are issues, it is fine to locally disable it.

[2019-12-20 15:19] ttuegel commented on #975
So, just user-specified common subexpression elimination? I think that's fine. The Haskell backend will have no problem with it.

[2019-12-23 15:43] denis-bogdanas opened #991 ":=K, :/=K operators don't work on symbolic terms (kprove)"
The following PR fails both on Java and Haskell backend: https://github.com/kframework/k/pull/989

The cause is that negative case for `:=K` is encoded as `[owise]` rule, and owise rules are not executed on symbolic terms. At least not for functions in Java Backend. In Java Backend there might be additional issues, so it's better to test on Haskell.

These tests, for concrete execution, pass for J

[2019-12-31 02:42] prpr2770 opened #995 "Installation Error"
I've tried to install the K-framework using the Dockerfile.debian and I've ended up with the following error. Could you please help me debug the issue.
`
The characters around the executable and arguments are
not part of the command.
     [exec] Building all executables for "kore" once. After a successful build of all of them, only specified executables will be rebuilt.
     [exec] kore> build (li

[2019-12-31 03:01] prpr2770 commented on #995
The above error was generated when executing the following for building the package
'mvn package -X'
When executing the build process without "-X" flag, we obtain the following
`[INFO] -------------< com.runtimeverification.k:haskell-backend >--------------
[INFO] Building K Framework Haskell Backend 1.0-SNAPSHOT                 [7/10]
[INFO] --------------------------------[ jar ]----------------

[2019-12-31 15:24] ehildenb commented on #995
The `Dockerfile.debian` is not intended to be used for running/installing K. It's only used on CI, in a very specific way, for testing.

I would recommend either:

1.   Using one of our releases: https://github.com/kframework/k/releases
2.   Building from source.

[2019-12-31 20:09] #995 closed, assigned to nobody

[2020-01-02 16:12] prpr2770 opened #996 "[Error] Internal: Uncaught exception thrown of type MatchError"
`
$ kompile ./dool.k --debug
scala.MatchError: Some(DOOL.Dool) (of class scala.Some)
	at org.kframework.backend.llvm.matching.pattern.SortCategory$.apply(SortCategory.scala:25)
	at org.kframework.backend.llvm.matching.Generator$.genPattern$1(Generator.scala:92)
	at org.kframework.backend.llvm.matching.Generator$.$anonfun$genPatterns$10(Generator.scala:99)
	at scala.collection.TraversableLike.$anon

[2020-01-02 16:16] prpr2770 commented on #996
I am trying to define a new Sort and I'm experimenting with it, by modifying Bool definition, to create a new Sort called Dool. The code can be found [here](https://gist.github.com/prpr2770/80fa7bc3ab7087036e6b3fee5f8979f5). When I tried to kompile it, I found the above error.

[2020-01-02 16:29] prpr2770 commented on #996
If I Kompile it with the Java Backend there's no error.

[2020-01-02 18:05] prpr2770 opened #997 "[Error] Internal: Uncaught exception thrown of type NoSuchElementException (None.get)"
While compiling the same codebase, I get an error when using the default backend, but NO ERROR when using the Java backend.

Implementing kompilation with the Default Backend produces an error:
`
$ kompile kat.k --debug
java.util.NoSuchElementException: None.get
	at scala.None$.get(Option.scala:349)
	at scala.None$.get(Option.scala:347)
	at org.kframework.backend.llvm.matching.Fringe.expand(Matrix

[2020-01-02 18:48] ehildenb commented on #996
A few errors I can see off the bat:

1.   https://gist.github.com/prpr2770/80fa7bc3ab7087036e6b3fee5f8979f5#file-dool-k-L5 There is no hook named `DOOL.Dool`, so you shouldn't have this attribute, or the backend will complain about a missing hook.
2.   https://gist.github.com/prpr2770/80fa7bc3ab7087036e6b3fee5f8979f5#file-dool-k-L28 You are not allowed to extend the builtin sorts (in this case `Bo

[2020-01-02 18:50] ehildenb commented on #997
The Java backend compilation process checks many fewer things than the LLVM backend (default) does when doing compilation. So this isn't ideal, but it's not surprising.

We probably will not fix this, since we're more focused on deprecating the Java backend in favor of the Haskell backend. Suffice to say, if the LLVM backend complains about something in your definition, you should treat it as an e

[2020-01-02 22:00] prpr2770 commented on #996
Is there any reference documentation that you can share, that helps understand the concept of Hooks and also, on the ways in which we can define a new Sort?
Thank you for your help with this.

[2020-01-02 22:02] prpr2770 opened #999 "[Error] Internal: Uncaught exception thrown of type NoSuchElementException (None.get)"
`
user@d63a9f0d4e0a:~/k_project/kat/kat1$ kompile kat.k --debug
java.util.NoSuchElementException: None.get
	at scala.None$.get(Option.scala:349)
	at scala.None$.get(Option.scala:347)
	at org.kframework.backend.llvm.matching.Fringe.expand(Matrix.scala:248)
	at org.kframework.backend.llvm.matching.AHeuristic$.$anonfun$computeScoreForKey$4(Heuristics.scala:151)
	at org.kframework.backend.llvm.matchin

[2020-01-02 22:06] prpr2770 commented on #999
The above error was obtained when using the default LLVM backend for Kompile. The codebase can be found [here](https://gist.github.com/prpr2770/7353a82d86aeb28abd898b2efe1a929c).

[2020-01-02 22:10] hjorthjort opened #1000 "Macro expansion errors in LLVM and Haskell backends"
There seems to be an error when several macros apply to a statement.
I observe my issue when a macro is expanded in a list of the form `x:xs` is expanded into to `y:z:xs`, and there remains *different* macros to be expanded in the `xs`. Using `[macro-rec]` doesn't help (and if I understand correctly, that's not what `[macro-rec]` is for).

Minified example, file `me.k` (for "macro error"):

[code]

[2020-01-02 22:14] ttuegel commented on #1000
The Haskell backend error is relatively easy to diagnose:

[code]

The backend expected the argument of that symbol to be a token. A token pattern has the form:

[code]

[2020-01-02 22:17] dwightguth commented on #1000
The Int sort should probably not have any subsorts.

[2020-01-02 22:38] hjorthjort commented on #1000
Using a common supersort doesn't help, the problem is the same:

[code]

Same error messages from the LLVM and Haskell backends, no error from the Java and OCaml backends.

[2020-01-02 22:41] hjorthjort commented on #1000
So why would the function get applied to something of the sort `Int`? The macro should only apply to terms of the sort `WasmIntToken`.

[2020-01-02 22:59] hjorthjort commented on #1000
Actually, implementing this change in the KWasm project gives the same error as before (same as in the minified example) for the LLVM backend, but changes to a `StackOverflow` exception due to too many macro expansions in the Haskell backend.

[2020-01-03 19:14] ehildenb commented on #997
Closing this, feel free to re-open if you think it's not resolved.

[2020-01-03 19:14] #997 closed, assigned to nobody

[2020-01-05 15:37] prpr2770 commented on #996
@ehildenb @dwightguth Thank you for your help with addressing the issues.  I find it difficult to understand different aspects of K-framework, by just reading the codebase. Is there any documentation that you have, which you could share to help me understand about Hooks, and the ways in which properties of Commutativity and Equality between terms can be incorporated into the specification, without

[2020-01-06 14:49] ttuegel commented on #1000
I'm not sure about that part. A parsing problem in the frontend, maybe?

[2020-01-06 15:24] dwightguth commented on #991
I'm not entirely sure what you expect someone to do about this. A function like this can't be encoded to have a negative case without the owise attribute or something very much like it (not patterns). If the backend doesn't choose to evaluate the negative case on symbolic terms, that's the backend's choice, but there's nothing the frontend can do at that point to make the term evaluate. As I under

[2020-01-06 15:31] dwightguth commented on #1000
I don't immediately spot any other errors in the definition, but the error you're getting from the llvm backend happens when the backend crashes. I'll investigate when I get in.

[2020-01-06 16:42] dwightguth commented on #1000
The problem appears to be that somehow, the macro for WasmIntToken is being expanded recursively once, when it should not be expanded recursively at all. I will continue digging and attempt to create a pull request to fix this.

[2020-01-06 19:58] prpr2770 commented on #999
$ kompile --version
RV-K version 1.0-SNAPSHOT
Git revision: 1cb24c0
Git branch: UNKNOWN
Build date: Fri Dec 20 18:24:40 GMT 2019

[2020-01-06 21:45] #999 closed, assigned to dwightguth

[2020-01-08 09:32] denis-bogdanas commented on #991
Yes you are probably right. You suggested `:=K` as replacement for `#getKLabelString`. It turned out this operator is not a replacement. Fortunately for now I eliminated the need for `#getKLabelString` through other means but the need might appear in future.

[2020-01-08 09:32] #991 closed, assigned to dwightguth

[2020-01-13 14:47] hjorthjort commented on #239
A more helpful inner parser would go a long way. For example, if I accidentally screw up a closing cell in the configuration, like so

[code]

the error can look something like this:

[code]

If I misspell a sort name the error points me to a later part of the line:

[code]

Above an `l` is missing, easy to miss. Error message:

[code]

------

I find these kinds of error messages are common. They

[2020-01-13 15:30] dwightguth commented on #239
I have been aware of the issue when the configuration fails to parse for some time and just never got around to fixing it. Fortunately, there is an easy fix; simply don't parse any rules if there are configurations that didn't parse.

This second issue, with the error message not being very informative, I am interested in investigating, but you will have to give me a minimal example because there

[2020-01-13 18:18] #958 closed, assigned to nobody

[2020-01-13 22:45] ehildenb opened #1018 "Relatively slow runtime of frontend when using JSON input format"
On https://github.com/makerdao/mkr-mcd-spec on branch `slow-json`, do:

[code]

It has a very recent version of K `9c059f219`.

Once the semantics has built, you can run the same program in two ways:

-   Skip parse and unparse time, but still go through the frontend via JSON input (roughly 20s):

[code]

-   Skip the frontend and go directly through the backend (roughly 0.05s):

[code]

I've atta

[2020-01-14 14:05] radumereuta opened #1021 "llvm debugger throws Missing ELF symbol error"
Starting with b54761f44616ea4268f388022e43d73209d2960c
There has been a regression when running the debugger. Instead of pretty printed terms, I get:

[code]
Normally it should look like this:
[code]
I couldn't minimize the example, but it happens with this definition of KinK: https://github.com/kframework/k-in-k/tree/debuggerRegression/bug

[2020-01-14 14:10] radumereuta commented on #1021
The first attempt to fix the issue 8da05a6c6add35f1dfba893a107bc104dc6776af
is a partial fix. I have to add `-Dproject.build.type=Debug` to mvn and  `-O1` to kompile in order to not get `<optimized out>` terms. Although some of them still are.

[2020-01-14 17:08] dwightguth commented on #1021
That is a completely unrelated commit. The K frontend PR containing this fix has not been merged yet.

[2020-01-14 20:50] #1018 closed, assigned to dwightguth

[2020-01-16 10:55] XVilka opened #1032 "Consider to use tree-sitter instead of flex/bison"
[Tree-sitter](http://tree-sitter.github.io/tree-sitter/) is a parser generator tool and an incremental parsing library. It can build a concrete syntax tree for a source file and efficiently update the syntax tree as the source file is edited. Tree-sitter aims to be:
- General enough to parse any programming language
-  Fast enough to parse on every keystroke in a text editor
-  Robust enough to pr

[2020-01-16 11:43] radumereuta commented on #1032
I just glanced at what tree-sitter can do, and what was designed to do, so please correct me if I'm wrong.
Parsing a K definition is actually fairly complicated to parse. It's a two-step process:
- parse the syntax declarations (we call it outer parsing) and ignore the rules (we put them in 'bubbles')
  - combine the user-defined language with the K syntax, and generate a new parser
- parse config

[2020-01-16 14:59] asymmetric opened #1036 "Port --dry-run to Java backend"
As discussed with @ehildenb, it would be useful in order to have faster feedback about parsing errors.

[2020-01-16 17:45] dwightguth commented on #1032
I am unable to find reference in their documentation to what types of grammars they accept, which is somewhat suspect in itself, but from their documentation about precedence and associativity it is clear that they do not support GLL or GLR grammars, so it's true that this is not going to be suitable for parsing K definitions.

Moreover, it appears that grammars are written in JavaScript, so it's

[2020-01-16 17:49] ehildenb commented on #1032
If it can't handle ambiguities it's basically a non-starter for us. But being able to use that parser for editor integration is attractive, since we can then generate a parser for the language, and immediately have editor integration for that language.

Currently we generate a Bison parser which _is not guaranteed to work_ if you grammar doesn't have nice LR(1) properties. That is to be only used

[2020-01-16 18:57] radumereuta opened #1038 "hook(STRING.token2string) is ignored when it receives injection"
Version: e918a117e5af6b8c1f24b77095af4c24a0c340bd
Backend: LLVM
[code]
Note: the input for token2String is `inj(#token("abc","S2"))`
Output: `inj{SortS2{}, SortKItem{}}(\dv{SortS2{}}("abc"))`
Expected: Either an error message or just simply ignore the injection and apply the hook on the child of the injection: `\dv{SortString{}}("abc")`.
The K-in-K definition just crashes with SegFault and I'm una

[2020-01-16 19:35] ehildenb commented on #1036
After discussing with @dwightguth instead of porting `--dry-run` over to Java backend, we'll implement a `--kompile-only` flags for Java backend prover.

[2020-01-18 16:01] hjorthjort opened #1045 "Minimal proof fails on Haskell backend"
I get a failure with `kore-exec: Quantifying both the term and the predicate probably means that there's
an error somewhere else.`, while the Java backend manages to prove this.

The proof:
[code]

Run with

[code]

Full error message:

[code]

[2020-01-18 19:35] hjorthjort commented on #1045
Moved to <https://github.com/kframework/kore/issues/1451>

[2020-01-18 19:35] #1045 closed, assigned to nobody

[2020-01-20 13:06] MrChico opened #1046 "kprove: should error given unbound RHS variable"
If a variable appears only on the right hand side of a specification, this is silently interpreted as an existentially quantified variable.
This is potentially dangerous behavior, as a typo in the spec writing can lead to a proof becoming trivial, resulting in a false certainty in the verification process.
For rewrite rules, variables appearing on the RHS of a rule throws an error, unless explicit

[2020-01-23 15:55] ehildenb opened #1053 "Regression in Frontend around FST serialization code for KWasm"
Pull request: FST serializer: fixes to intermittent, concurrency failures ( #1037 ) causes a regression in the KWasm test-suite, as discovered by this PR: https://github.com/kframework/wasm-semantics/pull/284

Reverting that commit on top of K `master` leads to the tests passing (the commit reverts cleanly).

Reproduction steps:

[code]

It looks like it runs out of memory with the FST serializer

[2020-01-23 15:57] ehildenb commented on #1053
Increasing to `-Xmx16G` fixes the issue for us, but it seems unreasonable to need that much memory I suppose. Is there a reason it takes more memory with the FST serializer?

[2020-01-23 17:02] dwightguth commented on #1053
This is probably due to the change in the garbage collection algorithm. if you locally revert the changes to checkJava from that PR, does it work again?

[2020-01-23 17:31] denis-bogdanas commented on #1053
It could be either the garbage collector implementation or the other change in BinaryLoader. Object `FSTConfiguration` was global before but is thread-local now. I see `make -j` is set to 4 max. Hard to believe, but it is possible that 1 instance of this object fits the memory but not 4 instances. Only if it contains some memory leak.

Considering that we haven't seen an OOMError, there was probab

[2020-01-23 19:19] ehildenb commented on #1053
The example above only runs a single test, so it's not `make -j4` anywhere. On CI it's `-j4`, but it still fails with a single run.

I'll try with the old garbage collection algorithm (by changing `checkJava`), and report back.

[2020-01-27 15:00] ttuegel opened #1056 "KBMC includes modules that are not imported"
The `kbmc` tool's compilation process includes modules that are not imported. This is [blocking](https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/k/detail/PR-1043/9/pipeline#step-98-log-1024) the update of the Haskell backend.

[2020-01-27 20:26] ehildenb opened #1057 "Investigate performance of `kompile`"
The MKR-MCD semantics at https;//github.com/makerdao/mkr-mcd-spec takes a weirdly long time to `kompile` it seems. It is a rather large definition, with lots of configuration composition, but it still seems to take too long.

Maybe profiling it would reveal some interesting hot-spots, or maybe not. If nothing interesting stands out, feel free to close this.

[code]

[2020-01-27 22:05] #866 closed, assigned to dwightguth

[2020-01-28 19:23] radumereuta commented on #1021
It seems to be fixed now.

[2020-01-28 19:23] #1021 closed, assigned to nobody

[2020-01-28 19:52] radumereuta commented on #239
Check that parametric functions are not used since they are not supported yet (only hooks).
This example makes llvm-kompile to crash with Segmentation fault. (for documentation purposes)
[code]

[2020-01-28 20:16] ehildenb opened #1063 "Make llvm-backend respect `--dry-run`/`--verbose`"
Currently Haskell backend `--dry-run` (and `--verbose` too, I believe) will output the command to run on intermediate files dumped in `.krun*` and `.kprove*` to invoke the haskell backend directly on the generated Kore.

This would be useful for the llvm backend too, so that I can run `gdb` directly on the llvm backend.

[2020-01-30 06:22] #1036 closed, assigned to ehildenb

[2020-01-30 19:21] #1063 closed, assigned to dwightguth

[2020-01-30 20:09] gtrepta opened #1072 "Very slow parse times for KEVM on the Haskell backend"
On the latest master commit of `evm-semantics` (848dca83f3dc15d810dbd9277232ca4b3817703d), the haskell backend is taking a very long time (>12m) to parse one of the specs.

[code]

All of the other specs finish parsing in under 200 seconds. But on the java backend, *all* of the tests parse and prove just fine.

[2020-01-31 19:36] radumereuta opened #1074 "llvm fails to duplicate Set inside functions"
I have this example where I'm trying to duplicate a set of elements inside some function calls. I eliminate the elements from the first set and then the elements from the second set just disappear.
[code]
Usage: kompile and krun
Version: 0ef1a6f987c0361e43015d17f8439ebf001f6342

Expected:
[code]
Actual:
[code]

[2020-01-31 19:50] dwightguth commented on #1074
Several things seem to be happening here. First, `disambiguate` is a function, but you have defined no rules for this function, so the function gets stuck, aborting rewriting. It is supposed to return the stuck function application when this happens, but somehow the stuck function application generated by the backend is missing the elements of the set.

That being said, while you are getting the w

[2020-01-31 20:48] ehildenb opened #1075 "Annotate the functions in `domains.k` with named arguments"
It's often difficult to figure out what the arguments in `domains.k` mean without asking someone or looking at implementations of the hooks.

This can easily be solved by using named record-type arguments instead.

Note that in several cases we don't use the simpler syntax declarations, so we may need to change that, eg:

[code]

should become something like (not sure I got the argument order corr

[2020-02-03 23:53] inkytonik opened #1078 "Can't install on Mac OS X"
The Mac installation instructions say

    brew tap kframework/k "file:///$(pwd)"
    brew install kframework--X.Y.Z.ID.bottle.BN.tar.gz -v

Unfortunately, the first command gives an error:

    Cloning into '/usr/local/Homebrew/Library/Taps/kframework/homebrew-k'...
    fatal: '//Users/asloane/Downloads' does not appear to be a git repository
    fatal: Could not read from remote repository.

[2020-02-04 03:12] ehildenb opened #1079 "Declaration of `multiplicity="*" type="Map"` should check key-like access"
This definition `kompile`s just fine, but should throw an error because of the rule which accesses the `<mem>` cell without mentioning the `<env-id>` cell. It's almost certainly not what the user intends.

[code]

[2020-02-04 16:42] dwightguth commented on #1078
Please try `brew install kframework/k/kframework`.

[2020-02-04 17:25] dwightguth commented on #1079
So, there are definitely some cases where this /is/ what the user intended, for example if you have a thread cell that contains both a thread-id and a k cell. We could maybe raise a warning, but that would make some definitions very verbose when kompiled.

[2020-02-04 20:47] dwightguth commented on #970
Closing from lack of response. If you are able to reproduce this behavior in the future, please make sure to provide reproduction instructions.

[2020-02-04 20:47] #970 closed, assigned to dwightguth

[2020-02-04 21:15] inkytonik commented on #1078
Thanks. When I run that command it successfully installs the kframework tap, then dependencies (just sqlite apparently), but then fails trying to download the bottle and sources:

[code]

[2020-02-05 16:21] #1075 closed, assigned to dwightguth

[2020-02-05 19:21] #1074 closed, assigned to dwightguth

[2020-02-06 16:57] dwightguth commented on #1078
Can you please try again? I believe the issue you just reported should be fixed in the latest release of K.

[2020-02-06 17:21] h0nzZik opened #1088 "`kast` ignores the parameter `--output-file`"

[2020-02-06 22:23] inkytonik commented on #1078
Thanks, the `brew install kframework/k/kframework` command is working for me now. It installed from  the bottle and the commands seem to run at least

[2020-02-06 22:24] #1078 closed, assigned to dwightguth

[2020-02-07 04:29] Andrew-Miranti opened #1090 "Cannot use [anywhere] rule to wrap production"
I would like to use an anywhere rule to wrap all instances of a certain sort in my configuration in brackets.

With the definition
[code]

The llvm backend is unwilling to compile this definition, crashing with the following error:
[code]

The haskell backend compiles the definition, but crashes with the following error at krun time:

[code]

The issue might be related to the sort requirement on t

[2020-02-07 05:17] ehildenb commented on #1090
As an `anywhere` rule, this will infinite loop. You probably can do this with a `macro` though.

Infinite loop: `< "blah" >`, then `"blah" => < "blah" >` and you have `< < "blah" > >`, then `"blah" => < "blah" >` and you have `< < < "blah" > > >`, etc...

An example of using `macro`s to wrap everything in a certain sort in a call to some function exists in KWasm here: https://github.com/kframework

[2020-02-07 05:17] ehildenb commented on #1090
You need to use `macro-rec` to get it to expand repeatedly.

[2020-02-07 07:01] Andrew-Miranti commented on #1090
I believe that is prevented by the side condition `< _ > :/=K T` - regardless, this isn't the behavior I'd expect even if it did infinite loop.  One backend refuses to compile the rule, and one crashes at runtime immediately.

[2020-02-07 07:12] ehildenb commented on #1090
In my example `T` was always `"blah"`, not `< "blah" >`.

[2020-02-07 15:31] dwightguth commented on #1090
This looks like a regression relating to Yi's work with aliases. I will investigate.

[2020-02-10 21:12] dwightguth commented on #1090
After looking at this definition in more detail, I notice a problem. The anywhere rule does not have a symbol at the top on the lhs, it has a variable, and I don't believe we support this case in the llvm backend. The following roughly equivalent definition seems to work correctly, once I apply a bug fix:

[code]

[2020-02-12 16:29] dwightguth commented on #1072
I am still trying to figure out how to solve this issue in a manner that doesn't make the memory usage of K explode, but for now, you can solve this issue by transforming the side condition of the spec so that each `andBool` clause is wrapped in nested parentheses to avoid the need for parsing an associative list.

[2020-02-12 18:48] gleguern opened #1098 "[Error] Internal: Uncaught exception thrown of type NoSuchElementException."
Hi,

I got the error in subject and folow kompile directives to file a bug report.

I use "RV-K version 1.0-SNAPSHOT Git revision: f84831e" (result from kompile --version).

I'm specializing Map for my purpose in a data-type module (attached file data-type.k -- to which I added the .txt suffix in order to be able to upload it here). I wrote a minimal test file (attached file test-record.k) in a re

[2020-02-12 18:51] #1090 closed, assigned to dwightguth

[2020-02-12 19:44] dwightguth commented on #1098
This is definitely a bug in the tool. The following rule:

[code]

is being parsed incorrectly. The rhs of the rewrite is being parsed as sort RecordFieldDescr instead of RecordDescr, so the code crashes unexpectedly because the rhs of the rewrite of a function rule is not a subsort of the lhs. It's supposed to be interpreting the rhs as a list of length 1, but this is not happening for some reaso

[2020-02-13 21:15] dwightguth commented on #1098
Incidentally, this is unrelated to your bug, which I have a patch for that I am testing now, but I notice you wrote:

[code]

You probably meant:

[code]

or simply:

[code]

What you wrote tells the scanner to create a single token `record2descr(` instead of two tokens, `record2descr` and `(`, which means that you would get a parsing error if you wrote `record2descr ( F:Id |-> V )` (note the spac

[2020-02-13 21:32] dwightguth commented on #1057
There have been several significant improvements to parsing performance recently. Please reopen if this is still an issue.

[2020-02-13 21:32] #1057 closed, assigned to dwightguth

[2020-02-13 21:32] dwightguth commented on #1072
There have been several significant improvements to parsing performance recently. Please reopen if this is still an issue.

[2020-02-13 21:32] #1072 closed, assigned to dwightguth

[2020-02-14 20:07] dwightguth commented on #1098
PR #1104 appears to fix this issue and is passing our tests. It won't get merged until Monday because I am waiting on a review from someone who is busy with other things today, but you can build the `emptylists` branch of K from source if you want to unblock yourself.

[2020-02-19 14:16] asymmetric opened #1108 "Ensure exception class is shown in critical errors"
When [`StackOverflowError`](https://github.com/kframework/k/blob/d23fb1bb15d31de94ba6dc9424fffcd3ddbd0b35/java-backend/src/main/java/org/kframework/backend/java/kil/KItem.java#L584) gets thrown due to e.g. a bug in the semantics, all the user sees is `[Error] Critical: (null)`.

It would greatly help with debugging to know that e.g. a `StackOverflowError` has occurred. In my case, that was due to

[2020-02-19 14:20] asymmetric opened #1109 "Deterministic functions"
It took me a while to realize that a case of non-determinism was due to two `function` rules being defined, and that there was a `--deterministic-functions` flag, whose documentation is hidden behind the `-X` flag.

Two points:

1. should the flag be turned on by default?
2. should it be made more visible?

I heard that the argument for not doing 1. is backwards-compatibility. I'd argue that this

[2020-02-19 22:51] #1098 closed, assigned to dwightguth

[2020-02-20 17:21] #1108 closed, assigned to nobody

[2020-02-21 14:26] gleguern commented on #1098
The work around worked fine for me. Thanks

[2020-02-21 14:32] gleguern opened #1114 "[Error] Critical: I/O Error while executing"
Hi,

I'm having a strange bug. I created the following MWE from my K files [mwe-environment.zip](https://github.com/kframework/k/files/4236494/mwe-environment.zip)

 Compilation goes fine. If I run 8 steps (--depth 8), everything goes fine and I seem to reach a final configuration. But if I run 9 steps or run till completion, I get the error:

As if the file was deleted before completion.

Any ide

[2020-02-24 17:08] dwightguth commented on #1114
This error typically happens because the llvm backend crashes while rewriting. It might be a bug, or you might be dividing by zero or something. Newer versions of k make it clearer what happened. If you run the program with --debugger and then type `run` followed by `bt` at the debugger console, what output do you get on the command line?

[2020-02-24 17:09] dwightguth commented on #1114
You might also consider trying it with the latest version of k to see if this issue has been fixed already; there have been several fixes recently for similar issues.

[2020-02-25 19:21] gleguern commented on #1114
Hi,
You were right, it was a bug already corrected in the latest version. This MWE works fine with version a7c2937. I have other problems now, but will investigate first.
Thanks

[2020-02-25 19:21] #1114 closed, assigned to nobody

[2020-02-25 23:08] yzhang90 opened #1121 "Kompile failed on latest evm semantics"
I tried to kompile evm semantics with the latest k and I got the following error:
[code]

The bug was introduced in the commit 9852fe2e4fae52663ac4eb1a0ef2726e495573b5

[2020-02-25 23:29] dwightguth commented on #1121
I am reasonably confident that #1119 will fix this when it is merged. I will test it to be sure tomorrow though and add more regression tests if it's not already fixed. In the meantime either build with that PR or with a slightly older version of k

[2020-02-25 23:52] shawnwang66 opened #1122 "Can't install on Mac OS X Catalina"
I successfully tapped the bottle now.
[code]
However, when I tried to install the package, I received the following errors.
[code]
I also tried
[code]

Is there anything I can do to fix this issue?

[2020-02-26 00:05] shawnwang66 commented on #1122
Solved by `untap` and `tap` again.

[2020-02-26 00:05] #1122 closed, assigned to nobody

[2020-02-26 19:54] #985 closed, assigned to nobody

[2020-02-26 21:04] #1121 closed, assigned to dwightguth

[2020-02-26 23:32] jzw2 opened #1126 "LLVM Backend crashes"
I'm not sure if this is because I broke my machine or something, but when I try to kompile and krun sum.imp from the k tutorial, I get

``` [Error] Critical: LLVM Backend crashed during rewriting. ```

I'm running on a mac, I'm not sure what other variables there are that would cause this.

[2020-02-27 16:48] dwightguth commented on #1126
I'm aware of this issue; it seems to only be affecting macs on recent versions of k. I would suggest installing the latest Homebrew bottle in the meantime.

[2020-02-27 20:55] dwightguth commented on #1126
Having investigated further, I believe this issue may be fixed with kframework/llvm-backend#303 once the submodule in kframework/k is updated. I'm not 100% sure this is the same issue since I have not independently confirmed it, but it seems to manifest the same way as the bug I discovered, which was a bug caused by the recent release of GMP 6.2, which is also recently released on Mac OS.

As such

[2020-02-27 21:45] wenhaosu opened #1129 "Fail to run Makefile in /k/k-distribution/tutorial/"
When I tried to run `make` under almost all folders under `/k-distribution/tutorial/`, I will get the following error message:
`/bin/sh: 1: /mnt/c/Users/suwen/Project_Files/CS422/k/k-distribution/bin/kdep: not found`
`/bin/sh: 1: /mnt/c/Users/suwen/Project_Files/CS422/k/k-distribution/bin/krun: not found`

However, I can manually execute `krun` and other k commands.

The release I've using is the

[2020-02-27 22:00] dwightguth commented on #1129
It sounds like you are trying to run the tutorial via a clone of the source code of k, rather than by copying the tutorial out of the /usr/lib/kframework directory into your home directory, as was intended by users of the binary package. Because you are building it from a source directory, the tutorial thinks you have done a source build of k and is trying to use the version that was built, but of

[2020-02-27 22:36] wenhaosu commented on #1129
Solved by using the third method, thanks!

[2020-02-27 22:36] #1129 closed, assigned to nobody

[2020-02-28 15:08] gleguern opened #1131 "[Error] Internal: Uncaught exception thrown of type MatchError (Some(BAG.Bag) (of class scala.Some))"
Hi,

I use the latest release of K (Git revision: a7c2937). When trying to use "multiplicity" I get the error mentionned in title.

When kompiling the following K source:
[code]
I get the following stack trace :

Any idea how to fix this ?

Thanks,
Gurvan

[2020-02-28 15:28] dwightguth commented on #1131
Due to longstanding convention in K, cell collections by default are multisets (bags). However, `--backend java` is the only backend which has implemented multisets yet. Thus you are getting an exception. I am writing a PR to make the error message more informative, since this is something that trips up a lot of new users. But for now, I would recommend that you add either `type="Set"` or `type="M

[2020-02-28 15:39] gleguern commented on #1079
Hi,
Personally, I may write such a rule if I want the mem cell of an env (any env) to be updated without additional constraint about which one.

[2020-02-28 15:47] gleguern commented on #1131
Thanks. It solved my problem.
Is the attribute 'type' documented somewhere ?

[2020-02-28 15:47] #1131 closed, assigned to nobody

[2020-02-28 18:20] ReedOei opened #1133 "kprove: no `int_max` in Z3"
I tried to run `kprove` on the following:
[code]

`LAMBDA` is the tutorial langauge with a couple of minor extensions (strings, pairs). I put it on pastebin [here](https://pastebin.com/z5rJz5GG), but I don't think it's actually relevant to the error.

K gives me the following error:
[code]

I assume this is because of the definition of `maxInt` in `domains.k`. I resolved my problem by using the `#

[2020-02-28 19:18] denis-bogdanas commented on #1133
Add option `--smt-prelude evm.smt2` where `evm.smt2` is this: https://github.com/runtimeverification/verified-smart-contracts/blob/master/resources/evm.smt2

By the way you are running Java backend, not Haskell.

[2020-02-28 19:34] dwightguth commented on #1133
It's true you can add an smt prelude (although I would recommend the one in include/z3/basic.smt2 in the k repo instead), but we will also have a better fix than that shortly that will make such a command line flag not required.

[2020-02-28 22:02] ttuegel opened #1134 "Matching on Map and Set"
This documents a conversation today between @ttuegel, @dwightguth, and @sskeirik. We discussed the Haskell backend's solution to kframework/kore#672 and how to reconcile that solution with the behavior of other backends and with the intended semantics of existing K definitions. Refer to that issue to understand the rationale for this solution; these remarks will only document the facts of that sol

[2020-02-28 22:24] dwightguth commented on #1134
I'm going to flesh out a little bit more the changes that will be needed to the frontend and the llvm backend. I assume that Tom is much better suited to fleshing out the changes that need to be made to the Haskell backend.

Frontend:

* [ ] We need to add a new concatMap and concatSet symbols to the MAP and SET modules in domains.k. These will be given the MAP.concat and SET.concat hooks, and the

[2020-02-28 22:39] nishantjr commented on #1134
Re the second point on the LLVM Backend list, why would `*.union` ever occur on the LHS of a rule?
Wouldn't we only have `_Map_` or `_Set_`, allowing us to choose the correct one at translation time?

[2020-03-01 23:23] ttuegel opened #1135 "Incorrect unparsing of Map cell collections"
This Kore term:

[code]

is incorrectly unparsed by `kprove` as `#Forall x . #Ceil ( DotVar2 x )`.

[2020-03-02 02:59] ttuegel commented on #1135
@dwightguth The context here is that the Haskell backend would like to abstract over Map values when simplifying Ceils, because of #1334. I guess cell collections use the entire cell as the value, which contains the key, so the frontend doesn't unparse the key separately, is that about right?

[2020-03-02 14:47] ttuegel commented on #1134
Supporting the concrete case in the Haskell backend would not take much work:

- [ ] Fix kframework/kore#1183
- [ ] Implement `MAP.union` and `SET.union` symbolically in `domains.k`.

Fully supporting the symbolic case presents some difficulty. In the concrete case, every union can be evaluated to a concat, but not so in the symbolic case. At least, not without branching:

- [ ] Allow branching on

[2020-03-02 16:06] traiansf opened #1137 "Haskell backend integration: `kprove` should save a `compiled.bin` for the generated `vdefinition.kore`"
This is required to ensure that there would be a definition which can be used to unparse the output of the haskell backend.

Currently kprove does not save the composed definition (including the main module to be used for proofs).  However, the output (esp. if not `#True`), might include syntax defined in that module.

This is the case, for example with the KWASM Lemmas ( https://github.com/kframe

[2020-03-02 16:07] traiansf commented on #1137
This might be related to Issue #703 (duplicate?)

[2020-03-02 17:37] dwightguth commented on #1135
that's correct, we discard the key because the assumption is that the key is equal to the first child of the value.

[2020-03-02 17:49] dwightguth commented on #1126
I believe this should now be fixed. Please let me know if it is still occurring for you.

[2020-03-03 12:20] denis-bogdanas commented on #1137
The compiled definition was going to be stored differently in PRs below, but they stagnate for 4 months already for various reasons. So please don't work on this until we sort out the PRs below.
https://github.com/kframework/k/pull/892
https://github.com/kframework/k/pull/910

[2020-03-04 21:12] ttuegel opened #1142 "Regression: Illegal quantification of Kore set variables"
#1083 causes set variables on the left-hand side of rules to be existentially quantified. It is illegal to quantify set variables in Kore.

To reproduce:

[code]

[2020-03-05 18:22] #1142 closed, assigned to yzhang90

[2020-03-06 05:57] Andrew-Miranti opened #1145 "Incorrect output with "-o program" argument"
Consider the following simple definition:

[code]

Run on the program '0' with the command `krun a.txt -o program.  On an older version of K, (specifically commit 413f849a8) , this outputs:

[code]

On the latest master, this outputs:

[code]

Which is identical to the output (of either version) without the -o program argument, and is not consistent with the older version.

[2020-03-09 16:44] yzhang90 commented on #1056
Fixed by #1125

[2020-03-09 22:22] #1145 closed, assigned to dwightguth

[2020-03-10 03:12] vasil-sd commented on #1126
I'm suffering from similar bug, using latest release of K-Tools (v5.0.0-51b354c).

After short investigation, I've found that it crashes on NULL ptr deref in getTagForSymbolName.

(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x00007ffffd730801 in __GI_abort () at abort.c:79
#2  0x00000000002127a1 in getTagForSymbolName ()
#3  0x000000000021ba72 in allocate

[2020-03-10 14:48] #1056 closed, assigned to yzhang90

[2020-03-10 17:26] h0nzZik opened #1154 "Make `krun` print the number of steps before termination."
This would help users to get the configuration that gets stuck in function evaluation, and it would also be easier to see the steps before the execution got stuck.

[2020-03-10 17:56] dwightguth commented on #1126
I need more data about how to reproduce the issue you describe if there's any hope of resolving it. Your stack trace tells me that this definitely isn't the same issue that the original person who created this issue ran into, which is good. It also tells me that it's not an issue on mac OS. But it doesn't tell me anything that would allow me to determine the cause of the error or how to reproduce

[2020-03-12 03:35] daejunpark opened #1157 "Membership predicate for collection cells of type Map"
K doesn't seem to provide a way to write a membership predicate for Map-typed collection cells.  If K does, it is missed in [the document](https://github.com/kframework/k/blob/master/pending-documentation.md#collection-cells-multiplicity-and-type-attributes).

For example, consider the following definition.

a.k:
[code]

1.a:
[code]

Now, krunning `1.a` crashes due to the duplicate keys:
[code]

T

[2020-03-12 03:49] daejunpark commented on #1157
I know that it is possible to avoid the error by using `[owise]`:
[code]

But it doesn't work for writing a reachability claim that says `add` will create a new `<state>` cell if `K` is fresh, like:

[code]

[2020-03-12 18:43] #1154 closed, assigned to dwightguth

[2020-03-13 04:49] zhengyao-lin opened #1162 "[K Tutorial] Static type semantics of SIMPLE"
Not sure if this is a legit issue since I'm still studying K. In the following line
https://github.com/kframework/k/blob/master/k-distribution/tutorial/2_languages/1_simple/2_typed/1_static/simple-typed-static.k#L566

[code]

this rule only applies for the case when the block is non-empty (`{S}`), so I think the empty block will not be correctly typed in this case.

[2020-03-13 11:46] dwightguth commented on #1162
Good eye! I haven't tested yet, but it does look to me like you are correct. Thanks for the report, I will test to confirm and then update the definition.

[2020-03-13 14:38] dwightguth opened #1165 "User substitution hook in java backend applies to variables"
The user substitution hook seems to apply in the java backend even when the term to be substituted into and the variable to be substituted are not concrete. In this case, it applies incorrectly and disappears without correctly substituting in all cases when those variables are made concrete later on via unification.

The fix would be to check that `term.isConcrete() && variable.isConcrete()` in Bu

[2020-03-13 16:56] hjorthjort commented on #1157
I would have good use of a membership function, too. When reasoning about Ewasm contracts it can be important that a key does not already exist, for example when creating a new account.

[2020-03-13 17:21] #1162 closed, assigned to dwightguth

[2020-03-17 10:50] #1133 closed, assigned to ttuegel

[2020-03-17 18:29] h0nzZik opened #1169 "Kompile option for just including all imports"
Could kompile have an option similar to gcc -E that would just perform all imports and printed the result? It would make minimalizing counterexamples for bug reports easier.

[2020-03-17 18:34] ehildenb commented on #1169
@dwightguth please also make sure this respects the `--emit-json` flag. Having the pre-kompile-pipeline version of the JSON semantics is something that would be pretty useful for the `pyk` library.

It would also be helpful if it happened _after_ unique ids are given to all the rules, but I don't know if it's possible. That would make the pyk library definition minimizer (still in my tree) more us

[2020-03-18 17:58] dwightguth commented on #1169
I mean, unique ids are given during compilation because some rules don't even exist until then. Conversely, what @h0nzZik is discussing would take place before outer parsing has finished. So what you suggest isn't really possible.

[2020-03-19 13:06] h0nzZik opened #1171 "Assertion error in parsing when `FLOAT` not imported"
[code]
`kompile imp.k`: no error message.

File `test.imp`:
[code]
`krun test.imp --debug`:
[code]

[2020-03-19 16:40] mikesamuel opened #1172 "kframework.org links to defunct googlecode.com"
Apologies if this is the wrong project for doc bugs

On http://www.kframework.org/index.php/Projects many of the links go to googlecode.com which was [sunset](https://opensource.googleblog.com/2015/03/farewell-to-google-code.html) and presumably most of those have migrated to Github.

For example:

: \[\[Traian Florin Serbanuta]], \[\[Andrei Arusoae]], \[\[Chucky Ellison]], \[\[David Lazar]], \[\[

[2020-03-20 18:22] hjorthjort opened #1175 "Unhelpful error message from kprove: NullPointerException"
Made the following mistake when writing a small example module. In the spec, I use the expression `inc inc I`. `inc I` is a `Val`, but `inc` expects an `Int`. However, the error message gives no help catching this.

Module: `crash.k`

[code]

Spec: `crash-spec.k`

[code]

[code]

[2020-03-20 18:32] hjorthjort commented on #1175
Actually, this doesn't work either and I'm stumped.

[code]

[code]

Error:

[code]

[2020-03-20 18:34] hjorthjort commented on #1175
Just realized I'm not importing the `CRASH` module :man_facepalming:
Nevertheless, the error message isn't very helpful.

[2020-03-24 18:22] #1175 closed, assigned to dwightguth

[2020-03-24 22:28] #1171 closed, assigned to dwightguth

[2020-03-25 03:13] jzw2 commented on #1126
Sorry for the late response, but it is now working for me!

[2020-03-25 03:13] #1126 closed, assigned to nobody

[2020-03-25 16:29] gleguern opened #1184 "NoSuchElementException: key not found: project:K"
Hi,

I updated to the latest version: Git revision: 51686b2 - Build date: Wed Mar 25 11:26:22 CET 2020

In the "configuration", if I have a celle where I cast $PGM to K ($PGM is used in another cell and therefore typed differently), I get the error in the title.
`<loadedMsg> {$PGM}:>K </loadedMsg>`

If I remove the cast, the error disappear.
`<loadedMsg> $PGM </loadedMsg>`

I did not had the error

[2020-03-26 00:38] LaifsV1 commented on #830
After some time, I've tested this again, and I am still stumped as to why system calls won't work reliably.
When testing, this:
[code]
gets stuck and does not return true.

However, this:
[code]
Does not get stuck. I've logged the result of the call, and it is indeed `sat\n`.

I then attempted to log the result being passed by K:
[code]
This successfully logged `sat\n` in the file, and the semanti

[2020-03-26 00:47] nishantjr commented on #830
Thanks for documenting this here. I'd recommend moving away from the Java backend.
The LLVM backend is much closer to feature parity now (for concrete execution).

[2020-03-26 01:06] LaifsV1 commented on #830
Thanks for the reply!
Is it just --backend llvm?
I get an error `Compiler: No fresh generator defined for sort Optional[KVar]`, what does this mean?

[2020-03-26 01:16] nishantjr commented on #830
Would you mind asking this question on Stackoverflow? It would add to the publicly available, easily googleable K knowledge base. Just tag your question with `kframework`.

Thanks!

[2020-03-26 11:00] dwightguth opened #1186 "!X:KVar only works on Java backend"
The freshGenerator function is part of KVAR-SYMBOLIC by mistake instead of being part of KVAR. This means that !X:KVar does not work on the llvm backend. Moving the sentences to the other module should be sufficient to fix the issue.

[2020-03-26 23:14] LaifsV1 commented on #830
To document an update on this, I tried the LLVM backend and couldn't get it to compile.

I decided to try the Java backend again with the lastest release and the system calls are working again. I have found that the system calls were succeeding but not being pattern matched correctly. Particularly the underscores `_` are not matched correctly here. I suspect it might have been a problem with scope

[2020-03-27 00:10] LaifsV1 opened #1190 "[Error] Internal: Uncaught exception thrown of type NoSuchElementException."
I was trying to compile a custom module that interacts with Z3 through system calls and encountered the error. This only happens in the llvm backend. The java backend compiles fine.

Any idea why this may happen?

Stack trace with the `--debug` option:
[code]

[2020-03-27 15:05] dwightguth commented on #1190
Can you please run `kore-parser $kompiledDir/definition.kore --no-print-definition` and let me know if it reports any errors on the command line?

[2020-03-27 16:47] LaifsV1 commented on #1190
This reports the following error:
[code]

[2020-03-27 17:15] dwightguth commented on #1190
Can I see `uname -a` and `file k/bin/kore-parser`?

[2020-03-27 17:16] dwightguth commented on #1190
alternately, you can just share your definition.kore with me if you don't have any problem sharing the entire K definition you wrote publically. that file should be self contained enough for me to diagnose this issue, but it does contain a reversible representation of all the rules and syntax in your definition.

[2020-03-27 17:22] #1186 closed, assigned to nobody

[2020-03-27 18:04] LaifsV1 commented on #1190
Sorry for the delayed response. Here's my K module:
[code]
It's called z3.k

[2020-03-27 18:52] dwightguth commented on #1190
I see a couple problems with this definition that make it ill formed. It should probably report a compiler error here, but some of these checks were not explicitly written and as a result, things just silently fail later on in the compilation pipeline. While you may be able to get this definition to work in the Java backend, it's still not correct K and writing things like this will eventually res

[2020-03-27 18:54] dwightguth commented on #1190
Incidentally, associativity declarations do nothing when applied to a production that starts and ends with a terminal. Moreover, declaring associativity is not in any way necessary for disambiguation on such productions.

[2020-03-27 20:22] #1184 closed, assigned to dwightguth

[2020-03-27 21:51] #1169 closed, assigned to dwightguth

[2020-03-28 00:22] LaifsV1 commented on #1190
Thanks for the information. This is very helpful!

After making the changes to not use overloaded functions, I am still having trouble compiling. I get the same error reported as before.

I updated my syntax module accordingly, but I might not know what to look for. If it is convenient, could you point me in the right direction on what I might need to correct in it?

[code]

[2020-03-30 07:50] h0nzZik opened #1193 "Frontend generates invalid Kore"
When I kompile the following definition

[code]

and run `kore-parser imp-kompiled/definition.kore --no-print-definition`, it outputs:
[code]
. This error originally manifested in C++ translation semantics.

[2020-03-30 17:10] dwightguth commented on #1190
I'm not sure if this is the source of the error or not, but offhand, I notice you're still setting the `STRING.token2string` hook on the  SMTVal sort, which is not allowed.

[2020-03-30 19:46] dwightguth commented on #1190
I found a definition that works:

[code]

[2020-03-30 19:46] #1190 closed, assigned to dwightguth

[2020-03-30 19:46] dwightguth commented on #1190
Esssentially, you had declared SystemSAT as strict, which is not allowed because it is a function.

[2020-03-31 17:53] ttuegel commented on #1193
The cell symbol is defined like this:

[code]

and the symbol is used like this:

[code]

I changed the formatting to emphasize the two occurrences. The second occurrence is correct: the argument of `<enum-id>` has sort `K`. The first one is not correct; the variable `Var'Unds'3:SortEnum{}` needs to be injected into `SortKItem` and put at the head of a `kseq`. Or, fix the declaration of the `<enum

[2020-03-31 19:39] h0nzZik commented on #1193
How do I do that? Do I need to pick up some value of sort Enum and put it to the configuration?

[2020-04-01 14:22] LaifsV1 commented on #1190
Aaah. Thanks!

I thought I had to define it to be strict to evaluate the argument first. Are functions call by value and can't have their evaluation strategy changed?

[2020-04-01 15:43] dwightguth commented on #1190
Strictness is a way of transforming terms over a sequence of rewrite steps in order to evaluate expressions. Functions cannot be strict because they evaluate immediately rather than as a rewrite step, so the term that you pass to the function is what the function sees. If you have some expression you want to evaluate using strictness prior to calling a function on it, you need to first evaluate th

[2020-04-03 13:01] ehildenb opened #1199 "`in_keys` for cell maps has unintuitive syntax"
Currently, the syntax generated for a configuration like this:

[code]

Looks like this:

[code]

Where I would expect it to look like this:

[code]

[2020-04-06 12:40] asymmetric commented on #1046
Seems like this has been [addressed](https://github.com/kframework/k/pull/1058#issuecomment-579163219) in recent versions with a warning, so I think this can be closed?

[2020-04-07 01:09] nishantjr opened #1201 "`[token]` and `[function]` interact badly during parsing"
When parsing `f()` with the module:

[code]

I get the following ambiguity:

[code]

[2020-04-07 14:43] hjorthjort opened #1203 "Can't unparse `#KRewrite`"
The `kast` unparser can't deal with the `#KRewrite` symbol in Kore. Any way you put a Kore rule (with a rewrite) through the unparser should give the same result, but here is a small example using the `kore-repl`

Files: `foo.k`, `foo-spec.k`, `kast.kscript`

`foo.k`:

[code]

`foo-spec.k`:

[code]

`kast.kscript`
[code]

Commands:
[code]

In the repl:
[code]

Expected result: Prints the rule `<k>

[2020-04-07 16:51] dwightguth commented on #1201
I need to see your call to either kast or krun in order to be able to tell you whether this is a bug.

[2020-04-07 17:12] nishantjr commented on #1201
[code]

[2020-04-07 17:13] nishantjr commented on #1201
[code]

[2020-04-07 17:15] dwightguth commented on #1201
This is the intended behavior of K. Your (implicit) configuration declaration declares $PGM to be of sort K, so the start symbol used by the parser is K. Since both Bar and Foo are subsorts of K, it can either try to parse a Bar or a Foo. If it tries to parse a Foo, it gets the second ambiguity. If it tries to parse a Bar, it gets the first ambiguity.

[2020-04-07 17:57] nishantjr commented on #1201
I see. Makes sense.

[2020-04-07 17:57] #1201 closed, assigned to dwightguth

[2020-04-08 08:43] traiansf commented on #1203
@dwightguth I noticed you self-assigned this task. if you're busy with other things, I can take a look at it, as it mainly concerns the haskell-backend output.

[2020-04-21 09:45] ehildenb opened #1221 "Non-exhaustive pattern-match detector not working over subsorts"
On this branch `non-exhaustive-match-warn`: https://github.com/kframework/k/compare/non-exhaustive-match-warn

A test is added:

[code]

Where the non-exhaustive match checker reports that a non-exhaustive match over `applyA(_:C)` is detected. But this case is actually exhausted by the cases for `_:D` and `_:E`.

This issue initially came from the KWasm semantics where I'm trying to make more func

[2020-04-21 13:04] ehildenb opened #1223 "Definedness conditions for non-total functions in domains.k"
Currently there are many non-total functions defined in domains.k.

We should add explicit definedness conditions for each of them (in terms of `#Ceil` axioms) for two reasons:

1.  Users won't have to add said axioms to their own semantics when doing proofs anymore.
2.  It will show implementers of the backend which cases they are expected to be able to handle.

[2020-04-21 13:49] dwightguth commented on #1221
This looks like a bad interaction between the usefulness computation we do and the injection triangle equality. It should be fixable if I can figure out the right solution. I'll have to think about it some.

[2020-05-04 19:51] #1221 closed, assigned to dwightguth

[2020-05-05 15:34] ehildenb opened #1256 "Add option to generate parsers for all configuration variables"
Currently the generated Bison parsers (LR(1) and GLR) only generate a parser for `$PGM`.

We should make it easier to generate parsers for _all_ configuration variables in `kompile` which will make it more useful.

[2020-05-06 08:04] ehildenb opened #1260 "Clarify distinction between installs at `/usr/{lib,bin}` and `/usr/lib/kframework/{lib,bin}`"
Which files are installed where here? Is it possible to just have them all in one place? Does it differ between distros?

[2020-05-06 13:07] ehildenb opened #1262 "Bad error when rule pattern has function symbols not at head"
If a user defines a macro that is not fully evaluated on the RHS (has function symbols), then the macro is used in the LHS of a rule, it will result in a rule with function symbols in the LHS.

Instead of being caught at build-time, this is caught at run-time by the LLVM backend (in some cases by halt and some cases by crash).

K Definition

[code]

Input program:

[code]

Expected output: Fail at

[2020-05-06 13:25] ehildenb opened #1263 "Macros respect priority attribute"
Currently macros only respect the `owise` attribute, but it can be convenient to have a chain of macros which each pattern match differently, and have the user specify the order to  try them with `priority`.

Maybe a good way to implement this is to pull the priority-completion (adding the `priority` attribute to rules) out of [here](https://github.com/kframework/k/blob/cdc484531cf3e0149839c531d58

[2020-05-06 13:27] ehildenb commented on #1263
A test of this can be done with the following K file (this example _can_ be done with `owise` but it would be nice to do with `priority` instead):

[code]

And the following input:

[code]

[2020-05-08 11:51] #1263 closed, assigned to dwightguth

[2020-05-08 16:43] SethPoulsen opened #1271 "Update Tutorial to Use Supported Backends"
I've just completed lots of the K tutorial.

One of the major frustrations was running into random crashes, and not having support for cool new features (e.g. the REPL that the Haskell backend has) because the tutorial uses the old Java and OCAML backends.

It would be really helpful if it was updated to use the new LLVM & Haskell backends instead.

[2020-05-08 16:46] dwightguth commented on #1271
The K tutorial no longer uses the OCAML backend (it uses the llvm backend). I agree w/r/t the Haskell backend, but I just wanted to point that out.

[2020-05-08 17:04] SethPoulsen commented on #1271
Ah, you are right. I think one of the times the java backend was crashing, I switched to OCAML just to see if I could get better error information.

[2020-05-11 10:01] ehildenb opened #1273 "Issue using macros with record-defined projections"
The following definition shows that expanding macros before completing record-project syntax causes issues with the K pipeline:

[code]

It produces the error when `kompile`ing:

[code]

It should know that the production `project:FInt:one` exists at this point, so maybe `ExpandMacros` should be done later.

[2020-05-11 10:08] ehildenb commented on #1273
One thing I was thinking about @dwightguth is that maybe the projections should be made as `macro` themselves:

[code]

should produce:

[code]

Instead of making them functions. I think this should be a safe transformation, and would reduce the overhead associated with the function construction/evaluation of `one` and `value`.

[2020-05-11 18:27] h0nzZik opened #1277 "LLVM backend skips a rule"
When running C execution semantics, the LLVM backend seems to skip the evaluation of a side-condition of one function rule ([this rule](https://github.com/kframework/c-semantics/blob/master/semantics/c/language/common/typing/effective.k#L205-L210)) and probably proceeds to evaluate the `[owise]` rule.
The problem disappears in an older version of K (51686b228).
Function arguments:
[variables.txt](

[2020-05-11 18:51] #1256 closed, assigned to dwightguth

[2020-05-11 23:22] #1273 closed, assigned to dwightguth

[2020-05-12 11:24] ehildenb opened #1278 "Document how different modules are produced for parsing"
Right now we have lots of different ways that new modules are produced for parsing. Every time there is a change to the parsing logic, it's often complicated by the fact that not everyone understands how these implicit modules are created.

For example, the `LANGUAGE-PARSING` module is a custom module that is created for parsing programs in the language. How is it constructed? What can it be used

[2020-05-12 13:51] ehildenb opened #1279 "Refactor architecture of Kompile pipeline"
The Kompile pipeline has become messy over time, which makes it hard to understand where bugs are coming from and hard to add new passes.

An initial pass at refactoring would include (supplied by @dwightguth ):

fwiw I think the ideal pipeline would essentially have three features:

-   dependencies of each pass on other passes
-   checks that should be run on the IR after this pass finishes
-

[2020-05-12 13:53] ehildenb commented on #1279
I also think it would be nice if you could override which passes are done on the command line (but still have the passes respect their dependencies and checks).

[2020-05-12 14:50] #1262 closed, assigned to dwightguth

[2020-05-12 14:53] ehildenb commented on #1279
Note that these changes should be made so that one stage at a time can be absorbed into the new pipeline (so that we have either something like):

-   New Pipeline Spec
-   Remaining ad-hoc stages

or:

-   Initial ad-hoc stages
-   New Pipeline spec

(or even replace individual stages at a time with the new pipeline spec)

[2020-05-13 06:29] vasil-sd opened #1281 "Support lexical-modes in generated flex scanner"
I've noted that after importing built-in ID module, parser beh. changed, but cannot understand reason.

Without ID, terms like 'a123' are parsed correctly as expected, but after importing ID module, K requires a white-space between 'a' and '123'.

Could someone explain this parser behaviour?

Test case:
[code]

[2020-05-13 09:07] ehildenb commented on #1281
I'm surprised this ever worked actually. Do you have a version of K where it did work, and can you post it here?

The problem (as I understand it, @dwightguth can confirm) is that you have added the token `a` to your grammar (in two places, once for `syntax A ::= "a" Int` and once for `syntax Aabs ::= a ( Int )`, so the scanner is going to always split the `a` token out as its own token, instead o

[2020-05-13 14:25] vasil-sd commented on #1281
Thanks for reply!

Version of K, I'm currently using, is v5.0.0-3bfd4f8.

reproduction steps:

test.txt
[code]

shell commands:
[code]

output (`imports ID` statement is commented):
[code]

But, after uncommenting `imports ID`:

output:
[code]

Where I can found some details of K parser?
Especially about regexp tokens, their precedence rules, etc.

I've a lot of issues during attempts to implement

[2020-05-13 15:31] dwightguth commented on #1281
I believe this may have worked when k's parser was scannerless, but with the current implementation, there is a lexical ambiguity between `("a" "123"):A` and `"a123":Id`. I would encourage you to think about the design of your language and how to make it less ambiguous.

[2020-05-13 20:49] dwightguth opened #1285 "Transient error with kdep"
The frequency with which this error occurs has gone down dramatically, but we still sometimes see the following show up in the build log and trigger a failure:

[code]

This seems to happen seemingly at random due to a particular confluence of thread timing on the machine during parallel execution of Make, and it leads to transient failures that make the build fail and thus slow down the developme

[2020-05-14 09:11] vasil-sd commented on #1281
But why? I did not use `Id` at all.
configuration was `<k> $PGM:Aabs </k>`, and in syntax of `Aabs` `Id` do not participate.

I cannot understand logic of lexer/parser. Why non-used syntax productions interfere with used ones?

BTW: unfortunately I have to parse already specified language and cannot change its syntax in more K-friendly way :(

[2020-05-14 14:58] dwightguth commented on #1281
The scanner can't know what nonterminal you are parsing; that is the domain of the parser. You have introduced both `Id` and `"a" Int` to your grammar, thus the scanner contains the terminals from both productions. This means that `a123` is scanned as an Id, even though you have not referenced Id in this particular nonterminal.

You have roughly 3 choices:

1. Use a scannerless external parser to

[2020-05-14 16:09] vasil-sd commented on #1281
Thanks a lot!

Now I begin to understand.

So, scanner works on stream of chars , transforming it to stream of lexems, according to all terminals used in syntax productions (which are visible from syntax module used for parsing) and precedence values.
And if I have two terminals, one of which is prefix of another, from different syntax productions then I've to rule this out by subsorting syntax so

[2020-05-15 10:46] ehildenb opened #1289 "Expose `--repl` option to Frontend"
The haskell backend repl is one of the main ways to debug Haskell backend proofs.

Currently though, we need to override the `--haskell-backend-command` when calling `kprove ...`, which make involve setting up paths manually and such.

The `--repl` is a common enough option now that it should be exposed directly to the frontend so that we can just do either `kprove --repl ...` or `kprove --debugge

[2020-05-15 17:39] dwightguth commented on #1281
Well, scanners like flex typically support what we call modes. Basically, in addition to the regular expressions that match characters, you also have a current "mode", and seeing certain tokens while in certain modes moves you into a different mode according to user-specified transitions. The idea being that different modes can translate the same characters into different lexical tokens. But k, wh

[2020-05-15 17:40] dwightguth commented on #1289
Use --debugger.

[2020-05-16 11:18] ehildenb opened #1293 "Document attributes"
- [x] `priority` on rules
- [x] `owise` on rules
- [x] `priorities` on syntax
- [x] `left` on syntax
- [x] `assoc` on syntax
- [x] `comm` on syntax

[2020-05-16 13:45] vasil-sd commented on #1281
Ok. I've got it.

And is there any plans to support modes in K scanner? As far as I understand, modes for tokens may be deduced automatically (semi-automatically), upon information from production terminals. It will be great feature, allowing to parse more languages without using tricks for disambiguation tokens/sorts.

It is in-house low-level language, which is parsed ad-hoc by c++ code, without

[2020-05-19 11:28] ehildenb opened #1295 "[KIP] - Record update syntax for modifying a single element of a record"
@hjorthjort  found a use-case where being able to update a single entry in a record-type would make the semantics much cleaner https://github.com/kframework/wasm-semantics/pull/333#discussion_r427166736.

We have to use a work-around for now, but it would be nice if we could do something like:

[code]

In this example, `transformData` needs to get the _updated_ record, but we don't want to have to

[2020-05-19 11:54] hjorthjort commented on #1295
Hmm, I think something even more general would be necessary because we need to do this in a function rule. But I'm not sure what is supposed to happen in the `<someCell>` above. What is the `a <- I`? If that is supposed to be a record update, them I'm all for that.

In our problematic case, we need to do this in a function rule, so to replicate the above example we would need to do a "nested rewri

[2020-05-19 12:03] ehildenb commented on #1295
Yes, the above `R(... a <- I)` is meant as record update, but using record syntax instead of maps. I'm not fixed on the syntax, was just suggesting something, and thought it might be good to be distinct from the map update syntax.

Your example won't work I don't think because the `#as C` pattern should capture the record from _before_ the rewrite, not after, AFAIK.

[2020-05-19 12:07] hjorthjort commented on #1295
Ah, now I get why the `#as` was needed in the cell. So in my example, it would look something like:

[code]

I like that.

[2020-05-19 12:21] hjorthjort opened #1296 "Warn about unused productions and unused matches at kompile time"
@dwightguth came up with a suggestion for how to detect certain classes of mistakes at `kompile` time.

An unused production in a program is likely unintended. For example, a cell may become redundant in a semantics and fall out of use, but not get removed from the configuration.

Similarly, a variable that is used only once in a rule is likely a mistake. It may have fallen out of use due to refac

[2020-05-19 15:40] #790 closed, assigned to gtrepta

[2020-05-20 17:50] #1260 closed, assigned to dwightguth

[2020-05-22 03:11] LaifsV1 opened #1299 "Substitution error in LLVM backend and discrepancies between backends"
Part of my syntax includes:
[code]
which seems to be causing an error:
[code]
On the Java backend, no error is reported. On the Haskell backend, a `no hook` error is reported (I'm guessing `SUBSTITUTION` isn't available in the Haskell backend).

When changing the syntax to:
[code]
The error goes away. However, then the `KVar` at the front becomes part of the `binder`, which is not what I intend. (

[2020-05-22 11:15] LaifsV1 opened #1300 "Feature Request for binder generalisation"
As in the question: https://stackoverflow.com/q/61946642/3002076

If the `binder` attribute could specify which non-terminals to use as bound variables and which non-terminal to bind the variables in.

e.g. something like `syntax P ::= A B C [binder(2)]` to say `B` contains bound variables in `C`. Or maybe `[binder(N,M)]` where `N` is the token number for variables and `M` the target term.

[2020-05-24 10:20] ehildenb opened #1302 "Allow specifying build output directory explicitly"
Currently, all the K commands take `--directory` argument, which specifies where the main definition file `main.k` is located and then builds `main-kompiled` directory there.

This can be somewhat annoying, because we may have multiple ways of building the same semantics, and so need multiple subdirectories where we make copies of all the definition files. The implicit name `main-kompiled` is also

[2020-05-24 14:33] nishantjr commented on #1302
Would `--definition` be a better name for this flag?

[2020-05-24 14:50] ehildenb opened #1303 "kompile fails silently when missing header file"
I noticed this when working with updating KEVM to use a global install of K.

If the `llvm-kompile` fails, it seems that it does not correctly fail the overall `kompile` command, which leads to the build phase succeeding when it shouldn't.

To reproduce this, it's easiest to use the KEVM build system (because it's already setup to use the `blockchain-k-plugin`, where extra files are compiled into

[2020-05-24 14:56] ehildenb commented on #1302
I think something more along the lines of `--kompiled-directory` may make more sense. I think actually there is a variable in the Java code called `kompiledDirectory` that is calculated using `--directory` and the logic of looking for the `*-kompiled` directory, so maybe we can just add a flag `--kompiled-directory` which directly sets that variable and skips the logic of looking for `*-kompiled`.

[2020-05-27 11:31] hjorthjort commented on #1296
User story for this:

Had a bug creep in during refactoring. Iterating over a list applying changes, I forgot to carry the `DS` variable over to the right-hand-side. Cost about 10 mins to find this fix:

[code]

[2020-05-28 18:21] #1303 closed, assigned to dwightguth

[2020-05-29 14:16] gleguern opened #1312 "Input of non primitive types does not work anymore"
Hi,

I have some troubles to handle inputs. I need to "load" adhoc data type values from a file. I am unsuccessful when trying to input adhoc data types and unable to use start up variables.

I use the following version of K (worked similarly with a previous version)
     RV-K version 1.0-SNAPSHOT
     Git revision: 396a314
     Git branch: UNKNOWN
     Build date: Wed May 27 18:38:26 CEST 2020

I

[2020-05-30 23:59] ehildenb opened #1314 "`setenv` specifying opam root causes lots of noisy output"
In the `setenv` script here: https://github.com/kframework/k/blob/f537759890446bd6e9e0a2aea5bd83612e22600d/k-distribution/src/main/scripts/lib/setenv#L25

If we are using a global install of K, this will set the opam root to something like `/usr/lib/kframework/opamroot`, which is not a directory writeable by the user account in most cases.

This causes quite a bit of noise from `opam` when using `

[2020-05-31 00:00] ehildenb commented on #1314
Note that the linked PR is on the Michelson Semantics, which is using opam 2.0, even though the K docker image is created with opam 1.2 installed. So if that is the problem, maybe a fix is here: https://github.com/kframework/k/pull/1313

[2020-05-31 19:51] vasil-sd opened #1315 "Endless compilation"
I've just found a strange behavior of K frontend (git tag  v5.0.0-3bfd4f8).

When attempting to kompile next code, compilation lasts forever.

----------
[code]

[2020-06-01 16:31] dwightguth commented on #1315
I'm not sure why compilation isn't terminating, but it looks like you have a bug in your configuration declaration. You probably mean to say something like: `configuration <k> eval($PGM:ExpList) </k>`

[2020-06-01 16:44] vasil-sd commented on #1315
Yes, this is obviously wrong code, because of my fault with markdown. :)
I'll fix the `<k> ... </k>` in my comment.

I've occasionally found this frontend bug, when explained to my son some ideas of computation.

[2020-06-01 19:26] dwightguth commented on #1315
The bug arises from the fact that you have both of the following productions:

[code]

The syntax of user-defined lists in K is that a single element can be used wherever a list is expected. However, you have declared that a list can appear wherever a single element is expected, which leads to infinite recursion when parsing. Normally, K would reject a definition with such a circularity in its gra

[2020-06-01 19:41] vasil-sd commented on #1315
Yes. I've noted this circularity, but expected an error from kompile. And was slightly surprised by infinite loop in the front-end :)

[2020-06-01 19:43] dwightguth commented on #1314
Most likely the solution is to make sure that `/usr/bin` is at the front of the path when invoking `setenv`. This would mean that if the user installs the kframework debian package, they will get the debian-installed version, 1.2, when running this command, which is what we want.

[2020-06-01 19:44] vasil-sd commented on #1315
I've thought that List{Sort, "..."} is just a syntactic sugar that is desugared before any processing of K-definitions.

[2020-06-01 19:48] dwightguth commented on #1314
I'm actually confused by this error. It looks like we're already doing what I just described... When setenv is invokec, K_LIB_DIR gets set to `/usr/lib/kframework`, and then PATH gets set to `/usr/lib/kframework/../../bin:$PATH` which means that /usr/bin is now at the front of the PATH. So unless the user is installing opam 2.0 into /usr/bin (which they should not be doing; if they need their own

[2020-06-01 19:53] dwightguth commented on #1315
@vasil-sd that's not quite true; while it is true that it is desugared prior to compilation and execution, it still has certain special meaning to the parser.

[2020-06-01 20:16] vasil-sd commented on #1315
Is there any details about parsing pipeline of K-tools?

I've already several times got issues with lexing/parsing...

And last time I've found serious bug with lists, when empty production was inserted in kast from different list. Something like that:
[code]
And parser for some program statement like `Proc1(Arg1, Arg2)` (Arg1, Arg2 forms L1) gives next result (I've looked in kast) `Proc1(Arg1, Ar

[2020-06-01 20:24] ehildenb commented on #1314
Well the Michelson semantics needs opam 2.0 installed, so it does install opam 2.0 into the K docker image.

One potential solution of this is to just install opam 2.0 into the K docker image, a la https://github.com/kframework/k/pull/1313 (which it looks like you closed).

I'm not sure why the user should be forced to prefer our version of opam over theirs actually, that doesn't really make sense

[2020-06-02 02:42] dwightguth commented on #1315
I can't speak to why that might happen without a complete example. You might find that `kompile -E` followed by manually removing all the rules from the resulting file except the one you think is parsing wrong, as well as all the syntax declarations and modules not used in the parse of that rule, would probably get the definition down to a reasonable size.

[2020-06-02 02:43] dwightguth commented on #1314
I mean, if you need opam 2.0, just install it to /usr/local. It shouldn't conflict with the installation of opam 1.2 being used by the ocaml backend.

[2020-06-02 13:31] hjorthjort opened #1318 "Error for unbound variable doesn't specify source location"
The following `kompile` error should report the offending line if possible.

[code]

Command:
[code]

[2020-06-02 13:42] ttuegel commented on #1135
Fixed in kframework/kore#1805.

[2020-06-02 13:42] #1135 closed, assigned to nobody

[2020-06-02 13:51] nishantjr opened #1319 "Empty token sorts aren't treated as empty"
[code]
results in

[code]

[2020-06-02 16:19] sskeirik commented on #1314
We are using the version of opam provided by an upstream maintained PPA from the ocaml devs, so we can't change where we want to install it unless we decide to do a custom install instead of relying on the PPA. Thoughts?

[2020-06-02 18:02] dwightguth commented on #1319
I believe what is happening here is that F is parsing as a variable of sort Bar and then becomes a token of sort Foo due to the production with the token attribute. It's possible one could argue that the [token] attribute should not convert terms containing variables, but it's not exactly clear how one would implement that. What exactly are you trying to do? It may be simpler to work around this p

[2020-06-02 18:55] dwightguth commented on #1314
it sounds like there is a problem associated with the debian package of K and opam 2. I will try and get the focal fossa debian package building on CI, since that is something we need to do anyway. If I run into this same problem, I will try and come up with a solution. If I don't, it's probably not worth fixing. If I do fix it for focal fossa, it ought to become fixed for your PPA as well.

[2020-06-02 19:57] dwightguth commented on #1314
I am unable to reproduce this with opam 2.0 as installed from Ubuntu Focal Fossa. I would suggest you migrate your build of michelson to use Focal instead of an opam ppa if you need opam 2.0. I am going to close this because it is almost certainly some kind of local problem involving your project's PPA and as such is not an issue with K per se.

[2020-06-02 19:57] #1314 closed, assigned to dwightguth

[2020-06-02 19:59] dwightguth commented on #1318
I need a reproducing example. This error normally does provide a location, so if one is not present here, I need more information to track down why.

[2020-06-02 20:25] hjorthjort commented on #1318
The cause was an uninitialized field in a record:

File `bad-record-init.k`:

[code]

Then `kompile bad-record-init.k`

[2020-06-03 13:13] ehildenb commented on #1314
@dwightguth the build of Michelson is relying on the K dockerhub image, so this would require using Focal Fossa for the K dockerhub image. Is that what you want to do?

[2020-06-03 15:28] dwightguth commented on #1314
I'm fine with that as a solution.

[2020-06-03 18:51] #1315 closed, assigned to dwightguth

[2020-06-04 09:07] vasil-sd opened #1322 "Difference in treating owise rules by llvm and haskell backends"
Here is reproduction (version of K is tag: v5.0.0-3bfd4f8):

[code]

and two cases:

[code]

and

[code]

haskell backend gives all variants with --search-final:

[code]

but in real k-spec (where I've found this issue), I was not be able to run --search-final with haskell backend because of fault during running spec (I suppose that 16G ram was not enough to make state-space search).

I understand

[2020-06-04 13:09] #1203 closed, assigned to dwightguth

[2020-06-04 16:19] dwightguth commented on #1322
This is the deliberate behavior of K; rules with the same priority apply nondeterministically. It's not appropriate to create an error in this case because such an error would reject many correct K definitions. Not all programming languages are fully deterministic in how they are defined, which means that it's necessary to allow nondeterminism in the transition system.

That being said, unintentio

[2020-06-05 10:54] vasil-sd commented on #1322
I understand that non-determinism is normal beh. of system, described by K-specification.

My question is about non-determinism among owise rules. In my opinion, the situation like in aforementioned case, where several owise rules are enabled  simultaneously during execution, is highly likely not wanted and not expected by developer.

As I understand, owise pattern is shortcut to something like th

[2020-06-05 16:37] dwightguth commented on #1322
The owise attribute simply means that the rule has lower priority than all rules that don't have the owise attribute. (It's a bit more complicated than that when you consider the priority attribute, but I'm simplifying)

Thus, if two rules have the owise attribute, it simply means that both rules have priority lower than all the other rules. They still have the same priority with respect to one an

[2020-06-05 20:26] vasil-sd commented on #1322
Aha.
As I've understood, if pattern with higher priority was matched then all patterns with lower priority are just skipped.

And if there are several patterns with the same priority, then there is state bifurcation (point of non-deterministic choice between patterns)?

Is it correct?

[2020-06-05 22:38] dwightguth commented on #1322
In general, yes, although note this is not true of functions. When a production is tagged with the function attribute, it becomes a function, and of course functions can only have one value for any given input. This is not checked by K currently, but if you write such a function, the prover may be able to prove `#False`, ie, your semantics is logically not consistent, which in general means that p

[2020-06-07 10:06] vasil-sd commented on #1322
Thanks for clarification!

Is there some wiki pages/docs, etc where newbies like me can read about priorities in rules, functions and their limitations/nuances and so on?

BTW: I've noted some issues in `requires` conditions in rules:

[code]

program in t.txt: `e(2)`

haskel backend gives next result:
[code]

but llvm backend cannot even kompile defintion:
[code]

As I see, llvm backend expects o

[2020-06-09 15:00] dwightguth commented on #1322
You need your term in requires to be sort Bool, yes

[2020-06-09 17:17] dwightguth commented on #1302
I'm not opposed to this in theory, but I would prefer to avoid having two different confusingly similar ways of specifying the output/compiled directory, and I'm not sure how to make this change in a backwards compatible fashion. So I'm a little unsure what action I can reasonably take here. That being said, as I understand this issue got created as a result of trying to fix the dependency issues

[2020-06-09 21:54] nishantjr commented on #1319
I see. Makes sense.

I had the following definition:

[code]
that I was porting to the LLVM backend. I fixed it by moving the UpperName/LowerName to the SYNTAX module

[2020-06-09 22:05] #1319 closed, assigned to nishantjr, dwightguth

[2020-06-09 23:32] ehildenb commented on #1302
Well, actually the build dependency issue was fixed when I switched to the native markdown sources build by duplicating logic in the Makefile about which was the `*_main_file` (eg here: https://github.com/kframework/evm-semantics/blob/master/Makefile#L216 both Haskell and LLVM builds use `driver` as their main file, but we can't use the same variable name). So now instead of having `MAIN_DEFN_FILE

[2020-06-11 16:22] ehildenb opened #1330 "Add `--md-selector` option to `kprove`"
KProve currently calls the kompile pipeline, which can take either markdown or k file sources. So we should also add the `--md-selector` option to `kprove` to make sure that people can use tangling on proofs they want to perform as well.

[2020-06-11 16:22] ehildenb commented on #1330
From Slack, @radumereuta noticed: @dwightguth I have a small problem with --directory  in kprove . @ehildenb found a bug where it wouldn't accept .md files correctly and now I'm trying to add --md-selector  to kprove also. The problem is that DefinitionLoadingOptions.directory is duplicated by OuterParsingOptions.directory. I guess the easy fix would be to remove DefinitionLoadingOptions, but a be

[2020-06-11 17:55] denis-bogdanas opened #1333 "Low overhead for `kprove` (call `kompile` ahead of time)"
File `demo.k`
[code]

File `extended-bad-module-spec.k`
[code]
File `Makefile`
[code]

[2020-06-16 20:40] hjorthjort opened #1347 "Main cell issues"
I've tried to get rid of the main `<k>` cell in the KWasm semantics (see this PR https://github.com/kframework/wasm-semantics/pull/362) so that embedders composing the KWasm semantics can decide where to put the initial program and how to deal with it.

Here are minified examples of what kind of issues I have run into:

# Having no main cell at all

If there is no cell called `<k>` and no cell mar

[2020-06-16 21:20] hjorthjort commented on #1347
It seems the prover errors are not only related to the `maincell` issue, but also to where the `$PGM` variable is located. This example is of the prover showing the same issues as the last two points above, but with a cell named `<k>`. The error is the same if I add `maincell=""` to the `<k>` cell.

[empty-k-cell.zip](https://github.com/kframework/k/files/4789151/empty-k-cell.zip)

[2020-06-18 15:21] #1318 closed, assigned to dwightguth, hjorthjort

[2020-06-18 19:50] #1296 closed, assigned to dwightguth

[2020-06-19 16:36] virgil-serbanuta opened #1355 "Antileft for priority rules is not a predicate in the generated kore file"
For these rules:
[code]

The generated axiom for `middle` looks something like this:
[code]
the `priorityLE1` alias looks like this:
[code]
This looks fine so far, but `rule3LHS` looks like this
[code]
Note that the `Lbl'-LT-'generatedTop'-GT-'{}(...)` part can't occur
in a predicate without having an `equals`, `ceil` or something similar above it.

[2020-06-19 17:08] virgil-serbanuta commented on #1355
Steps to reproduce:
1. Copy the module above in a file called `priority.k`
2. `kompile priority.k`
3. Check the generated `definition.kore` file and search for `first` to find the axiom mentioned above.

[2020-06-19 18:54] dwightguth commented on #1355
I'm not following this, but it looks like there is something you don't like about how this module is encoded into kore, and it has something to do with the encoding of the priority attribute. I didn't write that code and it's not my responsibility to maintain it; code ownership for that part of the ModuleToKORE file belongs to the haskell backend team, because the llvm backend completely ignores t

[2020-06-19 19:09] nishantjr opened #1358 "Access to source location information in semantics"
Source location is a nice to have information for printing error messages, and possibly for defining a semantics for whitespace sensitive languages. My immediate use case is so that I can generate output closer to Boogies, and can check my semantics against their test suite.

We'd like to be able to access the source information in rules. This means that
the source information would need to be rep

[2020-06-19 21:11] virgil-serbanuta commented on #1355
Oh, I asked around and I was told that you wrote the code which generates these axioms. Sorry about that, I probably misunderstood.

For reference, I think that the Haskell backend team expects that antileft thing to be a predicate in the ML sense of the term, and it actually seems to be `and(functional term, predicate)`.

[2020-06-19 22:28] dwightguth commented on #1355
I wrote large parts of ModuleToKORE, but I don't claim to be an expert in matching logic. Even if I'm wrong and I did write it and I forgot, I guarantee I was merely writing it to someone else's specification. Whatever problem you are describing, I don't understand it, whereas the haskell backend team likely would, so I don't think I'm the right person to try to fix it.

[2020-06-20 18:37] daejunpark opened #1361 "Incorrect INT.ediv hook in the java backend"
The `INT.ediv` hook implementation in the java backend is wrong when both numerator and denominator are negative.
https://github.com/kframework/k/blob/66b5b04e1fea729bc47bb87bf29437ed0f5d7ab3/java-backend/src/main/java/org/kframework/backend/java/builtins/BuiltinIntOperations.java#L36-L44

A counter example: `-1 divInt -1` reduces to `-1` in the java backend, which is wrong.

[2020-06-21 18:47] denis-bogdanas opened #1364 "[smt-lemma] without [smtlib] must be disallowed"
To use `[smt-lemma]` on a rule, all functions used by the rule need some sort of smt translation, like `[smt-lemma]`. Thus cases like this must be rejected:
[code]

Currently compilation passes and in kprove `[smt-lemma]` is effectively ignored. This leads to hard to detect and time consuming bugs.

Full test: https://github.com/kframework/k/pull/1363
Version with `[smtlib]` that passes in Haskell

[2020-06-22 13:49] dwightguth commented on #1364
@ttuegel was there a reason you guys followed the Java backend behavior of dropping terms from the SMT that don't have smtlib attributes? is it possible this could be changed so that an smtlib symbol name is automatically generated from the kore symbol name? or would that break something in the backend? I'm hesitant to add a restriction here without first exploring whether or not there is a more u

[2020-06-22 22:11] daejunpark commented on #1364
I think one of the main reasons of the java backend having the existing behavior is the lack of comprehensive encoding of multi-sorted functions. But if the haskell backend does not suffer from the same limitation, I think it is a good idea to have an implicit smtlib attribute for all function symbols (in the haskell backend). But then, we may have the compatibility issue later.

[2020-06-23 11:42] denis-bogdanas commented on #1364
I guess you mean for all functions required by `[smt-lemma]`. Otherwise terms translated to z3 might get too big.

[2020-06-23 13:58] ttuegel commented on #1364
I think it would not be much trouble to try declaring all function symbols for the solver. We already declare all constructors. This would increase the size of terms sent to the solver, but the total time spent in the solver is pretty small so we have some room to work with.

[2020-06-23 23:52] sskeirik opened #1369 "Bison parser generation error"
The input file linked below crashes the Bison parser generator.

To see the error, download the file linked below and do:

`kompile --backend llvm --gen-bison-parser bison-error.k`

or:

`kompile --backend llvm --gen-glr-bison-parser bison-error.k`

Test file:

https://gist.githubusercontent.com/sskeirik/dd324e228f69b063ee5e8cf7f7ce857a/raw/b115cb72120708dc42f68e9b8c677252fc7f583f/bison-error.k

[2020-06-24 18:21] #1347 closed, assigned to dwightguth

[2020-06-24 20:55] nishantjr opened #1370 "Sort error messages by source location"
When fixing errors/warnings, they are displayed unsorted. If there are multiple errors and we start with one in the middle, the line numbers become wrong for the other messages, forcing us to recompile to get the correct line numbers.

[2020-06-24 21:10] dwightguth commented on #1370
Technically they /are/ sorted, but they are sorted lexicographically rather than based on the source location. Sorting them based first on location and then on error text is something I have wanted to do, I just haven't gotten around to it. But it shouldn't take too long, I don't think.

[2020-06-25 15:33] nishantjr opened #1371 "LLVM backend cannot be used if K bin directory not in PATH"
kompile, krun etc should add the appropriate directories to PATH.

[code]

[2020-06-25 15:35] nishantjr commented on #1371
Sorry, had only compiled the haskell backend.

[2020-06-25 15:35] #1371 closed, assigned to dwightguth

[2020-06-25 15:40] nishantjr opened #1372 "Tokens used in the program may not be used as configuration cell name or attributes."
[code]

While in the above case we may simply rename `<foo>` to `<FOO>` and work around this issue, the following case is less easy to resolve:

[code]

[2020-06-25 18:45] dwightguth commented on #1372
This was apparently a regression. We had an earlier bug fix but refactoring of the inner parser generator caused that bug fix to break, and we apparently did not have any tests. It should be fixed in the PR I have upcoming.

[2020-06-25 21:34] hjorthjort opened #1377 "Do not warn fur unused symbols by default"
As per this discussion: https://github.com/kframework/wasm-semantics/pull/366#discussion_r445815170

Top-level cells in K might be considered "externally visible", and are expected to be used for configuration composition. As such, they should not have to be labeld `unused` explicitly.

[2020-06-26 03:01] nishantjr opened #1379 "Multiple `prec` attributes by 100"
`#UpperId` and `#LowerId` have `prec(2)` while `KLabel` and `#KVariable` have `prec(1)`. That does not leave much room for other priorities. Even if `KLabel`, `#KVariable` aren't a problem, since we can't have negative precedences, only `prec(0)` and `prec(1)` are available to users. Perhaps we should multiply these by 100?

To make it backward compatible we could introduce a new `precedence` attr

[2020-06-26 03:35] dwightguth commented on #1379
The prec attribute is more of a special purpose hack to get around certain restrictions in the current scanner than a general purpose mechanism. While what you describe sounds nice in theory, I suspect actually trying to put it into practice would break the very delicate balance that exists between scanner and parser in K currently. I'm willing to be persuaded that I'm wrong and something like thi

[2020-06-26 09:29] #1137 closed, assigned to nobody

[2020-06-26 12:49] virgil-serbanuta opened #1382 "Context does not allow the introduction of a new sort"
This
[code]
fails with
[code]

[2020-06-26 14:59] hjorthjort opened #1384 "List productions generate "Symbol _ defined but not used" warnings even when they are used"
Definition `unused-lists.k`

[code]

Result:
[code]

[2020-06-26 15:28] dwightguth commented on #1384
Huh? The symbols it is reporting as unused are in fact unused. Are you sure you wrote this issue correctly?

[2020-06-26 15:30] hjorthjort commented on #1384
Ah, sorry, I didn't read the output carefully. No, this is not the example I was trying to make.

[2020-06-26 15:31] ehildenb commented on #1379
I'm not sure why we need to multiply by 100, would just shifting by 20 work? So 21 and 22? That way they are still close to each other? Or if @nishantjr provides an example of where you would want precedence between the two, we could do `20` and `40` or something.

But if those are the only two places where precedence are used, my gut says it shouldn't break anything to monotonically shift all the

[2020-06-26 15:49] hjorthjort commented on #1384
Take 2:

Definition `unused-lists.k`:

[code]

Result:

[code]
[code]

[2020-06-26 17:51] denis-bogdanas commented on #1377
Not just top-level cells but any cells that has used sub-cells. In KEVM we get:
[code]

[2020-06-26 17:57] ehildenb commented on #1377
We had the discussion about sub-cells which aren't used. I agree with @denis-bogdanas that it's useful abstraction to group cells into sub-cells without ever referring directly to that sub-cell in the definition, so I think we should not report the `<network>` cell in KEVM (or the `<curFrame>` cell in KWasm) as unused. Instead the warning should be about a cell like `<foo> 0:Int </foo>` or `<foo>

[2020-06-26 19:13] dwightguth commented on #1384
Ahhhhhhh, I see what is happening here. Technically, these reports are correct. .Stmts, .Defns, and .Instrs are not used because in fact, each, when used, actually parses to .EmptyStmts through the process of overload resolution. Similarly, `___UNUSED-LISTS_EmptyStmts_EmptyStmt_EmptyStmts` is not used, but then, there are actually no terms of sort EmptyStmt, so it's impossible to actually use it;

[2020-06-26 19:16] ehildenb commented on #1384
Yeah, that seems like a good thing to do. I would actually go even further as to say that _anytime_ a single user-level declaration generates multiple productions, if _any_ of the generated productions are used then the user-level production should be considered used.

So instead of deciding which productions are used/not by the klabels itself, do it by storing the source in the original file.

[2020-06-26 20:21] #1370 closed, assigned to dwightguth

[2020-06-26 20:54] dwightguth commented on #1377
I can kinda see both sides on this. On the one hand, documenting configurations is extremely valuable and a way to conceptually group parts of the configuration visually to coders is useful in helping them understand the structure and meaning of a semantics. On the other hand, the symbols in question really /are/ unused; they're providing organizational structure to the code, but they could equall

[2020-06-26 20:56] dwightguth commented on #1377
One idea I had was just to add some simple, short attribute that means the same thing as unused when it appears on a cell, but conveys a different feeling. Something like, `<network section="">`. What are people's thoughts on this as a solution?

[2020-06-26 21:05] ehildenb commented on #1377
Well, when you mentioned that the example `<network unused="">` means the user will have to consider the performance slowdown, that makes me wonder if we can use this to optimize away those cells from the representation.

But actually, I don't think it's really possible, and an example is exactly the `<network>` cell in KEVM. It _is_ unused for the normal LLVM build, but it _is_ used for the web3

[2020-06-26 21:10] ehildenb commented on #1377
Another example is `krypto.md`, or anything in `domains.k`. What if you import a module and never use one of the hooked symbols defined in it which has no rules associated with it?

[2020-06-26 21:15] ehildenb commented on #1377
See https://github.com/kframework/evm-semantics/pull/843#discussion_r446411104 and https://github.com/kframework/evm-semantics/pull/843#discussion_r446411434 for examples of the awkwardness of this attribute.

In one case, it legitimately caught something unused, so that's :+1:. In the other case, it's a hooked function that does not get used until the semantics is extended in the Web3 build.

So,

[2020-06-26 21:37] dwightguth commented on #1377
Your point that in some cases the "global" view of whether something is unused or not is not actually global enough is a good one. It seems that the attribute significantly breaks down in such cases. Another case I've found where that happens is while you are in the process of implementing the semantics. Personally, I wonder whether if we adopted another idea I'm in favor of, which is to make each

[2020-06-26 21:51] #1372 closed, assigned to dwightguth

[2020-06-26 22:09] hjorthjort commented on #1377
I agree that if the unused cells slow down the semantics, they should be removed, at least when compiling with an `-O2` flag or similar. I also agree that a flag for turning warnings on makes more sense than having it on by default, at least for configurations. (For rules I think it should be turned on by default: using underscores to denote unused variables is a good idiom and I'm happy to see it

[2020-06-26 22:37] ehildenb commented on #1377
Well I don't think we're thinking of changing the used-detection for variables, just for symbols.

I think the simplest fix is to just have this disabled by default, and enabled with a flag. That way you can occasionaly sanitize your definition and remove cruft.

[2020-06-26 22:41] hjorthjort commented on #1377
That makes the second a third point moot then. As for the first point, if it's possible to remove these cells at compile time for a speed-up, I think we should.

[2020-06-29 13:57] denis-bogdanas commented on #1377
I tend to agree with Everett. Unused symbol detection is most useful for variables.

[2020-06-30 00:22] #1384 closed, assigned to dwightguth

[2020-06-30 13:24] hjorthjort opened #1388 "Error "Found multiple modules" when kompiling with --coverage"
The following set of modules are empty, and `kompile` fine usually.
When kompiling with the `--coverage` flag, the process fails, reporting that there are several modules named `WASM-TEXT`.

To reproduce:

Extract archive, `cd` into `coverage-error` and execute:

[code]
Output:
[code]

Without the `--coverage` file, the process succeeds.
[coverage-error.tar.gz](https://github.com/kframework/k/file

[2020-06-30 14:20] hjorthjort commented on #1388
Changing to `--main-module WASM --syntax-module WASM` leads to the same issue, _but_ just passing `--main-module WASM` and removing the `--syntax-module` removes this issues (and reveals another issue, which I'm in the process of reporting).

[2020-06-30 14:40] hjorthjort opened #1389 "Error "key not found" for symbols from BYTES_IN_K when kompiling with --coverage"
It seems the `--coverage` flag causes an issue with symbols imported from `BYTES`. Maybe because `BYTES-IN-K` is only imported with `BYTES-SYMBOLIC`, but `BYTES-SYMBOLIC` is annotated `[kast]`, so it's included during parsing, but not during building coverage?

# How to reproduce

Module in `wasm.k`:

[code]

Kompile:

[code]

Output:

[code]

This issue is blocking the Polkadot semantics:
* https

[2020-06-30 14:52] hjorthjort commented on #1389
Here's the hierarchy of `BYTES` modules and their annotations. `A ---> B` means A imports B

![Bytes modules hierarchy](https://user-images.githubusercontent.com/8545447/86270441-873e8c80-bbcb-11ea-85d6-301e51b9d0ae.png)

[2020-06-30 21:31] LaifsV1 opened #1390 "Request: Documentation for #Layout"
I looked through `pending-document.md` and couldn't find an entry for `#Layout`.

[2020-06-30 21:53] ehildenb commented on #1390
I've linked the PR that fixes this, it won't be merged for roughly a week @LaifsV1 , but you can look at the documentation it contains for #Layout.

#1378

[2020-07-01 16:38] hjorthjort commented on #1389
Could this be related to #1254, where the import structure of the `BYTES` modules changes, so that `BYTES-KORE` starts importing `BYTES-HOOKED` in a way that bypasses the `[concrete]` check?

[2020-07-01 16:41] ehildenb commented on #1389
FYI you can do `pyk graph-imports path/to/definition-kompiled` to get a graphviz PDF of the import structure...

[2020-07-01 16:50] ehildenb opened #1391 "Cell names are case sensitive"
Currently you cannot have two cells with the same name but different capitalization, because of the way the sorts which are produced get named. Example (with `kompile --backend haskell test.k`):

[code]

Produced output (on latest release at time of writing v5.0.0-71d191f):

[code]

Expected behavior: give different sort names for the two cells so that we can have our pie and eat our Pie too.

[2020-07-01 16:53] hjorthjort commented on #1389
How do I make that call? Is there a CLI for  `pyk`?

[2020-07-01 17:37] ehildenb commented on #1389
Yeah, it's called `kpyk`. You'll need `PYTHONPATH` set. Something like `find kpyk` to find the executable, and `find pyk` to find what to set `PYTHONPATH` to.

You can do `kpyk --help`.

[2020-07-02 16:58] dwightguth commented on #1388
Please inline the k file into the issue rather than putting it in a .tar.gz or .zip file. Adding archive attachments to the issue significantly increases the burden on the person fixing the issue.

[2020-07-02 17:30] hjorthjort commented on #1388
@dwightguth Thanks for letting me know, I assumed the opposite, that a tar-ball was easier than copy-paste. I'll inline the files in the future.

[2020-07-06 14:45] nishantjr opened #1397 "`krun --debugger` should drop us into the `kore-repl` when using the haskell backend"

[2020-07-06 15:32] dwightguth commented on #1397
I agree, but this is not actionable currently because the repl only currently works on proofs.

[2020-07-06 19:20] ehildenb commented on #1397
Duplicate of #1289 ?

[2020-07-07 15:23] nishantjr commented on #1397
Looks like. Didn't see that.

[2020-07-07 15:50] #1389 closed, assigned to dwightguth

[2020-07-08 02:58] sskeirik opened #1399 "LLVM backend crashes when compiling rules with existential variables"
Given input file `error.k`

[code]

and using command:

`kompile --backend llvm error.k`

produces the following kind of error output:

[code]

Obviously, the LLVM backend doesn't support this kind of rule, but it would be helpful to inform the user about this case --- I ran into this problem when using the Markdown code tag feature so that the concrete and symbolic semantics of a language could l

[2020-07-08 14:41] #1397 closed, assigned to ttuegel

[2020-07-08 14:45] dwightguth commented on #1330
This is fixed now,  right?

[2020-07-08 15:03] radumereuta commented on #1330
No, I haven't had the time to work on it. I will probably start tomorrow since I'm done with classes.

[2020-07-08 15:56] dwightguth commented on #1388
I will just proceed using the tarball for now, but the reason why I requested the file inlined was because I assumed that it should be a single file. Unless the error can only be reproduced with multiple files, you should take the time to minimize the example down into a single file before reporting. Even if it does require multiple files, you should use the minimum number required to actually rep

[2020-07-08 16:01] virgil-serbanuta opened #1400 "Kast error"
The simple way of reproducing the bug is:

[code]

[kast-bug.tar.gz](https://github.com/kframework/k/files/4891721/kast-bug.tar.gz)

The complicated way:

1. Compile rv-match
2. Create a file called a.c with the following content:
[code]
3. Attempt to compile a.c with kcc:
[code]
4. Identify the last `k-bin-to-text` command in the output generated by the command above, and run kast on its input fi

[2020-07-08 18:28] hjorthjort commented on #1388
Alright, gotcha. The files are inlined above in the issue if that helps. I don't recall if the issue required several files to reproduce or not.

[2020-07-09 12:27] hjorthjort commented on #1377
This seems to have been partly addressed in #847, but the conversation there indicates it didn't completely solve the problem. @denis-bogdanas Did you open another PR? I don't see it.

[2020-07-09 12:44] denis-bogdanas commented on #1377
@hjorthjort No I didn't. PR #847 seems unrelated. It's haskell backend update.

[2020-07-09 12:49] hjorthjort commented on #1377
@denis-bogdanas My bad, I was a bit quick -- 847 was in evm-semantics, and the discussion was related specifically to KEVM.

[2020-07-09 16:43] denis-bogdanas commented on #1377
In https://github.com/kframework/evm-semantics/pull/847 I only eliminated the warnings for variables. Warnings for cells were not touched. We are waiting a fix for this issue that will clean them.

[2020-07-09 16:43] ehildenb commented on #1289
Also add option `--repl-script` to the frontend too (for passing through to backend).

[2020-07-09 16:54] ehildenb commented on #1358
This needs some design work, it's not clear what the best way to do this is. The proposed solution doesn't look quite right, maybe something using attributes would be better. @nishantjr can you come up with a simple self-contained "wishlist" example?

[2020-07-09 16:55] ehildenb commented on #1355
@virgil-serbanuta is this still relevant? If not, please close.

[2020-07-09 16:59] ehildenb commented on #1333
@denis-bogdanas we need more information on how to reproduce. Is this a `kompile` time error? And what is the error message? What do you expect to happen.

I see you opened the PR with the test, but please just post that info here.

[2020-07-09 17:08] ehildenb opened #1404 "Update styling on K GitHub pages"
The current page https://kframework.github.io/k looks pretty bad. Let's update it with some styling, and then point https://kframework.org at it.

-   Update `index.md` to have some text from runtimeverification.com.
-   Add some custom themes to K flavor these pages.
-   Check for inconsistencies in styling on all links.
-   Check for dead links.
-   Point kframework.org DNS at this page (need a

[2020-07-09 17:19] ehildenb opened #1405 "Framework for enabling/disabling specific warnings"
We need to design/implement a system for enabling different warn levels.

Examples are OCaml and GCC.

-   GCC has a bunch of `--WWARNING-GROUP-NAME`, or `-Wno-warning-group-name`.
-   OCaml has each warning be asssigned a number (warn-level), and sets the list of numbers which are default warn levels.
-   GHC has syntax similar to GCC but meaning is more like OCaml.

### Implementation:

Warnings

[2020-07-09 17:28] ehildenb commented on #1289
Have a look at `./kevm` runner script for how we are using this.

[2020-07-09 17:29] ehildenb opened #1406 "Meeting Notes"
Thursday July 09, 2020 - Inaugural
-----------------------------------------------

-    Triaged issues.
-    Discussion about fine-grained warning output control.

### Action Items

-   Issue Template @ehildenb
-   Remove wiki page. @dwightguth

[2020-07-09 18:26] radumereuta commented on #1358
I had to come up with something like this before. I wanted a way to store the location information from the parser, and the simplest and non-invasive way was to create a new parametric production which stored the location information and you could insert it everywhere:
[code]
When pretty-printing kore terms in kast, I would add one of these on top of every term: https://github.com/radumereuta/k-li

[2020-07-09 18:26] ehildenb commented on #1377
This one is being scheduled, will likely be taken care of next week @denis-bogdanas .

[2020-07-09 18:55] dwightguth commented on #1369
Bug is fixed in master branch of Bison. I still have to get the proper disclaimers to the Bison team so they can use my test case in their code base. I sent mine, waiting on Patrick to sign and send me his so I can send it to them. But I believe it ought to be possible to download bison from source control, build and install it, and the issue will be fixed now. I could be wrong, though, it may not

[2020-07-09 19:19] denis-bogdanas commented on #1333
We have a spec that imports `VERIFICATION-EXTENDED`, which imports `VERIFICATION-DEMO`. And kprove argument is `--def-module VERIFICATION-DEMO` instead of `--def-module VERIFICATION-EXTENDED`. The 2 verification modules have different configuration.

I expect an error telling that `--def-module` argument is incorrect, because the definition top cell is different from the spec rule top cell.

Curre

[2020-07-09 20:25] dwightguth commented on #1333
the entire way definitions are constructed in the kprove frontend is nasty, and it's the reason for this type of problem. We need to have a serious discussion about how to change the way the kprove and kompile interact, which will probably introduce breaking changes to how specs are written, but I don't see a better option.

[2020-07-09 21:51] #1390 closed, assigned to dwightguth

[2020-07-09 22:50] #1388 closed, assigned to dwightguth

[2020-07-09 23:28] ehildenb opened #1410 "Convert `1_k/1_lambda` to markdown"
All lessons but the last are `*.k` files, and the last lesson is a `*.md` file (the goal would be just to make sure that no latex definitions are used anymore).

[2020-07-09 23:28] ehildenb opened #1411 "Convert `1_k/2_imp` to markdown"
Turns out this is already happening.

[2020-07-09 23:30] ehildenb opened #1412 "Convert `include/builtin` to markdown"

[2020-07-10 03:05] shd101wyy commented on #1404
I hope @bogdan-stanciu could help design the page 😀

[2020-07-10 09:09] denis-bogdanas commented on #1333
I agree. Some time ago I proposed replacing `--def-module` option with with a module attribute. Can't find that discussion. But I see this topic is popping once in a while: https://runtimeverification.slack.com/archives/C7E701MFG/p1567285075096300

It eats a slice of our productivity, particularly when things get incorrectly configured in make scripts and we are scratching our head at never seen e

[2020-07-10 13:00] virgil-serbanuta commented on #1355
The current behaviour is correct, the antileft part is not supposed to be a predicate. Also see
https://github.com/kframework/kore/blob/master/docs/2020-06-22-Rewrite-Rule-Priorities.md

[2020-07-10 13:00] #1355 closed, assigned to nobody

[2020-07-10 17:29] ehildenb commented on #1333
Ok, then maybe we can use this as a chance to propose some concrete changes to how KProve builds definitions for proving.

The only thought I've had on this is that the module with proofs should always import _exactly_ one module, and that should be the proving module. But I'm not sure if that is the type of overhaul that you guys are thinking about.

Another idea I've had is to get rid of the pro

[2020-07-10 18:36] denis-bogdanas commented on #1333
@grosu argued that we might want to have 2 modules with an equivalent set of rules. And prove one module relative to the other one. Then the other way around. Also consider that we might want to have claims distributed into several modules.

Having the definition module marked with an attribute seems like a clean solution that fits all scenarios above and doesn't restrict file structure.

Then @gr

[2020-07-10 18:52] ehildenb commented on #1333
That doesn't work in all cases. What if you import multiple modules marked as `definition`? I would much rather have the convention where we say the proving module is only allowed to import a single module (the main definition module).

Another thing to chew on, we often times do proving with the same `VERIFICATION` module, and each time we invoke `kprove`, it will have to re-kompile that module.

[2020-07-10 18:53] ehildenb commented on #1333
I'm changing this issue to better reflect that it's now a discussion about KProve architecture.

[2020-07-10 18:58] denis-bogdanas commented on #1333
We can check that only one of directly imported modules has `[definition]`.

[2020-07-10 19:01] ehildenb commented on #1289
@dwightguth says: specifically, what should happen if you specify both --haskell-backend-command and --debugger? or should we remove  the --haskell-backend-command flag entirely? note that right now what it does is split on whitespace which is guaranteed to bork everything up if you mention a directory containing spaces

[2020-07-10 19:02] ehildenb commented on #1289
Hmmmmm, --haskell-backend-command can be useful for trying out new features, but I think in all cases you should be able to just use kast to convert to kore and then directly invoke the haskell backend on whatever your input is. So I would vote in favor of doing away with `--haskell-backend-command`.

Any features which we want control over from the high-level command-line should be exposed as wra

[2020-07-10 19:10] ehildenb commented on #1333
No, I'm saying that you may actually _want_ to have two different modules with `[definition]` on them, so I think your solution impedes that (strictly less functionality).

[code]

Now we cannot do verification using module `D` as the main module, though it may very well be reasonable to do so (eg. if you're combining two separate definitions and want to do verification in the joint definition).

[2020-07-10 19:59] dwightguth commented on #1289
I'm going to err on the side of Tom's proposed fix since this is the haskell backend part of the codebase and he is the code owner.

[2020-07-10 20:03] ehildenb commented on #1289
For clarity, @ttuegel says: I think it should be an error to specify both flags. I don't really want to remove --haskell-backend-command because it might break scripts people have.

[2020-07-10 20:41] denis-bogdanas commented on #1333
If there is actual need to combine several definition modules, we can either support multiple modules with `[definition]`, or have one auxiliary module that imports definition modules:
[code]

We discuss 2 different things: (1) how to pass to kprove the information what module(s) represent definition, and (2) how to compile the definition. My proposal is for point 1: to replace current `--def-modu

[2020-07-10 21:04] ttuegel opened #1415 "Parametric rules"
K supports [parametric productions](https://github.com/kframework/k/blob/master/pending-documentation.md#parametric-productions-and-bracket-attributes) such as this one from [domains.k](https://github.com/kframework/k/blob/master/k-distribution/include/kframework/builtin/domains.k#L934)

[code]

There is no corresponding way to write parametric rules for parametric productions, so we have rules su

[2020-07-10 21:23] dwightguth commented on #1333
What I would really like to do is remove kompile functionality from kprove entirely, make it a requirement that kprove only take specification modules as input, then entirely remove vdefinition.kore from the pipeline.

What this is going to require though is finding a way to modularly store the cached parses of rules to be reused across compiling separate definitions that use an overlapping set of

[2020-07-10 21:29] ehildenb commented on #1333
I agree with calling `kompile` ahead of time for proving, that seems like a sane solution to me. If we have that, then all we need to do is `kprove --definition path/to/directory/with/*-kompiled`, and won't need to supply `--def-module` anymore right? Because `--def-module` will be just the main module of the definition?

[2020-07-10 21:36] dwightguth commented on #1333
Yes, the idea is that instead of creating any kind of vdefinition.kore, you would just pass -d some-definition and it would use exactly what was already compiled. Basically this is the outgrowth of my realization that the design direction we went in in the past for the kprove frontend was headed in the wrong direction and we need to reverse course somewhat. That being said, I understand why we mad

[2020-07-10 21:41] ehildenb commented on #817
Duplicate of #1406

[2020-07-10 21:41] #817 closed, assigned to nobody

[2020-07-10 21:45] ehildenb commented on #1406
Thursday July 16, 2020
-------------------------------

### Discussion

-   New architecture for `kprove` frontend: #1333. Question to answer: how much do we care about backwards compatibility?

[2020-07-10 21:46] ehildenb commented on #1333
Ok, I think we can have a discussion about this at the next K frontend meeting. @denis-bogdanas and @daejunpark may both be interested in attending.

[2020-07-11 17:28] denis-bogdanas commented on #1333
@dwightguth What you propose, without parse caches, seems not so hard to achieve. From K user perspective we would have several versions of the same spec: one for concrete execution and one or more for proofs. Just like there are several versions of KEVM right now. Then lemmas would simply be added to the definition end and compiled with kprove. `kprove` would only have to parse the modules with p

[2020-07-12 21:27] daejunpark commented on #1333
I like the idea of clearly separating kompile from kprove, especially if it can significantly reduce the frontend time of kprove.  (Currently, the frontend time of kprove takes 2-3 minutes for KEVM specs, and I couldn't be happier if it could be reduced down to seconds!)

So, if I understood correctly, the usage will be: we kompile a definition module in advance, and then kprove will just take the

[2020-07-13 09:46] h0nzZik opened #1417 "[Bug] [kompile|krun] - what(): Can't convert to float"
# First case
When running `kompile imp.k`, it crashes with the following message:
[code]
File: `imp.k`
[code]

# Second case
When `Infinity` is not present in the language definition, it kompiles successfully; however, if `Infinity` is present in the input, `krun` crashes.
File: `imp.k`
[code]

File: `in.imp`
[code]
Command:
[code]
Output:
[code]
If I use `Infinityf` instead of `Infinity`, `kompil

[2020-07-13 11:26] denis-bogdanas opened #1418 "kprove - Java backend does not compute remainder configuration when no rules are matched"
This is a known soundness issue. Issue is not present in Haskell backend.
To reproduce: https://github.com/kframework/k/pull/993
File `assert.k`
[code]
File `assert-spec.k`
[code]

This spec is expected to fail because there's no rule to match the case `A =/=Int 0`, but instead it passes.

File `Makefile`
[code]

[2020-07-13 11:57] denis-bogdanas opened #1419 "Modify tutorial to not use type Bag (so kore backends work)"
There's a test for bag cells for Java backend, which doesn't work on LLVM:
To enable on LLVM:
File `regression-new/cell-sort-llvm/Makefile`
[code]

Result: either test should pass or throw a meaningful error that cell bags are not supported.
Actual: no idea, Jenkins is down at the time of editing, but none of the above.

[2020-07-13 12:29] denis-bogdanas commented on #518
More recently, since we introduced warnings for unused variables, user will get a meaningful warning. So this is no longer an issue.

[2020-07-13 12:29] #518 closed, assigned to nobody

[2020-07-13 14:19] #1369 closed, assigned to dwightguth

[2020-07-13 14:51] #1399 closed, assigned to dwightguth

[2020-07-13 16:06] ehildenb commented on #1333
So it seems that everyone is on-board with removing `kompile` functionality from `kprove`, which adds the hard restriction that you _cannot_ add any new syntax declarations to the module that is to be proven.

But what we are not sure about is should we still allow a new module with lemmas to be added to `kprove`? My gut says "yes", because then we can reduce how many definitions we need to kompil

[2020-07-13 17:12] dwightguth commented on #1333
Some input is needed from the haskell backend team, I think. I see no reason we wouldn't be able to parse both claims and lemmas in the specification modules, as long as no new syntax is added. It ought even to be possible to add new productions as long as they have the `token` attribute and don't create a new sort. But they would go through a different set of compilation steps because they wouldn

[2020-07-13 18:05] dwightguth commented on #1400
The fix for this issue is proving to be very gnarly. Given that the "appetite" for this task is quite small, I'm going to move it back to the backlog. Basically, at fault is the fact that we are representing binary data as a string, but the encoding we use is not necessarily guaranteed to be able to decode the bytes we receive into valid characters, so we end up with mojibake.

I suggest we just t

[2020-07-13 18:47] ttuegel commented on #1333
I'm not 100% sure I understand the question, but I'll try to answer. Lemmas for functions take the same form as simplification rules included in the definition. It should be possible to add these in a separate file, unless they would change the attributes attached to some symbol. (I think only `anywhere` rules change the symbol attributes, though.) There are also trusted claims, which are "like" l

[2020-07-13 21:50] #1289 closed, assigned to ttuegel, dwightguth

[2020-07-14 00:22] #1417 closed, assigned to nobody

[2020-07-14 18:50] #1293 closed, assigned to dwightguth, ehildenb

[2020-07-15 15:53] nishantjr opened #1429 "[Bug] kompile - line number or source module not indicated when imported module not found."
Input file:

[code]

Reproduction steps:

[code]

Expected Behaviour:

[code]

[2020-07-15 22:22] #1405 closed, assigned to dwightguth

[2020-07-16 15:53] radumereuta commented on #1330
I ran into a few issues with the fix for this.
There are quite a few dependencies in the front end regarding options for parsing.
The way it is implemented right now, when you run kompile, you use the `--md-selector` to parse the definition.
When you want to parse the spec file in kprove, we replicate the kompile setup from the previous run and parse everything with that. That means we inherit the

[2020-07-16 15:59] dwightguth commented on #1330
Let's hold off on this for now as the discussion about changing the architecture of kprove will I believe resolve these questions.

[2020-07-16 16:34] ehildenb commented on #1330
Wait for #1333 to figure out how relevant this still is.

[2020-07-16 16:39] ehildenb commented on #1419
-    Error at kompile time: 1111
-    Support bags:
-    Make Set the default instead of Bag: 1

[2020-07-16 16:41] ehildenb commented on #1418
This is a long-term known issue with Java backend, not worth our time to fix, and was a motivating example for why to develop a new (more sound) backend.

[2020-07-16 16:41] #1418 closed, assigned to nobody

[2020-07-16 16:41] #74 closed, assigned to nobody

[2020-07-16 16:42] daejunpark commented on #1418
It is the user's responsibility to ensure that the definition is complete (for the java backend).

[2020-07-16 16:42] ehildenb commented on #80
The meaning of "context" has changed so significantly since this issue that it's no longer relevant.

[2020-07-16 16:42] #80 closed, assigned to nobody

[2020-07-16 16:42] ehildenb commented on #77
Implemented.

[2020-07-16 16:42] #77 closed, assigned to nobody

[2020-07-16 16:44] ehildenb commented on #73
This needs significant design work because doing things like impure function operations will probably never have an actual meaning in Kore. Doesn't mean we can't do it, but we need to do it _carefully_.

[2020-07-16 16:44] ehildenb commented on #73
Nothing currently requires this though, so low priority.

[2020-07-16 16:47] ehildenb commented on #1379
@nishantjr can you either:

-   Close this because it's not needed.
-   Provide an example where it is needed.
-   Respond to our questions.

[2020-07-16 16:47] denis-bogdanas commented on #1418
Yes, I found that in the meantime. Put it here for posterity. Maybe we'll add this issue to some list of Java Backend limitations some day.

[2020-07-16 16:50] ehildenb commented on #1391
We don't have a backwards compatible way to do this, so it's become low priority.

[2020-07-16 16:54] #1400 closed, assigned to dwightguth

[2020-07-16 17:09] ehildenb commented on #1382
The symbol `#KRewrite` (`_=>_`) is used for different things in rule and contexts.

In rules, it's required that each side of the rewrite has the same sort. In Contexts, it's not required.

[code]

Another example:

[code]

We agree this is confusing syntax, so we should make a decisions about changing it.

-   Backwards compatible: 1
-   No backwards compatible:
-   Support both indefinitely (wit

[2020-07-16 17:15] ehildenb commented on #1382
@dwightguth please investigate in teh C semantics some of the more gnarly contexts and let us know what you think next week.

[2020-07-16 17:32] ehildenb commented on #1333
Because of how the Haskell backend currently works, we suspect that it should be OK to have intermediate modules between `MAIN-MODULE` and the verification module as long as those modules _only_:

-   Declare new equation-type rules which specifically have the `simplification` attribute (specifically, no `priority` or `owise` attributes, recall that you can now give the `simplification(_)` attribu

[2020-07-16 17:44] ehildenb opened #1434 "[KIP] - kprove should use the `claim` keyword"
Introduce a new keyword in K called `claim` which is used to mark things that are to be proved, in anticipation of having claims not just in one module.

[code]

How should `kompile` treat `claim`:

-  Ignore them:
-  Prove them at `kompile` time: 1
-  Treat them as semantic (trusted) rules:
-  Error: 11111

Will treat as error.

How should `kprove` treat `rule` declared _outside_ the main module

[2020-07-16 22:22] ehildenb opened #1436 "[Bug] krun - Haskell backend cannot use stdout stream"
**Describe the bug**

Running a program with the Haskell backend using a definition which is kompiled with the `stdout` stream results in a runtime error because Haskell backend does not support `KREFLECTION.isConcrete` hook (and won't).

This error comes from Stack Overflow issue: https://stackoverflow.com/questions/62943995/kframework-issues-with-isconcrete-and-function-global-configuration-look

[2020-07-17 16:55] #1361 closed, assigned to radumereuta, daejunpark

[2020-07-17 17:42] virgil-serbanuta opened #1439 "[Bug] kompile - Uncaught Exception, MatchError"
Running Kompile on the `conditional.bug` branch of the `c-semantics` repository causes a crash with a stack trace:

[code]

[2020-07-17 19:21] #1429 closed, assigned to dwightguth

[2020-07-17 19:37] #1377 closed, assigned to dwightguth

[2020-07-18 15:13] ttuegel commented on #1333
To clarify, this is not due to the backend, but how the frontend works. Adding other types of syntax or rules in new modules can change definitions that were already closed when another module was compiled.

[2020-07-20 16:00] ehildenb opened #1443 "Document the types of variables and their naming conventions"
To name a few types of variables that need documentation:

-   Normal variables.
-   Anonymous variables (`_VAR` and `_`)
-   Set variables (`#VAR`/`@VAR`)
-   Existential variables (`?VAR`)
-   Fresh variables (`!VAR`)

[2020-07-20 19:49] ehildenb commented on #1406
We aren't keeping this updated, and are using individual issues instead to facilitate voting and discussion.

[2020-07-20 19:49] #1406 closed, assigned to nobody

[2020-07-21 00:09] ehildenb commented on #900
@ana-pantilie if you have time, could you re-test this on latest K master and provide a minimal example?

[2020-07-21 00:12] ehildenb commented on #1322
@vasil-sd can you confirm that this issue is resolved? If so, can you close it?

[2020-07-21 03:02] nishantjr commented on #1379
I don't have  a particular use for this, and wrote it up as a comment when I was writing the documentation for the attribute.

[2020-07-21 03:02] #1379 closed, assigned to nobody

[2020-07-21 09:07] ana-pantilie commented on #900
@ehildenb For some reason after checking out `master`, updating the submodules and building with `mvn package` as I usually do, `kompile` throws the following exception:

[code]

[2020-07-21 14:32] dwightguth commented on #900
Please run `mvn clean`.

[2020-07-21 18:27] vasil-sd commented on #1322
@ehildenb , yes, I'll close it.

[2020-07-21 18:27] #1322 closed, assigned to nobody

[2020-07-22 10:14] ana-pantilie commented on #900
`mvn clean` worked, so I was able to retest this and it's fixed now. Thanks!

[2020-07-22 10:14] #900 closed, assigned to nobody

[2020-07-23 16:43] ehildenb commented on #1439
Looks like we need to add a check to the frontend where an error is reported if the user puts a non-variable on the RHS of an `#as` pattern.

[2020-07-23 16:47] ehildenb opened #1451 "Modify the last lesson of `1_k/1_lambda` to use Bison"
This is to demonstrate to users how to use the Bison parser, which is much faster.

[2020-07-23 16:51] ehildenb opened #1452 "Provide link to standard library/builtin tutorial directory on Github pages rendered website"
This will enable us to see these pages on the website.

[2020-07-23 16:51] ehildenb opened #1453 "Render codeblocks on GitHub pages using a nice K syntax highlighter"
this will require making a Jekyll syntax highlighter for K

[2020-07-23 16:53] #1411 closed, assigned to nobody

[2020-07-23 16:53] ehildenb opened #1454 "Convert `1_k/3_lambda++` to markdown"
Just the last lesson

[2020-07-23 22:21] #1439 closed, assigned to dwightguth

[2020-07-24 03:22] #1436 closed, assigned to dwightguth

[2020-07-24 20:21] #1452 closed, assigned to ehildenb

[2020-07-28 21:24] ttuegel opened #1467 "[KIP] - Rename #True and #False"
I propose that we rename

-   `#True` to `#Top`, and
-   `#False` to `#Bottom`.

Motivation
----------

The Matching Logic papers and the Kore backend use the `\top` and `\bottom` terminology. Changing the vocabulary in the K frontend would bring all three into harmony and reduce the potential for miscommunication between users and the backend team.

There is potential confusion between the `#True

[2020-07-29 03:19] dwightguth commented on #1467
One middle ground would be to support both, but unparse as `#Top`

[2020-07-29 19:02] ttuegel opened #1470 "Complain when `concrete` or `symbolic` used without `simplification`"
It should be an error to use the `concrete` or `symbolic` attributes without the `simplification` attribute.

[2020-07-30 14:56] ehildenb opened #1471 "Add warning for syntax declared between main module and verification module"
In preparation for #1333, we should have a period where the check for syntax declared between main module and verification module is warned for, so that people have time to adjust their definitions.

Currently this is already a problem for the `kore-repl`, because if you unparse a term which uses syntax declared in such a way, it will give a `NoSuchElementException`

[2020-07-30 15:30] ehildenb opened #1472 "[Bug] [kprove] - Incorrect detection of unbound variable on RHS"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

A variable bound on the LHS via the `requires` clause (but not in the LHS of the term) is considered "unbound" and warned against.

Input Files
-----------

File: `test.k`

[code]

File: `test-spec.k`

[code]

Reproduction Steps
------------------

Kompile the defintion:

[code]

Run the prove

[2020-07-30 16:31] #1451 closed, assigned to radumereuta

[2020-07-30 16:39] ehildenb commented on #1467
Initially just support both, and unparse to `#Top` and `#Bottom`, and train ourselves and our documentation to prefer these:

[code]

Agnostic at the moment about deprecating `#True` and `#False`. Can worry about it later.

[2020-07-30 16:52] ehildenb commented on #1472
We agree that when processing claims, the `requires` clause should be considered part of the LHS of the claim (unlike when kompiling definitions), so this unbound variable warning should not fire.

[2020-07-31 16:17] ehildenb opened #1478 "Separate out `domains.md` into many files for easier browsing of the "standard library""
The thought is that `domains.md` is quite large, which makes it harder to have a cohesive story about all the documentation.

Separating out into individual files may offer better compartmentalization.

[2020-07-31 16:37] dwightguth opened #1479 "Constructor attribute on parametric symbols that aren't functions in ModuleToKORE"
Essentially, the idea would be that a parametric symbol whose return sort is a sort variable, but is not a function, would be a constructor only on a certain finite set of sorts which are described in an attribute. This involves modifying ModuleToKORE to track all the used instantiations of a parametric symbol and adding them to the no junk axioms and the constructor attributes on the symbol itsel

[2020-07-31 21:18] dwightguth commented on #1470
After discussion with Tom we have amended this rule so that function rules without simplification can be concrete or symbolic iff all rules for that function have that attribute.

[2020-07-31 21:33] #1467 closed, assigned to dwightguth

[2020-08-03 21:37] ReedOei opened #1483 "Matching pattern when final configuration has existential variables?"
NOTE: Also posted this on Stack Overflow ([here](https://stackoverflow.com/questions/63182703/matching-pattern-when-final-configuration-has-existential-variables)), not sure what the right place is...

I want to `krun` a file and check that the output configuration is expected. However, this seems not to work, at least as expected, when I use existential variables. For example, using the following

[2020-08-03 22:09] ttuegel commented on #1483
This is actually a bug, I will say more about that at the end.

The result of `krun --search --pattern ...` is the unifier(s) that makes the search pattern equal to the target configuration(s). In this case, the unifier is just `#True` because there are no additional conditions needed to make the search pattern equal to the configuration; the configuration is _already_ equal to the search pattern.

[2020-08-04 15:28] dwightguth commented on #1483
Basically my take is, let's not fix this when we already have a tool, `kx`, which is eventually going to become the default implementation of `krun`, which does not exhibit this bug, and which @ReedOei can already use.

[2020-08-04 19:26] #1410 closed, assigned to radumereuta

[2020-08-04 19:54] ReedOei commented on #1483
Hm, I can't seem to get the `--pattern` or `-d` options to work. If I try to use `-d`, I get parsing errors, but I can work around it by just `cd`-ing to the directory and running it. But whenever I use `--pattern "<k> . </k>"` (full command: `kx --pattern "<k> . </k>" test.in`) I get:
[code]

[2020-08-04 21:33] #1470 closed, assigned to dwightguth

[2020-08-05 17:06] andreiburdusa opened #1489 "[Bug] kprove - claim location not present in `spec.kore`"
K Version
---------

[code]

Description
-----------

Running `/home/andrei/kore/.build/k/bin/kprove --haskell-backend-command /home/andrei/kore/.build/kore/bin/kore-exec -d . -m VERIFICATION a-to-c-spec.k --dry-run` gives a `spec.kore` file where the claim doesn't have the location mentioned

Input Files
-----------

File: `tiny.k`
[code]

File: `a-to-c-spec.k`
[code]

Reproduction Steps
--------

[2020-08-05 19:33] #1358 closed, assigned to dwightguth

[2020-08-06 01:37] bogdan-stanciu commented on #1404
I'm partial to this design https://doks.themejack.com/blue/ but I can see
how this template https://hyde.getpoole.com/ fits the job better.

On Thu, Jul 9, 2020 at 11:05 PM Yiyi Wang <notifications@github.com> wrote:

[2020-08-06 01:49] bogdan-stanciu commented on #1404
So, after the second consideration, Yiyi and I decided to go with a design
similar to Firefly, but with the global navigation on the left.

K logo replaces the Firefly logo, and the Global Navigation goes
underneath.

Then the second task becomes the content migration.

On Wed, Aug 5, 2020 at 9:37 PM Bogdan Stanciu <
bogdan.stanciu@runtimeverification.com> wrote:

[2020-08-06 16:32] ehildenb opened #1493 "Convert `2_languages/2_kool` to markdown"

[2020-08-06 16:34] #1454 closed, assigned to radumereuta

[2020-08-06 16:34] ehildenb opened #1494 "Convert `2_languages/1_simple` to markdown"

[2020-08-06 16:40] ehildenb commented on #1479
This requires changes to the Haskell backend to even have sensible support in the frontend, so we will wait until the backend supports it and we have a more clear need for it.

[2020-08-06 16:43] ehildenb commented on #1478
Thoughts are:

-   Not much point separating it now. @radumereuta makes the point that it's easier to search the file if it's a single file.
-   @dwightguth argues that we shouldn't do too much splitting, maybe numbers in one module, data-structures in another, etc...

[2020-08-06 16:45] ehildenb opened #1495 "Fix all the links in the K tutorial and provide READMEs"
Every tutorial directory should:

-   Have a README at the top-level of that language.
-   Links on every reachable page in the tutorial should be fixed.

[2020-08-06 16:47] ehildenb opened #1496 "Change headers to include citation metadata"
From here: https://github.com/kframework/k/pull/1486#discussion_r466503142

Using YAML metadata makes the tools that process these files more able to produce relevant documentation.

We should do this for all files that have sensible "authors" or "institutions".

[2020-08-06 16:48] ehildenb commented on #1496
For example, the `pandoc-citeproc` filter for `pandoc` can use this information for generating citations.

[2020-08-06 18:49] #1412 closed, assigned to dwightguth

[2020-08-06 22:49] #1494 closed, assigned to radumereuta

[2020-08-07 14:49] #1493 closed, assigned to radumereuta

[2020-08-07 19:22] h0nzZik opened #1502 "[Bug] kompile - Invalid initial configuration with wrong number of children"
Git revision: 1809e99

Command:
[code]
Output:
[code]

File: `standalone.k`

[code]

I would expect it kompiles without an error, but failing and having an informative error message would also be a good option.

[2020-08-10 20:10] dwightguth commented on #1434
Basically, what this entails:

* Create a new `Claim` class in outer.scala
* Modify the outer parser to parse claim-type bubbles
* Modify the inner parser to convert claim-type bubbles into `Claim` objects.
* Remove the `specificationSteps` method and modify the kompile pipeline so that it supports the `Claim` class and applies the relevant specification steps to claims.
* Insert a check in kompil

[2020-08-11 22:59] nishantjr opened #1509 "[Bug] [kast] - Cannot parse json configurations with `#And` at top."
K Version
---------

[code]

Description
-----------

kast crashes when parsing an input file with `#And` at the top.

Input Files
-----------

file: Test.k

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

`kast` should have returned a configuration formatted in `kore`.

[2020-08-13 15:28] ehildenb opened #1513 "Website Updates"
Issue for discussing changes to website. Issues:

-   Website tutorial videos? Keep them? **DECISION**: Keep them, but remind people that (i) they are out of date, and (ii) don't encourage people to look at them (not the first thing they see on the pages).
-   Old pages in website like this? Do they belong on the new website? http://www.kframework.org/K11/, or http://www.kframework.org/K10/ **DECI

[2020-08-13 16:42] ehildenb commented on #1502
The problem is that `KResult` is a sort, because of historical decisions, but `isKResult` is not really used as a sort predicate, which is actually desirable. It behaves more like an arbitrary predicate (which can depend on the configuration) which allows for much more nuanced heating/cooling rules.

[2020-08-13 16:49] ehildenb commented on #1502
-    Sort Predicates can depend on configuration? No strong arguments for allowing sort predicates to depend on the configuration.

How about just not generating sorts for heating/cooling results? Something like `syntax Bool ::= isKResult ( K )` rather than `syntax KResult`.

[2020-08-13 16:49] ehildenb commented on #1502
@dwightguth will investigate if the `syntax Bool ...` approach to undo the decision about `KResult` being a sort is feasible, and implement it if so.

[2020-08-13 17:00] ehildenb opened #1514 "Try K Online Tool"
http://www.kframework.org/tool/run/?autoload=tutorial/1_k/1_lambda/lesson_1/lambda.k

First we need to answer the questions:

-   Where is this hosted?
-   What version of K is it running?
-   Can we update to latest version of K successfully?

[2020-08-18 20:52] dwightguth opened #1518 "Error if `=>` appears inside `#as`"
I accidentally wrote something strange in K today and I wanted to get some people's thoughts on whether they think this ought to be an error or not:

[code]

This rule actually made the definition loop forever, because the right hand side of P #as X is treated as X. X is bound to the left hand side of the rewrite, so the right hand side of this rule just becomes "X" and the rewrite is silently dis

[2020-08-18 20:53] dwightguth commented on #1502
It turns out this doesn't actually require a code change except to make the error message more intuitive.

[2020-08-20 15:11] radumereuta commented on #1434
How do I differentiate between modules from the spec files and the definition files?
The spec files include the definition and now I'm giving warning messages for all rules.
I'm asking about the broad picture: where do you see the line between the spec files and the definition?

[2020-08-20 15:14] dwightguth commented on #1434
Anything imported by the main spec module but not imported by the main module of the definition that was kompiled should be considered a spec module.

[2020-08-20 16:33] #1513 closed, assigned to shd101wyy

[2020-08-20 16:42] ehildenb commented on #1434
@radumereuta: What is SpecificationStep supposed to do? It compiles a claim, it should be the same for any claim, but is different for Java/Haskell backend. @dwightguth: remove this, in favor of just having each Kompilation step decide how to handle rules/claims different (since we will now have separate Rule/Claim classes which the Kompilation classes can look at). Pass at very beginning of Kompi

[2020-08-20 16:45] ehildenb commented on #1518
Consensus is to make this an error for now.

[2020-08-20 16:46] ehildenb commented on #1404
Website is updated, happy with new styling.

[2020-08-20 16:46] #1404 closed, assigned to nobody

[2020-08-23 18:15] malturki opened #1527 "[KIP] - Introduce a new keyword "const" for defining named constants"
[KIP] - Introduce a new keyword "const" for defining named constants

It's generally good programming practice to use named constants and most programming languages provide specific ways to define them. However, defining a named constant in K requires two steps: declaring the syntax of the named constant using "syntax" and defining its value using a macro "rule", which is inefficient and prone to

[2020-08-24 12:37] h0nzZik opened #1528 "[Bug] krun - fresh variable in anonymous function"
K Version
---------

[code]

Description
-----------

When a fresh variable is used both inside an anonymous function and outside of the anonymous function, it has different values inside and outside.

Input Files
-----------

File: `imp.k`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The `<k>` cell and the `<l>` cell should contain the same value (e

[2020-08-28 15:24] ehildenb opened #1532 "Add `--bug-report` option to frontend (and llvm-backend)"
The Haskell backend `kore-exec` has the `--bug-report BUG_NAME` option which generates a tarball containing all the inputs needed to reproduce an execution on a definition. This includes:

-   A `vdefinition.kore` file which is the definition the backend sees.
-   A `spec.kore` file which is the initial configuration to execute _or_ prove from.
-   A `kore-exec.sh` script which contains exactly th

[2020-08-30 21:05] ehildenb commented on #1527
I like this idea, would make a lot of the tables of values in KEVM more readable, for example.

It seems to me that the general syntax should be:

[code]

should be the outer syntax, and then adding the sort annotation (which may be inferred) is just because a `KVariable` can be parsed with or without the sort annotation.

Also, would it be nice to be able to declare a constant expression without

[2020-08-30 23:45] malturki commented on #1527
Sure. Supporting uninterpreted constants would probably improve readability. It may not help much in terms of conciseness of code though. Also, once a named constant is declared uninterpreted, it should not be possible to later modify the constant to have a concrete value (otherwise we lose much of the value added by having this specific syntax, I think).

[2020-08-31 05:07] ehildenb commented on #1333
A simpler path (initially) may be:

-   Modify build systems of semantics to allow building the VERIFICATION module directly (`kompile .... tests/specs/mcd/verification.k`)
-   Modify build system of semantics to call `kompile ... tests/specs/mcd/verification.k` before calling `kprove`.
-   Add an option to `kprove` called `--skip-kompile`, which just looks for the correct kompiled directory and s

[2020-09-01 21:47] ttuegel opened #2878 "Bisimulation"
The [bisimulation tests](https://github.com/kframework/k/tree/master/k-distribution/tests/regression-new/bisimulation) use features from `KREFLECTION` which will not be supported, but it should be simple to rewrite the test to use pattern matching.

[2020-09-03 16:42] ehildenb commented on #1527
Some issues:

-   `const` is often a keyword in languages, so it may complicate outer/rule parsing which use that keyword.

Low priority because it can already be done in the more verbose.

What about (to avoid introducing a new keyword):

[code]

this may be ambiguous with the sort alias parser:

[code]

Perhaps this (second part is a bubble):

[code]

@malturki any thoughts?

[2020-09-03 16:44] ehildenb commented on #1532
@ttuegel says you can set environment variable to generate bug report `KORE_EXEC_OPTS="--bug-report kevm-$SPEC_NAME"`. So maybe this is not needed to simplify out KEVM and KWasm runner scripts.

[2020-09-03 16:45] #1532 closed, assigned to nobody

[2020-09-03 16:52] ehildenb commented on #1333
@dwightguth points out that `--skip-kompile` would largely be the same amount of work after the `claim` keyword is introduced anyway, so we might as well go forward with the full solution.

[2020-09-08 19:59] nishantjr opened #1594 "[Bug] krun gives different output than kore-exec"
When running the following definition, I expect the second assume to fail.
The assertion should never be reached.

[code]

Instead, I see the following output:

[code]

Note that the final branch should have path condition `f(1) == 0 /\ f(1) == 2`.

[2020-09-08 21:30] ttuegel commented on #1594
What command did you use to produce this output?

[2020-09-08 21:49] #1502 closed, assigned to dwightguth

[2020-09-08 21:49] #1518 closed, assigned to dwightguth

[2020-09-09 05:05] nishantjr commented on #1594
`kompile --backend haskell test.md  && krun --search-final` @ttuegel

[2020-09-09 12:37] nishantjr commented on #1594
[code]

[2020-09-10 16:46] ehildenb commented on #1472
For symbolic backends: requires clause should be considered part of LHS of rule.
For concrete backends: change the message to _not_ call the requires clause part of the RHS, instead just say it's "introduced in the requires clause".

[2020-09-10 18:57] ttuegel commented on #1594
We need to investigate this a little more, but I think the only thing that's going on here is that the `kore-exec --search` feature is designed to over-approximate the reachable states, and might not preserve all the side conditions accordingly.

[2020-09-11 00:57] nishantjr commented on #1594
OK, do you know under what conditions side conditions would be dropped happen?

[2020-09-15 14:48] ttuegel opened #1545 "Forbid functions in arguments outside simplification rules"
The frontend should produce an error message for function rules where functions appear in arguments on the left-hand side; such rules must have the `simplification` attribute after #1252.

For example, this rule is not valid, because `+Int` and `-Int` appear as arguments of `+Int` on the left-hand side:

[code]

[2020-09-16 21:49] #1528 closed, assigned to dwightguth

[2020-09-17 14:18] ehildenb opened #1548 "Java backend respect the `concrete` and `symbolic` attributes"
Currently the Java backend uses `#isConcrete` and `notBool #isConcrete` for specifying that a rule should apply only when a given subterm is concrete or not.

This is not great, because it's not representable in amtching logic. The haskell backend instead uses `concrete(_)` and `symbolic(_)` attributes.

I propose supporting `concrete(_)` and `symbolic(_)` attributes in Java backend, simply by con

[2020-09-17 16:43] ehildenb commented on #1548
We have small appetite for this, if it can be done in a day or less, then we should go for it, but otherwise just keep duplicating lemmas where needed.

[2020-09-18 13:14] hjorthjort opened #1549 "Frontend generates invalid Bytes domain values when parsing from JSON to Kore"
In the Polkadot Semantics, we run this file:

module.wat
[code]

Then run
[code]

Producing the following JSON:

module.loaded.json
[code]

We try to run it with `krun --directory .build/defn/kwasm/haskell --output json --parser cat  --term module.loaded.json`

Output:
[code]
[kore-exec.tar.gz](https://github.com/kframework/kore/files/5245717/kore-exec.tar.gz)

Attaching the generated bugreport.

[2020-09-18 14:44] ttuegel commented on #1549
The offending term is:

[code]

It should be:

[code]

The frontend has mangled the string here: the `Bytes` was converted to K syntax, and then the K syntax was encoded as a string. Instead, the `Bytes` should be a hexadecimal string. I am kicking this over to the frontend.

[2020-09-18 14:47] dwightguth commented on #1549
The code that converts from K to kore is supposed to demangle this representation, which is a correct K representation but not a correct KORE representation. Looks like it's not happening.

[2020-09-18 22:14] dwightguth opened #1550 "[Bug] kompile - kompile crashes with z3 4.8.9"
This is with the latest master branch of K.

Description
-----------

When the installed version of z3 is equal to 4.8.9, kompile will crash with errors in z3 arising from the type inferencer that look like the following:

[code]

This can be reproduced with any K definition, as the error is manifested when parsing the K prelude.

[2020-09-21 17:38] dwightguth commented on #1550
This seems to be the result of an upstream regression in z3 in version 4.8.9. I have reported it upstream here: Z3Prover/z3#4701. In the meantime, we should think about directing users on arch linux and Mac OS to install z3 4.8.8 manually somehow.

[2020-09-22 11:20] dwightguth commented on #1550
This is fixed upstream and should work in z3 4.8.10, assuming no further regressions. Should we add a known issues warning to the install page for K? Or do you guys think it is worth coming up with a solution that works on z3 4.8.9?

[2020-09-23 19:38] sskeirik commented on #1550
Given that z3 has binary releases as zipfiles, we could direct the user to download the 4.8.8 release zipfile, unzip it, and put it first in their path. Alternatively, we could provide a script that does this. Thoughts?

[2020-09-24 16:39] ehildenb opened #1557 "Convert existing proofs over to `claim` keyword"

[2020-09-24 16:42] ehildenb opened #1558 "`claim` keyword should be stricter about warnings and errors"
Because we're changing to using the `claim` keyword, and we have some warnings on proof goals that should be errors, we should investigate whether those warnings as errors for `claim` keyword now where relevant.

The idea here is that we're breaking backwards compatibility anyway, so we should go ahead and take this opportunity to change anything taht is a warning but should be an error to an erro

[2020-09-24 16:51] ehildenb opened #1559 "K version bump feature list (5.1.0)"
- [x] `claim` keyword
- [x] `macro` expansion with Bison parser
- [x] Switch to `kx` pipeline by default (KEVM, KIELE using kx)
- [x] Semantic versioning setup: #1857

[2020-09-24 16:53] ehildenb opened #1560 "Add option `--emit-latex-prelude` to `kompile`"
Currently we are not taking into account any of the latex formatting attributes, which kdoc used to rely on, but can emit latex ASTs for any of the commands.

If we add `--emit-latex-prelude` to `kompile`, which defines all the `newcommands` (using the same name-munger that `--output latex` uses), then we should be able to build nice latex documents again.

[2020-09-24 16:56] ehildenb opened #1561 "Update install instructions to inform users that they cannot use Z3 4.8.9"
Currently Z3 version 4.8.9 (which is available on at least Arch and MacOS) does not work with K. We should inform users of this.

Put this in the `INSTALL.md` (for release pages), and maybe in `Troubleshooting` on the `README.md` (for devs).

Also delete the stale file `k-distribution/README.md`. This is currently being used in the `package/....` directories for packaging. You should instead use t

[2020-09-24 17:00] ehildenb opened #1562 "`claim` keyword should be recognized by k-editor-support"
https://github.com/kframework/k-editor-support

[2020-09-24 17:05] sskeirik commented on #1561
In particular, the README used in the packaging is set here: https://github.com/kframework/k/blob/0ff5c9bbe664528d438daf7acacb4603a698e102/k-distribution/src/main/assembly/bin.xml#L25

This StackOverflow note about maven parent POMs base directories might be useful: https://stackoverflow.com/questions/19511785/getting-parent-directory-of-basedir-from-maven --- or I could try using `${project.based

[2020-09-25 11:11] ttuegel commented on #1479
I'm not sure why the backend needs to change first, but we do have a clear need for it now: the C semantics.

There is another way we could support polymorphic constructors at the K level: Generate a corresponding monomorphic constructor in Kore in its own, distinguished sort, and make that sort a subsort in Kore of the sorts where the polymorphic constructor appears in K. Generate patterns using

[2020-09-25 16:34] nblei opened #1563 "Bug kompile - Uncaught exeception thrown of type NoSuchElement"
[Bug] kompile - crash when compiling

K Version
---------
[code]

Description
-----------

Running `kompile` causes an uncaught NoSuchElement exception to be thrown.
`--debug` provides the following stack trace

[code]

Input Files
-----------

File: `lambda.k`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

Succesful compilation or parser error.

[2020-09-29 07:18] denis-bogdanas opened #1564 "Question mark "?" not pretty-printed"
In final configuration we get output like this:
[code]

Not sure whether `#Ceil` is a problem btw. This is vanilla KEVM without `#Ceil(#buf)`.

https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/erc20-verification/detail/PR-143/6/pipeline/

@ttuegel

[2020-09-29 19:22] ttuegel commented on #1564
That's fine; it would be suspicious to see `#Not ( #Ceil ( _ ) )`.

Pretty-printing K terms is a frontend issue, so I will transfer it there.

[2020-09-30 20:05] sskeirik opened #1568 "[Bug] [kompile] - LLVM backend crashes with non-intuitive error message when non-function/non-builtin symbols are used in side-conditions"
K Version
---------

[code]

Description
-----------

Running `kompile` causes the LLVM backend to crash when non-function/non-builtin symbols are used in side-conditions.

The error message returned to the user talks about LLVM IR types and is unable to be linked to the root cause without experimental verification.

Input Files
-----------

File: `test.k`

[code]

Note: the author forgot to add t

[2020-09-30 20:08] dwightguth commented on #1568
One thing I am wondering is, do we want to restrict the contents of `requires` and `ensures` clauses to be of sort `Bool` in the syntax? This would in theory be a breaking change, but I don't think we actually have any such rules that it would break. The advantage is we would get a parse time error if the user puts the wrong sort there. Obviously we also want to have an error if the user defines c

[2020-09-30 20:18] sskeirik commented on #1568
My feeling is that non-boolean side-conditions should be forbidden, because the semantics of such a side-condition is unclear, and because, as far as I know, we don't expose underlying logical operators that could replace it.

Maude avoids this issue because it:

- has equality as a built-in operator in side-conditions
- imports `BOOL` by default
- automatically converts boolean side conditions `P

[2020-09-30 20:25] sskeirik commented on #1550
BTW, it appears that our packaging CI builds are failing due to this bug.

From what I can tell, depending on execution order, either the Homebrew or Arch package test fails with this z3 error.

Given that we are still months out likely from a new release, I think we should either modify the Arch/Homebrew CI build process to make sure that the correct version of z3 is on the path when tests are ru

[2020-09-30 20:35] dwightguth commented on #1550
Well, in theory this bug happens because we pop a symbol that was declared, then push a different symbol with the same name. It ought to be possible to change the code for z3 type inferencing so that we never reuse the same symbol name inside the same process. As a result of which, you could have z3 4.8.9 installed and the bug wouldn't be triggered. I'd rather explore such a solution instead of de

[2020-09-30 20:57] sskeirik commented on #1550
Ultimately, I think it's your call, since you know how the inferencer works better than anybody else and what would be needed to make the change. But I agree, there is no harm in asking for a bugfix release from upstream.

[2020-10-01 14:42] ttuegel commented on #1479
Actually, the more I think about this problem, I don't think the backend should support this. I don't think that a "polymorphic constructor" says in Kore what the user would want it to say. For example, I think the user would need to write (at least) twice as many rules to have complete coverage, except in special cases.

[2020-10-01 15:15] sskeirik opened #1570 "[KIP] - Provide a semantic-only module-level attribute that causes frontend to emit warning when transitively imported into syntax module"
Motivation
----------

Situation: In K, there is no boundary between syntax and semantics.

Problem 1: This conflicts with library development --- since many libraries are designed to be "semantic-only" --- and not part of the parsed language.

Examples: Modules in `domains.md`, e.g. `INT`, `BOOL`, etc., the blockchain plugin, future third-party libraries.

Problem 2: Faster and simpler auto-gener

[2020-10-01 16:05] ehildenb commented on #1568
:+1: on restricting side-conditions to sort Bool, and I thought we already restricted users from adding constructors of builtin sorts?

[2020-10-01 16:42] ehildenb commented on #1568
@ttuegel reports that the Haskell backend rejects adding constructors to builtin sorts anyway, so we should be making that check in the frontend anyway.

Any side-conditions not of sort `Bool` will cause nonsense, and _likely_ will cause the Haskell backend to crash anyway. So it sounds like we should also just check that at definition parse time.

So action items are:

-   Restrict in the fronten

[2020-10-01 16:45] ehildenb commented on #1564
@denis-bogdanas can you make a minimal example of this? What it would look like is the Kore of the term `#lookup(?STORAGE, #buf(32, ?ACCT1))`, and then make sure that calling `kast` on that (with a minimal definition) incorrectly unparses it.

If you post those here it will make fixnig this easier.

[2020-10-01 16:47] ehildenb commented on #1563
This means we need to have an error in the frontend if the user uses `strict` attribute (or any other variants), but they don't have a sort named `KResult` declared or a `Bool` function named `isKResult` declared (and the same applies for non-`KResult` sorts used with `context`).

Also we should document in `pending-documentation.md` the "right" way to declare the function `isKResult` (ie. you nee

[2020-10-01 16:50] ehildenb commented on #1489
Claims should get a location added to them during the `kompile` phase of KProve.

Let's wait until the #1553  PR is merged.

[2020-10-01 16:58] ehildenb opened #1571 "[KIP] - Module signatures master task"
- Parsing issues: #1570
- Syntax namespaces? https://github.com/kframework/k/issues/1570#issuecomment-702283344

[2020-10-01 17:05] ehildenb commented on #1570
@dwightguth suggestion: Label modules which are not LR-1 as such so that the bison-generated parser knows to treat them differently.

@radumereuta: we had this problem before. One proposed solution was to add annotations to productions themselves to restrict where those productions can be used (people did not like it). Another solution was to have people specifically say which modules should be us

[2020-10-01 17:07] ehildenb opened #1572 "Add warning for importing non-LR-1 grammars into bison parser"
This can be done by marking certain modules as non-LR-1.

This should be a _warning_, because users should still have flexibility to try things.

This comes from #1570

[2020-10-01 17:25] nishantjr commented on #1570
I was actually thinking about a alternate mechanism to help with the issue of accidentally importing non-program syntax declaration into syntax modules. The idea is to mark program syntax declarations via a namespace like attribute, and allow only importing those into the syntax module.

This also allows us to mix program grammar with program semantics, something I know both @ehildenb  and I like.

[2020-10-01 17:40] malturki opened #1573 "[Bug] [krun] - Matching against a singleton list element for lists constructed with `List{<Sort>,<sep>}` fails in specific situations"
[Bug] [krun] - Matching against a singleton list element for lists constructed with `List{Sort,sep}` fails in specific situations

K Version
---------

[code]

Description
-----------

Matching against a single element of a list constructed using the syntax `List{<Sort>, <sep>}` seems to result in inconsistent behavior when the rule rewrites a function symbol. See the example below.

Input Files
-

[2020-10-01 18:07] virgil-serbanuta opened #1574 "There should be a way to safely read the environment (#getenv)"
`#getenv`, at least in the ocaml implementation, crashes when the key is not present in the environment. There should be a safe way of reading (or attempting to read) a key that might not be in the environment.

[2020-10-01 18:28] malturki commented on #1527
We can use `constant` instead of `const` (or maybe `konst`?). Overloading `syntax` too much can be a problem in itself. I can easily imagine people mistyping similarly looking symbols like `=` and `=>` and running into hard-to-discover problems because of this.

[2020-10-01 18:31] malturki commented on #1527
Another issue here is that we might want to consider implementing constants using something other than macros, as they are not supported by the bison parser.

[2020-10-01 22:03] #1550 closed, assigned to nobody

[2020-10-01 23:50] #1573 closed, assigned to dwightguth

[2020-10-02 00:49] #1574 closed, assigned to dwightguth

[2020-10-02 14:27] sskeirik opened #1580 "[Bug] [build] - Build on OSX fails due to symbol `at_quick_exit` not found"
On commit 3d804961c, doing `mvn package -DskipTests` on OSX fails because the LLVM backend build step fails with this message:

[code]

Using `make VERBOSE=1`, the full command that was run by maven/CMake/Make which repros the issue on my OSX box:

[code]

Googling around, it seems that `at_quick_exit` and `quick_exit` aren't available on OSX. Some references:
- [StackOverflow Post 1](https://stac

[2020-10-02 18:54] #1561 closed, assigned to sskeirik

[2020-10-02 19:35] sskeirik commented on #1580
Closed by #1581

[2020-10-02 19:35] #1580 closed, assigned to nobody

[2020-10-05 19:49] #1563 closed, assigned to dwightguth

[2020-10-06 18:49] #1572 closed, assigned to dwightguth

[2020-10-07 17:04] ehildenb opened #1584 "Allow putting `macro` on productions"
Rather than requiring `macro` on `rule`, we should allow `macro` on productions (and `macro-rec`), and then that will just be propogated down to the appropriate rules before macro expansion so that none of the frontend logic needs to change.

This makes it possible to:

-   Eventually disallow `macro` on rules, in favor of declaring the function itself a macro.
-   Easier to determine which declar

[2020-10-07 17:21] malturki opened #1585 "[KIP] - We should have a comprehensive, user-facing reference manual for K."
[KIP] - We should have a comprehensive, user-facing reference manual for K.

Motivation
----------

It can be difficult for K users to hop around tutorials and multiple references (online documents and academic papers) every time they need to learn about specific features that they want to use in their projects. Furthermore, having one resource to which we can refer people can significantly improv

[2020-10-08 14:42] ehildenb commented on #1585
I guess I would suggest that we have (4) be "Functional Rules and Rewriting", then (5) be "Configurations and Semantic Rules", then shift all the (5)-(10) back by one.

[2020-10-08 16:32] ehildenb commented on #1527
Perhaps another option would be `syntax const`, or `syntax constant`

[2020-10-08 16:34] ehildenb commented on #1584
Because of #1568

[2020-10-08 16:37] ehildenb opened #1587 "FUN definition adds subsort into KVar"
Due to #1568. We are adding a subsort to `KVar`, which means we're adding constructors to a builtin sort.

Possible solutions:

-   Relax this error on Java backend for sort `KVar` because FUN only runs on Java backend.
-   Rework substitution based FUN to not have `KVar` be subsorted.

[2020-10-08 16:57] ehildenb commented on #1545
The frontend already has such a check, which is disabled in Java and Haskell backend (because we used to not have the simplification attribute). We need to re-enable this check for Java and Haskell backends but only on function rules which don't have `simplification` attribute.

[2020-10-08 16:58] ehildenb commented on #1545
@dwightguth please post where the code location to change is.

[2020-10-09 17:28] #1434 closed, assigned to radumereuta

[2020-10-10 02:50] #1489 closed, assigned to radumereuta

[2020-10-12 16:44] radumereuta commented on #1545
I need a bit more information to properly implement this.
Should this check apply to claims as well?
How about `trusted` claims?

I got this failing test and I'm not sure what is the best approach:
https://github.com/kframework/k/blob/master/k-distribution/tests/regression-new/proj-attribute/a-spec.k#L13

[2020-10-12 18:27] ehildenb commented on #1545
It should not apply to claims, and I think not to `trusted` claims either.

[2020-10-12 19:16] ttuegel commented on #1545
@radumereuta The original issue is only concerning _function_ rules, not claims or rewrite rules.

[2020-10-12 19:23] radumereuta commented on #1545
@ttuegel if I remember correctly, a function rule is a rewrite rule with a few restrictions:
- at the top there is a function symbol
- no other function symbols are on the LHS
So this step is part of determining if a rule is a function rule. Please correct me if I'm missing something.
(I have omitted claims as Everett said, and a few other changes, and waiting for the test results to see what else

[2020-10-12 19:36] ttuegel commented on #1545
When kompiling for the Haskell backend, function rules and rewrite rules are completely unrelated. A function rule has a function symbol at the top of the left-hand side. If there is any other function symbol on the left-hand side, the frontend _should_ produce an error; it currently doesn't, which is the motivation for this issue.

[2020-10-13 14:31] ana-pantilie commented on #1594
The output I get from running the command generated by `krun --search-final --dry-run --debug` is:
[code]
Unparsed to `K`, using `kast`:
[code]
For some reason the condition in the second branch doesn't appear in the `K` output.

[2020-10-13 15:45] ttuegel commented on #1594
@ana-pantilie What do you get if you run it with `krun -o kore ...`?

[2020-10-13 16:31] ana-pantilie commented on #1594
@ttuegel Now I get the output from the issue.

[2020-10-13 16:49] ReedOei opened #1590 "[Bug] [krun] - context rule rewrites on wrong construct"
K Version
---------
[code]

Description
-----------

Running `kompile --backend haskell test.k && krun test.flow` gives the following output.
This makes no sense to me, because I'm not even using the "new" construct in my program (see input files below, so I have no idea why that context rule is being used...
At any rate, the result is (in my actual language definition) that sometimes programs get

[2020-10-13 19:56] ttuegel commented on #1594
@ana-pantilie Do you mean, the same output pattern as from the original report?

[2020-10-13 20:27] ttuegel opened #1591 "[Bug] kompile rejects non-concrete simplification rule in the presence of concrete function rule"
I am using K from fec13504826f02ea16cfd5638dc8b72a8b000340.

Description
-----------

`test.k`:

[code]

Running `kompile --backend haskell test.k` gives:

[code]

Expected behavior: `kompile` should accept this definition.

Having the `concrete` attribute on one function definition rule constrains all other definition rules for the same function to have the `concrete` attribute, but there should

[2020-10-14 10:17] andreiburdusa opened #1593 "[Bug] kprove - Cannot use #Forall as a child of #And"
K Version
---------

[code]

Description
-----------

Running `kprove` with the following files causes a parsing error.

Input Files
-----------

File: `test.k`

[code]

File: `issue-2138.spec.k`

[code]

Reproduction Steps
------------------

Running the spec produces an error:

[code]

Expected Behavior
-----------------

The spec should be run successfully.

[2020-10-14 12:56] ana-pantilie commented on #1594
Yes, that's right.

[2020-10-14 14:30] ttuegel commented on #1594
We determined that `kore-exec` gives the expected output, but for some reason `krun` gives something different.

[2020-10-14 16:17] ttuegel opened #1595 "Build the K Framework with Nix"
The repository will provide a Nix expression for building the K frontend.

- [x] Build the frontend with Nix.
- [x] Upstream Nix expression from ttuegel/nixpkgs-kframework into repository.
- [x] Pass the tests.
- [x] Integrate with CI.

Depends on kframework/llvm-backend#367
Depends on kframework/kore#2193

[2020-10-15 16:42] ehildenb commented on #1591
What about:

[code]

This one should be OK. But detecting this gets tricky because `X` may be named something different or may have constructors.

Or we could switch to having `concrete` attribute on klabels instead of on rules:

[code]

and also support this:

[code]

Or we could make it so that _all_ semantic rules are `concrete`.

[2020-10-15 16:48] ehildenb commented on #1593
Likely this is a sort inference problem with the polymorphic ML connectives. @dwightguth does that sound right?
 `{_}:>SORT` will also tell it to parse it as "this sort".

@radumereuta suggests it's a priority issue. Maybe it can also be fixed with just parenthesis around the `#Forall`.

[2020-10-15 16:49] ehildenb commented on #1593
If the parens works, maybe we should change the error message to suggest "please add parenthesis around the child production".

[2020-10-15 16:54] ehildenb commented on #1594
There is a lot of different logic between the dry-run and the not dry-run options here:

https://github.com/kframework/k/blob/3a8bf7454a24585b4ae9f8825c03072ffa492ca3/haskell-backend/src/main/java/org/kframework/backend/haskell/HaskellRewriter.java#L135

It appears that the dry-run option is correct, and not dry-run is not. Maybe we should consolidate as much of those branches as possible into one

[2020-10-15 17:04] ehildenb commented on #1585
@sskeirik had an idea to link people to the "gory details" in the pending-documentation for each added feature, so users who are more "casually" browsing the user-facing manual can also get to the documentation directly (or to the tutorial directly) from the new manual. Or just improving the tutorial to (i) fix the broken links, (ii) link to the pending-documentation, and (iii) audit the content.

[2020-10-16 12:57] h0nzZik opened #1600 "ocaml-less packages"
Could we have an ocaml-free K package (maybe called kframework-lite_5.0.0_amd64_focal.deb ), so that users who do not need the ocaml backend do not have to wait for ocaml build?

[2020-10-16 13:19] dwightguth commented on #1600
The solution here would be to split k into three packages, one that just contains the postinstall script that installs opam, one that contains just the base k without opam, and then a composite package that depends on both. The downside is we may have to set up a ppa, otherwise we would force users to install all three individually if they want ocaml. I'm not sure how worth it all this extra effor

[2020-10-16 13:56] ehildenb commented on #1600
I'm fine with just telling people the steps they need for ocaml dependencies separately in the README if they need it specifically, with a warning that it's being deprecating (also in the README). Then don't include them by default in K install.

[2020-10-16 14:15] hjorthjort opened #1602 "Allow specifying max memory usage for the Bison generated parser"
Motivation
----------

I'm moving the KWasm semantics to the bison parser. I'm experimenting with some primitive versions of the grammar. When using parametric `List{Sort, Delimiter}` in the grammar and feeding the parser a large input file (~2Mb), it crashes with a "memory exhausted" error. Inspection with Valgrind reveals the total heap allocation is around ~12Mb. I'm willing to offer much more

[2020-10-16 14:46] #1545 closed, assigned to radumereuta

[2020-10-19 17:26] hjorthjort opened #1607 "[Bug] [kompile] - Frontend loops forever on certain syntax when passing --gen-[glr-]bison-parser"
K Version
---------

[code]

Description
-----------

Running `kompile` with `--gen-[glr-]bison-parser` seems to never result in a bison file being generated, and the frontend doesn't terminate.

Input Files
-----------
I haven't managed to get this in minimized form yet. But it is reproducible in https://github.com/kframework/wasm-semantics on the `hjorthjort` branch.

Reproduction Steps
--------

[2020-10-20 16:58] #1557 closed, assigned to radumereuta

[2020-10-20 17:32] hjorthjort opened #1609 "[Bug] [kompile] - gen-bison-parser and --bison-lists cause parse error when running"
K Version
---------

[code]

Description
-----------

Parser generated with  `--bison-lists` get IndexOutOfBoundsException when run

Input Files
-----------

File: `main.md`

[code]

File: `test.wat`

[code]

Reproduction Steps
------------------

[code]

Running on LLVM backend cause error

[code]

Expected Behavior
-----------------
Should parse correctly. Without `--bison-lists`, it does, produ

[2020-10-21 12:55] hjorthjort commented on #1609
Reproduced with newer version:
[code]

[2020-10-22 18:06] radumereuta commented on #1607
I managed to trace the problem to somewhere here https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/parser/inner/kernel/KSyntax2Bison.java#L190
[code]
That's a lot. So I think it does finish but it's just going to take a long time.

The Bison parser is meant to be used to parse programs, but in the list of productions I see everything from domains.md included. I think

[2020-10-23 10:48] ttuegel opened #1614 "Kore symbol attributes should refer to Kore symbols, not K labels"
Certain Kore symbol attributes produced by the frontend refer to K label names instead of Kore symbol names. For example, the declaration for the built-in `_Map_` symbol is:

[code]

Note that the `unit` and `element` symbols are referenced by their K labels, which are not canonical in Kore. It would be more useful to the backend if these were listed by their Kore symbols, which are canonical, i.e

[2020-10-23 21:39] define-null commented on #1585
Google search for kframework gave me no references to https://kframework.github.io unless I asked about some user documentation in one of the chats. It would help newcomers a lot at least to include a link to kframework.github.io in the Readme.md and on the kframework.org.

[2020-10-27 15:48] dwightguth commented on #1509
I would rather we went back to the drawing board and figured out if there's a way to support Nishant's use case that doesn't involve passing the result of `krun --output json` to `kast`. This feels like something I don't want us to have to support long term.

[2020-10-27 17:14] ehildenb commented on #1509
@nishantjr can you fill in more details about how this issue came up in your high-level workflow?

We think that relying on the frontend to do Kore -> Kast -> external tool -> Kast -> Kore should not be what's done. Maybe there is another way to accomplish the same thing?

[2020-10-27 17:25] ehildenb commented on #1549
@hjorthjort we are having problems understanding what's causing this problem. I remember that initially we found this by trying to feed the same input into the haskell bakcend that we fed into the llvm backend (without problems), and that was only using `kast` to produce the resulting JSON that was needed.

In this example you are calling `krun` instead, which exercises different code-paths. So we

[2020-10-27 17:27] ehildenb commented on #1607
Suggestions:

-   Seems like we need to run a Java profiler on the code which generates the Bison parser, and see if any of the code there can be optimized.
-   In the Java kast parser, rassoc lists are really slow, but lassoc lists are 1 order of magnitude faster. So potentially could look at optimizing the bison parser in similar ways? Should we just make user-defined lists be left-associative f

[2020-10-27 17:34] ehildenb commented on #1591
The code which checks that all function rules for a given klabel have the same set of concrete/simplification attributes, we _should not_ be considering rules which also has the `simplification` attribute.

[2020-10-27 17:35] ehildenb commented on #1607
@dwightguth should have a chance at some point to profile this.

[2020-10-27 17:39] ehildenb commented on #1607
Another possibility: maybe we can disable the slow code when doing just LR parsing (and only enable it when doing GLR parsing).

[2020-10-27 17:43] ehildenb commented on #1609
Perhaps the code which parses lists as lassoc, and then corrects it to rassoc lists, is not being done correctly when calling `kast` on grammars generated with `--bison-lists` production? It's true that this should work, but it's a strange use-case.

@hjorthjort it's confusing why we are (i) generating a bison parser, and then (ii) not using it by calling `krun` instead of `kx` or `llvm-krun`. Can

[2020-10-27 17:48] ehildenb commented on #1602
Let's just go with the simplest thing initially, `--bison-stack-max-depth NNN`, and then if we discover another use-case for generalization, we can do it then.

[2020-10-27 17:55] ehildenb commented on #1614
Looks like we need to modify ModuleToKORE. We will put this on backlog for this week, and if it doesn't get scheduled by next week, we'll get someone on Haskell backend to learn ModuleToKORE and take this task.

[2020-10-27 19:50] #1193 closed, assigned to dwightguth

[2020-10-28 21:09] nishantjr commented on #1509
@ehildenb I had needed the following pipeline to implement Boogie.

[code]
The first `kore-exec` produced a constrained term with a `\and`. After transforming this kore and trying to feed it back to kore-exec, I encountered this error.

I am no longer using `pyk` because of this bug, so I'm not stuck on this any more. (I've written a K definition for manipulating kore instead.)

[2020-10-31 00:11] radumereuta commented on #1509
@ehildenb @dwightguth there are multiple problems here
1. we already discussed the problem of kast, json being lossy transformations and that's one of the problems
https://github.com/kframework/k/blob/issue1509/kernel/src/main/java/org/kframework/unparser/KPrint.java#L300
JSON returns a label here without parameters, and then we try to apply on a list of 0 params => K crashes with IndexOutOfBounds

[2020-11-02 22:49] #1591 closed, assigned to radumereuta

[2020-11-05 00:53] #1602 closed, assigned to dwightguth

[2020-11-09 04:31] malturki opened #1630 "[KIP] - Kompile: Generate the lexical scanner so that the order of its rules is the same as the order of the token definitions in the K syntax module"
Motivation
----------

As far as I can tell, there is currently no obvious way to control the order of the lexical scanning rules generated from a K syntax definition module. Furthermore, this order seems to be determined by the internals of the generator, and thus seems quite random to the user.

Of course, the order becomes unimportant if we always ensure that all the tokens are defined using no

[2020-11-09 15:52] dwightguth commented on #1630
This is not true. You can control where in the file a token appears with the `prec` attribute. Note that this isn't the same as making that production higher priority in all cases; flex will always pick the longest token first, and only uses ordering in the file to disambiguate if both tokens are the same length.

[2020-11-09 17:30] malturki commented on #1630
Thanks for the clarification. Somehow I missed this part of the documentation describing `prec` with tokens. I'm linking it here for reference: https://github.com/kframework/k/blob/master/pending-documentation.md#prec-attribute.

What's the default precedence value for tokens that do not have this attribute specified? Is there a recommended user range to stay within?

[2020-11-09 17:50] #1600 closed, assigned to ehildenb

[2020-11-09 18:36] dwightguth commented on #1630
The default precedence is zero. Some tokens in the k prelude are given a precedence of 1 or 2, so there's not a lot of wiggle room. I think there was some discussion of trying to widen the range of numerical values used by the prelude so there's more unused values in between. If you have trouble getting the behavior you want with the existing code, we can revisit that.

[2020-11-09 18:46] malturki opened #1633 "[KIP] - Enable more modular token definitions using name expansion"
Motivation
----------

It would be really useful to be able to use names of sorts of which tokens are defined within the regexes defining these tokens, in the same way a scanner allows name definitions and then name expansions in lexical rules. This would allow more modular token definitions and more readable specs, which can be especially helpful for semantics using multiple complex token definit

[2020-11-09 18:49] dwightguth commented on #1633
Flex is capable of giving specific regexes specific names, so this ought to be doable. We just need to come up with a way to give certain names to certain regexes at the terminal level. I'm a little unsure about using sort names to do this given that there is not a 1-1 correlation between sorts and regexes, though. We need to discuss and pick a design in the meeting tomorrow.

[2020-11-09 19:41] malturki commented on #1630
Thanks. I don't think the precedence value is causing any trouble at the moment. I am closing this issue.

[2020-11-09 19:41] #1630 closed, assigned to dwightguth

[2020-11-09 21:57] ehildenb opened #1635 "The "Join the K Team!" button on kdocumentation.org is outdated"

[2020-11-10 18:07] ehildenb commented on #1593
Let's just fix the error message, no need for further changes at the moment.

[2020-11-10 18:22] ehildenb commented on #1633
We could have `token` take an optional identifier, and then the regex associated with that terminal would be given that name. If you do not supply a name, then it uses the Sort name + some unique identifier?

[2020-11-10 18:24] ehildenb commented on #1633
Actually, since it's the user who would be using the token identifiers, we probably don't need to put auto-generated ids on non-labeled ones.

[2020-11-10 18:25] #1571 closed, assigned to nobody

[2020-11-10 18:26] ehildenb commented on #1570
We're closing thish because you can use the attribute `not-lr1` on a module to indicate that it should not be imported into the bison parser.

[2020-11-10 18:26] #1570 closed, assigned to nobody

[2020-11-10 18:34] #1548 closed, assigned to nobody

[2020-11-10 18:37] #1514 closed, assigned to nobody

[2020-11-10 18:37] #1496 closed, assigned to nobody

[2020-11-10 18:38] #1479 closed, assigned to dwightguth

[2020-11-10 18:39] #1453 closed, assigned to nobody

[2020-11-10 18:44] #1495 closed, assigned to nobody

[2020-11-10 18:56] ehildenb commented on #1419
Take this test that @denis-bogdanas supplies, copy it to checks directory, and make sure that it generates the correct error message output file (after adding the appropriate Java code).

[2020-11-10 18:57] ehildenb commented on #1419
In a given test directory, you can run a test:

[code]

You can also call (to just update the committed expected output files):

[code]

Then you can use `git diff` to see the updated output.

[2020-11-10 20:18] radumereuta commented on #1419
@ehildenb this issue has already been fixed by @dwightguth with #1437

[2020-11-11 05:50] #1635 closed, assigned to ehildenb

[2020-11-11 19:50] #1593 closed, assigned to radumereuta

[2020-11-11 20:50] #1633 closed, assigned to dwightguth

[2020-11-12 17:48] ehildenb opened #1646 "Error message for missing simplification attribute is confusing"
With the following definition:

[code]

I get the following error message:

[code]

Which can be improved by adding "consider adding `simplification` attribute to the rule if this is intended".

With the following definition:

[code]

We can call `kompile --backend haskell test.k`, and then try to prove the following specification:

[code]

With `kprove --def-module VERIFICATION test-spec.k`.

It

[2020-11-13 19:46] ehildenb opened #1648 "Separated macro expander"
Currently we cannot use the bison parser for semantics which use macros because macro expansion is very closely tied to the Java parser. So we need to produce a new tool which just does macro expansion which the Bison parser can use directly.

There are two main approaches we have discussed:

-   Build a standalone tool over the LLVM (or Haskell) backend data-structures that takes a list of Kore r

[2020-11-13 19:51] ehildenb commented on #1648
The psuedo-code algorithm for option (2) (generate a K definition which expands macros) wolud look like this:

-    Function symbols become constructors.
-    A new function `expandMacros` is added to each sort which has macros, with the second argument holding a set of macro identifiers.
-    For each function symbol (now constructors), propagate the `expandMacros` function down.
-    For each no

[2020-11-17 17:44] ehildenb commented on #35
Closing this as we're no longer actively working on the OCaml backend. If this is still an issue, feel free to re-open.

[2020-11-17 17:44] #35 closed, assigned to nobody

[2020-11-17 17:45] ehildenb commented on #42
Because we are no longer actively developing the Java backend, I'm closing this. If you need concrete execution, you can use the LLVM backend on KOOL. If you need symbolic execution, give the Haskell backend a try insteaad.

[2020-11-17 17:45] #42 closed, assigned to nobody

[2020-11-17 17:51] ehildenb commented on #108
Closing this due to age, and because many improvements to how you can declare SMT symbols have been made since.

Note that you can use the `smtlib` attribute, the `smt-hook` attribute (to say that you're going to declare the symbol yourself and axiomatize it in an smt-prelude, which can be supplied by `--smt-prelude`). Note that the Haskell backend is also much smarter about sending things to Z3,

[2020-11-17 17:51] #108 closed, assigned to nobody

[2020-11-17 17:52] ehildenb commented on #197
Closing because this is related to the Java backend, which has no more active development. Try on the Haskell backend and open a new issue if the problem persists.

[2020-11-17 17:52] #197 closed, assigned to nobody

[2020-11-17 17:53] ehildenb commented on #207
You should be able to `kompile --backend haskell imp.k` on the IMP definition, and then `kprove sum-spec.k` after that to do verification. Note that we're no longer actively developing the Java backend, so please try the Haskell backend instead.

Please re-open if this is still an issue.

[2020-11-17 17:53] #207 closed, assigned to nobody

[2020-11-17 17:53] ehildenb commented on #219
While this would be nice, it's not on the roadmap anywhere. Please re-open if someone plans to do development for this.

[2020-11-17 17:53] #219 closed, assigned to nobody

[2020-11-17 17:55] ehildenb commented on #238
@daejunpark is this still a problem?

[2020-11-17 17:56] ehildenb commented on #254
@traiansf is this still an issue?

[2020-11-17 17:56] ehildenb commented on #277
If this is still an issue, feel free to re-open.

[2020-11-17 17:56] #277 closed, assigned to nobody

[2020-11-17 17:56] ehildenb commented on #337
@hjorthjort is this still an issue?

[2020-11-17 17:57] ehildenb commented on #401
Currently the Java backend supports `--boundary-cells ...` to make this happen, and teh Haskell backend automatically will halt execution if the term matches but the side-condition is not met. Feel free to re-open if this is still an issue.

[2020-11-17 17:57] #401 closed, assigned to nobody

[2020-11-17 18:12] ehildenb commented on #195
The Haskell backend correctly checks that map keys are distict (does not have this soundness problem). If you discover any problems with map unification in the Haskell backend, please re-open. Closing because Java is not being actively developed anymore.

[2020-11-17 18:12] #195 closed, assigned to nobody

[2020-11-17 18:15] #73 closed, assigned to nobody

[2020-11-17 18:23] ehildenb commented on #1646
The error is being reporting during macro expansion, because the macro expander has to check for errors which could be generated after the macro expansion phase. Somehow those errors aren't being converted into warnings (or vice-versa).

The correct message should just be these lines here:

[code]

So maybe we should just remove the change from errors to warnings.

[2020-11-17 18:26] ehildenb opened #1655 "Tutorial for learning K"
Current tutorial is focused on teaching programming languages, not on teaching K. We need a new tutorial that focuses on teaching K by starting out with easy K definitions which solve simple tasks (eg. "calculate fibonacci numbers"), and not on building programming languages.

[2020-11-17 18:29] ehildenb opened #1656 "Incremental inner parsing"
Instead of re-parsing every rule in every file, we should be smarter about cacheing the function of `(imported modules, rule bubble string) -> parsed rule`, which will allow us to skip parsing rules which we've already parsed with the same parser.

[2020-11-17 18:32] ehildenb opened #1657 "Parametric collections"
The collections `Map`, `List`, and `Set` should be made into collections `Map{X,Y}`, `List{X}`, and `Set{X}`.

This will allow much tighter typing of semantics, and easier symbolic reasoning.

This will require:

-   Support from LLVM backend.
-   Double-checking the support in Haskell backend.
-   Support for correct parsing/type checking in frontend.
-   Change `domains.k` (ideally defining the

[2020-11-17 18:43] ehildenb opened #1658 "Module signatures supporting public/private syntax and imports"
This would enable more incremental parsing.

We want to be able to:

-   Declare that a piece of syntax is `private`, so it cannot be used in either (i) modules which import the module it's declared in, or (ii) programs.
-   Declare that you are importing a module `A` into module `B` in a `private` manner, meaning that the module `B` may use the syntax of module `A`, but any module importing `B` m