[2020-11-17 19:00] ehildenb commented on #1471
`kprove --def-module VERIFICATION my-spec`

This means that we have to call `kompile VERIFICATION`, and then process the claims that exist in `MY-SPEC` (on every invocation of `kprove`).

Instead we want to just call `kompile VERIFICATION` once, and then just process the claims `MY-SPEC` separately, so that `MY-SPEC2` can re-use the call to `kompile VERIFICATION`.

[2020-11-17 19:37] daejunpark commented on #238
Close this for now: https://github.com/kframework/k/pull/240#issuecomment-469931127

[2020-11-17 19:37] #238 closed, assigned to nobody

[2020-11-17 19:51] hjorthjort commented on #337
No, it isn't, let's close it.

Everett Hildenbrandt <notifications@github.com> schrieb am Di., 17. Nov.
2020, 6:57 PM:

[2020-11-17 19:51] #337 closed, assigned to nobody

[2020-11-17 20:26] traiansf commented on #254
I think not. And it seems to old for us to care anyway; moreover, lots of things have changes in the way we pretty print things, so I would say we can close this.

[2020-11-17 20:26] #254 closed, assigned to traiansf

[2020-11-19 23:41] ehildenb opened #1664 "[KIP] - Tool for proving functional lemmas sound"
Motivation
----------

When doing proofs, it's necessary to write a (usually large) body of lemmas for simplifying out functional terms. These lemmas are fed to the backend as axioms, without checking their validity. This increases our trust base (sometimes dramatically) for formal verification engagements).

If we can mechanically prove these lemmas are consistent with the definition (and the oth

[2020-11-19 23:44] ehildenb commented on #1664
What I would like to do is discuss how to automate this more. The frontend can continue to be handled by `pyk`, but I'd like to avoid having to mangle the definition to make this whole process go through.

The biggest changes I have to make to the definition are:

-  Make sure every symbol that shows up in the lemmas has `smtlib` and `simplification` attribute.
-  Make sure that every lemma in the

[2020-11-23 18:03] ehildenb opened #1668 "LLVM-11 upgrade causes debian packaging to fail"
For example: https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/k/detail/master/1010/pipeline/

[2020-11-24 16:30] ehildenb commented on #1664
The branch `pyk-prove-lemmas` on KEVM now has all the infrastructure in place for doing this, with just the submodule pegged version of K there. It does not succeed very often, because of the "turning off Z3 `unknown` errors" issue in the haskell backend.

[2020-11-30 18:03] dwightguth opened #1674 "Test k homebrew package on Big Sur"
There is a new release of Mac OS and the latest version of Anka now supports Big Sur VMs, so we should probably try to test the Homebrew package of K to see if it works on Big Sur. This is going to involve updating the Anka stack to the latest version and then downloading the Big Sur installer to our mac server and using it to create a Big Sur Anka VM. We then can install the K package and see if

[2020-11-30 18:26] radumereuta opened #1675 "[Bug] make - make <target> doesn't work"
Version
[code]

Description
-----------

`make <target>` doesn't work. <target> gets treated as a path instead of a target for Makefile

[code]

Expected Behavior
-----------------
Expecting this to recurse through every directory and run all tests that run `kprove`.
I've deleted the `proofs` directory from and now I get a different error:
[code]

[2020-11-30 19:01] nishantjr opened #1676 "Bug: Krun: Domain values for Bytes in Kore is not consistent between frontend and haskell backedn"
K Version
---------

[code]

Description
-----------

The Frontend produces kore that the backend cannot consume.

The empty Bytes produced by the front end is represented by `\dv{SortBytes{}}("b\"\"")`.
The backend produces `\dv{SortInt{}}("0")` instead.

The frontend is able to consume the backend's version, but `kore-exec` chokes on kore produced by the frontend.
Since kore is the language that

[2020-11-30 19:05] dwightguth commented on #1676
Basically, it looks like the code path that converts our kast data structures back to kore is not invoking the code to convert this back to the kore representation. It's unfortunately not possible to use the same representation both places, but it ought to still be fixable.

[2020-12-01 17:08] ehildenb commented on #46
The K tutorial has been revamped at https://kframework.org. If there are broken links there, please open a new issue pointing them out.

[2020-12-01 17:08] #46 closed, assigned to nobody

[2020-12-01 17:08] ehildenb commented on #50
The K frontend has changed significantly since this issue was opened. If this is still an issue, please open a new bug report with reproduction steps following the bug report template.

[2020-12-01 17:08] #50 closed, assigned to nobody

[2020-12-01 17:09] ehildenb commented on #223
The structure of domains.md and kast.md has changed significantly. If this is still an issue, please open a new issue with reproduction steps following the bug report template.

[2020-12-01 17:09] #223 closed, assigned to nobody

[2020-12-01 17:10] ehildenb commented on #420
@denis-bogdanas is this still an issue? If not, please close.

[2020-12-01 17:11] ehildenb commented on #430
@yzhang90 is this still an issue? If not, please close.

[2020-12-01 17:12] ehildenb commented on #478
This can be achieved using the system calls in K, and I think @nishantjr can post his example of the wrapper library he used for making this work here. Closing for now.

[2020-12-01 17:12] #478 closed, assigned to nishantjr

[2020-12-01 17:13] ehildenb commented on #494
Using the Haskell or Java backends (Haskell recommended), you can pass `--debugger` option to have it start the proof repl instead of just attempting the proof. To use this with `krun --search`, you may need ot instead do `--haskell-backend-command kore-repl`.

Re-open if this does not work.

[2020-12-01 17:13] #494 closed, assigned to nobody

[2020-12-01 17:14] ehildenb commented on #496
The frontend has changed pretty dramatically since this issue, as well as domains.md and kast.md. If this is still an issue, please re-open.

[2020-12-01 17:14] #496 closed, assigned to nobody

[2020-12-01 17:14] ehildenb commented on #539
If this is still an issue, please open a new bug report with exact reproduction steps.

[2020-12-01 17:14] #539 closed, assigned to nobody

[2020-12-01 17:14] ehildenb commented on #546
The haskell backend can do this with it's `--save*` options.

[2020-12-01 17:14] #546 closed, assigned to ehildenb

[2020-12-01 17:15] ehildenb commented on #565
Please re-open if this is still an issue, with exact reproduction steps.

[2020-12-01 17:15] #565 closed, assigned to nobody

[2020-12-01 17:15] ehildenb commented on #580
Closing in favor of general discussion about Kompile pipeline in #1279

[2020-12-01 17:15] #580 closed, assigned to nobody

[2020-12-01 18:10] ehildenb commented on #582
We should change `kast` to read from stdin if a hyphen is passed on command line.

[2020-12-01 18:14] ehildenb commented on #1664
We will wait and see what other needs for this arise (other than KEVM) to have a better idea of what is needed.

[2020-12-01 18:16] ehildenb commented on #249
If this is still an issue, please re-open with the new bug report template and reproduction steps against newest K.

[2020-12-01 18:16] #249 closed, assigned to nobody

[2020-12-01 18:17] ehildenb commented on #41
We will comb through the tutorial and remove references to KDoc and `--pdf` option.

[2020-12-01 18:23] ehildenb commented on #1676
When converting K back to Kore, you need to de-escape Byte and String. String may already be handled, so look for that code.

[2020-12-01 18:25] ehildenb commented on #1676
Also, looking at the issue, it appears that there is an extra injection being added at the top of term from KItem -> GeneratedTopCell, even though the term underneath is already a GeneratedTopCell. So when converting K -> Kore, we need to also pass in an expected sort which the algorithm takes into account.

[2020-12-01 19:20] #1675 closed, assigned to radumereuta

[2020-12-01 20:49] #1668 closed, assigned to dwightguth

[2020-12-02 01:30] nishantjr opened #1682 "[Bug] krun unable to unparse symbolic ints to kore `(NoSuchElementException: key not found: #SemanticCastToInt)`"
K Version
---------

[code]

Description
-----------

See title

Reproducing
-----------

Running this definition with `--output kore` crashes.

[code]

[code]

Expected Behavior
-----------------

Correct kore output

[2020-12-02 01:39] nishantjr opened #1683 "[Bug] krun/kore-exec: No error message when missing configuration arguments"
K Version
---------

[code]

Description
-----------

`krun` prints `#Bottom` for the haskell backend when missing arguments for the config variables.
I expect an error message such as "Missing configuration variable "$Foo". Use `-cFoo=<Value>` to set".

Reproducing
-----------

[code]

Expected Behavior
-----------------

I expect an error message such as "Missing configuration variable "$Foo". U

[2020-12-02 02:07] nishantjr opened #1684 "Merge `--help` and `--help-experimental`, remove defunct options."
Motivation
----------

Various options for the K utilities are split into `--help` and `--help-experimental`.
However, this split feels arbitrary.
Several  "experimental" options such as `--gen-bison-parser` are used very commonly.
A much less commonly used, but related option `--bison-lists` is "non-experimental.

There are also several options that I suspect are defunct such as `--documentation`

[2020-12-02 02:28] nishantjr opened #1685 "[KIP] - Improved "let" bindings"
Motivation
----------

K currently supports let bindings via the `#fun` construct.
However, this syntax is complex looking nested expressions when multiple variables are bound.
Moreover,  `#fun`  is difficult(impossible?) to use when the let binding needs to be used in multiple cells.

Proposal 1
--------------

Introduce new `where` clause in rules.

Pros: Clear and concise
Cons: Might be backwar

[2020-12-02 03:01] nishantjr opened #1686 "[KIP] - Introduce DSL for generating Makefiles and `kfoo` runner scripts"
Motivation
----------

The build infrastructure for typical K semantics is highly structured, and more of less identical across languages.
At the moment, we hand write Makefiles, test infrastructure and runner scripts.
This makes them difficult to update across projects, difficult and tedious to maintain.

Proposal
------

I propose introducing a python-based DSL that allows::

1. generation of `M

[2020-12-02 14:58] sskeirik opened #1688 "[Bug] [build] - K Framework GitHub Pages Deploy Error"
K Version
---------

master branch (current HEAD) commit: 5701be4

Description
-----------

According to Jenkins build log: https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/k/detail/master/1016/pipeline, the GitHub Pages deploy script fails. The final failing command is:

[code]

@shd101wyy, I have assigned this to you, but if that is a mistake, please unassign yourself an

[2020-12-02 16:49] #1688 closed, assigned to shd101wyy

[2020-12-02 19:49] #582 closed, assigned to dwightguth

[2020-12-03 22:47] radumereuta commented on #1676
@nishantjr I think I have a quick fix for the Haskell backend, but I'm not sure about the LLVM. Can you provide more details for that?
I'm not sure what this is: `--some-weird-option` and the contents of `input.test`. And probably `test.k` changes also since you have input now.

[2020-12-03 22:49] #1471 closed, assigned to radumereuta

[2020-12-03 23:20] nishantjr commented on #1676
@radumereuta I've been able to unblock myself re this bug, by using the K internal plumbing directly (`llvm-krun`), instead of `krun`. I'm not sure I understand why the fix woud be different for LLVM vs Haskell? Wouldn't this issue happen whenever the frontend performs kore to kore parsing/unparsing?

Oh, that last section is accidentally left over from the template. I'll fix it.

[2020-12-03 23:49] #1646 closed, assigned to radumereuta

[2020-12-03 23:52] radumereuta commented on #1676
When going from Kore to K (the Java/Scala internal representation) Bytes and Strings get escaped:
https://github.com/kframework/k/blob/master/kore/src/main/scala/org/kframework/parser/kore/parser/KoreToK.scala#L161
(Let it be noted that I don't agree with this representation)
The problem was they were not being escaped back when converting from K to Kore:
https://github.com/kframework/k/blob/maste

[2020-12-04 02:42] nblei commented on #1419
[Error] Compiler: Cell bags are only supported on the Java backend. If you want
this feature, comment on https://github.com/kframework/k/issues/1419 . As a
workaround, you can add the attribute type="Set" and add a unique identifier to
each element in the set.
	Source(/magnetic/courses/k/tutorial1/imp++/./imp.k)
	Location(41,17,51,21)

pops up when working through the tutorial for imp++.  Would be

[2020-12-04 04:17] ehildenb commented on #1419
Reopening but changing target to modification of the tutorial.

[2020-12-04 19:15] #1676 closed, assigned to radumereuta

[2020-12-04 21:54] radumereuta commented on #1549
Fixed by #1692

[2020-12-04 21:54] #1549 closed, assigned to nobody

[2020-12-04 21:57] radumereuta commented on #1682
I think this is a duplicate of #1509.
When loading from Kore into K internal data structures, when you have an injection on top of a variable it gets converted into a cast:
https://github.com/kframework/k/blob/master/kore/src/main/scala/org/kframework/parser/kore/parser/KoreToK.scala#L120
But when pretty-printing it does not get reversed.

[2020-12-08 17:25] ehildenb commented on #584
Subsumed by #1560

[2020-12-08 17:25] #584 closed, assigned to nobody

[2020-12-08 17:26] ehildenb commented on #420
Closing as there is no response, feel free to re-open.

[2020-12-08 17:26] #420 closed, assigned to nobody

[2020-12-08 17:26] ehildenb commented on #631
Subsumed by #1595

[2020-12-08 17:26] #631 closed, assigned to nobody

[2020-12-08 17:28] ehildenb commented on #598
The OCAML backend is being deprecated. If you notice the same problem on eth LLVM backend, please open new bug report issue with reproduction steps for that backend.

[2020-12-08 17:28] #598 closed, assigned to nobody

[2020-12-08 17:28] ehildenb commented on #611
Closing as K has changed significantly, and we are targeting the Haskell backend now. Feel free to re-open if it's still an issue.

[2020-12-08 17:28] #611 closed, assigned to nobody

[2020-12-08 17:29] #643 closed, assigned to nobody

[2020-12-08 17:29] ehildenb commented on #702
Related to #1685 , let's move discussion there.

[2020-12-08 17:29] #702 closed, assigned to nobody

[2020-12-08 17:30] ehildenb commented on #703
This will be solved by not allowing new syntax between the `--def-module` and the `--spec-module`, which is addressed in #1681

[2020-12-08 17:30] #703 closed, assigned to nobody

[2020-12-08 17:30] ehildenb commented on #733
@denis-bogdanas is this still an issue?

[2020-12-08 17:31] ehildenb commented on #749
Addressed by #1579

[2020-12-08 17:31] #749 closed, assigned to nobody

[2020-12-08 17:32] ehildenb commented on #762
Closing as this is targeting an old backend. If it's still an issue on the LLVM or Haskell backends, please open a new bug report with reproduction steps.

[2020-12-08 17:32] #762 closed, assigned to nobody

[2020-12-08 17:33] ehildenb commented on #766
Closing this because `--boundary-cells` fixes the issue. If it's reproducable on teh Haskell backend, please open a new bug report with reproduction steps targeting that backend.

[2020-12-08 17:33] #766 closed, assigned to nobody

[2020-12-08 17:33] ehildenb commented on #773
This will be addressed by dis-allowing syntax declared between th edef module and the spec module, which is here: #1681

[2020-12-08 17:33] #773 closed, assigned to nobody

[2020-12-08 17:34] ehildenb commented on #775
We now can directly read markdown files, rather than relying on an external tool.

[2020-12-08 17:34] #775 closed, assigned to nobody

[2020-12-08 17:34] ehildenb commented on #776
Subsumed by #1658

[2020-12-08 17:34] #776 closed, assigned to nobody

[2020-12-08 17:35] ehildenb commented on #781
This should be fixed now. If there is an example where it's not, please open reproduction steps in a new issue.

[2020-12-08 17:35] #781 closed, assigned to nobody

[2020-12-08 17:37] ehildenb commented on #830
If this is still an issue on the LLVM backend or Haskell backends (not OCAML or Java), please open a new bug report with reproduction steps

[2020-12-08 17:37] #830 closed, assigned to nobody

[2020-12-08 17:38] ehildenb commented on #840
Closing as there have been many changes since to the cacheing. If we have a specific example where it is slow, please open a bug report detailing that.

[2020-12-08 17:38] #840 closed, assigned to denis-bogdanas

[2020-12-08 17:38] ehildenb commented on #841
This check should be implemented now. If it's still a problem on the LLVM or Haskell backends, please open a new bug report with updated reproduction steps

[2020-12-08 17:38] #841 closed, assigned to nobody

[2020-12-08 18:08] ehildenb commented on #821
@denis-bogdanas is this still an issue on modern backends?

[2020-12-08 18:10] ehildenb commented on #813
Subsumed by #1415

[2020-12-08 18:10] #813 closed, assigned to nobody

[2020-12-08 18:11] ehildenb commented on #784
Not trivial to fix, if someone else has this problem, please re-open. You can work around it by renaming your non-cell productions

[2020-12-08 18:11] #784 closed, assigned to nobody

[2020-12-08 18:14] ehildenb commented on #778
This should largely be subsumed by constant folding over the rules in a semantics. Closing for now.

[2020-12-08 18:14] #778 closed, assigned to nobody

[2020-12-08 18:16] ehildenb commented on #733
This is definitely a bug in the type-system if it reproduces (should be a parse error, because the return sort on the RHS of the rule is not correct).

[2020-12-08 18:17] ehildenb commented on #616
Duplicate of #837

[2020-12-08 18:17] #616 closed, assigned to nobody

[2020-12-08 18:22] ehildenb commented on #1682
The linked code should insert this production not in the KoreToK pass, rather in the KoreToTreeNodes pass.

Add annotation `Sort` class keyed attribute to KVariable so that the injections pass knows how to insert the correct injections (read this attribute in KoreToTreeNodes and correctly turn it into a cast).

[2020-12-08 18:26] ehildenb commented on #1683
This check will have to happen in the frontend, so the frontend will need to know about the variables.

Since it already does, it should be possible.

Modify both the old and new krun/kx code-paths to make this check.

[2020-12-08 18:33] ehildenb commented on #1686
Problem with a `kinit` approach to make a skeleton project means that updating your semantics to the latest K means re-running and reporting any changes you make.

We favor an approach where libraries are included in the K repo directly (in the library path) which you can include into your Makefile/runner script, so that the project specific makefile/runner script could import them.

Also open to

[2020-12-08 18:43] ehildenb commented on #1685
Limited support that we could start with:

-   Each `where` clause may define one new RHS variable, and the definition on the rhs of the `where` clause may only use (i) variables from the LHS of the rule, or (ii) variables defined on the lhs of previous `where` clauses.
-   No recursive bindings in where clauses.

Haskell backend will compile these to an `ensures`, LLVM backend will have special s

[2020-12-08 18:45] ehildenb opened #1697 "K version bump feature list (5.2.0)"
- Features:
  - Deprecated `imports syntax`: #1851
  - Constant folding kompiler pass: #1896, #1946, #1958
  - MAP module is automatically imported into all modules that declare configurations: #1965
  - `krun --search` supported in LLVM backend: #1978
  - #2082
  - kprovex: #2089
  - #1658
  - #2164
  - #2199
  - #2204
  - #2209
  - #2214
  - #2218
  - #2002
  - #1584
  - #2292
- Documentation up

[2020-12-08 18:47] ehildenb commented on #1684
We should remove the distinction, and audit the existing options for removal.

[2020-12-08 18:49] ehildenb commented on #753
Report an error if `#as` appears on the RHS of a rewrite, or if a rewrite appears on the LHS of an `#as`

[2020-12-08 18:51] ehildenb commented on #753
If you want this RHS `#as` in a claim, you can just as well use `#And`, so we should also restrict this for claims if it's not too much trouble.

[2020-12-08 19:49] #1568 closed, assigned to dwightguth

[2020-12-10 20:30] ehildenb opened #1703 "K Release not going through"
The K MacOS build keeps timing out: https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/k/detail/master/1032/

[2020-12-13 03:20] boggle opened #1706 "Document version requirements for dependencies"
Hi,

I run into test failures coming from z3 trying to build k on os x (both release 5.0 and master). I suspect this may be due to a z3 version mismatch. Could you please document versions of all dependencies used per platform for successful (major) releases for people installing from source? Thanks!

[2020-12-13 03:22] boggle commented on #1655
I'd really appreciate a decent manual for k, this is really hard to get into without one.

[2020-12-15 17:47] ehildenb commented on #902
Because this is a Java backend error, I'm closing this. If this is reproducible on the Haskell backend, please open a new bug report with reproduction steps targeting that backend.

[2020-12-15 17:47] #902 closed, assigned to nobody

[2020-12-15 17:48] ehildenb commented on #959
This targets the Java backend, so I'm closing for now.

If you have reproduction steps, please re-open a new bug report with those steps.

[2020-12-15 17:48] #959 closed, assigned to MrChico

[2020-12-15 17:51] ehildenb commented on #996
I think it's unlikely you can remove dependence on `Bool` entirely, because it's used in side-conditions on rules.

Please re-open with a self-contained example if this is still an issue for you.

[2020-12-15 17:51] #996 closed, assigned to nobody

[2020-12-15 17:52] ehildenb commented on #1032
Closing this as it's not actionable.

[2020-12-15 17:52] #1032 closed, assigned to nobody

[2020-12-15 18:04] ehildenb commented on #1000
This is a bug in the frontend where non-recursive macros are being applied recursively.

Because the wasm semantics changed and made it not needed, we will ignore for now.

[2020-12-15 18:06] ehildenb commented on #984
@traiansf is this still an issue? If so, can you post a self-contained example? For example, we cannot tell if this is a function rule or a rewrite rule.

If it's a function rule, this should likely be an error. If It's a rewrite rule, at least the Haskell backend should do something sensible, the LLVM backend likely cannot handle this.

[2020-12-15 18:09] ehildenb commented on #976
Because there is no general way to fix this, closing for now. If you supply a general way to fix this (even for a with-config function that is infix, for example), please re-open.

[2020-12-15 18:09] #976 closed, assigned to nobody

[2020-12-15 18:11] ehildenb commented on #975
This is likely still a problem for `#as` patterns in simplification rules (though the function encoding changes probably fixed it for semantic rules).

[2020-12-15 18:12] #966 closed, assigned to nobody

[2020-12-15 18:18] ehildenb commented on #843
Solutions we can think of:

-   When an attribute is not recognized as a built-in, check the edit distance with builtins and emit a warning for any it's similar to.
-   Have a whitelist of attributes which are checked against, any existing user-defined attributes would have to wrapped in a new whitelisted attribute.

At least a K 5.3 feature, or later.

[2020-12-15 18:20] ehildenb commented on #1706
We require Z3 to be at least 4.6, and recommend  at least 4.8.

[2020-12-15 22:10] ehildenb commented on #945
Duplicate of runtimeverification/llvm-backend#579

[2020-12-15 22:10] ehildenb commented on #966
Duplicate of runtimeverification/llvm-backend#579

[2020-12-15 23:12] radumereuta opened #1711 "[KIP] - kx improvements"
Right now kx is just a bash script with limited functionality compared to the java implementation of krun.
Here are some improvement proposals:
- [ ] cmd line arguments should be parsed by a library (help is manually formatted in a string right now)
- [ ] more modularity. The script is already over 500 loc and growing and it's hard to keep track of things.
- [ ] more error messages and warnings

W

[2020-12-16 12:39] traiansf commented on #984
@ehildenb  It wouldn't make sense as a function, because a function cannot be nondeterministic and must have an additive semantics.

a self-contained test would be
[code]

This generates a kore alias/rule looking like this:

[code]

Which essentially exhibits the same behavior I explained in the original report.

The Haskell backend doesn't complain about it at compilation time but would behave er

[2020-12-16 12:40] traiansf commented on #984
Interestingly enough , macros expansions are allowed to have `#Or` in the RHS and there are regression tests checking that.

[2020-12-16 14:18] dwightguth commented on #1711
I tend to disagree with most of these suggestions. First of all, it's not uncommon for tools to have manually written help texts; take a look at GNU Coreutils for example.

As far as "more modularity", it was deliberately written the way it was, as a flatter sequence of logic than krun, which had such a degree of encapsulation that it actually became problematic. We can break the logic into some b

[2020-12-16 15:49] #753 closed, assigned to radumereuta

[2020-12-16 17:49] #41 closed, assigned to ehildenb

[2020-12-16 21:51] radumereuta commented on #1711
You can only print one error message right now and exit. This might be more relevant to `kompile` though.
For more error messages I will look into the current krun code and see what else is missing and add them to the list.

[2020-12-16 22:08] ttuegel opened #1714 "[Bug] kprove - rejects valid claim"
K Version: v5.0.0-a507642

`kprove` rejects this claim:

[code]

[code]

with the following error:

[code]

This claim was accepted in version `v5.0.0-5701be4`.

Expected behavior: claim is accepted by the compiler.

[2020-12-16 22:24] ehildenb commented on #1714
this is because of https://github.com/kframework/k/issues/1472

[2020-12-16 23:12] dwightguth opened #1715 "Don't emit nonterminals into Bison grammar if they are not reachable from start symbol."

[2020-12-17 00:49] ehildenb commented on #1472
One example bug you can add as a regression test is #1714

[2020-12-17 02:46] ttuegel commented on #1714
You're probably right, but I don't think the check in #1472 should even be relevant because the variable isn't free in the rule, it's bound explicitly by `#Forall`.

[2020-12-17 02:55] ehildenb commented on #1714
Could be that the check also needs to be modified to take binders into account

[2020-12-17 22:30] #1595 closed, assigned to ttuegel

[2020-12-18 15:36] ttuegel commented on #1614
@MirceaS In `ModuleToKORE`, we probably need to change the strings in the attributes to `KApply` objects.

[2021-01-04 21:43] radumereuta commented on #1714
Duplicate of: #1472

[2021-01-04 21:43] #1714 closed, assigned to radumereuta

[2021-01-05 18:28] #1703 closed, assigned to shd101wyy

[2021-01-05 21:49] #1715 closed, assigned to dwightguth

[2021-01-06 18:51] #1648 closed, assigned to dwightguth

[2021-01-06 20:34] ehildenb opened #1734 "Documentation Updates"

[2021-01-06 22:49] #1472 closed, assigned to radumereuta

[2021-01-08 16:43] ana-pantilie opened #1737 "[Bug] [kompile] - simplification rule translation to kore"
K Version
---------

I'm using the following version of K:

[code]

Description
-----------

`simplification` rules should get translated to match what the user wrote as closely as possible, so that the Haskell backend can apply them directly onto matching terms, without having to simplify the rules first.

Input Files
-----------

Minimized example module:
[code]

Reproduction Steps
-------------

[2021-01-08 20:52] radumereuta opened #1738 "[Bug] make doesn't fail when kprove returns error code but the output is correct"
[code]
This means that `make` passes, but `make update-results` fails, which makes it really annoying to test.

The solution is to add `SHELL=/bin/bash -o pipefail` to `ktest.mak` but now a lot of tests fail.

[2021-01-08 21:08] radumereuta commented on #1738
Well... that doesn't really work because of this:
[code]
`cat` is used to give input to `krun`, but not all tests have input so it returns exit code 1 when it doesn't find a file.

Suggestions?

[2021-01-09 19:59] radumereuta commented on #1738
Got over the cat issue with:
[code]
But I would also like to overhaul the output checks.
I would like to have 3 files: *.out, *.err and *.exitcode. If one is missing then the output should be empty, or exit code 0. `update-results` should update only the existing files, it should not create new ones.
This way we could unify ktest.mak and ktest-fail.mak

One disadvantage is that the command for eac

[2021-01-11 15:29] ehildenb commented on #1738
You can do `-k` to `make` to keep running if any tests fail.

Note that this isn't new, we rely on output checks and not error code in many cases on purpose. That's because many of the tests rely on non-zero output codes, but we want to make sure the output is correct.

I'm not opposed to overhauling the build system, just keep in mind that it's setup how it is to allow us to have tests which do e

[2021-01-11 16:54] dwightguth opened #1741 "Bison parser is default"
The goal here is to try to improve usability and other behavior to the point where it may be possible to make the Bison parser the default program parser for K.

[2021-01-11 16:56] dwightguth opened #1742 "Concrete execution search"
This is, properly speaking, an llvm backend task, but we are creating an issue here so it can live on the K project board. The goal here is to support krun --search in the llvm backend.

[2021-01-12 17:27] #1558 closed, assigned to nobody

[2021-01-12 18:20] ehildenb commented on #1364
One thing to keep in mind is that if we send all functions to the solver, the smtlib attribute doesn't mean much of anything anymore, except for controlling the symbol name that is sent to the solver (which is useful for smt-prelude options).

We should wait on this for when more of KEVM is migrated to the Haskell backend, because it provides an extensive test-suite for smtlib/smt-hook/smt-lemma.

[2021-01-12 18:26] ehildenb commented on #1738
[code]

`make CHECK=cp`

`make ALWAYS_SUCCEED=false`

[2021-01-12 18:27] #1738 closed, assigned to nobody

[2021-01-12 18:31] ehildenb commented on #1737
We need to disable the pass which inserts `\and` on the rules (to make re-construction of terms cheaper) for `simplification` rules.

This lives in https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/compile/MinimizeTermConstruction.java.

This pass should also be disabled on the term `true`, because it can turn non-existent side-conditions into existent ones.

[2021-01-12 18:53] ehildenb commented on #1741
Before making GLR the default, let's make sure:

-   It works with C-semantics.
-   It works with IELE.
-   It works with KEVM.
-   We know the limitations for KWasm, and know that the KWasm build-system can correctly invoke the old parser if needed.

[2021-01-13 15:07] boggle commented on #1706
Thanks but how about you keep this information in the installation instructions and up to date? Even better, if the build would detect a bad version and produce a meaningful error message.

[2021-01-13 15:20] ehildenb commented on #1706
The simplest thing to do is inspect the `Dockerfile`, which is used on CI. The documentation may fall out of date, but that must be kept up to date because it is run on every PR.

[2021-01-13 16:54] radumereuta commented on #733
Apparently, this has been fixed since it's been reported (probably with the SMT type inferencer).
You now get this error message:
[code]
Not the most intuitive, but it points you in the right direction.

[2021-01-13 16:54] #733 closed, assigned to radumereuta

[2021-01-13 18:49] #1682 closed, assigned to radumereuta

[2021-01-13 21:52] davidstreader opened #1747 "Kompile imp.k NullPointerException on MacOS Catalin 10.15.6"
[Bug] kompile - crash when compiling with kompile --debug imp.k
dstr@Dstr lesson_1 % kompile imp.k
[Error] Internal: Uncaught exception thrown of type NullPointerException.
Please rerun your program with the --debug flag to generate a stack trace, and
file a bug report at https://github.com/kframework/k/issues
(NullPointerException: null)
dstr@Dstr lesson_1 % kompile --debug imp.k
java.lang.NullPo

[2021-01-14 01:35] boggle commented on #1706
Good advice, thanks. Still might be worth documenting that in the installation instructions somewhere.

[2021-01-14 19:25] dwightguth commented on #1655
Here is the proposed lesson outline for the proposed tutorial:

### Basic concepts

1. Productions / the rewrite operator / matching / variables / rules / attributes
2. BNF syntax / parser generation
3. Modules and imports
4. Integers and booleans
5. Side conditions and owise
6. Literate programming in Markdown
7. Unparsing, brackets, and the format and color attributes
8. Strings
9. User lists
10

[2021-01-14 19:35] ehildenb commented on #1655
I would move "Debugging with gdb", "Backends and search", "Unification and symbolic execution", "Basic proofs / ensures" to intermediate concepts. This groups it with other specialized tooling that exists in intermediate, and it makes it so that basic concepts is focused on K, and not on tooling.

I would move "List, Map, and Set", "Function context", and "Record productions and named nonterminals

[2021-01-14 19:36] dwightguth commented on #1747
What does `z3 --version` show?

[2021-01-14 19:38] sskeirik commented on #1655
Do we want to include a section on using explicit klabels to work around K parser issues (e.g. what if my language syntax uses a reserved keyword in K?)?

Does the parser generation section cover semantics which consume multiple kinds of inputs (i.e. more than one input file or an input file and a string, etc.)?

[2021-01-14 19:38] ehildenb commented on #1655
@sskeirik see point (5) in intermediate for explicit klabels.

[2021-01-14 19:41] dwightguth commented on #1655
@sskeirik I believe the parser generation for other configuration variables is going to be covered in the section on cells and the configuration, because it can't really be introduced until we introduce configuration variables themselves. The parser generation section is going to focus on the basics of using Bison parsing, priority, associativity, prefer/avoid, and lexical syntax.

[2021-01-14 19:45] dwightguth commented on #1655
I tend to disagree with Everett's suggested reorderings, at least some of them. I definitely think proofs should be part of the basic concepts, and that necessitates building up to them with most of the other sections I mentioned. Plus, people are going to want to understand how to debug sooner rather than later because it's a very important basic concept when developing code, especially if you're

[2021-01-14 19:49] ehildenb commented on #1655
@dwightguth I don't feel strongly about function context and record productions, so those can stay as you have put them. Let's please move List/Map/Set earlier though.

I do think we should not introduce more advanced tooling in basic concepts though. I _rarely_ use the LLVM debugger, and I'm an advanced K user. I only use it to debug very tricky cases in the semantics or bugs in the LLVM backend

[2021-01-14 19:51] ehildenb commented on #1655
In fact, I would say that the entire basic concepts section should be do-able with _just_ the llvm backend (no symbolic execution). It should be focused on teaching K (the language), not K (the ecosystem of tools).

[2021-01-14 20:15] dwightguth commented on #1655
I've had a number of people come to me over the past year or so dissatisfied with the status quo of debugging in k, which essentially amounted to repeatedly executing code up to a certain depth until you find where the problem is. As a result, I built the gdb set of tools for debugging k definitions, which allows you to break when certain side conditions are evaluated, certain rules are applied, o

[2021-01-14 20:26] ehildenb commented on #1655
Once again, there is the separation between K (the language) and K (the tooling). We should definitely have a tutorial track focused entirely on K (the language), which I'm proposing your basic concepts track should cover.

Also keep in mind that there is a difference between _learning_ a language and _using_ a language. I don't think anyone will disagree with you that when _using_ K, you should u

[2021-01-14 20:40] dwightguth commented on #1655
I'd like to hear from @grosu , who has the most experience of any of us teaching, and a junior developer who doesn't know K very well (@emarzion maybe?) to see what they think sounds more useful of the two approaches. Is it better to introduce more complex concepts that nevertheless form the foundation of long term understanding, like symbolic execution, earlier or later? What would k newbies actu

[2021-01-14 20:44] ehildenb commented on #1655
Well, to be clear, I have taught in the past. I TA'ed the programming language course several times while I was at UIUC, and have other teaching experience from before that. Obviously @grosu has a lot more experience than that.

But I'd like to emphasize again, teaching K should be done in-browser initially, and so we should focus on tools we can teach in-browser. Without significant work, we won'

[2021-01-14 20:45] ttuegel commented on #1655
I am surprised to see "User lists" before "List / Map / Set". I suppose I see more user lists than Lists, but Map and Set are very common. I tend to think cell multiplicity should be covered at the same time as configurations and cells; I don't think I've seen any non-trivial configuration that didn't use multiplicity. Then the tutorial would have to cover Map and Set before configurations. I woul

[2021-01-14 20:50] dwightguth commented on #1655
I can move user lists later, but I can't move Map/Set before configurations because I can't introduce Map/Set easily until I introduce top level rules, because before that point, all of the examples consist of parsing a function term directly into the k cell and just evaluating the function, which I can't do with functions over maps and sets because Bison doesn't support the syntax of the MAP or S

[2021-01-14 21:41] radumereuta opened #1748 "[Bug] regression tests not parallel are slow"
Recently have been added a new set of tests which have the option:
[code]
https://github.com/kframework/k/blob/master/k-distribution/tests/regression-new/map-symbolic-tests-haskell/Makefile#L2

I run the integration tests a lot and this makes it really slow for my workflow.

Is there an option to disable parallelization only on jenkins?
@ttuegel said there are some problems with some of the machin

[2021-01-14 21:44] ttuegel commented on #1748
We are always going to have intermittent failures on Jenkins because the load is going to be unpredictable; it's only a question of how often. One solution would be to run fewer tests in parallel on Jenkins. This would probably make the fastest runs slower, but it's unlikely to affect the longest runs (which are probably over-saturated anyway).

[2021-01-15 02:13] davidstreader commented on #1747
dstr@Dstr lesson_1 % z3 --version
dyld: Library not loaded: /gnatmail/sandbox/gpl-2016/x86_64-darwin/gcc/pkg/lib/libgomp.1.dylib
  Referenced from: /usr/local/bin/z3
  Reason: image not found
zsh: abort      z3 --version

I tried:
1. "brew uninstall z" but it  failed  "because it is required by kframework"
 2. "brew reinstall z3  but z3 --version
and brew uninstall --ignore-dependencies z3;
gave s

[2021-01-15 05:24] emarzion commented on #1655
Leaving aside the technical issues about browsers and focusing solely on conceptual difficulty, I don't think that symbolic execution is too hard to grasp; and I think that step-by-step debugging is nicer for beginners because it is easier to determine what exactly is going on.  On the other hand, you could argue that packing in too many new tools and concepts and making the beginner tutorial conf

[2021-01-15 07:31] nishantjr commented on #1655
I think the objectives of the beginner section of the tutorial should be:

  * give users some sense of achievement,
  * allow users to become somewhat self sufficient and at least ask us the right questions
  * allow users to a experiment on their own with minimal frustration
  * point users to more other resources (the language tutorial, and the reference manual -- `pending-documentation`)

Thes

[2021-01-15 19:03] #1683 closed, assigned to radumereuta

[2021-01-15 20:09] radumereuta opened #1749 "[Bug] fresh anonymous named variable crashes with NoSuchElementException"
File:
regression-new/withConfig2/test.k
[code]
Crashes with:
[code]
Removing the `_` gives out a warning:
[code]

[2021-01-15 20:15] dwightguth commented on #1749
Using a fresh constant inside a function definition isn't really supported. We didn't mark it as an error because that behavior was in use by the C semantics and we didn't want to break that functionality, but it doesn't really have a well-defined meaning logically. It's possible that the code in the llvm backend which was designed  as a hack to make this work didn't know how to deal with the new

[2021-01-15 20:20] radumereuta commented on #1749
I'm going through the warnings reported during testing and if I follow the instructions from the warning, then kompile crashes.
I can see someone new to K being really perplexed by this.

[2021-01-15 20:43] #1747 closed, assigned to dwightguth

[2021-01-15 22:47] davidstreader opened #1752 "Lambda.k out of date in lesson 2"
Hi I am slowly working through the tutorial and although I know almost nothing I am learning. The file tutorial/1_k/1_lambda/lesson_3/lambda.k is out of date:

[code]
The following compiles

[code]
I will be working on K for a few days and if it helps I am happy to send other changes (if my understanding is sufficient) but if you prefer to deal with such issues your self I will  not hassle you.

[2021-01-16 00:49] #1737 closed, assigned to dwightguth

[2021-01-16 01:03] davidstreader commented on #1752
Same changes needed in all files in Tutorial 1.  It is a big shame about --pdf not working but other than that the only bug I found is the one reported.  K proving very interesting but lack of uptodate documentation is beginning to be a problem.

[2021-01-16 02:36] ehildenb commented on #1752
Moving this over to kframework/k as it's an issue with the tutorial.

We are working on improving the documentation actively, the site https://kframework.org has documentation on the builtins, the tutorial, and a primitive reference user manual.

Note that in any tutorial directory, you should be able to just run `make` (after building K in the root of the repository) and it will print out the com

[2021-01-16 02:39] ehildenb commented on #1749
I think we should dis-allow fresh constants in functions in the frontend rather than giving weird behavior.

We can always relax that check too, either with a flag or with finally supporting it properly.

[2021-01-19 06:03] #1734 closed, assigned to sskeirik

[2021-01-19 17:12] ehildenb opened #1754 "Investigate improving ship-abilitly of K definitions"
Motivation
----------

Packaging K definitions is somewhat difficult right now, which is exasperated by the fact that many of K's functionalities require (i) an install of K, an (ii) a `*-kompiled` directory that we can point at. This makes it hard to install standalone semantics as tools, except for those specific tools that are compiled to binaries directly with the LLVM backend.

Proposals
----

[2021-01-19 17:25] sskeirik commented on #1754
-    Since the LLVM backend now can generate binaries for:

     - parsers,
     - macro expanders
     - interpreters
     - and output printers

     If the LLVM backend could generate a combined binary which includes all of the above plus:

     - a few command line options including, at least, input file handling

     Then the combined binary could be downloaded and run on any architecture wh

[2021-01-19 18:06] ehildenb commented on #1749
Error on Kore backends for functions to produce fresh constants on RHS.

[2021-01-19 18:16] ehildenb commented on #1295
With supported `where` clauses (https://github.com/kframework/k/issues/1685), this can be done pretty nicely with `#fun` usage:

[code]

[2021-01-19 18:19] ehildenb commented on #1299
We need a complete example to be able to reproduce this. Please re-open with a self-contained definition if this is still a problem.

[2021-01-19 18:19] #1299 closed, assigned to nobody

[2021-01-19 18:23] ehildenb commented on #1754
Related: #1302

[2021-01-19 18:32] ehildenb commented on #1748
Post jenkins logs of any failures you notice on this test-suite, so we can try to identify common themes.

We'll also make a PR which removes the .NOTPARALLEL and run it a bunch of times, and post the jenkins logs here as well.

[2021-01-19 18:51] ehildenb commented on #1754
We will limit this to open-source definitions in the beginning so we don't have to worry about obfuscating or leaked sources.

The approach we'll take is to bundle the K utilities necessary with the semantics directly, and put them on PATH just for execution of that semantics. This includes the LLVM backend binaries, the K frontend, and the Haskell backend (each as needed).

[2021-01-19 19:23] dwightguth opened #1756 "Fix k release on mac os"
This appears to be due to a bug in kx on mac os that uses a nonportable linux feature that is not supported on mac os. I will investigate.

[2021-01-19 20:51] dwightguth commented on #1415
The first step of implementing this is modifying the parser so that you can infer that the sort of a variable or production parameter is a sort variable instead of a concrete sort. I can't tell you precisely what this will require, but it may require changes to the grammar generator, parser, and/or sort inferencer. You will have to try and write such a sentence and see where things start to go wro

[2021-01-19 23:12] radumereuta opened #1758 "[Bug] wrong warning for HOLE in contexts"
[code]
dwight.guth  01:07
HOLE in contexts and context aliases and HERE in context aliases should probably be ignored for the purposes of this check

[2021-01-21 17:58] radumereuta opened #1760 "[Bug] Missing location information in warning message (kompile --backend llvm)"
Making an issue because I'm not sure how to fix it.
[code]

[2021-01-21 20:15] #1756 closed, assigned to dwightguth

[2021-01-21 20:47] grosu commented on #1655
Thanks so much @dwightguth for taking the lead on this, and everybody else for suggestions!  As much as I'd like to jump into the discussions and have my own opinions, I feel that it is better to let you guys converge on it.  I am just too biased and obsessed with foundations of PL.  For example, I would definitely include a non-trivial language.  I think our most interesting language currently is

[2021-01-21 20:53] dwightguth commented on #1655
Well, as the lessons get more advanced, I expect some of the lesson's exercises will involve improving and modifying a programming language. I think it's more likely we're going to focus on some kind of relatively simple imperative language for the most part though, with various features added bit by bit in order to demonstrate features of K.

[2021-01-21 22:02] radumereuta commented on #1655
I'm not sure why `amb` is that late in the list. It's one of the first things that new users struggle with when they are developing their languages.
I would make a bullet in the basic topics with syntax specification that would include BNF, disambiguation (priorities, associativity...), parser generation.

Are you planning on including anywhere the fact that K is parsed in multiple steps?

[2021-01-21 22:15] dwightguth commented on #1655
@radumereuta we are going to cover ambiguities during the syntax generation lesson, which is currently the second lesson out of all of them. The advanced lesson on `amb` deals with how to use the llvm backend and the bison parser to deal with languages that can't be expressed by context free grammars and require the use of rewriting to disambiguate.

[2021-01-22 00:20] MirceaS commented on #1655
@dwightguth As a K beginner, I think the current proposed format is quite reasonable.

[2021-01-22 17:42] boggle commented on #1655
I would also like to learn a bit about how to add more built-in data types, esp. complex ones (e.g. matrix).

[2021-01-22 19:49] #1758 closed, assigned to radumereuta

[2021-01-26 17:35] ehildenb commented on #1754
I am attempting a standalone installation of KEVM with this PR: https://github.com/kframework/evm-semantics/pull/965

So far, it seems to be working (and uses the correct K subdirectory), but the problem is that when it goes to call `kompile` in the `kprove` pipeline, it remembers the original lookup directories that were passed in the original invocation. This means it looks in the directory wher

[2021-01-26 17:46] ehildenb commented on #1752
@davidstreader can you try again with the latest K from git? There have been recent changes to the lambda tutorial and this is likely fixed.

--pdf is no longer supported, we should have removed all references to that in the tutorial now

[2021-01-26 18:02] ehildenb commented on #1760
We can't associate it with a particular rule, but likely we can associate it with a production so that users get a more helpful error message.

This is part of the LLVM backend (the scala code), because that is where the exhaustiveness checks exist.

[2021-01-26 18:10] ehildenb commented on #1749
We should add a test for this and confirm that it's fixed.

[2021-01-26 18:34] ehildenb opened #1764 "Check that the bracket attribute is used correctly"
Productions with `bracket` attribute have to:

-  Be productions with a single non-terminal.
-  Have a return sort the same as the non-terminal sort.

Are allowed to be parametric (in which case you need to check that the parameter sorts are the same).

No restrictions on terminals in the production.

[2021-01-28 21:36] radumereuta opened #1770 "[Bug] kompile - missing tag in priorities results in suggestion to file a bug report"
[code]
I had a quick look and there seems to be a proper error message being thrown but it's somehow being caught too early and wrapped as a bug in the K frontend.

I will investigate further but it's late here so I'm making an issue.

[2021-01-29 16:35] ttuegel commented on #1415
We would like to write parametric rules thus:

[code]

The translation to Kore would not change, except that the corresponding axioms would have a sort parameter,

[code]

and that the sort variable would appear in place of the concrete sort.

[2021-01-29 21:00] radumereuta commented on #1415
I found a few bugs in kompile that are blocking me from solving this. This simple production makes kore-exec complain about missing parameters:
`syntax {S} Exp ::= minus(S) [klabel(minus), symbol]`
I managed to trace a few of the issues to:
- ModuleToKore: 'no junk' axiom generation doesn't take into consideration parameters - kore-exec complains
- ModuleToKore: 'no confusion different constructor

[2021-01-30 16:17] ttuegel commented on #1415
The backend supports parametric symbols. I need to see what Kore sentences are generated to say what is wrong here.

[2021-01-30 17:06] ttuegel opened #1774 "[Bug] krun - Regression displaying #Bottom and #False"
K Version: 95b467bdfceb61e51c67b9d4a3f11d7698c9ac86

Description
-----------

`krun` has regressed to printing `#False` instead of `#Bottom`.

Input Files
-----------

`test.k`:
[code]

`1.test`:
[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The output should be `#Bottom`.

[2021-01-30 17:10] ttuegel opened #1775 "[Bug] krun - dry-run option does not save intermediate files"
K Version: 95b467bdfceb61e51c67b9d4a3f11d7698c9ac86

`krun --dry-run` prints the command that would be used to run the backend, but it deletes the temporary files that the backend would use!

[2021-01-30 17:16] ttuegel opened #1776 "[Bug] krun - Regression: negated side condition incorrectly replaced with #True"
K Version: 95b467bdfceb61e51c67b9d4a3f11d7698c9ac86

Description
-----------

`krun` replaces some negated side condition like `#Not ( ... )` with `#Not ( #True )`.

Input Files
-----------
`test.k`
[code]

`1.test`:
[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The correct output (from before the regression) is:

[code]

The Kore output (in both cases

[2021-01-30 19:20] radumereuta commented on #1775
`--save-temps         Do not delete temporary files when krun terminates.`
Maybe it should be enabled by default, or combine the options.

[2021-01-30 19:36] radumereuta commented on #1415
Does this help?
[code]
definition.kore:136
[code]

[2021-01-30 20:56] ttuegel commented on #1775
Thanks! I think I missed `--save-temps` because it used to be called `--debug`, but that option is no longer. I think it should be the default; otherwise I'm not sure what good `--dry-run` is.

[2021-01-30 21:10] ttuegel commented on #1415
You can't define constructors in any sort. This would allow you to bypass the restriction against defining constructors in built-in sorts, for example. You need at least one sort constructor in any constructor declaration, e.g.

[code]

[2021-02-01 15:21] yzhang90 opened #1777 "Clarify the `symbol` attribute in the pending document"
After reading the pending document, it is still unclear to me what does `symbol` attribute do. In the pending document, it says that symbol and klabel are used together. However, I found that in the evm semantics, some places only use klabel.

[2021-02-01 15:25] ehildenb commented on #1777
I second this, I want an operational description of what the symbol attribute will do, how it's different than the klabel attribute, and when to use each, with some specific examples.

I have just been telling people "just use symbol whenever using klabel, I don't know why".

[2021-02-01 19:05] #1748 closed, assigned to ttuegel, radumereuta, sskeirik, ehildenb

[2021-02-02 15:03] #1614 closed, assigned to MirceaS

[2021-02-02 18:00] sskeirik opened #1779 "Users are confused about package filenames"
Issue: Clients have complained to me because of confusion about package versions:

1. They download the K package from GitHub to install K as needed by a K project. The downloaded filename is something like `kframework_5.0.0_amd64_bionic.deb`. Let's assume this user does not clean-up their downloads folder very regularly.
2. Later, the K project incorporates a new K feature, which requires updatin

[2021-02-02 18:07] ehildenb commented on #1777
`symbol` attribute tells the kore generation process to use the value of the `klabel` attribute as the value of the symbol that the backend will see. It will still be munged. If you don't provide the `symbol` attribute, but do provide the `klabel` attribute, the backend will see the munged version of the auto-generated `klabel` attribute, _not_ the user-specified one.

If you don't add `symbol` at

[2021-02-02 18:14] ehildenb commented on #1776
It seems that there are maybe two problems, both with the routine that removes "noisy" subistitutions from the final configuration before printing. The two issues are:

-   It's descending below a `#Not` in the side-condition when looking for things to remove, which means it's descending into non-substitution things.
-   It's removing a "substitution" for a variable that actually does show up in t

[2021-02-02 18:23] ehildenb commented on #1779
We'll append the date/time to the package name, with `%Year%Month%Day%Hour%Minute`, which should be enough to keep from name clashes there. Use the date of the commit, not the date of the time the job runs.

eg. `kframework_5.0.0_amd64_bionic_%Year%Month%Day%Hour%Minute.deb`

[2021-02-02 18:36] ttuegel commented on #1415
In Kore, parameter names and sort names are syntactically distinct.

[2021-02-02 18:44] ehildenb commented on #1415
We do not need to worry about parametric sorts or constructors yet. Let's just get parametric function symbols ironed out first.

[2021-02-02 19:01] radumereuta opened #1780 "[Bug] ModuleToKore should handle parametric productions correctly"
This is an intermediate step in trying to fix #1415.
After fixing:
[code]
things started to crash in ModuleToKore.java, specifically 'no junk' and  'no confusion different constructors' axiom generation don't take into consideration parameters and it results in `key not found exception`.

I will post more questions here when I find more issues.

[2021-02-02 19:18] radumereuta opened #1782 "[KIP] - Profiling info for kompile"
There have been some complaints recently from different users about kompile being slow. I'm trying to make an easy to use profiler that can give users hints about what makes their definition slow to kompile.

I'm proposing an overhaul of `--profile-rule-parsing`:
* [x] for performance reasons, each thread prints its rules in a separate file. There should be a step that aggregates all of them into

[2021-02-02 20:50] #1749 closed, assigned to dwightguth

[2021-02-02 21:35] dwightguth opened #1785 "[Bug] kompile --version does not show git commit ID when kompile was installed via brew"
This is an issue that was reported to us via the Algorand folks. Apparently when you do `brew install kframework/k/kframework` followed by `kompile --version`, it doesn't know what the branch and commit hash are that it should show. This makes it difficult for K developers to determine what version of K our customers have installed, so it should be viewed as an urgent issue. I have not reproduced

[2021-02-02 22:34] #1764 closed, assigned to radumereuta

[2021-02-04 00:04] #1779 closed, assigned to ehildenb

[2021-02-04 11:51] virgil-serbanuta opened #1789 "[Bug] [kompile] - Broken #Or translation to kore in function equation"
K Version
---------

[code]

Description
-----------

Rule whose right-hand-side consist of an `#Or` expression replaces the entire RHS with a variable during translation.

Input Files
-----------

tmp.k
[code]

Reproduction Steps
------------------

[code]

The `xyzzy` rule above is translated to the following, which replaces the entire right-hand side with a variable.
[code]

Expected Behavior
-

[2021-02-04 18:08] sskeirik commented on #1000
@ehildenb @hjorthjort Can this issue be closed? I found this while looking for another open issue.

[2021-02-04 18:54] hjorthjort commented on #1000
It's not blocking KWasm anymore, but I'll defer to  @dwightguth whether the problem still exists or not.

[2021-02-08 18:40] #1774 closed, assigned to dwightguth

[2021-02-08 18:41] #1776 closed, assigned to dwightguth

[2021-02-09 02:04] ttuegel opened #1798 "[Bug] kompile - Inferred illegal sort injection into hooked sort"
K Version: 6ab2acd91ba8f0625ffe64d642d4465afc596d3f

Description
-----------

`kompile` emits Kore rules with illegal sort injections into cell map collections.

Input Files
-----------

`test.k`:
[code]

Reproduction Steps
------------------

Run `kompile --backend haskell test.k`. The resulting `definition.kore` will have this rule:

[code]

Note the `inj{SortFunctionCell{}, SortFunctionCellMap{

[2021-02-09 04:05] yzhang90 commented on #1777
what does `it will still be munged` mean? I think an example will clarify a lot here.

[2021-02-09 04:28] yzhang90 opened #1799 "[Bug] [kompile] - config composition incurs memory overhead during compilation"
It seems that the configuration composition incurs huge memory overhead during compilation.
My computer has 32G memory.
- compile the [wasm semantics](https://github.com/kframework/wasm-semantics/commit/457185bce5646b05f02faa989229b0e06bec01a1) (`make build-llvm`).  The memory consumption is ~5.8% and it takes ~2mins to finish.
- compile the [elrond semantics](https://github.com/runtimeverificatio

[2021-02-09 13:49] ehildenb commented on #1777
Munged means "escaped". So something like `_+Int_` becomes `'UndsPlus'Int'Unds'`, for example. It's the process of converting the input symbol to use only characters that the backends allow by escaping not-allowed sequences of characters.

[2021-02-09 18:14] ehildenb commented on #1780
https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L665

We will skip productions that have a sort parameter as the return sort (not necessarily if it just contains a sort parameter in the production). We will skip it for both no-confusion-different-constructor and no-confusion-same-constructor.

[2021-02-09 18:33] ehildenb commented on #1789
It looks like this "GuardOrs" pass (https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/compile/GuardOrPatterns.java#L82) is affecting `#Or` patterns which appear _only_ on the RHS of a rewrite, when it should not be touching these `#Or` patterns.

Need to make sure we do not traverse inside the RHS of a rewrite when doing this transformation.

Keep in mind that the rea

[2021-02-09 18:42] ehildenb commented on #1798
Current suspect: The `AddSortInjections` pass is not detecting correctly that this function over a CellCollectionMap should be treated the same as a function over a Map (or something like that). Relevant code here? https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/compile/AddSortInjections.java#L90

[2021-02-09 18:43] ehildenb commented on #1798
We have a work-around currently (writing a manual iteration over the collection to gather the keys in a set, and then use `Set2List` to determinize the processing of it). This is likely not ideal performance wise, but works.

Likely this is solved by parametric collections anyway. Leave alone for now.

[2021-02-09 18:53] ehildenb commented on #1799
Likely it's an issue with decision tree generation process, because KWasm uses the `<instrs>` cell instead of the `<k>` cell for execution. `<k>` cell is expected to be added by the embedding, so maybe the decision tree generation process is choking on the Elrond semantics adding the `<k>` cell, and for each pair of constructors on top of the `<k>` and `<instrs>` cells, you need to provide a check

[2021-02-09 18:56] ehildenb opened #1802 "MacOS packaging failing with stack stuff"
From @sskeirik

I'm not sure if we have time to address this now, but I wanted to share some observations about the K deploys.Lately, I have seen one of three behaviors:

    the "Build Homebrew Bottle" phase errors out with the error below;
    the "Build Homebrew Bottle" phase does not error out and instead times out; or
    the "Test Homebrew Bottle" phase times out --- which indicates that err

[2021-02-09 18:57] ehildenb commented on #1802
From @dwightguth

this is the line in the above output that triggers the error: `install: mkdir /private/tmp/kframework-20210208-4706-onihpd/kframework-5.0.0/.brew_home/.stack/programs/x86_64-osx/ghc-8.10.1: File exists`

really what we want to do is use /Users/jenkins-slave/.stack instead of having it create a .brew_home/.stack

that would also conveniently solve the caching issue that makes us r

[2021-02-09 19:01] ehildenb commented on #1802
It really does not matter that it's in the particular same spot @dwightguth mentioned, as long as the Jenkins job which runs every week on the weekend (and populates the Anka caches, with all dependencies installed and the `.stack` directory is also created) and the Jenkins job for K master use the same spot, so that we get maximal caching.

Currently, we are _not_ re-using the Anka-cache created

[2021-02-09 19:55] yzhang90 commented on #1799
I added the flag to compile the elrond semantics under `fix_lottery` branch. Here is the result:
with heuristic flag:  java peak memory 26.6%, llc-8 memory ~27.3%,  total time 9m 50s
without flag: java peak memory > 45%, llc-9 memory > 10%, didn't finish in 20mins. killed

[2021-02-09 20:14] dwightguth commented on #1799
I can confirm that with the oqbaL or oqbaR heuristic, decision tree generation finishes in a fairly reasonable amount of time (~30s). oqbaR seems to perform a tiny bit better, but the difference isn't really noticeable. It definitely seems to take a ridiculously long time to run llc on the generated code, but that seems to be because the generated code is extremely large by comparison to otherwise

[2021-02-09 22:03] dwightguth commented on #1799
I've been able to identify that llc takes roughly 5 minutes to do register allocation, 2 minutes to do instruction selection, 1 minute writing the assembly to a file, and trace amounts elsewhere. I also was able to identify that something like 55% of execution time of llc was spent in a single function in LLVM, llvm::MachineRegisterInfo::hasOneNonDBGUse. It seems that this function is supposed to

[2021-02-09 23:01] ehildenb commented on #1799
@dwightguth is there not a way to change the way the decision trees are generated to make them smaller?

Asking devs to "reduce the size of the decision tree" when we only have the faintest shadows of ideas about how the decision trees are generated is a bit counter-prooductive. If that's the solution, then we need documentation about how the decision trees are generated, so we can know which case

[2021-02-10 03:48] ehildenb opened #1805 "Re-enable Arch Linux"
The Arch dockerfile is failing to build, because of some change in the Arch upstream signing keys. Somehow this needs to be fixed, because it's blocking K releases.

[2021-02-10 03:49] ehildenb commented on #1805
Example: https://office.runtimeverification.com/jenkins/job/k/job/master/1109/console

[2021-02-10 03:52] sskeirik commented on #1805
In the past, when I have run an Arch box, I often had problems when the `archlinux-keyring` package was upgraded at the same time as other packages. As a matter of course, I now always upgrade this package first in it's own command `pacman -S archlinux-keyring` and then upgrade everything else after it finishes. I don't know if this will fix the problem, but it has helped me in the past.

EDIT: As

[2021-02-10 05:45] dwightguth commented on #1805
We probably should just pull the latest version of the Arch Linux container onto each Jenkins node. That ought to fix this. I'll do it tomorrow if nobody has done it by then.

[2021-02-10 15:24] ehildenb opened #1806 "Make new `krun` work on KEVM"

[2021-02-10 17:56] ehildenb commented on #1805
@dwightguth I've pulled in the latest archlinux/base on each CI machine, not sure it's enough. Will it know to invalidate the cache? Let's see.

[2021-02-10 21:49] #1775 closed, assigned to radumereuta

[2021-02-10 22:11] yzhang90 commented on #1799
@dwightguth @ehildenb I tried to add `[priorities(20)]` to all the rules that do not mention `instrs` cell in the elrond semantics:
1. with heuristic flag:      java mem: 23.7%     opt-8 mem: 9.3%     time: 7m 35s
2. without heuristic flag: java mem:30.9%      llc-8 mem: 12%        time: 9m 40s

[2021-02-10 22:20] ehildenb commented on #1799
@yzhang90 did you say `priorities(20)` or `priority(20)`? the first will do nothing, the second is what you want.

Also, I would think you would want `priority(60)` innstead (make those rules only happen after rules with `<instrs>` cell fires)

[2021-02-10 22:29] yzhang90 commented on #1799
@ehildenb  sorry, typo. I did write `[priority(20)]` in the elrond semantics.
Regarding the priority number...I'm not sure, because they are two separate set of rules (they do not overlap with each other). The typical flow is k cell is doing some job and then put `#wait` on top of the k cell and initialize the `instrs` cell. Then wasm semantics take over. After wasm finish its job, the following r

[2021-02-11 00:17] sskeirik commented on #1805
So, the Arch build is still failing. Question: do we know for sure the issue is the failed keys? Because I'm also seeing this blurb at the bottom of the log:

[code]

In particular, that message: `could not find or read directory: /var/lib/pacman` message looks suspicious. This makes me think it is actually the _second_ pacman invocation which is failing --- though that might be because the first

[2021-02-11 05:38] nishantjr opened #1808 "[Bug] kompile: "Illegal function symbol on LHS of rule." does not mention which symbol is problematic"
K Version
---------

[code]

Description
---

Error message reads:

[code]

It does not mention which symbol is problematic, making fixing of large rules difficult.

Expected Behavior
-----------------
Error message should read:

[code]

[2021-02-11 17:29] yzhang90 commented on #1799
Interesting, if I update priority from 20 to 60, then
with heuristic flag: java mem: 20.2% opt-8 mem: <5% time: 5m 11s
without heuristic flag: java mem:21.4%  llc-8 mem: <5% time: 5m 35s

[2021-02-11 19:49] #1806 closed, assigned to ehildenb

[2021-02-12 17:49] #1754 closed, assigned to ehildenb

[2021-02-16 16:03] virgil-serbanuta opened #1814 "[Bug] [kompile] - Axioms not emitted for in_keys"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

According to https://github.com/kframework/k/blame/master/k-distribution/include/kframework/builtin/domains.md#L440 , kompile should emit simplification axioms for `in_keys(M:Map K |-> _)`, but it does not, at least not when it compiles for the Haskell backend.

Input Files
-----------

File:

[2021-02-16 17:49] #1808 closed, assigned to radumereuta

[2021-02-16 18:07] ehildenb commented on #1814
Before trying anything else, can we see if it's fixed by pulling these rules out of the comment block so they actually are included in th edefinition? https://github.com/kframework/k/blame/master/k-distribution/include/kframework/builtin/domains.md#L440

[2021-02-16 18:26] ehildenb commented on #1802
Looks like there is a problem with the PR: https://github.com/kframework/k/pull/1813#issuecomment-779926245

[2021-02-17 10:29] virgil-serbanuta commented on #1814
I think this fixes the issue. BTW, the `ceil` rule in the comment seems to be generated anyway, so we would probably need to uncomment only the `in_keys` rules.

[2021-02-17 11:10] virgil-serbanuta commented on #1814
However, uncommenting them produced some infinite cycles in my semantics, not sure if it's an issue in the semantics or in the `in_keys` definition. However, this rule seems to work fine (most likely `#as _:Map` is not needed):
[code]

[2021-02-17 14:49] #1789 closed, assigned to radumereuta

[2021-02-17 17:49] #1770 closed, assigned to radumereuta

[2021-02-17 18:14] malturki opened #1820 "[Bug] [krun] - krun fails with an uncaught exception when substrString is passed out-of-bounds indices"
K Version
---------

[code]

Description
-----------

A call to `substrString(S, start, end)` with `start` or `end` being greater than `lengthString(S)` causes `krun` to fail at runtime with an uncaught exception.

When `start >Int lengthString(S)`, the error is:
[code]

When `end >Int lengthString(S), the error is:

[code]

Input Files
-----------

File: `test.k`

[code]

File: `input.test`

[cod

[2021-02-17 20:58] dwightguth commented on #1820
This /is/ the expected behavior. Hooks don't have a way of reporting an error aside from either aborting or throwing a c++ exception, but they're not called from a c++ function, so they can't actually be caught by anything because they don't know how to unwind the stack. In theory, llvm has functionality for catching exceptions, since clang++ compiles to llvm, but it's not very clear or well docum

[2021-02-19 14:28] MirceaS opened #1822 "[kprint] - `kprint` lack of documentation and odd failure"
K Version
---------

[code]

Description
-----------

`kprint` command doesn't recognize `--version` option and doesn't show a help menu when given `--help` but instead, on failure shows the message:
`usage: kprint <definition.kore> <pattern.kore> [true|false|auto] [true|false]` without explanation of what those last 2 options represent.

Additionally, after providing the two `kore` files to `kpri

[2021-02-19 17:35] ttuegel opened #1823 "kompile - Simplification rules incorrectly translated as Kore rewrites"
Description
-----------

`kompile` does completes this rule (and others, from `domains.md`):

[code]

into this Kore:

[code]

Note the `\rewrites`; this rule should be an equation because of the `simplification` attribute.

Expected Behavior
-----------------

Rules with the `simplification` attribute are expected to become equations.

[2021-02-20 13:26] radumereuta commented on #1823
What version of K are you using?
Because I just tested with the latest master and the rule looks like this:
[code]

[2021-02-20 14:28] ttuegel commented on #1823
@radumereuta Please check the attributes on that rule carefully. It has been given the `anywhere` attribute; such rules take a different path through the frontend. However, this rule should _not_ have that attribute, and if you remove it (as I did above) then the bug is triggered.

[2021-02-20 20:20] radumereuta commented on #1823
I did some quick tests where I modified ModuleToKore to consider this as an equation. I managed to remove the rewrite from the top but it still includes cells and tests fail. This requires more than 10 minutes of experimentation.
We can discuss it in the next front-end meeting.

[2021-02-22 16:19] sskeirik opened #1824 "[KIP] - Provide option to specify requested K version"
Motivation
----------

Clients who follow our development closely and try to use our code as upstream often do not think to try updating their K installation (especially those less familiar with the shell). This leads to problems where the build breaks or execution breaks because they have an out-of-date K version. If we had an option to provide a K version we want somewhere, then `kompile`, etc.

[2021-02-22 16:22] ehildenb commented on #1824
I don't think this makes much sense, I've never heard of any other project offering this as a feature (where you can specify the version you want as you call the program).

Instead, the semantics can check itself if the version that's being called is compatible, and fail with a good error if not. This is more compatible with how version checking usually works.

[2021-02-22 16:29] sskeirik commented on #1824
Some of options embed the version information in the K source files. Maybe that wasn't clear from my description. I tried to edit the issue to make that more clear.

By semantics, do you mean the runner scripts? Typically, clients complain when the build fails, and build process is normally outside the purview of the runner scripts.

In any case, we could definitely add more scripting to the build

[2021-02-22 18:13] gtrepta opened #1825 "[Bug] - Homebrew K Tap broken by new deployment filenames"
K Version
---------

Any version since git revision `5df2b1de7`.

Description
-----------
We changed the release tarballs to include the build date in the filenames, which broke installation of K from the `kframework/k` homebrew tap.

Reproduction Steps
------------------
On any MacOS with Homebrew installed
[code]

Expected Behavior
-----------------
kframework to be installed. Instead:
[code]

[2021-02-22 18:15] dwightguth commented on #1825
I could have sworn I commented on this in review and we were going to address it, but oh well. Just remove the date from the mac build. We added the date to give the file a unique filename, but the rebuild number brew creates already does that.

[2021-02-22 18:27] ehildenb commented on #1825
You did comment on the review, but my impression of your comment was "this might be a problem, we need to see", so we waited and saw.

It is an easy fix though.

[2021-02-22 19:49] #1825 closed, assigned to nobody

[2021-02-23 18:11] ehildenb commented on #1814
@virgil-serbanuta can you post the example where the original rule inifinite loops?

I'm worried about your variant of the rule, because it has the potential to increase term size in general. The original rules strictly reduce termsize.

[2021-02-23 18:18] ehildenb commented on #1824
We could have a `k-check-version --less-than X.Y.Z --greater-than A.B.C` that the `Makefile` and runner scripts call to make sure that hte version of K is acceptable.

[2021-02-23 18:33] ehildenb commented on #1824
We also need to provide better versioning for version comparison. The difficultiy is bumping the minor version number (the `Z` or `C` in the above example) before each merge.

Proposed solution:

-   All K PRs have to go through automerger (no manual merging).
-   The automerger will add a commit at the end bumping version numbers throughout the repo, before merging the PR (but does not wait for t

[2021-02-23 18:36] ehildenb commented on #1824
Another approach is to have a `release` branch which tracks master, but fills in the templates for version numbers. Then releases are based off these release builds, not on `master` builds.

[2021-02-24 14:21] virgil-serbanuta commented on #1814
tmp.k:
[code]

tmp-proof.k:
[code]

bash:
[code]

[2021-02-25 22:36] dwightguth commented on #1785
I can confirm this is affecting all users who install via our Mac OS homebrew bottle. What happens is, we build the source tarball on Jenkins, then configure brew to build the bottle by pointing it at that source tarball. Because that source tarball doesn't have a .git directory, when Maven tries to use the build-number plugin to get the git revision and branch name, it can't. As a result, those v

[2021-02-26 21:36] ehildenb commented on #1785
This is somewhat related to https://github.com/kframework/k/issues/1824 where we are brainstorming ways to make use of the K PATCH version number. Recall that the version numbers are called MAJOR.MINOR.PATCH.

The reason I say so is because two proposed solution there (to making it so that we bump the PATCH version number every commit to `master`), exist.

One is:

-  Only ever use automerger to m

[2021-03-01 17:07] dwightguth commented on #1785
So your proposed solution is to remove commit hashes from the version message entirely in favor of an incremented build number?

[2021-03-01 18:52] ehildenb commented on #1785
I'm happy to keep commit hashes in the version message, but it does not seem necessary.

The solution, though, is to store a `version` file directly, whatever that version file contains (commit hash or incremented version number). The difficulty is making sure that the version file is updated correctly on every commit to `master`, which the above description provides a solution for.

[2021-03-01 22:03] dwightguth commented on #1799
The program that took 10 minutes to llc with llvm 11 takes only 2.5 minutes to llc with llvm 12 rc 2. So it looks like someone actually already fixed this issue and we're just waiting for the next release of llvm to ship, which is probably going to be relatively soon. In the meantime, if it recurs at some point, we can just have developers build with llvm 12.

As such, I am going to close this iss

[2021-03-01 22:03] #1799 closed, assigned to dwightguth

[2021-03-01 22:04] dwightguth commented on #1785
I mean, if we pursue this route in order to solve the problem, we should remove the commit hash, because it won't actually address the lack of commit hash on Mac OS.

[2021-03-02 14:22] ehildenb commented on #1785
I'll take on implementing this.

[2021-03-02 18:16] ehildenb commented on #1814
Are we able to see the list of rules in the cycle that this produces? It's really unclear how the cycle is happenning giving the original rules, but it seems like its because the definedness check for the Map is causing the cycle.

[2021-03-02 18:37] ehildenb commented on #1785
Potential issues:

-   Calling `kompile` in a local source build may crash? Will it know to use the version file (or generate it).
-   What do submodules based dependents peg to? master or release?

[2021-03-02 18:56] radumereuta opened #1838 "[Bug] Kompile pipeline duplicates modules"
Git revision: 061c0ba (latest master)

Replicate with just command line:
[code]
The other way I replicate it is by checking the `Definition` object directly after applying the compilation steps:
[code]
I tested for both java and haskell backends and I get the same problem.
The problem is pretty old. I tested the build from one year ago and it's still present.
Most likely there are multiple problem

[2021-03-02 19:30] dwightguth commented on #1838
I can confirm this bug affects the latest master. Also, I found a good commit in the history that predates this regression: 325fb9d75780716ede721683f2cd36e1f818d250

I am starting my bisect now and will provide the first bad commit as soon as I have it.

[2021-03-02 19:47] ttuegel commented on #1814
Those rules are generated automatically by the frontend, when translating the semantics to Kore. The reason is that the axioms must be generated for every sort hooked to Map, especially cell collections. We can't write the rules for cell maps in K directly, so we generate the axioms in the frontend. If you uncomment those rules from `domains.md`, I'm not surprised that everything goes wrong! I wil

[2021-03-02 20:11] ttuegel commented on #1814
I find that the `#Ceil` axiom is emitted correctly. The comment in `domains.md` is not accurate, the frontend only has [code](https://github.com/kframework/k/blob/061c0ba88dde54682cac91db5cd866b001098f92/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L546) for that axiom. It does not emit the `in_keys` axioms. The backend handles the hooked function.

[2021-03-02 21:49] #1805 closed, assigned to ehildenb

[2021-03-03 13:39] radumereuta commented on #1838
I found the first commit that introduces the duplicates for the java backend: 2178532dcd45dada33efcbc67e2146c6638bf91a
Leaving it here for reference.
The easiest way to track the issue is to add an assert in outer.scala in the Definition constructor:
[code]

[2021-03-03 19:49] #1814 closed, assigned to ttuegel

[2021-03-04 15:49] #1823 closed, assigned to radumereuta

[2021-03-04 22:12] sskeirik opened #1843 "[KIP] - K Bison parsers should not get stuck when passed an invalid file path"
Motivation
----------

When developing semantics which load code at runtime, it is very helpful to wire up a simple function involving the `#system` and `#parseKORE` hooks and the generated `parser_PGM`, e.g.,

[code]

The problem with the above code is that, if the string `Path` does not represent a valid file, `parser_PGM` will get stuck and the semantics will get stuck too.

Ideally, the parser

[2021-03-04 22:22] dwightguth commented on #1843
This is actually two different problems working together. The first is that the scanner doesn't report an error if a file doesn't exist. The second is that if all the buffers passed to flex are invalid, it reads from stdin by default and hangs until the user presses Ctrl-D. We need to reconfigure the generated flex scanner to solve both of these problems.

[2021-03-05 06:20] nishantjr opened #1844 "[Bug] [krun/kompile] - Can no longer run definitions that don't use `$PGM`"
K Version
---------

[code]

Description
-----------

Running `krun` with a configuration that does not use `$PGM` results in a unhelpful error.
This used to work previously.

Reproducing
-----------

[code]

Expected Behavior
-----------------

Either:

1. A clear and concise error message saying that the `$PGM` variable is required.
2. Successfully running the configuration, resulting in a stuck

[2021-03-05 22:41] ehildenb opened #1845 "[Bug] [kompile] - Incorrect detection of function symbol on LHS of rule"
K Version
---------

[code]

Description
-----------

When the top symbol on the LHS of a rule is a variable cast, it incorrectly assumes the function symbol below that is mis-placed.

Input Files
-----------

File `test.k`:

[code]

Reproduction Steps
------------------

Call `kompile` on this definition:

[code]

Expected Behavior
-----------------

I expect it to see that actually this is not a

[2021-03-05 22:49] #1820 closed, assigned to sskeirik

[2021-03-06 17:49] #1845 closed, assigned to nobody

[2021-03-09 18:10] ehildenb commented on #1844
Some ideas about what's going on:

-    `krun` is not correctly handling the case where no variables are declared at all (not necessarily because `$PGM` is missing).

So _likely_ the `krun` script needs to detect that there are no configuration variables and handle it appropriately.

[2021-03-09 18:11] ehildenb commented on #1844
Good thing to try: does `krun-legacy` work?

[2021-03-10 17:49] #1843 closed, assigned to dwightguth

[2021-03-11 16:05] andreiburdusa opened #1850 "[Bug] krun - --dry-run doesn't save temporary files"
K Version
---------

[code]

Description
-----------

Running `krun` with `--dry-run` prints a command that can't be executed because some temporary files are missing.
But those files are present after executing the command with `--save-temps`.

Input Files
-----------

File: `test.k`

[code]

File: `2.test`

[code]

Reproduction Steps
------------------

[code]
Then execute the resuled command. I

[2021-03-11 16:09] andreiburdusa commented on #1850
I just realised these reproduction steps will work only after https://github.com/kframework/kore/pull/2451 is merged into the backend.

[2021-03-11 19:17] radumereuta opened #1851 "[KIP] - Deprecate `imports syntax` ($SYNTAX modules)"
Do we still want this feature? It creates an extra level of complexity in the kompile data structures. If this is not needed, or could be replaced with something more general, we should consider deprecating it.

Dwight: `imports syntax` directive, was created because there was a situation where you wanted to be able to import another configuration fragment for configuration composition, but not im

[2021-03-11 20:54] ehildenb opened #1852 "[kompile] - Having `function` on `macro` symbols should be a kompile-time error"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Running `kompile` on a definition which contains a `macro` rule for a `function` symbol produces no error, but makes it so that `kore-expand-macros` fails every time with a terrible error message.

Input Files
-----------

File: `test.k`

[code]

Reproduction Steps
------------------

Kompilin

[2021-03-15 20:49] #1844 closed, assigned to radumereuta

[2021-03-15 20:52] ttuegel commented on #1802
#1813 fails because Stack lacks the permissions required to create a global cache directory. In #1856, I am trying to use a local cache that will be shared between jobs. I am still having problems with permissions. It seems like Homebrew works hard to lock down permissions within the builder. According to the little documentation I can find, Homebrew intends that formulas with foreign dependencies

[2021-03-15 21:15] ttuegel commented on #1802
Actually, according to [this comment](https://github.com/brewsci/homebrew-science/blob/bb52ecc66b6f9fad4d281342139189ae81d7c410/Formula/tamarin-prover.rb#L27), the error seen above is due to Homebrew trying to force parallelization where it isn't wanted. We should be able to fix this by changing the formula.

[2021-03-16 17:23] radumereuta commented on #1852
Make it an error if the symbol at the top of a macro rule is a function.
If ExpandMacro.ismacro == true
Dwight: you should also check that if a rule has the alias or alias-rec attribute, that the symbol on the top of the rhs is not a function either

[2021-03-16 19:09] yzhang90 opened #1861 "[Bug] [krun] - output json produces weird output"
K Version
---------
[code]

Description
-----------
For some test input, krun-legacy --output json produces an output starting with `\`, which results in a malformed json file.

Reproduce step
---------------------
* Elrond semantics: https://github.com/runtimeverification/elrond-semantics
Install the dependency packages as instructed here: https://github.com/runtimeverification/elrond-semantics/b

[2021-03-16 20:17] radumereuta commented on #1838
I tried to enforce a more strict assert in the Module constructor:
[code]
but it fails really early, at the transformer from FlatModule to Module. Even after I fix that transformer, the other compilation steps fail as well. The visitor pattern implemented in scala doesn't ensure that modules don't get duplicated.

Normally it should at least ensure you won't get modules with the same name and diff

[2021-03-17 10:46] manveru opened #1864 "Bug nix - nix-lib has changed branch"
The `nix-lib` dependency has changed its default branch to `main`, while `builtins.fetchGit` assumes `master`.

This breaks all builds with Nix for me.

All references to `nix-lib` are at:
[code]

Adding `ref = "main";` to `builtins.fetchGit` solves the issue, but since this affects 3 different repositories (at least), I think filing the bug here is the easiest to keep track of it.

@ttuegel

[2021-03-17 20:19] radumereuta opened #1867 "Better scanner handling"
`kompile` and `kprove` both need to parse rules, but when running a second time, even if none of the rules were changed, they still generate some new scanners.
Here is the output of the second run of kompile on a simple test.k file.
[code]
Even though 0 rules were parsed, there are 18 scanners being generated.
This is the output of running kprove twice on a KEVM spec file:
[code]
Again, 0 rules we

[2021-03-18 22:08] #1802 closed, assigned to ttuegel

[2021-03-22 22:37] radumereuta opened #1873 "[Bug] duplicate rules breaks kompile error messages"
[code]
Only 2 error messages (instead of 3). Second kompile only one:
[code]
It got very confusing when I was trying to add tests for rules with different attributes.
Should we disallow them?
How about rules with the same contents but different attributes?
How about a rule and a claim which has the same contents?

Also. Error messages don't get updated with the new location if I add new lines befo

[2021-03-23 16:09] dwightguth commented on #1873
This looks like it's a consequence of a bug that doesn't correctly update the location information of rules after they've been retrieved from the cache. As a result, two of the three error messages are identical and thus get automatically deduped. I think if we fix this issue we should see more sensible behavior afterwards.

[2021-03-23 17:23] ehildenb commented on #1867
Several things:

-   If module A imports module B, then we should generate a scanner for module A, and use that same scanner for module B (not a new one for module B).
-   If a module doesn't contain any rules which are not cached, we do not need to generate a scanner for them (the links above) because we don't need to do any parsing.
-   We may want to cache scanners, but it may not be nearly as

[2021-03-23 17:32] ehildenb commented on #1873
We won't focus on fixing the rule de-dupe, but the error message de-dupe. This can be done by correctly updating location information of rules after retrieving from cache.

[2021-03-23 17:36] ehildenb commented on #1824
We can have a version range feature which supports all the following:

[code]

[2021-03-24 21:18] #1864 closed, assigned to andreiburdusa

[2021-03-24 21:51] ehildenb opened #1879 "[Bug] [kprove] - Missing record projection production from main module when proving"
K Version
---------

[code]

Description
-----------

In a definition that has a record production and a macro used in a specific way, `kompile` and `krun` work just fine, but `kprove` breaks because it cannot find the function for projecting out components of the record during the `ExpandMacros` phase.

Input Files
-----------

File `kmcd-data.k`:

[code]

File `spec.k`:

[code]

Reproduction Ste

[2021-03-25 15:49] #1852 closed, assigned to radumereuta

[2021-03-25 21:49] #1879 closed, assigned to radumereuta

[2021-03-30 11:25] radumereuta commented on #1850
@andreiburdusa are the reproduction steps the same?

[2021-03-30 11:47] andreiburdusa commented on #1850
I updated them now by adding the kompilation step

[2021-03-30 13:27] ehildenb commented on #1850
The new `krun` has the `--save-temps` option too. Maybe that's interacting poorly with `--dry-run`?

[2021-03-30 16:00] ehildenb opened #1887 "[Bug] [kprove] - Failure with NullPointerException when building ProofDefinition"
K Version
---------

[code]

Description
-----------

Running `kprove` on a definition crashes when building the specification definition with an uninformative error message.

Input Files
-----------

The input `kmcd-gen.k`:

[code]

And input `spec-2.k`:

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

Either the proof should go through, or a more infor

[2021-03-30 17:12] ehildenb commented on #1887
Let's timebox investigation on this one to half a day.

[2021-03-30 17:30] ehildenb opened #1889 "Metadata about *-kompiled directory available as hooked functions in llvm backend"
Currently, the Algorand semantics passes in the `*-kompiled` directory (and other arguments) as configuration variables in order to be able to load other test files etc...

The LLVM backend could conceivably provide a hook `#kompiledDirectory()` which returns this directory so it does not need to be passed in as a configuration variable.

[2021-03-30 20:04] radumereuta commented on #1887
Here is a minimized version of the issue:
test.k:
[code]
spec.k
[code]
[code]
What happens is ConfigurationConcretization tries to apply on the spec rules, but at kompile time that step was based on the main module TEST, which declares more cells than TEST1 sees.

The quickest workaround is to kompile with `--main-module TEST1`

[2021-03-30 21:49] #1785 closed, assigned to ehildenb

[2021-03-31 17:21] ehildenb opened #1890 "[Bug] [kprove] - Unable to find klabels in syntax priorities statement"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

A definition that includes a custom tag for some productions, and then uses them in a `syntax priorities` statement, is able to `kompile` fine, but at `kprove` time it fails to find the labels mentioned in the `syntax priorities` statement.

Input Files
-----------

File `test.k`:

[code]

Fil

[2021-03-31 19:15] radumereuta commented on #1890
This happens because we're building the spec definition from two halves.
The first half is parsed and cached during kompile, and the second half is parsed during kprove.
The simplest workaround is to `require "domains.md"`. This way you tell the front end where to find the missing tag.

A proper fix would require a bit more digging, and probably some significant redesign on how we build the proof

[2021-03-31 19:28] ehildenb commented on #1890
It seems that even adding the explicit `requires "domains.md"` to the definition itself (not to the proof) is enough.

[2021-03-31 19:55] radumereuta commented on #1890
Yes. `domains.md` is added automatically during kompile, but not in kprove, since most of the definition is already cached and we'd be doing extra work trying to do outer parsing again. The problem is, this check happens in outer parsing and requires the entire definition.

[2021-04-03 06:35] crvdgc opened #1897 "[Bug] kompile/krun - `libjemalloc.so.1` cannot open shared object"
K Version
---------

[code]

Description
-----------

Install with the [5.2.1 version](https://ubuntu.pkgs.org/20.10/ubuntu-universe-amd64/libjemalloc-dev_5.2.1-1ubuntu1_amd64.deb.html) of `libjemalloc-dev`, try `kompile` with any input will result in an error of missing `libjemalloc.so.1`.

Reproduction Steps
------------------

Freshly install the 5.2.1 version of `libjemalloc-dev`:

[code]

The

[2021-04-05 14:30] ehildenb commented on #1897
@crvdgc can you give us information about your platform? OS Distro? Did you recently update?

The linked version of jemalloc you provided looks like it's for Ubuntu 20.10, which we do not provide packages for. Did you build from source or install a packaged version?

[2021-04-05 15:05] crvdgc commented on #1897
@ehildenb Sure. Indeed I'm running Ubuntu 20.10. I installed from a package. I just saw the support is for Ubuntu 20.04. Thanks for your reply.

[code]

[2021-04-05 15:05] #1897 closed, assigned to nobody

[2021-04-05 15:07] ehildenb commented on #1897
You may try the platform independent K binary, or a from source build. But we don't plan to support non-LTS variants of OSs.

[2021-04-08 18:41] virgil-serbanuta opened #1906 "[Bug] kompile - Inconsistent symlink handling in require"
First fill in the title (template provided).
Examples:

K Version
---------

[code]

Description
-----------

If the main file being kompiled is a symlink, its `require`d files are resolved relative to the directory containing the symlink. However, the `require`d files for everything else are resolved relative to the directory containing the actual file.

Input Files
-----------

In a directory, l

[2021-04-08 19:41] radumereuta commented on #1906
The front end uses Java to resolve the file paths. Here is the exact place in the code:
https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/parser/ParserUtils.java#L119

[2021-04-08 20:24] dwightguth commented on #1906
Java unfortunately doesn't really have a good way to give you an absolute path from a relative path that doesn't involve canonicalizing symlinks. At least, not that I'm currently aware of. If you know of a way, I'm happy to change the way we deal with resolving relative paths so it doesn't also resolve symlinks. In the absence of that information though, it's probably going to prove easier to reso

[2021-04-09 00:44] virgil-serbanuta commented on #1906
As requested: I'm using Ubuntu 18.04.5 LTS.

[2021-04-09 12:21] virgil-serbanuta opened #1909 "[KIP] - Kprove should have configurable include paths"
[KIP] - Use `foo` instead of `syntax` for declaring productions

Motivation
----------

This would be useful for better access to trusted claims.

Example K Code
--------------

I would like to be able to use project relative paths for including K files in proofs, e.g. the `trusted` directory mention below could live at root of the project, while the proof below could be in a random subfolder.

[c

[2021-04-13 14:24] virgil-serbanuta opened #1915 "[Bug] kprove - module not recognised"
K Version
---------

[code]

Description
-----------

Kprove cannot find module in file if previous module has `//` after endmodule.

Input Files
-----------

tmp.k
[code]

proof-perform-action-id-sc-call.k
[code]

Reproduction Steps
------------------

Proving the spec above fails with `[Error] Critical: Module PROOF-PERFORM-ACTION-ID-SC-CALL does not exist.`

[code]

Expected Behavior
----------

[2021-04-13 16:41] ehildenb commented on #837
This is subsumed by the larger #1658  task, closing for now.

[2021-04-13 16:41] #837 closed, assigned to nobody

[2021-04-13 16:42] ehildenb commented on #1658
A use-case for module syntax renaming: #837.

[2021-04-13 16:54] ehildenb commented on #1172
The website https://kframework.org has undergone a large overhaul, and this should no longer be an issue.

[2021-04-13 16:54] #1172 closed, assigned to nobody

[2021-04-13 17:06] #975 closed, assigned to nobody

[2021-04-13 17:08] ehildenb commented on #1915
The outer parser/tokenization process seems to not be dropping this comment correctly. Maybe it has something to do with outer-parser code which is dealing with latex comments in the past. We can likely directly drop the latex parser capabilities and maybe this will be resolved.

[2021-04-13 17:14] ehildenb commented on #1909
Currently the workaround for this is to include the `-I` you need in the preceding call to `kompile`, because those lookup directories do get saved in the generated `compiled.bin` and other various cache files.

[2021-04-13 17:17] ehildenb commented on #1906
It should be possible to always resolve the symlinks, by replacing the correct call to `getAbsolutePath()` to `getCanonicalPath()`, somewhere in the code which handles resolving the main file to `kompile` on the command-line.

[2021-04-13 17:18] ehildenb commented on #1906
We should be able to also add this as a test in the regression suite (by just setting up this symlink structure).

[2021-04-15 20:49] #1850 closed, assigned to radumereuta

[2021-04-16 07:51] kheradmand opened #1918 "[Bug] [kompile|krun] - Execution gets stuck with --backend java"
K Version
---------
[code]

Description
-----------

The execution with the java backend gets stuck at a point that shouldn't get stuck. (No problem with llvm or haskell backends).

Input Files
-----------

Examples:

File: `test.k`

[code]

File: `input.test`

[code]

Reproduction Steps
------------------

[code]

[code]

Expected Behavior
-----------------
[code]

[2021-04-16 17:24] radumereuta commented on #1915
There is an easy fix for this, but it's going to create side effects, so I tend to label this issue as a Won'tFix.

What happens is the outer parser looks for keywords to know when to stop parsing bubbles. These keywords _must_ be surrounded by whitespace (`syntax`, `rule`, `claim`, `context` and `endmodule` - module and imports are not keywords). In this case, the claim continues to gobble input

[2021-04-16 17:24] #1915 closed, assigned to radumereuta

[2021-04-20 17:09] ehildenb commented on #1918
We're no longer supporting the Java backend, please switch to using the Haskell backend.

[2021-04-20 17:09] #1918 closed, assigned to nobody

[2021-04-20 17:19] ehildenb opened #1922 "How to handle CHANGELOG.md"
Options include:

- Enforce on CI that every commit changes the `CHANGELOG.md` unless it's automatically generated or some small bugfix (in PR title?).
- Enforce at review time of version bumps that changelog has been updated correctly with changes since last version bump.

[2021-04-20 19:52] ehildenb commented on #1922
Perhaps we should also be making the Changelog available on the Website as well.

[2021-04-21 12:09] hjorthjort opened #1925 "[Bug] kprove - Unhelpful error message when not pointing to the correct kompiled module"
K Version
---------

[code]

Description
-----------
Here's an error message I have run into a few times when I've used an extended semantics for proving.

The problem occurs when I point `kprove --directory` to a kompiled semantics, but the actual `--def-module` used for proving contains new syntax of configurations.
The error is either a simple `NullPointerException` or `NoSuchElementException`

[2021-04-21 12:19] radumereuta commented on #1925
I think this might be a duplicate of #1887

[2021-04-21 14:00] hjorthjort commented on #1925
Looks like it, thanks

[2021-04-21 14:00] #1925 closed, assigned to nobody

[2021-04-21 15:13] ttuegel opened #1926 "Add documentation for restrictions on simplification rules"
Rules with the `simplification` attribute must preserve definedness; that is, if the left-hand side refers to any partial function then:

- the right-hand side must be `#Bottom` when the left-hand side is `#Bottom`, _or_
- the rule must have an `ensures` clause that is `false` when the left-hand side is `#Bottom`, _or_
- the rule must have a `requires` clause that is `false` when the left-hand sid

[2021-04-21 15:45] ehildenb opened #1928 "In-submodule builds of K report incorrect patch version number"
In-submodule builds of K do not by default report the version number correctly.

We should modify `mvn ...` to also call the `./package/version.sh sub` script, to update version numbers throughout the repo.

[2021-04-21 21:48] ehildenb commented on #1922
One potential is to have the K master job update the changelog correctly. Currently, it just updates the release branch with the newest version numbers and such, but we could also have it update a branch `v5.NEXT.0-rc`, which is automatically opened as a PR, with the updated changelog.

Then when we want to version-bump, we just approve this PR and it gets merged.

[2021-04-22 08:58] kheradmand opened #1950 "Unexpected non-determinism with user list"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Running `krun` results in an unexpected output with the haskell backend.

Input Files
-----------

Examples:

File: `test.k`

[code]

File: `input.test`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

[code]

[2021-04-22 10:42] ttuegel commented on #1950
I moved this issue to the backend project because I want our team to investigate, but I'm pretty sure it's a surprising corner case in the frontend's sort inference algorithm. I actually encountered something similar recently. Basically, I think this rule:

[code]

is translated to Kore with `inj{ControlStatements, K}(if (true) {X} .ControlStatements)` at the top, instead of `inj{ControlStatement,

[2021-04-22 11:16] kheradmand commented on #1950
Not sure if this relevant or not but I encountered the reported problem when simplifying a different (but related) unexpected non-determinism (shown below) from a larger definition . I could not reproduce the exact same problem with the smaller definition reported in my first message, though.

[code]

Relevant rules and syntax:
[code]

ControlStatement’s syntax is same as defined before.

Applying

[2021-04-22 12:11] kheradmand opened #1956 "Crash on `checkSubstitutionCoverage`"
Version
[code]

Module
[code]

intput.test
[code]

Steps:
[code]

[kore-exec.tar.gz](https://github.com/kframework/kore/files/6360309/kore-exec.tar.gz)

[2021-04-22 17:38] ehildenb opened #1934 "Substitution Filter Flag"
Commit https://github.com/kframework/k/pull/1921/commits/308de3892d31babdfb8eda441a7cb8210e5c75a9 of PR https://github.com/kframework/k/pull/1921 removed the `--no-substitution-filtering` flag, because currently it is a no-op.

This likely should be brought back, if users need this to make sure that the entire side-condition is printed.

[2021-04-22 17:48] kheradmand commented on #1956
The problem may be related to kframework/k#1950 because there is a similar unexpected non-determinism a few steps before the crash.
In addition, when I remove `rule if ( B:BoolExpr ) C:ControlBlock Rest:ControlStatements => if ( B ) C else { .ControlStatements } Rest  [macro]`, there is no crash.

[2021-04-22 17:49] #1559 closed, assigned to ehildenb

[2021-04-22 20:49] #1088 closed, assigned to ehildenb

[2021-04-22 21:49] #1706 closed, assigned to ehildenb

[2021-04-22 21:49] #1777 closed, assigned to ehildenb

[2021-04-22 21:49] #1926 closed, assigned to ehildenb

[2021-04-23 04:10] ehildenb opened #1936 "Remove --transition flag"
This option is only used on the Java backend in very specific circumstances with `search`. It is very counterintuitive to use when `search`ing, because you would expect _all_ rules to be enabled as `transition` by default, but instead this forces you to list the relevant rules.

It requires updating the pl-tutorial to remove mentions of this option.

[2021-04-23 04:14] ehildenb opened #1937 "Audit of options for each tool"
We should go through each option, and check:

- [ ] Is the option only available on certain backends? (if so, either mark it as such, or enforce that we are invoking that particular backend).
- [ ] Is the option deprecated? If so, mark it as such.
- [ ] Organize the options. Options which are backend agnostic come first, then options which are for LLVM/Haskell backends. Then options for Java/OCaml

[2021-04-23 10:19] ttuegel commented on #1956
It is very suspicious that the symbol `Lbl'UndsUndsUnds'TEST-SYNTAX'Unds'ControlStatements'Unds'ControlStatement'Unds'ControlStatements{}` is not a constructor.

[2021-04-23 16:50] ehildenb opened #1938 "Automatic insertion of definedness conditions for simplification rules"
From a thread on Slack: https://runtimeverification.slack.com/archives/CC360GUTG/p1619189886325800

The gist is, for `simplification` rules we _assume_ the user has added teh appropriate side-conditions to make sure that undefinedness is preserved by them (whereas with semantic rules we inject extra bits to force this to happen).

Given a rule `rule LHS => RHS requires C ensures E [simplification]

[2021-04-23 19:06] ttuegel commented on #1938
This is not quite right. First, putting `\ceil(LHS)` anywhere in the rule (`requires`, `ensures`, or even `RHS`) will cause an infinite loop. So, when `LHS` has the form `f(P[1], P[2], ...)` you actually want to write `\ceil(P[1]) \and \ceil(P[2]) \and ...`. Now, you should be able to put that anywhere in the rule without causing a loop.

Second, it's actually unsound to put anything but `\top` in

[2021-04-23 21:49] #1851 closed, assigned to radumereuta

[2021-04-26 13:57] virgil-serbanuta opened #1940 "[Bug] kompile - suggests to add existing attribute (simplification)"
First fill in the title (template provided).
K Version
---------

[code]

Description
-----------

Running `kompile` without `--backend haskell` produces errors for simplification rules. The error message suggests adding the `simplification` attribute.

Input Files
-----------

File: `tmp.k`

[code]

Reproduction Steps
------------------

Kompiling produces an error suggesting to add the `simplifi

[2021-04-26 19:26] radumereuta opened #1942 "Record productions have exponential behavior"
Old title: `computeOverloadPOSet` worst case takes 81s

This worst-case gets activated in one of the definitions @virgil-serbanuta is working on.
Test definition:
https://github.com/radumereuta/verified-smart-contracts/tree/multisig.new/multisig/protocol-correctness/proof/functions
Run as:
`kompile -I ../../../ --backend haskell functions-execute.k -v  --profile-rule-parsing --debug`
`kprove proof

[2021-04-26 21:55] radumereuta opened #1943 "Possible performance regression after constant folding"
Test definition:
https://github.com/radumereuta/verified-smart-contracts/tree/multisig.new/multisig/protocol-correctness/proof/functions
Run as:
`kompile -I ../../../ --backend haskell functions-execute.k -v`
Times before: (3dfdd085d00f3a0f6a9d09e2ea99726bfcacfd5c)
[code]
Times after: (42dbd6af22fc92f03d6d477faef59c563900c997)
[code]
I'm investigating the same definition for some other performance

[2021-04-27 17:06] ehildenb commented on #1943
Some solutions:

- Improve performance of `RewriteAwareTransformer`?
- Put constant folding behind a flag? Maybe behind `-O2`?

Another potential issue with constant folding: https://runtimeverification.slack.com/archives/C8DMP61DW/p1619522884093300

Let's profile the definition and see if the problem is in the general traversal infrastructure, or if it's specifically in evaluating hooks (in which

[2021-04-27 17:09] ehildenb commented on #1940
`simplification` rules should not be fed to the LLVM backend anyway. So we need to inspect :+1:

-  Where `simplification` rules are being filtered out for concrete backends.
- The check  for function symbols on LHS of rule should not worry abuot `simplification` rules, whether or not it's llvm/haskell backend.

[2021-04-27 17:15] ehildenb commented on #1938
As two separate things:

- Fix the way the frontend encodes the `ensures` clause.
- Automatically inject correct defineness conditions into `ensures` clause of simplification rules.

[2021-04-27 17:16] ehildenb opened #1945 "Correct the encoding of `ensures` clause in `ModuleToKORE`"
From: #1938

From @ttuegel

The rule
[code]
is translated to
[code]
so that if ENSURES is \bottom and REQUIRES is anything else, then the axiom is axiom \bottom which is unsound. Actually, we want to say
[code]
but the distinction hasn't been important before because we really haven't had any equalities with ensures clauses. Note that this changes the meaning of ensures!

[2021-04-27 17:22] ehildenb commented on #1934
Throwing the flag `--no-substitution-filtering` is supposed to stop the pass which filters out printing substitutions for anonymous variables from the initial state or from intermediate states when printing the results for `search`.

[2021-04-27 17:28] ehildenb commented on #1942
Currently, when we have a record production, we generate a bunch of extra syntax for parsing. For example:

[code]

produces:

[code]

[2021-04-27 17:31] ehildenb commented on #1942
This can be made smarter by changing how to generate productions so we don't generate an exponential number of productions.

Instead, generate extra non-terminals.

[2021-04-27 17:37] ehildenb commented on #1943
Another option is to revert constant folding PR for now, and bring it back after more investigation.

[2021-04-28 15:33] hjorthjort opened #1947 "[Bug] krun - WasmString macros no longer expand correctly"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

I have this function declared:
[code]
Basically it should behave as `rule #unparseWasmString(S) => #token(S, "WasmStringToken")`
It's been working up until now in the following rule, (see side conditions)
[code]
That rule stopped matching with the latest K update (hence this update failing): h

[2021-04-28 15:38] hjorthjort commented on #1947
Reproduction:

In kframework/wasm-semantics:

[code]

- Works at commit `7e5a430291fdf0244bcf4efdef207d3c9279ff2d`
- Breaks at commit `857cbe4f4e2cd4418e4adc7cb61d11be1abbd581` (deps/k updated to latest version)
- Fixed at commit `12e9f2d1c2434a513f119e9e496e4fcbc8fb0403` by replacing `#unparseWasmString` with `#token` as described above.

[2021-04-28 15:43] radumereuta commented on #1947
What commits are these? I can't find them in the K repo. Normally, if they are hashes from this project, GitHub will automatically create a link.
Also, when you run `krun -v` on K built from code you don't get the correct version number. @ehildenb this can be a problem for error reporting.

[2021-04-28 20:59] virgil-serbanuta opened #1949 "[Bug] kprove - broken #as parsing detected only by the haskell backend"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Kprove parses #as in a way incompatible with the sorts around it and, instead of printing an error, sends the broken parse to the haskell backend.

Input Files
-----------

File: `tmp.k`

[code]

File: `proof-tmp.k`
[code]

Reproduction Steps
------------------

Running the proof like this:
[c

[2021-04-29 14:00] MirceaS commented on #1950
@ttuegel
I think this might be the kore rule generated for that K rule:
[code]

[2021-04-29 14:17] ttuegel commented on #1950
This is the offending term:

[code]

It was translated to Kore with the form:

[code]

when the user meant:

[code]

This is a bug in sort inference in the frontend.

[2021-04-29 14:50] hjorthjort commented on #1947
Hmm, seems the commits got pruned when the branch was deleted from GitHub. I pushed them up again. See branch https://github.com/kframework/wasm-semantics/tree/token2string-issue
It's the last 3 commits.

[2021-04-29 18:24] ehildenb opened #1953 "Add support for unicode encoding/decoding between Bytes and String"
It would be nice to be able to encode/decode UTF-8 strings for being able to print (in the proof configuration) error messages associated wiht Solidity's ABI encoding https://docs.soliditylang.org/en/v0.5.3/abi-spec.html#types.

Proposed signature:

[code]

[2021-04-29 18:39] dwightguth commented on #1953
I think we need more info about what exactly the problem you're trying to solve is. It's hard to tell whether some kind of encoding/decoding function would actually help solve something like this without knowing exactly the behavior you're trying to fix.

[2021-04-30 04:01] NicolasRouquette opened #1955 "[Bug] kompile - [Error] Critical: llvm-kompile returned nonzero exit code: 127"
[Error] Critical: llvm-kompile returned nonzero exit code: 127

Examples:

see: https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/02_basics

[code]

[Bug] kompile - crash when compiling

[code]

K Version
---------

Tell us what version of K you are using.

Example:

[code]

I installed the platform-independent K binary in an ubuntu 20.04 LTS VM running on Windows 10 Pr

[2021-04-30 04:08] NicolasRouquette commented on #1955
FYI: I managed to work around this problem installing the Ubuntu 20.04 package:
https://github.com/kframework/k/releases/download/v5.1.11/kframework_5.1.11_amd64_focal.deb

[2021-05-03 16:53] ehildenb commented on #1953
Specifically, we have the symbolic tests in the ERC20 tool, which means we're symbolically executing bytecode generated by the Solidity compiler (haskell backed).

In the symbolic tests, we attach strings to the pre/post-conditions (to indicate which ones passed/failed, and for documentation), and the Solidity compiler UTF-8 encodes them for storing them in the bytecode, assuming that whatever is

[2021-05-03 21:33] ttuegel commented on #1956
I confirmed my suspicion: `Lbl'UndsUndsUnds'TEST-SYNTAX'Unds'ControlStatements'Unds'ControlStatement'Unds'ControlStatements` is given the `macro` attribute and so not given the `constructor` attribute. I'm sending this back to the frontend.

[2021-05-04 13:10] radumereuta opened #1957 "Latest z3 version makes java kprove to fail"
I've updated to Ubuntu 21.04 which comes by default with z3-4.8.10, which crashes java kprove with
`ArrayIndexOutOfBoundsException: Index 15 out of bounds for length 15` in `FastRuleMatcher.java`
Failing test: https://github.com/kframework/k/tree/master/k-distribution/tests/regression-new/proof-tests/deposit/spec
I tried z3-4.8.11 (not yet released) and it doesn't crash, but it gives a different r

[2021-05-04 16:57] ehildenb commented on #1947
Initially we thought this was because of the constant-folding pass added to the Kompile pipeline, right? Have we confirmed which commit of K causes the regression? (bisect)

[2021-05-04 17:06] ehildenb commented on #1949
This is unexpected, because we expect that `#as` pattern has the exact same sort on the LHS and RHS.

`(1, a(2))` is sort `List`, and `X` is `Thing`, they are in the same connected component.

[2021-05-04 17:07] ehildenb commented on #1949
@virgil-serbanuta are you blocked on this? It seems you can fix this with parens.

[2021-05-04 17:18] ehildenb commented on #1950
This is actually a problem with the grammar @kheradmand . The rule `if (true) { X } => X` has `X` on the RHS, which is sort `ControlStatements`, and `if(_)_` is sort `ControlStatement`, so the correct most general sort to pick for that rule is `ControlStatements`.

You'll have to change your grammar to make this rule sort correctly. One option would be:

Try these things:

[code]

Another solution

[2021-05-04 17:25] ehildenb commented on #1955
We'll remove the platform independent K binary, because it really onlly works with LLVM backend on Ubuntu 18.

[2021-05-04 17:30] ehildenb commented on #1956
@kheradmand actually, I think you may be able to fix this pretty simply by just changing the `macro` rule to not use the list-concat symbol as well.

[code]

Notice how `Rest` is removed.

[2021-05-04 17:37] ehildenb commented on #1957
Use `--debug-z3-queries` to retrieve the query made to Z3 which causes the change in behavior. You can dump the Z3 query to a file `test.z3`, and call `z3 test.z3` on it. See what different versions of Z3 report on that query.

If Z3 does change its behavior on the query, we should report it.

Otherwise, the correct fix is to migrate this test to the Haskell backend.

[2021-05-04 18:38] radumereuta commented on #1957
[code]
z3-4.8.7 -> unsat
z3-4.8.8 -> unsat
z3-4.8.9 -> unsat
z3-4.8.10 -> unknown
z3-master -> unknown (0c6722f48b2814e44ed98ea33b2a356579fd90f4)

There are a bunch of queries like this one, which switches from `unsat` to `unknown`. This is the first one.

[2021-05-04 18:43] dwightguth commented on #1957
Try reporting this to the z3 repo and see what they say.

[2021-05-04 18:48] dwightguth commented on #1943
From what I can tell, if the children of a KApply didn't evaluate to a KToken, but it took some significant amount of constant folding in order to determine that to be the case, then that constant folding will get reevaluated multiple times in the version of the code that I wrote originally. I believe this is causing the algorithm to be quadratic in the size of the term. I am testing a fix now and

[2021-05-04 19:00] radumereuta commented on #1957
Reported issue to z3: https://github.com/Z3Prover/z3/issues/5243

[2021-05-04 19:55] radumereuta commented on #1957
Response from NikolajBjorner:

The implementation prior to 4.8.10 assumed that when given two integers the result would be integer.
This assumption is wrong when the exponent is negative, so generally it returns a Real (while your context restricts the exponents to be non-negative it requires context for type inference to know this).
Unfortunately, when we don't know anything more about exponentia

[2021-05-04 21:05] radumereuta commented on #1957
This workaround works for z3-4.8.11 (unreleased atm) but does not work with z3-4.8.10.

[2021-05-06 21:49] #1943 closed, assigned to dwightguth

[2021-05-10 10:05] virgil-serbanuta commented on #1949
I'm not blocked.

[2021-05-13 09:59] anvacaru opened #1966 "[Bug] [krun] - segfault in padRightBytes"
K Version - commit d44b4f9314371a72194980455c77d43b0f8d9710

Description
-----------
Running `krun` with a definition which uses `padRightBytes` on a very large number causes a segfault on LLVM backend.

Input Files
-----------
File: `test.k`
[code]

File: `input.test`:
[code]

Reproduction Steps
------------------

Running on LLVM backend causes a segfault when division by zero:

[code]

[2021-05-13 14:45] radumereuta opened #1967 "Outer parsing is very slow on very large comments"
`kompile spec.k`
It should go past the outer parsing step.
If I remove the comments then it completes in less than one second.
[spec.zip](https://github.com/kframework/k/files/6473122/spec.zip)

Not sure how slow it is because I closed it after one minute.
Discovered by @virgil-serbanuta

[2021-05-13 18:53] ehildenb opened #1968 "Improve error message for ambiguous parses"
The error message for ambiguous parses always is harder for me to read than it should be. For example:

[code]

puts a blank line between the production and the parse, which makes my eyes automatically group them incorrectly. I'd prefer:

[code]

[2021-05-14 17:22] radumereuta opened #1969 "ConstantFoldingTest.testFloat2String() fails because of locale"
In Romania the decimals are separated by a comma en: `1.2` ro: `1,2`
This makes this assertion fail:
[code]
We should have a way to force the backend or at least this test to use the English locale.

Discovered by @virgil-serbanuta

[2021-05-14 17:27] dwightguth commented on #1969
Ah, good point. This could be tricky to fix though because I don't believe that the Java library we are using for floats has any explicit provisions for locales. You encountered this while running `mvn test`? We may need to simply set the default locale for unit tests in maven somehow. What are your thoughts on that?

[2021-05-14 17:31] radumereuta commented on #1969
That could fix maven, but it's still going to fail if I run it from my IDE.

I found this in the library:
[code]
Could we force it to use EN locale somehow?

[2021-05-14 18:03] radumereuta commented on #1969
I tried adding:
[code]
then
[code]
Still fails.

[2021-05-14 20:30] virgil-serbanuta commented on #1969
Would this work? https://docs.oracle.com/javase/7/docs/api/java/util/Locale.html#setDefault%28java.util.Locale%29

[2021-05-14 21:11] radumereuta commented on #1969
I tried it already. Didn't work.

[2021-05-18 17:18] ehildenb commented on #1967
Bubble comments are tracked explicitly for being able to track beginning/end points for bubbles (for location information).

Maybe our management of those bubble comments has some non-linear behavior somewhere when parsing comments (suspect is the JavaCC code).

[2021-05-18 17:23] ehildenb commented on #1969
The locale we need to set is in mpfr library, so setting it in the Java code won't work. If you set the correct environment variables instead, then the C code will pick it up correctly.

This can be set automatically for `mvn *`.

[2021-05-19 15:49] #1955 closed, assigned to ehildenb

[2021-05-19 22:52] kheradmand commented on #1950
@ehildenb Thanks!
```rule <k> (if(true) { CS })::ControlStatement => CS ... </k>``` and  ```rule <k> (if (true) { CS } => CS):KItem ... </k>``` still lead to the same non-determinism but ```rule <k> (if (true) { X }) => X ... </k>``` (note the parentheses) gives the expected output.

[2021-05-19 23:20] kheradmand commented on #1956
@ehildenb Thanks! Using your suggestion does prevent the crash (I also prevented it by removing the macro). However I opened this issue due to the crash itself (per the crash message).

I'm not sure if the crash is due to an internal problem or a user error. In any case, a more informative warning or error message would be nice as there was no easy way (that I know) to find out that the crash was

[2021-05-19 23:54] kheradmand commented on #1936
@ehildenb Is there a way to achieve same functionality in the Haskell backend? I.e. is there an easy way to say that some rules are not transitions? Say, in the following setting, we are only interested in checking the interleaving of global writes and do not want to check local-local or local-global write interleaving.

[code]

I think we could do this easily with transition labels. Is is there a

[2021-05-20 16:06] ttuegel commented on #1956
It is due to user error. The root cause is that requiring the `macro` attribute on the `rule` allows for this kind of "action at a distance". The frontend should make it hard to do this by accident, by requiring the `macro` attribute on the `syntax`.

[2021-05-21 16:49] #1969 closed, assigned to nobody

[2021-05-22 19:52] radumereuta commented on #1950
That's very strange. Parentheses should be invisible to the type inferencer.

[2021-05-24 14:28] anvacaru commented on #1966
I've managed to get past this issue by avoiding to use `padRightBytes`.

[2021-05-24 15:49] #1967 closed, assigned to radumereuta

[2021-05-24 17:30] ehildenb opened #1986 "License for backends and frontend"
Currently the backends and the frontend are either unlicensed or under NCSA. It would be nice to switch to a more common license in order to make interfacing with other projects easier.

[2021-05-24 17:30] ehildenb commented on #1986
UIUC is being contacted to see what restrictions we have on changing the frontend license away from NCSA.

[2021-05-24 19:49] #1968 closed, assigned to radumereuta

[2021-05-25 14:49] #1906 closed, assigned to radumereuta

[2021-05-25 14:53] andreiburdusa opened #1988 "[Bug] kompile - lines still wrapped after giving `--no-exc-wrap`"
K Version
---------

[code]

Description
-----------

Running `kompile` with `--no-exc-wrap` doesn't prevent error lines from being wrapped.

Input Files
-----------

File: `demo.k`

[code]

File: `rhs-vars-broken-spec.k`

[code]

Reproduction Steps
------------------

The error lines given by `kprove` are wrapped (at 75 chars from what I counted).

[code]

Expected Behavior
-----------------

`--

[2021-05-25 17:13] ehildenb commented on #1966
Won't fix, because no way we can allocate that many bytes.

[2021-05-25 17:13] #1966 closed, assigned to nobody

[2021-05-25 17:17] ehildenb commented on #1988
@andreiburdusa your call to `kprove` does not have the `--no-exc-wrap` option, just your call to `kompile`. The error you get looks like it comes from the kompiler (and indeed it does), but you need to still provide `--no-exc-wrap` to `kprove`.

Please close if that fixes it.

[2021-05-25 17:23] ehildenb commented on #1942
Some history:

- Originally, we allowed users to write record productions in any order.
- That was factorial, so we switched to only subsets of the existing order (exponential).
- While we're fixing it, we should go back to allowing any order.

We should restrict that:

- You cannot use the incorrect name under a record label.
- You cannot use the same name twice under a record label.

This can li

[2021-05-25 17:26] #1988 closed, assigned to nobody

[2021-05-25 18:49] #1940 closed, assigned to radumereuta

[2021-05-25 19:12] ehildenb opened #1989 "Coupling the compilation of Kore backends"
We have the goal of being able to feed the same kore to both backends: https://github.com/kframework/k/pull/1983#pullrequestreview-665742839

And we have increased coupling of the backends:

-  Haskell backend does some extra sanity checks on definitions.
-  LLVM backend does non-exhaustive rule detection and useless rule detection.
-  LLVM backend handles `kprint`, and `macro` expansion.
-  Anoth

[2021-05-25 19:15] dwightguth commented on #1989
This is harder than it sounds. There are still some modules that are included on one backend but not the other, and there are still rules that are allowed on one backend but not the other. Also, the haskell backend definition verifier rejects some definitions that are allowed by the llvm backend. We could probably do it, but you would have to recompile the definition separately on each backend and

[2021-05-25 19:17] dwightguth commented on #1989
It would also make compilation take longer as a result. Not to mention, right now, if you're not doing search on the llvm backend, you don't have to build the haskell backend, which is a huge savings of time for me because a full build of the Haskell backend takes like 5 minutes

[2021-05-25 19:17] radumereuta commented on #1989
Another problem is performance. Some definitions spend up to one minute just on the backend step.

[2021-05-25 19:18] dwightguth commented on #1989
I'm not opposed, exactly, because I can understand that the capabilities of krun if you have access to both backends could be a lot more powerful, but there are some significant reasons for caution here.

[2021-05-25 21:50] #1684 closed, assigned to ehildenb

[2021-05-26 11:50] andreiburdusa opened #1990 "[KIP] - `--no-exc-wrap` flag for `krun`"
Motivation
----------

Needed for https://github.com/kframework/k/pull/1884#issuecomment-845164891 and https://github.com/kframework/k/pull/1987

Documentation
-------------

Do not wrap exception messages to 80 chars. Keep long lines.

Testing Approach
----------------

Running `krun` on the `issue-1683-cfgVarsWarns` integration test now gives an error spitted on two lines. If given the `--no-exc

[2021-05-26 15:49] #1990 closed, assigned to radumereuta

[2021-06-01 17:11] ehildenb commented on #1989
Suggestion from @ttuegel:

- Split off sub-directories in `*-kompiled` for each backend.
- Still only compile the requested backends (with the same defaults we have now).
- `krun` would have to pick a default backend to run on request (default to concrete execution, with flag to switch to symbolic).

[2021-06-01 17:14] ehildenb commented on #1989
[code]

This is an example of markdown selector ^^^ from KEVM. Here we assume that KEVM would handle the markdown selectorss, and kompile would handle the multiple backends.

[2021-06-01 20:36] JKTKops opened #1998 "K Tutorial typos/clarifications/issues"
I'm going through the new K tutorial and will use this issue to document findings per @ehildenb 's recommendation.

## lesson 2
* [x] missing word: "... as `banana.color` in the **same** directory ..."
* [x] I found the tutorial smoother after automating passing code to krun without an intermediate file. I'd suggest, immediately before the section header "Productions, Constructors, and Functions,"

[2021-06-02 19:49] #1867 closed, assigned to radumereuta

[2021-06-02 21:49] #1873 closed, assigned to radumereuta

[2021-06-03 20:02] rybla commented on #1998
Overall I thought this was a great tutorial, coming from someone who was superficially exposed to K a few years ago. A few suggestions:

# lesson 05

- In *Basic module syntax*: the syntax for attributes for rules and modules is given, but without any explanation about what those attributes might be used for. I'd have appreciated a real example or two rather than just `module LESSON-05-B [attr1, a

[2021-06-03 20:51] dwightguth opened #2007 "[Bug] K does not work with java 16"
Right now when you try to run `kompile` with java 16, you get the following stack trace:

[code]

It would appear that this is because the version of FST we are using for serialization is incompatible with newer access restrictions on reflection in Java. We will probably have to find a newer version of that library or else find a different library entirely. Regardless, this should be fixed as Java

[2021-06-08 17:19] ehildenb commented on #2007
So far, it looks like our options are:

- Manually serialize things where FST doesn't support directly (lots of code).
- Switch to default library for serialization (est. 1-3s per invocation that has to read from caches, eg. kompile/kast/kprove).

One thing we can try to do _first_ (to simplify the choice above) is to be more careful about what we serialize:

- Trim down what we serialize/deserial

[2021-06-08 20:49] #1953 closed, assigned to andreiburdusa

[2021-06-09 19:43] dwightguth opened #2019 "[Bug] homebrew k package does not work on Big Sur"
When you install the kframework homebrew package on Big Sur, `kompile` will sometimes fail with some weird error involving not being able to find the C standard library if you try to pass C files on the command line via `-ccopt`. This seems to be because the `llvm@8` homebrew package is old enough that it wasn't fixed in Big Sur to point to the correct include paths, which means it can't find some

[2021-06-09 23:49] #1942 closed, assigned to radumereuta

[2021-06-13 16:01] ehildenb opened #2024 "[Bug] [kprove] - Reports macro symbol as a new constructor over `Int`"
K Version
---------

[code]

Description
-----------

When the `--def-module` for verification does _not_ include the `--main-module` from kompiling, and the `--main-module` contains a `macro` symbol, the prover incorrectly reports that macro symbol as a constructor.

Input Files
-----------

File `edsl.k` (note the macro `#ceil32`, contained in `EDSL` but in `EVM`):

[code]

File `infinite-gas-sp

[2021-06-15 14:14] ehildenb opened #2033 "Clarity on tutorial lessons"
Issues found by the folks going through the tutorial. I short check-list is provided here, more details for each issues are provided in comments.

@dwightguth I've gone through and put (in bold following each bullet point) the things to check for that bullet point.

[2021-06-15 17:06] ehildenb commented on #2019
To have llvm@8 on Mojave, and llvm@12 on Big Sur, we would need separate homebrew packages, which would mean people would do something like `brew install k-sur` or `brew install k-mojave`. Probably not worth investigating.

[2021-06-15 17:11] #1998 closed, assigned to dwightguth

[2021-06-15 17:17] ehildenb opened #2028 "Refactor of `kast` to expose fast-paths"
- `kore-print` script which takes Kore -> ANY (if ANY is pretty, it uses fast `kprint`, otherwise slow `kast`).
- `kparse` script which takes ANY -> Kore (using Bison parser if it exists, otherwise falls back to `kast`).
- `kparse-gen` which generates bison parsers. Currently users are responsible for generating these as needed ahead of time.
- Exist `kast` is renamed to `kast-util`, and then new

[2021-06-15 17:26] ehildenb commented on #2024
On this line: https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/kompile/DefinitionParsing.java#L141

We can instead filter out modules which have "anything which is a Bubble, or a sentence a Bubble could turn into." Add a comment which explains that this is here to filter out modules in kast.md and domains.md.

[2021-06-21 08:20] geo2a commented on #2033
# Notes

- [x] Lesson 11: I was having a hard time with the [exercise](https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/11_casts#exercise-1) after the `LESSON-11-C` example. I kept getting parsing ambiguity and? in the end, I decided to skip it. Does it actually have a solution? **Check that the solution for this exercise exists/works.**
- [x] Lesson 13: The first [exc

[2021-06-21 13:34] ehildenb commented on #2033
You need to `kompile --enable-search --backend llvm` to have the binary generated that will do a search on LLVM backend. This should be made clearer.

[2021-06-22 17:02] ehildenb opened #2034 "Refactor of `kprove` frontend"
This is the long-term (evolving) plan for breaking `kprove` down into mutiple smaller utilities that can be tied together with `bash` script.

Restrictions on definitions going forward:

MAIN_MODULE: main module used for kompile (eg. EVM)
DEF_MODULE: main module used for verification (eg. VERIFICATION)
SPEC_MODULE: module with claims to prove (eg. ADDU48U48-SPEC)

- No new syntax declared between

[2021-06-25 17:53] rybla commented on #2033
Some minor notes:

- [x] Lesson 9: Some formatting errors in the table, because of how "paragraphs" within table cells are handled. **Check that tables are formatted correctly on github.com and on kframework.org**.
- [x] Lesson 9: It would be nice to see example of how the color attribute is used, since its a little unclear if/what the color attribute takes as an arguments (and what are valid colo

[2021-06-29 06:07] nishantjr opened #2039 "kprove: Variables use only on RHS of claims is not error"
K Version
---------

[code]

Description
-----------

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

`claim`s produce the same error as `rule`s

[2021-06-29 15:49] ehildenb opened #2041 "Publish K tutorial on kframework.org"
The existing tutorial link on kframework.org takes peolpe to the PL tutorial, which is focused on teaching programming language design via K, not on teaching K.

We should have two links on the sidebar:

- One which is the "K Tutorial" and links to the contents of the new K tutorial: https://github.com/kframework/k/tree/master/k-distribution/k-tutorial,
- And one wihch is the "K PL Tutorial", and

[2021-06-29 17:00] ehildenb commented on #2039
No, we lifted this restriction intentionally. The `requires` clause is considered part of the LHS of claims, not the RHS.

This allows you to introduce intermediate variables on the LHS of the claim which can make the claim smaller, for example the `#WordPack` abstraction here: https://github.com/kframework/evm-semantics/blob/master/tests/specs/mcd/flipper-ttl-pass-spec.k#L189

[2021-06-29 17:19] ehildenb commented on #2034
Updated idea:

[code]

The additional error-checking over the definition would be that the:

- SPEC_MODULE only imports the DEF_MODULE (or one of its imports),
- The spec-file.k file _only_ adds `claims` on top of the DEF_MODULE.

[2021-06-29 17:25] ehildenb commented on #2034
For `kprove-compile-spec-to-kore`, we can look at `k-compile-search-pattern` for inspiration.

[2021-06-29 17:40] #2007 closed, assigned to dwightguth

[2021-06-30 13:07] ehildenb commented on #2039
Closing this as we won't fix this, it's intended.

[2021-06-30 13:07] #2039 closed, assigned to nobody

[2021-06-30 14:50] #2041 closed, assigned to shd101wyy

[2021-06-30 16:29] JKTKops commented on #2033
- [x] Lesson 10: typo: `end => start` => ` end >= start`. **Fix**

- [x] Lesson 11: It's sort of mentioned off-hand, but it might help to state clearly that casts/strict casts are a compile-time feature, while projection casts are a runtime feature that can cause runtime errors. **Make explicit that casts/strict casts are for parsing, and projection casts will cause a runtime halt (but nothing at

[2021-07-01 14:00] radumereuta opened #2047 "Performance regression in java serialization"
I'm making an issue so we can keep better track of the info I found. Regression starts with #2015

I ran `time make -j 32 regression-new` on my local machine and before I used to get 1m54s, now I'm getting 5m03s.
I ran `time make -j 21 regression-new` on rvwork-4 and before I used to get 3m52s, now I'm getting 7m12s.

That's kind of much. I think `kserver` got affected quite badly by this change.

[2021-07-01 19:56] dwightguth commented on #2047
It seems that when we were using FST, we needed a global lock because the FST serialization algorithm wasn't thread safe. However, this introduces a whole lot of lock contention because only one process could serialize at the same time, and no process could deserialize while another was serializing. Removing the lock seems to have addressed the performance issues, while still having all the tests

[2021-07-05 15:13] radumereuta commented on #2047
Closed by #2051

[2021-07-05 15:13] #2047 closed, assigned to dwightguth

[2021-07-05 15:17] radumereuta commented on #2047
`time make -j 32 -O regression-new`
with the kserver
before: 1m53s, current: 1m47s (both are highly repeatable)
w/o the kserver
before 7m39s, current 7m42s
It seems that the performance difference is not visible. With the kserver is slightly faster. w/o the kserver is within the margin of error.

[2021-07-08 17:52] JKTKops opened #2063 "Missing documentation for `ensures`"
The [user documentation](https://kframework.org/pending-documentation/) for K doesn't have any content about `ensures` clauses, their syntax, or what they mean. They are referred to in a few places, but without knowing what they are, it doesn't really make sense.

[2021-07-08 18:36] SchmErik opened #2064 "[Feature] [kompile] - Improvements to error messages"
Description
========
There were several improvements that have been brought up in the slack conversation. This issue is created to discuss two improvements to the kompile error messages. These requests aren't urgent and aim to help improve user experience.

Include filename at the top line of error messages
------------------------------------------------------------------
When compiling files tha

[2021-07-08 21:53] radumereuta opened #2066 "Z3 captured errors should include location information about the context"
Type inference, in particular, should include some information about what rule it was trying to parse when it got the error message.

This is so we can better debug definitions or if there is something wrong with K it can be used to get a minimized example.

[2021-07-08 22:17] ehildenb commented on #2066
In particular, this error message https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/parser/inner/disambiguation/TypeInferencer.java#L801 gives no information about where it could be coming from.

[2021-07-09 15:04] dongbiao830415 opened #2067 "[Bug] [kompile] - failed to kompile seqstrict-predicate case"
[code]
I think the 0a12faff1e862800ab9b28e174ca8bcd39eec2ae commit introduced this bug

Description
-----------
cd k-distribution/tests/regression-new/seqstrict-predicate
$ kompile --syntax-module TEST --debug --no-exc-wrap --backend llvm  test.k -d .

output error log:
com.google.inject.ProvisionException: Unable to provision, see the following errors:

1) Error injecting constructor, java.lang.N

[2021-07-09 19:58] ehildenb opened #2069 "[Bug] [kompile] - Fails with Z3 warning on simple configuration composition"
K Version
---------

[code]

Description
-----------

Kompile will not handle a very simple configuration composition, where the cell-sorts of the sub-configurations are mentioned directly in the super-configuration module.

Input Files
-----------

File `web3.k`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

Either this should `kompile` correctly, or

[2021-07-09 22:18] radumereuta commented on #2069
Repeating some slack messages:
Most likely the regression stars here: https://github.com/kframework/k/commit/b9581a3bd4d970fc585bf6b9a977d62f765f7698

Before, we would generate the cell sorts in sequence, so module WEB3 would be able to see the cell sorts from EVM. This change allowed us to parse configs in parallel and skip generating some extra scanners for a small speed bump.

The simplest work

[2021-07-10 00:20] ehildenb commented on #2069
https://github.com/kframework/k/pull/1962 is where the regression starts.

Declaring the `AccountCell` sort now is an acceptable solution, it works.

[2021-07-12 09:11] RaoulSchaffranek commented on #2033
Here are some more typos and minor issues I spotted. These are rather low-hanging fruits. I will prepare a PR.

- [x] Lesson 3: Typo, `mechinism` -> `mechanism`
-  ~~Lesson 3: In the sentence *"This is the reason for the requirement that a bracket production have
a single non-terminal of the same sort as the production itself."* `have` -> `has`~~ @JKTKops pointed out to me that `have` is actually

[2021-07-12 18:19] #1934 closed, assigned to nobody

[2021-07-13 17:19] ehildenb commented on #2064
Proposed experiments:

- Colorize first line (or first few lines) of error messages.
- Move source location to the lines immediately following the error subject header (before the message body), and include in the colorization.

Let's make this change, then take some screenshots of the changed version.

[2021-07-13 17:22] ehildenb commented on #2067
This usually only happens if you:

- don't have a clean build (do a `mvn clean` then retry), or
- are using a different version of the tool between runs (eg. `kompile` with version 5.1.34 but `krun` with version 5.1.50).

Can you try a clean build and then report back?

[2021-07-13 17:24] ehildenb commented on #1741
We will move this back to the backlog, because of a bug in upstream Bison (for Ubuntu). So we'll need to wait until new version trickles out (3.7.4) to the various distros, before we can try this (it's a recent fix reported by @dwightguth ).

Version of bison on Ubuntu Focal is still 3.5.*. Likely we'll need to wait for the next Ubuntu LTS.

[2021-07-13 17:26] ehildenb commented on #1741
We will move this back to the backlog, because of a bug in upstream Bison (for Ubuntu). So we'll need to wait until new version trickles out (3.7.4) to the various distros, before we can try this (it's a recent fix reported by @dwightguth ).

Version of bison on Ubuntu Focal is still 3.5.*. Likely we'll need to wait for the next Ubuntu LTS. Might be able to talk to Canonical support, but then we j

[2021-07-13 17:41] ehildenb opened #2072 "More modular kompilation"
Right now if we have two definitions:

- `def1` which has some `MAIN-MODULE-1`
- `def2` which has some `MAIN-MODULE-2` and imports `MAIN-MODULE-1`.

When calling `kompile` on `def2` _after_ having called `kompile` on `def1`, we re-use as much of the parsing caches generated for `def1` as possible. This would mean adding an option `--cache-file-read-only ../def1/*-kompiled/cache.bin` or something,

[2021-07-13 17:59] ehildenb opened #2073 "Process diagram for frontend/backend tools/components"
The idea would be that the main entry-points (krun|kast|kprove|kompile) would be at the top, in the middle would be intermediate tools (think `k-compile-search-pattern`, `krun-legacy`, `kparse`, `kore-print`, `kprint`, etc...), and then below that would be a blob which says "Java Frontend" with sub-blobs for the different components (eg. `Kompile.java`, `KProve.java`, `KPrint.java`, etc...), and b

[2021-07-13 19:49] #2066 closed, assigned to nobody

[2021-07-13 19:49] #2069 closed, assigned to radumereuta

[2021-07-13 22:05] ehildenb opened #2075 "[KIP] - Support treating cell declarations as pure data-structures"
Motivation
----------

It's convenient to replace the definitions of builtin types with a new abstract type, defined by a configuration. The example here is MKR, where we have a "vat.sol" contract, which has some specific storage layout in KEVM. We make an abstract model of the Vat, and want to use that abstract Vat storage directly as KEVM's low-level storage, but not to use that configuration as

[2021-07-13 22:14] ehildenb opened #2076 "[KIP] - Configuration Macros"
Motivation
----------

This would likely be blocked on #2075.

In Tezos we are now doing "constructive refinement" proofs. To do this, we declare a new configuration which is the abstract state of the high-level program/contract/system we're trying to represent (eg. Dexter), and then define a mapping from that configuration to the low-level configuration (eg. Tezos). Then we state the proof over t

[2021-07-14 13:23] dongbiao830415 commented on #2067
Steps:
[code]
Still the same error

[2021-07-15 18:48] #1986 closed, assigned to dwightguth, pmackay1982

[2021-07-15 22:26] SchmErik commented on #2033
I submitted https://github.com/kframework/k/pull/2087

I took some notes but I see that a lot of them have been mentioned previously. The only one I have is this:

- [x] Lesson 11: the exercise using strict cast contains an ambiguous grammar so the exercise cannot be run using krun. Either 1) rewrite the examples so they could be run using krun or 2) write in the tutorial indicating that this one

[2021-07-16 04:35] ehildenb opened #2088 "Allow calling `llvm-kompile` in `library` mode through `kompile` frontend"
Firefly currently uses a separate invocation to `kompile --no-llvm-kompile` and `llvm-kompile`, because it needs to call `llvm-kompile` in `library` mode.

I suggest making `library` and `main` a boolean toggle, and `search` and `execution` a boolean toggle.

Also, if the `-o SOME_FILE` directory doesn't exist, `llvm-kompile` does not automatically create it. Can it?

[2021-07-16 05:04] ehildenb commented on #2088
The relevant code is here: https://github.com/kframework/k/blob/master/llvm-backend/src/main/java/org/kframework/backend/llvm/LLVMBackend.java#L69

[2021-07-16 05:06] ehildenb commented on #2088
I have applied the following patch locally to try and make it work with Firefly:

[code]

[2021-07-16 05:21] ehildenb commented on #2088
Also, it would be nice to have control over `-o` from the `kompile` command-line.

[2021-07-16 06:33] ehildenb commented on #2088
This is the final diff I had to use to make Firefly bulid-able with just `kompile` (instead of `kompile --no-llvm-kompile` followed by `llvm-kompile`).

[code]

I had to disable `-o`, so I could pass it manually. Note that I had to pass `-o` relative to the `*-kompiled` directory, which is not very ergonomic. It would be better to pass it relative to the working directory. I wanted to say (in the

[2021-07-19 20:49] #2075 closed, assigned to nobody

[2021-07-21 14:22] dongbiao830415 commented on #2067
Steps:

cd k
rm -rf *
git checkout -- .
rm -rf k-distribution/bin
mvn  package -Dmaven.test.skip=true
dir=`pwd`
ln -s $dir/k-distribution/target/release/k/bin $dir/k-distribution
cd k-distribution/tests/regression-new/seqstrict-predicate
$dir/k-distribution/bin/kompile --syntax-module TEST --no-exc-wrap --debug --backend llvm  test.k -d .
Still the same error

[2021-07-21 15:43] spencerhaoxiao commented on #2033
- [x] Lesson 1: The link to Instructions on how to build K framework from source should point to the k's Github repo's README instead of the the README on the tutorial pages on kframework.org
- [x] Lesson 6:  The _lesson-06-b.k_ file should add `requires lesson-06-a.k` as the first line.
- [x] Lesson 9: Typo at Line 130  change 'objecte' to 'object'.
- [x] Lesson 12: Line 162 'replaced `Ids` with

[2021-07-27 00:09] SchmErik commented on #2064
I was digging into this and decided to make several alterations as an experiement but realized that the following error message:
[code]
contains a duplicate message. Here's a message with the duplication removed:
[code]
It's possible that in some error paths, the ability to add more messages might be helpful but this scenario generates error messages that are redundant.

[2021-07-27 17:06] ehildenb opened #2099 "Investigate associative lists slow parsing"
Let's try to understand why we need to put so many parens around associative lists. This is annoying, and not doing it is a huge slowdown.

[2021-07-27 17:11] ehildenb commented on #2064
We'll add a flag to the exception handler which controls whether we print the inner exception. We'll default that flag to `true` (current behavior), and disable it for this message.

[2021-07-27 17:12] ehildenb opened #2100 "Remove redundant exception information from some error messages"
See https://github.com/kframework/k/issues/2064#issuecomment-887111404 for context.

[2021-07-27 17:17] ehildenb commented on #2067
You're linking line `ln -s ...` will not work. You need to instead put `k-distribution/target/release/k/bin` on `PATH`, not symlink to it.

You definitely should not be making that symlink, as it will conflict with the existing k-distribution.

[2021-07-27 17:18] ehildenb commented on #2067
What you likely need to be doing:

[code]

[2021-07-27 17:21] ehildenb commented on #2088
Maybe we can autogenerate the cmake file so that I can still do `kompile --no-llvm-kompile`, but then do `k-generate-cmake ALL_THE_ARGUMENTS_I_WOULD_PASS_TO_LLVM_KOMPILE`? Then `llvm-kompile`.

[2021-07-27 17:42] ehildenb commented on #1658
Only goal for first cut: hide some symbols from importees. This consists of hidden imports, and hidden productions.

[code]

So the only added outer syntax is `imports private`. And we will use `public` and `private` attributes on `module` and `syntax` declarations. The module attribute will set the default mode for the whole module, and attribute on productions will override that.

If you named a

[2021-07-28 20:44] #2100 closed, assigned to SchmErik

[2021-07-30 19:11] nishantjr commented on #1658
@ehildenb @dwightguth

I think we also want `import public` for this case:

[code]

[2021-08-02 20:39] #1333 closed, assigned to radumereuta

[2021-08-02 20:39] #1887 closed, assigned to nobody

[2021-08-02 20:39] #2024 closed, assigned to radumereuta

[2021-08-03 17:07] ehildenb commented on #2064
One thing we could think about is printing out the textual source with the source location information. In the example above, we would print out lines 1-5, which would show line 3 where the parse error is.

This would likely be too verbose if we did it for every error message with a location attached. Maybe for some specific error messages we could do this.

[2021-08-03 17:18] ehildenb commented on #1909
Let's focus on supporting this for KProveX

[2021-08-04 17:08] SchmErik commented on #2073
![image](https://user-images.githubusercontent.com/11355936/128223195-fe7039c3-571a-4129-8171-a1b19a3b0b34.png)
Here's a draft of the process diagram. I'm only starting out on this. My thought is that the primary audience would be familiar with diagrams that represent compiler pipelines so I thought of this process diagram where each "node" represents the format of the input and how it changes as

[2021-08-04 17:14] SchmErik commented on #2073
One option is to somehow embed links in the image so that you can click different parts of the image to go to the code implementing the step. The downside to this is that we would need to maintain the links to change with any potential filename changes. Another option is to more generically describe what the component does. I think the first option would help newcomers get started browsing the cod

[2021-08-04 17:34] SchmErik commented on #2073
@ehildenb will this process diagram be a part of a repository? If so, we may want to consider using a format that is not binary (like graphviz) so that each change would be small..

[2021-08-04 18:24] ehildenb commented on #2034
Here is timing information for Java backend on MCD proofs with "before" (no kprovex), and "after" (yes kprovex):

[code]

Looks like overall a 24% speedup!

[2021-08-05 18:03] dwightguth opened #2115 "Importing a set of sentences from a module"
We want to improve the module signatures feature by allowing the type of "import foo from BAR` syntax present in most other import systems. Here are three possible syntaxes for consideration:

1. Sentence label

[code]

Potential problems: you can't import something without help from someone who can modify the module being imported from. You also have trouble with sentence labels and pipes mixing.

[2021-08-05 22:20] nishantjr commented on #2115
# Use cases

## Allow mixing program syntax with semantics code

K definitions are routinely split into modules for program syntax and semantics.
For readability, it may be nicer program grammar close to the semantic rules that define them.
While For simpler semantics this may be achieved through the `public` and `private` attributes,
this does not work with module hierarchies with more than two l

[2021-08-05 23:02] SchmErik commented on #1909
@radumereuta I was browsing through the codebase today and saw that https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/utils/options/OuterParsingOptions.java contains classes that are meant for the outer parser of kompile, and kdep. This file contains mentions of `-d`, `-I`, `--no-prelude`, and `--md-selector` options. Looking at kprovex, I see that the `-d` option exi

[2021-08-06 08:10] calin1304 commented on #2033
- [x] Lesson 11: In the final paragraph of `Strict casts` shouldn't `(I1:Int + I2:Int)::Exp2` choose the second derivation and `(I1:Int + I2:int)::Exp` choose the first one?
- [x] Lesson 16: Typo in `LESSON-16-B-SYNTAX` - `import ID-SYNTAX` instead of `imports ID-SYNTAX`
- [x] Lesson 16: in `LESSON-16-B-SYNTAX` function declarations start with `fun` but in the example program `foo.func` we are giv

[2021-08-06 09:16] radumereuta commented on #1909
You may want to look at #1330
Yes, there are some inconsistencies when it comes to option names, and fully fixing them will require some nonbackward compatible changes.
Maybe since kprovex is so new, we could enforce a change to `-d` since this is the option that caused conflicts.
@ehildenb @dwightguth thoughts?

[2021-08-06 17:42] #2019 closed, assigned to nobody

[2021-08-09 15:18] radumereuta opened #2119 "[kompile] should give more readable error message when rejecting token sorts with constructors"
Right now we get a hard to read error message from the haskell backend, and a crash from the llvm backend:
[code]

[2021-08-09 19:29] radumereuta commented on #2119
Also, this is the output of `kompile --verbose`
[code]
There are 14 scanners being created, which is a bit excessive.

[2021-08-10 17:07] ehildenb opened #2122 "Too many scanners being created"
See https://github.com/kframework/k/issues/2119#issuecomment-895483245

Many of the scanners are useless, for example we're building scanners for INT but we aren't even importing that.

[2021-08-10 17:21] ehildenb commented on #1909
We can move `-d/--directory` out of OuterParsingOptions.java into a new class (like BackendDirectoryOptions.java). Then it can be included in all the relevant places.

The `--md-selector` for kprovex should _not_ touch/re-parse the original definition. So the `--md-selector` option should _only_ affect the spec file/module that is added, but not change the original definition.

[2021-08-10 17:35] ehildenb commented on #2115
Discussion:

- Most people like suggestion 2 or 3.
- Problem with suggestion 2 -> requires upstream projects (eg. K -> KEVM -> ERC20) to tag any productions we want to rename. This could maybe be fixed by allowing either the tag or the klabel to refer to it. This would also make it harder to import a single overload within a set of overloads.
- Problem with suggestion 3 -> requires repeating yours

[2021-08-10 17:36] nishantjr commented on #2115
[code]

[2021-08-10 17:41] ehildenb commented on #2115
We'll use approach 2, but allow klabel-mentioning for referring to productions (to avoid the upstreaming issue).

Something like:

[code]

But where PRODUCTION_ITEM is limited to terminals and underbar non-terminals. If the TAG|KLABEL does not refer to a unique production, it's an error (if you use an `as PRODUCTION_ITEM*` clause).

The `as PRODUCTION_ITEM*` clause is optional, only if you want to

[2021-08-10 17:57] nishantjr commented on #2115
We should also be clear both in the documentation, both for this feature and for private syntax, that this only affects the parsing and not rules.

[2021-08-11 20:52] radumereuta commented on #2122
For this module, we get a lot of extra scanners being generated:
[code]
14 scanners are being generated and we should be able to parse with ~3.
The algorithm that determines this is not that smart but in this case, the penalty is really small since the definition is small and the scanners are easy to generate.
On larger definitions this doesn't tend to be a problem because we're usually importing

[2021-08-11 20:55] radumereuta commented on #2122
The other problem: we're not including `INT` but it appears in the list, it's because we are [including](https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/kompile/DefinitionParsing.java#L195)
`K-REFLECTION` -> `STRING` -> `INT`
Not sure how to handle this^
@ehildenb @dwightguth

[2021-08-17 17:11] ehildenb commented on #2122
Why are we importing K-REFLECTION here? https://github.com/kframework/k/blob/b9bbf2b3c1967c8cbe09493498e0254e7f11adc4/kernel/src/main/java/org/kframework/kompile/DefinitionParsing.java#L195

Should we have tighter requirements on it? I guess the same question for the other auto-imports.

[2021-08-17 17:26] ehildenb opened #2135 "Integrate kore-check-functions tool into kompile pipeline"
The Haskell backend has a tool which can check (for a definition):

- Every equation RHS for a function symbol is a function pattern (what does this mean??? e.g. do the symbols on the RHS all have to be function/functional symbols? Are #Or not allowed? Does the ensures clause have to be defined? Does the pattern have to be linear? Are set variables allowed?)
- Some other thing it checks?

Issue on

[2021-08-17 17:33] ehildenb commented on #2135
Also, please let's add a profiling step for this to `--verbose` output, so we can quickly see if it's going to cause a performance problem.

To be clear, after `definition.kore` is produced, we will be calling this tool on it.

[2021-08-18 09:32] mcalancea opened #2140 "Regarding Exercise 2 in Lesson 3 of the K Tutorial."
I expected the following code to work.

[code]

However, the output of `kast -o pretty -e '(45 + 64) / 32'`  is `Parse error: unexpected token '45'`.

Notably, the code does work by renaming `DecConstant` to `Int` everywhere (so there's probably some interference with the `Int` in the prelude) . It also works by refactoring it this way (only the modules change):

[code]

[2021-08-18 14:47] ana-pantilie commented on #2135
It checks if the RHS can be instantiated with at most one value. Semantically, its interpretation is a singleton, or the empty set.

The second check will check if any two equations can apply to the same term.

The two checks together make sure that the function definitions are deterministic, or at least this is my understanding.

[2021-08-18 16:20] ehildenb opened #2142 "[Bug] [kprovex] - Does not respect --concrete-rules"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Running `kprovex` with `--concrete-rules` added to the `kompile` invocation results in concrete rule still being applied.

Input Files
-----------

File: `functional-spec.k`

[code]

Reproduction Steps
------------------

[code]

Note that we call `kompile` with `--concrete-rules SERIALIZATION

[2021-08-18 21:00] ehildenb commented on #2142
@radumereuta if you add a rule like `rule keccak(_) => 0 [simplification]` to the module `FUNCTIONAL-SPEC-SYNTAX`, I would expect the proof to become provable, but it should still test that the `concrete` rule is not applied.

[2021-08-19 13:46] ana-pantilie opened #2145 "[Bug] [kompile] - uninformative message when import is missing"
K Version
---------
[code]

Description
-----------

Kompiling a definition where an import is missing can give a very uninformative message. In my particular case, the issue was that the definition was not importing the `BOOL` module.

Input Files
-----------

File: `test.k`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The error should indicate that

[2021-08-19 14:31] virgil-serbanuta opened #2146 "[Bug] kompile - No error for duplicated module"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Declaring a module called LIST does not produce a conflict error with the LIST module in the `domains.md` file, and `kompile` silently uses the `domains.md` one.

Input Files
-----------

File: `tmp.k`
[code]

File: `tmp-proof.k`
[code]

Reproduction Steps
------------------

No kompile error,

[2021-08-19 17:39] #2142 closed, assigned to radumereuta

[2021-08-19 17:40] dwightguth commented on #2145
The problem here is that the error message you see here, while hard to understand for a human, is actually technically accurate. It would be difficult to fix this. Even if we were to do something slightly more intelligent like tell people what tokens it was expecting instead, you would just get an error like `"Unexpected token '</k>'; expected '('"`, which would still be completely misleading. We

[2021-08-23 13:19] radumereuta commented on #2122
Apparently `K-REFLECTION` is being used in the compilation steps: ResolveFreshConstants and ResolveIOStreams.
It is also imported by `STDIN-STREAM` because it uses `#parseKAST`
We need to import `STDIN-STREAM` and `STDOUT-STREAM` because we don't know if we need them until we parse the configuration.
We also need `MAP` for configuration parsing.

[2021-08-24 13:14] Baltoli opened #2152 "[Bug] - Error messages on macos contain absolute paths"
The tests in `regression-new/kprove-java` fail incorrectly on macos because a source location is being printed as an absolute path, but the expected output is not.

The diff output is:

[code]

[2021-08-24 13:23] Baltoli commented on #2152
On first inspection, this happens because the output from kprove isn't being redirected to `stdout`, so the `REMOVE_PATHS` invocation of `sed` never actually sees the correct output.

If I add `CONSIDER_PROVER_ERRORS=2>&1` to the Makefile in this directory, the test passes as expected.

[2021-08-24 13:57] Baltoli opened #2154 "[Bug] test case failure in proof-tests"
One test case still fails on my machine (macos11)

Running `make -C proof-tests`, the following command gets run, producing the diff output below:

[code]

[code]

[2021-08-24 16:59] dwightguth commented on #2154
I can reproduce this failure on my local machine. It seems to only affect certain versions of z3. When I install the version of z3 that is used by the CI, the test passes. So I would probably confirm that this is the only test failing on your machine and then ignore it. We don't really have the resources to deal with the fact that different versions of z3 are capable of solving different types of

[2021-08-24 17:05] ehildenb commented on #2154
4.8.7 works.

[2021-08-24 17:06] ehildenb commented on #2154
@Baltoli can you isolate the Z3 query that is actually causing the problem? You can do `--solver-transcript FILE_NAME` to produce a transcript of the Z3 queries that the Haskell backend is sending, and you can check which one behaves differently on 4.8.7 vs later versions. `--solver-transcript` is a `kore-exec` option, so you may need to use `--haskell-backend-command ...` argument to `kprove` to

[2021-08-24 17:14] ehildenb commented on #2145
We could pass in a list of acceptable klabels into the parser to make this error message better?

Or could we say "if something unexpected happens right after a klabel", Should we say something like "Perhaps check the previous parsed label `true`?"

We can make it so that when we have unexpected tokens like this, we mention the previous token as well, and _suggest_ that it could be the problem. Ma

[2021-08-24 17:20] ehildenb commented on #2135
Look for where `kore-parser` is called to validate the AST, so just copy that logic and call `kore-check-functions` instead. The command is here: https://github.com/kframework/k/blob/master/haskell-backend/src/main/java/org/kframework/backend/haskell/HaskellBackend.java#L44

Just make a second call to the new tool.

We need very clear _user-oriented_ documentation of what this does. Also, if `kore

[2021-08-24 17:22] ehildenb opened #2155 "Make sure we can run `kore-parser` and `kore-check-functions` on both backends"
There are some definitinos which are supported on LLVM backend and not haskell backend, which means `kore-parser` rejects them even though it's fine for LLVM backend. We should strive to run all the same checking tools on both backends, which means we need to identify those differences.

K-REFLECTION module is on example, K-IO module. Look for tests that exercise these in `regression-new` and see

[2021-08-24 17:23] #2115 closed, assigned to dwightguth

[2021-08-24 17:26] ehildenb commented on #1909
Guice can inject the dependency for you if you just add it as an option to this constructor: https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/kprove/KProve.java#L47 (that's for kprove, you'll need to do the same for kprovex).

[2021-08-24 17:33] ehildenb commented on #2122
It should be OK to not include `K-REFLECTION` in the LLVM/Haskell backends. We can do this with module exclusion tags (putting `kast` on K-REFLECTION), or with an explicit check at teh line above.

[2021-08-24 19:10] #2152 closed, assigned to Baltoli

[2021-08-25 09:50] Baltoli commented on #2154
This is a reduced version of the solver transcript that I see being generated:

[code]

[2021-08-25 09:59] Baltoli commented on #2154
When I run `kompile` on this test using the Haskell backend, it complains and throws an error because the solver fails. This happens whether I built K against Z3 4.8.7 or Z3 4.8.12 (running either version directly on this solver transcript gives me the same results).

[2021-08-25 13:20] Baltoli commented on #2154
I've tried a few different variants with the following outcomes:

|                     | Haskell | Java |
| ----------- | ------- | ----- |
| **macOS** | `kprove` fails | `kprove` succeeds, incorrect outcome |
| **Ubuntu** | `kprove` fails | `kprove` succeeds, `#Top` |

The actual *queries* generated by the solver are not satisfiable by Z3 4.8.7 or 4.8.12; the transcript above has an unprovable a

[2021-08-25 20:23] radumereuta commented on #2122
More findings:
The LLVM backend uses streams: https://github.com/kframework/k/blob/master/k-distribution/tests/regression-new/imp++-llvm/imp.md
Reminder, `STDIN-STREAM` imports `K-REFLECTION` because it uses `#parseKAST`.

The haskell backend _uses_ streams: https://github.com/kframework/k/blob/master/k-distribution/tests/regression-new/issue-1436/test.k

Not sure how to untangle this. @ehildenb @

[2021-08-26 17:52] ehildenb commented on #2028
Once we have a refactor of `kast` available as `kastx`, we should change this back: https://github.com/kframework/k/pull/2166

[2021-08-26 19:41] ehildenb opened #2167 "[Bug] [kprovex] - Does not support --debugger or --debug-script options"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Running `kprovex` with the `--debugger` and/or `--debug-script` options does not put the Haskell backend into kore-repl mode.

Input Files
-----------

Example spec file `test.k`:

[code]

Reproduction Steps
------------------

Kompile and run the proof with `kprovex`:

[code]

The proof passe

[2021-08-27 00:10] #2167 closed, assigned to radumereuta

[2021-08-30 23:14] ehildenb opened #2171 "[Bug] [kompile] - does not report duplicate <k> cell declaration"
K Version
---------

[code]

Description
-----------

Importing `DEFAULT-CONFIGURATION` and declaring your own `<k>` kompiles successfully, and produces weird results when both cells use the `$PGM` variable.

Input Files
-----------

File `test.k`:

[code]

Reproduction Steps
------------------

Call `kompile` on the definition:

[code]

No error output. Inspect `test-kompiled/configVars.sh`:

[co

[2021-08-31 14:46] ehildenb opened #2173 "Better error message using `--search` with LLVM backend without having kompiled with `--enable-search`"
Currently the LLVM backend with `--search` crashes with a horrible error instead of saying "You must pass `--enable-search` to `kompile` to be able to use `krun --search` with the LLVM backend". This should be improved.

See https://runtimeverification.slack.com/archives/C8DMP61DW/p1630379321002400

[2021-08-31 16:09] #1658 closed, assigned to dwightguth

[2021-08-31 19:16] radumereuta commented on #2119
Here are a few suggestions on how to start with this issue:
1. (earliest) https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/compile/checks/CheckListDecl.java
2.  (latest) https://github.com/kframework/k/blob/master/kore/src/main/scala/org/kframework/definition/outer.scala#L355
This check should probably fall somewhere in the middle of these two.
The first one doesn't

[2021-08-31 21:44] ehildenb opened #2174 "[Bug] [kprovex] - gives bad error message for claims which don't parse"
K Version
---------

[code]

Description
-----------

`kprovex` does not complain when a proof obligation does not parse, instead feeding an empty list of claims to the backend (or perhaps a mal-formed list of claims).

Input Files
-----------

File `test.k`:

[code]

Reproduction Steps
--------------------------

Kompile the definition:

[code]

Then run the prover:

[code]

Notice that `kprovex`

[2021-09-01 19:10] #2174 closed, assigned to radumereuta

[2021-09-01 20:10] #2146 closed, assigned to radumereuta

[2021-09-01 20:52] radumereuta commented on #2171
Questions:
1. How would such a restriction work with https://github.com/kframework/k/pull/2083 ?
2. You should be allowed to use $PGM multiple times in a configuration.
This doesn't look right though:
[code]

[2021-09-03 14:54] virgil-serbanuta opened #2177 "`imports FOO.bar` made the cache.bin file increase in size"
Motivation
----------

-   kprove and kprovex crash with OOM errors on the Multisig proofs

Example K Code
--------------

Example:

I would like to be able to specify the Java memory size on the command line for `kprove` and `kprovex`, perhaps also for `kompile`:

[code]

Documentation
-------------

`--java-memory=$SIZE` sets the `-Xmx$SIZE` argument for the Java virtual machine used by `kompile

[2021-09-03 15:03] virgil-serbanuta opened #2178 "[Bug] [kompile] - Starting a named argument with a capital letter conflicts with variables having the same name"
K Version
---------

[code]

Description
-----------

Starting a named argument with a capital letter conflicts with variables having the same name.

Input Files
-----------

File: `tmp.k`

[code]

Reproduction Steps
------------------

Kompiling produces a weird error for the `A` variable:

[code]

Expected Behavior
-----------------

`kompile` should consider `A` to be a variable and should not

[2021-09-03 15:40] dwightguth commented on #2177
This is doable via the K_OPTS environment variable. We will probably not support it as a command line flag because our option parsing is done by the jvm.

[2021-09-03 17:17] radumereuta commented on #2177
A bit of background.
Starting with this commit: https://github.com/kframework/k/pull/2144
Virgil's definition begun to fail with OOM.
I've looked at the cache.bin files of EVM and they've grown in size:
|backend| before|after|diff|
|---------|---------|------------------|----|
| java       | 5.8MB | 6.6MB |1.13|
| haskell |  6.6MB | 7.9MB |1.19|
| llvm | 6.1MB | 7.0MB |1.14|

When this happens, ju

[2021-09-03 19:17] radumereuta commented on #2178
This can cause problems in `domains.md` also:
[code]
I think we might need to consider restricting the names of non-terminals to lowercase Ids because they look too similar to typed variables.

[2021-09-03 19:40] virgil-serbanuta commented on #2177
FWIW, I'm also seeing an increase in the `cache.bin` files on the K master relative to the latest commit on which my proofs still work (`8555efc0656b2a5c25e3db0f8f868fb7a1bca970`), but the increase is, sometimes, a bit more dramatic, e.g. one is going from `16M` to `415M`:
[code]

vs

[code]

However, for other `cache.bin` files, the size seems to stay roughly the same.

[2021-09-06 15:28] radumereuta opened #2180 "kompile --version should include git revision"
When built locally kompile --version looks something like this:
[code]
Which is wrong. Only the CI knows the exact version number, and the local build puts a 0 instead.
Since we introduced the version number this caused problems with local builds when reporting errors.
I think it should always include git revision. No matter what the version number says.

[2021-09-06 15:48] nishantjr commented on #2180
Using something like:

[code]

may be useful for generating this message.

THe `29` is the number of commits since the last tag. `dirty` indicates that there have been local uncommitted changes.

[2021-09-07 15:21] Baltoli commented on #2180
#2181 is an initial attempt to implement this, but I'm blocked on an issue with `.git` directories on Jenkins that causes the build to fail. The implementation seems fine locally but breaks the CI unfortunately

[2021-09-07 17:15] radumereuta commented on #2177
@virgil-serbanuta could you build a definition that replicates this issue?
Something that we can test locally. Doesn't need to be minimized, just to be easy to run.

[2021-09-07 17:18] radumereuta commented on #2173
This should be simple. In the krun script we need to check if `--enable-search` was provided to kompile which creates an additional file (search) in the -kompiled directory.

[2021-09-07 17:21] radumereuta commented on #2171
Dwight: there is a check in generate sentences from config that checks if a cell already exists. We should remove that check.

[2021-09-07 17:29] radumereuta commented on #2122
Try to remove `rule [stdinParseArbitrarySort]:`. I don't think it's being used.
This would allow us to remove `K-REFLECTION` from being included automatically.

[2021-09-07 19:29] ehildenb opened #2183 "`#unparseKore` hook"
We currently have `#parseKore`, which can take a Kore term and parse it into the current runtime, but we need a counterpart call `#unparseKore`:

[code]

Currently the only way to do this is via several calls to `#system` to invoke `kast` on the pretty-output version of the string.

[2021-09-07 19:58] dwightguth commented on #2183
Are you talking about taking a term and printing kore, or are you talking about taking a term and pretty-printing? The former can probably be added, the latter was deliberately not added as a design decision so that the llvm backend doesn't depend on the frontend.

[2021-09-07 20:09] dwightguth commented on #2154
If this test is only on the Java backend and it's flaky, should we just remove it from the test suite? I ran the solver transcript that Bruce provided and it produced the same output on both versions of z3, so that's clearly not it. But that doesn't explain why changing the version of z3 would make the test fail for me on my linux machine. @Baltoli , how did you create that transcript? was it crea

[2021-09-08 10:57] Baltoli commented on #2154
@dwightguth The transcript was generated from the Haskell backend, where the test consistently fails. It's only on the Java backend that I can see it succeeding.

[2021-09-08 14:37] malturki commented on #2183
It's the former: taking a term and producing its kore as a string. Currently this is needed in the Algorand project. We basically need to produce as part of the final configuration in a krun execution the kore representation of some terms (of different sorts, including cell sorts). For instance, I'd like to write a rule of the form:
[code]

[2021-09-08 14:39] #2180 closed, assigned to Baltoli

[2021-09-08 15:51] Baltoli commented on #2154
I've obtained these solver traces from the Java backend. There appear to be two subqueries that fail on macos (Z3 4.8.12) but not on Ubuntu (Z3 4.8.7). A minimal example derived from those traces is:

[code]

I'm going to see if I can narrow down any more specifically where the regression gets introduced to Z3.

[ubuntu.z3.txt](https://github.com/kframework/k/files/7130179/ubuntu.z3.txt)
[macos.z3

[2021-09-08 17:02] dwightguth commented on #2183
This is probably something either Bruce or Erik could take on as a task to teach them about how hooks work in the LLVM backend. The place to put the hook is going to be in `runtime/io/parseKORE.cpp`. You will want to create a production in `domains.md` in the frontend in the `K-REFLECTION` module that looks like: `syntax {Sort} String ::= #printKORE(Sort) [function, hook(KREFLECTION.printKORE)]`,

[2021-09-09 08:22] Baltoli commented on #2154
It turns out that @radumereuta found this previously and raised an issue with upstream Z3 https://github.com/Z3Prover/z3/issues/5243. Given that it only affects the Java backend, is the best solution just to get rid of the flaky test as you suggest @dwightguth?

[2021-09-09 11:27] radumereuta commented on #2154
Ah, right. Now I remember #1957.
Is this the only test that is failing?

[2021-09-09 12:56] Baltoli commented on #2154
Yes, I just re-ran the test suite and it's the only failing test remaining on macos.

[2021-09-09 19:10] #1909 closed, assigned to SchmErik

[2021-09-09 19:10] #1330 closed, assigned to SchmErik

[2021-09-09 20:38] SchmErik commented on #2064
How about we put error location information at the top like so?
[code]
The idea here is that the person using the tool will first get information on the location of the error and then understand what went wrong at that location. This format of error messages starting with location is very common among programming language tools and I have developed the habit of searching for location information f

[2021-09-10 04:18] ehildenb opened #2192 "kparse script does not respect --output none"
For `kast`, to achieve no output we do `kast --output none`. For `kparse`, we do `kparse --output-file /dev/null`. Maybe we could support `--output none` on `kparse`?

[2021-09-10 04:20] ehildenb commented on #2192
Actually `--output-file /dev/null` doesn't work...

[2021-09-10 13:21] virgil-serbanuta opened #2193 "[Bug] [kompile|kprove] - kompile/kprove should throw an error for smt-lemma rules that can't be encoded"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

SMT Lemmas that can't be encoded because they use function symbols without `smtlib` attribute should produce an error.

Input Files
-----------

File: `tmp.k`

[code]

File: `proof-tmp.k`
[code]

Reproduction Steps
------------------

1. Check that the proof passes:
[code]

2. Remove the `smtl

[2021-09-10 13:29] ehildenb commented on #2193
We need to make sure this check happens for `kompile` I believe, and should confirm that it works for `kprovex`.

[2021-09-10 14:08] Baltoli opened #2194 "[Bug] [kdep] - kompiled directory path ignored by kdep"
The path to the timestamp file generated by `kdep` does not respect the `-d` option and is therefore incorrect.

Steps to reproduce:
[code]

The expected behaviour from kdep is to respect the `-d` option:
[code]

I've run `git bisect` and found that the bug was introduced in the big refactor of frontend options in [this commit](https://github.com/kframework/k/commit/309f81b73c0c3a447e78f4fd2bb4132

[2021-09-10 14:09] Baltoli commented on #2194
It might also be worth implementing a regression test for this, similarly to the version flag tests we already have - it should just be a case of running `kdep -d ...` and checking that the first line points to the correct directory.

[2021-09-10 17:26] SchmErik commented on #2194
I think I know what's going on. Let me take a look and get back to you. We should add a regression test for this

[2021-09-10 17:36] SchmErik commented on #2194
I think I found the mistake. @Baltoli, I'm going to test this now:
[code]

[2021-09-10 18:04] SchmErik commented on #2194
I tested the above change and it now gives the expected result on a simple test case that I wrote

[2021-09-13 08:14] Baltoli opened #2196 "[kdep] Test suite for kdep"
In #2195 a regression test was introduced for `kdep`'s handling of the `-d` option - we'd like to have a more comprehensive set of tests that cover its features properly.

[2021-09-13 08:20] Baltoli commented on #2194
Fixed in #2195

[2021-09-13 08:20] #2194 closed, assigned to nobody

[2021-09-13 15:18] virgil-serbanuta opened #2198 "[Bug] [kompile] - kompile -E crashes on everything I tested."
K Version
---------

[code]
(this is commit 75d680ef7e98589e161fdce1154428dd6706303b , the current master)

Description
-----------

Running `kompile` with `-E` crashes with `ProvisionException`, `Error injecting constructor`.

Input Files
-----------

Examples:

File: `tmp.k`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

`kompile -E` should not crash

[2021-09-13 15:49] virgil-serbanuta commented on #2198
Actually, this is weirder: the first time I checkout a specific commit and do `mvn clean && mvn package -DskipTests`, `kompile` fails with this error, however, the second time I do the same `mvn clean && mvn package -DskipTests`, `kompile -E` works.

[2021-09-13 16:48] virgil-serbanuta commented on #2177
Sorry for the delay.

[kprove-timeout.zip](https://github.com/kframework/k/files/7156043/kprove-timeout.zip)

To reproduce, unzip the above, then:
[code]

[2021-09-13 16:48] SchmErik commented on #2198
I did what you wrote in the report and I cannot reproduce the behavior that you're seeing... Here's the output that I get from fetching, checking out the current head at commit 75d680ef7e98589e161fdce1154428dd6706303b and running `mvn clean && mvn package -DskipTests` and  `kompile -E tmp.k`

[output.txt](https://github.com/kframework/k/files/7156044/output.txt)

[2021-09-13 16:57] virgil-serbanuta commented on #2198
Yeah, as I mentioned, I can't always reproduce it. For me the following steps work, I'm not sure what to do to make it more reliable:

[code]

[2021-09-13 17:07] virgil-serbanuta commented on #2198
Could you try this tmp.k file?
[code]

[2021-09-13 17:19] SchmErik commented on #2198
I did
[code]
and `kompile -E tmp.k --backend haskell > output1.txt` with the modified tmp.k here is the output:
[output1.txt](https://github.com/kframework/k/files/7156216/output1.txt)

Here's my version:
[code]

[2021-09-13 17:24] SchmErik commented on #2198
what happens when you do this on a9099b2882407fefa2104f3a488089c2759300e9?

[2021-09-13 17:40] #2196 closed, assigned to nobody

[2021-09-13 17:55] SchmErik commented on #2198
another thing to try is to do `git stash` on your changes and build from a clean build...

[2021-09-13 18:01] virgil-serbanuta commented on #2198
[code]

FWIW, I just noticed that `kompile` does the same even without `-E`.

[2021-09-13 19:33] virgil-serbanuta commented on #2198
After updating all submodules, the problem went away.

Sorry for the trouble, I didn't think that updating the modules would make a difference.

[2021-09-13 20:02] radumereuta commented on #2198
Can this be closed then? If yes, can you also mark it as invalid?

[2021-09-14 16:10] #2173 closed, assigned to Baltoli

[2021-09-14 16:13] #2198 closed, assigned to nobody

[2021-09-15 22:07] SchmErik opened #2206 "Possible duplication of effort in kompile frontend checks and kore-parser checks"
K Version
---------
[code]

Description
----------
I am currently working on #2119. This issue talks about how kompile misses a syntactic check and generates malformed kore output. When running `kompile` with the haskell backend, the malformed kore syntax is detected and an error is generated.

Here is a simple example of a .k definition that exhibits this behavior:
[code]
running `kompile test.k

[2021-09-16 16:10] radumereuta commented on #2206
In this specific case we still want to have a separate check in the front end for better error messages.
We may not want to use kore-parser for bot backends because they might impose different restrictions.

[2021-09-16 16:19] radumereuta commented on #2193
The front end needs to collect all the smt-lemma symbols and make sure they have smtlib or smt-hook attributes. If not, throw an error.
https://runtimeverification.slack.com/archives/C7E701MFG/p1631039118145300

[2021-09-16 16:24] radumereuta commented on #2192
Redirect output to /dev/null directly.

[2021-09-16 16:24] #2192 closed, assigned to nobody

[2021-09-16 16:29] radumereuta commented on #2183
For things that are constructors and user defined sorts shouldn't be a problem.
Things that are domain values and builtin collections should be wrapped in a fresh constructor.

[2021-09-16 16:32] ehildenb commented on #2183
This should be implementable. We _probably_ will have a restriction that we _cannot_ print domain values or builtin collections directly (eg. Int, Map, List, Bool, Float, ...).

So we can offer a wrapper hook like this, which handles putting any domain values in a fresh constructor:

[code]

We could also think about having `#unparseKore` remove the top-level `#wrapBuiltin` if it appears, so that

[2021-09-16 16:50] radumereuta commented on #2154
@Baltoli can you post the error message we get in the haskell backend?
We should be able to change the axioms from `module INT-SYMBOLIC-KORE` to accept the new Z3 limitations.

[2021-09-16 17:21] radumereuta commented on #2183
We should be aware that `#parseKore` has some limitations: runtimeverification/llvm-backend#579

[2021-09-16 17:23] SchmErik commented on #2206
thanks for the discussion. Closing

[2021-09-16 17:23] #2206 closed, assigned to nobody

[2021-09-20 09:13] Baltoli commented on #2154
The error I see from the Haskell backend is attached.

[haskell.out.txt](https://github.com/kframework/k/files/7194659/haskell.out.txt)

[2021-09-20 13:18] radumereuta opened #2211 "Stabilize pretty printed configurations"
Is it possible to sort terms inside a pretty printed configuration from krun output?
Sometimes, when we make changes to seemingly unrelated parts, we get different [outputs](https://github.com/kframework/k/pull/2209/commits/ccff3618b1c548017b386975db7ff93dfad6f0f8).
We should be able to sort `Map`, `Set`, and cells with `multiplicity="*"`.

[2021-09-20 13:31] mcalancea commented on #2033
- [x] Lesson 3: [This](https://github.com/kframework/k/issues/2140) issue.
- [x] Lesson 9: "or you can use the colors attribute to specify a comma-separated list of colors for each **non-terminal** in the production." => terminal instead of non-terminal here, right?
- [x] Lesson 9: Specifying fewer colors than terminals for the `colors` attribute crashes with something like  `/usr/local/bin/kore-p

[2021-09-20 16:39] #1889 closed, assigned to Baltoli

[2021-09-21 21:52] ehildenb opened #2217 "[Bug] [kompile] - macro for record production is applied to itself"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

A `macro` rule for a record production leads to `kompile` trying to attempt macro expansion on the macro itself.

Input Files
-----------

File `test.k`:

[code]

Reproduction Steps
------------------

Kompile the definition:

[code]

Expected Behavior
-----------------

I expect either (i) th

[2021-09-22 09:32] anvacaru commented on #2033
- [x] Lesson 4:  Small typo in the naming convention of the file ` which we will name lesson-04-D.k` => `lesson-04-d.k`
- [x] Lesson 5: Exercise 1 has a reference to problem 1 from lesson 1.4, but it should actually reference problem 2 from lesson 1.4
- [x] Lesson 14: " It ought to return true whenever a term should not be heated (because it is a value) and false" => " It ought to return `true` wh

[2021-09-22 19:49] radumereuta commented on #2217
The macro is being applied on a rule generated by `GenerateSortProjections`.
[code]
after applying macro
[code]

[2021-09-23 09:55] Baltoli opened #2219 "issue with type inference and ambiguities"
I'm not sure if this is a bug, or if it's the intended behaviour of the language construct.

I wrote a rule as follows:
[code]

and found that I get this error when compiling it:
[code]

If I parenthesise the body of the second `#let` binding it compiles successfully:

[code]

[2021-09-23 10:33] radumereuta commented on #2219
Can you minimize this example?
Also, what backend you used to kompile?
I can't tell if this is intended behavior or not. It might be a failure in the way we do type inferencing. I would have expected an ambiguity error.

[2021-09-23 10:40] Baltoli commented on #2219
This is about as small as I can get it:
[code]

LLVM initially; if I compile using Haskell the MWE does not produce an error:

[code]

And the fixed version:
[code]

[2021-09-23 11:41] mgudemann commented on #941
I know this is an old issue, but I just ran into the same problem.
[code]
on Mint 20
[code]

[2021-09-23 16:06] radumereuta commented on #2211
The sorting logic is in the llvm backend, kore-print binary.
A good place to start looking into this would be: https://github.com/kframework/llvm-backend/blob/master/tools/kprint/main.cpp#L250
[code]

[2021-09-23 16:12] radumereuta commented on #2217
We need a helper function that tells if a symbol is a macro. Something attached to a Module.
Don't generate the sort projections if the symbol is a macro.

[2021-09-23 16:16] radumereuta commented on #2219
Let's find out why we don't get the ambiguity error now.
We don't have a priority specified between `#let` and `andBool` so we should get an ambiguity error.

[2021-09-23 17:22] radumereuta opened #2221 "Module helper functions should be recursive to avoid duplicating work"
Something like this
https://github.com/kframework/k/blob/master/kore/src/main/scala/org/kframework/definition/outer.scala#L246
could be optimized if we compute the results for local sentences and then combine the results with the ones from the imports.

I don't know for sure what would be the impact of such a change but we already need to initialize some of the functions to reduce work being done:

[2021-09-23 19:11] ehildenb opened #2224 "KProve does not pass `--branching-allowed` through to haskell backend, only java"
The option `--branching-allowed` is there to allow limiting the number of concurrent execution paths. This can be useful for terminating proofs early.

Currently, this option is only passed through to the Java backend. But the haskell backend supports the `--breadth` option, so if `--branching-allowed N` is present on the `kprove` or `kprovex` command-line arguments, we should pass `--breadth N` t

[2021-09-27 20:50] radumereuta opened #2232 "`regression-new$ make clean` is very slow the second time"
`regression-new$ time make clean -j 32` takes 20-30s when there is nothing to delete. I've noticed 100% CPU usage.
Single threaded takes almost 3 minutes.

Also, if you have `kserver` active, I see activity there. I think something is calling `kdep` for some reason and makes cleaning very very slow.

If I run `make clean` right after I finished a build, it takes <1s, as expected.

This is happenin

[2021-09-28 15:10] #2232 closed, assigned to radumereuta

[2021-09-28 17:39] #2217 closed, assigned to radumereuta

[2021-09-28 17:54] SchmErik commented on #2224
@ehildenb do you know of any existing test cases that exercises this for the java backend? I think it would be a great exercise for me to come up with a test case but I thought I'd check with you to see if you had any ideas. I grepped the k-distribution directory in the repo for "branching-allowed" and the command didn't find anything

[2021-09-28 18:40] #2183 closed, assigned to SchmErik

[2021-09-28 18:47] ehildenb commented on #2224
I don't know any test cases, but here is a simple one:

[code]

Then `kprove --branches-allowed 1 test.k --spec-module TEST-SPEC` should have a counterexample which looks something like `<k> b </k> #Or <k> c </k>`.

[2021-09-28 18:55] SchmErik commented on #2224
I see that `--branching-allowed` is implemented in a file called `JavaExecutionOptions.java`. @ehildenb, are there other options that this class has that we want to use in the haskell backend? I don't know the haskell backend very well but I think it would be good to take a little time to think about other options that could be passed through the haskell backend as well. I'll start on this task bu

[2021-09-28 21:19] ehildenb commented on #2224
Nope, I'm pretty sure all the other options there are Java backend specific. Though I guess `--skip-backend` could be removed and `--dry-run` could serve the same purpose? Not sure.

[2021-09-29 12:56] radumereuta commented on #1782
Most of the things listed here have been implemented.
The `--profile-rule-parsing` now takes a file as an argument and we dump all the info there for easy readability.
The output is ordered so it is stable between runs. It makes it easy to diff.
Total times in milliseconds and individual times for parsing and Z3.
- parsing takes long - maybe add some parens
- Z3 takes long, maybe type your variabl

[2021-09-29 12:56] #1782 closed, assigned to radumereuta

[2021-09-29 13:06] radumereuta commented on #1838
Haven't had problems with this in a while.
Probably got fixed in #1965

[2021-09-29 13:06] #1838 closed, assigned to dwightguth, radumereuta

[2021-09-30 08:25] andreiburdusa opened #2239 "[KIP] - Better error mesage for "*" multiplicity map cell"
Motivation
----------

-   This would help new users, including those who are working on the [K Tutorial exercises](https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/17_cell_multiplicity#exercises) fix their definitions faster.

Example K Code
--------------

[code]

This definition doesn't compile because the `<cell>`s are translated internally to a map, and therefore

[2021-09-30 12:48] Baltoli opened #2240 "`orBool` / `andBool` parsing ambiguity"
Are parsing priorities set up for the `orBool` and `andBool` K productions from the `BOOL` module? This module produces an ambiguity, when I would expect it to resolve to `A orBool (B andBool C)`.

[code]

[2021-09-30 13:03] radumereuta commented on #2240
No, we don't: https://github.com/kframework/k/blob/master/k-distribution/include/kframework/builtin/domains.md?plain=1#L823

[2021-09-30 14:12] dwightguth commented on #2240
This is actually deliberate behavior so that people can't write unintended behaviors by mistake. We could probably make it non associative instead of an ambiguity, but you would then just get a different error message.

[2021-09-30 16:07] #2240 closed, assigned to nobody

[2021-09-30 16:11] radumereuta commented on #2239
This should give you an error in the configuration.
@andreiburdusa if you have more examples, please share them here. We would like to overhaul the error reporting around multiplicity cells.

[2021-09-30 16:17] radumereuta commented on #1584
1. Allow macros on productions
2. emit a warning for rules that use macros
This should be a transition period before we disallow the label on rules.

[2021-09-30 16:22] radumereuta commented on #2221
Let's keep this in mind when we modify the Module class so we don't make the same mistake again.

[2021-09-30 21:10] #2224 closed, assigned to SchmErik

[2021-09-30 23:10] SchmErik commented on #1584
After disallowing the label on rules, we can close #1956