[2015-07-30 19:36] bmmoore commented on #1568
That was supposed to be "cache".

[2015-07-30 20:15] daejunpark opened #1575 "[kore] Parsing failed for List with empty separator"
_[Already reported to @radumereuta but just for tracking purpose.]_

For the following definition minimized from IMP++:
[code]

Parsing got stuck at line 15 since it failed to recognize `S` and `while (B) S` are separated by `""`.
[code]

Notes:
 * If we have `{S S}` instead of `{S while (B) S}`, it works.
 * If we have `List{Stmt, ","}` instead of `""` as the list separator, it works.

[2015-07-30 20:23] daejunpark opened #1576 "[kore] implicit read rule support"
#1567
https://github.com/kframework/k/blob/108e5a1c635972de4174ee544d5b56c6969c00d9/k-distribution/tests/regression/kore-io/imp.k#L106-L117

[2015-07-31 03:01] yilongli commented on #1539
This is unfortunately a false positive. The cloning library is indeed thread-safe:
https://github.com/kostaskougios/cloning/blob/master/wiki/Usage.md

After reading the source code of [Cloner.java] (https://github.com/kostaskougios/cloning/blob/f7a225ff9b397220503633fdd66bc3ad9ba936a6/src/main/java/com/rits/cloning/Cloner.java), I conclude that the RV-Predict output the false positive because it m

[2015-07-31 03:01] #1539 closed

[2015-07-31 03:18] yilongli commented on #1546
@dwightguth I think this one is real. ```KTestQueueItem``` are submitted to the common ```ThreadPoolExecutor tpe``` in ```TaskQueue``` and, thus, can run concurrently. They access ```long lastTestFinished``` without sychronization. While ```lastTestFinished``` is probably not used for synchronization purpose, reads and writes on ```long``` are not atomic. Declaring it as volatile should fix the pr

[2015-07-31 03:34] dwightguth commented on #1539
You sure? I saw this one earlier today, was the code merged into master
only that recently?
On Jul 30, 2015 10:01 PM, "Yilong Li" <notifications@github.com> wrote:

[2015-07-31 03:36] yilongli commented on #1539
No, it was supposed to be fixed earlier. I will run it again.

[2015-07-31 08:13] yilongli commented on #1539
The HB edge is actually between ```putIfAbsent``` and ```get```. RV-Predict missed to intercept ```putIfAbsent``` and a few other methods in ```Map``` introduced in Java 8. Just fixed.

[2015-07-31 09:23] yilongli commented on #1568
@dwightguth For this specific race, just make ```parsedBubbles``` an atomic integer.

I don't follow the discussion about cache. Is it related to this race report?

[2015-07-31 09:39] yilongli opened #1578 "unnecessary synchronization block on `scopedObjects`"
I notice that the unnecessary synchronization block on ```scopedObjects``` introduced in https://github.com/kframework/k/commit/b452074efb889fe29faf4cc2a28c796e2c82ecd0 is still there. Reason: https://github.com/kframework/k/pull/1276#issuecomment-76573850

[2015-07-31 12:17] yilongli commented on #1543
@dwightguth @Bhargee While RV-Predict may miss some HB edges which result in false positives, it's very unlikely for RV-Predict to log incorrect memory location. I added the following line of code at [```KompileOptions.setFiles```](https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/kompile/KompileOptions.java#L40) to verify my conjecture:
```System.err.println(this + "

[2015-07-31 15:37] dwightguth commented on #1543
You are correct, this is a real race, my bad. The issue is that for each program in the same definition, we were accessing the same KompileOptoins object which had been serialized to a file and deserialized again. I have a patch that should take care of this issue if you are interested.

[2015-07-31 15:45] dwightguth commented on #1568
Brandon's concern is over the cache map, but that map is synchronized so it should be fine.

[2015-07-31 15:46] yilongli commented on #1543
Yes, please go head to submit the patch. I am not familiar enough with the code to fix this. Thanks!

[2015-07-31 15:49] dwightguth commented on #1578
Er it's an InheritableThreadLocal... If the main application thread spawns another thread and then invokes a provider that ends up calling this method in order to provide its object, there could be a race here I believe.

[2015-07-31 18:44] bmmoore commented on #1568
Yeah, I didn't follow the source of the parser cache back far enough to see that it's wrapped in synchronizedMap.

[2015-07-31 21:21] dwightguth opened #1582 "Use hook names for Z3 stuff"
So we changed the namespace of hook names so that all hook names are of the form

syntax HookName ::= Id "." Id

Now that this is true, it should be trivial to implement a mapping between KLabels and the Z3 functions modeling them that uses much less glue code. I am assigning this issue to @andreistefanescu per our discussion so that he can work on this refactoring.

[2015-08-03 20:21] bmmoore opened #1583 "debugger taking steps on stuck configuration"
When a test program gets unexpectedly stuck, I expected I could use the debugger to find how it got there by running commands like

    step -s 10000
    back-step

Instead, the debugger seems to consider trying to take a step on a stuck configuration as actually making a step of progress, which I need to back-step over.
I've assigned this to @msaxena2 under the assumption it's in the debugger, be

[2015-08-03 22:45] bmmoore opened #1586 "Type inference fails with overloading, for variables and wildcards"
I thought type inference was supposed to give variables the most general types that let a rule parse, and then assign other labels and terms the least sorts after that.
This doesn't seem to always work, and also I get different errors about variables and wildcards. Here's a sample definition, to be saved as `test.k`

    require "domains.k"
    module TEST-SYNTAX
    syntax A ::= B | "a"
    synta

[2015-08-04 15:51] grosu commented on #1586
This looks indeed like a bug to me.  @radumereuta ?

[2015-08-04 16:30] grosu commented on #1586
@bmmoore:

Yes, variables should be inferred the largest sorts, but so should be the terms!  The rationale is that one always has the option to use `Term::Sort` to enforce a smaller sort to a term if one wants to, while it is impossible to do the same for a larger sort.

I'm adding some notes for @radumereuta to the manual, to clarify these better.

[2015-08-04 17:51] bmmoore commented on #1587
"maximizes the sort" is a bit unclear. We want a most general sort, but I don't see why we would want greater sorts that don't add any generality. If we have a term `(A:Ids, B:Ids)`, we could say it has sort `Exps` using signature `Exps*Exps->Exps` for the comma, but any term that matches that pattern also has sort `Ids` using signature `Ids*Ids->Ids`, so it's no less general and a bit more specif

[2015-08-04 18:24] grosu commented on #1587
The problem with the "least sort for terms" approach is that it will go opposite to the convention for variables (which get the largest sort) and break our second principle, which says that people should not need the labeled form.  For example, consider an overloaded `+` on `Exp` and on `Int`, and that you want to write a rule of the form
[code]
Here `A` and `B` are inferred the sort `Int`, but yo

[2015-08-04 18:47] bmmoore commented on #1587
If you mean there is a single label `_+_` which has two overloaded sorts, then applying it to two ints only has a single result. If you mean there are separate labels which both have the concrete syntax "+" then it's outside of the case I was thinking of, but I think A::Exp + B => `A * B`::Int would force it to parse as `` `_+_:Exp*Exp->Exp`(A,B) => `_*_:Int*Int->Int`(A,B) ``.

But, if that's what

[2015-08-04 18:59] grosu commented on #1587
All the discussion was for productions that look the same but have different KLabels.  Sorry for the confusion.  I'll update my note on the manual wiki page to clarify this.

If the two productions in question have the same K label, then in my view there is no ambiguity at all.  I believe @dwightguth has already implemented this (that is, no ambiguity is reported if the KASTs of the two ambiguous

[2015-08-04 19:44] grosu commented on #1587
OK, I hope it is clearer now: https://github.com/kframework/k/wiki/Manual-(to-be-processed).

[2015-08-04 20:02] bmmoore commented on #1587
I was thinking about the case with separate KLabels when I wrote that. I think the worst parse errors are silently getting an entirely different label than you had in mind, so it's more important that any disambiguation between different KAST terms be understandable an predictable rather than being able to silently disambiguate as many inputs as possible.

If `+` is used both for primitive integer

[2015-08-04 22:25] grosu commented on #1587
@bmmoore I agree that these are annoying errors, we've all been through them.  However, on the other hand, I think it is hard to draw a line in what regards inference, and then say up to the line it is acceptable, beyond the line it is not acceptable.  Such a line may end up being subjective.  For example, one could say that even inferring the sort of a variable as the intersection sort of its var

[2015-08-05 22:10] bmmoore commented on #1587
At some point how much inference you want becomes a matter of judgement, but functional languages generally at least aspire to provide a simple and principled guarantee like principle types.

In K the equivalent would be something like promising that if type inference succeeds on a pattern and you add more type annotations (in a legal way), then any term matching the annotated pattern would also m

[2015-08-05 22:11] bmmoore commented on #1587
(temporarily closed only because I accidentally hit "Close and comment")

[2015-08-05 23:09] bmmoore opened #1589 "Wrong start symbol in new parser"
It seems the new parser always tries to parse the program in sort K, rather than taking the start sort from the $PGM variable as in the old pipeline. We also can't use `#parse` because it does try to parse as `K` rather than just supplying the text of the program as a string in `$PGM`.

[2015-08-05 23:10] bmmoore commented on #1575
Did you try parsing with `kast --kore -s Stmts`? I saw that working on a similar example, even if `kast --kore` failed. This may be related to #1589

[2015-08-06 13:15] yilongli commented on #1543
I got another race report on it:
[code]

@dwightguth what do you think?

[2015-08-06 14:49] #1546 closed

[2015-08-06 15:01] #1543 closed

[2015-08-06 16:14] yilongli commented on #1578
OK, I think you are right.

[2015-08-06 16:14] #1578 closed

[2015-08-06 16:46] bmmoore commented on #1590
This was actually a problem only on tutorial-kore, from me incompletely merging changes to hook names on master. Fixed in commit 8e7800c2ef3581fe725052c8baa52e2168d1ca04.

[2015-08-06 21:00] msaxena2 commented on #1583
I'm aware of this problem, and you're right it's in the debugger. Will be fixing it soon in the next Pull Request.

[2015-08-07 05:13] yilongli opened #1597 "data race on org.kframework.parser.concrete.DefinitionLocalKParser$1.$state"
Two race reports on this:
[code]

The problem is that ```LinkedHashMap``` is not thread-safe.

[2015-08-07 05:28] yilongli commented on #1544
This one is real. Two threads are accessing the static field ```DefinitionLocalKParser.resourceDomain``` concurrently.

[2015-08-07 07:19] yilongli opened #1598 "data race on field org.kframework.main.Main.isNailgun"
[code]

[2015-08-07 11:58] yilongli commented on #1542
This is a false positive. The custom [DISCARDING_QUEUE] (http://grepcode.com/file/repo1.maven.org/maven2/com.google.guava/guava/18.0/com/google/common/cache/LocalCache.java#LocalCache.0DISCARDING_QUEUE) is a trivial immutable class. RV-Predict treats it as a normal ```Queue``` implementation during mocking and concludes that it's not thread-safe.

[2015-08-07 11:58] #1542 closed

[2015-08-07 13:17] yilongli opened #1599 "several data races inside org.fusesource.jansi.AnsiOutputStream"
I get a bunch of race reports inside the class ```AnsiOutputStream``` when I accidentally do a ktest on an out-dated kompiled definition:
[code]

I think the problem is that Nailgun's ```ThreadLocalPrintStream``` is using ```InheritableThreadLocal``` to store [streams] (https://github.com/martylamb/nailgun/blob/master/nailgun-server/src/main/java/com/martiansoftware/nailgun/ThreadLocalPrintStream.

[2015-08-07 14:22] #1544 closed

[2015-08-07 14:22] #1597 closed

[2015-08-07 14:22] #1598 closed

[2015-08-07 14:38] dwightguth commented on #1599
So, it's possible this is the cause, but I'm not entirely sure what to do about it because it's fairly important for functional correctness that multiple threads corresponding to the same nailgun request access the same output stream object. Do you have a suggestion?

[2015-08-07 14:47] yilongli commented on #1599
Maybe we can implement a thread-safe wrapper that extends PrintStream (or OutputStream?) and then put the AnsiOutputStream inside?

[2015-08-07 15:08] yilongli commented on #1541
Benign data race: racey single check.

[2015-08-07 15:08] #1541 closed

[2015-08-07 15:17] yilongli opened #1601 "data race on org.kframework.kil.KLabelConstant.cache"
This one is particularly harmful:
[code]

[2015-08-07 15:53] yilongli commented on #1601
One more similar report on ```GenericToken.kAppCache```:
[code]

[2015-08-07 16:56] dwightguth commented on #1602
I am looking at this method and it looks like a benign race to me:
[code]

[2015-08-07 17:11] yilongli commented on #1602
Good catch. I didn't look into the implementation, but the ```HashMultiset``` is non-thread-safe in general. So I believe if I run it enough times, this issue will pop up on other fields inside ```AbstractMultimap```. BTW, Guava also provides [```ConcurrentHashMultimap```] (http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/ConcurrentHashMultiset.html) and ```Multimap

[2015-08-07 18:31] bmmoore opened #1603 "Type inference ignoring ambiguity"
In this example the last rule ends up with an inferred type of `X` for `X`, despite `A` and `B` also being legal sorts and none greater than the others. There are no warnings besides the informative messages that some variables are assigned inferred types.

    require "domains.k"
    module TEST-SYNTAX
    syntax T ::= "wrap" M [klabel(wrapM)] | "wrap" X [klabel(wrapX)]
    syntax A
    syntax B

[2015-08-07 20:15] grosu commented on #1603
This is a very interesting and well thought of example, @bmmoore! As a user, I'd like to see an error/warning message here telling me that variable X can have any of the sorts A, B, and X.

[2015-08-07 21:25] bmmoore commented on #1589
Thinking of workarounds, something seems to be broken also with `-pPGM` in `krun` with the kore pipeline, but the `--parser` flag works.

[2015-08-08 00:01] bmmoore commented on #1603
That's exactly what you will get with changes in #1604.

[2015-08-08 01:58] #1601 closed

[2015-08-08 04:27] yilongli opened #1606 "data race on field org.kframework.backend.java.kil.CellCollection$Cell.content"
I got this race report when testing kool-typed-static. At first I thought it would be an easy fix, but then I realized that it shows that we are sharing mutable terms (i.e., ```CellCollection``` & ```CellCollection$Cell```) between several kruns. Isn't problematic? How does it happen? @andreistefanescu @dwightguth What do you think?
[code]

[2015-08-08 04:28] yilongli commented on #1606
Related to #1602.

[2015-08-08 05:53] yilongli commented on #1602
I think ```CellCollection``` should be confined to one thread or one rewriter. It doesn't make sense to share mutable terms between threads.

[2015-08-08 14:51] yilongli commented on #1545
I wonder if it's worth the effort for me to investigate the race reports related to the use of spoofax library. Is this part of the code going to be removed very soon?

[2015-08-08 14:51] yilongli commented on #1545
@radumereuta @dwightguth

[2015-08-10 05:01] yilongli commented on #1540
The fix was incorrect because ```org.kframework.backend.java.kil``` classes are not supposed to be thread-safe!

[2015-08-10 05:24] yilongli opened #1610 "update Nailgun to include my patch"
I recently fixed the races reported by RV-Predict inside Nailgun: https://github.com/martylamb/nailgun/pull/67

@dwightguth can you please update your Nailgun fork to include my patch and deploy this race-free version?

[2015-08-10 10:49] grosu commented on #1610
@yilongli , many thanks for doing this!!!  @dwightguth , can you please let us know if these fixes significantly affect the performance of K?

Guys, we need to write a nice blog about this experiment on using RV-Predict on K.  To me, an interesting thing that it shows is that people should use RV-Predict from early stages in their project and continuously, so that they fix the races as they occur

[2015-08-10 10:52] grosu commented on #1610
Also, an extra-additional benefit, if one can say so, is that using RV-Predict continuously as you develop and test your software, enables you *learn* and *understand* concurrency better than before, which is in itself a plus.  @yilongli, when we write our blog, or even on RV-Predict's page/documentation, let's make sure we add these under "Why should I use RV-PRedict" or/and under "When should I

[2015-08-10 11:04] grosu commented on #1610
@yilongli, it is really nice that you fixed the bug in nailgun, too, on your way of fixing K!  Please add this to the blog, too, namely that races are often in off-the-shelf components that people use in their applications, even in ones that have been used for some time and by many.  Fixing bugs in those is actually even more important, because of that.

[2015-08-10 11:45] yilongli commented on #1610
@grosu OK, I have put them on my TODO list. I have fixed most of the simple race reports in K, but there are some more fundamental and complex changes which I would rather leave to the K developers. For example, [this one] (https://github.com/kframework/k/issues/1606). Once @dwightguth fixes them, I can start write up the blog post about using RV-Predict on K.

[2015-08-10 12:22] grosu commented on #1610
@yilongli Thanks!

In fact, I believe that you/we should write an experience report paper explaining your experience with finding races using existing systems, including RV-Predict.  We can talk about that on hangouts if you are interested.  I think such a paper would be very nice and could have a large impact.

[2015-08-10 13:00] dwightguth commented on #1606
So the only terms that should be shared between krun invocations are terms that are part of the Definition object. If they are being written to then something funny is going on.

[2015-08-10 13:06] dwightguth commented on #1540
@yilongli this relates to the fact that Definition objects are shared across multiple requests. I did this because it creates a significant performance savings over multiple requests when the definition does not have to be reloaded and its lazy information recomputed after each request.

[2015-08-10 13:12] yilongli commented on #1540
Yes, I am aware of that. But only the immutable terms inside the Definition object should be shared. Apparently, that is broken somehow.

[2015-08-10 13:13] yilongli commented on #1606
Yes, that is the problem, though I am not sure how this happens. Can you please work on this problem? It's responsible for a whole bunch of races on java kil classes. It would be just hiding the problem if I patch those classes directly to avoid data races.

[2015-08-10 14:12] #1540 closed

[2015-08-10 15:58] yilongli commented on #1602
@dwightguth I think you are right. This is a benign race. On the higher level, ```AbstractMultimap.values()``` can be seen as a read on the content of the multimap.

[2015-08-10 16:17] dwightguth commented on #1545
Not really worth dealing with; this code goes away in K 4.0.

[2015-08-10 16:18] #1547 closed

[2015-08-10 16:21] yilongli commented on #1538
Probably fixed recently. I am not getting these race reports anymore.

[2015-08-10 16:21] #1538 closed

[2015-08-10 16:51] #1606 closed

[2015-08-10 16:51] #1610 closed

[2015-08-10 17:00] grosu commented on #1602
@yilongli , please make sure you explain somewhere how people can easily tell RV-Predict to not report such benign races over and over again, once they find out that a race is benign.  I think, ideally, they would like to have some config file for RV-Predict in which they write the options once and for all, without having to repeat them over and over again.  Maybe you already have that, I haven't

[2015-08-10 17:02] yilongli commented on #1602
Yes, there is an option called ```--suppress``` where you can supply regular expression patterns to suppress benign races. It's in the help menu and the documentation.

[2015-08-10 17:03] yilongli commented on #1602
And yes, we will have a config file for that.

[2015-08-10 18:27] bmmoore opened #1612 "[kore] Optional cell broken in Kore."
In the current master any non-`initial` optional cell leads to a compilation error.
The error is reported in `CloseCells` because the generated initializer for the parent cell correctly leaves out the child cell, but the production generated for the optional cell does not have the `unit` attribute used to recognize optional cells at that stage of the compiler.

[2015-08-10 22:02] #1612 closed

[2015-08-11 21:39] bmmoore commented on #1535
In the kore backend this seems to run okay, except with the unification errors from the Java backend, reaching

    <generatedTop> <T> <k> initGlobals ~> callMain </k>
    <control> <currFunction> name ( "Initial" )</currFunction> </control>
    <modules> <module> _192 <functions> <function> <functionName> name ( "Initial" ) </functionName> _194 </function> _193 </functions> </module> _191 </modul

[2015-08-12 20:41] #1586 closed

[2015-08-12 20:44] grosu commented on #1603
@bmmoore I think this example is nice to include in the manual.  Can you please add it there, with some text extracted from our recent discussions?  Now it is the right moment to do it, because it is still fresh in our mind.  We'll have to soon start writing the manual, we have too much pressure on our shoulders from users.

[2015-08-12 21:01] grosu commented on #1587
@radumereuta , a reminder that we cannot close this issue until you digest its contents and update the manual accordingly.  When you close this, please make sure that there is nothing important or interesting in this issue that is not already discussed in the manual.

Everybody: from here on, please make an active effort to add things to the manual, especially things that you didn't know exactly,

[2015-08-12 22:10] bmmoore commented on #1603
Ok, it's added next to the other text on inference.

[2015-08-12 22:10] #1603 closed

[2015-08-12 22:11] bmmoore commented on #1603
(I thought I put the magic text in the #1604 message to automatically close this issue when it merged)

[2015-08-13 21:14] bmmoore opened #1619 "Setting K_OPTS loses default JVM options"
Setting the K_OPTS environment variable replaces all the default JVM options, even ones you don't specifically override. @dwightguth and I noticed while working with the C semantics - the makefile increases the heap size, but this loses K's default stack size increase to 32m, which sometimes leads to stack overflows in regex construction (Maybe @radumereuta can do something there?). Probably the b

[2015-08-13 21:45] daejunpark opened #1621 "[kore] sub-sorted list not matched"
a.k:
[code]
1.a:
[code]

It got stuck at `pgm` rule:
[code]

[2015-08-13 21:55] daejunpark opened #1622 "[kore] matching list of a single element"
`kompile` fails to parse a list of a single element like `(E:Exp .Exps)`.

For example,

b.k:
[code]

1.b:
[code]

`kompile` failed at line 18:
[code]

The line 18 is semantically the same with the line 19, and if we use line 19 instead of line 18, it works.

[2015-08-13 21:56] daejunpark commented on #1622
@bmmoore @dwightguth

Brandon, Dwight said you had a similar issue of this. Did you manage to fix it? Any idea?

[2015-08-13 21:56] daejunpark commented on #1621
Both java backend and ocaml backend have the same issue here.

[2015-08-13 22:40] daejunpark commented on #1621
It turned out to be a parser bug, specifically in AddEmptyLists. The parser put the empty list label for `Vs:Vals` even if Vals is a sub-sort of Exps.

As a quick workaround for now, if I wrote the rule in kast format, it works:
[code]

Dwight suggested to assign this issue to either @radumereuta or @bmmoore .

[2015-08-13 22:49] grosu commented on #1621
@radumereuta is your algorithm for parsing lists explained somewhere?  I don't understand why you have to put any empty list labels anywhere.  Wasn't the plan that from List{Sort,"separator") you generate two different grammars, one for parsing programs and one for parsing the semantics, and the latter is more ambiguous but the ambiguities are collapsed and thus nor reported if the corresponding K

[2015-08-14 21:44] bmmoore commented on #1594
I'll assign this to @andreistefanescu  for now. Can you take a look at this? I think you promised you would look into anything that's stopping the Java backend from running Kore, and I'd really like to have more than just IMP available in kore for my own work.

[2015-08-17 17:45] edgar-pek opened #1626 "Uncaught NullPointerException when running a file compiled with kcc"
Reproducing the error:
kcc -s https://github.com/edgar-pek/OpenPilot4K/blob/master/imu_airspeed-inlined_calls.c
DEBUG=1 TRACE=1 ./a.out
Output:
rule <generatedTop><global>_22254:Bag</global><T><exec><threads><thread><k>'loadObj((# <global>_22252:Bag</global>)(.KList)) ~> _22253:K</k>_22258:Bag</thread>_22257:Bag</threads>_22256:Bag</exec>_22255:Bag</T></generatedTop> => <generatedTop><global>_2225

[2015-08-17 18:06] andreistefanescu commented on #1626
This is a known (to me) bug in the implementation of ```toString``` for collections. I plan to fix it as part of the transition to kore. For now, I suggest to bypass it (for example, print only the location instead of the entire rule, or wrap the line throwing the exception in a try-catch block).

[2015-08-17 22:19] grosu opened #1627 "README files does not link to JDK"
Instead, it links to instructions to install the JDK.  If I'm missing anything, please let me know, but I spent 5 minutes trying to find a link to JDK to compile K on a new laptop machine following the README link and I failed.  Then I just typed JDK in Google and found it immediately.  The "JDK link" in our README was useless for me.

[2015-08-18 03:16] grosu opened #1628 "README files does not link to JDK"
Instead, it links to instructions to install the JDK.  If I'm missing anything, please let me know, but I spent 5 minutes trying to find a link to JDK to compile K on a new laptop machine following the README link and I failed.  Then I just typed JDK in Google and found it immediately.  The "JDK link" in our README was useless for me.

[2015-08-18 03:26] grosu opened #1629 "Get rid of List and ListItem"
This was discussed multiple times, but nothing has been done about it, so here it is as an official issue to debate now.  There is no reason anymore for the sort `List` and the wrapper `ListItem`.  People can define their own `List{Sort,"sep"}` and use it for stacks or for whatever else we used `List`, including in the `<stdin/>` and `<stdout/>` cells.  Yes, we'll need to match at both ends of the

[2015-08-18 15:23] dwightguth commented on #1629
We will need to have some kind of separate `AssocList{Sort,"sep"}` construct for this, plus we will also need to keep the LIST module around as a deprecated option. We will also need to test the code which currently handles associative lists to see whether it will even work with the design as you propose it. My guess is it probably won't; there still are serious issues surrounding the distinction

[2015-08-18 16:29] dwightguth commented on #1629
Also it's worth noting that if you want a good experience with typed lists you're really going to have to do some kind of parametrization, because you also, in addition to the list constructs themselves, have to do something about the List functions, like get, range, in, size, etc.

[2015-08-18 16:37] daejunpark commented on #1629
+1 @dwightguth idea on a singleton list. In WebAssembly, matching with a singleton list is common, and in such a language, we will need to have a nice syntax for them. I like the syntax Dwight proposed, e.g., `[5]`, but I'm afraid it may clash with Map lookup syntax.

[2015-08-18 20:34] msaxena2 commented on #1583
#1555 Fixes this Issue.
Behavior of the debugger on the same program now:

KDebug> s
Attempted 1 step(s). Took 0 steps(s).
Final State Reached
KDebug> b
Already at Start State, Cannot take steps.
KDebug> s 10
Attempted 10 step(s). Took 0 steps(s).
Final State Reached
KDebug> b 10
Number of Configuration(s) is 1. Step Count to go back must be in range [0, 1)

And yes, s and b can be used to called

[2015-08-18 20:35] bmmoore opened #1634 "JVM Segfault in libz3"
JVM crashes like this seem to be getting more common. It happened three times in a row trying to build a recent pull request

    #
    # A fatal error has been detected by the Java Runtime Environment:
    #
    #  SIGSEGV (0xb) at pc=0x00002b4cd3730106, pid=810, tid=47609081427712
    #
    # JRE version: Java(TM) SE Runtime Environment (8.0_45-b14) (build 1.8.0_45-b14)
    # Java VM: Java HotSp

[2015-08-18 20:58] andreistefanescu commented on #1634
This is a known bug in libz3, caused by a race between the timeout handle and the some cleanup code. You can use ```--z3-executable``` which creates a new process instead of the jni.

[2015-08-18 20:58] bmmoore commented on #1583
Sounds like it's fixed, but it looks like `b` is unsymmetrically giving up without trying to take any steps, rather than backing up to an initial state. Is there is reason to make them different?

[2015-08-18 21:12] bmmoore commented on #1634
I can, but that doesn't help in Jenkins. Looks like #1633 has failed on this four times in a row now.

[2015-08-18 21:13] bmmoore commented on #1634
Please link to the upstream issue.

[2015-08-18 21:16] bmmoore commented on #1634
@dwightguth is there any way to work around this in Jenkins?

[2015-08-18 21:25] dwightguth commented on #1634
@andreistefanescu this is causing too much disruption, it's time to fix the underlying cause. We need to either get the z3 guys to fix the segfault, or else remove all calls to the library from ktest and make the executable the default.

[2015-08-18 21:38] andreistefanescu commented on #1634
@dwightguth I disagree. The problem is that ktest and the tests are in the same process. Yes, ideally, the z3 guys would fix it, but we have very little control over it. I will keep the library as the default option, but if you want you can use ```-z3-executable``` for the remaining tests.

[2015-08-18 21:47] bmmoore commented on #1634
@andreistefanescu I don't see how that would stop this bug from leading to Jenkins build failures.

[2015-08-18 22:13] edgar-pek commented on #1634
@andreistefanescu <https://github.com/andreistefanescu> Just out of
curiosity (and because of strange nostalgia for decision procedure hacking)
how complex is the z3 issue?

On Tue, Aug 18, 2015 at 4:38 PM, Andrei Stefanescu <notifications@github.com

[2015-08-19 03:37] grosu commented on #1587
@bmmoore Thanks for your comments!  Is there anything else we discussed which is not said on this page or in the manual?  If yes, can you please add it?

@radumereuta Please give us an ETA on this.  If you think you cannot or would rather not do it yourself, then please let me know and I'll do it (I actually want to do this myself, but at the same time I believe it is best if you go through all th

[2015-08-19 14:01] grosu commented on #1634
Guys, does that mean that if somebody clones the K sources from github in order to play with K and they type `mvn package`, then they will get errors due to z3?  If that is the case, then that is VERY BAD for us!  Most of the tests have nothing to do with z3.  And those having something to do with z3 should be made to work, or if they crash due to z3 errors, then we should report an error message

[2015-08-19 16:20] msaxena2 commented on #1583
When it comes to stepping back, the debugger already knows how many steps it can take before hitting an initial state (unlike stepping forward, where it doesn't know the number of steps it can take before reaching the final state), hence it regards an instruction to take more steps than permissible as invalid, and doesn't do anything at all. As far as restarting is concerned, there are many ways o

[2015-08-19 19:15] bmmoore commented on #1634
So far it only seems to affect `mvn verify`.

[2015-08-19 19:21] bmmoore commented on #1583
I see there was a little back and forth merging the pull request, but it's fixed now (testing on master as of 425f4a45ba5e1d03db46b6e5bc4a61e7b11f226b).

[2015-08-19 19:21] #1583 closed

[2015-08-19 20:03] bmmoore commented on #1587
I don't have any more comments. I'll just mention for better cross-referencing that the issues referenced referenced above are fixed in #1604. I think we are now doing exactly what we want with variables. What's not implemented is comparing sorts to disambiguate when a substring has multiple parses headed with different labels.

[2015-08-19 20:05] bmmoore commented on #1628
Duplicate of #1627, looks like the issue was somehow created twice.

[2015-08-19 20:05] #1628 closed

[2015-08-19 21:08] #1627 closed

[2015-08-20 05:42] andreistefanescu commented on #1634
@grosu this issue only affects ```mvn verify```, not ```mvn package```. The workaround is to run z3 in a separate process instead of using the z3 library, which is what ```--z3-executable```. The downside is the crating new processes is expensive.

We can use cvc4 as an alternative smt solver if has java bindings and supports e-matching triggers.

@edgar-pek we set a timeout for z3 queries that ch

[2015-08-21 17:26] cos opened #1647 "Discussion about modularization and syntax disambiguation"
(I'm copy-pasting the relevant parts of the discussion here)

Brandon:

parsing as if it was in the inner module, but I don't think we limit
nested @ inside that term to modules visible from the inner module:

[code]

[2015-08-21 17:28] cos commented on #1647
Grigore:

2) For each (nested) bubble B tagged with a module M to be parsed in, check if M is accessible from the current module, and if yes then replace B@M with #parse(B,M*).

[2015-08-21 17:29] cos commented on #1647
Brandon:

I think a simpler way to explain the parse we want is just in terms of a version
of the parse function that takes an extra agument controlling the set of visible modules.

would expand to something like
parseWithVisibleModules("`a(b@C)`@B", D, {A,B,C,D}),
which would handle outer bubble by recursing to
parseWithVisibleModules("a(b@C)", B, {A,B,C,D}),
which would then manage to successful

[2015-08-21 17:30] cos commented on #1647
Frankly, I am not sold on the “parse in module” yet. I have not seen an example where the same outcome cannot be obtained using typing, while at the same time keeping the K concepts less confusing and closer to how things are done in other (programming) languages.

Our driving example is the + vs +Int distinction but, as Radu noted, that can be obtained via typing. Furthermore, Brandon gave anothe

[2015-08-21 17:32] cos commented on #1647
Grigore:

[2015-08-21 17:32] cos commented on #1647
I’m a bit intimidated by the extent of complexity we’re adding to K. In that discussion, I agree with Brandon’s last comment. Sort inference generating different K labels can introduce subtle errors. We’re now adding another layer, “parse in module”, with its own special rules.

In light of that discussion, I think my comments below still hold, with one adjustment: “b:>@C” should be “b<:@C” .What

[2015-08-21 17:33] cos commented on #1647
Grigore:

Note, again, that this nice unified extension of @ to whole bubbles of code, as opposed to just sorts and operations like in more conventional languages, makes sense in K precisely because K is not a conventional language (it allows writing things in concrete syntax).  This was the driving force behind this proposal, and not the distinction between + and +Int (that can be solved with sor

[2015-08-21 17:46] cos commented on #1647
A reply for (3), also partially addressing and hopefully partially solving (1) and (2):

Yes, I should have avoided `Int` as it has a specific semantic and makes things confusing.

I check the implementation and, at least in KORE, we do not enforce this. If want to enforce it then, in order to be consistent, we should also enforce that any module redefines any ambiguities introduced by imported mo

[2015-08-21 17:47] cos commented on #1647
@grosu, @bmmoore, @radumereuta,  I've copy-pasted the relevant parts of the discussion here, and replied to Grigore's last email. I didn't go back to fix the github markdown syntax everywhere -- let me know if you anything confusing and I'll do that.

[2015-08-21 18:04] dwightguth opened #1649 "Fix path issue in TestParserOnKORE"
[code]

It appears to be an issue with paths that have \ versus /.

[2015-08-21 18:06] cos commented on #1647
To clarify, by "production" above, I mean "klabel", our way of cherry-picking productions.

[2015-08-21 18:16] #373 closed

[2015-08-21 19:08] #1437 closed

[2015-08-21 21:46] bmmoore commented on #1647
I don't see why you are redefining anything in module D, or what other principle you think it's consistent with. From the point of view of module D there are four separate klabels around, `a@B`, `a@C`, `b@A`, and `b@C`, all in the same sort `X` (the same because each module inherits it from A). Even if considered D redefining concrete syntax as picking a resolution of ambiguity rather than just ad

[2015-08-22 14:01] grosu commented on #1587
@radumereuta : we need your help here.  At this moment I'm puzzled about the actual meaning of sort annotations: `<:,  `:>`, etc.  Even without modules, I'd like to understand how these allow people to choose the exact parsing they want when they have overloaded productions (but with different labels).  For example, consider the grammar:
[code]
I want to annotate `f(a)` so that I can parse it as e

[2015-08-22 14:36] grosu commented on #1587
Let's make the example a bit more interesting, so that neither a minimal sort nor a maximal sort inference convention can work:
[code]
The challenge is to manually sort-annotate `f(a)` so that we can choose any of the four parses.
The only obvious one is `f(a:>B)<:C` for `fBC(a)`.
Whatever convention we come up with, such as maximal or minimal inferred sort, will give us another parse.  So we'll b

[2015-08-22 15:39] grosu commented on #1587
Maybe we should infer the default parsing disambiguation convention based on a simple "escape" mechanism that we want to crisply explain our users in two lines.  For example, this can be:

*If in a given context `C[f(t1,...,tn)]` you want to choose a parse with `syntax S ::= f(S1,...,Sn)`, then annotate it as follows: `C[f(t1:>S1,...,tn:>Sn)<:S]`.*

The uses of `:>` and `<:` above are as local as

[2015-08-22 19:35] grosu commented on #1587
By "K extension" I did not mean to add all the K stuff, but only the minimal extension that allows arbitrary syntax annotations, namely:

1) Adding sorts `Top` and `Bot` to `G`

2) For each original sort `S` of  `G`, add the following:
[code]

[2015-08-24 08:14] yilongli opened #1653 "update z3 to 4.4.0?"
https://github.com/Z3Prover/bin/tree/master/releases

[2015-08-24 14:36] cos commented on #1647
Allowing syntax to become ambiguous due to diamond imports but not simple imports seems a bit like having an OOP language which allows diamond inheritance but disallows method overriding. If we allow ambiguities to be introduced by situations such as your example (and there is probably no way around it), then, to be consistent, we should allow also the much simpler:

[code]

If we disallow the sim

[2015-08-25 21:24] cos commented on #1587
Using the "select a production/klabel" mechanism described on the modularization discussion issue (#1647), the four variants would be obtained by:
[code]

The obvious advantage of this approach is that it is much easier and straightforward. There are two disadvantages tho:

1. The user has to know about the existence of klabels. But we're already talking about rather funky sort annotations, so it

[2015-08-25 21:25] cos commented on #1587
(fixed typo)

[2015-08-26 03:20] grosu commented on #1647
@cos I don't see how t ~ P @ M is any simpler than what we proposed already.  Besides, it requires the use of KLabels, which is a NO.  As mentioned, since K is a concrete syntax language, it should be able to deal with things without resorting to labels.  If we are to ask people use K labels then there is no discussion whatsoever, because people can just write P@M(t1,...,tn), which they can alread

[2015-08-26 03:41] grosu commented on #1587
I have several problems with your notation:
[code]
First of all, it is yet another notation.  We have already agreed that we want `<:` and `:>` and their combination `::`.  Are you arguing against these?  Please say Yes or No, so know the scope of the discussion.  Why have yet another notation, when we can obtain what we want with the existing notation?  What I essentially proposed above is that u

[2015-08-26 15:43] cos commented on #1587
(also answering the issues raised in the other thread)

Yes.

Because the klabel notation/mechanism is powerful enough to replace both the `:>/::/<:` and the "parse in module with visibility"/`@` mechanisms. We would still need some way of saying "is a subsort of" for tokens, but that's about it.

For me at least it is not crystal clear. Well, It is now, that I'm thinking about it specifically, bu

[2015-08-27 03:28] dwightguth commented on #1658
Looks like you need to tell the cloner not to clone Definition.

[2015-08-27 04:03] grosu commented on #1587
Let me repeat my proposal, from a user perspective: **nothing new!**

That is, use `T::S` to say that both `T` and the context (hole) have sort `S`, `T<:S` to say that `T` has sort `S` without constraining the context, and `:>` to say that the context has sort `S` without constraining `T`.  This is already implemented and it works, although the current implementation fails the completeness propert

[2015-08-27 04:17] grosu commented on #1647
@cos, I forgot to answer this:

because you merged your previous answer to this track into the other one, #1587.  Let's keep the issues separate, please, because they are both interesting and make sense in isolation.

Regarding your comment above, haven't we agreed in the [Module System](https://github.com/kframework/k/wiki/!!!-Module-System) page, that we want a colimit/pushout semantics for modu

[2015-08-27 14:56] cos commented on #1647
Hm... the import with overriding hiding (w.r.t. parsing) can still be a valid arrow.

I can see how requiring the user to choose between ambiguous parses essentially does not allow him to use the pushout directly (the pushout is ambiguous). The `` syntax X ::= `a(_)`@B | `b`@C `` is essentially an arrow hiding the other productions for parsing -- and it is not unique. Still, with or without allowi

[2015-08-27 15:32] bmmoore commented on #1575
I wonder if the empty string is getting an automatic follow restriction.

[2015-08-27 15:38] bmmoore commented on #1619
Fixed in #1631

[2015-08-27 15:38] #1619 closed

[2015-08-27 15:59] cos commented on #1587
Because unless we put the solution ahead of the problem, modules are relevant. Both this discussion and the module thread address the exact same underlying problem: given a space of possible parses, trim it down to just one (the only extra in this discussion is relaxing the parsing, i.e., increasing the space of possible parses). Our annotations, whether they refer to sorts, klabels, or modules ar

[2015-08-27 17:09] grosu commented on #1587
Guys, the "ol' reliable" @bmmoore just destroyed my beautiful result, with the following counter-example that he pulled from his magic hat:
[code]
Now consider `x y`.  While we can always use backricks to enforce structure, we do not have a mechanism to enforce lack of structure.  For example, I can write `` x `y` `` to enforce the second production, but there is no way to enforce the first one.

[2015-08-27 18:46] andreistefanescu commented on #1658
Fixed in #1639.

[2015-08-27 19:27] bmmoore commented on #1587
The general idea there is that the `::` kind of sort annotations plus @grosu's convention seem to be enough to sort out ambiguities where you know the shape of the parse tree at a node and are just deciding what production/klabel to use, while this `x y` example comes from looking at ambiguities where you don't even know the shape of the tree.

There are two more issues to finish this off.

One is

[2015-08-28 13:38] bmmoore commented on #1587
@cos, leaving out modules makes sense while working out whether it's even possible in principle to disambiguate any grammar with brackets and annotations. I think modules do not add any new kinds of ambiguity (you can just rename klabels and sorts to maintain the same distinctions namespacing gives us), and unless they do then solutions which don't rely on annotations involving modules are more ge

[2015-08-28 14:11] bmmoore commented on #1647
The only thing I was ever thinking we would prohibit is two identical productions, in the same module, with different klabels. So, this is not allowed:

    module M
    syntax X ::= "a" "(" X ")" [klabel(a1)] | "b" [klabel(b1)]
    syntax X ::= "a" "(" X ")" [klabel(a2)] | "b" [klabel(b2)]
    endmodule

but I was never thinking of prohibiting single imports between modules:

    module B
    syn

[2015-08-28 15:33] grosu commented on #1647
@bmmoore , @cos: I *insist* that we should follow the well-understood colimit approach to symbols and their resolution, which is explained on the [!!! Module System](https://github.com/kframework/k/wiki/!!!-Module-System) page.  Essentially, it all boils down to the following:

1) The module annotations to symbols are added by the system, and *not* by the user.  The user can only use them.  In oth

[2015-08-28 15:46] bmmoore commented on #1589
Because of the workaround with the `--parser` flag this isn't blocking work on updating the tutorials, but it would definitely be nice.

[2015-08-28 15:56] bmmoore opened #1660 "Variable => KVariable"
As @grosu reported in #1402, "For uniformity with other K-related sorts, we should rename the sort Variable (telling K which terms can be used as variables in bindings) to KVariable.".

I think we could use an open issue as a reminder of that point.

[2015-08-28 15:57] bmmoore commented on #1402
I think we were pretty close to forgetting that.

[2015-08-28 16:00] cos opened #1661 "Add support for substitution"

[2015-08-28 16:34] cos commented on #1647
The module system wiki only talks generally about symbols. As I read it, it doesn't stop us from having a module define a *new* klabel that has the same underlying syntax (i.e. the same non-terminals and the same sorts for terminals). There might be cases where we actually want exactly this. E.g.,

[code]

[2015-08-28 16:39] bmmoore commented on #1647
That's exactly how I've been regarding klabel imports. The only thing I wasn't following, and don't entirely agree with, is treating productions without explicit klabels as if they are named with a default label which is a function of the production. For the purpose of this example suppose those productions are explicitly given labels `a_B`, `b_B`, `a_C`, and `b_C`.

About the default labels, I do

[2015-08-28 16:44] cos commented on #1647
Regarding (1), even if we are not allowed to introduce/create explicit *new* klabels, it still holds that I would want to be able to have `plusModulo3` different from `genericPlus`, whatever their generated names.

[2015-08-28 16:47] cos commented on #1647
As @bmmoore, I don't see the identical signature as "a clear sign of intent to refer to an existing symbol".
I think the generated klabels should be somewhat like this:
[code]

We could have a completely different syntax for enriching the attribute set for an existing klabel. Do we have any example where we really need to do that?

[2015-08-28 16:57] bmmoore commented on #1647
What I meant is that I think we should complain about that case. If it's not a fatal error I would rather stick to assigning default klabels like `_+_:Exp*Exp->Exp` which would lead to sharing. Please @cos, `@` needs to be totally reserved to the system and used consistently if it's going to correctly implement pushouts - the basename would need to be somehow distinguished.

Really, when I was wri

[2015-08-28 17:13] cos commented on #1647
The `generatedKlabel`s only document what I expect the system to do!

In the "A-B-C-D" example it is obvious the system would be forced to generate distinct klabels in B and C (they don't know about each other). In the "B-C" and "NAT-MODULO3" example, I, at least, would expect the system to still generate a distinct klabels, regardless of the fact the terminals and non-terminals look the same. It

[2015-08-28 17:13] bmmoore commented on #1647
Getting back on topic, the question I was trying to get at is how do disambiguate in a case like

    module A
    syntax S ::= "s" [klabel(case1)]
    endmodule
    module B
    imports A
    syntax S ::= "s" [klabel(case2)]
    endmodule

With a "parse-in-module" annotation you can write `s@A` to get `case1()`, but how do you parse getting label `case2`?  The first thing that comes to mind is an

[2015-08-28 17:16] bmmoore commented on #1647
Your

  syntax X ::= "_"
  syntax Y ::= "_"

get default labels along the line of `_:->X` and `_:->Y`, though we probably should escape `_` in terminals to avoid ambiguity. These productions shouldn't default to sharing a klabel:

  syntax A ::= "_" B | B "_"

[2015-08-28 17:22] cos commented on #1647
As long as we agree we can have "B-C" or `syntax S ::= "s" [klabel(case1-2)]`-like examples, we can move the discussion forward.

[2015-08-28 17:25] grosu opened #1662 "unparser?"
@dwight, why is the "unparser" blocking us?  @cos told me that you told him so.  @msaxena2 said that he us already using an unparser in his debugger that you implemented, and that works ok for now.

Our main priority is to make the examples in the distribution all work.  Yes, for some of them we do have some configuration fragments in the .out files, but not for many.  Also, we do have a way to ig

[2015-08-28 17:27] cos commented on #1647
Regarding your `s-s` disambiguation, as I said earlier when proposing `syntax X ::= `a(_)`@B | `b`@C`, I am very much in favor of shadowing by default.

I don't think "closer" is the right way. If we have two productions coming on different paths, we shouldn't make the choice based on some import distance. Shadowing by default, coupled with an `@Module` mechanism is expressive enough for all cases

[2015-08-28 17:41] cos commented on #1647
Regarding regex productions, we can simply use the shadowing rule only for disambiguation. All productions are still active but, when there is an ambiguity, the "importer" production is preferred.

[2015-08-28 18:23] grosu commented on #1661
Add also support for `binder` attribute

[2015-08-28 18:44] grosu commented on #1647
I've been in some teleconferences this morning and I'm now catching up with this discussion.  The obvious things first:

@cos, just reiterating what @bmmoore said:
* Labels like `_:Exp+_:Exp` are not powerful enough, you also need to include the result sort.  This notation for labels looks a bit better and has precedents (Maude, OBJ, Clear): `_+_:Exp*Exp->Exp`.
* Related to the above, in your exam

[2015-08-28 18:55] grosu commented on #1647
Don't we want to have a uniform behavior for all symbols, that is, both for sorts and for operations/KLabels?  That is, don'w we want in module `B` below
[code]
both the `X` and the `a` to be same as those in `A`?  How do you justify that `X` is the same, but `a` is different?

Taking it one step further, recall that sorts are just syntactic sugar themselves, for membership labels.  For example, t

[2015-08-28 19:01] #1575 closed

[2015-08-28 19:02] grosu commented on #1647
@cos, would you *really* want to write
[code]
?

Unless purposely using a different syntax, addition modulo 3 is written exactly the same way as addition, so why bother redefining the exact same syntax for it when you already have it?  What is different is its semantics, so what you may want to do is something like this:

[code]
but not to redeclare the syntax.  I'd really like to see a real examp

[2015-08-28 19:44] grosu commented on #1647
I know we should not take Maude or any other language as a basis for all our decisions, but just as a piece of additional information, note the following about Maude:

1) Exactly overloaded operations are considered the same.  In the following example,
[code]
the command
[code]
yields
[code]

2) Exactly overloaded operations coming from different modules are issued a warning and then collapsed.  I

[2015-08-28 22:18] bmmoore commented on #1647
If a production is exactly repeated, I agree that K shouldn't default to separating them (I was just not thinking about this issue when trying to clarify the rule against repeating productions -- inside the same module we can't allow identical productions with different klabels, but we don't need to ban that between separate modules whether there's just simple or multiple inheritance.).

However,

[2015-08-28 22:30] bmmoore commented on #1647
@grosu In all this talk of exactly overloading productions there are two issues to consider. One is whether we can get a "Unique Parsing Theorem" as mentioned on #1587, and the other is what's practically a good idea in K. For the former we probably want a result that covers as much redundancy and ambiguity as possible, even if we can't see any practical use. For the latter, we probably want to gi

[2015-08-30 16:13] yilongli opened #1665 "data race on local array element `timeout[0]` in org.kframework.ktest.Proc.wait"
Race report given by RV-Predict:
[code]

[2015-08-31 03:58] yilongli commented on #1497
Fixed in https://github.com/kframework/k/pull/1611

[2015-08-31 03:58] #1497 closed

[2015-08-31 14:15] dwightguth commented on #1662
For reference, here is the comparison of the output of executing collatz.imp before/after the switch to KORE:

Before:
[code]

After:
[code]

You may decide for yourself whether you think doing something about this should be a high priority task, but I will note that the indentation in particular will be significant if we want the output to be remotely readable for large configurations.

[2015-08-31 15:01] grosu commented on #1662
@dwightguth , as development leader of K, you are the best person to understand the big picture of the transition to K 4.0.  I would be interested in seeing all the major steps left in one place, for example using the milestone https://github.com/kframework/k/milestones/Update%20Tutorial%20for%20KORE that @bmmoore started.  Can we add all the required steps to transit, as separate tasks?  If that

[2015-08-31 15:04] grosu commented on #1662
For the design of the unparser, please study the Maude `format` attribute, too: http://maude.cs.uiuc.edu/maude2-manual/maude-manual.pdf.
I don't think we should just implement the unparser.  We should first design it, discuss the tradeoffs and the algorithms, and then implement it.

This is about the unparser; regarding the raw pretty printer, I think we should just implement it asap, in case it i

[2015-08-31 15:12] dwightguth opened #1667 "Add support for search"
--search and --pattern need to be supported

[2015-08-31 15:12] dwightguth commented on #1662
Note that one thing that must be done as part of this is the coloring support, and the resulting influence of the --color flag to krun.

[2015-08-31 15:16] dwightguth opened #1669 "Prover frontend"
need to implement the frontend for the prover for KORE.

[2015-08-31 15:17] dwightguth opened #1670 "KBott/K issue for parsing"
Need to fix the issue with KBott being a user-visible sort, which causes problems for productions that include K in them.

[2015-08-31 15:18] dwightguth opened #1671 "Fix Java Backend for remaining tutorial definitions"
Java Backend needs to support all the definitions correctly.

[2015-08-31 15:19] dwightguth opened #1672 "KDoc for KORE"
Need a version of KDoc that works with KORE (ie latex, html)

[2015-08-31 15:20] dwightguth opened #1673 "Nondeterminism in heating/cooling"
Need nondeterministic heating and cooling to work correctly (either superheat/supercool or something involving strategies)

[2015-08-31 15:26] dwightguth commented on #1662
@grosu I am not 100% sure that I have caught everything that needs to be handled but the milestone should now contain all the major features that I expect to be necessary. Anyone else can add stuff they think is still missing.

[2015-08-31 16:48] cos commented on #1647
I didn't know the agreed-upon automatically-generated klabel contains the target sort -- @bmmoore and @grosu, thank you for the clarification!

Having a look at the adjusted example again:
[code]

There are two decisions to make here:

Q1: What do we generate and what do we allow for automatically generated klabels?

As I understand, when there are no manually-assigned klabels, we want the klabels

[2015-08-31 17:41] dwightguth opened #1678 "AssertionError in ExpandMacros"
[code]

You can reproduce this by checking out the C semantics and running "make".

[2015-08-31 17:47] bmmoore opened #1679 "Rule auditing should report sorts on match failure"
Trying to fix up imp++ in kore, I had a failed rule application which was reporting that some term coluldn't unify against a variable `S:Block`, but the term was built from a label which was only declared in Block. It turns out by debugging that the object was assigned sort KItem because some terms inside of it had the wrong sorts. It would be useful to provide more information about why the term

[2015-08-31 17:50] cos commented on #1676
@dwightguth, @andreistefanescu ?

[2015-08-31 17:55] andreistefanescu commented on #1676
The ```--prove``` relies in it. I'm not sure if it should be a dependence.

[2015-08-31 18:01] dwightguth commented on #1676
Can you reproduce this on a clean checkout of master? the maven surefire
plugin should be automatically configured to run this unit test with the
correct java.library.path option.

On Mon, Aug 31, 2015 at 12:55 PM, Andrei Stefanescu <
notifications@github.com> wrote:

[2015-08-31 18:05] dwightguth commented on #1679
This is actually pretty tricky. The computeSort algorithm may not necessarily ever run during the audit itself; the term may have already had its sort computed by that point. I think the ideal solution would be to annotate all the subterms in the term being printed with their sort. It shouldn't be too terribly hard to implement, but I have no idea when I will get to it because it's not at all high

[2015-08-31 18:11] bmmoore commented on #1679
Can't you report the sort information the Java backend keeps about its terms?

[2015-08-31 18:14] dwightguth commented on #1679
Yeah I mean, that's what I meant.

[2015-08-31 18:28] grosu commented on #1647
Looking again at Maude's behavior in the two examples above with fresh eyes, I believe that the K user would actually be unhappy with both.

In the former case, I forgot to tell you that Maude will complain if you try to assign the operation in M2 attributes different from those in M1, which is actual real problem in my view.  You have to either have only one attribute, `ditto`, or precisely the s

[2015-08-31 18:42] bmmoore commented on #1682
Please also check the concrete syntax works, like `{S while(B) S}`. I think that was rejected with a parse error.

[2015-08-31 18:48] grosu commented on #1682
Interesting.  How about `` {`__`(S,while (B) S)} `` ?

[2015-08-31 18:54] bmmoore commented on #1682
That parses exactly as written, but the label from a list production is still getting declared as a cons list so that rule doesn't work correctly.

[2015-08-31 18:55] bmmoore commented on #1682
Actually, I'm not sure whether or not it's getting an extra terminator around it, but that part you wrote is enough to cause problems on its own.

[2015-08-31 18:56] bmmoore commented on #1647
In the second case, we want to allow imports from unrelated modules, and then unlike Maude *not* combine them, precisely to support that sort of C/Java example.

[2015-08-31 19:29] grosu commented on #1647
So how about something like this?
[code]

It kind of makes sense to consider that `s` has the attributes `att U att1` in module M1, attributes `att U att2` in M2, and attributes `att U att1 U att2` in M3.  Note that what is different here from the C/Java example is the fact that the culprit operation is defined in the shared module, `M`, too.

[2015-08-31 19:48] cos commented on #1647
As we encode quite diverse things in attributes, I think the problem of merging attributes cannot be solved by simple union. I remember we encountered some tricky examples in the past -- we can discuss them int he K meeting.

If we're allowed to still do this via `override`, I can live with the restriction.

We cannot really disallow this for language translation.

[2015-09-01 06:29] omarz1 commented on #1564
No answer?

[2015-09-01 14:46] bmmoore commented on #1670
I think this will be mostly handled when we finish implementing the change to track the origin module of sorts. Don't we parse rules using a new module that imports the user module, plus k-in-k syntax from kast.k? If so, the KBott from the K syntax isn't imported from any common point with any user sort that they happen to name KBott, and the system would keep them apart (unless perhaps they expli

[2015-09-01 15:33] msaxena2 commented on #1683
Ideally, there shouldn't be a situation where an uncaught exception occurs. The debugger should either recover from the point of exception, or exit gracefully from an exception that doesn't allow recovery. Can you describe the sequence of steps that led to the exception?

[2015-09-01 15:49] bmmoore commented on #1682
I haven't been able to reproduce this on top of the current master. Maybe something fixed it in the meantime? @andreistefanescu, had you run into this?

[2015-09-01 15:53] bmmoore commented on #1683
Ideally no, but there are currently bugs in exectuion that can lead to uncaught exceptions. This isn't about helping normal users, it's to help us develop K itself.

For example, if you check out 182cbfa5e35014827fa7d5d2e6e08d8bdf58e54f, go into tutorial/1_k/4_imp++/lesson_8 and run

    kompile --kore imp.k
    krun --debugger --kore --parser "kast --kore --sort Stmts" ../../2_imp/lesson_1/tests/

[2015-09-01 15:58] dwightguth commented on #1564
Apologies. This seems likely to be some kind of issue associated with the injection of the Bag sort into K. Can you please try to create a wrapper around the bag (e.g. `syntax KItem ::= bag(Bag)`) and determine whether that allows you to work around this issue?

[2015-09-01 16:07] bmmoore commented on #1564
Is your second rule menat to have the function on the left-hand side? If that's actually the way you wrote it, it's not meant to be supported, and the only issue is that you didn't get a clear compiler error.

[2015-09-01 17:23] bmmoore commented on #1668
We are also planning to change the syntax back to use an attribute, rather than a reserved cell name.

[2015-09-01 17:44] msaxena2 commented on #1683
The exceptions mentioned above occur in the Rewriter. The debugger relies on the KExceptionManager for handling exceptions that occur outside its domain. Since the Rewriter doesn't throw a KException, the debugger doesn't catch it.

I'm unconvinced that changing the source of the debugger is the right way to proceed, since this really doesn't look like the debugger's fault. However, I somewhat agr

[2015-09-01 18:45] bmmoore opened #1689 "NoSuchMethodException on minimal input file"
Trying to kompile as kore a minimal file

    module TEST-SYNTAX
    endmodule
    module TEST
    endmodule

produces a `NoSuchMethodError`. It looks like it's trying to add items to an immutable set.

    brandon@brandon:~/test/k/minimal-file$ kompile --debug --kore test.k
    java.lang.NoSuchMethodError: scala.collection.immutable.Set.$plus(Ljava/lang/Object;)Lscala/collection/SetLike;

[2015-09-01 18:52] bmmoore opened #1690 "Confusing parse error location"
With the following trivial definition

    require "domains.k"
    module TEST-SYNTAX
      imports TEST
    endmodule
    module TEST
      imports MAP
      configuration <k>$PGM:K</k>
      syntax A ::= "a"
      syntax As ::= List{A,","}
    endmodule

parsing this file `input.test`

    a ,
    a ,
    a ,
    a ,
    b

with `kast --kore --sort As input.test` produces the expected error

[2015-09-01 19:02] bmmoore opened #1691 "Cell sorts not used in sort inference?"
In this definition, the variable `I` is given sort `K`, instead of inferring sort `Int` from the sort of the `<count>` cell.

    require "domains.k"

    module TEST-SYNTAX
     imports TEST-COMMON
     imports ID
    endmodule

    module TEST-COMMON
     imports DOMAINS-COMMON

     syntax Pgm ::= "start"
    endmodule

    module TEST
     imports TEST-COMMON
     imports DOMAINS

     configu

[2015-09-01 19:18] daejunpark commented on #1668
@dwightguth Do you agree with this change of syntax back to the original style? I just wanted to be confirmed before implementing it.

[2015-09-01 19:18] bmmoore commented on #1682
Ok, try `kompile --kore imp.k` in `k-distribution/tutorial/1_k/4_imp++/lesson_8/` at bf3310a1343c0da0ca16639aa27b0bde5d5356ac (in my tutorial-kore pull request).

[2015-09-01 19:33] bmmoore commented on #1668
Specifically, we discussed this in the K meeting on Monday, and couldn't come up with any compelling arguments for breaking backwards compatibility.

[2015-09-01 19:48] bmmoore opened #1692 "NPE in KILtoSMTLib.renameSort without --smt none"
Trying to run `sum.imp` under the kore IMP++ from `lesson_8` on the tutorial-kore branch (at  4b1f3935c84db5941451fa443f86c9a83183254c) as
`krun --debug --kore --parser "kast --kore --sort Stmts" ../../2_imp/lesson_1/tests/sum.imp` throws

    java.lang.NullPointerException
            at org.kframework.backend.java.symbolic.KILtoSMTLib.renameSort(KILtoSMTLib.java:368)
            at org.kframewor

[2015-09-01 19:50] dwightguth commented on #1668
I mean, I did it the way that I chose to in order to make it simpler to implement because it means that you don't have to keep track of which cells have streams in them and then run a compiler pass to generate the stream rules from the IO module. I don't particularly have any objection to reimplementing all that junk because it doesn't really affect me one way or the other, but this solution is a

[2015-09-01 20:08] bmmoore commented on #1595
Note we're still actually generating cons lists from user list declarations, so this is still premature.

[2015-09-01 20:26] bmmoore commented on #1689
Looks like it happens if you have no configuration

[2015-09-01 20:47] bmmoore opened #1693 "Infinite loop in kompile on sort cycles"
This small definition never finishes compiling.

    module TEST
    configuration <k>.K</k>
    syntax A ::= "a" | B
    syntax B ::= A
    endmodule

[2015-09-01 21:03] bmmoore commented on #1693
This also happens if the cycle goes through a user list:

    module TEST
    configuration <k>.K</k>
    syntax A ::= "a" | B
    syntax B ::= List{A,","}
    endmodule

[2015-09-01 21:19] bmmoore opened #1694 "Error unparsing cells from java backend"
Running a modified `spawn.imp` under a modified imp++, I get an error like this:

    java.util.NoSuchElementException: key not found: <thread>
            ...
            at org.kframework.compile.ConfigurationInfoFromModule.getCellSort(ConfigurationInfoFromModule.scala:110
            ...

The command is `krun --kore --smt none --parser "kast --kore --sort Stmts" spawn.imp`, the input file is a

[2015-09-02 18:51] bmmoore commented on #1693
The parser is diverging from cycles uisng the production `A ::= B`, `B ::= A`. I'm not entirely sure if it's making cyclic terms or very deep terms, but pausing the debugger while trying to compile the definition will get you to the code where it is stuck.

[2015-09-02 19:27] grosu commented on #1668
Why is the current solution "a lot cleaner"?  We want to be able to stream data to cells in K in the long term.  Your solution, @dwightguth, does not get us any closer to that.  Unless you or anybody else comes up with a better design, we stick to what we have now.

As a general rule of thumb, from here on I want to be part of the loop when changes are being made to the design of K that require ch

[2015-09-02 19:42] bmmoore opened #1699 "Configuration info possibly incorrect?"
The ConfigurationInfoFromModule seems to gather cellBagSorts just by looking for assoc attributes, without checking whether that bag sort is actually part of the configuration, while the rest of the compiler treats it as if it's the canonical bag generated to whether it's the canonical bag generated to implement multiplicitly="*' cells.  @andreistefanescu  @cos maybe you have some idea.

I think i

[2015-09-02 19:48] bmmoore commented on #1691
I see the RULE_CELLS case in RuleGrammarGenerator indeed ignores the sort of leaf cells, but I think I can fix it.

[2015-09-02 19:59] bmmoore opened #1700 "Review imp lesson_8"
tutorial/1_k/2_imp/lesson_5 seems to be working. You can run it with `ktest --skip pdf tests/config.xml`, and look in lesson1/test/config.xml to see all the options currently necessary to run it manually. The output doesn't match the expected output because unparsing has changed. I'm not even sure if we print maps in a canonical order.

[2015-09-02 20:12] bmmoore commented on #1694
This seems to have been fixed by #1698.  Now it reaches a final configuration

    <T>
      <threads>
        <thread>
          <k> .::K </k>
          <env> x |-> _192 t1 |-> _287 t2 |-> _517 </env>
          <id> 0 </id>
        </thread>
        <thread>
          <k> .::K </k>
          <env> x |-> _192 t1 |-> _287 t2 |-> _517 </env>
          <id> _329 </id>
        </thread>
        <threa

[2015-09-02 20:12] #1694 closed

[2015-09-02 23:21] grosu opened #1702 "Cannot build K from sources: have maven check java version"
Here is a message from k-list, just to make sure we keep track of it.

-------------------------------------

Problem solved.  I had an older version of Java, namely 8u31.  Updated to 8u60, but still didn't work out of the box,  I also had to modify the JAVA_HOME variable to the new 8u60.  While you can say that technically the instructions in the README are correct, the reality is that people don

[2015-09-02 23:30] grosu commented on #1700
It does not seem to work for me:
[code]
Got to leave now, sorry for not digging and just reporting error.

[2015-09-03 00:31] cos commented on #1699
We should eventually get rid of bag as a user-facing concept (replace by AC without uniqueness), so I think we should be fine for now.

[2015-09-03 02:01] bmmoore commented on #1699
This has nothing to do with any user-facing concept of Bags, this is a method compiler passes use to figure out what label to use to join copies of a multiplicity * cell.

[2015-09-03 02:04] bmmoore commented on #1700
You need to build from a very recent version of master. Support for multiplicity * cells was only restored this afternoon in  #1698.

    K framework version 4.0-SNAPSHOT
    Git revision: c283f8b
    Git branch: master
    Build date: Wed Sep 02 16:00:30 CDT 2015

[2015-09-03 03:20] bmmoore commented on #1702
@msaxena2 didn't you say you found some way to make maven check this?

[2015-09-03 04:06] bmmoore commented on #1682
Actually, labeled form still gets a bad terminator. What I wasn't able to reproduce was the parse error on the concrete syntax which led us to use labeled form in the first place. Here's a minimal example of the bug:

    require "domains.k"
    module TEST
    imports BOOL
    imports MAP
    configuration <k>$PGM:K</k>
    syntax Stmts ::= List{Stmt,""}
    syntax Stmt ::= "a" | "b" | "{" Stmts

[2015-09-03 04:25] bmmoore opened #1705 "Need subsorting between related lists."
The kore kompile and/or krun don't automatically recognize lists of related elements as related sorts. This can be worked around with explicit subsort productions. @andreistefanescu , @radumereuta , where was this handled before?

[2015-09-03 19:18] bmmoore commented on #1589
Kore execution is now working well enough that this is one of the biggest remaining issues in saying K can handle the tutorials.

[2015-09-03 19:25] radumereuta commented on #1589
As I was explaining this to @bmmoore, the sort should be provided by `krun`. Taken from the configuration, and call the parser with the appropriate sort.
I think this is handled the same way with the rest of the configuration variables.
I'm not going into `krun` so whoever is in charge of krun, please take over.

[2015-09-03 19:26] bmmoore commented on #1589
I see this is actually a duplicate of  #1520

[2015-09-03 19:30] bmmoore commented on #1589
Looks `CompiledDefinition.programStartSymbol` does save and restore a sort, but `KompileFrontEnd.java:88` currently hardcodes it to `K`.

[2015-09-03 19:30] #1589 closed

[2015-09-03 19:30] bmmoore commented on #1520
Looks CompiledDefinition.programStartSymbol does save and restore a sort, but KompileFrontEnd.java:88 currently hardcodes it to K.

[2015-09-03 19:36] bmmoore commented on #1671
As an update, the backend can now handle `IMP++` programs using threads and IO (still no search)

[2015-09-03 19:37] radumereuta commented on #1705
The code that handles this in K3 is found in
 `org.kframework.compile.transformers.CompleteSortLatice:122`.
For the definition only, I'm looking for lists where the separator is the same, and if the elements are subsorted, then I automatically add a subsort to the module.

I can have a look at it tomorrow.

[2015-09-03 19:47] dwightguth commented on #1702
Fixed #1706

[2015-09-03 19:47] #1702 closed

[2015-09-03 20:05] andreistefanescu commented on #1594
Fixed.

[2015-09-03 20:07] bmmoore opened #1707 "List overloading, modules, etc."
In the current design user lists are cons lists, and lists with the same separator (and not overridden by an explicit klabel) are automatically subsorted when the element sorts are related, and get a common subsort that has just the nil. We have an issue for restoring that functionality in the kore pipeline (#1705), but we should consider whether we want to change any of this now.

One concern is

[2015-09-03 20:11] bmmoore commented on #1691
Fixed in #1703

[2015-09-03 20:11] #1691 closed

[2015-09-03 20:13] bmmoore opened #1708 "Sort of <k> cell should be special-cased to K"
To allow us to set the start symbol by writing like `<k>$PGM:Pgm</k>` without breaking parsing, we used to have a special case that the contents of the `<k>` cell were always expected to be just `K`, instead of taking the sort from the provided initializer. We should restore this (unless perhaps we completely change how we handle `$PGM`).

[2015-09-03 20:54] bmmoore commented on #1700
I confused the title with `4_imp++/lesson_8`. As of merging #1704 and #1705 it seems to also be working, but the ktest config hasn't been updated (some of it's tests need search or superheating).

[2015-09-04 11:44] #1708 closed

[2015-09-04 12:32] grosu commented on #1707
Let us now just focus on merging with minimal changes, especially to the examples in the tutorial.  That is, let us incorporate whatever we had there before, for the only sake of transitioning to KORE and get rid of KIL with all the tests passing.  Once that will happen, we will then refactor/improve things; there are many of them that need to be improved, but one step at a time.  What's really im

[2015-09-04 12:37] grosu commented on #1667
@msaxena2 , please note that you have been assigned to do this task.  We'd like to be done with everything needed for the tutorial examples to work with minimal changes before we start the next week if at all possible, so I hope you can work on this today.

[2015-09-04 12:41] grosu commented on #1661
For the record, we agreed that Lucas will work on this.

[2015-09-04 12:46] grosu commented on #1662
Getting back to the minimal pretty-printer: @cos, @bmmoore , can you please remind everybody what we agreed in the K meeting that we should do here?  Basically, all we want is a minimal (in terms of intelligence) but correct pretty-printer for now, despite the fact that will end up putting lots of brackets and the fact that will be incorrect in some rare, artificial cases.  Like with other things,

[2015-09-04 12:48] radumereuta commented on #1707
@bmmoore, but I'm not adding any common subsort in the front end. I'm just selecting the 'biggest' term from the overloaded productions. Are you doing something in the compiler which will break the label traceback to a module?

[2015-09-04 13:02] grosu commented on #1668
@daejunpark , can you please give us an ETA on this?  We do not want to modify the definitions to work with `<stdin/>`, etc., only to have to change them back in a few hours or days.  If the problem is difficult, please let us know.  But the point is that, for now, you should not do anything conceptually new or different from what we had.

[2015-09-04 13:05] grosu commented on #1669
@andreistefanescu, I see that you are done with KernelC, which is wonderful!  Is the prover frontend the next thing on your list?

[2015-09-04 13:07] grosu commented on #1670
If this is a problem that we had before with KIL, too, then it should not be part of this list.  All we care about now is to get rid of KIL and have all the existing tests work.  @dwightguth , if that is the case, please remove the milestone from this issue yourself, to speed up the transition.  Thanks.

[2015-09-04 13:09] grosu commented on #1672
@edgar-pek , please let us know if you encountered or think will encounter any problems with this.

[2015-09-04 13:11] grosu commented on #1673
@cos, if I remember correctly, you said this will be solved with strategies, right?  But if that is your plan, then this will probably take quite a bit or time to be done, won't it?  Is there something quick that we can do now to transit with all the tests passing, and do the strategies afterwards?

[2015-09-04 13:12] grosu commented on #1675
@dwightguth , @msaxena2 : shouldn't rule auditing be incorporated in the debugger?

[2015-09-04 13:37] cos commented on #1673
The hack-in extreme is to special-case for superheating/cooling like before. The clean extreme is to wait for a clean implementation of strategies (which depends on several other things). I'm working on a middle ground: have the superheating/cooling executed by strategies, but not expose the mechanism to the users just yet -- we'll have to figure out modularization and configuration merging before

[2015-09-04 13:41] grosu commented on #1673
Alright, this sounds like a good plan.  This will also allow you to better understand what you need from the final strategy language that you will eventually come up with, so it fulfills multiple roles.  Thanks.

[2015-09-04 15:31] andreistefanescu commented on #1669
@grosu I have a bunch of other small bug fixes to do first, but after that I will work on the prover frontend.

[2015-09-04 15:38] daejunpark commented on #1668
I'm hoping to finish today or early next week. I'll get the temporary modification back to the original once I fix this.

[2015-09-04 15:47] bmmoore commented on #1662
In general, we agreed not to worry too hard about exotic sources of unsoundess, and instead implement a basic algorithm and guarantee soundness by checking that the result reparses, falling back to KAST output in the hopefully rare case that it fails. The specifics of how to unparse were not as settled, but the very first step was a stupid unparser that puts brackets anywhere possible, and then th

[2015-09-04 16:01] bmmoore commented on #1670
We didn't have a KBott sort before (SDF had some fancy cycle-breaking declaration that allowed declaring the K sort both below and above every other sort without creating infinite parses). @dwightguth, is the only issue here that the user can explicitly refer to the KBott sort?

[2015-09-04 16:03] bmmoore commented on #1707
I think the common subsort was only necessary for the Java backend.

Anyway, I'm not sure if anything will break, this issue is a reminder that once we start tracing things back to modules, any pass that previously automatically generated stuff once everything was flattened should consider what modules those automatic declarations should be associated with.

[2015-09-04 16:08] msaxena2 commented on #1667
This issue may also be linked to how we handle #1673 (The superheat/supercool issue does not block search).

[2015-09-04 16:16] bmmoore commented on #1520
We should gather sorts for all configuration variables as part of fixing this.

[2015-09-04 18:21] omarz1 commented on #1564
@dwightguth OK I inserted exactly that line, but nothing changed. How should I use this `bag` wrapper? By the way, I don't understand at all the problem and how a wrapper could fix it.

[2015-09-04 20:56] msaxena2 commented on #1441
The class in question was deleted by #1714 .

[2015-09-04 20:56] #1441 closed

[2015-09-05 03:24] andreistefanescu commented on #1692
@bmmoore can you check if this is still an issue after #1712, please?

[2015-09-05 21:50] bmmoore commented on #1692
Seems to be fixed.

[2015-09-08 16:23] cos opened #1718 "Kompile issues"
How does the `compileRule` method relate to the other transformations applied to rules as part of the `defaultSteps`?

As `Kompile` starts to take shape, we should add more documentation to it. One rule of thumb would be to not accept pull requests when the public methods that have been touched do not have proper documentation.

[2015-09-08 16:27] grosu commented on #1718
Of course!!!   I said that all along, that all public methods must have documentation.  @dwightguth , I thought that you were enforcing that already.  So yes, everybody please reject pull requests where variables and methods do not have suggestive names, and where the public methods are not documented properly.  If not sure if a name is good enough or a public method is not documented well enough,

[2015-09-08 16:43] cos opened #1719 "Funky syntax"
I found this funky syntax in kore_imp.k: `<k color="green"> $PGM:Pgm:K </k>`. What does it mean?

[2015-09-08 17:43] cos opened #1720 "Code duplication in `Kompile`"
[code]

I didn't want to remove it in case there's a valid reason for (part of) it.

[2015-09-09 14:33] dwightguth commented on #1675
Yes, I agree, rule auditing should be turned on when the user runs the match command.

[2015-09-09 14:35] dwightguth commented on #1662
The standard algorithm you are talking about is actually already
implemented. What is needed from the unparser at this point is the stuff
that deals with line breaks and indentation (ie, the format attribute).

On Fri, Sep 4, 2015 at 10:47 AM, bmmoore <notifications@github.com> wrote:

[2015-09-09 14:37] dwightguth commented on #1670
No, the issue is that if I have a production that returns a K, it will not currently fit in a spot that expects an Exp. This is because KBott is treated as an actual sort instead of being hidden from the user and used only internally in cases when productions have a return sort of KItem or K.

[2015-09-09 14:43] grosu commented on #1662
But is it correct?  The output your showed above does not seem correct, it has two unmatched backticks.

We should just go with this trivial unparser then for now in the tutorial.  The same way we used to ignore the matched parentheses before in the .out files, we should now have an option of ktest to ignore the backticks.  Maybe also the brackets.  Anyway, what we want is to avoid having to modif

[2015-09-09 14:52] dwightguth commented on #1719
This should no longer be necessary. It was done in order to make the k cell have a K sort instead of a Pgm sort. But it was fixed recently so that the main cell always has sort K.

[2015-09-09 14:52] #1719 closed

[2015-09-09 15:01] dwightguth commented on #1662
It actually parses correctly. You are simply reading the backticks incorrectly (which is, sidebar, the fear that I had which made me not really like the backtick syntax in the first place).

That said, the reason the backticks exist at all even though they should not be needed is that collections are left associative but the Java backend is generating right-associative terms. This has nothing to d

[2015-09-09 15:19] grosu commented on #1662
Are we allowing a whitespace alone inside a backtick bubble?  Is that what I'm missing, the fact that the last two backticks just surround a white space?

Or use and take the `assoc` attribute into account, because we want collections to be associative (in order to match terms in the middle of them.

Me, too, but I would still like, at the same time, to not have to modify the .out files each time

[2015-09-09 15:31] dwightguth commented on #1662
You are actually missing something else, namely, that the first three backticks in the term are all begin-brackets, and the last three are all end-brackets. The fact that these aren't separate characters is what is introducing the ambiguity you see, it's just that the parser is smart enough to resolve them correctly.

As for the assoc attribute, you are right, we can probably skip brackets for cas

[2015-09-09 15:48] grosu commented on #1662
I missed that because I could not believe it that it happened.  It is actually wrong.  That is not allowing us to do nested grouping, which is necessary.  Please read this again:

https://github.com/kframework/k/wiki/!!!-Module-System#k-code-grouping

So we need to modify this simple pretty-printer.  As it stands, it probably does not even satisfy the basic property parse(print(AST)) = AST.

[2015-09-09 15:51] grosu commented on #1662
This sounds reasonable for now, I am OK with it.  I hope ktest still has that feature that allows us to rewrite a bunch of .out files automatically.

[2015-09-09 15:54] dwightguth commented on #1662
See and this is why I really don't like the backtick syntax in the first place, because it requires context-sensitive parsing to parse. If you want to modify the pretty-printer to fix this case, when we better modify the parser to fix it too, only then K has a context-sensitive grammar and will require a context-sensitive parser to parse, which we don't have and would be way too slow even if we di

[2015-09-09 16:25] cos commented on #1662
I agree @dwightguth in principle -- matching brackets are much easier to follow and, as UTF8 is prevalent now, we could even use some funky but good-looking brackets to not clash with the user language (e.g., `⦑ ⦒`) and have something uncommon (e.g., `<.  .>`) as the ASCII alternative.

In practice, we already have something that is working in most (if not all) cases, so it might be a good idea to

[2015-09-09 17:44] grosu commented on #1662
You guys should have fought for this when the [!!! Module System](https://github.com/kframework/k/wiki/!!!-Module-System) page was written and asked for comments.  I think I made it quite clear that these pages starting with !!! become final design documents, that will become part of the manual and need to be implemented as such.  I just resent the message stating that to the k-list.

I am not tha

[2015-09-09 17:56] grosu commented on #1662
Here is another solution, perhaps the simplest of them all.  Let us only define on bracket, with single backticks,
[code]
and then, when parsing with ambiguities, let us give priority to outermost parses of the form `` `_`(`_`(stuff)) ``.  We may want to do that in general with all brackets, in which case we are done with this discussion for good.

[2015-09-09 18:59] bmmoore commented on #1662
@cos matching brackets might be nice, but even just correctly implementing the decreasing number of backticks would make an immense improvement in readability:

```` <T> <k> .::K </k> <state> s |-> 66 ``` r |-> 3 `` q |-> 1 ` n |-> 1 m |-> 2 ` `` ``` </state> </T> ````

@dwightguth we specifically settled on doing tricky things with backticks to avoid clashing with the concrete syntax of "saner" l

[2015-09-10 16:19] cos opened #1723 "The syntactic productions for the configuration should be part of the module"
Otherwise, we'll have to always do always account for klabels without syntax, which is cumbersome.

I think we already have them as we can parse, but they're not imported in the final module. @dwightguth, I think you know best where this fits.

[2015-09-10 16:21] dwightguth commented on #1723
I'm not sure I follow what you're saying. It sounds like you're talking about productions such as `syntax KCell ::= "<k>" K "</k>"`, but those productions actually do become part of the parsed module. So I'm really not following what you mean.

[2015-09-10 16:48] dwightguth opened #1724 "Bug with cell collections"
[code]

[code]

[2015-09-10 17:18] cos commented on #1723
Found the problem: the heating/cooling rules are added the the same module containing the syntax, while the configuration syntax is only added to the final module.

We'll have to figure out how configuration modularization works at some point. For now, could the heating/cooling rules be added to the final module instead?

[2015-09-10 17:25] dwightguth commented on #1723
I mean, we could do something like this, but it doesn't really solve the underlying problem. What if I do the following:
[code]

Here also the rule is in a module that does not import the configuration.

What exactly are you trying to do, and why aren't you simply using the main execution module, which should have everything it needs?

[2015-09-10 19:15] bmmoore opened #1725 "Question - how should inferred or syntactic sorts be represented in Kore?"
We have the general idea that kore represents sorts of variables by calls to sort predicates in the requires condition (perhaps considering `isK` implicit for otherwise unmentioned variables). By default we generate those predicate calls even if the variable sort information came from inference or a `::` sort annotation, but we have the `--non-strict` flag to not promote those inferred types to ru

[2015-09-10 20:51] radumereuta commented on #1690
I haven't tested this, but, lists, are not subsorted automatically to K in the program parser, because if you try to parse a list with a single element, then you will always get an ambiguity. So this is why you can't parse a list if you just give it K and it fails at the first comma. This is expected.
Please confirm if this makes sense.

[2015-09-10 20:57] bmmoore commented on #1690
Better than a subtle parser kernel bug. That does make #1520 more urgent, if your start symbol is supposed to be a list then, then this makes parse error messages completely useless.

[2015-09-10 21:08] bmmoore commented on #1690
So, I think there's a tiny bit of a real design issue here, but once we fix #1520 it will be almost impossible to run into this. Let's put this off until after kore is translated, unless it comes up again or you have absolutely nothing else to work on.

[2015-09-10 21:18] cos commented on #1723
The compiler transformations are now correct with respect to modularization, i.e., the modules are preserved and the passes are applied recursively, not on the final flattened module

[2015-09-10 21:19] cos commented on #1723
I think we should strive to preserve that.

[2015-09-10 21:21] dwightguth commented on #1723
Okay but what does that rule even mean? If it's not in a module that imports the configuration, then it doesn't import the main cell that the language definition of K says it should get wrapped in. So what are you proposing the semantics of such a rule even should be? Are we just going to reject such rules? That's really inconvenient to declare that modules that don't import a configuration can't

[2015-09-10 21:27] cos commented on #1723
@dwightguth, you implemented the configuration-to-productions pass. Would it be easy to implement something along these lines?

Have a configuration syntax accept "@MODULE", which essentially inlines the configuration defined in MODULE.

We would then define `<k>` in the some small module that we import everywhere, and have the final configuration import and them mention @K. E.g.:
[code]

[2015-09-10 21:28] cos commented on #1723
If you like it and think it would not be too hard to implement, I will put up a wiki page with the proposal so we can have an agreement on it (fingers crossed).

[2015-09-10 21:36] cos commented on #1723
Exactly, semantically, the rule should be aware of at least part of the configuration.

[2015-09-10 21:37] dwightguth commented on #1723
okay so, there is one other problem which is, the compiler completes rules to the top right now. We would not be able to do that if we wanted to compose configurations together.

[2015-09-10 21:41] cos commented on #1723
hm... correct.

[2015-09-10 21:45] dwightguth commented on #1723
So, here's one thought. We could have some kind of pushout semantics for a module with a configuration declaration that imports another module with rules in it. Namely, a rule with no cells in it in a module with no configuration has no direct semantics by itself, but its semantics when imported from a module with a configuration declaration is that that module contains a rule which is wrapped by

[2015-09-10 21:45] cos commented on #1723
Semantically, it is ok for the rules to not know about the entire configuration. The issue is that the configuration concretization is done statically.

To preserve behavior, one easy solution would be to move all rules to the bottom module before concretization. Configuration-abstraction-aware backends could choose not to do that, but all the current backends kind of need it.

[2015-09-11 16:47] cos opened #1729 "Implement .items() and .stream() for `KApply` in the Java backend."
[The relevant code](https://github.com/cos/k/blob/feature/kapply-as-kcollection/java-backend/src/main/java/org/kframework/backend/java/kil/KItemRepresentation.java#L21-L25)

See #1726 for details.

[2015-09-11 16:51] cos commented on #1725
We could always add them as attributes. Not relevant in the short term, but as attributes are not printed now, the sorts would be lost by a print-parse.

[2015-09-11 16:55] cos commented on #1723
And yes, modularizing the configuration definitely requires including it in the definition of the our pushout. But it seems the pushout easily remains universal so it should be ok.

[2015-09-14 17:03] grosu commented on #1672
@edgar-pek ping on kdoc

[2015-09-14 17:05] grosu commented on #1673
@cos , and ETA on this?

[2015-09-14 17:08] grosu commented on #1668
@daejunpark so it looks like we are done with this, right?  Is there a way to mark this task as done in the milestone, without removing it?

[2015-09-14 17:12] edgar-pek commented on #1672
@grosu I am sorry I haven't worked on kdoc because I was working on run
time checker for UPenn and OpenFlight.
When do you need me to get it done?

On Mon, Sep 14, 2015 at 12:03 PM, Grigore Rosu <notifications@github.com>
wrote:

[2015-09-14 17:21] grosu commented on #1662
I would prefer to not give unicode any special treatment and certainly not depend on people knowing about it or using it in order to use K.  We have to be able to give languages using unicode a syntax and semantics just like for any language, so reserving special unicodes for K has the same conceptual problem as reserving normal characters.  This just complicates our existence right now and slows

[2015-09-14 17:22] daejunpark commented on #1668
Yes, we are done with this. I have no idea how to mark it in such a way.

[2015-09-14 17:23] bmmoore commented on #1700
This issue is for plain 2_imp. With the a recent master, running `ktest --skip pdf` from the lesson_5 directory will compile the definition and run all tests.

[2015-09-14 17:24] grosu commented on #1672
The point is that we cannot transit to KORE as default and remove the KIL complexity before we have everything work.  We need it by the time all other milestone tasks at https://github.com/kframework/k/milestones/Update%20Tutorial%20for%20KORE are also done, so it will not slow us.  If you have other things on your plate, then we can assign this to somebody else, no problem, but we need to know.

[2015-09-14 17:30] edgar-pek commented on #1672
@grosu ok, I understand, I'll give you ETA by the end of the day.
@dwightguth <https://github.com/dwightguth> How long do you predict it
might take for KORE n00b to finish this?

On Mon, Sep 14, 2015 at 12:24 PM, Grigore Rosu <notifications@github.com>
wrote:

[2015-09-14 17:32] bmmoore opened #1730 "Review imp++"
The 1_k/4_imp++/lesson_8 has been updated to work with kore. Use `kompile --kore imp.k` to build, and run individual programs with options `krun --kore --parser "kast -- kore --sort Stmts" `. IO works in the original style again. Spawn gives one correct solution, but manasvi has a pull request open to add search back to krun

[2015-09-14 17:52] cos commented on #1673
If everything goes well, I'll make a pull request today. I might need something from Dwight and then I'll make it tomorrow.

[2015-09-14 17:58] bmmoore commented on #1730
The other unfortunate point is temporarily needing to declare some list subsorts explicitly.

[2015-09-14 17:58] grosu commented on #1700
There seems to be a problem with `domains.k` missing:

[code]

[2015-09-14 18:02] cos commented on #1662
@grosu, unicode brackets have one less conceptual problem than ASCII ones: *most* languages reserve *all* ASCII brackets. *No* (afaik, I'm not talking fringe) language reserves *all* unicode characters -- most don't reserve any. Even in the future, when languages will embrace unicode more, I don't see why a practical language would want to reserve *all* unicode brackets.

This means that even with

[2015-09-14 18:53] grosu commented on #1662
@cos OK, we'll get back to this when the time comes.  For now, let us please go ahead with the above.  That is, just
[code]
plus adding explicit parentheses as brackets to pre-defined things.
@dwightguth : how long does this take?  Should we make into a task?  Are you going to work on it or you want me to find somebody at UIUC?

[2015-09-14 18:56] dwightguth commented on #1662
I believe what I wanted to propose was that we add an unparser-avoid and unparser-prefer attributes that would tell the unparser to avoid the backtick production where possible. This should take less than a day to implement, but you should make it a task and assign it to someone. That same person should probably also modify the unparser so that productions that have the assoc tag are treated as if

[2015-09-14 19:02] grosu commented on #1662
@dwightguth But why not always use the user-defined brackets instead of backticks whenever possible, and use the backticks only when there are no user-defined brackets?  Don't we already do this for things like `(3+5)*7`?

I'd prefer to avoid adding attributes specific to unparsing at this stage.  If really needed, we can add them later, after we transit to KORE.

[2015-09-14 19:11] dwightguth commented on #1662
Grigore, the unparsing algorithm doesn't have any notion of privileged syntax. Everything is just a production. This attribute on the production in kast.k is what would tell the unparser to do such a thing.

[2015-09-14 19:40] bmmoore commented on #1668
If we just close this issue, it will show up under the "Closed" tap on the milestone's page.

[2015-09-14 19:55] bmmoore commented on #1662
@grosu I am also totally against requiring users to write or understand unicode to use K, but I don't see the harm in having an option to let them look at prettier output if they are not expected to write it, and software support is widespread enough there shouldn't be many technical issues with *optionally* outputting unicode. The reason to consider an option now is that actually producing gramma

[2015-09-14 20:38] andreistefanescu opened #1731 "port Yilong's performance improvements from the old KIL pipeline to the kore-based java backend"

[2015-09-14 20:40] andreistefanescu opened #1732 "add support for indexing in the kore-based java backend"

[2015-09-14 22:46] bmmoore commented on #1700
Not recognizing `--kore` seems like you are somehow still running an older version. Trying it myself, it seems you need to manually call `krun --kore --parser "kast.bat --kore --sort Pgm"`, and it doesn't find kast without putting the `.bat`. I don't know why that happens. If you type directly at the command line, then `kast` and `kast.bat` act the same.

[2015-09-14 22:47] bmmoore commented on #1700
@dwightguth Do you know how windows handles that stuff?

[2015-09-14 23:08] grosu commented on #1700
I fixed the version problem, but I can still not make krun work:
[code]

[2015-09-15 00:15] bmmoore commented on #1700
You need to also pass the `--kore` option to krun. Mentioning `context.bin` means something is trying to use the old KIL pipeline. Run like this:

    krun --kore --parser "kast.bat --kore --sort Pgm" ..\lesson_1\tests\sum.imp

[2015-09-15 00:27] bmmoore commented on #1662
So, I think we have this split into three smaller tasks, and hope that just doing the first two will go a long way towards solving this:

* Make sure the unparser prefers user-provided brackets over K brackets
* Don't put unnecessary brackets around associative labels
* Make the unparse use increasing numbers of backticks for nested brackets.

By the way, our meeting room computer (still running X

[2015-09-15 00:47] laurayuwen commented on #1662
I think I can have a look at the middle one tomorrow, but since I was away for long, I cannot guarantee to solve it within hours.

[2015-09-15 05:13] daejunpark commented on #1668
Closed via #1716

[2015-09-15 12:16] grosu opened #1733 "List subsorting and modular parsing"
@bmmoore sent the following message to k-list (guys, let's have these discussions on github, so we can keep track of them and close as we clarify).

--------------------------

We've gotten a bit stuck trying to figure out how to combine automatic list subsorting with the new modular parsing.

Following established behavior, and also how `isSort` predicates would execute, we want
[code]
to also ma

[2015-09-15 14:09] grosu commented on #1733
@bmmoore : interesting example.

Yes, an `onlyLabel` sort of attribute could solve the problem, but I believe that we agreed that such an attribute is not needed in KORE.  Indeed, instead of
[code]
one can write
[code]
and then make sure that we consistently use `A-PARSING` when parsing (programs or any concrete syntax; recall that one is only supposed to use the `abc` label in rulesOfA and stuffB

[2015-09-15 14:14] grosu commented on #1733
Instead of using an `onlyLabel` kind of attribute, either directly or indirectly via the module system, I think that we should use `isSort` rules in @bmmoore 's second case where we do not want to expose the production to the parser.  That is, for the grammar
[code]
instead of generating the problematic
[code]
to instead generate the rule
[code]
I believe the parser is not using using the rules, b

[2015-09-15 14:25] grosu commented on #1733
I would like to make a meta-point here regarding automatic susorting.  This is probably clear to everybody, but I want it to be super-clear, so here I am repeating the obvious.

The user should never worry at all about automatically added subsortings `syntax Ints < Exps`.  In other words, the user should not even be aware of it being added anywhere.  The kompile pipeline should be able to use it a

[2015-09-15 16:06] bmmoore commented on #1733
I don't see how the `A-PARSING` example is supposed to work - that production is still imported into A and then B. I think you need a more complicated transformation where `A-PARSING` is unrelated to module `A` and instead the common syntax is put in an `A-COMMON` module inherited into both, and `A-COMMON` just declares the label `abc` without giving it any productions. However, these approaches d

[2015-09-15 16:56] laurayuwen commented on #1662
I don't acutally have the problem of "unnecessary brackets around associative labels" as I just tested on latest commit 8e9603fb6e4df3cff6e8a7af88c9ec6c0c2990c7
The output of collatz.imp is perfectly fine.

[2015-09-15 17:00] grosu commented on #1733
My point with `A-PARSING` was, in KORE, to separate the syntax (productions) from the semantics (rules), everywhere, that is, in every module.  Then generate parsers only from syntax modules.  All semantics modules use KORE, that is, no concrete syntax.  Now if we decide for a particular subsorting `Ints < Exps` to be added to syntax, then we add it to the syntactic module.  If we decide to add it

[2015-09-15 17:45] grosu commented on #1662
@laurayuwen I'm assuming you are trying it with the --kore option everywhere, right?

@dwightguth have you done anything to fix this?  Or somebody else?

[2015-09-15 17:58] dwightguth commented on #1662
Ask @andreistefanescu , it would have been a change to the rewriter to make collections be converted to K in left associative form instead of right associative form. Nothing has actually been done to make assoc collections not require a specific associativity; that task is still something that needs to be done.

[2015-09-15 18:02] laurayuwen commented on #1662
@grosu Oh, my fault.

[2015-09-15 18:06] laurayuwen commented on #1662
@dwightguth sorry the problem is still there.

[2015-09-15 21:51] msaxena2 commented on #1682
I ran into a similar problem while dealing with Simple. Here are the relevant details:
syntax Bottom
syntax BotCommaList ::= List{Bottom, ","}
syntax Exps ::= List{Exps, ","} | BotCommaList
syntax Vals ::= List{Vals, ","} | BotCommaList
syntax Exps ::= Vals | BotCommaList

  rule <k> lambda(Xs,S)(Vs:Vals) ~> K => (Irrelevant) <k>
The program gets stuck with the k cell reading :
<k> lambda ( .BotCo

[2015-09-15 21:55] laurayuwen commented on #1662
@dwightguth I can only find the unparsing to KAST format, but where does pretty printing from KAST to concrete syntax happen? Could you point me the file?

[2015-09-16 09:08] omarz1 commented on #1564
OK. I came across a similar senario. Here is what I had:
[code]
In order for `rule [1]` to execute, it needs `rule [2]` to execute first because `rule [2]` will provide `condition1`. However, if in runtime you had:
[code]
if you had that, then `rule [2]` will not execute even though it matches the environment at runtime. What made it work is removing the surrounding cell `<thread>` from `rule [2]`

[2015-09-16 14:55] dwightguth commented on #1564
K rules that are not function rules are considered to apply at the top of the configuration. So your rule [2] will likely not apply on the argument of function1 because it has been completed to the top and thus requires that  the `<thread>` cell lives inside its immediate parent. Why it works if you remove the `<thread>` cell entirely, I'm not sure, that looks like a bug. If you want the rule 2 to

[2015-09-16 19:54] grosu commented on #1724
Not sure I understand from this description what the issue really is, but it looks like something that should work because it is commonly used in our tutorial examples.  So I'm going to add it to our list of milestones and I hope that it takes a very simple fix.  @andreistefanescu , is this complicated?  Do you need anybody to help with this?

[2015-09-18 11:58] grosu commented on #1732
So guys, what's going on here?  I thought that @msaxena2 was supposed to do the indexing 2 days ago or so; now I see that @cos was assigned instead.  @cos, are you taking over everything related to the Java rewrite engine, both the indexing and the old performance optimizations?

[2015-09-18 11:59] grosu commented on #1705
So, is this issue closed now?

[2015-09-18 12:03] grosu commented on #1670
This is serious.  @radumereuta can you please look into this?

[2015-09-18 12:10] grosu commented on #1662
@laurayuwen , so what is the status of this?  Please do not let anybody slow you down with this, not even @dwightguth.  Contact him on hangouts if he does not answer, or ask somebody else.

[2015-09-18 12:11] grosu commented on #1662
@bmmoore regarding the unicode fonts, I've never seen any of those you used on any of my computers so far.  I only see a little box with a question mark inside.

[2015-09-18 13:59] laurayuwen commented on #1662
@grosu Yes，I asked him on hangout yesterday, still working on that. I will try to finish during weekends.

[2015-09-18 14:42] edgar-pek commented on #1672
There were roughly three sub-tasks for the project:
1. add a --kore flag to kdoc and wire it up to the frontend
2. add support in kompile to retrieve the parsed but unflattened concrete syntax of the definition
3.  reimplement LatexBackend, PdfBackend, and HtmlBackend as visitors over the concrete syntax
1. is done, 2. is close to be done, 3. remains to be done
ETA: Monday

[2015-09-18 14:44] edgar-pek commented on #1662
After I am done with kdoc I'll also look into this.
ETA: Wednesday/Thursday?

[2015-09-18 14:46] msaxena2 commented on #1732
@cos mentioned that he needed some to decide whether the indexing and performance optimizations were linked. I assigned the issue to him to make sure that he doesn't forget to have a look at the indexing parts as well. However, I will reassign it to myself if he decides to treat the performance as a separate unit that's not linked to the indexing issue.

[2015-09-18 14:50] cos commented on #1673
as discussed, we're moving this to 4.1

[2015-09-18 14:53] cos commented on #1732
Indexing and other performance optimizations are very related so they can be solved together. I'm working on this with @andreistefanescu and we should have numbers in a few days (likely Tue/Wed). It may take a few more days after that to have the pull request merged depending on many things we manage to brake along the way.

[2015-09-18 14:53] cos commented on #1731
discussed in #1732

[2015-09-18 17:33] bmmoore commented on #1662
@grosu I'm a bit surprised it affects you, but the general risk they might not be supported is why I'm definitely against depending or insisting on unicode, even though I do think it would be nice as an option. Both Linux and relatively recent versions of windows have good unicode support, are you perhaps still running XP (which we saw in the meeting definetly doesn't know those brackets)? How man

[2015-09-18 19:21] grosu commented on #1662
66 of them are `?` or `?` in a box.

I am not against unicode.  I think we should allow people to use them as symbols in their production terminals, just like any other characters.  In particular, if they want to change the K bracket they should be allowed to just modify their kore.k and have their own, unicode-based K brackets.

[2015-09-18 20:03] andreistefanescu commented on #1724
fixed in #1737

[2015-09-18 20:03] #1724 closed

[2015-09-22 04:56] edgar-pek commented on #1672
Updated status:
- [x]  add a --kore flag to kdoc and wire it up to the frontend
- [x] add support in kompile to retrieve the parsed but unflattened concrete syntax of the definition
- [ ] reimplement LatexBackend, PdfBackend, and HtmlBackend as visitors over the concrete syntax
Updated ETA: Tuesday (apologies for the delay)

[2015-09-22 17:03] daejunpark commented on #1692
Recurred. (5f2ba5e227aca7be473395e30deca3a940dcd083)
[code]

[2015-09-23 22:29] andreistefanescu commented on #1669
fixed in #1736

[2015-09-23 22:29] #1669 closed

[2015-09-24 16:18] msaxena2 opened #1744 "Cell Fragments Related Issue"
I ran into the following problem while trying to work with Simple. Here are the relevant details:
Consider the following configuration:
[code]
A pattern of the form ``<a> <b> X </b> Y:ACellFragment </a>`` compiles to: `` `<T>`(`<a>`(`<b>`(X), Y)) requires __andBool__(isList(X), isACellFragment(Y)) ``.

A match on any configuration using this pattern fails as the inferred sort of Y during the match

[2015-09-24 20:46] bmmoore commented on #1385
That's the cleanest way to do this. One reason against trying to add a builtin like that is that more complicated uses of K like running `--search` on a nondeterministic language want to identify states which can be reached along multiple execution paths, even if the paths take a different number of states to arrive. Also, more serious uses of step counting might want to assign a different cost to

[2015-09-24 20:46] #1385 closed

[2015-09-25 03:05] daejunpark commented on #1692
Fixed via #1743

[2015-09-25 03:05] #1692 closed

[2015-09-25 21:29] msaxena2 commented on #1667
Handled in #1717

[2015-09-25 21:29] #1667 closed

[2015-09-26 21:48] daejunpark commented on #1747
The problem is that `<a> A </a>` should be of `ACell`, but is inferred as just `Cell`.

Sort casting is an workaround:
[code]

Is there any better way?

[2015-09-26 21:59] daejunpark commented on #1748
see also #1744

[2015-09-26 22:00] daejunpark commented on #1747
see also #1744

[2015-09-26 22:01] daejunpark commented on #1747
see also #1748

[2015-09-26 22:01] daejunpark commented on #1748
see also #1747

[2015-09-28 22:46] bmmoore commented on #1747
I think this is just a little problem with how the concrete syntax for cells in rules is generated.
The actual labels of the cells are defined by productions as described on the KAST and KORE wiki page, but to allow configuration abstraction in the full K syntax we generate a looser grammar using a generic `Cell` sort. I think the problem is just that we are declaring the syntax of specific cells

[2015-09-28 22:51] bmmoore commented on #1748
To make this work, I think we will need special handling for cell fragments in rule parsing and configuration abstraction, like we already specially handle cells (also #1747, but that's a fairly independent problem).

For a workaround, can you try changing the right hand side to
    frag(<x>-fragment A B `noCCell`() </x>-fragment)
handling fragments in configuration abstraction would let you write

[2015-09-28 23:00] bmmoore commented on #1520
@cos I think we need to extend the saved definition to record also a sort for all configuration variables to be able to solve this.

[2015-09-28 23:40] bmmoore commented on #1748
Do you need to write rules like `run2` instead of `run1`?

[2015-09-28 23:48] daejunpark commented on #1748
@bmmoore yes, but as we discussed, I'll first try to use K instead of *CellFragment sort as the argument sort.

[2015-09-30 20:06] bmmoore commented on #1749
This definition used to be working when run by hand.
@andreistefanescu , do you have any idea why this might have changed?

[2015-09-30 20:06] dwightguth commented on #1674
Why was this removed from the milesttone? I get that it's not part of the tutorial itself, but it's still vitally needed before we can release K 4.0 and get rid of the old pipeline?

Also, one error in particular I want to make sure we catch is that we need to have a good error message if the user accidentally makes a typo and includes a klabel in their definition that is never declared in a produ

[2015-09-30 20:08] dwightguth commented on #1749
Was that before #1743 was merged? The condition mentioned in the issue would have been added only by that pull request.

[2015-09-30 20:10] daejunpark commented on #1749
@bmmoore @dwightguth yes, it happens after #1743 merged.

[2015-09-30 20:11] bmmoore commented on #1749
Ok, that explains everything.

[2015-09-30 20:51] bmmoore commented on #1748
Did you also try the workaround I suggested with explicitly writting a cell fragment term instead of just `A B`?

[2015-09-30 21:22] dwightguth opened #1753 "debugger does not terminate if RewriterResult does not output number of steps taken"
Haven't confirmed this, but I believe it's happening in the OCAML backend at the moment, it should be relatively easy to confirm, or to try to reproduce by making a temporary hack to the java backend.

[2015-09-30 22:06] bmmoore commented on #1748
Writing `rule <k> run2 => frag(<x>-fragment A B noCCell </x>-fragment) ... </k>` is at least accepted by the parser

[2015-10-02 20:03] dwightguth opened #1757 "Location information wrong in parsing errors"
[code]

This module should report a parse error on the `>` in `<foo>`. But the location information is not propagated correctly in the parser kernel out of the terminal, so it ends up reporting an error at the beginning of the terminal, at `<`.

[2015-10-02 23:37] dwightguth commented on #1758
Honestly, the actual macro expansion itself is quite basic. I think it should be possible to write a simple macro expansion pass that operates over KORE. It would collect the macro klabels in the definition, map them to macro rules, and then iterate through the rules and terms and try them until it reaches a fixed point. This is basically all the Java backend is doing anyway, and it doesn't actual

[2015-10-05 02:23] yilongli opened #1761 "Eclipse 4.5 + latest Scala plugin is completely unusable for K"
I follow the instructions in `README.md` but it doesn't work at all. Hundreds of errors complaining about unresolved scala classes.

Even in the `kore` project, there are two errors. The first one complains about the underscore at [transformers.scala#34] (https://github.com/kframework/k/blob/master/kore/src/main/scala/org/kframework/definition/transformers.scala#L34): `missing parameter type for e

[2015-10-05 03:29] dwightguth commented on #1761
I stopped using eclipse because of this issue. I think, if we want to fix
this, we need to stop using any Scala collections. I am just using intellij
though and it works fine.
On Oct 4, 2015 9:23 PM, "Yilong Li" <notifications@github.com> wrote:

[2015-10-05 19:50] yilongli commented on #1761
Interestingly, intellij is giving the same error in the first case. Although it works fine. I think we should at least make it clear in the `README.md` that Eclipse doesn't work with our code base at this moment.

[2015-10-06 05:53] yilongli opened #1765 "class RewriteRelation should contain a reference to the startState"
Right now, it only has a `finalState`. Besides, the `executionGraph` is really a chain rather than a general graph.

[2015-10-06 06:01] yilongli opened #1766 "consider using a better graph library"
JUNG looks like a dead project. There are better options out there. `Grph` seems like a solid one: http://www.i3s.unice.fr/~hogie/grph/grph-slides.pdf.

[2015-10-06 11:36] grosu commented on #1761
I agree.  We do not want to deceive people.  Better give them less but good quality.

[2015-10-06 16:16] msaxena2 commented on #1766
As far as the debugger is concerned, the old debugger made use of JUNG, but the new debugger doesn't make use of any external graph library at the moment. A external graph library may be needed in the future though.

[2015-10-06 16:18] msaxena2 commented on #1765
This class contains a lot of code that was relevant to the old debugger. Since the debugger has fallen out of use, the java backend can be refactored to not use RewriteRelation at all.

[2015-10-06 16:25] msaxena2 commented on #1764
@yilongli . Please do keep in mind that a lot of the code here belongs to the old Kil pipeline, and with the exception of some classes, will be discarded with the pipeline itself. That said, there may be a need for better documentation in other parts of the codebase. The new pipeline is managed by org.kframework.krun.KRun. That class, and other related classes mentioned in it, I feel, are more rel

[2015-10-06 20:57] yilongli commented on #1764
I see. It would be good to find some time to mark the old classes as deprecated though.

[2015-10-06 20:59] yilongli commented on #1766
The new debugger will likely use an external graph library sooner or later. When it does, I would suggest to not use JUNG anymore.

[2015-10-06 21:02] yilongli commented on #1765
There are several places in the java backend refer to `RewriteRelation`, even in the `Executor` interface. If this class belongs to the old debugger and you don't plan to bring it up to date with the new debugger, I would like to remove such dependency gradually. What do you think?

[2015-10-06 21:14] msaxena2 commented on #1765
The new debugger doesn't need anything backend specific. Please feel free to remove that dependency, or any dependency in the java backend exclusive to the debugger for that matter. The only thing that can break stuff can be a change to the Rewriter interface. As long as the interface and the implementing classes (SymbolicRewriterGlue.java in the case of the java backend) do what they're supposed

[2015-10-06 22:31] #1765 closed

[2015-10-11 17:47] grosu opened #1772 "On .K, .Map, .List, .KList ..."
... and other such qualified dots: THERE SHOULD BE NONE OF THEM ANYMORE!  I see that imp++ uses `.K`.  Why?  All dots are polymorphic now, and we should just cast them if the inferencer is not smart enough: `.::K`, `.::Klist`, etc.  I'm marking this is as urgent bug, because we should six it quickly.  Who introduced the qualified dots?  I think that person should volunteer to change them all to `.

[2015-10-11 18:03] grosu commented on #1672
I would like to clarify something that we discussed in the K meeting, just to make sure we are synchronized with this and have no surprises later on.  @radumereuta , please especially you, let us know if you see any problem with this (and maybe tell us also how comes it is not already done this way?).

The output of the frontend kompiling a full K definition should be a KAST term, namely the meta-

[2015-10-11 18:23] grosu commented on #1672
Then, the Latex/PDF/HTML backends should be nothing but straightforward visitors of the initial meta-EKORE.  That is, they would be clients of the very first level in the kompilation pipeline.

[2015-10-12 15:33] cos opened #1773 "fix strange duplicate recursion in transformers"

[2015-10-12 15:59] dwightguth commented on #1770
Can you tell me what arcchitecture of CPU you are running this on? Also, it looks like you are running Mac OS X, so can you tell me what version of Mac OS you are running?

[2015-10-12 16:49] dlucanu commented on #1770
Here it is:
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro7,1
  Processor Name:	Intel Core 2 Duo
  Processor Speed:	2,4 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  L2 Cache:	3 MB
  Memory:	8 GB
  Bus Speed:	1,07 GHz
Memory  8 GB 1067 MHz DDR3
Software  OS X 10.9.5 (13F1112)

[2015-10-15 21:37] dwightguth opened #1778 "debugger print watches on final state"
This should be a really fast fix so if you could get to it ASAP and then get back to what you were doing, that would be great. Basically, right now watches aren't printed on the final state if the number of steps taken is less than the number of steps we asked to take.

[2015-10-16 20:27] cos commented on #1761
added a warning to README.md: #1785

[2015-10-16 20:28] #1761 closed

[2015-10-19 14:58] dwightguth commented on #1782
Seems to me we can evaluate the function after the macro expansion is complete.

[2015-10-20 03:21] bmmoore opened #1790 "Parser not disambiguiating "assoc" production."
In this warning the two parses are just different associations of the same production, which is declared associative.

    [Warning] Inner Parser: Parsing ambiguity. Arbitrarily choosing the first.
    1: syntax GotoCalcCellSet ::= GotoCalcCellSet GotoCalcCellSet
    [assoc(#token("",KString)) comm(#token("",KString))
    element(#token("GotoCalcCellSetItem",KString)) function()
    hook(#token("S

[2015-10-20 21:52] cos commented on #1520
I get the feeling we're again adding even more special casing to K with this automated configuration variable start symbol hardwiring. How about if the user wants to grab $PGM as a string and use a different parser? Why don't we simply write `#parse($PGM, Exp)` in all cases? Is it that verbose?

[2015-10-20 22:00] cos commented on #1520
I see `#parse` takes a file for some reason. We might do via something like `#parse(#readFile("filename"), Exp)`. Furthermore, why have `$PGM` as a special variable to begin with. Can't we simply hook it to a function reading configuration variables instead of adding yet another feature? Something like `#config("PGM")`? Or, fi we do allow it to be `$PGM`, maybe implement it as a hooked function in

[2015-10-20 22:05] cos commented on #1560
I think we can close this issue.

[2015-10-20 22:45] bmmoore commented on #1772
We also still have `.Bag` being used for the absence of cells.

[2015-10-21 04:12] bmmoore commented on #1520
That sounds like a lot more work than finishing the implementation of the approach we've been using since K 2.

[2015-10-21 10:19] radumereuta commented on #1772
In `kast.k` we have something like this:
[code]
This means we can have both the old `.K` notation, as well as the new qualified dot.
I chose to leave them both so we have an easier time translating definitions from K3.6 to K4 (KORE).

I can remove the old format, but are we ready to remove SDF? Because that's the only way I can make sure we don't need the old notation.
Having that much old code is

[2015-10-21 11:39] grosu commented on #1772
@radumereuta , again: we should have *polymorphic* `.` only.  That is, both your productions
[code]
are wrong.  You should only have `.`, and then to allow `.::K` in ambiguous situations as an instance of the general casting notation.

[2015-10-21 11:45] radumereuta commented on #1772
Yes, that is a hack for now, because the disambiguation algorithm for polymorphic productions is not yet clear to me. I will get to it when the problem is more simple.
You haven't answered my question about SDF.

[2015-10-21 12:28] grosu commented on #1772
I am OK with getting rid of SDF, so I'll let others answer.  I think the original idea was to have some of the examples in the tutorial work, so we have tests to make sure we do not break other stuff.  Now we do have some tests.  @dwightguth , would the removal of SDF break C?

That's the problem which slowed us down for so long, especially you.  Always hacks and patches.  Why don't you try someth

[2015-10-21 15:09] dwightguth commented on #1772
Removing SDF should not be an issue for C.

On Wed, Oct 21, 2015 at 7:28 AM, Grigore Rosu <notifications@github.com>
wrote:

[2015-10-21 15:38] cos commented on #1520
It should be fairly simple if `#parse` is already working. Is it?
If it is, it simply means replacing the code that tried to parse the `$PGM` with code that simply passes everything in as a String.

[2015-10-21 15:51] dwightguth commented on #1520
Pretty sure this causes issues for the OCAML backend because #parse is
quite nontrivial to implement there. I would prefer to avoid the giant
headache and loss of productivity that would result in trying to deal with
this. Not to mention the loss of performance.

On Wed, Oct 21, 2015 at 10:38 AM, Cosmin Radoi <notifications@github.com>
wrote:

[2015-10-21 16:17] cos commented on #1520
for the OCAML backend, if we propagate the $PGM value you can simply replace `#parse(theValue, theSort)` with the actual parse, just like it was done before, but without having to worry about recovering the sort.

In any case, as long as we're not saving the $PGM sort in `Module` (`CompiledDefinition` is ok as it is already a bit messy) and I'm not the one implementing this, I'm ok with any soluti

[2015-10-21 19:45] bmmoore commented on #1520
Making or approving `CompiledDefinition` changes is the main reason I assigned the bug to you. The current code already serializes and deserializes a sort for `$PGM` and passes it to the parser! The problem is only that we don't have a field for storing similarly the sorts of configuration variables, and that the construction of the compiled definition always passes `K` as the sort to be saved ins

[2015-10-21 19:56] bmmoore commented on #1790
It behaves the same with or without kore, here's a simple test definition

    module AMB
    syntax A ::= "a" | A A [assoc]
    endmodule

with input

    a a a

@radumereuta, this should be very easy to fix by just treating a bare `assoc` as if it was either `left` or `right` when constructing the parser, but I don't know where in the code to do that, or which is cheaper.

[2015-10-22 05:19] yilongli opened #1795 "two potential data races inside dk.brics.automaton.Automaton"
Reported by RV-Predict:
[code]

Looks like `dk.brics.automaton.Automaton` is non-thread-safe and should be protected by a lock. Please confirm.

[2015-10-22 10:22] bmmoore commented on #1795
Those are both static fields. If there are not any other races we probably already protect the instances well enough, so this looks a bit hard to fix.

RV-Predict should be changed to say "race on static field".

[2015-10-22 18:15] bmmoore opened #1800 "Nondeterministic or system dependent test output for kore imp++"
The solutions seem to be produced in a different order on my laptop and on Jenkins. Reordering them in commit a6e76ce of pull request #1798 was necessary for `mvn verify` to pass locally, but made it fail on Jenkins.

Who knows what this might be? @andreistefanescu? @dwightguth?

[2015-10-22 18:23] daejunpark opened #1801 "partial functions in symbolic rewriting"
In java-backend's symbolic rewriting mode, if a condition of a rule contains a partial function which failed to evaluate, the rule is simply applied with a constraint having the unresolved function, which has little sense. We have two different situations in this regard:
 * We may want to drop the current execution path entirely, especially for searching or proving. e.g., divide-by-zero
 * We may

[2015-10-22 18:30] dwightguth commented on #1800
They're supposed to be sorted lexicographically.

[2015-10-22 18:43] daejunpark opened #1803 "sort inference in kore"
It seems that sort inferencer of kore works differently than kil. It is hard to minimize example, but refer to:
 * ~~https://github.com/kframework/k/blob/7b551511247836d2bceff7d4621df69eb8d2bc31/k-distribution/tutorial/2_languages/2_kool/1_untyped/kool-untyped.k#L375-L379~~
 * ~~https://github.com/kframework/k/blob/7b551511247836d2bceff7d4621df69eb8d2bc31/k-distribution/tutorial/2_languages/2_kool

[2015-10-22 20:36] yilongli commented on #1795
But it must be fixed, right?

[2015-10-22 20:57] bmmoore commented on #1795
The counter definintely needs to be fixed. I'm not sure about the minimization setting - it looks like all writes are writing the same constant, trying to override the default setting - assuming such a write happens before every use of minimization, do you if Java guarantees good behaivor in that case?

[2015-10-22 21:00] bmmoore commented on #1799
Does kool only use `<br/>`?

[2015-10-22 21:03] yilongli commented on #1795
yes, it's ok to write the same constant concurrently

[2015-10-22 21:11] bmmoore commented on #1803
I don't understand what changing from `KItem` to `Exp` means.

What goes wrong with the second and third examples?

The concrete syntax of `notBool` doesn't have parentheses, so I would blame any problems more specifically on sort inference for labelled terms.

In the third example, I don't see why the `_` would be expected or needed to have sort Exp, are you sure it's not just that the K grouping

[2015-10-22 21:16] bmmoore commented on #1795
Ok. I'm not sure if every path that might minimize is guarded by such a write - maybe we should hoist it all the way to some super-early code. The constant we are writing is different from the initial value of the field. If writing the same constant is safe has long as every read happens-after a write of the constant, is this then a false positive in RV-Predict?

That `next_id `field looks like it

[2015-10-22 21:23] yilongli commented on #1795
Yes, it's better to hoist the code that calls `setMinimization`. It's not a false positive in RV-Predict. It's a data race, but a benign one w.r.t the JMM.

Maybe this package is just not designed to be thread-safe. Could you just synchronize from our side?

[2015-10-22 21:27] bmmoore commented on #1801
I agree paths should be dropped if the function is definitely stuck on (all ground instances of) the given arguments, but I think it makes plenty of sense to have unevaluated functions in side conditions in more general cases, if you consider such a constraint as also asserting that the function is actually defined on those arguments, and *some* way of checking whether a function is defined seems

[2015-10-22 21:45] bmmoore commented on #1795
I worry because I think most of the parallelism in kompile is parsing rule bodies in multiple threads, and parsing definitely at least runs automata.

Hopefully only regex construction would need to be synchronized on `State.class`, but I don't have time to look into the code closely enough to see whether that's safe.

[2015-10-22 21:51] daejunpark commented on #1799
Yes.

[2015-10-22 22:03] daejunpark commented on #1803
@bmmoore The first three examples are fixed by #1805.

The remaining two examples, I think, are necessary because `lookup` and `lookupMember` can appear in Exp position, especially function expression in function call.

Question is how they worked before in KIL?

[2015-10-23 15:30] dwightguth commented on #1795
I think it's better to try to fix the package than to try to synchronize. I mean, we can try that, but I suspect we will see serious performance losses from lock contention.

Probably use an AtomicInt for next_id and hoist setMinimization before the thread creation (static initializer maybe?)

[2015-10-23 17:45] bmmoore commented on #1795
Fixing the package is a cleaner solution, but *if* it's safe to put a global lock only around parser generation and not around actually parsing input, then I think it wouldn't hurt performance too badly.

[2015-10-23 17:57] dwightguth commented on #1795
Alright. Well, time it and see. Test with the C semantics before and after
the change.

On Fri, Oct 23, 2015 at 12:45 PM, bmmoore <notifications@github.com> wrote:

[2015-10-29 00:38] kheradmand opened #1812 "Token regex"
I want to parse a bracket free string as a token. I use the following production:
[code]
But I get the following error:
[code]

How should I change the regex to get what I described above?

[2015-10-29 08:59] radumereuta commented on #1812
Try using the new parser. You will have to say something like this:
[code]
You can find more information about how to specify the syntax [here](https://github.com/kframework/k/wiki/Syntax-specification-for-the-new-parser). Also, you can find a few more examples on how to use them in real life in [e-kore.k](https://github.com/kframework/k/blob/master/k-distribution/include/builtin/e-kore.k) and [ka

[2015-10-29 15:58] laurayuwen commented on #1812
@radumereuta So in order to parse java programs, I should also make changes to syntax according to the wiki you suggested here, right?

[2015-10-29 16:38] radumereuta commented on #1812
If you want to use the new parser, then yes.

[2015-10-30 15:02] msaxena2 opened #1813 "Building K fails on OS X El Capitan"
calling mvn package on OS X El Capitan fails with the following error message:
[code]

[2015-10-30 15:12] dlucanu commented on #1813
I had a similar experience:
[code]

[2015-11-01 02:42] kheradmand commented on #1812
Thanks Radu. How can I enable the new parser?

[2015-11-03 16:10] dwightguth opened #1816 "NPE in SymbolicRewriter.rewrite"
It looks to me like if you pass a bound of zero to SymbolicRewriter.rewrite, you end up returning null from the method. In this case it should return the value passed into the function instead.

[2015-11-03 20:07] cos opened #1817 "Avoid caching in FloatToken, StringToken and UninterpretedToken"

[2015-11-04 19:31] dwightguth commented on #1812
Hi, Radu is talking about using the K 4.0 beta. You can get it by downloading and checking out the latest master on github and passing the "--kore" flag to kompile and krun (although the option will become the default in the next couple days). This should be sufficient for you to use the K 4.0 beta, although there are a number of differences in the K language that mean that you will have to modify

[2015-11-04 19:39] dwightguth commented on #1429
Closing from lack of activity. Also this was a student question and the semester is over. Please feel free to reopen if you are still interested in this though.

[2015-11-04 19:46] dwightguth commented on #1419
This seems to work as expected in the new pipeline. Your code gets stuck heating because the heating rule has the notBool isKResult side condition, and you didn't declare KResult. But there's no assertion error and if you add `syntax KResult ::= Int` then it will heat and cool correctly. I am going to close this now.

[2015-11-04 19:48] dwightguth commented on #1419
Actually never mind I just retested and we are getting a different error. Namely, it is throwing an AssertionError because the MapLookup is returning Bottom and the rewriter doesn't know how to handle this. I am going to assign this to @andreistefanescu . Andrei, obviously there should be some kind of friendly error message here.

[2015-11-04 22:34] cos commented on #1820
should be fixed by https://github.com/kframework/k/commit/e013265ce251064b3a15a3e3267ff3ccfd19e5b1

@msaxena2, please reopen if it still doesn't work.

[2015-11-07 23:00] dwightguth commented on #1822
I am wondering whether we can reuse the cellfragment functionality for other sorts of kitems. It's a similar deal... Picking some number of children from a kitem with a particular label and storing it somewhere as a first order term.

[2015-11-08 11:28] grosu commented on #1822
@laurayuwen , but we do not want to remove the support for `KList` and for writing rules like yours.  We need such support for all the various meta-level operations that we want to allow our users to define, such as: program transformations (where most constructors just propagate the transformations to their arguments and so we want to do it generically), generic substitution, up/down functions, e

[2015-11-09 15:42] cos opened #1826 "imp++, lesson 8, div.imp should be asserted by --search"
Search only gives the second solution for now, but it might be some strange interaction with IO.

[2015-11-09 19:54] bmmoore opened #1828 "Flatten `#KApply` and such earlier in parser pipeline."
A number of passes such as type inference would benefit if explicit labeled syntax was represented identically or similarly to concrete syntax, rather than as applications of labels like `#KApply` used in the K-in-K grammar.

In particular, much of the sort calculation logic in #1798 should probably be extracted into a separate parse post-procesing pass.

[2015-11-09 19:59] bmmoore opened #1829 "Split a `Cells` sort from `Bag`"
Right now the sort `Bag` is used both for the actual data type, and as the nonterminal for parsing arbitrary collections of cells in the front-end. We should separate these types, and then `isCells` and such would be available for referring to cell fragments in general.

[2015-11-09 22:31] bmmoore opened #1831 "Sentence order is not remembered in modules"
Sentence order is pretty random because Module keeps a Set and we use hash sets everywhere. Conversion to scala sets is fairly localized, but tons of code makes a HashSet on the Java side as part of their processing too, so even if the scala implementation of Module was adjusted we would already be forgetting order in tons of places.

[2015-11-09 22:49] bmmoore commented on #1825
It's definitely not intentional that this disagree with the wiki.
We do probably want full K to allow similar syntax or even just a "." for either case, but I see no reason the klabel shouldn't match the wiki. However, some code may current assume that the lack of a multiplicity ? cell uses a label named similar to the lack of any of a multiplicity * cell.

[2015-11-09 23:36] cos opened #1833 "Naming convention for sentences"
We need a convention for naming sentences. @bmmoore and I decided tentatively on "module name dash line number". Generated rules can have a named derived from their original sentence, e.g., a context could be "production name dash context" and, the heating, in turn, be "context name dash heat".
Once we get this, we can do #1831.

[2015-11-09 23:37] cos commented on #1831
Brandon and I decided to postpone this for a bit until we have a stable naming convention. We can then use order sentences lexicographically based on their name. See #1833.

[2015-11-10 06:02] yilongli opened #1834 "doing krun without specifying a program results in an AssertionError"
[code]

[2015-11-10 18:26] dwightguth commented on #1834
We need to re-add the check that throws an error if not all configuration variables have been specified.

[2015-11-11 05:55] yilongli opened #1835 "inner parser error when using local rewrite"
Looks like a bug to me.
[code]

[2015-11-11 06:17] kheradmand commented on #1812
I get this error with the latests build:
[code]

I also tried to kompile tutorial/1_k/1_lambda/lesson_1/lambda.k and got the following error
[code]

[2015-11-11 06:52] bmmoore commented on #1812
We are updating the tutorials starting with the last lessions (to make sure all features work), in lambda only `lesson_9` that works: https://github.com/kframework/k/blob/master/k-distribution/tutorial/1_k/1_lambda/lesson_9/lambda.k

Those particular errors happen because the latest build stopped automatically importing any modules. You can see how it's done in the updated tutorials. You will need

[2015-11-11 07:05] bmmoore commented on #1812
Also, you got the original error because 3.x uses a regular expression syntax based on the SDF tools (while 4 switches to Java regular expressions). If you want to try to keep using the released version the documentation here might help: http://www.meta-environment.org/doc/books//syntax/sdf/sdf.html#section.symbols
We are trying to move away from SDF and I don't know it very well myself, but the S

[2015-11-11 15:53] laurayuwen commented on #1812
@kheradmand I can update every lesson in lambda today.
@bmmoore As I said yesterday, there is no backstick in lambda, so lambda don't need back and forth changes. Also, I got stuck when I tried to upgrade 5_types, I need unification hook.

[2015-11-11 16:39] omarz1 opened #1836 "Builtin counters of instances of cell types"
Hello,

Can we implement a builtin counter for threads? that is to provide a count of the number of threads in the environment. In general, we should be able to count instances of any type of cell. This will give more power to the conditions of a rule. For instance, this will allow us to say "If ALL threads in the environment are so and so..."

I suggested a builtin counter before for transitions

[2015-11-11 17:44] dwightguth commented on #1836
This should be doable I think... You can use the `#configuration` function to get the complete configuration from inside a function, and then you can traverse the configuration until you get to the cell you care about and iterate through all the elements in the collection summing up the count. I suspect we will not provide builtin support for this using a hook, however.

[2015-11-11 18:19] msaxena2 opened #1837 "Kompiling file without main cell (cell with $PGM) results in Uncaught Exception of type Assertion Error."
Stacktrace:
[code]

[2015-11-11 18:23] bmmoore commented on #1837
This seems like a duplicate of #1834.

[2015-11-11 18:25] dwightguth commented on #1837
It is not. The latter happens because we do not have a check that all configuration variables have been specified to krun. This happens during kompile because we do not have a friendly error message for the case when no main cell has been specified.

[2015-11-11 18:41] bmmoore commented on #1837
Ah, in kompile. Yeah, this is definitely different.

[2015-11-11 19:59] bmmoore commented on #1835
We've changed the K grouping syntax to use backtics to avoid conflicts with user syntax in languages like Scheme, as documented here: https://github.com/kframework/k/wiki/!!!-Module-System . But, `List` isn't a user sort so there's no reason not to add a bracket production using parentheses. Once we add module-based implementation we may switch back to adding parentheses along with the other K syn

[2015-11-11 21:49] yilongli commented on #1835
I see. Thanks for the explanation. Closing it.

[2015-11-11 21:49] #1835 closed

[2015-11-11 22:15] kheradmand commented on #1812
thanks a lot it worked :+1:

[2015-11-12 00:31] omarz1 commented on #1836
I've looked for a use of `#configuration` to know how to do that, but I didn't find any, let alone how to traverse it!

[2015-11-12 00:46] kheradmand opened #1839 "Associativity filter exception"
I keep getting this error:

[code]

I was wondering what this error means and how can I find which part of my syntax is causing this error.

[2015-11-12 00:57] kheradmand commented on #1839
I have this syntax
[code]
[code]

with this if I run :
[code]

I get
[code]

However, If I comment out this line:
[code]

Running the same thing has no errors and give me:
[code]

But I think that line has nothing to do with SpecBody sort:
[code]

why is it affecting SpecBody?

[2015-11-12 05:06] yilongli opened #1840 "PatternMatchRewriter becomes unused"
`PatternMatchRewriter` becomes unused after the kil kill pull request. I am wondering if we are going to keep it? @dwightguth @andreistefanescu

[2015-11-12 17:42] radumereuta commented on #1839
Hi, I've tried to replicate the bug, but I couldn't. I think the syntax you put in the issue is not complete.
Anyway, I think I know the probable cause of this. It's most likely a collision in the automatic klabel generator. The same label is used for the lists and `EREFormula EREFormula [left]`, and when I'm checking the priorities some unwanted interferences happen.

If you put a manual klabel o

[2015-11-12 19:04] andreistefanescu commented on #1840
The class is unused because the pattern matching based rewriting is wrongly wired in ```SymbolicRewriter```, instead of ```PatternMatchRewriter```.

[2015-11-12 21:32] bmmoore commented on #1825
I think your pull request fixes the bug you were running into, but we should also discuss and update the design. I think consistency with other collections demands at least that `.CellName` be allowable concrete syntax for an empty bag of multiplicitly * cells.

[2015-11-12 21:36] kheradmand commented on #1839
thanks a lot Radu manual klabel fixed the problem :+1:

[2015-11-12 23:16] daejunpark opened #1842 "parsing cells in cell fragment terms"
For example, suppose `<x>` cell consists of `<a>`, `<b>`, and `<c>` cells.
[code]
The above rule fails to be parsed, because Cell is not sub-sort of XCellFragment. But if the sub-sort relationship is added, parsing takes unreasonably long.

[2015-11-12 23:20] dwightguth commented on #1842
Doesn't cell fragments have its own concrete syntax that is different from this?

[2015-11-12 23:47] bmmoore commented on #1842
cell fragments in K3 just had the syntax of bags, I think this is the concrete syntax we want to give them.

What subsort relationship are you adding?

[2015-11-13 00:44] kheradmand commented on #1843
fixed by adding
[code]
Wondering whether there is neater way

[2015-11-13 01:44] kheradmand commented on #1843
"size" is also not an Id. Where can I find a list of reserved words?
[code]

[2015-11-13 05:08] bmmoore commented on #1843
There is no fixed list, that's happening because of the `autoReject` keyword on the production for `Id` in `domains.k`.

But, that's only supposed to reserve words that are used as terminal in other productions. If it's excluding "size" it might be incorrectly considering productions that are not actually imported into your module.

@radumereuta should know more.

[2015-11-13 07:01] daejunpark commented on #1842
[code]

[2015-11-13 22:07] kheradmand opened #1847 "CircularityException"
[code]

``` kast -s LTLFormula -e "x and x"``` gives me:
[code]

Here is the stack trace:
[code]

If I change it to something like this:
[code]

It works fine.

[2015-11-13 22:12] kheradmand commented on #1847
Manual klabel fixed the problem

[2015-11-13 22:12] #1847 closed

[2015-11-16 09:08] omarz1 commented on #1836
Right now, I'm implementing counters crudely. All this is just work-around because I need a condition that says "if no thread contains such and such".

[2015-11-16 14:15] radumereuta commented on #1843
Usually, you can solve this by creating a special module for the language of your syntax.

[code]
Now, a few reasons why ID has `autoReject`.
We have the common case, and the advanced case. For the common case,
we want users to get to a result very fast, without them requiring to know too much about
how K works. That's why we invented the `autoReject` tag. It simply looks in all the imported produ

[2015-11-16 21:07] radumereuta commented on #1843
I just tried this: `kast -e "size(.Map)"`. Apparently there is a step which includes the module DOMAINS in the main module, and for good reasons, it is the main module.
If someone needs something more complex, then modularity is available.

[2015-11-16 21:52] cos commented on #1852
@dwightguth, yes, I have seen inconsistencies between IntelliJ versions too. Still, I'm not aiming for perfection here. If we can eliminate 95% of PR junk without having too worry about formatting while we code, I'm more than happy.

@bmmoore, checking formatting automatically (maybe as a github hook) would be nice, but it will require a bit more work. We could look into it once we have things for

[2015-11-16 21:56] cos commented on #1852
Here is a pull request with the result of the auto-format:https://github.com/kframework/k/pull/1853

Please cherry-pick the IntelliJ style file separately when testing this against your PRs -- would it help if I make a pull request against master for this separately?

Have a look over the result and feel free to make adjustments to the style file as you see fit. I've added a couple of options that

[2015-11-16 21:58] cos commented on #1852
Also, feel free to change that branch. Please force-push your auto-format result so we add less junk to the history.

[2015-11-16 22:00] yilongli commented on #1852
I do not agree that we should never do manual formatting. I may choose to do manual formatting when the auto-formatting looks bad and I don't want my pull request to be rejected because of not using auto-formatting.

Regarding pending pull requests, PLEASE do not make merging my pull requests any harder. I have finished those pull requests weeks ago. I only agree to postpone them because @andreist

[2015-11-16 22:06] cos opened #1854 "Allow attaching meta-data to terms, as well as matching on the meta-data"
It would allow something along these lines (the syntax is irrelevant):
[code]
Here, the location of the + is propagated to the term of the evaluated value.

[2015-11-16 22:10] cos commented on #1854
hm... now I realize that the `questions` are actually mostly `enhancements`... closing in favor of #218.

[2015-11-16 22:10] #1854 closed

[2015-11-16 22:14] #1812 closed

[2015-11-16 22:18] cos commented on #1852
@yilongli, do you have an example where automatic formatting that looks unacceptably bad?

Regarding pending pull requests, please try the process I've suggested and let me know if you encounter signifiant issues. If you do, we'll figure out a way around it or, worst case, will postpone the auto-format for after you merge.

[2015-11-16 22:46] yilongli commented on #1852
@cos I do not have a concrete example at hand but I want certain degree of flexibility.

I have three pending pull requests instead of one. I don't think there will be significant issues but I don't want to spend any more time on them. Could you make merging that automaton PR your first priority?

[2015-11-16 22:50] cos commented on #1852
@yilongli, well, as we won't likely have an automatic check, your PR will probably go through, but the custom formatting may get removed later on when someone else auto-formats. Examples of ugly automatic formatting would be useful as we might be able to convince IntelliJ to format it differently.

Hopefully today.

[2015-11-16 23:02] yilongli commented on #1852
@cos OK then, I can accept that we may revise the IntelliJ style file when we see ugly automatic formatting.

[2015-11-17 01:24] bmmoore commented on #1843
This works:

    require "domains.k"
    module TEST-SYNTAX
      imports DOMAINS-SYNTAX
      syntax X ::= Id
    endmodule
    module TEST
      imports TEST-SYNTAX
    endmodule

then

    $ kast -s X -e "size"
    #token("size","Id")

[2015-11-17 02:16] kheradmand opened #1857 "Lookup directories"
I have the following folder structure:
[code]

In rvm-syntax I have something like
[code]

If I go to src/common/rvm folder and try to kompile rvm-syntax it works fine, however If I go to test folder and try to kompile ../src/rvm/rvm-syntax.k I get:
[code]

[2015-11-17 02:24] kheradmand commented on #1843
Thanks a lot @radumereuta @bmmoore

[2015-11-17 09:25] radumereuta commented on #1843
Can we close this?

[2015-11-17 09:27] radumereuta commented on #1857
@cos implemented this part in the new implementation, I think he can clarify things.

[2015-11-17 09:50] radumereuta commented on #1852
@cos can you give us some examples of big projects that use this "enforced" auto-formatting? What we have right now is inspired from what Google does, if I remember correctly.
@yilongli I found an example where this fails badly: https://github.com/kframework/k/blob/auto-format-everything/kernel/src/main/java/org/kframework/parser/concrete2kore/kernel/Grammar.java

In the beginning comments I used

[2015-11-17 16:03] cos commented on #1857
I think @dwightguth touched that part with his latest pull request. From I understand, one way to do it would be: `kompile -I ../src/rvm rvm-syntax.k`, but the way you did it should be accepted too.

[2015-11-17 17:10] cos commented on #1852
I think many developers do not worry that much about this because either they are less fussy about the noise in pull requests, or have set up automated systems to deal with the noise. In most cases it is simply considered common courtesy to closely follow the project's guidelines and projects help by providing a style file for automatic formatting. So this is not a front and center issue usually.

[2015-11-17 17:37] dwightguth commented on #1857
I do not have time to look into this at the moment. It seems though that we have somehow made this code dependent on the current working directory which it should not be. @daejunpark you are oncall until Friday so it's your responsibility to investigate this.

[2015-11-17 17:58] cos commented on #1857
Actually, I'm on call -- we've switched.

Why shouldn't the code be dependent on the current directory. Isn't `kompile` relative to the current directory?

Also, @kheradmand, could you please run that with --debug and give us the entire error message + stack trace.

[2015-11-17 17:59] kheradmand commented on #1843
I don't know whether you asked me or other K members but my problem is solved :+1:

[2015-11-17 18:02] dwightguth commented on #1857
The idea is that the directory for the include path should be relative to the file being compiled, not the current working directory. So `kompile rvm-syntax.k` and `kompile ../src/rvm/rvm-syntax.k`  should have the same behavior. Somehow that is not being the case here, at least according to the report.

[2015-11-17 18:05] dwightguth commented on #1843
This doesn't seem quite right to me. The default module for `kast` should be the syntax module which in this case is TEST. TEST does not import DOMAINS. So it  should not reject the size keyword. There still seems to be a bug here to me.

[2015-11-17 18:09] kheradmand commented on #1847
@k-oncall my problem was solved but you may want to look at this

[2015-11-17 18:14] dwightguth commented on #1847
We should probably add a friendly error message for this if we are going to assume that priorities cannot have cycles.

[2015-11-17 18:15] kheradmand commented on #1857
@cos

[code]

[2015-11-17 18:18] dwightguth commented on #1857
Oh crap, this seems to be a result of the way we are bootstrapping implicit
requires. We need to absolutize the path that we include in the
automatically generated header. Either that or rewrite that code to require
files using a different mechanism.

On Tue, Nov 17, 2015 at 12:15 PM, Ali Kheradmand <notifications@github.com>
wrote:

[2015-11-17 18:53] cos commented on #1857
Making that path absolute seems a bit ugly. We could simply read the file in `parseDefinition` and not use `require` indirection.

[2015-11-17 19:38] radumereuta commented on #1852
Ok, I like your answer.
I would prefer solving the javadoc issue from Grammar.java differently. Just make the comment simple multiline comment. Apparently IntelliJ doesn't touch those.

I also propose that we make such a change in steps. Maybe start with Scala files (because we have fewer files), and then after we test such an enforced system, add it for Java, XML, and other types of files. Also,

[2015-11-17 19:40] radumereuta commented on #1843
The tests suggests that DOMAINS is included in the main file, but not in the syntax module.

[2015-11-17 21:30] dwightguth commented on #1843
in the example as listed, DOMAINS is not imported at all. So I am not quite sure what you are getting at, but it definitely doesn't sounnd correct to me.

[2015-11-17 21:31] dwightguth commented on #1857
Yeah that could work too as long as you continue to require prelude.k.

[2015-11-17 22:30] bmmoore commented on #1843
MAP, which has a production using terminal "size", is added to the imports of the configuration module.
In the absence of an explicit configuration, DEFAULT-CONFIGURATION is added to the imports of the main module, which is TEST.

[2015-11-17 22:34] dwightguth commented on #1843
Ah, I see, okay. Yeah, this can probably be closed then.

[2015-11-17 22:35] #1773 closed

[2015-11-18 00:58] yilongli commented on #1840
@dwightguth I think the relevant code is in `InitializeRewriter`. Looks like your territory?

[2015-11-18 12:33] dwightguth commented on #1840
I don't have time to fix this at the moment. @msaxena2 you may want to look into this, it could improve performance of the C semantics somewhat on the Java backend, once you get it working.

[2015-11-19 10:02] omarz1 commented on #1836
OK. I'm using version 3.5 (built dec 20, 2014) and it reports a syntax error whens seeing the `#` of `#configuration`.
I don't want to update and lose Maude LTLMC because I'm using that. What should I do?

[2015-11-19 11:08] omarz1 commented on #1836
I downloaded version 3.6 for `#configuration ` to work. I had to delete rules using the `substitution` module temporarily. Is there an alternative for that because I need substitution.

So `#configuration()` gave a syntax error, but just `#configuration ` without parentheses didn't.

However, the syntax definition `syntax K ::= anySiteCall(Bag) [function]` gave a `ClassCastException`:
[code]
How s

[2015-11-19 21:00] omarz1 commented on #1836
One more question: the pattern inside `anyBadThread(pattern)`, must it be from the `top` cell? Can't I just do `anyBadThread(<thread>... pattern ...</thread>)`?

Does this `owise` attribute really work?

[2015-11-19 21:20] kheradmand opened #1863 "NoSuchElementException"
I have this k file (mop-compiler.k):
[code]

When I try to kompile mop-syntax.k I get:
[code]

Here is the stack trace:
[code]

I was wondering what is the problem.

[2015-11-19 23:56] omarz1 commented on #1836
This rule seems to always return false. I must be doing something wrong!

[2015-11-20 00:29] omarz1 commented on #1836
I removed the [owise] false rule and I got `true` where I expected. But this means it will get stuck when it should return false. I also discovered that I must start from `<generatedTop>` or else I get a `StackOverflowError`.

[2015-11-20 18:11] msaxena2 opened #1866 "Add support for Variable KLabels to the java backend."
The java backend doesn't support KLabels that are also KVariables.

[2015-11-20 22:28] kheradmand commented on #1863
@k-oncall I'd be really thankful if somebody could help me with this.

[2015-11-21 12:15] omarz1 commented on #1836
`[owise]` doesn't appear to be processed. It's as if the `rule anyBadThread(_) => false [owise]` is just `anyBadThread(_) => false` because it's always returning false! The `true` part is correct. I tested it. What am I doing wrong?

[2015-11-21 21:38] cos commented on #1863
@kheradmand, it would be helpful to have the `mop-syntax.k` that you're trying to compile.

[2015-11-22 03:35] kheradmand commented on #1863
Unfortunately I could not isolate the problem. Here is mop-syntax.k but it depends on many other files which you can find [here](https://github.com/Formal-Systems-Laboratory/rvm-parser/tree/master/src):
[code]

[2015-11-22 04:10] laurayuwen commented on #1867
Added to K Wish List.

[2015-11-22 06:05] dwightguth commented on #1867
This should be relatively easy to do. We already serialize the commit hash to the jar so it can be accessed by java, we just need to also serialize it somewhere it can be read by the k shell script, and then pass it in as an environment variable.

The one thing I'm not 100% sure on, though, is, what kind of behavior do you have in mind if it's not a match? Just because it's not a match doesn't mea

[2015-11-22 06:05] dwightguth commented on #1867
I will get to this when I get back from vacation after Thanksgiving.

[2015-11-23 02:47] pdaian commented on #1867
Intended behavior should be something like a warning about running multiple incompatbile copies of the same kserver which will slow down the operation, instructions on how to kill the kserver, and proceeding without kserver.

[2015-11-23 10:30] omarz1 opened #1868 "Synchronization and Concurrency in K3.6"
I have threads with a certain property in my environment, and I need a certain rule to apply to all of them at once. I assumed that rules will apply concurrently whenever they can as long as no shared writing was involved, but my experimentation tells otherwise.
[code]
What I want is for rule 1 to apply on all such threads and then for rule 2 to do so, but what is happening is that rule 1 applies

[2015-11-24 23:51] msaxena2 opened #1869 "Error with inner parser"
Kompiling the following defintion
[code]
leads to the following error:
[code]
@radumereuta @cos Any ideas?

[2015-11-25 07:35] grosu commented on #1772
@cos, @andreistefanescu : can you please get rid of SDF asap (sorry if you've done it already, I was a bit disconnected for the last couple of weeks)?

[2015-11-25 12:43] omarz1 commented on #1836
I need this, please.

[2015-11-25 19:58] radumereuta commented on #1772
SDF is out of master.

[2015-11-26 03:34] cos commented on #1836
@omarz1, could you please add a separate issue for `[owise]` and assign it to me? I don't know if someone can make it (or if it should already) work in K 3.6, but I want to make sure we'll handle it in 4.0.

[2015-11-26 09:37] omarz1 opened #1870 "[owise] attribute not working in K3.6"
After following the suggestion in #1836, [owise] doesn't appear to be processed. It's as if the `rule anyBadThread(_) => false [owise]` is just `anyBadThread(_) => false` because it's always returning false! The true part is correct. I tested it. What am I doing wrong?

@cos, you probably need to self-assign this as I can't assign it to you. Thank you.

[2015-11-26 09:39] omarz1 commented on #1836
@cos, Done.

[2015-11-27 19:05] cos commented on #1870
Thanks!

[2015-11-28 01:13] cos commented on #1869
@radumereuta, it looks like the KApply is confused with a `Map Map`. Any ideas why?

[2015-11-28 01:13] cos commented on #1866
@msaxena2, did you get this to work?

[2015-11-28 10:08] omarz1 commented on #1870
OK. `[owise]` does work in general, but not in the special case where I use it. What's special about my case is that I'm using the `#configuration` variable. Maybe the totality of my pair of rules is not seen by K.

[2015-11-28 10:17] omarz1 commented on #1870
I think I made it work just now. I'll make sure through further testing before closing this issue, but let me first document what I did. Like I said, the totality of the rule needs to be seen by K for `owise` to work.
In my example, I'm matching a pattern inside a function, so the two rules are not really total. Here is how it was done before:
[code]

Now here is how it *should* be done (see rule

[2015-11-28 18:18] cos commented on #1870
I'm not familiar with the `[owise]` current implementation. @bmmoore or @andreistefanescu, do you have any idea?

Overall, if you found a way around it, we could simply not worry about it until K 4.0, where we'll solve it with strategies.

[2015-11-28 20:02] omarz1 commented on #1870
All is working fine. @cos, you can close this if you wish. I already posted the solution to my problem. In my opinion, this should be open only if we have a well-defined bug report about `[owise]`. If from my case you can make a sample test that will reproduce the problem, then you'll have a bug to solve. The key problem is the pattern returned by `#confiiguration` inside a function and how `owise

[2015-11-28 20:04] omarz1 commented on #1836
Closed because resolved in #1870. Thank you very much @dwightguth, @bmmoore, and @cos.

[2015-11-28 20:09] omarz1 opened #1874 "`#configuration` causing errors in `--search` in K3.6"
`krun` gives the expected result, but `krun --search --debug` gives:
[code]

[2015-11-28 20:13] omarz1 commented on #1874
Same stack trace not wrapped at column 80:
[code]

[2015-11-29 01:47] yilongli commented on #1864
@daejunpark I don't get notified this way :) Feel free to revert that commit.

[2015-11-29 02:29] kheradmand commented on #1863
@k-oncall any thoughts ?

[2015-11-29 03:14] kheradmand commented on #1863
So I managed to isolate the problem:

[code]

when kompiled:
[code]

and the stack trace:
[code]

[2015-11-29 03:33] daejunpark commented on #1864
@yilongli Thanks for finding this. :) I can revert it, but I just wanted to make sure if there is a way to keep your performance improvement, yet safe for the prover. I'll talk to @andreistefanescu this Monday. Let me know if you have an idea though.

[2015-11-29 16:37] cos commented on #1863
could you try this on https://github.com/kframework/k/pull/1871? Just making sure I retained the bug after refactoring :-D

[2015-11-29 16:57] kheradmand commented on #1863
@cos could you send me a compiled version of that pull request?

[2015-11-29 19:34] cos commented on #1863
Kind of hard to sent it as the k-distribution is 1.5Gb.
You can either pull `cos:hotfix/compile-refactoring` from [my k repo](https://github.com/cos/k) and compile it yourself, or I'll try to replicate your experiment tomorrow.

[2015-11-29 22:06] kheradmand commented on #1863
I have problems compiling K on my personal computer could you test it yourself?
[code]

[2015-11-29 22:59] laurayuwen opened #1876 "Parsing ambiguity, with syntax not even defined"
When kompiling fun-untyped, I got many parsing ambiguities warning, and strangely the ambiguities include some syntax (of a certain pattern) not defined. I don't know how come, they are like:
[code]
fun-untyped-syntax kompiles fine along, but when I tried to kompile the whole thing, I got such errors.

[2015-11-29 23:42] omarz1 commented on #1836
I want to add that because `#configuration` was causing `--search` to crash (as reported in #1874), I got rid of it and instead of passing my functions `#configuration` as an argument, I pass it the bag of threads referenced in the rule like so:
[code]
And in case the rewrite is  happening inside a thread, then:
[code]

[2015-11-29 23:43] #1836 closed

[2015-11-29 23:58] cos commented on #1876
It seems this mixes Ids and KVariables -- @radumereuta, do you have any idea?

[2015-11-30 00:48] kheradmand commented on #1863
@cos @k-oncall And the problem is not just limited to configuration. There is the same problem with rules.
In general, things like ``` r"[^{}]+"``` or ``` r"[^()]+"``` are causing ambiguities with K's internal syntax. I don't know how to tell K to disambiguate such thing (prefer K's syntax over alternatives) (I can not do this using prefer or avoid because I have used this stuff to disambiguate my

[2015-11-30 13:49] msaxena2 commented on #1866
Not yet, but still working on it.

[2015-11-30 16:43] dwightguth commented on #1863
In general it's going to be pretty difficult for you to disambiguate rules if you have such a general production in your syntax. I think likely the best thing for you to do would be to define this as part of the syntax of your language but not import that syntax into the rest of the definition, like so:
[code]

[2015-11-30 16:44] dwightguth commented on #1863
If you go this route, you will have to use abstract syntax for NoBracket tokens, like so:

[code]

But this is probably the most reasonable compromise you are going to get when you have a token that can represent such a wide range of characters.

[2015-11-30 16:45] dwightguth commented on #1863
That said, we will look into this stack trace because at the very least that should definitely not be happening.

[2015-11-30 22:28] kheradmand commented on #1863
I did so (on my project not the sample I provided) but now unfortunately krun hangs (does not produce result after 15 minutes on input that it used to produce result for in less that 5 seconds)

[2015-11-30 23:39] dwightguth commented on #1863
@radumereuta could this be because of the start symbol thing?

[2015-12-02 10:27] omarz1 opened #1880 "String concatenation"
How do you do string concatenation in K?
[code]

[2015-12-02 10:31] omarz1 commented on #1880
That's easy. Use the K builtin operator `+String`:
[code]
Once again I answer myself!

[2015-12-02 10:31] #1880 closed

[2015-12-02 18:10] omarz1 opened #1881 "Matching a `Map` key that is a concatenated `String`"
I tested this. In the configuration I have a `Map` that includes `"MyCow" |-> 0`. In the rule, when I do `"MyCow" |-> 0`, it matches, but when I do `"My" +String "Cow"`, it doesn't!
I have tested this in version 3.5.2. I wasn't able to test it in 3.6.

[2015-12-02 18:14] dwightguth commented on #1881
+String is a function and thus does not support matching on itself. If you want to test that a particular value is equal to the concatenation of two strings, I suggest you use something like:
[code]

[2015-12-02 18:16] omarz1 commented on #1881
Your suggestion works. Thanks.

[2015-12-02 19:42] radumereuta commented on #1876
I had a look over the fun examples, and they declare lots of tokens which have the attribute 'notInRules'.
In the new K, these need to be put in a separate module which is imported by the syntax module, but not the semantics module (or any module which may contain rules).

Here is a more detailed description of the process: https://github.com/kframework/k/wiki/Separate-modules-for-parsing-and-sema

[2015-12-02 20:05] radumereuta commented on #1863
It is possible.
I've tested `Test.rvm` and it is ambiguous if I don't specify the sort to kast.
@kheradmand can you tell me if you get the expected result if you call krun with the parser option something like: `kast -s RVM path/to/spec.rvm`.

P.S. I didn't find any instructions on how to run a module. All I found was how to compile the syntax module.

[2015-12-02 20:22] radumereuta commented on #1869
Try this:
[code]
Putting quotes around `A` tells the parser it should group whatever is inside into a single token, but that's not helpful here since it's a typing problem.

[2015-12-02 20:22] #1869 closed

[2015-12-02 20:41] kheradmand commented on #1863
Could you please test MOP instead of RVM? I'm working on MOP right now and it is not ambiguous if you don't specify sort to kast.
[code]
The master branch only contains the syntax modules.

For configuration and rules please check out the "compiler" branch and
[code]

Which does not kompile right now.

This is mop-compiler.k:
[code]

[2015-12-02 21:31] cos commented on #1852
@bmmoore, great, didn't know about that. Works well.

@radumereuta, , I added `<pre>` around the figure you mentioned.

[2015-12-02 21:34] cos commented on #1852
The pull request (#1853) is ready for merging. Please have a look at it beforehand.

[2015-12-02 21:35] cos commented on #1852
@radumereuta, you have a critical eye for code formatting detail, and have already reviewed a good part of it. Could you review the rest?

[2015-12-02 21:50] cos commented on #1852
Regarding outstanding pull requests. I tried to merge one of my branches (#1873) into the auto-format branch. It's not perfectly smooth, but doable. Cherry-pick e746016dd0555ddbf55d552416e1ed7aaabd32f6, then autoformat in IntelliJ with *.scala and then with *.java masks. Then try to merge. I got three false merge conflicts but it wasn't that bad -- kind of similar to what we were facing with SVN.

[2015-12-02 21:56] bmmoore commented on #1852
For @yilongli, IntelliJ does allow at least some degree of manual control. It normalizes indentation and trailing spaces, but if your lines are not too long it generally leaves linebreaks alone. For example, this code is left untouched (in an appropriate context in I file I was just working on):

            s = sortCells.sortCells(s);
            s = sortCells
                    .sortCells(s);

[2015-12-02 21:58] cos commented on #1852
hm... I looked over the merge commit for #1873 and there are some problems. The auto-format commit makes formatting changes seem like very new code, possibly overriding your code, or your auto-format overriding newer code in the master.

[2015-12-02 22:02] cos commented on #1852
Hm... the following should work:

1. Merge the latest master.
2. Cherry-pick e746016dd0555ddbf55d552416e1ed7aaabd32f6
3. Auto-format with *.java and *.scala masks
4. In `Reflection.scala` delete the space before "default" (IntelliJ has a bug when auto-formatting Scala interpolated string.
5. Commit
6. Merge the auto-format-everything branch.

[2015-12-02 22:03] cos commented on #1852
The above steps gave a clean, fast-forward merge for my `feature/configuration-inheritance` branch.

[2015-12-02 23:44] laurayuwen commented on #1876
@radumereuta I am playing with 1_untyped/1_environment/fun_untyped. And for the four notInRules syntax, as I moved them from common to syntax module, ambiguities did reduce a lot, but the one for TypeName is Still left, in warnings like this.
[code]

The problem might be complicated by KList, which appeared (but not supported by current K) in pattern-matching.k and imported in fun. I pushed my cha

[2015-12-03 10:22] omarz1 commented on #1881
@dwightguth, too many of those in one rule and `kompile` either runs forever or give this error:
[code]

[2015-12-03 10:55] radumereuta commented on #1881
That's a parsing limitation. Can you post the exact rule you are trying to parse?
Try to put parenthesis around the rewrite terms: `(X +String ... Y) => (Z)`. That usually helps reduce the number of ambiguities during parsing time.

[2015-12-03 12:23] omarz1 commented on #1881
That worked again. Thank you @dwightguth .

[2015-12-03 17:01] cos commented on #1881
@omarz1, what are you using K for? I see an SDF error there. If you're ok with seeing a few more errors for a while, you can switch to the master version of K. We are actively working on it so any problems you may encounter will get fixed quicker.

[2015-12-04 15:12] omarz1 commented on #1881
@cos Thank you but now is not a good time for me to see more errors even though I do like reporting bugs. I will get to it once I can.

[2015-12-04 17:07] radumereuta opened #1883 "Parsing errors off by +1 line"
Example:
[code]
@cos thinks that this comes because @dwightguth added `requires "domains.k"` by prepending it to the text.
I think it should be added programmatically. The original text should not be changed before sending it to the parser.

[2015-12-04 17:12] dwightguth commented on #1883
You are correct, that seems to be the cause of this, because it does not affect anything other than the very entry-level file. Unfortunately, that means it doesn't really affect me in any way. I will only be able to get to this after I no longer have higher priority tasks to accomplish, which may be some time (my guess is on the order of weeks). You may want to fix this yourself.

[2015-12-04 19:13] radumereuta commented on #1883
Can you at least pinpoint the place where you are doing this?

[2015-12-04 20:02] dwightguth commented on #1883
https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/kompile/Kompile.java#L252

[2015-12-04 20:37] omarz1 commented on #1881
In K3.6, the following rule:
[code]
gives the following error:
[code]
Of course the rule is simplified to narrow down the source of the error. The following doesn't cause an error:
[code]

[2015-12-04 20:55] dwightguth commented on #1881
This is due to a limitation in how map patterns are compiled in K 3.6. You should be able to write rules that directly iterate over your gVars using a pattern like `Lock:String |-> Val:Bool` and then remove each element you iterate over, place it in a special-purpose cell, and then match Val against true.

K 4.0 will also support the original rule.

[2015-12-04 21:45] omarz1 commented on #1881
@dwightguth, I'm sorry I didn't quite understand. Each element needs a cell?

[2015-12-04 21:57] dwightguth commented on #1881
So, it looks something like this:
[code]

Note that this is iterating over the entire map. That is effectively the only way to determine whether any of the elements match your particular constraint (Key matching side condition, value matching pattern). If you have a large map and this rule tries to apply on every rewrite step, it's going to be pretty slow. If you want faster performance you are go

[2015-12-04 22:42] omarz1 opened #1884 "How to extend the configuration in a separate module"
My definition has multiple independent modules, each needs only the syntax module. The main module has the configuration defined, but some cells in the configuration are only needed by individual modules that I sometimes choose not to import. Can I append a cell to the configuration in one module?

[2015-12-06 02:26] daejunpark commented on #1884
This feature is under development by @cos  #1873

[2015-12-06 08:54] #1884 closed

[2015-12-07 16:20] cos commented on #1884
just a now, the feature is only available on `master` now and it won't get retrofitted to 3.x releases.

[2015-12-07 16:20] cos commented on #1884
*just a note

[2015-12-07 22:45] omarz1 commented on #1889
In the `k.sty` file, under `%%% Mathematical notation`, you'll find several colors defined in the percentage mixture notation like `white!50!black` which means 50% white and the rest black. Change those to a lower value like `white!10!black` and the color will become darker.

[2015-12-08 22:19] cos opened #1892 "Make all list-like structures be detected by UserList"
look for the todo in the code

[2015-12-09 15:46] cos opened #1893 "test issue"
disregard

[2015-12-09 16:13] cos commented on #1893
so this message won't show up in gitter for now

[2015-12-10 19:04] omarz1 commented on #1884
OK @cos, now I'm ready to start working on `master`. Does it include binaries or will I have to compile myself?

[2015-12-10 19:08] cos commented on #1884
afaik, you'll have to compile it yourself. It should work pretty smoothly.

[2015-12-10 19:18] cos opened #1899 "test before-after for printing KEM warnings"

[2015-12-10 20:05] kheradmand commented on #1863
@k-oncall @radumereuta @dwightguth Any news on this? I am really stuck with it.

[2015-12-10 21:30] kheradmand commented on #1863
why does this fail to kompile :
[code]

[2015-12-10 21:35] dwightguth commented on #1863
Your language syntax does not include brackets. You can use backticks if you want (`` `Imp:ImportDec` => Imp``), you can declare brackets for you sort (`syntax ImportDec ::= "(" ImportDec ")" [bracket]`), or you can declare universal parentheses as brackets if you are sure it will not conflict with the syntax of your language (`syntax KBott ::= "(" K ")" [bracket]`)

[2015-12-10 21:49] kheradmand commented on #1863
I don't really know what's going on
[code]

[code]

[2015-12-10 21:50] kheradmand commented on #1863
I don't really know what's going on
[code]

[code]

[2015-12-10 21:53] dwightguth commented on #1863
DOMAINS-SYNTAX contains the concrete syntax of identifiers which is intended to be inculded in program syntax but not rule syntax (because it conflicts with the syntax of variables). However, you are importing MOP-COMPILER-SYNTAX into MOP-COMPILER. I suggest you take a look at some of the examples in the tutorial that have been converted to K 4.0 to get a better idea of how they use a `<DEFINITION

[2015-12-10 22:57] daejunpark commented on #1897
I think we can keep both, considering `<s/>` as a syntactic sugar.

[2015-12-10 23:04] cos commented on #1897
I agree we should keep both, at least for now. I just added the issue because @dwightguth raised the concern and @grosu said he wants a discussion to make a final decision. We'll get back to it when we have time.

[2015-12-11 00:54] kheradmand commented on #1863
@dwightguth Thanks a lot. That problem I guess is now solved. Now I kompile this without any problem:
[code]

But when I krun I get the following output:
[code]

What's that?

[2015-12-11 04:04] grosu commented on #1863
What input program did you pass it?  _nnn are anonymous variables.

[2015-12-11 15:40] kheradmand commented on #1863
A very simple MOP spec. To be more precise this:
[code]

this is the output of cast for it:
[code]

and this is the output of krun if I don't specify any rules:
[code]

[2015-12-11 19:44] msaxena2 opened #1902 "Issue with Function Evaluation (Java Backend)"
Consider the following definition
[code]

The program "a" should evaluate "finish", which it does with the ocaml backend, but not with java.

[2015-12-11 21:26] daejunpark commented on #1863
`initKCell` should have been resolved into the term associated with `$PGM`. I suspect that the term is not considered (parsed) as of the sort `MOP`. To narrow down the problem, @kheradmand could you try with a simpler program? e.g., a program including only the first line `package mop;`, or the imports, and so on.

[2015-12-11 21:35] kheradmand commented on #1863
@daejunpark tested with
[code]

got
[code]

And the stack trace:
[code]

[2015-12-12 15:56] cos opened #1903 "`Production` vs `SyntaxSort`"
Right now, in KORE, we define new sorts by either a `Production` or a `SyntaxSort`. `SyntaxSort` can only introduce a sort, not define a subsort relation.

This is inconsistent as it is an attempt to separate sorts from productions, but at the same time using `Production` is required to encode sort-only properties like subsorting. The duality ripples into a lot ugly "case"-driven code.

I think we

[2015-12-12 16:52] cos commented on #46
does this still apply to the new parser? can we delete the issue?

[2015-12-12 18:59] radumereuta commented on #1903
Here are a few thoughts:
- the kernel of the parser doesn't care if a production is a subsort or a 'regular' production. Everything gets transformed into states for the kernel to interpret. It so happens that the what we call subsort, has only one non-terminal in the entire production. (in the parsing community this is also often called chain production, maybe to differentiate it from other meanin

[2015-12-12 19:03] radumereuta commented on #46
This was an issue with the modularity of the old parser.
Not an issue in the new implementation.

[2015-12-13 04:19] daejunpark opened #1905 "Merged PR is gone"
I cannot find the merged PR #1754 in the latest master. There is no history regarding neither merge nor revert of the PR. I suspect it is somehow rebased. Or, what am I missing? Any idea?

[2015-12-13 15:52] cos commented on #1905
The PR is still there. Only the branch is gone -- Brandon deleted it after the merge. There's usually no point in keeping merged branches around. What do you need it for?

[2015-12-13 15:53] cos commented on #1905
Seem like github added a "Restore branch" button -- see towards the end of #1754.

[2015-12-13 16:39] cos opened #1907 "Is `org.kframework.main.AbstractKModule` dead code?"
I'm trying to find my way around the injection system and stumbled upon it. The project compiles without it.

[2015-12-13 18:18] daejunpark commented on #1905
What I'm saying is that the PR was merged into master, but the change is not found in the current master.

I'm trying to find who reverted the change, but I cannot find the attempt to revert in history. Even, I cannot find the merge history neither. That's why I suspect someone accidently rebased it, but I have no idea how to find it.

Sent from my iPhone

[2015-12-13 18:29] cos commented on #1905
This is indeed strange. I'll look into it.

[2015-12-13 18:38] cos commented on #1905
It might be something like this:
http://stackoverflow.com/questions/13468027/the-mystery-of-the-missing-commit-across-merges

[2015-12-13 18:56] cos commented on #1905
@daejunpark, it's of your own making: https://github.com/kframework/k/commit/daa1978488c3f9c7c0a040c22462e8d5c784bc7a
:)

[2015-12-13 22:51] daejunpark commented on #1905
@cos Oh, it was due to me. Thanks a lot!

What happened is that I cherry-picked commits from a pending PR, but reverted them later because the pending PR had not been merged before my PR was merged. I thought that merging the pending PR will bring the changes back, but it didn't.

This is counter-intuitive because my reverting the commits preceded merging the pending PR. That is, merging a PR coul

[2015-12-13 22:55] cos commented on #1905
I don't think so. I think the principle is that git prioritizes the latest commits. If you don't make explicit commits that re-add the content, git considers the reverts as authoritative.

https://github.com/kframework/k/commits/master/k-distribution/tests/regression/kore-cell-fragments

I had some trouble finding it also. I don't know why they disappear. I eventually found them with gitk.

[2015-12-13 23:03] cos commented on #1902
@msaxena2, to summarize our discussion, the issue is that the Java backend doesn't renormalize the ksequences after function application.

Let me know if you encounter any problem fixing the issue.

[2015-12-13 23:03] #1893 closed

[2015-12-13 23:12] #1905 closed

[2015-12-14 17:09] dwightguth commented on #1907
The class needs to be updated to support more of the KORE injection-points, but it's still used by the OCAML backend and should not be deleted.

[2015-12-14 17:10] cos commented on #1907
Thanks!

[2015-12-14 17:10] #1907 closed

[2015-12-14 17:14] #1866 closed

[2015-12-14 17:26] dwightguth commented on #1909
[![Build Status](http://office.runtimeverification.com:8080/job/k-framework-master/badge/icon)](http://office.runtimeverification.com:8080/job/k-framework-master/)

[2015-12-15 03:35] bmmoore commented on #1905
If `cherry-pick` actually made a new commit, and then the pr was merged like with the `merge` command, that's exactly how it should have worked. Other things like `rebase` (and `pull` may use `merge` or `rebase` depending on settings) might act differently.

[2015-12-15 04:10] bmmoore commented on #1747
@daejunpark Has this been fixed?

[2015-12-15 07:20] daejunpark commented on #1747
yes.

[2015-12-15 08:00] daejunpark opened #1912 "no comment in temporary changes in language definition transition to kore"
@cos Are you tacking it down? 2230bb39

When you make such a temporary change in language definitions, you have to write a big TODO comment to revert it back to the original later. Could you please write such a comment, consulting the other comments, named `TODO(KORE)`, in the same file?

The idea is to ask Grigore to review the changes by looking at the diff:
[code]

[2015-12-15 08:06] dwightguth commented on #1905
For education purposes, understand that the tip of a branch and its history
are different things. Thus there is a distinction between rebasing a commit
out of the history, and reverting it. Both lead to the same working copy,
but one preserves history and adds a new revert commit, the other refactors
history and removes the existing commit. When you merge changes, what
actually happens is that the

[2015-12-15 08:50] daejunpark opened #1913 "least sort of list unit"
_[For a tracking purpose.]_

The list unit may not have a least sort.

For example, suppose we have three lists:

[code]

where

[code]

Then, the term `.List{"'_,_"}(.KList)` has no least sort.

One possible solution is to declare `Ids` with a different klabel:

[code]

[2015-12-15 08:53] daejunpark commented on #1913
An example to reproduce this issue:

[code]

kompile output: (note that this error occurred during the macro expansion, which is essentially a part of krun, not of kompile.)
[code]

[2015-12-15 09:01] radumereuta commented on #1913
This might be related to the issue #1705, which is being fixed in #1891.
Try to test it again after it has been merged.

[2015-12-15 09:08] daejunpark commented on #1913
Thanks, @radumereuta, but I don't think it is about the implicit list sub-sorting. The problem is that `Vals` and `Ids` have no relationship, while the list unit `.List{"'_,_"}` can be of both.

[2015-12-15 09:10] radumereuta commented on #1913
I know, but just try it... from what I remember it doesn't work quite like that. @andreistefanescu might know more.

[2015-12-15 16:22] cos opened #1916 "Avoid static evaluation of impure rules"

[2015-12-15 18:18] msaxena2 commented on #1863
@kheradmand I couldn't reproduce the NPE, but I did try running the program above with the files at https://github.com/Formal-Systems-Laboratory/rvm-parser under branch compiler. It seems like this is an issue with sorts. KRun can't figure out that sort OptionalPackageDec is a subsort of sort PackageDec.  @cos  @radumereuta  any Ideas?

[2015-12-15 18:50] bmmoore commented on #1905
Merges generally only take into account the state at the tip of the tree and at the common ancestor.
In particular, cherry-picking a commit onto master, reverting the cherry-picked commit, and then merging the pull request should result in the change being applied:

    $ git init
    Initialized empty Git repository in /home/brandon/test/git/.git/
    $ echo 'Hello' > foo
    $ git add foo
    $

[2015-12-15 18:55] bmmoore commented on #1905
That's certainly true, but git merges are only interested at the state of the code at the tips of branches and at certain common ancestor points, not at all in how they got to that state (as opposed to VCS like darcs which consider sets of changes primitive instead of tree states).

[2015-12-15 19:09] bmmoore commented on #1913
In the Java backend this is handled by adding a new dummy sort which just contains the unit, and it subsorted into all thoses lists.

[2015-12-15 19:19] bmmoore commented on #1903
The current role of `SyntaxSort` is for declaring sort attributes, or sometimes just to introduce sorts without giving them any content yet.

I'm very much against mixing that back together with subsorting declarations. For just one complication, if there was an optional subsort field, would the attributes of the SyntaxSort switch between describing the parent sort or the subsorting relationship b

[2015-12-15 20:55] msaxena2 commented on #1863
@kheradmand I believe that this issue doesn't have to do with K. This may have to do with the manner in which you organize and import modules. Here's why I think K doesn't know the subsorts:
In mop-compiler.k, module MOP-COMPILER you include MOP-COMMON.
in MOP-COMMON you include COMMON-CCOMMON,
In COMMON-CCOMMON, you include PACKAGE-COMMON where you have syntax OptionalPackageDec, but no subsortin

[2015-12-15 21:03] bmmoore commented on #1868
Applying them concurrently in each thread is a possible order that should be found by `--search`, but nothing in your definition prevents the second rule from applying earlier. Sounds like you need to ask @cos about strategies.

[2015-12-15 21:51] omarz1 commented on #1868
@bmmoore, I don't understand that last long sentence. Please rephrase it.

And regarding `--search`, correct me if I'm wrong, but it won't explore different possible order of applying rules unless these rules are declared transitions.

[2015-12-15 22:30] bmmoore opened #1919 "Inheritance breaks Cell Fragments"
A parent cell whose children are all using inherited definitions ends up missing a cell fragment sort and related productions. A few commits demonstrating this are in pull request #1918.

[2015-12-15 22:46] bmmoore commented on #1868
I think in the current version `--search` should work without declaring things transition.

The concurrency feature in K is being able to decide that two rules can apply at the same time because any parts of the configuration which both match are used in read-only ways. This is not at all the samething as somehow implicitly banning executions that decide to run the rules separately. K allows more

[2015-12-16 04:18] andreistefanescu commented on #1913
@bmmoore is right: in the old pipeline the java backend added a ```List{Bot}``` sort for the unit.

[2015-12-16 14:16] dwightguth commented on #1863
before we rule out the possibility of a NPE which would definitely be a bug in K, I'd like to confirm the exact krun command used and the commit hashes for the k and mop repos.

[2015-12-16 14:19] dwightguth opened #1921 "fix warnings in STRATEGY module"
if you compile a definition with -w all you end up with a bunch of warnings from this module. You need to fix these. I would strongly suggest fixing the lint regression test too so that the build fails if a simple small definition has warnings with -w all.

[2015-12-16 16:02] cos commented on #1868
@omarz1, you can do that using the strategies functionality on master. Declaimer: it's very much experimental, and you'll lose performance for now. If you want to try that, let me know and I'll help with making it work.

[2015-12-16 16:58] msaxena2 commented on #1863
@kheradmand might be able to help us provide the command and the hashes on which K crashed.

[2015-12-16 17:19] omarz1 commented on #1868
I understand now. Thank you.

[2015-12-16 17:19] #1868 closed

[2015-12-16 18:49] omarz1 commented on #1868
@cos, this is the third time you tell me to use master. So I'll try to clone and compile it today.

[2015-12-16 18:55] grosu commented on #1868
Yes, @omarz1 , we are on a fast track to release K 4.0, and we do not have any resources left to improve or maintain other versions.

[2015-12-16 20:06] omarz1 commented on #1868
@grosu, I just needed to produce some results for my research and I couldn't risk updating at that moment. Now I can and I will. You'll know when you see me reporting bugs :smile:.

[2015-12-17 08:50] omarz1 opened #1923 "[K4.0]: How to exclude strings from `Id` category"
How do I exclude certain strings from being treated by the lexer as Identifiers?
It used to be done like this:
[code]
But this is not accepted anymore.

[2015-12-17 08:57] omarz1 commented on #1923
I've just upgraded from K3.6 to the latest master and I'm facing some issues with `kompile`. Before I start flooding you with issues, do you have some guide as to how to update my definition to fit K4.0?

[2015-12-17 11:26] radumereuta commented on #1923
Yes, please have a look at this: https://github.com/kframework/k/wiki/Syntax-specification-for-the-new-parser since we changed a few things about syntax specification.
We improved a bit how we specify tokens and reject patterns, so we get more control over each production.

[2015-12-17 14:26] omarz1 commented on #1923
So the builtin `Id` imported in `domains.k` already uses the `autoreject` attribute. Brilliant. Thanks.

[2015-12-17 14:26] #1923 closed

[2015-12-17 16:59] #1921 closed

[2015-12-17 17:00] cos commented on #1912
fixed by #1915

[2015-12-17 17:00] #1912 closed

[2015-12-17 17:02] cos commented on #1899
added by #1900 -- may need to propagate to the rest of the tests

[2015-12-17 17:04] cos commented on #1876
is this still an issue?

[2015-12-17 17:14] omarz1 opened #1924 "substitution module"
The lambda example would not `kompile`. It says
[code]
I found another `substitution.k` in the `include/builtin` folder that had a comment saying that *it* is the one used by `lambda.k`. I tried importing that but I got the same message:
[code]

[2015-12-17 17:15] #1839 closed

[2015-12-17 17:16] cos commented on #1924
which lambda example?

[2015-12-17 17:17] cos commented on #1924
we're in the process of translating the tutorial so not all definitions are adapted to K 4.0

[2015-12-17 17:17] omarz1 commented on #1924
`lesson2/lambda.k`

[2015-12-17 17:18] omarz1 commented on #1924
Then how do I know how I should change my definition for K4.0?!

[2015-12-17 17:24] cos commented on #1924
We're only converted the last lessons of several definitions. For lambda, lesson 9 should work.
If you have any other questions, feel free to ask here or on the gitter chat.

[2015-12-17 17:25] omarz1 commented on #1924
Oh I didn't know that. I should've directly looked at the last lesson. OK thank you. Where is the gitter chat? Never used it!

[2015-12-17 17:27] cos commented on #1924
https://gitter.im/kframework/k

[2015-12-17 17:28] #1924 closed

[2015-12-18 00:44] grosu commented on #1913
Then we can do the same here.   We do not have time to come up with perfect solutions to everything as part of the transition to K4.0.  Whenever we encounter such situations where it is not clear what needs to be done, let us do the following:

1) Pick whatever we did before in K3.6. and do that, because we know that should work; and

2) Add a sentence or two in the K Manual that this needs to be

[2015-12-18 05:24] kheradmand commented on #1863
could not reproduce the NPE don't know why! I am testing [this](https://github.com/Formal-Systems-Laboratory/rvm-parser/commit/61bda69d380fb06dec11c2520da8203f11f98671) commit of my project.
I use two builds of K:
first is from d87bc11. This one gives me
[code]

The second build is from 2dfd395. This one gives me
[code]

I run the following commands on each:
[code]

where test.mop is:
[code]

[2015-12-18 05:26] kheradmand commented on #1863
@msaxena2 could you please point me to some specific examples for module structures?

[2015-12-18 06:00] kheradmand commented on #1863
ah OK if I comment out the only rule in `src/mop/mop-kompiler.k`:
[code]
with d87bc11 I get
[code]
with 2dfd395 and f773299 I get NPE.

So to reproduce the problem, get my project in compiler branch, comment out the rule, kompile, and krun  with input:
[code]

[2015-12-18 06:21] grosu commented on #1842
What is `Cell`?  It does not appear in your original grammar, where you only had `ACell` and `BCell`.  I still think that we are making things more complicated than they need to be by keeping track of sorts here at all.  I would just assume that all cell fragment labels can take any arguments of sort K and produce something of sort K, and then resolve errors due to the too permissive syntax afterw

[2015-12-18 11:06] msaxena2 commented on #1863
Thanks @kheradmand .This sounds like a bug in K, that'll need looking into.
Although, the behavior with one rule seems normal, and this issue should
not block you. Try moving stuff you need for rules from the -syntax modules
to the -common module (since your main module includes stuff from the
-common module).
On Dec 18, 2015 12:00 AM, "Ali Kheradmand" <notifications@github.com> wrote: