[2021-10-01 08:28] andreiburdusa commented on #2239
I got a similar error when I removed the `<threads>` cell around `<thread>` in [this example from the K Tutorial](https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/17_cell_multiplicity#cell-collections)

[2021-10-01 16:49] ehildenb opened #2245 "[Bug] [kprovex] - Fails with cryptic error message when backend fails"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Running `kprove` where the LHS of the `<k>` cell looks like `claim <k> (SOMETHING ~> _ => .) ... </k>` causes a cryptic failure in the frontend with the backends output.

Input Files
-----------

File: `test.k`:

[code]

Reproduction Steps:
--------------------

Run `kompile`:

[code]

Run `kp

[2021-10-01 17:59] radumereuta commented on #2245
It's trying to pretty print this kore term:
[code]
We had similar issues before: #1509 #1682
but I can't figure out where this label is coming from. @ana-pantilie is it possible it's something internal to the haskell backend?

[2021-10-01 18:10] #2119 closed, assigned to SchmErik

[2021-10-04 12:10] #1945 closed, assigned to dopamane

[2021-10-04 14:27] radumereuta opened #2247 "Type inference is very slow because of z3"
When parsing KEVM claims the time spent doing type inference is larger than usual. For example:
[code]
z3-4.8.7: Parse spec modules [1/1 rules]                               = 30.434s
26305 /home/radu/work/evm-semantics/tests/specs/erc20/ds/transferFrom-failure-1-d-spec.k:8   parse: 287 typeInf:25476
z3-4.8.11: killed after ~5 minutes

Parsing takes 287ms, and type inference 25s. When I switch to

[2021-10-04 14:31] ehildenb commented on #2247
Two things that I think could help with this:

- Add an option to print out the z3 queries sent when doing type inference so we can inspect them.
- Timeout Z3 at 10s (it's commonly accepted that if Z3 doesn't come back in a few seconds, it will take forever), and if we do have to kill Z3 during type-inference, print out which variables that are having trouble being inferred so that we can make the

[2021-10-04 15:12] Baltoli commented on #2247
This seems to still be a problem using a `HEAD` build of Z3, unfortunately (4.8.13).

[2021-10-04 15:48] radumereuta commented on #2247
I will try to extract a query from Z3 and do a git bisect to see where the regression started.
Although, I'm not happy with the performance before that either.
I will post my findings when I know more for sure. Might take a while though.

[2021-10-04 16:17] SchmErik commented on #2076
how does this work with this issue? https://github.com/kframework/k/issues/1584

If we were to prevent macros on rules, would it mean that we would change something about the syntax?

[2021-10-05 09:19] ana-pantilie commented on #2245
@radumereuta Which label? Also, I'm not sure I follow what you want to do, is the code you posted some simplified kore?

[2021-10-05 09:43] Baltoli opened #2249 "Add command-line flag to dump type inference Z3 queries"
We'd like to be able to dump the queries sent to Z3 by the type inferencer (motivated by #2247, where upgrading to a newer Z3 version has caused the type inferencer to slow down dramatically).

[2021-10-05 11:13] radumereuta commented on #2245
The front-end of kprove fails when trying to pretty print the term returned by the haskell backend because it can't find any definition for the klabel `append`.
I've looked through domains.md and kast.md and I can't find any such label.

[2021-10-05 12:00] Baltoli commented on #2211
The LLVM backend fix for this is in https://github.com/kframework/llvm-backend/pull/434. Once that change lands, the Jenkins PR to update the backend will need to be updated to incorporate the test reorderings.

[2021-10-05 12:11] ana-pantilie commented on #2245
@radumereuta Could [this](https://github.com/kframework/kore/blob/ed422630f9383b2774f1ec8ea04eee86ea0afe1e/src/main/kore/prelude.kore#L10) be it? It's in the backend's `prelude.kore`. I know we use this file for defining the reachability modality aliases, not so sure why those `append`, `kseq` etc. would be specific to the backend, though.

[2021-10-07 00:46] SchmErik opened #2257 "kompile should disallow duplicate productions"
K Version
---------

[code]

Description
-----------
kompile should give an error on definitions with more than one duplicate production

Input Files
-----------
[code]

Reproduction Steps
------------------

`kompile tmp.k`

Expected Behavior
-----------------

The above file should not compile successfully.

[2021-10-07 08:39] andreiburdusa commented on #2033
- [x] General: I suggest replacing "Take the solution to problem X" with "Take the solution to Exercise X" because initially I wandered if "problem 2" means the 2nd exercise of the lesson or the 2nd exercise from the Exercises section.
- [ ] General: I agree with Mihai, some exercises were too vague.
- [ ] Lesson 2: The examples work even without the `[function]` label. Maybe the lesson could expl

[2021-10-07 16:28] radumereuta commented on #2245
We need to add a transformation in https://github.com/kframework/k/blob/master/kore/src/main/scala/org/kframework/parser/kore/parser/KoreToK.scala
to transform `append` int KSequence. Basically the inverse of https://github.com/kframework/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L1956

[2021-10-07 16:41] Baltoli commented on #2211
Finally closed properly by #2254

[2021-10-07 16:41] #2211 closed, assigned to Baltoli

[2021-10-07 18:39] SchmErik commented on #2257
Also: kompile should disallow duplicate rules. This should fail compilation:
[code]

[2021-10-07 19:09] #2193 closed, assigned to SchmErik

[2021-10-12 02:56] ehildenb commented on #2245
This is now blocking the KEVM summarizer.

[2021-10-12 03:44] SchmErik commented on #2245
ok, I'll take a look tomorrow. @ehildenb how urgent is this? I just want to know so I can prioritize..

[2021-10-12 13:01] ana-pantilie opened #2264 "[Bug] [kprove|kprovex] - Expecting failure when claim contains existential in LHS"
K Version
---------

[code]

Description
-----------

Our encoding of claims is the following:
[code]
where `X` and `Y` are sets of variables and `mod` is a reachability modality.

Therefore, it is incorrect to have existentially quantified variables on the LHS of the claim. This should be caught by the frontend and explained to the user. Right now, the frontend doesn't complain at all.

Input Fil

[2021-10-12 16:11] ehildenb commented on #2245
Nothing mission critical, but it's blocking my experiments with the summarizer and seems like an easy enough fix.

[2021-10-12 19:11] SchmErik commented on #2245
Took a look this morning and I found that this pull request https://github.com/kframework/k/pull/2250 causes kprovex to hang on this test case rather than crash... @ana-pantilie or @dopamane do you know what's going on here?

[2021-10-12 20:09] ehildenb commented on #2245
@SchmErik you can add the option `--haskell-backend-command "kore-exec --bug-report bug.tar.gz" --depth 0` to get the dumped Kore file and command it would execute in `bug.tar.gz`, and you can submit an issue to kframework/kore about it, linking to this issue.

Then they can independently figure out the hang while you work with the older commit to do the unparsing. I guess for this test, it would

[2021-10-12 20:56] SchmErik commented on #2245
using `--depth 0` stops the program from hanging. So I have a way to proceed with the bug with the current master but I'll file a bug against kore

[2021-10-13 17:42] SchmErik commented on #2245
@ehildenb I ended up adding test.k as a test case in my pull request here https://github.com/kframework/k/pull/2265/commits/358dcfc72e4ff7431a255835faf2c8199a6fa491#diff-1a000a23cde6aaa261d759b37b8a452142a64be1cf32678588aea61f9471ccb3. Any other value to this option causes kprove to hang but the results are still pretty-printed. When this regression is solved, I was thinking that I can remove the

[2021-10-13 17:57] ehildenb commented on #2245
Great! That looks fine to me, no need to wait for the regression to be fixed.

[2021-10-14 02:08] ehildenb opened #2268 "pyk KDefinition should be an object"
Currently, pyk is organized as a collection of functions, but does not take advantage of Python's object-oriented nature.

The most obvious candidate for where to start this is to make `KDefinition` an object, instead of a JSON data-structure. A `KDefinition` should contain fields:

- Path to `*-kompiled` directory (passed in as argument to constructor).
- JSON definition (read from `*-kompiled/co

[2021-10-14 05:04] #2245 closed, assigned to SchmErik

[2021-10-14 14:41] #2249 closed, assigned to nobody

[2021-10-14 16:19] radumereuta commented on #1584
We have an issue when we have the same LHS that can be marked by the same macro production.
In this case we should add a warning, or maybe even an error.
They should have either a side condition or a priority or owise attribute that is different.

[2021-10-17 15:24] loiclizzy opened #2273 "[Bug] [kompile] - [Error] Critical: llvm-kompile returned nonzero exit code: 1"
An error occurs when compiling a tutorial code

**Environment**: macOS Cataline (v 10.15.7)
**K version:**
- K version:    5.1.223
- Build date:   Sun Oct 10 23:29:05 CEST 2021

**File: test.k**

     module TEST

       syntax Color ::= Yellow() | Blue()
       syntax Fruit ::= Banana() | Blueberry()
       syntax Color ::= colorOf(Fruit)	[function]

       rule colorOf(Banana()) => Yellow()

[2021-10-18 03:48] dwightguth commented on #2273
I'm not sure that we support Catalina anymore. You probably need to use an older version of k, or else upgrade to Big Sur.

[2021-10-19 01:08] ACassimiro opened #2276 "[Bug] [mvn package|kompile] - Issues while installing, building and running K on Apple Silicon"
K Version: v5.1.226-1-g40c4932f6-dirty

Description
-----------

Issues have been found while trying to install the k framework via package, to build with maven and to use the kompile command on Apple Silicon machines (M1 chips).

 **- INSTALLATION VIA BREW PACKAGE:**

After installing K using the package available at the release page, an attempt to use the kompile command to build the definitions

[2021-10-19 02:06] dwightguth commented on #2276
Most likely, the last error you list there will have to be solved by changing the target triple listed in all the llvm ir we use to match the target triple corresponding to the target platform of the compiler. This should also address the target triple warnings we sometimes get that we just suppress. It's a more involved code change, but we'd have to actually buy an m1 mac for me to test on in ord

[2021-10-19 07:23] Baltoli commented on #2276
The brew package error is probably expected behaviour for the moment - we don't package an ARM bottle of K yet, but when we do it should be possible to install using Homebrew.

[2021-10-19 07:31] Baltoli commented on #2276
@ACassimiro by way of the LLVM target triple issue, the likely fix Dwight suggests is to change the [target triple lines](https://github.com/kframework/llvm-backend/blob/master/runtime/equality.ll#L2) in all the `.ll` files to whatever the output of `llvm-config --host-target` is on your system. I don't have an M1 mac either so I can't test it, unfortunately.

[This CMake stanza](https://github.co

[2021-10-19 14:35] dwightguth commented on #2276
For clarity's sake, if you're going to modify your working copy as a workaround, the files you need to modify are all the .ll files in the llvm-backend repository, as well as the string literal with llvm code at the top of `lib/codegen/CreateTerm.cpp`.

[2021-10-19 15:16] ACassimiro commented on #2276
Thanks for the help, Dwight, Bruce!

I believe I've made the necessary changes with regards to the references to the target architecture, but I'm still getting failures with krun or when trying to build with tests.

After building with the -X option, I'm getting this output:

[code]

It seems like all the 41 errors are related to the mpfr library. What I'm trying to do right now is to generate a l

[2021-10-19 15:18] Baltoli opened #2278 "[KIP] - Apple Silicon support"
Motivation
----------

We currently offer Mac support for K, but not on Apple Silicon. As their product lineup removes legacy x86 macs, we need to work on support for K on macos/ARM.

#2276 summarises some of the early issues with AS support.

Potential Alternatives/Work-arounds
-----------------------------------

There isn't much alternative, other than dropping support for macOS entirely.

Test

[2021-10-19 15:20] Baltoli commented on #2276
Not sure on the MPFR issue, but it's good to see that the target architecture change fixes your initial problem. I'm taking a look at supporting apple silicon properly across our projects now, so will investigate that issue when I get to the K frontend - sorry not to be more immediately helpful!

[2021-10-19 15:23] dwightguth commented on #2278
As far as CI goes, I intend to replace our use of the Mac server and Anka with GitHub Actions as soon as I get the time. I can only assume that at some point, GitHub will start offering an ARM Mac GitHub Actions runner. We can probably wait until then to implement the release process, and tell people to build k from source in the meantime.

[2021-10-19 15:25] Baltoli commented on #2278
They currently seem to be tracking for a 2022 release of an Apple Silicon environment, per [this thread](https://github.com/actions/virtual-environments/issues/2187). Supporting source builds but not releases on AS until then seems like a reasonable compromise.

[2021-10-19 15:46] dwightguth commented on #2276
I would ignore the MPFR issue for now if you can. That code is deployed in the form of a jar that contains native code bundled into it, and we obviously didn't anticipate ARM macs when we bundled that code a long time ago. It's fixable, but it would involve us basically tweaking all that code to account for the ARM Macs. You can just run `mvn package -DskipTests` to skip the unit tests. What is th

[2021-10-19 17:22] ACassimiro commented on #2276
No worries @Baltoli, thank you for the help!

@dwightguth, if I skip the tests I'm able to kompile without issues, but when I run krun I get the following output:

[code]

Do you think the error messages regarding the MPFR java library has something to do with this?

[2021-10-19 18:18] dwightguth commented on #2276
Can you rerun `krun` with the `--debug` flag? I'd like to see the stack trace.

[2021-10-19 18:19] dwightguth commented on #2276
It does seem to be related to the MPFR library, but I don't understand why that class would get loaded by the code path you are using, so I'd like to understand better exactly what is triggering the error.

[2021-10-19 18:43] ACassimiro commented on #2276
I'm not sure if I'm making this right, but it seems like I cannot use the `--debug` flag on krun. Here is how I'm doing:

[code]
Outputs:
[code]

input.color is a file with the following content:

[code]

Could you please specify where I can place the --debug flag for krun?

[2021-10-19 21:22] dwightguth commented on #2276
Ah. We probably need to modify the script to propagate the values. Can you pass `-v --save-temps` to krun, look at the last command that krun invokes prior to the crash, and pass --debug to that command?

[2021-10-19 21:39] ACassimiro commented on #2276
Running `krun -v --save-temps input.color` I get:

[code]

It seems like I can't use --debug in `kparse` as well, and neither run `+ kparse --directory . input.color` with the `--save-temps`, as I receive a `[Error] Critical: You can only parse one program at a time.` message. Running `kparse --directory . input.color --verbose` I get:

[code]

I see it is crashing when calling `kast`, and I can u

[2021-10-20 13:13] Robert42 opened #2281 "[KIP] - Give a proper error message if the user forgets to use the `[token]`"
K Version
---------

[code]

Description
-----------

When I define a token, then I need to use the `[token]` attribute.
If I don't, I get a confusing `std::map` exception during runtime:

[code]

Input Files
-----------

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

A clear and concise error message during kompile. Like *regular expressions are only a

[2021-10-20 13:17] Robert42 commented on #2281
Feel free to swap the *bug* label with *kip*. I've figured out the mistake on my part while filling out the *bug* template and forgot after finding the solution that I had the option fill out an improvement proposal instead.

[2021-10-21 12:54] ehildenb commented on #2264
Note that this means that the `requires` clause _also_ should not contain existentials (so let's make sure to add a test for that as well @SchmErik).

[2021-10-21 16:07] radumereuta commented on #2281
Two possible solutions come to mind:
1. use a library that tries to extract a string from this regex that we can use to pretty print
2. require a `format` attribute which tells the pretty printer directly how to represent that production.

[2021-10-21 16:11] radumereuta commented on #2247
@Baltoli could you update us on the z3 bug now that we improved the runtime?!

[2021-10-21 16:20] radumereuta commented on #2278
Look into different output formats. Just to narrow down the code path that fails.
Look into valgrind.

[2021-10-22 08:33] Baltoli commented on #2278
First blocking issue is https://github.com/kframework/llvm-backend/issues/445 - appears to be some kind of stack corruption bug in our generated code on ARM64 macos.

Looking into building the backend on ARM64 Linux to see if I can reproduce the same bug in an environment where Valgrind is available.

[2021-10-25 10:34] Baltoli commented on #2278
Once PRs https://github.com/kframework/llvm-backend/pull/446 and https://github.com/kframework/llvm-backend/pull/443 are merged, the LLVM backend will support compilation for Apple Silicon and I'll move on to the other parts of the toolchain.

[2021-10-25 15:04] radumereuta commented on #2247
I used git bisect on z3 and found the commit that makes everything slow for the type inference: https://github.com/Z3Prover/z3/commit/b1606487f08cec8d950be078ac31881fc36a7bea
I used this test from KEVM to test, and before I was getting **8s** to do rule parsing after it takes **44s**.
[code]
[typeInf.smt2.txt](https://github.com/kframework/k/files/7411425/typeInf.smt2.txt)
I've run only the z3 que

[2021-10-25 15:40] #2264 closed, assigned to SchmErik

[2021-10-26 11:44] Baltoli commented on #2278
The Haskell backend should support Apple Silicon without much work, though I haven't closed the loop to run the integration tests yet. https://github.com/kframework/kore/pull/2893 adds documentation for the additional stack options that are required to get a working copy of `ghc`.

This will require a change to K to allow the requisite options to be passed through to `stack` when building the Hask

[2021-10-26 11:50] Baltoli commented on #2278
I can build a working version of the [`mpfr_java`](https://github.com/kframework/mpfr-java) library on ARM macos. However, it fails unit tests (presumably either a change in MPFR from upstream - confirm the version we expect). Once this is versioned and uploaded to our maven repo, we should be able to use the `mpfr` bindings.

[2021-10-26 11:51] Baltoli commented on #2278
It seems like some Java dependencies that rely on native code will need to be updated to newer versions that properly support Apple Silicon (for example, [here](https://github.com/kframework/k/issues/2276#issuecomment-947126681) @acassimiro identifies an issue with [`JANSI`](https://github.com/fusesource/jansi)).

I'll work on updating these dependencies properly.

[2021-10-27 00:44] ehildenb commented on #2247
@radumereuta does this performance regression exist on Z3 latest version? If so, you should ping NikolajBjorner (github id) and ask if they want a bug report.

[2021-10-27 10:35] radumereuta commented on #2247
Yes, latest version is equally slow. We can talk at the tech updates today.

[2021-10-27 14:13] Baltoli commented on #2278
More on the availability of GitHub actions for Apple Silicon in [this issue](https://github.com/actions/runner/issues/805); the gist of the problem is that the .NET release GH use to run actions doesn't yet support AS properly.

If it were to become an issue for us sooner than the next 6-12 months, there seem to be plenty of hacky workarounds. Further ahead than that, it's likely we'll get some ki

[2021-10-27 14:15] Baltoli commented on #2278
The MPFR library now has support for building on Apple Silicon; once https://github.com/kframework/mpfr-java/pull/12 is merged I'll be able to get a new version of the dependency deployed to our Maven repo.

[2021-10-27 15:06] ehildenb commented on #2247
Ok, let's ping @NikolajBjorner. Is this an example you want a test for?

[2021-10-27 21:55] NikolajBjorner commented on #2247
Do you have bandwidth to run it in a profiler? Or maybe Grigore has as he is absent from Dagstuhl "duties" (that include food and wine). If you run this example with -v:10 you can see some areas where it starts taking time. If previous versions worked, then bisection can point to something, e.g., this looks like a maxsat problem when I run it and it seems to spend time in lns even though it is not

[2021-10-27 22:02] NikolajBjorner commented on #2247
OK, you did the bisect and it correctly points to code in cmd_context where time take place. Verbose output and profiling will confirm it. Overhead is introduced when tracking non-recursive function definitions for model construction. It has some O(n^2) performance bug that is exercised thanks to your definition. It is a code optimization bug that should involve rewriting some of the pre-processin

[2021-10-28 03:06] NikolajBjorner commented on #2247
The main overhead is not where I first expected it to be. It shows up as the model gets post-processed (compressed) when the expressions are evaluated. This post-processing is expensive and not relevant to evaluation in this case.

[2021-10-28 03:50] NikolajBjorner commented on #2247
fixed 4dad41416136ab421be54b4ee56fd17a9c6a20cd

[2021-10-28 10:14] Baltoli commented on #2278
Finally tracked down the bug with Jansi - the root problem seems to be Jline bundling an incompatible version. Working on updating both at once.

[2021-10-28 16:25] radumereuta opened #2287 "Lift kprovex restriction to allow simplification rules in proofs"
@ana-pantilie if we put simplification rules in spec.kore, does the haskell backend support that?
If not, how hard it would be? kprovex managed to avoid some bugs we had in kprove, but with added limitations which can be annoying.
definition.kore is expensive to generate for each proof so we want to avoid doing that.

[2021-10-28 16:42] ehildenb opened #2288 "Support dumping json empty configuration at kompile time"
Currently when using the pyk library, we have to get a "blank" configuration to use for manipulating K terms and stuff. To produce this, I run a garbage proof out to depth 0, and strip the configuration. For example, I may run this proof out to depth 0:

[code]

This will give me a configuration that looks like this:

[code]

Which I then strip to look like:

[code]

So it would be nice if when I

[2021-10-28 19:54] radumereuta commented on #2247
I can confirm that all our tests are back to normal speed.
Thank you @NikolajBjorner for such a prompt reply.

[2021-11-01 14:59] dwightguth commented on #2177
I was able to address the size of cache.bin relatively easily, but this does not seem to have actually addressed the OOM that Virgil was experiencing. Continuing to investigate.

[2021-11-01 15:30] #1674 closed, assigned to nobody

[2021-11-02 18:30] radumereuta commented on #1584
Apparently, we still have a few corner cases we need to handle:
- if a rule has the `simplification` attribute, don't consider it as a macro
- add a check that looks for leftover macro symbols in the AST and gives an error message. This should be integrated somewhere in or right after the macro expander.

[2021-11-03 15:13] radumereuta commented on #2219
Found another example from the tutorial that doesn't work as intended:
[code]
This is bad because it's from the tutorial. https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/11_casts

[2021-11-03 17:08] #2177 closed, assigned to dwightguth

[2021-11-04 16:17] sskeirik opened #2302 "[KIP] - Add `Nat` Type"
Motivation
----------

-   Is there a semantics which you are developing which this feature would simplify?

    A `Nat` would simplify the development of the Michelson semantics which directly uses them, as well as, any semantics which has a money type (which is most of them).

-   Any other motivation?

    Many algorithms are naturally expressed using natural numbers.

Example K Code
----------

[2021-11-04 16:50] #1584 closed, assigned to SchmErik

[2021-11-04 16:59] ehildenb commented on #2302
I think for `expected output` you would have to crash the llvm backend (similar to division by zero), and the haskell backend would take it to #Bottom. Maybe we can also explicitly say that it's `#Bottom` by saying `X -Nat Y => #Bottom requires X <Nat Y`.

Also, maybe we should supply a monus operator, `X -NatMonus Y => 0 requires X <=Nat Y`

[2021-11-04 17:01] ehildenb commented on #2302
Note that we can implement many operators like `_<Nat_` as macros like `X <Nat Y => toInt(X) <Int toInt(Y)`, since the same ordering is induced on Nat/Int.

Also, it would be nice if the `toInt` function automatically inserted the ranges, eg.:

[code]

This would be nice for symbolic reasoning so we don't have to insert these requirements on the converted numbers ourselves.

[2021-11-04 19:37] radumereuta opened #2303 "Track downstream projects and their dependencies"
It's hard to keep track of how many semantics we have and their dependencies on K.

It would be great if we can have a page where we can view everything at a glance.

This page could be just a simple list/tree, where you can click on each project and you can see a list of dependencies, and for each dependency the number of commits behind, and time since the last update.

We can then set up a testi

[2021-11-04 19:38] radumereuta commented on #2303
@ehildenb I would like to hear your thoughts on this.

[2021-11-04 23:00] ehildenb commented on #2303
Updates are tested as soon as possible basically right now. The autoupdater takes care of that. So as soon as releases of upstream dependencies are made, the downstream projects various `_update-deps_*` PRs are updated.

We could try to make a visualizer for this, but it sounds like a lot of work. I guess I could see if the data is retrievable with my current scripts and then ask @shd101wyy if we

[2021-11-05 16:14] radumereuta commented on #2303
Messages on slack could work. Although if there are too many they might get ignored.
So maybe a digest would work better.

[2021-11-08 10:54] Baltoli opened #2308 "[KIP] - Partial SMT hook syntax"
Motivation
----------

This issue summarises a threaded conversation on Slack; the original messages can be found [here](https://runtimeverification.slack.com/archives/C5FM3MF0U/p1636042592049200).

Currently, our syntax for SMT hook encodings is fully _constructive_; in `smtlib` as used by Z3, this means that partial functions cannot be specified as SMT hooks. Only total functions can be used as

[2021-11-08 11:25] david-k opened #2309 "[Bug] Parsing empty programs throws ArrayIndexOutOfBoundsException"
K Version
---------

[code]

Description
-----------

Consider the following definition:

[code]

Then `kast empty --debug` (where `empty` is an empty file) produces the following output:

[code]

Note that `ArrayIndexOutOfBoundsException` is only thrown if the grammar actually accepts an empty program. I.e., if we have
[code]
then `kast empty` correctly complains about an unexpected end of file.

[2021-11-08 11:44] Baltoli opened #2310 "Anka macOS version is out of date"
The macos [CI failed](https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/KAnka/detail/master/1354/pipeline) on a recent build of the `master` branch, with the following error message:

[code]

This looks like a question of upgrading the version of macOS + command line tools that's installed on the Anka test runner machine.

[2021-11-08 13:46] ehildenb commented on #2308
We should have the K code use K rules for specifying the SMT axioms, not directly in the attributes as much as possible. The attributes in K have their own special parser and I think it can quickly become too hard to encode. Besides, we should strive to present as much in K directly as possible.

What I suggested on Slack was the addition of something like `non-executable` axiom or `smt-only` axio

[2021-11-08 15:36] Baltoli commented on #2308
That makes sense to me. What is `kExpInt` in your code example?

[2021-11-09 10:37] Baltoli opened #2311 "Crash with `--search` on LLVM"
Some tests fail when using `--search` on LLVM - this is likely to be another bug in the LLVM backend that didn't get identified initially.

[2021-11-09 10:39] Baltoli opened #2312 "Floating-point inconsistency"
The same version of MPFR seems to produce different results on ARM and X86 when performing exponentiation and logarithms; investigate why this is the case.

[2021-11-09 11:26] Baltoli opened #2313 "Config variables not parsed properly in `krun`"
Some tests fail because the wrapper scripts don't pass config variables through properly.

[2021-11-09 11:28] Baltoli commented on #2311
Failing tests are: `imp++-llvm`

[2021-11-09 11:30] Baltoli commented on #2313
Failing tests are: `issue-1844-noPGM`, `issue-946`, `parseKORE2`

[2021-11-09 11:31] Baltoli commented on #2312
Failing tests are unit tests for unary operations (`e^x`, `log(x)`)

[2021-11-09 14:12] daejunpark commented on #2308
It serves as a symbol declaration.  Whenever a new symbol appears in `smtlib()`, the backend automatically generates a declaration of the symbol in the smt query.

[2021-11-09 15:59] david-k opened #2315 "[Bug] Id created by String2Id contains quotation marks"
K Version
---------

[code]

Description
-----------

The Id created by `String2Id("x")` is `"x"`, i.e., the Id includes the quotation marks of the string, which seems wrong. This behavior is demonstrated by the following example:

[code]

[2021-11-09 16:09] Baltoli commented on #2315
Both the Haskell and LLVM backends produce the same behaviour on this example, FWIW.

[2021-11-09 16:20] dwightguth commented on #2315
FYI, this is not actually a bug in the `String2Id` hook. If you look at the output of `krun -cPGM='String2Id("x")'`, you will see that String2Id actually behaves correctly. So I can only assume the problem involves the translation of the `#token`

[2021-11-09 16:29] david-k commented on #2315
@dwightguth That's strange, because `rule test => String2Id("x")` results in the Id `"x"`, i.e., including the quotation marks. So it seems to depend on whether `String2Id` is part of a program or part of a rule.

[2021-11-09 16:35] dwightguth commented on #2315
Interesting. That's quite surprising since the parser used by `-cPGM` and by the rule parser is generally pretty similar. Thanks for the info though. We'll definitely make sure to triage this when we meet on Thursday.

[2021-11-09 20:11] radumereuta opened #2316 "[CI] Eliminate all warnings and compare stdout"
Currently, in regression tests, we have many warnings printed that are not being tested for.

- [ ] scala and java code warnings
- [ ] kprove syntax in spec module
- [ ] macro on rules instead of syntax (loads)
- [ ] could not find main syntax module

[2021-11-10 13:06] ana-pantilie commented on #2287
I was unsure about this, so I tested it out. After generating the `definition.kore` with `kompile` and the `spec.kore` with `kprovex`, I manually modified them to include a kore simplification rule. I ran the backend directly, and it didn't complain about the one in `spec.kore`, but it didn't even attempt to apply it. The one in `definition.kore` got attempted and applied.

I did some digging, and

[2021-11-10 15:17] Baltoli commented on #2312
This isn't in fact an issue with MPFR (which produces consistent results across both platforms). The problem is with the Java standard library, which produces different results on x86 and ARM.

For example:
[code]
will print `2.718281828459045` on x86, but `2.718281828459045[5]` on ARM (note the emphasised extra 5 at the end).

Interestingly, the ARM version is in line with the JVM's `StrictMath`

[2021-11-10 15:21] radumereuta commented on #2312
A few ideas:
1. Did you search the web for other people having the same issue?
2. What versions of java are you using? If they are different/old, what happens if you update?

[2021-11-10 15:35] Baltoli commented on #2312
1. It's reasonably [well-documented](https://stackoverflow.com/questions/32977034/in-java-is-strictmath-still-preferred-to-math-for-consistency) that `Math` can perform platform-specific optimisations in the JVM. I'm not well enough informed to say why the faster / less precise version matches the MPFR behaviour.
2. I tested OpenJDK 11 (supplied by `apt`) and 17 (downloaded binary) on my x86 Ubunt

[2021-11-10 15:51] Baltoli commented on #2312
Interestingly, this doesn't manifest in C programs:

[code]
will print `2.7182818284590451` on all the platforms I tested, which suggests the non-strict JVM implementation on x86 is (perhaps) calling into C.

This presents an option to fix the tests - rather than using Java's `Math::exp`, we could make a JNI call into `exp(double)`.

[2021-11-10 16:02] radumereuta opened #2318 "[kprovex] should warn/err when spec module doesn't include main-def-module"
@emarzion ran into an interesting issue when trying to convert from kprove to kprovex:
https://github.com/kframework/kore/blob/master/test/all-path/00-basic/01-one-rule/all-path-b-or-c-spec.k
[code]
The problem is the proof module doesn't include the main definition module where the configuration was built.
Does it make sense to warn/err when the main def module is not included in the spec modules

[2021-11-10 16:33] #2313 closed, assigned to Baltoli

[2021-11-10 17:10] #2311 closed, assigned to Baltoli

[2021-11-10 17:50] emarzion opened #2321 "[Bug] [kprovex] - Parse error in kore generated by kprovex"
K Version
---------

[code]

Description
-----------
I'm getting the following kore parse error when I run a command with `kprovex` instead of `kprove`:

[code]

Input Files
-----------

`test.k`:

[code]

`issue-2138-spec.k`:

[code]

Reproduction Steps
------------------

`kompile --backend haskell -d . --main-module VERIFICATION issue-2138-spec.k`
`kprovex --haskell-backend-command kore-exec is

[2021-11-11 09:32] Baltoli commented on #2312
Closed by #2319

[2021-11-11 09:32] #2312 closed, assigned to Baltoli

[2021-11-11 09:33] Baltoli commented on #2278
Closed by #2286

[2021-11-11 09:33] #2278 closed, assigned to Baltoli

[2021-11-11 16:01] #1697 closed, assigned to radumereuta

[2021-11-11 16:20] david-k opened #2324 "[Bug] [kprove|kprovex] Existential variable is allowed on LHS, but shouldn't"
K Version
---------

[code]

Description
-----------

The frontend should produce an error if an existential appears on the LHS, see <https://github.com/kframework/k/issues/2264>. However, this is not always the case.

Consider the following definition:
[code]

Then the following claim is successfully proven in both `kprove` and `kprovex`:
[code]
However, since existentials are not allowed on the

[2021-11-11 19:26] radumereuta opened #2325 "K version bump feature list (5.3.0)"
Updated up to: 735971be7c87e68d1563092d2856dd149fcb9d98

- Features:
  - https://github.com/runtimeverification/k/pull/2349
  - https://github.com/runtimeverification/k/pull/2340
  - https://github.com/runtimeverification/k/pull/2352
  - https://github.com/runtimeverification/k/pull/2370
  - https://github.com/runtimeverification/k/pull/2389
  - https://github.com/runtimeverification/k/pull/2345

[2021-11-11 19:32] radumereuta commented on #2324
@SchmErik you worked on #2280
When you find the time, can you investigate this issue?

[2021-11-12 19:49] radumereuta commented on #2321
When I built kprovex, I eliminated the step which reprinted definition.kore.
In that step, there is a collection pass that gathers `ModuleToKORE.mlBinders` and `ModuleToKORE.impureFunctions`.
These steps need to be extracted and called separately.
Should be straightforward when I get a bit of free time.

[2021-11-15 04:21] sskeirik opened #2326 "[Bug] [kprove] - Michelson Multisig Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-15 04:24] sskeirik opened #2327 "[Bug] [kprove] - Michelson Vote Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-15 04:26] sskeirik opened #2328 "[Bug] [kprove] - Michelson LQT TOKEN APPROVE Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-15 04:27] sskeirik opened #2329 "[Bug] [kprove] - Michelson LQT TOKEN MINTORBURN Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-15 04:29] sskeirik opened #2330 "[Bug] [kprove] - Michelson LQT TOKEN TRANSFER DIRECT Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-15 04:30] sskeirik opened #2331 "[Bug] [kprove] - Michelson LQT TOKEN TRANSFER PROXY Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-15 04:32] sskeirik opened #2332 "[Bug] [kprove] - Michelson Liquidity Baking ADDLIQUIDITY-POSITIVE Test Regression"
## Test Regression Information

The Michelson semantics has not been updated for a long time because some kprove tests would fail on newer versions of K.
In order to update the K submodule of K-Michelson, a few tests were disabled on CI.
We want to fix and re-enable these tests.
This issue contains information about how to run the tests (both the K versions and Michelson versions).

Here is the ve

[2021-11-18 17:12] radumereuta commented on #2309
Should be able to add a special case for this situation.

[2021-11-18 17:12] radumereuta commented on #2310
We're not going to use Anka in the future.

[2021-11-18 17:12] #2310 closed, assigned to nobody

[2021-11-18 17:14] radumereuta commented on #2315
Most likely something in the front-end. Needs more investigation.
Should be simple to figure out what is going on.

[2021-11-18 17:24] radumereuta commented on #2318
Most likely a won't fix.
The syntax error was because the configuration syntax was not being imported.
Giving a more intuitive error message would require a bit too much work, and we get a decent error message now.

[2021-11-18 17:24] #2318 closed, assigned to nobody

[2021-11-18 22:22] SchmErik commented on #2324
@radumereuta I see that you added the `?_` on this line about a year ago:  https://github.com/kframework/k/blob/800875f9ff45d40dec72c1a88dc16eb56bd08ec6/k-distribution/tests/regression-new/bisimulation/examples/program-equivalence/imp-lambda/simple-spec.k#L46
was this unintentional? I have a fix to check requires for an existential variables and it's generating an error on this line. What is the s

[2021-11-18 22:38] SchmErik commented on #2324
I found a similar issue with https://github.com/kframework/k/blob/800875f9ff45d40dec72c1a88dc16eb56bd08ec6/k-distribution/tests/regression-new/spec-rule-application/def02-spec.k#L13

[2021-11-19 22:35] SchmErik commented on #2245
@ehildenb what's the actual expected result of this test case? This was fixed in the backend so I run this test without --depth 0 and I get the following output. Is this expected?

[code]

[2021-11-21 18:20] ehildenb opened #2339 "[Bug] [kprovex] - Failed encoding for anonymous variables"
K Version
---------

[code]

Only differences with 5.2.13 are to pyk library, should not affect this bug.

Description
-----------

The output of the Haskell backend contains munged Kore variable names, instead of the proper unmunged name. Moreover, it looks like the Kore variable name that is generated is actually incorrect. This is either a problem in encoding variable names to Kore, or decoding

[2021-11-21 18:40] ehildenb commented on #2308
We should probably just add support for `no-execute` or `non-executable` attribute on rules. This is more broadly useful (and probably simpler) than the specific `smt-only` attribute.

The `non-executable` attribute on a `rule` means that the backends should not try to use that rule for rewriting.

[2021-11-22 10:25] ana-pantilie commented on #2245
@SchmErik That warning is a direct consequence of the fix, so don't worry about it. Let me know, though, if the test is now failing.

[2021-11-23 15:21] vasil-sd opened #2341 "[Bug] [kompile] - Java backend, circularity problem"
K Version
---------

K was built from git repo, commit is 97358b03296b6f2f6575c432906d6c1fd8043160

[code]

[code]

Description
-----------

Kompile complains about circularity error, but only for java backend. Haskell and llvm backends are ok.

Input Files
-----------

bug.k
[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

[code]

[code]

[2021-11-23 16:33] vasil-sd opened #2342 "[Bug] [kompile] - Java backend, problem with macros"
K Version
---------

K was built from git repo, commit is 97358b0

[code]

Description
-----------

Java backend has problem with macros, but llvm and haskel have not.

Input Files
-----------

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

Haskel and llvm backends are ok.

[code]

[code]

[2021-11-23 18:43] SchmErik commented on #2342
Looks like there's something strange going on with the macro propagation for the java backend. When running kompile with the java backend, I see that it tries to propagate the `macro-rec` label to line 16 which is this code here: `context var _:Id[HOLE];` I'm going to keep looking at this...

[2021-11-23 19:09] #2324 closed, assigned to SchmErik

[2021-11-23 23:42] SchmErik commented on #2342
In the example that's been provided here, kompiling with java backend produces different klabels than the llvm/haskell backends and this is causing the `macro-rec` labels to be placed on different sentences.

**Compiling the example using the java backend**

- The productions `"var" Exp ";"` and `"var" Exps ";" [macro-rec, avoid]` both have the klabel `var_;_BUG`

- `context var _:Id[HOLE];` and `

[2021-11-24 20:48] #2321 closed, assigned to radumereuta

[2021-11-26 15:39] #2339 closed, assigned to radumereuta

[2021-11-30 10:14] Baltoli commented on #2154
This test will no longer fail, as it was disabled in #2307. The work to re-enable it with a working SMT implementation is being tracked in #2308 as a separate item.

[2021-11-30 10:14] #2154 closed, assigned to Baltoli

[2021-11-30 20:10] #2309 closed, assigned to radumereuta

[2021-12-01 20:12] #2088 closed, assigned to nobody

[2021-12-02 14:56] radumereuta opened #2356 "Kore variable name encoding discussion"
Right now `encodeStringToAlphanumeric` and `decodeKoreString` are not implemented properly.
let's discuss in the meeting what is the best approach here since we would like the kore encoding to be somewhat readable.

`'Unds'V'Unds'9` -> `_V_9`
`'QuesUnds'0` -> `?_0`

[2021-12-02 17:08] dwightguth commented on #2356
https://github.com/kframework/llvm-backend/blob/master/lib/ast/AST.cpp#L10

[2021-12-02 17:09] radumereuta commented on #2341
We don't support the java backend anymore.
Please use one of the llvm or haskell backend.

[2021-12-02 17:09] #2341 closed, assigned to nobody

[2021-12-02 17:17] radumereuta commented on #2281
Maybe the second variant is better.
We can force the user to provide this format attribute with an error check.

[2021-12-02 17:24] radumereuta commented on #2221
Provide some numbers. It take time in kompile, but it also takes some time when running proofs. Many proofs, lots of time spent.

[2021-12-02 17:28] radumereuta commented on #2178
Most likely we need to preparsing kast.md and domains.md to avoid breaking the scanner.

[2021-12-02 17:29] radumereuta commented on #2178
If we fix this: https://github.com/kframework/k/issues/2072
we shouldn't have this problem.

[2021-12-02 17:29] #2178 closed, assigned to nobody

[2021-12-02 17:33] radumereuta commented on #2155
Long term goal to have the same kore definition provided to both backends.
Meanwhile blocked on this: https://github.com/kframework/k/issues/2135

[2021-12-02 17:34] virgil-serbanuta opened #2357 "[Bug] [kompile|kprove] - Huge memory usage"
K Version
---------

[code]

Description
-----------

Kompile needs between 8 and 16G of memory for a semantics that used to fit in 4G. Kprove uses between 32 and 64G for a proof that used to fit in 4G.

Input Files
-----------

[oom.zip](https://github.com/kframework/k/files/7643943/oom.zip)

Reproduction Steps
------------------

[code]

This fails with OOM if `checkJava` contains `-Xmx4096m` or

[2021-12-02 17:36] radumereuta commented on #2064
@SchmErik please provide an example of how you want the error message to look.

[2021-12-02 17:39] radumereuta commented on #2357
Investigate this.

[2021-12-02 17:40] #2067 closed, assigned to nobody

[2021-12-02 17:40] radumereuta commented on #2067
Please reopen if it's still an issue.

[2021-12-02 17:48] radumereuta commented on #2342
Not actively developing the java backend. Closing this for now.

[2021-12-02 17:48] #2342 closed, assigned to SchmErik

[2021-12-02 19:49] dwightguth commented on #1822
I am going to close this. People interested in invoking the unparser should instead use the new `kore-print` tool.

[2021-12-02 19:49] #1822 closed, assigned to nobody

[2021-12-02 19:50] dwightguth commented on #2145
This was essentially fixed by the change that reports the previous token in addition to the current token during a parsing error. So I'm going to close this.

[2021-12-02 19:50] #2145 closed, assigned to nobody

[2021-12-02 20:27] dwightguth commented on #1861
@yzhang90 is this still an issue? It needs a minimized example.

[2021-12-02 20:31] dwightguth commented on #1685
This is fixed.

[2021-12-02 20:31] #1685 closed, assigned to nobody

[2021-12-02 20:36] dwightguth commented on #1780
I'm going to close this as this is a part of #1415 and we need to properly break that issue into subtasks at some point in the future.

[2021-12-02 20:36] #1780 closed, assigned to nobody

[2021-12-02 20:48] dwightguth commented on #2140
I cannot reproduce this, so it must have gotten fixed at some point since September.

[2021-12-02 20:48] #2140 closed, assigned to dwightguth

[2021-12-03 21:08] #2281 closed, assigned to dwightguth

[2021-12-06 14:50] ehildenb opened #2362 "Support Bytes literals in K rules"
Currently, I have to build rules like this:

[code]

Notice the `String2Bytes` in the `<program>` cell.

But if I want to make this into a `rule`, the frontend complains because of the `String2Bytes` function symbol on the LHS of the rule.

We should allow inputing `b"..."` directly in the `<program>` cell, and it should build the correct Bytes literal automatically (by just calling `String2Bytes`

[2021-12-06 14:51] ehildenb commented on #2362
Example definition that should kompile:

[code]

[2021-12-06 18:46] radumereuta commented on #2221
Here are some numbers from evm proofs.
Command: `kserver ; make proofs -j 12`

[code]

[code]

| time | test
| --- | --- |
|	5.414s	|	functional-spec.k 	|
|	5.537s	|	staticarray00-spec.k 	|
|	5.795s	|	bytes00-spec.k 	|
|	5.274s	|	overflow00-nooverflow-spec.k 	|
|	5.610s	|	address00-spec.k 	|
|	5.632s	|	encodepacked-keccak01-spec.k 	|
|	5.877s	|	requires01-a0gt0-spec.k 	|
|	6.279s	|	overflow00-over

[2021-12-06 20:59] radumereuta commented on #2357
I did a git bisect and this is the first commit that fails: 41f2e80c50fd841017b8695695328504fbbc07cd
It seems that `imports FOO.bar` OOM issue is not properly fixed.
@dwightguth should I revert https://github.com/kframework/k/pull/2292 or do you have time to look at it in the near future?

[2021-12-07 00:16] ehildenb opened #2364 "KEVM proof takes a really long time to parse"
The following KEVM PR adds a proof that takes about 120s to parse altogether on my machine, with about 90s spent in Z3: https://github.com/kframework/evm-semantics/pull/1169

Steps to reproduce (clone that branch, and update submodules):

[code]

[2021-12-07 00:32] ehildenb commented on #2364
BTW, I'm using Z3 4.8.13

[2021-12-07 10:00] IljaZakharov opened #2365 "[Bug] [kompile] - Kompile generates a broken parser_PGM link"
K Version
---------
K version:    v5.2.21-16-g3d65e6392
Build date:   Mon Dec 06 12:08:25 MSK 2021

Description
-----------

The kompile command generates a broken parser_PGM link on Ubuntu 20.04.

Input Files
-----------

I used the lesson-03-d.k file from the lesson 3 of [tutorial](https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/03_parsing#brackets).

Reproduction S

[2021-12-07 13:42] radumereuta commented on #2364
Can confirm. The same happens with Z3 4.8.7
`82982 /home/radu/work/evm-semantics/tests/specs/examples/long-parse-time-spec.k:16   parse: 134 typeInf:82595`
I'm going to prioritize work on making the type inferencer faster. It seems to be a bottleneck in development for several semantics.
This is a subtask of: #2247

[2021-12-07 14:17] ana-pantilie opened #2367 "[Bug] [kprovex] - malformed \\forall"
K Version
---------

[code]

Description
-----------

`kprovex` is producing some malformed Kore, there's an additional sort argument to the `\\forall` in the following example:

[code]

Input Files
-----------

Semantics (test.k):

[code]

Spec file (test-spec.k):
[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The `\\forall` should have a single sort a

[2021-12-07 14:29] radumereuta commented on #2367
This might already be fixed by https://github.com/kframework/k/pull/2333
I can't reproduce it with the latest K. Can you double check?

[2021-12-07 16:10] #2364 closed, assigned to nobody

[2021-12-08 04:00] ehildenb opened #2369 "[KIP] - Allow function symbols on LHS of rules"
Motivation
----------

When the pyk library generates claims/rules to be re-injected into the semantics, it's often working with states that have function symbols present. These function symbols are always "fully defined", in the sense that all the variables which show up under the function symbol come from other places on the LHS of the rule.

Example K
--------------

The following definition:

[2021-12-08 10:39] ana-pantilie commented on #2367
@radumereuta Thanks, it is indeed fixed on a more recent version of K. Forgot that the Haskell backend is using a pretty old release due to the issues with newer ones.

[2021-12-08 10:39] #2367 closed, assigned to nobody

[2021-12-08 16:05] dwightguth opened #2371 "Cache scanner generated during kompile in *-kompiled directory"
If we save the scanner we generate during compilation to the kompiled directory, we ought to be able to use it during kprovex and k-compile-search-pattern, which prevents us from having to regenerate it, which can be expensive when you are on the hot path.

[2021-12-09 12:19] JuanCoRo opened #2372 "[Bug] [kompile] - UNSIGNED-INT-SYNTAX implicitly included in arbitrary module"
K Version
---------

[code]

Description
-----------

The UNSIGNED-INT-SYNTAX module seems to be implicitly included in an arbitrary module, causing errors with definitions.

Input Files
-----------
`foo1.k`
[code]

`foo2.k`
[code]

Reproduction Steps
------------------
For `foo1.k`
[code]
Output:
[code]

For `foo2.k`
[code]
Output:
[code]

Expected Behavior
-----------------
To get only the synta

[2021-12-09 15:12] JuanCoRo opened #2373 "[Bug] [kompile] - Single comment at end of file causes kompile error"
K Version
---------

[code]

Description
-----------
Kompiling a file that ends in a single line comment (i.e. `//`) causes an error.

Input Files
-----------
File `foo.k`
[code]

Reproduction Steps
------------------
Make sure that the last line of the file starts with `//`.
[code]
Output:
[code]

Expected Behavior
-----------------
To compile without an error.

[2021-12-09 15:16] IljaZakharov opened #2374 "[Bug] [krun] - kore-print crash"
K Version
---------
K version:    v5.2.21-19-g04cec62cc-dirty
Build date:   Thu Dec 09 18:00:33 MSK 2021

Description
-----------
*krun* crashes with the following error:

[code]

Input Files
-----------

The module is:
[code]
The program I am trying to interpret:

[code]

Reproduction Steps
------------------

The crash happens when I add *%c* and *%r%* expressions. Everything works smoothly with

[2021-12-09 17:04] radumereuta commented on #1938
@ehildenb do we still need this?

[2021-12-09 17:06] radumereuta commented on #2362
Add new syntax to domains.md. The proposed syntax seems fine.
Handle the new token through kompile.
Make sure the backends expect the new format.

[2021-12-09 17:17] radumereuta commented on #2369
- Change the current function check to allow for this
- make this transformation
- modify some of the checks. Traverse the LHS of the rule and where we see free variables under a function are all bound in places which are not functions.
- care not to apply this check on certain cases like: key of map lookup. Basically anywhere where we already allow functions on LHS.

[2021-12-09 17:20] radumereuta commented on #2372
If the UNSIGNED-INT-SYNTAX module is included, then this is the 'expected' behavior.
So we should focus on why this module is being included.

[2021-12-09 17:22] radumereuta commented on #2373
We should modify this line to allow for this: https://github.com/kframework/k/blob/master/kernel/src/main/javacc/Outer.jj#L404

[2021-12-09 17:25] radumereuta commented on #2374
This should be an error in the front end.
We need to update the check for colors: https://github.com/kframework/k/pull/2358
This example specifies 4 colors instead of 5.

[2021-12-09 17:30] radumereuta commented on #2357
Revert this for now.

[2021-12-09 17:37] radumereuta commented on #2356
This code path is not doing what we expect. Those dashes do appear in some cases.
We need to do integration test with llvm and haskell backends.
Since that table is used in multiple tools, we should have that table in a single file (maybe json).

[2021-12-09 17:45] radumereuta commented on #2303
We have a list that keeps track of something like this: https://github.com/runtimeverification/devops/blob/master/deps/kframework/k

[2021-12-09 17:47] radumereuta commented on #2028
Create a new issue if we have more concerns. The first 3 items are done.

[2021-12-09 17:47] #2028 closed, assigned to nobody

[2021-12-09 17:51] radumereuta commented on #1281
This is not blocking and the performance of the scanner is questionable after such a change.

[2021-12-09 17:54] radumereuta commented on #1957
Check if this is still an issue.

[2021-12-09 17:56] #1937 closed, assigned to nobody

[2021-12-09 17:59] radumereuta commented on #2155
See: https://github.com/kframework/k/issues/1989

[2021-12-09 17:59] #2155 closed, assigned to nobody

[2021-12-09 18:01] #2034 closed, assigned to nobody

[2021-12-09 18:02] radumereuta commented on #2325
Update the list of features that we already did and what we plan to include.

[2021-12-09 18:05] radumereuta commented on #1655
@ehildenb if you find the time please look into writing the proofs tutorial.

[2021-12-09 18:05] radumereuta commented on #1922
Include this information in the release issue. Then close this.

[2021-12-09 18:30] radumereuta commented on #1957
This is being tracked by other issues.

[2021-12-09 18:30] #1957 closed, assigned to radumereuta

[2021-12-09 20:05] #1922 closed, assigned to radumereuta

[2021-12-09 20:37] radumereuta commented on #2357
@virgil-serbanuta you can update to the latest master. I've removed the problematic commit and the times dropped to normal (tested).
@dwightguth when you find the time, you can have a look at what is actually wrong.

[2021-12-10 16:01] radumereuta commented on #2373
You can add a Unit test here: https://github.com/kframework/k/blob/master/kernel/src/test/java/org/kframework/parser/inner/RuleGrammarTest.java#L521
To build K faster you can use this command to skip the unit tests: `mvn package -DskipTests`

[2021-12-10 16:53] ehildenb opened #2378 "[kprovex] - Allow defining macros in specification module"
Currently we don't allow any syntax productions between the main module and the specification module.

It would be nice if we could define macros. Not sure what the overhead cost of it would be, if it brings us back to the same state as we were before pulling out kprovex (having to do all the same work again), then it's not worth it.

[2021-12-10 17:39] dwightguth commented on #2372
The import chain at fault here is:

[code]

Because all definitions are required to import the MAP module implicitly in this fashion, and thus in turn the UNSIGNED-INT-SYNTAX module, it is impossible currently to create a definition whose scanner does not contain that regex terminal. Thus, the expected behavior for both of these definitions is to report an error involving conflicting token precede

[2021-12-10 18:29] dwightguth commented on #2365
I cannot reproduce this on my machine, which runs Ubuntu 20.04. Can you please provide an exact K file you used to reproduce this, and an exact sequence of shell commands? I also need to know the results of `java -version`.

[2021-12-10 18:37] #1861 closed, assigned to yzhang90

[2021-12-10 18:40] dwightguth commented on #1861
Just to replicate the discussion I had on slack, @yzhang90 said he is working on something different at the moment and will reopen this if it becomes relevant to him again.

[2021-12-10 18:58] ehildenb opened #2379 "pyk library organization and adoption"
The pyk library is the best existing way to programatically interface with K, and it's proven to be fairly robust in my recent experience.

I'd like to make it more robust, and refactor it to make the code more approachable and organized. In particular, this means:

- `kast.py` should be split into `kinner.py` and `kouter.py`, which define those respective data-structures.
- `ktool.py` should be e

[2021-12-10 21:03] virgil-serbanuta commented on #2357
Thank you!

[2021-12-10 23:40] #2374 closed, assigned to dwightguth

[2021-12-13 08:04] IljaZakharov commented on #2365
Sure, please, find the detailed description below.

The input file: [lesson-03-d.zip](https://github.com/kframework/k/files/7701899/lesson-03-d.zip)
My java version:
[code]

The path to K binary files is: `~/src/k/k-distribution/target/release/k/bin`
The input file is placed in `~/workspace/tutorial/lesson 3/bug/`.
I run the following command in the directory given above:
`kompile --gen-bison-pars

[2021-12-13 20:10] #2356 closed, assigned to radumereuta

[2021-12-14 04:11] #2268 closed, assigned to ehildenb

[2021-12-14 20:35] ehildenb opened #2384 "[Bug] [kompile] - makes it impossible to introduce fresh variables in requires clause"
K Version
---------

**WARNING** Incorrect version number. `kompile` is reporting 5.2.21, but it's actually 5.2.48 that I have checked out. I think the master branch is getting the incorrect version number when built locally.

[code]

Description
-----------

A rule needs to introduce a "don't care" variable in the requires clause, for ease of writing and understanding. For example:

[code]

We wa

[2021-12-14 20:35] ehildenb commented on #2384
I have a suitable workaround for this.

[2021-12-14 21:10] dwightguth commented on #2365
This appears to be because of a bug in java.nio.file.Path.relativize on Java 8. I would suggest installing Java 11 and this error should be fixed. I am currently exploring what exactly to do with our codebase in response to this bug, but my personal preference would simply to be to end support for Java 8, so I suggest you upgrade.

[2021-12-14 21:31] virgil-serbanuta commented on #2384
I'm trying to understand what you mean in a more mathematical way.

Are you trying to say that "if `exists X such that requires(X)` then we have `LHS => RHS`" (or, equivalently, `(exists X. requires(X)) and LHS => RHS`)?

Or are you trying to say that "if `forall X requires(X)` then we have LHS => RHS"?

By looking at your wording, I think you mean the former, or something else entirely. However,

[2021-12-14 22:11] dwightguth commented on #2073
This is done. It's saved in our google drive right now. we can share the pdf with external collaborators if need be, but any employee of RV should be able to access it via the link.

[2021-12-14 22:11] #2073 closed, assigned to dwightguth

[2021-12-14 22:47] SchmErik commented on #2064
I made a branch here: https://github.com/SchmErik/k/tree/error-msg-experiment-add-lines

### Example 1:

Here's a sample error message that works well.

**Code:**
[code]
**Error message:**
[code]

### Example 2:

However, not all messages point to the right token...

**Code:**
[code]
**Error message:**
[code]

[2021-12-15 15:22] SchmErik commented on #2064
Here's an example of a multiline rule:
**Code:**
[code]
**Error message:**
[code]

[2021-12-15 22:01] SchmErik opened #2386 "Generate random program terms from K definitions"
Motivation
----------
We want to make it possible to generate valid terms in the grammar for generating test suites. This can be done in an intelligent way with the Haskell backend and Hedgehog.

Example
--------------

This tool will be run to generate several test cases.
Example command:
`gen-tests test.k --generate-programs 100 --directory test-suite`
This command will create 100 randomly gener

[2021-12-15 22:14] dwightguth commented on #2386
I mean, it's very unlikely that all programs generated would run successfully with krun, because of semantic restrictions that might not be present in the grammar, as well as the halting problem. The thing to do is to take a user written script as input and execute it with the program generated as an argument. The script would be expected to report one of three answers:

1. Program terminates succ

[2021-12-15 22:15] dwightguth commented on #2386
Then you could generate programs in a loop until you have generated a certain number of interesting ones.

[2021-12-15 23:12] dwightguth commented on #2362
I added the syntax to the frontend and it turns out that it actually already generates the correct kore with no need for further adjustments. However, when testing Everett's example, I discovered an unrelated bug in the llvm backend that prevents the rule Everett wrote from applying. Interestingly, it also affects Strings with the same contents. It seems to affect most programs which match against

[2021-12-16 05:17] IljaZakharov commented on #2365
Yes, it works perfectly with Java 11.

[2021-12-16 05:17] #2365 closed, assigned to dwightguth

[2021-12-16 16:42] radumereuta opened #2387 "2022 Goals"
A few general directions that we would like to follow in developing K in the year 2022:
- Get K into a stable and usable state. Talking with internal users of K that maintain large definitions, I sense a sentiment of frustration because of the poor performance and frequent bugs. It's not fun working on something if your tools are not helping you.

- Interoperability between tools. At one point, we

[2021-12-16 16:57] ana-pantilie opened #2388 "[KIP] - Add `non-executable` attribute on equations"
Motivation
----------

@ehildenb requested this feature. A `non-executable` equation will not be tried during function evaluation.

I believe his request comes from needing a way to specify that an `smt-lemma` equation should only be sent to Z3, and not attempted in the prover.

**Very important**: the equation should not be treated like a function definition rule, meaning it should not be transla

[2021-12-16 17:13] radumereuta commented on #2384
Dwight: if you add this attribute `unboundVariables(_)` it should work.
Everett: I think this is still a bug.

[2021-12-16 17:30] ehildenb commented on #2384
Another work-around, say `unboundVariables(_)`.

[2021-12-16 17:47] radumereuta commented on #2064
What happens if the error message spans multiple lines?
Like an error that spans the entire sentence (like the claim rule above). Or an ambiguity error.
Check how other tools format such error messages. @Baltoli you have some idea about other libraries?
Test on long lines and many columns. The terminal windows is limited and we don't want to wrap around.

[2021-12-16 17:50] Baltoli commented on #2064
Found it - https://github.com/zesterer/ariadne. @SchmErik this is pretty comprehensive but might give you some inspiration for how people like these to look

[2021-12-16 20:20] #1742 closed, assigned to dwightguth

[2021-12-16 23:13] ehildenb opened #2391 "[Bug] - Incorrect version reported on `master` checkouts of K"
K Version
---------

Any version newer than 5.2.21.

Description
-----------

See https://github.com/kframework/k/issues/2384 for an example.

The logic which determines the K version was dependent on the version tags being on the `master` branch. But we switched to having the release tag on the `release` branch, which is based on the master branch. So currently, our approach walks backwards towar

[2021-12-17 14:16] IljaZakharov commented on #2033
I appreciate the developers of the tutorial and all contributors to it. It is a straightforward and perfect introduction to K. The first part is pretty simple, and the second one is a bit more difficult. I have the following notes and proposals for the tutorial:

- [ ] There is issue #2365 related to an old Java version. If the K is built with the Java 1.8, which is suggested by the README file, t

[2022-01-10 20:33] SchmErik commented on #2064
I did a little more work before the holiday break. Here's my progress so far for multiple lines:
**Source code**
[code]

**Error message**
[code]
I took the tool that @Baltoli suggested as inspiration.

[2022-01-11 09:14] Baltoli commented on #2064
These look really good, Erik. I recall a discussion on this before the break, but not what the outcome of it was - is there a reason that the spans include the space after the token:
[code]

[2022-01-11 16:33] SchmErik commented on #2064
Thanks @Baltoli, the space is captured from the lexer/parser as a part of the sentence's location and the error message underlines where the location points to. I guess I could solve this in the error message generation but the root of the problem is the lexer/parser

[2022-01-11 18:10] #2372 closed, assigned to dwightguth

[2022-01-13 14:11] radumereuta commented on #2064
The location information is designed to 'include' the next token so when you select something in your editor, the end location includes the entire term.
You should do a -1 correction at the end. (make sure it doesn't go less than 1, just in case we missed a spot somewhere)

[2022-01-13 17:32] radumereuta commented on #2064
[code]
If it's more than 3 lines, display only 3 and fill with ... the middle.
Consider omitting the dot in the beginning. Or replace it with vertical bar or *

[2022-01-13 17:41] #2362 closed, assigned to dwightguth

[2022-01-13 18:39] #2287 closed, assigned to radumereuta

[2022-01-19 07:46] shd101wyy commented on #2391
Please ignore this comment. For testing GitHub API only

[2022-01-20 02:22] ehildenb opened #2403 "[Bug] [kparse] - Weird truncation behavior with stdout"
K Version
---------

[code]

Description
-----------

`kparse` is truncating the output of any file it's redirected to when using `--gen-glr-bisor-parser`. This results in weird behavior on CI (output looks strange).

Input Files
-----------

File `test.k`:

[code]

File `pgm1.teal`:

[code]

File `pgm2.teal`:

[code]

Reproduction Steps
------------------

Kompile the semantics with `--gen-glr-pa

[2022-01-20 10:47] Baltoli commented on #2308
Current status:
* The `[non-executable]` attribute is nearly done:
    * LLVM backend support is merged (https://github.com/kframework/llvm-backend/pull/478)
    * Haskell backend support blocked on a clarification (https://github.com/kframework/kore/pull/2945)
    * Frontend tests written; waiting for same clarification (https://github.com/kframework/k/pull/2400)

Once these are all merged, the p

[2022-01-20 16:29] radumereuta commented on #2403
Why isn't the local build picking up the latest tags?
`v5.2.21-44-gd7d340bd4f`
I get the same behavior on my PC.

[2022-01-20 17:11] radumereuta commented on #2403
If you remove `--gen-glr-bison-parser` it's fine.

[2022-01-20 19:03] dwightguth commented on #2403
This appears to be a bug in how the kparse script (and probably other scripts) handle the case when the `--output-file` command line flag is not specified, and the file descriptor for stdout on the kparse script is redirected to a file rather than a terminal. I will investigate the best way to address this in each script where this current design pattern is being used.

[2022-01-21 03:57] Meen2534 opened #2406 "[KIP] - DESCRIBE KIP HERE"
First fill in the title (template provided).
Example:

[KIP] - Use `foo` instead of `syntax` for declaring productions

Motivation
----------

-   Is there a semantics which you are developing which this feature would simplify?
-   Is this feature similar to a feature offered by another programming language?
-   Any other motivation?

Example K Code
--------------

Provide a small, complete, and s

[2022-01-21 03:57] Meen2534 commented on #2406
Ok

[2022-01-21 07:03] #2406 closed, assigned to nobody

[2022-01-21 20:10] #2403 closed, assigned to dwightguth

[2022-01-21 21:49] ehildenb opened #2411 "Test suite missing a segmentation fault"
Going back quite a ways, there has been a segmentation fault in the K test suite unnoticed.

This test two months ago: https://office.runtimeverification.com/jenkins/blue/organizations/jenkins/K/detail/release/175/pipeline/68

- Click "Build and Test K"
- Click "Show complete log"
- Search for "Segmentation"

Our testing infrastructure is missing this segfault somehow.

Pretty sure it's `issues-16

[2022-01-24 10:33] Baltoli commented on #2411
Initial investigation:
* The underlying segmentation fault is an infinite recursion in the LLVM backend's Kore parser. I'll minimise the test case and raise an issue there.
* ~~The failure not being reported seems to be a subshell somewhere not picking up a return code.~~

[2022-01-24 10:39] #2391 closed, assigned to Baltoli

[2022-01-24 11:01] Baltoli commented on #2411
The reporting failure is down to `pipefail` not being set at the top level of the test suite Makefiles. This means that when we construct command pipelines like:
[code]

we don't consider that the `krun` invocation itself could fail with a non-zero exit code; the pipeline is allowed to continue executing.

This normally wouldn't be a problem, because the `krun` invocation wouldn't produce the expe

[2022-01-24 12:34] Baltoli commented on #2411
There's a workaround for the segfault itself - because it's not an infinite recursion, and is just a really huge term, you can use `ulimit -s` to allocate more stack space. On my machine this fixes the test.

[2022-01-24 14:08] Baltoli commented on #2411
We actually rely on the non-pipefail behaviour in the test suite, by unconditionally `cat`-ing files that might not exist. It might be a bit of a pain to change all of these locations (looking at the failing test run for this PR), so we might want a more selective approach.

[2022-01-24 16:30] Baltoli commented on #2411
A summary of where I am on this:
* It's possible to get pipefail enabled on the test suite, but it breaks our assumptions in a number of places. Still trying to find the method that breaks the least things.
    * My assumption is that we _do_ want to enable pipefail if not doing so could hide failures like this.
    * Given this, it should be on by default and specific test cases can opt out if th

[2022-01-24 18:10] ehildenb commented on #2411
I think we can change the non-pipefail behavior in the test-suite, by having something like:

[code]

The having an override rule which does:

[code]

Then our recipes which require input stdin can do:

[code]

for example.

[2022-01-24 18:10] ehildenb commented on #2411
How many test cases do we rely on input stdin vs not?

[2022-01-24 18:11] ehildenb commented on #2411
Either way I think we should enable pipefail on tests. It's too easy to miss failure otherwise. Is it just that one test that fails if we do this and adjust the `cat ...` to be allowed to be empty?

[2022-01-24 18:52] Baltoli commented on #2411
No, there are a few places in the test suite that break in different ways depending on where and how you enable pipefail checking. I'll write up a detailed summary of them tomorrow as it's not quite as simple as this one test unfortunately!

[2022-01-24 20:14] dwightguth commented on #2219
This appears to be due to the juxtaposition of two issues:

1. We do not provide any built-in priority for `#let`. Ideally, we would allow `#let` to be in priority tighter than ~> but looser than user syntax, thus ensuring that it grabs as much syntax as possible into its body. This would address the surface issue and make this program parse correctly without parentheses, but doesn't address the s

[2022-01-25 09:54] Baltoli commented on #2411
### Enabling `pipefail`

I've tried two different ways of enabling `pipefail` across the test suite:
* Globally, by setting the `SHELL` make variable at the top of each of the included Makefiles. This has the advantage of applying everywhere with minimal repetition, but requires a specific shell (e.g. `/bin/bash`) to be specified.
    * In fact, enabling `pipefail` at all requires that we mandate

[2022-01-25 15:58] Baltoli opened #2414 "[KIP] - Improvements to build & test infrastructure"
This issue is an index of potential improvements we could make to the K build and test infrastructure.

* [**Separate krun and check**](https://github.com/kframework/k/issues/2414#issuecomment-1021339859)

Some relevant issues / PRs / discussion from other projects:

* **Testing**:
    * [Use LLVM `lit` to test LLVM backend](https://github.com/kframework/llvm-backend/pull/466)
    * [Use LLVM `lit

[2022-01-25 16:00] Baltoli commented on #2414
## Separate `krun` and `check`

For example, we can have `KRUN_ALLOW_FAILURE = false`.
Then each recipe can instead always have `PIPEFAIL` turned on, and we can change the `krun` recipe to look something like:
[code]

This change in structure allows us to set `KRUN_ALLOW_FAILURE` if we're expecting a stuck configuration, and then still run `CHECK`. It also allows just setting `CHECK=cp` to update

[2022-01-25 16:00] radumereuta commented on #2219
1. that's fine. Not sure how you would express that though. We say that rewrite binds weakest then `~>` but we have special passes that apply before the priority disambiguation filter. We might need to add some sort of global ordering.
2. For sure we need to fix this. The current results are wrong. The parser needs to give you all the ambiguities.

[2022-01-25 19:09] dwightguth opened #2415 "[KIP] - syntax priorities wildcard"
Motivation
----------

- Sometimes it is desirable to express a priority relation saying that all syntax has a looser or tighter priority than particular pieces of syntax. This is generally of use when defining syntax that is part of the K language itself, but it may have other applications
- Right now such code needs to be explicitly encoded as code in a disambiguation pass in the K frontend, mak

[2022-01-25 22:04] radumereuta commented on #2415
I like this solution, but it's only good at expressing the top and bottom end of the subsort relations.
Can we find something more general that allows us to express more priorities?
And a better question would be, do we need it?

[2022-01-25 23:36] ehildenb opened #2418 "Remove now unused arguments to functions"
Given the recent deletion of the OCaml backend, we need to check for: perhaps the second argument of TreeNodesToKORE or getCombinedGrammar is no longer needed? https://github.com/runtimeverification/k/pull/2417#discussion_r792175451

[2022-01-26 20:40] #2411 closed, assigned to Baltoli

[2022-01-27 16:01] #2388 closed, assigned to Baltoli

[2022-01-27 17:22] radumereuta commented on #2415
Let's treat it like a special case. Just like Rewrite and KSeq.
We want to wait for more comprehensive cases that make sense to implement something more complex.

[2022-01-27 17:22] radumereuta commented on #2219
Let's just do a special case to solve the `#let` priority: https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/parser/inner/ParseInModule.java#L257

[2022-02-01 18:36] dwightguth commented on #2219
The surface issue involving the priority of `#let` has been fixed. There is still the deeper issue with respect to the type inference algorithm. The solution that I think ought to fix it consists of telling z3 to assert as a soft constraint each branch of each ambiguity when constructing constraints. We then tell it to use a lexicographic ordering on its objectives, which means it will first try t

[2022-02-02 21:43] radumereuta commented on #2418
I've looked over this and the only time it is false is in this [`toString`](https://github.com/runtimeverification/k/blob/master/kore/src/main/scala/org/kframework/parser/treeNodes.scala#L46)
This is important because it tells the pretty printer not to add sort annotations to variables.
We tried to make this change before and the diff was huge. Almost every single test output needed to be updated.

[2022-02-03 17:06] radumereuta opened #2423 "Fix release and tags"
Currently we have a problem with the docker container.
We need to make sure we install `make` in the docker container.

[2022-02-03 17:28] radumereuta commented on #2064
Let's introduce this change under an option to keep the diff small.
After we are happy with the results we can make that the default.

[2022-02-03 17:48] radumereuta commented on #2288
https://github.com/runtimeverification/k/blob/master/haskell-backend/src/main/java/org/kframework/backend/haskell/HaskellRewriter.java#L353
Modify this module and try to dump it as json.

[2022-02-04 15:30] lisandrasilva opened #2425 "[Bug] [krun] - #if doesn't apply a rewrite rule if we don't pattern match on argument"
K Version
---------

[code]

Description
-----------
If we have a production to write simple `if` statements that have a `List` of statements in both code blocks (`if` and `else`) then the following rule, where `S1` and `S2` are lists of statements, doesn't work.
[code]

In order to make this rule work we need to pattern match on one of the lists, for instance:
[code]

Input Files
-----------
k de

[2022-02-04 16:30] radumereuta commented on #2423
First attempt: https://github.com/runtimeverification/k/pull/2424
Doesn't seem to fix the problem.

[2022-02-07 10:55] Baltoli commented on #2308
Per Nikolaj's comment on my issue [here](https://github.com/Z3Prover/z3/issues/5809), it turns out that Z3 is unable to prove assertions in the format that the Haskell backend is generating for this proof.

In the short term, we agreed in the K frontend meeting that the most sensible thing to do is to keep the failing test disabled. The remaining solutions are:
* Implement support for `non-executa

[2022-02-07 11:41] Baltoli commented on #2423
Yep. Looking into this in more detail just now

[2022-02-08 09:15] Baltoli commented on #2423
Closed by #2427

[2022-02-08 09:15] #2423 closed, assigned to Baltoli

[2022-02-08 11:02] lisandrasilva commented on #2425
The reason for this to happen is that when we have the rule:
[code]
then the type of `S1` and `S2` is inferred as `Stmts`, which means that the `#if` on the RHS is inferred as of sort `Stmts`. Therefore, the rewrite is inferred as sort `Stmts`, which means that the LHS of the rewrite is matching a list with a single element, rather than a single `Stmt`. Since the user did not specify a configurati

[2022-02-08 11:02] #2425 closed, assigned to nobody

[2022-02-09 14:34] #2371 closed, assigned to dwightguth

[2022-02-09 15:37] tothtamas28 opened #2429 "[Draft] Alternative ways for passing spec to kprovex"
Currently, `kprovex` requires the spec to be proved to be written to file in pretty format. When scripting the prover using `pyk`, this is inconvenient, as

- the AST for the spec has to be unparsed, which requires a custom unparser for each language, and is a source for bugs;
- the unparsed spec has to be written to file, which introduces side effects and additional complexity;
- the unparsed spe

[2022-02-12 01:40] #2288 closed, assigned to ehildenb

[2022-02-14 18:43] ehildenb opened #2437 "pyk testing strategy"
Currently, pyk testing in the K frontend is setup in a fairly ad-hoc way, basically each testing harness is fully independent.

We'd like to move towards a more structured testing approach, based on pyunittest. Focus should de-emphasize the command-line interface, and focus on functional interfaces of individual components.

In particular:

- Have some "stock" definitions in `definitions/...` dire

[2022-02-15 09:10] trinhmt opened #2439 "Haskell backend crashes when `=/=K` used in `requires`"
K Version
---------

[code]
K version:    -0-g6fbf872
Build date:   Thu Feb 10 20:52:05 SGT 2022

I installed with kframework_5.2.81_amd64_bionic.deb

Description
-----------

Crash with symbolic values

Input Files
-----------

**test.k**
[code]

**input**
[code]

Reproduction Steps
------------------

$ kompile test.k --backend haskell
$ krun input

Expected Behavior
-----------------

2 interle

[2022-02-15 09:48] Baltoli commented on #2439
The problem here is your usage of `=/=K`; I don't know enough about the Haskell backend to comment precisely, but I suspect that it can't manipulate `requires` clauses over the `K` sort.

You can fix your definition by using `=/=Int` instead. Running your input with the amended definition gives me this output, which is what I presume you were expecting to see:

[code]

[2022-02-15 09:53] Baltoli opened #2440 "`.deb` packaging doesn't pick up version string"
The `.deb` packaging process should pick up the version string written in the PACKAGE file; #2439 indicates that this isn't happening for some reason.

Seems to be happening for brew packaging as well.

[2022-02-15 17:37] #2437 closed, assigned to ehildenb

[2022-02-17 17:16] radumereuta commented on #2418
Too many files will be changed by this modification.

[2022-02-17 17:16] #2418 closed, assigned to nobody

[2022-02-17 17:34] radumereuta commented on #2440
Maybe the file is not listed in the assembly list.

[2022-02-17 18:47] ehildenb opened #2444 "Separate out `kprelude.py` files"
There are many places in the pyk library where we define helpers for building standard K terms. For example the `mlTop()`, `mlAnd()`, `intToken(_)`, `boolToken(_)`, etc...

These should be factored out as helpers in a file `k-prelude.py`. Ideally, we would have that somewhat match the structure of the actual builtins for K. Another option would be `k-builtins.py` or something.

Link to builtins: h

[2022-02-17 23:52] SchmErik opened #2445 "[Bug] [kompile] - kompile --no-prelude crashes"
K Version
---------

[code]

Description
-----------
The `--no-prelude` flag causes a crash.

Input Files
-----------
test.k
[code]

Reproduction Steps
------------------
[code]

Expected Behavior
-----------------

kompile should not crash or `--no-prelude` should be removed.

[2022-02-17 23:59] yanliu18 opened #2446 "[Bug] [kompile|krun]- llvm backend crash when krun functions with no evaluator"
K Version
---------

[code]
[code]
Description
-----------

The llvm backend is crashing if you define a function with no rules to evaluate it.

Input Files
-----------
File name: foo.k
File content:
[code]
testing example in a file <a.foo>:
[code]
Reproduction Steps
------------------
file <foo.k> and <a.foo> under the same folder.
run commands as follows:
[code]

Expected Behavior
--------------

[2022-02-18 00:00] ehildenb commented on #2446
Note that we have `no-evaluators` attribute for specifying that a `function` symbol has no rules, so we could check that every function symbol has rules, and error out unless the user also supplies `no-evaluators`.

[2022-02-18 02:57] ehildenb opened #2447 "Architecture of pyk"
Currently the architecture of pyk is:

- File `kast.py`:
  - Defines JSON data-structures of KAST.
  - Defines pretty-printer for KAST.
  - No error-checking anywhere.
- File `kastManip.py`:
  - Flat list of functions.
  - Mostly functions which do manipulations on KAST terms (specifically inner terms), eg `match`, `rewriteWith`, etc...

Proposed structure:

- Abstract class `KAST`:
  - `to_json`

[2022-02-18 14:44] lisandrasilva commented on #2033
Thanks for this tutorial, it was really helpful to understand the basics of K. Following are some tips that might help on improving it.

- [ ] Lesson 13: add the `[bracket]` production in order to be able to write more complex expressions and see both heating rules being applied.
- [ ] Lesson 14: "...the rules for heating are expressly written only to apply if the argument of the expression is a v

[2022-02-22 21:12] ehildenb commented on #2429
This will require that we audit the data-structures used in pyk and those in the frontend and make sure they have the same meaning and fields.

It should be the case, because they both serialize/deserialize through the JSON representation, but it would be good to check.

[2022-02-23 09:09] tothtamas28 opened #2453 "Ensure conformance of pyk AST to K Frontend AST"

[2022-02-23 09:11] tothtamas28 commented on #2429
Created issue: https://github.com/runtimeverification/k/issues/2453

[2022-02-24 19:05] #2440 closed, assigned to Baltoli

[2022-02-24 23:30] yanliu18 opened #2455 "[Bug] [krun] Paser Error with int addition and subtraction expression without spaces"
K Version
---------

[code]

Description
-----------

+/- operators in INT sort didn't produce same result with/wo spaces in expressions

Input Files
-----------
File name: calc.k
[code]

Reproduction Steps
------------------
kompile calc.k
krun -cPGM="1+2"
krun -cPGM="1-2"

Expected Behavior
-----------------

should produce 3 and -1 respectively.

[2022-02-25 16:01] dwightguth commented on #2455
This is actually the expected behavior, although I recognize that it is counterintuitive. The `INT` module defines a syntax of integers that includes an optional sign of positive or negative. Additionally, the behavior of K's lexer is that when a string is ambiguous with regards to its tokenization, the token which is longest is preferred. As a result, your program is being lexed as `"1" "+2"` rat

[2022-02-25 16:01] #2455 closed, assigned to nobody

[2022-02-25 21:27] yanliu18 commented on #2455
Well, it is different to normal understanding, seems like "+2" is treated as a token?
Do we have a better way?

Another example, for expression "1+-2" the parser tree is
```_+__CALC-SYNTAX_Int_Int_Int`(#token("1","Int"),#token("-2","Int"))```
where "-2" is treated as a token.

However, "-" is defined as a function both in the INT sort in the _domains.md_ and in the _calc.k_ (example above). I woul

[2022-03-02 01:17] yanliu18 opened #2460 "[KIP] - Add a Warning when defining 'syntax left' for operators with different priority"
Motivation
----------
Tried to define associativity for all operators (different priorities) together using ```syntax``` left. Then encountered runtime error.
It is conflicting the sdf-inspired parser K is using. Follow [this thread](https://runtimeverification.slack.com/archives/C7E701MFG/p1646181067237979?thread_ts=1646180449.465819&cid=C7E701MFG) for more information:

It will be good to emit a

[2022-03-02 02:25] yanliu18 opened #2461 "[Bug] [kompile] - Uncaught exception thrown of type AssertionError"
K Version
---------
[code]

Description
-----------

Internal: Uncaught exception thrown of type AssertionError
(AssertionError: null)

Input Files
-----------
File name:
``` stmt.k```
[code]

Reproduction Steps
------------------

[code]

bug report:
[code]

[2022-03-02 03:30] yanliu18 commented on #2033
Thanks for the tutorial! It was fun going through them, playing/ experimenting K features with toy examples and incrementally building up bigger codes. Here are some issues or confusions I have run to. Hope they will be helpful for the others.

- [ ] Lesson 1: Building K using maven on MacOS (for me is version 12.2.1), might be encounter a install_name_tool failure (building Haskell Backend module

[2022-03-02 13:15] Baltoli commented on #2461
The problem here is that you're trying to declare the `Pgm` sort as two different syntactic lists. Internally, we desugar `List`s like this (taken from the K source code):
[code]
which will only work for a single list production per sort.

I agree that this could do with a nicer error message than the assertion failure you're seeing.

[2022-03-03 04:23] JKTKops opened #2463 "Missing Table of Contents in Tutorial"
Everett asked me to copy this here from Slack. Related to #1655.

The tutorial at https://kframework.org/k-distribution/k-tutorial/ does not have a useful table of contents. I know there are things I want to refer to in there but I have to spend quite a while finding them.

[2022-03-03 15:34] radumereuta commented on #2463
One thing that I find helpful is a _one page_ viewing option. It makes it easy to search for things. Shouldn't be that hard to automate something like this.

[2022-03-03 16:32] vasil-sd commented on #2386
As an idea:

1. initial program in symbolic form, as template for syntactic guided generation by haskell backend
2. an optional set of rules, that rewrites programs into true or false, as filter for generated programs (this filter is to be executed by llvm backend, so it will be fast). These rules do not need to be language semantic rules, they may be arbitrary rules to guide state-space search in

[2022-03-03 17:06] ehildenb commented on #2446
The LLVM backend should give a better error message at `krun`, but we don't need to restrict this at `kompile` time.

At the very least, it could print out the unevaluated function itself instead of crashing.

In this case it should print `foo()` as a stuck function.

[2022-03-03 17:11] ehildenb commented on #2463
@shd101wyy can we generate the ToC for the k-tutorial instead of writing it? How easy is that for you?

Also, is it possible to make a one-page view of it? Perhaps as a PDF that is viewed in browser? Or just as HTML viewed in browser?

How hard are each of these tasks?

[2022-03-03 17:14] ehildenb commented on #2461
`kompile` should print out a nice structured error that points out both locations.

[2022-03-03 17:23] ehildenb commented on #2460
This should be a warning. All warnings can be disabled by category if wired correctly.

You should not group together `syntax left/right` on productions from different `syntax priority` groups.

The tutorial lesson referring to these features should be updated to mention specifically that "the act of declaring a group of labels in a single sentence _groups_ them together, specifically that `syntax

[2022-03-03 17:27] ehildenb commented on #2445
We could consider having a more friendly error message, or better documentation in the `--help` menu.

But the symbols and definitions themselves from the prelude are expected to exist in some capacity.

- Rename the option to `--no-implicit-prelude`, and update the help message for it.
- We could try to also have a slightly better error message, saying "did you include your own prelude? it's expe

[2022-03-07 16:59] JKTKops opened #2469 "[Bug] [kompile] - Bison parser for `Bytes` in `BYTES-SYNTAX` is incorrect"
K Version
---------

[code]

Description
-----------
Generating a bison parser for the `Bytes` sort in the `BYTES-SYNTAX` module produces an incorrect parser.

[code]

The output should be `\dv{SortBytes{}}("\xf0")`. The extra quotes and escaping cause the Byte array, when consumed, to start with byte `0x42` (ASCII 'b') and continue with an ASCII quote etc. instead of containing the single byte `0

[2022-03-07 17:00] dwightguth commented on #2469
I'm fairly sure we have a special case in the bison parser for the String sort. We just need to modify the code to do something very similar with Bytes also.

[2022-03-10 23:19] JKTKops opened #2477 "[KIP] - Lift the Binding Restriction on :=K"
Motivation
----------
This is the binding restriction on `:=K`:

This feature would make it possible to describe [View Patterns](https://gitlab.haskell.org/ghc/ghc/-/wikis/view-patterns) in K. The link is for haskell but has motivating examples. I am unsure what a special syntax sugar for such patterns would be but it also doesn't matter too much since using `:=K` is already pretty quiet.

My moti

[2022-03-11 03:06] gtrepta opened #2478 "Update gdb instructions in lesson 1.19"
The python scripts for pretty printing K terms in gdb are inlined in the interpreter now, this will slightly change the set up in gdb which needs to be reflected in the instructions.

[2022-03-14 15:49] ehildenb opened #2481 "Templated K definitions, easier set up of new repos"
Currently, several downstream projects are using the same basic structure for their runner scripts. The two most clean runner scripts currently are KEVM's and KAVM's. We should investigate how to make a common runner-script library that can be imported by downstream projects.

A good start for this is the `k-util.sh` script. Maybe it can be extended with a default `run_kompile()` command which can

[2022-03-14 16:36] ehildenb opened #2482 "Variable names introduced in the frontend should be valid variables"
Currently the K frontend introduces variables which are not valid for unmentioned portions of the configuration. For example, variable names like `_1` and `_2` are not valid.

This makes it hard to take the output of the prover and re-insert it into a later proof, or re-run it with a new execution, because the frontend parser does not handle it.

The frontend should only introduce valid variable n

[2022-03-14 16:54] ehildenb opened #2483 "Minimize footprint of K CI jobs"
Currently a K checkout on CI takes roughly 10GB. Here is a breakdown:

[code]

The biggest space eaters are:

[code]

So, we can probably eliminate quite a bit of storage by clearing the `kframework-${VERSION_NUMBER}` unconditionally after builds (as a `post` step). We can also probably clear the `haskell-backend/src/...` stuff after building the haskell backend, maybe this can be made a default p

[2022-03-14 21:26] gtrepta commented on #2483
This should take care of ~3.8G:
[code]

This will clean up about 1.1G in `haskell-backend/src/...`:
[code]

[2022-03-15 19:10] #1760 closed, assigned to gtrepta

[2022-03-16 14:38] ehildenb commented on #2483
@gtrepta can you implement this change as a `post` block in the Jenkinsfile? So that it runs every job.

[2022-03-16 16:49] gtrepta commented on #2483
@ehildenb Sure, which stage(s) should it be in? `"Build and Test K"` look like the right place for the tutorial/tests, but I'm not sure if haskell should be cleaned up later...

[2022-03-17 16:27] radumereuta commented on #2481
We could consider doing something custom for building definitions, but we have to maintain it.
Alternatives: ninja, basel, cmake
If we generate such config files, might be hard to debug if something goes wrong.
We would like to have more options for measuring performance.
Other ideas: have all the command line options in a JSON which we will pass as arguments to the build system.

[2022-03-17 16:29] radumereuta commented on #2482
Find the step that introduces these names. Make sure we don't have collisions with the existing variables.

[2022-03-17 17:52] radumereuta commented on #2477
@dwightguth you weren't in the meeting, and we could use your input on this.
Do we need backend support to implement this feature?

[2022-03-17 18:10] dwightguth commented on #2477
Yes, you are going to need backend support in order to implement this. Right now the symbol is implemented by means of creating a new function that performs the matching and returns a boolean, but there is no way to propagate the binding out of the function and back to the original rule with this approach. You will have to actually implement native support for this symbol in the backend if you wan

[2022-03-17 19:35] ehildenb commented on #2483
The "Build and Test K" stage is what's populating the directories in `k-distribution`. The packaging stuff is created by "Build Debian Package" step, in the call to `dpkg-buildpackage`. Both of these steps are inside the "Build on Ubuntu Bionic" stage. I think if you just add a `post` step to that "Build on Ubuntu Bionic" stage that cleans up everything, that should be good enough.

We could also

[2022-03-17 21:42] SchmErik opened #2488 "[Bug] kompile should allow macro productions on hooked sort"
Description
-----------
The current implementation of macros on productions does not allow macro productions on hooked sorts.
Code like this:
[code]
would result in errors like this:
[code]

However, `"LABEL"` in this case is not a constructor but a term that would be translated to `4` during compilation so this error is not applicable to productions that are macros. `kompile` needs to be fixed to

[2022-03-17 22:59] JKTKops commented on #2477
By "boolean" I presume you mean an LLVM `i1` and not a K `Bool`?

In that case, does the LLVM backend already have some matching function (generator, possibly) for regular matches that produces a structure with binding information? I'd think it would be possible to use the same method used for regular matches and treat the results the same way a regular side condition is treated in the decision tr

[2022-03-18 18:24] ehildenb opened #2490 "Rename kprovex => kprove, kprove => kprove-legacy"
- [x] KEVM defaults to kprovex: https://github.com/runtimeverification/evm-semantics/blob/master/kevm#L349
- [x] KAVM only uses kprovex: https://github.com/runtimeverification/avm-semantics/blob/master/kavm#L137
- [x] KMichelson still uses kprove: https://github.com/runtimeverification/michelson-semantics/blob/master/kmich#L61
- [x] KWasm still uses kprove: https://github.com/runtimeverification/w

[2022-03-18 19:17] ehildenb opened #2491 "[kprovex] - Allow equational claim specification modules"
The main design components are:

- [x] Frontend supports encoding functional claims directly.
- [ ] runtimeverification/haskell-backend#3010

[2022-03-19 01:44] #2483 closed, assigned to gtrepta

[2022-03-20 13:34] Fri3ndHacker opened #2494 "Hi"
https://github.com/k0shk0sh/cloen

[2022-03-20 16:48] #2494 closed, assigned to nobody

[2022-03-21 03:52] yanliu18 opened #2495 "[K User Manual] - Adding command line options of using K"
Description
-----------
It is good to add instructions (including command line options, settings) about how to run K, with regard to kompile, krun, kprove etc..

From the training materials, these instructions are scatter here and there. It is good to gather them in the manual, being the single place to look for.

Here is an example ([ Section 6.6 in the ProVerif user manual](https://bblanche.gitl

[2022-03-21 09:08] ana-pantilie commented on #2491
I believe we'll need a separate tool for this. `kore-match-disjunctions` isn't optimized for this sort of simplification.

[2022-03-21 09:14] ana-pantilie commented on #2491
I think it would be better to not make `kore-check-implication` depend on `kore-simplify`. `kore-check-implication` should take care of all the simplification it needs to do itself.

`kore-simplify` should just expose the backend's (now internal) simplification routine for users as well.

[2022-03-21 12:51] ehildenb commented on #2491
`kore-check-implication` wouldn't depend on `kore-simplify` though, they would both be used by frontend tools in tandem:

- If `kprovex` sees that it's dealing with a non-functional claim (a regular reachability claim), it passes it off to `kore-exec` or `kore-repl`, as it does currently.
- If `kprovex` see that it's dealing with a functional claim (not a reachability claim), it will:
  - Use `kor

[2022-03-21 13:11] ana-pantilie commented on #2491
This would be my preferred approach as well.

[2022-03-21 14:05] ehildenb commented on #2491
I've update the diagram to reflect this @ana-pantilie , please have another look.

[2022-03-21 14:13] ehildenb commented on #2491
And we need to confirm that for a functional claim like this:

[code]

where the patterns `LHS` and `RHS` are `function` patterns and are in the same sort, that `(LHS #And REQ) #Implies (RHS #And ENS)` is something mathematically meaningful. Would a better translation be `{(LHS #And REQ) #Equals (RHS #And ENS)}`, which enforces taht they are _the same_ set? Or should it be the _subset_ relationshi

[2022-03-21 15:32] dwightguth commented on #2477
I mean, the llvm backend represents the Bool type as an `i1`, but yes, I do mean a native boolean. You might be right that we could just modify the decision tree generator to be aware of the binding symbol and directly bind the variables during matching. That's probably simpler than what I had in mind, but it is contingent on having an explicit guard syntax on sentences rather than trying to treat

[2022-03-21 17:44] #2478 closed, assigned to gtrepta

[2022-03-22 00:14] virgil-serbanuta commented on #2491
So, I'm a bit confused. By "functional claims" you mean claims involving function equalities, i.e. claims that would prove simplification rules like `rule len(L:List) >=Int 0 => true [simplification]`? And LHS would be `len(L:List) >=Int 0` and RHS would be `true`?

I'll assume that this is the case.

TL/DR - You may prefer different trade-offs, but I think that you should actually try to prove so

[2022-03-22 17:03] ehildenb opened #2499 "`predicate` attribute"
Currently if you look at compiled.txt and definition.kore, you end up seeing some `predicate` attributes in the generated files on the `isSort(...)` function definitions.

As far as I know, this is only used for OCaml backend. Either it should be removed entirely from the codebase and not generated, or it should be documented in USER_MANUAL.md.

[2022-03-22 17:44] Baltoli commented on #2495
This speaks to a larger issue I discussed briefly with @ehildenb today - I'd like to produce an analogous document to `USER_MANUAL.md` that explains how to use the ancillary K tooling most effectively. My initial motivation for this was finding a place to house the documentation for the binary KORE format and related tools.

[2022-03-22 18:05] #2488 closed, assigned to nobody

[2022-03-23 01:03] yanliu18 commented on #2495
Great. Well, it could be quite some effort composing a comprehensive guide of how to use K.
Maybe we can start with a K cheat sheet, like [the github one](https://education.github.com/git-cheat-sheet-education.pdf).
I think a cheat sheet would be good enough for K beginners.
I can help wth initialising the cheat sheet (though my knowledge about using K is pretty limited:)).

[2022-03-23 01:46] ehildenb commented on #2491
The uses I see for functional claims are:

- Show that a given simplification holds (usually the given simplification doesn't hold initially, and you want to add lemmas which make it hold),
- Show that a given boolean predicate simplifies to false (same as the first case, just special case of it being a boolean predicate, so more flexibility about what goes in `LHS` and what goes in `REQ/ENS`), an

[2022-03-23 14:54] virgil-serbanuta commented on #2491
Ok, just making sure that this didn't get lost in the original message:

My guess is that the `runLemma(_) => doneLemma(_)` approach will be able to prove things like `(K |-> V M:Map)[K] => V` without having `notBool K in_keys(M)` as a side condition.

Also, would `runLemma(_) => doneLemma(_)` be able to prove stuff like `length(L:List) >= 0`, where `length` is defined recursively in the obvious w

[2022-03-23 17:53] ehildenb commented on #2491
Another use of `kore-simplify` is program equivalence in the same programming language (for example, for compiler optimization). @JKTKops suggested a use where he needs to show that two different ways of representing the same program are the same.

Given a programming language `L` and two different initial states `S1` and `S2`, we can do:

- `krun S1` to get `S1_FINAL`
- `krun S2` to get `S2_FINAL

[2022-03-24 09:57] Baltoli opened #2503 "[Bug] `krun` pretty-printing breaks on Apple M1 K"
This issue was raised in the K public channel by `lucach`:

The observed output is:
[code]

Because the Homebrew prefix is in `/opt`, I'm pretty sure that this is an Apple M1 machine (hence why a serious memory error in the LLVM backend wasn't identified by CI).

[2022-03-24 15:27] lucach commented on #2503
It's indeed `arm64`, Apple Silicon.

Verbose output:

[code]

It's (almost) the latest version:
[code]

Let me know if there is something more I should run to help.

[2022-03-24 16:11] radumereuta commented on #2490
Might need to adjust things in the test harness:
- rename kprovex -> kprove in the K repo and the semantics repo.
- check Makefiles and configuration files

[2022-03-24 16:20] radumereuta commented on #2491
The front end needs to be responsible for transforming semantic claims and function claims into their respective kore representation.
We want to send everything to the backend to avoid the overhead of loading the definition multiple times.
The backend is responsible for detecting the difference between the two types of claims and dealing with them accordingly.

@ehildenb please update the diagram

[2022-03-24 16:33] radumereuta commented on #2495
We could update the https://kframework.org/ page to include such a cheat sheet for dealing with the K tools.
Have a single page with Tutorial and different subpages with PL and K tutorial.
Another page with the Documentation:
  - K Language manual and another
  - K tooling manual (diagram developed by @ehildenb) (@Baltoli can you please update the info about GDB)

[2022-03-24 16:34] Baltoli opened #2507 "Add LLVM backend to infrastructure diagram"
We should expand the LLVM backend section of the tools diagram to cover the LLVM backend tools (and GDB etc.)

[2022-03-24 17:20] tothtamas28 opened #2508 "Reorganize pyk distribution"
* Move `k-distribution/src/main/scripts/lib/pyk` to `pyk`
* Install `pyk` in distributed Docker images
* Add `pyk/README.md` with installation instructions

[2022-03-24 17:58] ehildenb opened #2511 "Frontend allows `claim` rules to be functional"
Currently we allow functional and semantics rules, but only semantic claims.

The frontend should allow functional claims, and use the same encoding used for `simplification` rules when sending them to the backend.

Part of: https://github.com/runtimeverification/k/issues/2491

We can make this encoding happen before having backend support, so that they have something to work with. Then after back

[2022-03-24 18:05] ehildenb commented on #2511
Dropping this one in favor of https://github.com/runtimeverification/k/issues/2491

[2022-03-24 18:05] #2511 closed, assigned to nobody

[2022-03-24 18:06] ehildenb commented on #2491
We can move forward with frontend support immediately, and allow the backend to catch up.

[2022-03-24 23:21] #2325 closed, assigned to radumereuta

[2022-03-25 11:34] radumereuta opened #2514 "K version bump feature list (5.4.0)"
Updated up to: 7ea23b1fdb8e1cbc51d64cd55d56e12d5c0b0c4a

- Features:
  - https://github.com/runtimeverification/k/pull/2567
  - https://github.com/runtimeverification/k/pull/2517
  - https://github.com/runtimeverification/k/pull/2551
  - https://github.com/runtimeverification/k/pull/2579
  - https://github.com/runtimeverification/k/pull/2566
  - https://github.com/runtimeverification/k/pull/2614

[2022-03-25 13:53] tothtamas28 opened #2515 "Organize pyk tests"
- Move things from `tests/` directory into `src/` directory.
- Two different types of tests, unit tests (do not require a built K), integration tests (do not require a K build). Make it easier to run each target separately and list them separately.

[2022-03-25 17:34] #2508 closed, assigned to tothtamas28

[2022-03-25 17:44] tothtamas28 commented on #2515
Fixed in #2513

[2022-03-25 17:44] #2515 closed, assigned to tothtamas28

[2022-03-27 08:15] Null019910 opened #2518 "Null.0.0.0.0 Advanced micro Google advanced security. Administrator advanced security engineer."
Pinterest

[2022-03-28 08:14] #2518 closed, assigned to nobody

[2022-03-28 08:20] Baltoli opened #2519 "Generate binary KORE directly from bison"
The binary KORE pipeline still has one step where textual KORE is required - parsing a program from surface syntax into a KORE term requires the use of `--gen-glr-bison-parser` and the corresponding `parser_SORT` executable.

Currently, this isn't a big bottleneck (as the motivating example from the C semantics comes from the concatenation of several individual terms into a single translation unit

[2022-03-28 09:06] Fri3ndHacker opened #2520 "Gi"
https://github.com/Magic-Mask-Repo/migrate/commit/fca71295f9cdb4f1d64cfbb85e8b77b134e4a162

[2022-03-28 09:08] #2520 closed, assigned to nobody

[2022-03-28 09:15] Fri3ndHacker opened #2521 "058da5655b5d31553c0fe0737008e5bed081a5c9"
https://github.com/Magisk-Modules-Alt-Repo/migrate/commit/058da5655b5d31553c0fe0737008e5bed081a5c9

[2022-03-28 10:01] #2521 closed, assigned to nobody

[2022-03-28 12:26] tothtamas28 opened #2522 "[Bug] [kast] - `ArrayIndexOutOfBoundsException` on term with top-level `#And`"
K Version
---------

[code]

Description
-----------

`kast` fails with `ArrayIndexOutOfBoundsException` on term with top-level `#And`.

Input Files
-----------

`example.k`:

[code]

`term.json`:

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

Expected output:

[code]

Actual output:

[code]

[2022-03-28 13:10] radumereuta commented on #2520
@ehildenb can you delete this?

[2022-03-28 13:11] radumereuta commented on #2521
@ehildenb can you delete this and ban this person?

[2022-03-28 13:14] Baltoli commented on #2503
@lucach I'm looking into this, and the problem seems to be specific to the Homebrew installation of K. I'm not yet sure exactly why this is, but for now I _think_ you should be able to get the example working by [building + installing K from source following the documentation here](https://github.com/runtimeverification/k#build-and-install-guide).

It would be great if you could try the following

[2022-03-28 15:50] Baltoli commented on #2503
This seems to be some kind of code generation bug[^1] in LLVM 12 that's fixed in version 13; I'll bump the version in the Homebrew formula. The version I built from source seemed to be working because I was using LLVM 13 as my default version there.

We've seen weird code generation issues on this platform before so if upgrading the version fixes the problem, it's probably not worth spending loads

[2022-03-28 15:56] lucach commented on #2503
Just finished building everything from scratch on my machine and I can confirm it works now (after having re-`kompile`d). I indeed used LLVM 13. Thanks for digging @Baltoli !

(BTW: I think that homebrew also builds locally, given that the `mvn` step takes 20 mins on a quite performant machine).

[2022-03-28 15:59] Baltoli commented on #2503
Homebrew does indeed build locally; it does a couple of steps _very_ slightly differently to the build instructions and I wanted to make sure there wasn't anything stranger going on. We hope to be able to offer M1 CI infrastructure (including bottled ARM releases) in the future to avoid having to build from scratch every time!

Do let us know if you run into any further issues or would like more h

[2022-03-28 16:28] amelieled commented on #2499
The `predicate` attribute is present in KAST file (compiled.txt) but not in Kore file (definition.kore).
For the Dedukti backend, it will be useful to add the `predicate` attribute in Kore file too.
I use it to sort axioms, and I feel that the `predicate` attribute has the same status as the `projection` or `initializer` attributes.

[2022-03-28 21:06] radumereuta opened #2523 "Performance issue caused by #2502"
These changes #2502 add a significant time penalty on EVM specs.
Testing method, the EVM semantics:
cmd:
[code]
Before:
[code]
After:
[code]
Notice the Backend has massively increased even though it's a dry-run.
I haven't investigated further.
I'm documenting this for now.
@theo25 you worked on this. Can you confirm the regression? I had a quick look at the code and I can't spot anything obvious.

[2022-03-28 21:56] dwightguth commented on #2523
Please ignore my earlier comment, I misunderstood the nature of the issue in question.

[2022-03-29 08:30] lucach commented on #2503
I tried to reinstall it with homebrew and now it works smoothly. I think we can close this, thanks for looking into it!

[2022-03-29 08:31] #2503 closed, assigned to Baltoli

[2022-03-29 09:13] #2507 closed, assigned to Baltoli

[2022-03-29 12:56] #2447 closed, assigned to tothtamas28

[2022-03-29 14:41] #2444 closed, assigned to nobody

[2022-03-29 16:49] ehildenb opened #2525 "Add `--bug-report` option for frontend"
The Haskell backend supports a very useful option called `--bug-report`, which makes it easy to present that team with reproducible examples.

We should also have a `--bug-report` option for the frontend tools `kprove` and `krun`, which:

- Collects all the input files needed to run the given program.
- Collects the original command-line invocation to run to reproduce the same issue on a clean che

[2022-03-29 16:53] radumereuta commented on #2525
One problem though. We search for files in multiple locations. Required files can have relative and absolute paths.
This could get messy.
The haskell backend can easily do that because it takes as input one or two files.

[2022-03-29 17:08] dwightguth commented on #2525
I mean, this isn't a substitute for properly minimizing issues though. I don't think we should be encouraging people to report bugs that aren't minimized, and I don't see an effective way to provide this functionality that won't lead to that outcome.

[2022-03-29 17:15] dwightguth commented on #2525
Like, I recognize the desire to make things easier to report bugs, but this is actually one of those cases where we will be more productive as a company as a whole if we optimize for the time it takes to fix the bug instead of the time it takes to report the bug. That's because there are a number of people who report bugs who the cost of reporting bugs can be amortized over, but there are only a f

[2022-03-29 17:25] radumereuta commented on #2525
Not to mention that we would be encouraging people to report a bug when they make a mistake.
Many times, when I start minimizing an example I realize I missed something and it was my fault the entire time.

[2022-03-29 18:45] #2482 closed, assigned to radumereuta

[2022-03-29 21:41] theo25 commented on #2523
@radumereuta I am trying to reproduce this. Could you tell me what command are you using to kompile the erc20 definition? I used `make tests/specs/erc20/verification/haskell/verification-kompiled/timestamp` and when I run the `kprovex` command you posted I am getting this error message:
[code]

[2022-03-30 04:34] Null019910 opened #2528 "g.English good bye_ C0.y I'll use it for you"
g.
- [ ] Coco Mc
Aalborg kneel @William mansky_

[2022-03-30 04:38] Null019910 commented on #2528
@cos might be out of town for a while
66 mm BB y

[2022-03-30 09:05] #2528 closed, assigned to nobody

[2022-03-30 09:11] radumereuta commented on #2523
If you are running it from inside the editor, then you need to disable that error message. To do that, comment these two lines:
https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/parser/ParserUtils.java#L227
Lines: 227 and 228.
[code]

[2022-03-30 20:00] theo25 commented on #2523
Thank you for the pointer! I was able to reproduce this, indeed I see an ~10x slowdown in the timing of the backend.

[2022-03-30 22:34] theo25 commented on #2523
@radumereuta Here is the diff in the generated KORE for the EVM semantics definition before and after the change in #2502:

[code]

There are additional symbols and axioms for the two cells with map type and star multiplicity in the definition (`<account>` and `<message>`). But the new symbols and rules are not really used anywhere in the definition, since the case where they would be used (i.e. h

[2022-03-31 21:54] radumereuta commented on #2523
@theo25 notice that I ran kprovex with `--dry-run`. The slowdown only happens in the front end.
Somehow, the calculation for the new check is not very efficient or is using some steps that take a lot of time.

[2022-04-02 19:11] Instein98 commented on #1419
[code]
`kompile` got this error during compilation. Could anyone please tell me how to fix the imp.k?
I've tried to change the `.Bag` to `.` (just like the code in [tutorial README](https://github.com/runtimeverification/k/blob/master/k-distribution/pl-tutorial/1_k/4_imp%2B%2B/lesson_6/README.md)). However, I had another error:
[code]

[2022-04-08 09:16] ColmBhandal opened #2533 "Fork/Join Example for Tutorial Lesson 1_basic/17_cell_multiplicity"
It would be useful to have an example of a program to pass to ``krun`` based on ``module LESSON-17-B`` in the following tutorial lesson: [17_cell_multiplicity](https://github.com/runtimeverification/k/tree/master/k-distribution/k-tutorial/1_basic/17_cell_multiplicity). The proposed example would be a program with roughly this behaviour:

1. Program starts with a single thread i.e. a single ``<thre

[2022-04-08 09:18] ColmBhandal commented on #2533
Happy to open a PR with the above changes from the Gist applied to the ``README.md`` file.

[2022-04-08 10:15] Baltoli opened #2534 "M1 K build is broken"
There seems to be a recent breakage to GHC / Stack on macOS M1 that prevents K from building properly. Some comment threads that might be relevant:
* https://github.com/commercialhaskell/stack/issues/5617
* https://github.com/commercialhaskell/stack/pull/5562

[2022-04-12 12:15] tothtamas28 opened #2536 "Add kompile feature to pyk.ktool"
This can be done on two levels:

1. A function `kompile` that does some simple validation on its parameters, then invokes `kompile` as a subprocess.
2. A class, perhaps `Kompiler`, that fixes some `kompile` parameters, and wraps a `KDefinition` to transparently manage its recompilation on modification. It can expose methods like `add_sentence` that mutate the wrapped `KDefinition`.

[2022-04-12 21:59] theo25 commented on #2523
@radumereuta I have a potential fix here https://github.com/runtimeverification/k/pull/2537. I have tested it and I find that the regression goes away with the fix. Could you try to reproduce this?

[2022-04-13 15:56] Baltoli opened #2539 "Investigate Z3 upgrade"
The current version of Z3 (4.8.11) does not perform well in some situations; we should investigate a global upgrade to see if there's a better-performing version that's correct across all our usages.

As we did in #2307, the downstream semantics need to be bumped and tested first before K itself can be updated.

[2022-04-14 05:45] #2523 closed, assigned to theo25

[2022-04-14 09:16] tothtamas28 commented on #1302
This improvement would make it easier to handle multi-definition projects both manually and with scripts. From a UX perspective, directly pointing to the kompiled directory feels more intuitive. The constraint on `--directory` (i.e. that is should contain exactly one folder with name matching `*-kompiled`) seems unnecessarily restrictive.

[2022-04-14 12:48] ColmBhandal opened #2541 "[KIP] - K Online Scratchpad/Notebooks/IDE"
Expose an online "k-scratchpad" (or an online IDE / Notebooks environment) that one can visit within their browser and immediately start writing / compiling / running ``K`` code. There are various levels of sophistication possible. The most basic idea is just a scratchpad allowing someone to write/compile/run ``K`` code through their browser.

More advanced feature ideas:

1. The ability to save &

[2022-04-14 13:30] ana-pantilie opened #2576 "Better distinction between stuck backend and crashed backend"
Whenever the backend crashes, the first message the user sees is the final configuration, and only after scrolling up they can see the particular error log. This can be confusing because the user might not be aware that the backend actually crashed, and the backend couldn't continue execution due to the error and not because of some problem the user can fix in the semantics/spec.

[2022-04-14 15:14] radumereuta commented on #2533
Yes. Please open a PR. We can look into more details there.

[2022-04-14 15:22] radumereuta commented on #1302
Add a new option. The new flag should override the old behavior.
The old flag could issue a warning to deprecate it.
Suggestion: `--output, -o`

[2022-04-14 15:28] radumereuta commented on #2541
We would like to do something like this eventually. It's a large task though and we're not sure when we're going to have the resources for it.

[2022-04-14 15:39] tothtamas28 commented on #1302
I guess eventually this new convention will propagate to other K tools as well. There, you will have a flag like `--kompiled-dir` or similar. Maybe this more explicit name could be used for `kompile` as well so that the concept has the same name for all the tools (as in the case of `--directory`).

[2022-04-14 16:12] ana-pantilie commented on #2576
@sskeirik
- investigate differences in exit codes
- one-line error message at the end explaining the cause of the issue

[2022-04-14 18:39] radumereuta commented on #2522
Can you tell me how you got the json file?
One of the problems is we're trying to pretty print a json file that is not exactly valid.
`#And` is a parametric production, but that's not reflected in the json file.

[2022-04-14 18:40] ehildenb commented on #2541
I put this back on the board as a large task. I'll look at it with @shd101wyy . We have something like this for the prover, we could look at making that a bit more flexible and allowing for any of our tools in some limited capacity.

Also, @tothtamas28 is developing the `kit` tool, which should be able to help with this.

[2022-04-14 18:44] ehildenb commented on #2541
We could call it "KlayGround".

[2022-04-15 01:28] MirceaS commented on #2541
Just wanted to give this a +1 from me since I would also love to see this becoming a thing!

[2022-04-15 14:54] tothtamas28 commented on #2522
This example has been manually constructed for https://github.com/runtimeverification/ksummarize/issues/42.

What would the valid json look like? I'd like to try running `kast` with the correct input.

[2022-04-15 17:59] ColmBhandal commented on #2541
Not a long-term idea or anything, but just as a POC I created a very basic pair of services that would allow someone to access ``K`` commands through their browser, via an interactive terminal:

https://github.com/ColmBhandal/kwetty

Not sure how it would work with multiple users logging in or anything. ATM it's just configured with one user people can use to log in over SSH.

Don't have it deploy

[2022-04-16 21:13] ehildenb opened #2543 "[kompile|kprovex] Simplify rules ahead of time"
In KEVM proofs over large bytecodes, the backend spends quite a bit of time on the initial simplification of the configuration, in particular in parsing the input bytecode and calling `#computeValidJumpDests`.

[code]

Once this simplification happens, it seems that the large concrete set/byte-array stored don't have as significant algorithmic overhead, just the initial simplification (no hard dat

[2022-04-18 15:44] #2533 closed, assigned to nobody

[2022-04-19 08:03] ColmBhandal opened #2547 "01_basic Tutorial Navigation Improvement"
Many of the lessons in the [K Tutorial](https://kframework.org/k-distribution/k-tutorial/1_basic/) refer to previous lessons. For example, in [lesson 18](https://kframework.org/k-distribution/k-tutorial/1_basic/18_equality_and_conditionals/), exercise 2, there is a back-reference to lesson 16:

However, on the tutorial site hosted at [kframework.org](https://kframework.org/k-distribution/k-tutoria

[2022-04-19 09:16] ana-pantilie commented on #2576
From @ChristianoBraga
[code]

[2022-04-19 09:32] radumereuta opened #2548 "Kompile/kprove doesn't complain about bad command line arguments"
Talking to @tothtamas28 we got to the conclusion that one way to improve the usability of K is to have a better CLI
For example, if you give a bad argument, kompile/kprove is not going to complain, and it's going to send that argument to the backend.

Maybe we can find a better way to send arguments to the backend and have the front end sanitize its arguments.

Another solution would be to make su

[2022-04-19 09:46] radumereuta commented on #2576
One way to improve the visibility of error messages from the backend is to pretty print labels by calling something like:
https://github.com/runtimeverification/k/blob/master/kore/src/main/java/org/kframework/utils/StringUtil.java#L674

[2022-04-19 10:17] ana-pantilie commented on #2576
Moving this back to triage because it needs discussing in the K dev meeting.

[2022-04-19 12:49] tothtamas28 commented on #2536
Relevant discussion: https://github.com/runtimeverification/k/pull/2538#discussion_r850738230

[2022-04-19 15:11] radumereuta commented on #2522
Turns out this is a duplicate of #1509
Still unsure how to fix this.

[2022-04-19 15:21] dwightguth commented on #2548
It's fairly normal for command line arguments that are passthroughs to other sets of options to be validated by the tool they are ultimately passed to. I don't think we should try to change that. I'm a little unclear about your example though as that would seem to be a flag passed to the frontend and I don't see how that would end up being passed to the backend. I would think that the frontend arg

[2022-04-19 16:16] #2499 closed, assigned to radumereuta

[2022-04-19 16:46] radumereuta commented on #2548
You are correct. I got confused by `-ccopt` options used by kompile to send to the llvm backend.
But in the case mentioned above, kompile completes without any complaint. Which is a problem.

[2022-04-19 18:49] SchmErik commented on #2171
notes for myself: the underlying issue here is that there are multiple initKCell rules. We need to add a check to ensure that a configuration cell only has one initialization rule associated with that cell.

[2022-04-21 15:07] radumereuta commented on #2547
@shd101wyy how hard is it to do something automatic for this?

[2022-04-21 15:17] radumereuta commented on #1302
-o, --output-kdir
--input-kdir

[2022-04-21 15:23] radumereuta commented on #2522
Maybe find a solution that works if they don't have parametric labels.
If they have parametric labels, use a structure instead of plain text.
Basically, find a solution that works in both cases.

[2022-04-21 16:43] nishantjr commented on #1302
I think I like `--kompiled-dir` best. Its obvious what it does (I think `kdir` is less obvious), and no tool had both input and output directories.

[2022-04-21 16:47] radumereuta commented on #1302
If we want to implement something like incremental kompilation then we need separate options.
I remember starting to work on something like that and got stuck right away because the options were too intertwined.

[2022-04-21 17:21] dwightguth commented on #2099
I'm going to pick up this task. It's probably going to have to involve a complete rewrite of the parser kernel used for inner parsing. I won't merge anything that's not at least as efficient as the current approach however.

[2022-04-21 17:35] radumereuta commented on #2099
To avoid the complete rewrite of the parser kernel, we could just avoid the problem in the grammar generation phase.
Instead of sending `syntax Exps ::= Exps "," Exp` rewrite it to `syntax Exps ::= Exp "," Exps` and have a post processing step that rearranges the elements in the list.

I postponed this task though because the type inferencer influence on parsing time was far greater than the impro

[2022-04-21 18:28] nishantjr commented on #1302
So for incremental compilation, we'd need to specify both `--input-kdir` and `--output-kdir`, then delete the original one once we're done? @radumereuta ?

[2022-04-21 19:25] dwightguth commented on #2099
It's greater in most cases, but the worst case time is still quite significant for some rules. The goal here isn't to make the overall time better in most cases, it's to guard against pathological rules taking a really long time without making the implementation any slower. It also will allow us to not have to put parentheses around really long associative lists, which is a trap that has ensnared

[2022-04-21 20:00] radumereuta commented on #1302
Not delete it, but create a new one.
We had this requirement in one of the definitions we ship as a package and therefore is read only.
In any case, I think it's a good idea to have them separate.

[2022-04-22 11:45] #2539 closed, assigned to Baltoli

[2022-04-22 12:20] Baltoli commented on #2548
It turns out that we actually _do_ rely on extra options being silently dropped in some places. In my [preliminary PR](https://github.com/runtimeverification/k/pull/2557), the CI fails with the following error:
[code]

[2022-04-22 12:30] Baltoli commented on #2548
[Here](https://github.com/runtimeverification/k/blob/c1e1e080aad596779c69ad0c2ed66095ec783251/pyk/src/pyk/ktool/kprove.py#L113) we can see that pyk constructs a `--backend` argument to `kprovex`.

However, [here](https://github.com/runtimeverification/k/blob/c1e1e080aad596779c69ad0c2ed66095ec783251/kernel/src/main/java/org/kframework/kprovex/KProveFrontEnd.java#L39-L47) we can see that the KProveX

[2022-04-22 15:17] tothtamas28 commented on #2548
I think this can be safely done (@ehildenb, please confirm). I've pushed a commit (9d8397014dec58374a7db89cf29bcd8b53b9a099) with the fix to the PR.

[2022-04-24 15:04] ehildenb opened #2558 "[kompile] Allow removing ACU collection patterns from definition"
Currently we have limited support for ACU collection patterns in K. A backend for K is being built that targets Dedukti, which is a language that does not support ACU collection patterns (or at least, the languages that Dedukti targets do not support them).

So a simple rule like these can be problematic:

[code]

We would want the frontend to translate them to this:

[code]

This could be done in

[2022-04-24 20:32] ehildenb opened #2559 "match returns empty substitution for identity substitution"
Currently, if you do `match(KVariable('X'), KVariable('X'))`, you will get back `FrozenDict({})`, instead of `FrozenDict({'X': KVariable('X')})`.

It's important to get back the later, because if you have some match like `match(KApply('f', [KVariable('X'), KVariable('X')]), KApply('f', [KVariable('X'), intToken(3)]))` (in psuedocode: `match(f(X, X), f(X, 3))`), you want the match to fail when it t

[2022-04-26 14:07] ehildenb commented on #1302
I like `--directoryx`, and eventually deprecate the old one.

[2022-04-26 14:55] dwightguth commented on #1302
Let's not reinvent the wheel here. The flag to specify the output path of a compiler should be -o for output. That's just common convention for compilers.

[2022-04-26 15:13] nishantjr commented on #1302
I like `-o`.

[2022-04-26 17:15] #2559 closed, assigned to nobody

[2022-04-28 08:35] amelieled opened #2564 "[Bug] [kompile] - Implicit import of the module BOOL"
K Version
---------

[code]
K version:    5.2.110
Build date:   Mon Mar 21 00:10:55 CET 2022

Description
-----------
The command `kompile lazy.k` returns the error:
[code]

Input Files
-----------

The file `lazy.k` is:
[code]

Expected Behavior
-----------------

The command `kompile lazy.k` should return nothing.

To fix the problem, you can uncomment the second line (`imports BOOL`).

[2022-04-28 08:53] Baltoli commented on #2564
The problem here is that the strictness attribute desugars to rules that look something like this:
[code]

We should either implicitly import `BOOL` into modules that use strictness annotations as @amelieled suggests, or issue an error to the user that they need to supply their own definition of `_andBool_` etc.

[2022-04-28 10:38] ColmBhandal commented on #2541
I think we should consider Jupyter Notebooks as a platform for this. Here are some advantages to such an approach:

1. Huge community - well supported.
1. Huge community - lots of exposure for ``K``.
1. Feature rich - avoids reinvention of wheel for many things, and that effort instead reduces largely to tweaking various config settings.

To this end, I've hacked together a POC Jupyter Kernel allo

[2022-04-28 11:37] Baltoli commented on #2373
I see that the parser generator acknowledges that this is a limitation in JavaCC:
[code]

@dwightguth is this something that would have been likely to ever have been fixed?

We could also implement a check that files are terminated with a newline; doing so would catch this with a friendlier error message.

[2022-04-28 13:16] #2548 closed, assigned to Baltoli

[2022-04-28 15:06] PumpkinDemo opened #2565 "[Bug] [krun] - libc++abi: terminating with uncaught exception of type std::invalid_argument: Duplicate keys"
K Version
---------

[code]

Description
-----------
The problem is solved already.
Due to the `M => M C |-> Set` and it should be `M => M [C <- Set]`

But could there be some optimization about the error reporting mechanism？

Input Files
-----------
https://gist.github.com/PumpkinDemo/617fb189c7c6ac73760d168752e07960

Reproduction Steps
------------------
Just prepare files like the gist link and

[2022-04-28 15:11] radumereuta commented on #2564
K doesn't work if BOOL is not imported somewhere.
It works if it's imported in the main syntax module or the main semantics module.
One thing to avoid is to taint the program syntax module.

[2022-04-28 15:32] radumereuta commented on #2522
Bump the JSON version and include more information about labels.
Sort parameters for parametric productions.
The other issue is the EXAMPLE module doesn't include the `#And` label directly. Right now it's working because the `#And` label is hardcoded.

[2022-04-28 15:39] radumereuta commented on #1302
Names:
kompile: `-o` `--ouput-definition`
input: `--definition`
If you don't pass these flags, the old behavior stands.
Error if you supply both.

[2022-04-28 15:52] radumereuta commented on #2525
Output a script that works in a similar way to the original issue.
Maybe remove `-I` and add `--no-prelude` since everything is going to be included in one file.
Add a BIG warning that `--bug-report` is not a substitute for minimizing the example.
Include also information about the K version used and Z3 version used. Maybe other dependencies.

[2022-04-28 16:02] radumereuta commented on #2543
Please investigate if the haskell backend can do this simplification with a tool that we can call from kompile.

[2022-04-28 21:33] ChristianoBraga opened #2568 "[KIP] - Add a new hook for hashing K terms"
Motivation
----------

-   Is there a semantics which you are developing which this feature would simplify?

KPlutus - https://github.com/runtimeverification/plutus-core-semantics

-   Is this feature similar to a feature offered by another programming language?

Not that I am aware of.

-   Any other motivation?

It will remove a potential bootleneck at KPlutus that now uses `#unparseKORE` from K

[2022-04-29 00:26] ehildenb commented on #2522
@radumereuta here is where you need to modify `pyk` to make the adjustment and add `params` as a key to a `KApply`. https://github.com/runtimeverification/k/blob/master/pyk/src/pyk/kast.py#L229

You need to modify the `to_dict` and `from_dict` functions to serialize/deserialize the new key too.

@tothtamas28 can help with pyk.

[2022-04-29 08:27] Baltoli commented on #2565
@dwightguth @theo25 This is similar to https://github.com/runtimeverification/llvm-backend/pull/505 (improving error messages for substring hook errors). We could in theory add more information to the error handler here, but it would complicate the code somewhat.

My suggestion is that we just improve the error message text, rather than adding the keys themselves to it. For example:

or something

[2022-04-29 08:47] Baltoli commented on #2565
@PumpkinDemo It's not possible to detect this error at compile or parse time; it's a fundamentally runtime error that occurs because of dynamic behaviours of your program.

To find this type of problem more easily, I recommend the [GDB integration](https://kframework.org/k-distribution/k-tutorial/1_basic/19_debugging/) we have for K.

If I run your example until it crashes, I can navigate to these

[2022-04-29 10:20] ana-pantilie commented on #2543
The backend already simplifies the LHS of rewrite rules and equations at start-up. We could move this to `kompile` inside the `kore-kompile` tool described above, and measure the performance outcome. I would say this is a small task, because the functionality already exists and only needs to be moved to a separate tool. After that, we can try doing other simplification as well.

[2022-04-29 17:54] ana-pantilie commented on #2576
The backend should be returning different exit codes for each case: TODO report table of exit codes and transfer task to frontend.

[2022-04-29 18:46] #1302 closed, assigned to radumereuta

[2022-04-30 04:53] ehildenb opened #2574 "[kprove] intermediate claim modules not included in output of --emit-json-spec"
Given the following K definition:

[code]

You can run the following commands:

[code]

The key here is that we see only one claim (the one from module `TEST-SPEC`), but not the claim from the included module `TEST-INTERMEDIATE`. This is because we are only outputting a single module in JSON. I propose we instead output every module imported by the `--spec-module` but not already included in the `

[2022-05-02 13:30] tothtamas28 opened #2575 "Organize methods for KCFG node creation"
Context: https://github.com/runtimeverification/erc20-verification/pull/425#discussion_r862659454

Potential solutions: in `pyk.kcfg.KCFG`,

* `get_or_create_node(node_id)` (instead of `find_or_create_node`), or
* `create_node(node_id, allow_exists=True)`,
* `get_node(node_id) or create_node(node_id)`.

Something to consider: before creating a node, it probably makes sense to check whether the nod

[2022-05-02 16:11] Baltoli commented on #2490
WASM semantics update: https://github.com/runtimeverification/wasm-semantics/issues/449

[2022-05-02 16:46] ana-pantilie commented on #2576
Exit codes for `kore-exec`:
- passing proof, returning `\\top`: `ExitCode 0`
- stuck proof, returning stuck state: `ExitCode 1`
- backend crashed with uncaught exception: any other exit code

There's one special case here, when the user provides an exit code in the K exit code cell. Maybe the frontend can check if that's the case?

Let me know if you need more information and I'll do some more inv

[2022-05-02 18:46] #2064 closed, assigned to SchmErik

[2022-05-04 08:02] goodlyrottenapple opened #2577 "Nix improvements"
There are a few issues with the nix derivations in this repo, which cause issues when trying to use a K shell in a different project like the [evm-semantics](https://github.com/runtimeverification/evm-semantics). Namely:

* When compiling the EVM semantics repo within a K nix shell, the nix derivation for K should re-export/link the `include` folder from the `llvm-backend` derivation as well as th

[2022-05-04 15:05] Baltoli opened #2578 "[KIP] - Deprecate Ubuntu bionic; support Ubuntu Jammy"
We discussed this a while ago on Slack, and from what I can remember the consensus was that we'd like to support 2 LTS releases of Ubuntu.

Now that 22.04 (Jammy) is out, we should begin the process of investigating the upgrade / deprecation process.

Things we'll need to do:
* [x] Audit projects downstream of K for uses of the bionic docker image, and update them to focal.
* [x] Test K builds etc

[2022-05-05 13:39] radumereuta commented on #2575
@tothtamas28 can you update the description of this issue so we can process it properly in the KDev meeting?

[2022-05-05 13:50] radumereuta commented on #2578
I've updated my desktop to 22.04LTS and it still has quite a few bugs when it comes to normal usage.
K tests run fine without any modifications. There might be some issues with LLVM tough.

[2022-05-05 14:18] radumereuta commented on #2568
Here is the start of the discussion on slack. It has a lot more details about what is needed:
https://runtimeverification.slack.com/archives/C7E701MFG/p1651087319515199
Probably needed for both Haskell and LLVM backends.

[2022-05-05 14:24] radumereuta commented on #2357
We removed the feature that caused the issue.

[2022-05-05 14:24] #2357 closed, assigned to nobody

[2022-05-05 15:05] radumereuta commented on #2577
Waiting on feedback from Sam

[2022-05-05 15:20] radumereuta commented on #2568
Please investigate further what @dwightguth is suggesting in the slack channel.
There might be issues ensuring we have the same implementation in the Haskell and LLVM backends.

[2022-05-05 16:31] goodlyrottenapple commented on #2577
I have a semi workable solution for the issues mentioned above with a few caveats and potential additions, namely:

1) nix does seem to care for submodules within a repo, as evidenced by the use of the custom [`cleanGitSubtree`](https://github.com/ttuegel/nix-lib/blob/main/lib/clean-git-subtree.nix) function, which unfortunately breaks if there are several layers of submodule nesting. Namely, sinc

[2022-05-05 16:52] radumereuta commented on #2577
That would be great!

[2022-05-05 18:21] SchmErik commented on #2568
This issue is an optimization to a solution for creating an environment that maps variable names to terms.

If we create a map from variable names to the terms themselves as @dwightguth suggested, the heap could look like this. Note n, m, and p are variable names and v_1 is a term.
[code]
This blows up the space consumption during program execution because v_1 can be repeated in the heap and some

[2022-05-06 10:15] Baltoli opened #2583 "Incorrect Z3 version in K docker image"
@gtrepta reports on Slack:

I can reproduce this on my machine; we should instead install Z3 4.8.15.

[2022-05-06 15:46] #2565 closed, assigned to Baltoli

[2022-05-06 17:12] ehildenb commented on #2575
Closing in favor of batching this with other upstream changes: https://github.com/runtimeverification/erc20-verification/issues/431

[2022-05-06 17:12] #2575 closed, assigned to nobody

[2022-05-06 23:17] #2583 closed, assigned to Baltoli

[2022-05-09 12:11] Baltoli commented on #2583
Confirmed that as of `runtimeverificationinc/kframework-k:ubuntu-focal-5.3.37`, the version of Z3 installed is `4.8.15`.

[2022-05-09 16:13] dwightguth opened #2587 "[KIP] - `comm` attribute on `simplification` rules"
Motivation
----------

Now that the user can write simplification rules over the `\equals` KORE construct, we frequently find ourselves in situations where we write rules like the following:

[code]

While it might be nice for the backend to recognize these are in fact the same axiom (since equals is commutative), it would be difficult in practice to make the equation matcher in the backend handle

[2022-05-09 17:30] radumereuta commented on #2587
Why only the top level? `+Int` is also commutative?
Why do you have to tag the simplification rule with `comm` when you can already detect that the top level term is comm?

Here are more details about this topic: https://runtimeverification.slack.com/archives/CC360GUTG/p1652111700331299

[2022-05-09 17:43] dwightguth commented on #2587
I suggested only the top because otherwise you might end up with an exponential number of rules generated from a single axiom. I suggested the attribute because we want this to be done intentionally so that the definition doesn't end up with axioms the user didn't expect to be there.

[2022-05-10 11:16] #2577 closed, assigned to goodlyrottenapple

[2022-05-10 16:34] Baltoli commented on #2490
As of https://github.com/runtimeverification/k/pull/2579, `kprove` has been deprecated and we're ready to rename `kprovex`.

This will be a multi-stage process again:
* [x] Rename current `kprovex` script to `kprove` now that the name is available, but keep a shim called `kprovex`.
* [x] Update downstream semantics that call `kprovex` to instead call `kprove`:
    * [x] WASM
    * [x] EVM
    * [x

[2022-05-12 06:58] amelieled opened #2591 "[Bug] [kparse] - Attribute `prec` doesn't work"
K Version
---------

[code]
5.2.110

Description
-----------
The command `kparse` (or `kompile`) doesn't use the attribute `prec` to resolve parsing ambiguities.
With a semantics which defines  `AExp "+" AExp [left, prec(50), seqstrict]` and `AExp "*" AExp [left, prec(42), strict]`, I obtained the following error with the program `20 * 2 + 2`:

[code]

Input Files
-----------

[code]

Expected Beh

[2022-05-12 07:08] Baltoli commented on #2591
The `prec` attribute deals with tokenisation, rather than parsing ambiguities: https://github.com/runtimeverification/k/blob/master/USER_MANUAL.md#prec-attribute

I think you're looking for the `syntax priorities` mechanism instead: https://github.com/runtimeverification/k/blob/master/USER_MANUAL.md#symbol-priority-and-associativity

[2022-05-12 14:50] radumereuta commented on #2591
Bruce is correct here. What you want is this:
[code]
If it fixes your problem, please close the issue.

[2022-05-13 12:42] amelieled commented on #2591
Oh, OK I didn't understand that this attribute only works for regexp! Sorry, and thanks!

[2022-05-16 09:56] Baltoli commented on #2578
* [x] https://github.com/runtimeverification/blockchain-k-plugin/pull/138
* [x] https://github.com/runtimeverification/elrond-semantics/pull/86
* [x] https://github.com/runtimeverification/haskell-backend/pull/3051
* [ ] ~~https://github.com/runtimeverification/iele-semantics~~
    * CI broken on K release
* [ ] ~~https://github.com/runtimeverification/beacon-chain-verification~~
* [ ] ~~https://g

[2022-05-16 13:13] #2591 closed, assigned to nobody

[2022-05-17 16:50] ehildenb opened #2602 "KToken in pyk library should store a KSort, not a str"
Currently KToken class in pyk https://github.com/runtimeverification/k/blob/master/pyk/src/pyk/kast.py#L195

It stores a `sort: str`, and should be storing a `sort: KSort` instead, for proper serialization/deserialization. This is reflected here: https://github.com/runtimeverification/k/blob/master/kore/src/main/scala/org/kframework/kore/ADT.scala#L88

[2022-05-17 19:34] ehildenb opened #2604 "Remove `to_rule` from `KCFG`"
Currently we have `to_rule` in `KCFG`, which we used to be using for all sorts of things.

But over time we've realized that we need more specialized or different routines for turning edges into rules, and in fact only one use of `to_rule` remains, which I plan to remove.

So we should remove `to_rule` which makes the KCFG datastructure more agnostic about what it's storing a control-flow-graph of

[2022-05-17 19:56] ehildenb commented on #2604
I'm not sure if it should be removed or just updated, I have local work wihch uses this slight variation:

[code]

So maybe `proof_obligation_spec` should be upstreamed instead.

[2022-05-18 12:07] tothtamas28 commented on #2604
Depending on how `proof_obligation_spec` is defined on your local branch, this might be very close to how `KCFG.Edge.to_rule` is already implemented, so we might be able to extend the latter to be more flexible.

[2022-05-18 12:45] goodlyrottenapple opened #2607 "Re-work the nix infrastructure"
## Motivation

Nix in it's current stable version on most systems `2.3.*` does not handle git submodules well, i.e. as far as i can tell, there is no way in nix 2.3 to recursively clone all submodules before building a derivation of the current repo. The current nix expression for building the k framework relies on the [ttuegel/nix-lib](https://github.com/ttuegel/nix-lib) library, to ensure nix co

[2022-05-18 13:39] Baltoli commented on #2607
On the points you make regarding keeping the versions in sync, I think the devops job that bumps the submodules can just be modified to keep the niv / flake version in sync.

[2022-05-18 13:43] goodlyrottenapple commented on #2607
Ah perfect. Tho I would also include the CI check to make sure they stay the same across commits to master, because if you were to use the `nix flake lock` or the analogous `niv update` you could accidentaly unlik them until the next submodule update by the CI.

[2022-05-18 14:59] ehildenb opened #2608 "Lift `Subst.unapply(...)` and `extract_subst` to operate over `CTerm`, not `KInner`"

[2022-05-18 15:58] niconaus commented on #2273
I have the same issue. I'm running MacOS 12.1, and K version 5.3.47, build Tue May 17 19:27:28 EDT 2022. Any solution for this issue?

EDIT: Output:

`$ kompile lesson-02-a.k `
`ld: warning: directory not found for option '-L/usr/local/opt/libffi/lib'`
`ld: library not found for -liconv`
`clang-13: error: linker command failed with exit code 1 (use -v to see invocation)`
`[Error] Critical: llvm-ko

[2022-05-18 16:32] dwightguth commented on #2273
This looks like a different issue actually. Are you on an M1 mac? Do you have the libffi and libiconv packages installed?

[2022-05-18 16:34] niconaus commented on #2273
Yes, you are correct. I have installed libffi, and there was an issue where libiconv was not found, but it was installed, which I have now resolved. But now lncurses is not found. Is this a common issue with the K Framework? I am not on M1, I have a regular "old-school" Intel i5 MacBook Pro.

[2022-05-18 22:44] #2602 closed, assigned to tothtamas28

[2022-05-19 15:45] ana-pantilie opened #2612 "[KIP] - Support for symbolic sets"
We need to support symbolic sets in the frontend, similar to the way we support symbolic maps. The frontend should add similar axioms to the ones added here: https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L179.

This needs to be implemented in the frontend first and only then can the changes to the backend be made.

I don't k

[2022-05-19 15:55] ehildenb commented on #2612
@ana-pantilie can you write down the K rules that correspond to these set-definedness conditions? You can likely infer them by inspecting the same ones generated for Map, and specializing them to sets.

This will help the implementor to know what Kore axioms to generate here.

[2022-05-19 23:59] ehildenb commented on #2608
This doesn't necesasily make as much sense as I thought, closing.

[2022-05-19 23:59] #2608 closed, assigned to nobody

[2022-05-24 10:31] jberthold opened #2618 "[Bug] [krun] - crash on missing rule"
K Version
---------

[code]

Description
-----------

`krun` crashed on an evaluation with syntax defined but a missing reduction rule.

Input Files
-----------
File `missing-rule.k`
[code]
Reproduction Steps
------------------
[code]

The above file was the simplest version, other variants that produce the same "crashing" behaviour were
* `syntax Thing ::= "thing" [token]`
* `syntax Int   ::= som

[2022-05-24 12:17] #2522 closed, assigned to radumereuta

[2022-05-24 12:17] #1509 closed, assigned to nobody

[2022-05-25 10:35] Baltoli commented on #2618
The problem here is in `emitGetTagForSymbolName`; if there are no rules to evaluate a function, then the backend fails to look up the internal tag for that function when constructing the initial configuration.

I think we could fix this by changing the semantics of `emitGetTagForSymbolName` to return the maximum possible tag (i.e. `std::numeric_limits<uint32_t>::max()` when lookup fails, instead o

[2022-05-25 12:35] #2578 closed, assigned to Baltoli

[2022-05-25 18:34] dwightguth commented on #2618
I mean, I think we might actually use the tag 2^32-1 already for something or other, so it might need to be adjusted down one or two, but that definitely could work.

[2022-05-25 18:46] #2469 closed, assigned to gtrepta

[2022-05-26 13:41] gtrepta commented on #1949
At some point during the proof parsing, the `parseStringTerm` method in the `ParseInModule` class has an ambiguous node:
[code]
The second element in the node has the intended parsing of `#as`, but it's resolving to the first element, which of course ends up causing the wrong expected sort.

I notice the X variable is inside of a `#SemanticCastToThing`. Does the type inferencer mishandle this?

[2022-05-26 15:20] radumereuta commented on #2618
Because this error happens in the configuration construction phase we have to do something special.
The solution proposed above should be fine for now.

We should also add a front end check to look for functions with no evaluators and give an error message.
TODO: split this issue into two to track the changes to the front end and the backend.

[2022-05-26 15:35] radumereuta commented on #2612
We should update domains.md to include some simplification rules for `Set` functions similar to the ones in `MAP-KORE-SYMBOLIC`

[2022-05-26 15:49] radumereuta opened #2625 "Add a whitelist of attributes"
This would allow us to give better error messages in case of typos.
Add a group attribute that takes a comma separated list of names.
At first it behaves identically to a list of unstructured attributes `[group(foo,bar,baz)]` == `[foo,bar,baz]`. This happens only at parse time. We still need the internal attributes to be structured.
Add a warning for unstructured attributes.
Go downstream and fix

[2022-05-26 18:46] ehildenb opened #2626 "Kore data-structures and parser in pyk"
We eventually want the pyk library to be able to read/write Kore terms directly, and do some small manipulations of them without having to go through frontend Kast. For example, if we are just adding a constraint to a state, or renaming some variables, then there should be no reason to go through frontend Kast.

Additionally, pyk should be able to directly translate Kore => Kast without going thro

[2022-05-26 19:48] ehildenb opened #2627 "Include pyk in debian package"
All uses of pyk currently rely on the git submodule being present. `This is suitable for development, but for packaging we should be deploying actual packages to PyPi.`

- ~[ ] Add an RV account to PyPi.~
- ~[ ] Deploy pyk to PyPi on CI deployments.~
- [ ] Add a line in [here](https://github.com/runtimeverification/k/blob/master/package/package) to build the pyk virtualenv and copy it into `DESTDI

[2022-05-26 22:53] ehildenb opened #2628 "JavaScript library for KAST manipulation"
The tool KLab has a limited JavaScript library for KAST manipulation, but it's not licensed very friendly.

We are now converging on a standard format for manipulating frontend data-structures, which makes it much easier to plug K frontend stuff into other programming languages and libraries and ecosystems. We are already doing this for Python.

It would be very helpful to have a JavaScript librar

[2022-05-27 17:46] ehildenb opened #2631 "Add structure to the pyk prelude"
Blocked on: runtimeverification/pyk#45

- [ ] Introduce python module structure for `pyk.prelude.ml`, `pyk.prelude.bool`, and `pyk.prelude.int`.
- [ ] Move current prelude defintiions in `prelude.py` into these more specific modules.
- [ ] Allows users to import `prelude` module directly, to get everything (by adding an `__init__.py`).

[2022-05-27 19:05] ehildenb commented on #2536
I'm working on replacing the KEVM runner script (kprove and kompile portions) with calls into pyk. I'll add the needed `kompile` features to pyk to achieve this.

[2022-05-27 19:06] ehildenb commented on #2536
https://github.com/runtimeverification/evm-semantics/pull/1258

[2022-05-29 19:25] ehildenb commented on #2626
Ideally actual parsing wouldn't happen in Python I think, but with some hooked parser library that gives back the AST.

Parsing kore does become a significant bottleneck on the C semantics, so we should be performance conscious here.

[2022-05-30 08:14] tothtamas28 commented on #2631
In these modules I think it is OK to deviate from Python naming conventions, and have e.g.

[code]
so that the DSL's look and feel is closer to K, and is also visually separated from glue code.

[2022-05-30 13:16] #2536 closed, assigned to ehildenb

[2022-05-30 14:03] uhbif19 opened #2634 "[Bug] krun - Crashes after successful compilation of incorrect rule"
K Version
---------

[code]

Description
-----------

Using (incorrect, as far as I understand) rule, compiles okay, but crashes on krun.

Getting this error:

[code]

Input Files
-----------

[code]

Full file: https://pastebin.com/xU95uHNd

Reproduction Steps
------------------

kompile then krun file with this rule.

Expected Behavior
-----------------

Rule does not get compiled.

[2022-05-30 14:59] radumereuta commented on #2634
We ran into this issue recently: https://github.com/runtimeverification/k/issues/2565

[2022-05-31 13:36] radumereuta opened #2635 "Nix (macos-11) is slow"
This step usually takes a lot longer than the rest of the steps.
One thing we noticed is we're rebuilding Z3 every time.
Maybe we can have a separate step in here: https://github.com/runtimeverification/k/blob/master/.github/workflows/test.yml
Before `- name: 'Build K Framework'` we could have `-name: 'Fetch from cache'`

Bonus: The Mac build should focus mainly on ensuring we have the right depen

[2022-05-31 13:42] Baltoli opened #2636 "[KIP] - Check for functions with no rules"
As identified in #2618, the frontend will happily send functions with no rules to the backend, which causes a crash when the LLVM backend tries to look up that symbol's tag.

We should add a check to the frontend that ensures any function with no rules _also_ has the `[no-evaluators]` attribute; that way this check can be caught at compile time.

[2022-05-31 13:50] radumereuta commented on #2612
We should also add tests for Sets similar to maps: https://github.com/runtimeverification/k/tree/master/k-distribution/tests/regression-new/map-symbolic-tests

[2022-05-31 13:54] radumereuta commented on #2612
1. ModuleToKore.java needs to be updated
2. domains.md needs to be updated to clone `module MAP-KORE-SYMBOLIC [kore,symbolic]`
3. port the test suite `regression-new/map-symbolic-tests` to work for sets.

[2022-05-31 13:54] Baltoli opened #2637 "[Bug] GDB support on Ubuntu Jammy"
@jberthold identifies that GDB support for K might not work out of the box on Ubuntu Jammy: https://runtimeverification.slack.com/archives/C7E701MFG/p1653962702305949

We should investigate this to see what's going on.

[2022-05-31 17:27] gtrepta commented on #1949
What is the expected sort relation of `_ #as X:Thing`?

It looks like the problem emerges from the z3 statements generated by `ExpectedSortsVisitor`. It's hard for me to parse through, but it looks like it's asserting that `Sort(X) <= Sort(_)`, which is satisfied in this case if `Sort(_) == MyList`. I think it makes sense if the sort relation is `Sort(_) <= Sort(X)`, but it doesn't looks like that

[2022-06-01 08:22] jberthold commented on #2637
Just re-tested this with binary K packages (5.3.67) on two machines which had no K installed or built prior.
`gdb` support works on Ubuntu Focal but not on Ubuntu Jammy, output on Jammy is
[code]
where LINE seems to always be the line of the last rule in the compiled main module.

[2022-06-01 10:53] Baltoli commented on #2637
It seems like with LLVM 14, the debug information isn't being emitted to the interpreter object file correctly. The exception we see here is thrown [here](https://github.com/runtimeverification/llvm-backend/blob/036de597eea7125974539f198714d70974ffa241/gdb/kllvm.py#L363), when the GDB script tries to look up the backend's runtime types.

On Focal / LLVM 12, I can see that references to these types

[2022-06-01 11:02] Baltoli commented on #2637
In GDB on Focal I see (using `stringbuffer` as a more unique grep target; the problem is the same as for `string` above in the original issue):
[code]

On Jammy:
[code]

[2022-06-01 11:07] Baltoli commented on #2637
Interestingly, `lldb` on Jammy is able to look up the types correctly:
[code]

Using `llvm-dwarfdump-{12,14}` to see what's in the files confirms that the information _is_ in fact in the files. The output is verbose so I've not included it here, but you can run:
[code]
and compare the outputs.

[2022-06-01 15:46] radumereuta commented on #1949
I think this is a duplicate of this issue: https://github.com/runtimeverification/k/issues/2219
The problem here is that the type inferencer discards one of the ambiguities when it shouldn't.

In https://github.com/runtimeverification/k/issues/2219 we avoided fixing the underlying issue by adding global priority to `#let #in`

[2022-06-01 17:43] gtrepta commented on #1949
Yes, something I forgot to mention is that it does seem to be dropping the correct term after the wrong one is satisfied. I couldn't tell if that's exactly what the type inferencer is doing though.

[2022-06-02 12:56] denis-bogdanas commented on #2612
@ana-pantilie Is the Haskell backend ready for this change or we need to sync changes both in frontend and backend?

[2022-06-02 14:05] radumereuta commented on #2490
I think this list is outdated.
@Baltoli can you check if this can be closed?

[2022-06-02 15:41] radumereuta commented on #1949
We need to tinker a bit with the soft constraints to force Z3 to generate some `Bottom` value for variables which are left out of the constraint. `Bottom` should be `<=Sort` than all the sorts.
Another issue is when you are invalidating the solution you just got, you force `X` to not be `Thing` and not allowing Z3 to explore the other branches.

Another solution would be to just remove them from Z

[2022-06-02 16:19] radumereuta commented on #2634
This is a limitation of the LLVM backend, and it's hard for the front end to give a proper error message every time.
In this case, using the _map-update_ operator would have been preferred.

[2022-06-02 16:54] denis-bogdanas commented on #2612
@traiansf @ana-pantilie I have 2 questions related to `#Ceil` while working on this issue.
1. How are set variables used in `#Ceil` different from regular rule variables?
2. For symbolic maps, you implemented `#Ceil` rule for map constructor in front-end: https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L548
From what I know th

[2022-06-02 17:13] denis-bogdanas commented on #2612
@ana-pantilie I finished porting the test suite, but didn't implement symbolic rules yet. Almost all tests generate `#Ceil` terms. For example, this claim:
[code]
generates this output:
[code]
Why are `#Ceil` terms generated here? Is this because there's still a custom symbolic sets implementation in Haskell backend? For the equivalent test for symbolic maps no `#Ceil` terms appear in the output.

[2022-06-03 06:27] traiansf commented on #2612
Short story: I don't think you really need `#Ceil` rules for sets, as their operation are always defined (but you might need to annotate those operations as functional).

But since you asked a question, let me try to answer it:

`#Ceil` side conditions are generated for all operations which are not declared to be total (I think it's the `functional` attribute).
In particular, our constructor for m

[2022-06-06 08:40] ana-pantilie commented on #2612
@traiansf Please elaborate, I don't understand how Set operations are always defined. If I build a Set using concat, I still need to generate the definedness conditions for it.

@denis-bogdanas We discussed that the frontend can implement these changes first, because the backend needs them to function correctly on https://github.com/runtimeverification/haskell-backend/pull/3062. If you noticed any

[2022-06-06 08:52] Baltoli commented on #2490
Not quite - I need to see what's breaking the Haskell backend's PR [here](https://github.com/runtimeverification/haskell-backend/pull/3069); once that's merged we can delete `kprovex` and this will be done.

[2022-06-06 11:45] #2453 closed, assigned to nobody

[2022-06-06 14:33] PetarMax opened #2640 "[Bug] [kompile] - Error with seqstrict/context alias in non-main module"
K Version
---------

[code]

Description
-----------

`kompile` reports an error when a module split into syntax and semantics, the former features a rule label used with `seqstrict`, the latter uses the same label with `context alias`, and a different module is designated as the main module.

Origin: [K Basic Tutorial, Chapter 14](https://github.com/runtimeverification/k/tree/master/k-distributio

[2022-06-06 19:46] #2461 closed, assigned to radumereuta

[2022-06-08 08:57] Baltoli commented on #2463
https://github.com/runtimeverification/k/pull/2629

[2022-06-08 09:00] Baltoli commented on #2547
https://github.com/runtimeverification/k/pull/2629

[2022-06-08 09:08] Baltoli commented on #2634
By the way @uhbif19, the reason that you see a message related to _map concatenation_ specifically here is that the line:
[code]
in your example ends up looking something like this internally:
[code]
which is closer to what you can see in #2565.

[2022-06-08 09:22] Baltoli commented on #2618
@theo25 Is this the same as https://github.com/runtimeverification/k/issues/2446?

[2022-06-08 09:23] Baltoli commented on #2636
On https://github.com/runtimeverification/k/issues/2446 (which seems to be a similar issue) @ehildenb suggests that we don't actually need to restrict this at compile time.

[2022-06-08 11:51] PetarMax commented on #2033
- [ ] Lesson 16, Sets: "A set with a variable of sort `Set` also matches any superset of such a set." Should it be: "A set pattern..." instead?

- [ ] Lesson 16, Sets: "As with map, the elements left over will be bound to the `Set` variable (or
`.Set` if no elements are left over)." => "As with map, the elements left over (or
`.Set` if no elements are left over) will be bound to the variable of so

[2022-06-08 20:46] #2547 closed, assigned to shd101wyy

[2022-06-08 22:43] theo25 commented on #2618
It seems so to me.

[2022-06-09 15:10] radumereuta commented on #2637
Try to minimize this and check to see if we need to report this upstream to GDB.
In the short term, we could add support for lldb as an alternative.
Use llvm-reduce to produce a smaller intermediate file.

[2022-06-09 15:13] #2634 closed, assigned to nobody

[2022-06-09 15:19] radumereuta commented on #2618
Let's make it a warning in the front end. Kompilation should go through, and the backend should give an error message depending on what makes sense there.

[2022-06-09 15:26] radumereuta commented on #1949
Dwight has some work that could improve performance for the type inferencer committed here: https://github.com/runtimeverification/k/tree/z3

To profile the time taken by the type inferencer you can use `--profile-rule-parsing <file>` in kompile or kprove. This also disables caching.

[TermCons](https://github.com/runtimeverification/k/blob/master/kore/src/main/scala/org/kframework/parser/treeNode

[2022-06-09 21:53] ehildenb opened #2654 "[Bug] [kprovex] - Not allowing simplification, anywhere rule in spec module"
K Version
---------

[code]

Description
-----------

A `simplification, anywhere` rule is not being allowed in the `--spec-module`. It should be allowed so that the user does not have to call `kompile` again to try out this rule.

Input Files
-----------

File `test.k`:

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The rule should be allowed, and the

[2022-06-10 10:04] radumereuta commented on #2654
This is not a bug, it's a feature you requested: https://github.com/runtimeverification/k/pull/2345#issuecomment-992900736
Anyway, I've made the changes, please have a look.

[2022-06-10 12:55] andreasabel opened #2656 "MacOS/Mojave not supported contrary to release notes"
https://github.com/runtimeverification/k/releases/tag/v5.3.74

However:
[code]

[2022-06-13 15:46] #2654 closed, assigned to radumereuta

[2022-06-14 21:21] gtrepta commented on #2429
What is the term in the spec json expected to be, `KFlatModule` or `KDefinition`?

I noticed `--emit-json-spec` returns a `KFlatModule`, so I started hacking the prover to accept it in `ProofDefinitionBuilder.build`. I ran into a problem though, after running `FlatModule.toModules` on the parsed flat module, a step where `Kompile.structuralChecks` gets called fails with these errors:
[code]

I'm g

[2022-06-16 13:47] radumereuta opened #2661 "Update k-tutorial to include start symbol defaults"
You always get an error when you try to parse a user list because it's not considered as a start symbol.
In lesson 12, if you try to parse `1` you will always have an ambiguity between the single element, and the list with one element.
The start symbol is the sort of $PGM. The default [configuration](https://github.com/runtimeverification/k/blob/master/k-distribution/include/kframework/builtin/kas

[2022-06-16 14:58] gtrepta commented on #1949
I remember @dwightguth mentioning that removing the soft constraints that the type inferencer generates could help with correctness, so I became curious and gave it a try. Doing that fixed the proof above. I expected the performance to suffer, but when I tried to measure it I instead found that the performance improved?

I kompiled KEVM with `--profile-rule-parsing` and summed up the column of tim

[2022-06-16 15:09] radumereuta commented on #2429
Try to see if this fails with this branch: https://github.com/runtimeverification/k/pull/2642

[2022-06-16 15:53] radumereuta commented on #1949
To test the evm semantics I usually add these extra options for proofs in `kevm` script:
[code]
I also like to add `-v` in the `Makefile` for kompile.
How to run the proofs:
[code]
This uses a lot of RAM, so you will need a beefy machine.

[2022-06-17 13:55] radumereuta commented on #2618
We already have a hidden warning for this:
[code]
Should we make it visible since it caused us so many issues? We also invented `no-evaluators` when we already had `unused`

[2022-06-17 14:08] radumereuta opened #2663 "[kompile] `unused` and `no-evaluators` seem to do similar things"
The attributes for syntax `unused` and `no-evaluators` seem to do similar things.
`unused` gives a hidden warning from kompile if it hasn't been used in any rule, in any location.
`no-evaluators` seem to be used mostly by the haskell backend.

@ana-pantilie can we merge them somehow?

Found this issue while working on #2618 and #2446

[2022-06-20 14:30] virgil-serbanuta opened #2668 "[Bug] [kompile] - Crash for mismatched Map element"
K Version
---------

[code]

Description
-----------

When defining a custom Map, if the `element` attribute does not match the actual element symbol, kompile crashes.

Input Files
-----------

bug.k
[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

Kompile should produce a reasonable error message.

[2022-06-20 14:46] radumereuta commented on #2635
Looking over the build log, it looks that we are still rebuilding too much:
[code]
Taken from this PR which changed only some documentation: https://github.com/runtimeverification/k/pull/2665

Another thing which is odd, we're rebuilding K twice. The hash is different but the human readable part is the same.

Probably the Nix Flake stuff should take care of this.

[2022-06-20 14:58] radumereuta commented on #2635
We need to update the `flake.lock` file with the proper revision for each dependency in the automatic pull requests that update the main K repo.

[2022-06-20 19:38] denis-bogdanas commented on #2612
@ana-pantilie Blocked on this issue: https://github.com/runtimeverification/haskell-backend/issues/3107

[2022-06-20 19:52] radumereuta opened #2671 "[kompile] Could not find sorts: [GeneratedTopCell]"
[code]
The kompiler generates at runtime a production `syntax S ::= func(Int) GeneratedTopCell [function]` in order to parse
the rule, but that sort isn't being defined anywhere.
This fails only now because I've used the post processing step. Sort checks are done only when a new definition is being created, not when it's being modified.

[2022-06-21 06:23] ana-pantilie commented on #2663
`no-evaluators` means that the function symbol is _meant_ to not have any rules for evaluating it (rules where it appears specifically at the top). `unused` seems to mean something else, from your description.

[2022-06-21 09:09] radumereuta commented on #2671
The C-semantics has this kind of productions.

[2022-06-21 11:43] radumereuta opened #2672 "Add maven option `clean-java`"
`mvn clean` deletes everything, including the build from the haskell backend and the llvm-backend.
But when working only with Java code, we don't have to clean that part.
I tend to get frequent compilation errors and having to rebuild the backends takes a lot of time.

[2022-06-21 13:56] radumereuta commented on #2671
Or add the syntax declaration for `syntax GeneratedTopCell`
We should re-check the definition at the end to make sure the kompile pipeline still produces a valid definition.

[2022-06-21 23:09] dwightguth opened #2675 "Fix fragile test-pyk tests"
A test that breaks every time the module structure of the K prelude is ever changed is much too fragile; the test needs to be made less fragile so we are not constantly updating output files, completely defeating the purpose of the test.

[2022-06-22 13:11] radumereuta commented on #2675
Which test is that? And what did you do to make it fail?

[2022-06-22 18:29] dwightguth commented on #2675
It was in https://github.com/runtimeverification/k/tree/master/pyk/pyk-tests

[2022-06-22 18:30] dwightguth commented on #2675
The test fails if the module structure of the k prelude is significantly altered in any way, such as by adding an import to a module or splitting one module into two.

[2022-06-23 15:05] radumereuta commented on #2675
We can try and do it with `--no-prelude` to make it more stable to changes to domains.md.
Add a few extra modules to the test to make sure the import structure is stored correctly.

We could also turn it into a python unit test which takes as input dummy modules.
This way we at least test the functionality.

@tothtamas28 do you have time to take a look at this?

[2022-06-23 15:15] #2663 closed, assigned to nobody

[2022-06-23 15:15] radumereuta commented on #2618
Give a warning message for functions with `no-evaluators` in the front-end.
Make sure this can be turned off with some kind of option.

[2022-06-23 15:53] radumereuta commented on #2491
The encoding should be exactly the same as a simplification rule, but make it a claim.

[2022-06-23 16:38] ehildenb commented on #2429
I was planning on passing in `KFlatModule`

[2022-06-24 01:26] #2668 closed, assigned to radumereuta

[2022-06-24 08:05] tothtamas28 commented on #2675
Is this viable? The kompiler seems to require these files to exist:
https://kframework.org/k-distribution/include/kframework/builtin/prelude/

[code]

For now, I will proceed by checking only the subgraph induced by user defined modules, instead of the whole dependency graph.

[2022-06-24 10:57] goodlyrottenapple opened #2681 "[Bug] [kompile] - Replace gcc with clang on mac"
K Version
---------

[code]

Description
-----------

Using `gcc` on Macs is somewhat flaky in general. In this instance, running `tests/regression-new/bad-flags` on Apple M1 fails with
[code]

I have had success replacing `gcc` with `clang` on the M1 in these two places:

https://github.com/runtimeverification/k/blob/7449910b2fabc6d2d704ae13f97e817e5ecb1815/kernel/src/main/java/org/kframework/par

[2022-06-24 11:25] #2671 closed, assigned to radumereuta

[2022-06-27 12:44] #2675 closed, assigned to tothtamas28

[2022-06-27 17:25] #2661 closed, assigned to nwatson22

[2022-06-27 17:29] radumereuta commented on #2490
@Baltoli is this #2622 the final piece of the puzzle?

[2022-06-27 20:50] #2490 closed, assigned to Baltoli

[2022-06-27 20:51] Baltoli commented on #2490
Yes - I've closed the issue as it's all done now.

[2022-06-27 21:51] ehildenb opened #2683 "_|->_ and SetItem (and likely others) maybe should be constructors"
Here: https://github.com/runtimeverification/k/pull/2659/files#r907667239

I've noticed that we are marking things like `_|->_` and `SetItem` as `function, functional`, which doesn't make any sense. These shoudl be constructors. Nice thing about making them constructors is that we get (for free) that (i) they are total, and (ii) they are injective.

[2022-06-27 21:59] dwightguth commented on #2683
Hooks are a property of functions. There is no such thing as a hooked constructor in K, so I'm not entirely sure what you're envisioning here. Of course as in all things this is a decision that can be revisited, but I don't think you fully understand how much is involved in changing this, nor how little, seemingly, we gain from it.

[2022-06-27 22:25] ehildenb commented on #2683
@grosu @xc93 or @virgil-serbanuta we need to know what the difference between a constructor in ML is and an injective total function.

If they have the same axiomatization in ML, then we do not need to make any changes. If they have different axiomatization, then we need to inspect the differences.

My interpretation of these symbols is that they are (free) constructors. But it's unclear if it's n

[2022-06-27 22:44] ehildenb commented on #2683
According to this: https://github.com/runtimeverification/haskell-backend/blob/master/docs/introduction-to-matching-logic.pdf

The symbol defined here has `function, functional, injective`, which means:

- It's defined on all inputs.
- And it satisfies same-constructor no-confusion axiom.

These axioms seem to be satisfied by constructors, so this should be sound.

It still feels strange to me to

[2022-06-28 00:01] virgil-serbanuta commented on #2683
They are not constructors because they don't have the "no junk" property. In order to get that, you need `_Map_`, which does not have the "no confusion" property since `_Map_(A, B) == _Map_(B, A)`.

[2022-06-28 13:19] denis-bogdanas commented on #2612
Partially depends on this issue, there are workarounds: https://github.com/runtimeverification/haskell-backend/issues/3124

[2022-06-28 17:46] ehildenb opened #2687 "[Bug] [kompile] - Reporting a `requires` clause variable as RHS"
K Version
---------

[code]

Actual version: 6f12ca393c

Description
-----------

A variable on the LHS of the rule is being seen as on teh RHS of the rule for the haskell backend.

Input Files
-----------

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

This should kompile just fine for the haskell backend, variables in the `requires` clause should be c

[2022-06-28 17:51] ehildenb commented on #2687
Disabling this line of code fixes this: https://github.com/runtimeverification/k/blob/382a862f0fe5fd1ca00c4c5d187939db2b4b0506/kernel/src/main/java/org/kframework/compile/checks/CheckRHSVariables.java#L111

[2022-06-28 19:05] ehildenb opened #2688 "Forbid `anywhere` attribute on `simplification` rules"
Now that we don't need to put `anywhere` on simplification rules targeting ML predicates, we should forbid this behavior so that lemmas written in this way need to be updated.

Later, if it makes sense, we can un-forbid it.

[2022-06-28 19:17] dwightguth commented on #2688
I don't think it makes sense to allow this; `anywhere` as an attribute is intended to indicate that something is an "anywhere rule", which is essentially a type of axiom over which something constructor-like is defined. The Haskell backend doesn't currently support these, but it doesn't make sense for something to be both an anywhere rule and a simplification rule.

[2022-06-28 21:45] #2681 closed, assigned to radumereuta

[2022-06-29 03:15] #2687 closed, assigned to radumereuta

[2022-06-29 07:54] ana-pantilie commented on #2688
I agree, but what was the limitation before? When was this fixed?

[2022-06-29 12:18] radumereuta commented on #2626
We could use JSON to transfer information from the haskell backend to pyk.
For this, we need the haskell/llvm backends to generate a JSON representation. The initial tests should make sure the identity transformation works for all backends. ([here](https://github.com/runtimeverification/k/commit/4d9f0b2543f83849b437e0aa95a64becee46434f) is an example from the front end)

Here is how the front-end

[2022-06-29 12:46] charala1 commented on #2033
- [ ] The section on `colors` is not clear about the `%c` and `%r` placeholders. Let's add an example
- [ ] The section on code selectors should make it clear that it is meant to be read from source. Critical info is hidden if read from kframework.org on a browser.
- [ ] When reading about `isKResult`, we suddenly encounter the `symbol` attribute with no explanation.
- [ ] https://kframework.org/k

[2022-06-29 16:26] dwightguth commented on #2688
The limitation was that simplification rules would be compiled to kore incorrectly if they didn't have that attribute. I'm reasonably sure that's no longer the case.

[2022-06-30 12:06] goodlyrottenapple commented on #2626
We discussed a potential JSON definition of kore with @jberthold in the Haskell standup today and thought it might be a good idea to use JSON Schema + https://github.com/quicktype/quicktype to automatically generate types and JSON parsers for Haskell, C++, Java and Python.

[2022-06-30 15:52] radumereuta commented on #2387
From Everett:
- Have our tools be 10x faster on symbolic execution
- quickly spin up web interfaces for definitions which would allow people to start 'hacking' with K.
- also lots of libraries so people can make their own scripts

[2022-06-30 18:18] radumereuta commented on #2626
As we discussed today at the KDev meeting, we want to move out in phases:
- pyk library and haskell backend should come up with a version of json-kore that is makes sense in their environment.
- we will compare and make sure we reach a consensus. This should eventually lead to something similar to [textual kore](https://github.com/runtimeverification/haskell-backend/blob/master/docs/kore-syntax.md

[2022-06-30 20:28] ehildenb commented on #2683
They should have no-junk property I think? But they do not have no-confusion. But there is a distinction in initial algebra semantics betwene having them be injective functions or constructors.

Here is an example where the distinction matters: https://github.com/runtimeverification/k/pull/2693#issue-1289523457. When "defunctionalizing" the LHS of rules, we do not want to consider these fnuctions

[2022-06-30 20:32] ehildenb commented on #2683
I would like to keep this open because I don't really see it as resolved. It doesn't need to be actioned on, but I don't want to forget it.

[2022-07-01 13:57] radumereuta commented on #2491
@ehildenb or @JKTKops do you have an example of what such functional claims should look like?
I'm not sure exactly how to detect them.
The good part is, that the changes should be isolated to [ModuleToKORE](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java) only, so it shouldn't be that hard to implement in the front-end.

[2022-07-01 21:42] virgil-serbanuta commented on #2683
About no-junk: I think that at most one of no-junk and no-confusion can be true.

Let's take this map: `1 |-> 2 3 |-> 4` as an example.

For the Map sort, there are two candidates for the set of constructors:
1. `.Map` and `_ |-> _` --- the map above can't be constructed with them, so the no-junk property is false.
2. `.Map`, `_ |-> _` and `_ _`. In this case, no-junk is true, but `_ _(1 |-> 2, 3

[2022-07-04 17:23] #2604 closed, assigned to nobody

[2022-07-04 17:23] ehildenb commented on #2604
This was not a good idea, `to_rule` is a good thing.

[2022-07-04 23:16] ehildenb opened #2703 "Display suggestions for KCFG printer"
- [x] Substitutions on abstraction edges should be displayed as Maps, not as ML constraints. Otherwise you get constraints which look like `X #Equals f(X)`, which seems to imply some fixed-point of `f` being computed, when actually what's meant is "replace `X` with `f(X)`".
- [x] I would move the constraint display to _after_ the node instead of before it on branches. Maybe even on the same line i

[2022-07-05 08:16] ana-pantilie commented on #2491
@radumereuta I'd imagine they look exactly like a simplification rule only that instead of `rule` you have to use the `claim` keyword.

I have a question, related more to the design of this feature. I assume this will be mostly used to create tests for simplification rules, and less for actually proving the rules themselves in a general sense? If people are interested in the second (and it makes s

[2022-07-05 12:06] jberthold commented on #2626
@tothtamas28 I have implemented a JSON format for _patterns_ alongside the "textual kore" description. The [Json schema is here](https://github.com/runtimeverification/haskell-backend/pull/3131/files#diff-4bf2d0a62a49b8ccfe0b66ed7607f89193836062f505c4157dac26c5c167eaa5) but please consider the Haskell code in case of doubt.
Hope we can talk about this proposal tomorrow in the meeting.
here is a ra

[2022-07-05 12:08] Baltoli commented on #2463
https://kframework.org/k-distribution/k-tutorial/ - this seems to be fixed now.

[2022-07-05 12:08] #2463 closed, assigned to nobody

[2022-07-07 11:28] charala1 opened #2707 "K Tutorial on literate programming needs to be viewed from source"
Viewed on a browser, the section doesn't make sense because tags aren't visible. We need to either
a) make it explicit that it should be viewed from source (and include a link), or
b) fix what the user sees and forget about the file itself being correct in terms of being parse-able

Here is what it currently looks like: https://kframework.org/k-distribution/k-tutorial/1_basic/08_literate_programmi

[2022-07-07 14:01] PetarMax opened #2709 "[Bug] [kompile] - Compilation fails for simplifications with #Exists on right-hand side"
K Version
---------

[code]

Description
-----------

Compilation fails for either of the following two simplification, which have the Matching-Logic `#Exists` on right-hand side:

[code]

Input Files
-----------

File `exists-simpl.k`, version 1:
[code]

File `exists-simpl.k`, version 2:
[code]

Reproduction Steps
------------------

Run: `kompile exists-simpl.k --backend haskell`

For version 1:

[2022-07-07 16:02] ehildenb commented on #2627
We can call it `kframework` on PyPi, so people can do `pip install kframework`. Or `lib-kframework` or `kframework-pyk` or something.

No need to commit to `pyk` name.

[2022-07-08 17:10] radumereuta commented on #2709
Offending check is in [ModuleToKORE](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L943)
Is there something special about `#Exists_._` that these checks should pay more attention to?

[2022-07-09 15:56] ehildenb commented on #2703
![Screenshot from 2022-07-09 09-55-15](https://user-images.githubusercontent.com/12721972/178113182-7e627c98-2d1a-45bd-b508-009e5f46540e.png)

Example diff-output that should be much smaller, but because our sorting is dependent on node-hashes and the node-hashes changed, then the sub-tree order changed.

Another option would be to sort substrees to display by the contents of their edges, so use t

[2022-07-09 16:15] nishantjr opened #2715 "KCFG should display output in a somewhat stable order even when hashes change"
Everett:

[2022-07-09 16:21] ehildenb commented on #2715
Another option for sorting is lexicographically by the constraint. It would be visually random, but would be stable as long a the branching structure of the graph doesn't change.

[2022-07-10 21:21] PetarMax commented on #2709
I'm not sure how to answer that. Perhaps that, unlike other `?X`-type existentials, `#Exists` introduces the existential explicitly before using it?

[2022-07-11 09:42] radumereuta commented on #2709
I was hoping to get the opinion of @traiansf since he is the original developer of that check.
Or at least @ehildenb or @dwightguth.

[2022-07-11 10:05] PetarMax commented on #2709
Yes, definitely, I'm curious as well, I'm not quite understanding what's happening and why/why not.

[2022-07-11 10:07] goodlyrottenapple opened #2718 "[nix] Keep haskell-backend and llvm-backend flake inputs in sync with submodules"
We need to add the following to the script which updates the haskell/llvm submodules and pushes to master:

[code]

@F-WRunTime not sure where exactly we update and push the submodules?

[2022-07-11 10:16] radumereuta commented on #2718
Is this the one? https://github.com/runtimeverification/devops/blob/master/update-deps.sh
You might need to explore the entire repo though. The dependency graph seems to reside [here](https://github.com/runtimeverification/devops/tree/master/deps/runtimeverification).

[2022-07-11 10:24] goodlyrottenapple commented on #2718
Yeah, I think `update-deps.sh` is the one: https://github.com/runtimeverification/devops/blob/f27618641a4eb4fcc7195cca730814639c38fe37/update-deps.sh#L68

Not sure if `rv_jenkins` is set up with `nix` atm tho.

[2022-07-11 19:36] F-WRunTime opened #2720 "Reduce 'k' Dockerfile Complexity to use a common dockerfile stored in devops-actions"

[2022-07-11 19:57] goodlyrottenapple commented on #2720
would it be worth consolidating the effort from nix and building the docker images from nix? e.g. https://thewagner.net/blog/2021/02/25/building-container-images-with-nix/

[2022-07-11 20:12] F-WRunTime commented on #2720
Interseting. Closing as duplicate of another issue in 'k' repository

[2022-07-11 20:12] #2720 closed, assigned to nobody

[2022-07-11 20:44] #2656 closed, assigned to Baltoli

[2022-07-12 02:57] askunix commented on #1580
A frustrating side note on std::quick_exit() and std::at_quick_exit() functions. They are still unimplemented in macOS's libc even after several years. Also there is a possible vulnerability in the C++ standard, where it states you can safely call std::quick_exit() from a signal handler, but it doesn't state the functions that are registered by std::at_quick_exit() must also meet the same requirem

[2022-07-12 06:54] traiansf commented on #2709
The rationale for disabling `?` variables in equations was to prevent them being used by mistake in a function definition rule, as usually that would make the function non-functional. That is why the suggested alternative was to explicitly use #Exists instead.
Unfortunately, that conflicts with another check in [CheckRHSVariables](https://github.com/runtimeverification/k/blob/ab1b32ac19a05a57e8f52

[2022-07-12 11:00] PetarMax commented on #2709
My guess is that it should be fine to add explicit RHS-existentials to `unboundVariables`, but I don't have enough experience to properly assess and I'm not sure how big of a change that would be. Since it wasn't allowed until now, nothing should break?

[2022-07-12 15:35] PetarMax commented on #2709
Update: I've tried

```rule { C:Constant #Equals { C }:>Int } => #Exists I. { C #Equals I:Int } [simplification, unboundVariables(I)]```

and I get an error:

[code]

Attaching the bug report...
[kore-exec.tar.gz](https://github.com/runtimeverification/k/files/9094577/kore-exec.tar.gz)

[2022-07-12 15:38] radumereuta commented on #2709
Can you post the front-end input?
I'd like to have a look at the entire pipeline.

[2022-07-13 11:49] radumereuta commented on #2626
We could use this set of tests https://github.com/runtimeverification/haskell-backend/tree/master/test/parser
as a starting point for testing the JSON conversion. It contains lots of simple corner cases.
Most importantly is to make sure the round trip test works for both Haskell and PYK library.

[2022-07-13 17:19] radumereuta commented on #2387
### Mid-year progress:
**K**
 - improving support for Apple silicon (in progress) (Bruce, Sam)
 - remove the Ocaml backend (Dwight)
 - improve scanner caching (Dwight)
 - improve error messages (Bruce, Erik, Radu, Dwight...)
   - print source lines in error messages
   - report wrong parameters sent to kompile
   - new hires had a big role in updating the tutorial and documentation
 - improvements

[2022-07-14 06:45] jberthold commented on #2626
https://github.com/runtimeverification/haskell-backend/issues/3145#issuecomment-1183938504 :
Unfortunately all test data files in `test/parser` contain _entire modules_ instead of simply _patterns_. I have implemented a way to extract all patterns from modules into a _json array_ of patterns so we can still work with the files.

[2022-07-14 10:42] goodlyrottenapple opened #2726 "[nix] - Enable a subset of the `regression-new` tests for the CI"
We should enable these tests in the CI: https://github.com/runtimeverification/k/tree/master/k-distribution/tests/regression-new
However, the full test suite takes too long to be ran on every commit, so we either only enable it for e.g. release or only run some core subset on every push... or ideally both?

[2022-07-14 12:17] radumereuta commented on #2558
@tothtamas28 can you come up with a skeleton script that does some sort of transformation to the rules described above.
This will be called by `kompile --post-process <script.py>` and it expects the JSON file at stdout.

[2022-07-14 12:29] radumereuta commented on #2726
Running regression-new takes 2 minutes on my machine. (32 threads) Running all the tests should take ~5min. At most 10min. That includes the pl-tutorial, and the k-exercises.
Why do you say it takes too long?
Are you sure you are running the `kserver` before running the tests? That improves the time spent ~3X.

[2022-07-14 12:31] goodlyrottenapple commented on #2726
no, running the `kserver` setup in the CI environment has not been investigated.

[2022-07-14 13:53] radumereuta commented on #2726
You can take a look at how Jenkins is using it: https://github.com/runtimeverification/k/blob/master/Jenkinsfile#L77

[2022-07-14 15:05] radumereuta opened #2727 "Update code owner files"
We should add more code owners to the K repo so we don't depend on one person.

[2022-07-14 15:27] radumereuta commented on #2726
Please double check if this is actually an issue.
We should strive to have tests for each repo that will catch errors as soon as possible.

[2022-07-14 15:30] radumereuta commented on #2718
This might be a potential solution: https://github.com/runtimeverification/evm-semantics/pull/1274

[2022-07-14 15:36] radumereuta commented on #2707
@shd101wyy can we do something in the web interface?

[2022-07-15 15:15] tothtamas28 commented on #2558
Created a PR for it: #2729

[2022-07-15 16:21] nishantjr commented on #2715
Fixed in https://github.com/runtimeverification/k/pull/2725

[2022-07-15 16:21] #2715 closed, assigned to nobody

[2022-07-15 16:22] nishantjr commented on #2703
Fixed in https://github.com/runtimeverification/k/pull/2725 and https://github.com/runtimeverification/k/pull/2714

[2022-07-15 16:22] #2703 closed, assigned to nishantjr

[2022-07-16 09:49] tothtamas28 opened #2730 "Better handling of post-processing script path"
Suppose we want to run `kompile` with post-processing. Assume the following directory layout:

[code]

Kompilation is successful if we give an absolute path to the post-processing script:

[code]

However, kompilation fails if we provide a relative path:

[code]

For the user, the directory pointed to in the error message is not informative. The path where `kompile` tried to look for the script sh

[2022-07-16 11:01] tothtamas28 opened #2731 "Allow post-processing scripts to log to `kompile`'s `stderr`"
Consider the following simple script `process.sh`:

[code]

and some well-formed K definition `test.k`. When `kompile` is called as

[code]

the output is empty.

Consider redirecting the post-processing script's `stderr` to `kompile`'s `stderr`. This provides better user experience, and allows easier debugging.

[2022-07-18 19:27] radumereuta commented on #2731
We should discuss this.
Right now we do output stdout and stderr if we get an `exit code != 0`, and we do the same in different places.
[code]

[2022-07-19 10:44] #2688 closed, assigned to Baltoli

[2022-07-19 11:32] radumereuta commented on #2730
[code]
I think we already have the correct behavior.
Your script is local, so if you want to run it with a relative path, then you have to specify it with `./<my-local-script>`
If you add your script to `PATH`, then it's going to work the way you want it.

[2022-07-19 12:20] tothtamas28 commented on #2730
:facepalm: Right, forgot the dot. Closing this issue.

[2022-07-19 12:20] #2730 closed, assigned to nobody

[2022-07-19 16:22] #2460 closed, assigned to Baltoli

[2022-07-19 19:52] ehildenb commented on #2574
This is now blocking the Foundry verification project.

[2022-07-20 20:59] ehildenb commented on #2587
Another use: https://github.com/runtimeverification/evm-semantics/pull/1270/files#r926049105

This would be very nice for reducing chances of fat-finger mistakes or typos.

[2022-07-21 13:22] radumereuta opened #2739 "PYK library drop the tabulate dependency"
Right now the latest LTS version of Ubuntu is 22.04 which comes by default with python3.10.
The pyk library only works with python3.8.
Even `python3.8.13+` fails because it requires `tabulate==0.8.10`
Ideally, the makefiles should be more flexible and not call for a specific version.