[2022-07-21 15:14] radumereuta commented on #2739
We might be able to remove tabulate since it's being used only to display the table of performance measurments on the haskell backend. We could write our own function if it's too complicated to use tabulate.
If it's too hard to support python3.10, we can just have better instructions on how to make it work on ubuntu 22.04, but we want to support it eventually.
We might want to deploy to PyPi https

[2022-07-21 15:33] radumereuta commented on #2627
We might not need virtualenv for deployments. We can discuss this after the first iteration.

[2022-07-21 15:37] radumereuta commented on #2739
`python3.8.10` should pass tests.

[2022-07-21 15:41] radumereuta commented on #2727
Add Everett to the list of codeowners for the builtins directory.

[2022-07-21 15:52] radumereuta commented on #2731
- We should have a standard error message for subprocess failure.
case 1: output when the output of the subprocess matters.
case 2: the output is in a file.

- We should link the stderr of the subprocess to the main process.
- `--verbose` in K should also pass it on to the subprocess. Either discard it or handle it in a meaningful way.

[2022-07-21 16:06] goodlyrottenapple commented on #2635
Closing. This has been fixed by correctly caching builds in the cachix cache, which was not functional in github actions in this repo. Any further specific improvements to the nix build speed should have a new issue.

[2022-07-21 16:06] #2635 closed, assigned to goodlyrottenapple

[2022-07-21 16:11] goodlyrottenapple commented on #2607
Perhaps we should close this issue now? Flakes have been deployed to k, llvm and haskell backends. There are of course lots of specific improvements, but those may be outside of the scope of this original issue.

[2022-07-22 07:45] #2626 closed, assigned to jberthold, tothtamas28

[2022-07-22 15:45] #2739 closed, assigned to tothtamas28

[2022-07-25 06:07] ehildenb opened #2745 "Structured bug report templates"
Our issue templates can be improved. Look at Foundry's: https://github.com/foundry-rs/foundry/issues/new?assignees=&labels=T-bug&template=BUG-FORM.yml

We can similarly have a structured input form for issues.
- [x] front end
- [x] haskell backend (@ana-pantilie )
- [x] llvm backend

[2022-07-25 12:10] radumereuta commented on #2739
Thank you @tothtamas28
I am now able to run the tests with python3.8.13+
The lowest version I am able to build on Ubuntu22.04 w/o any issues.

[2022-07-25 13:08] radumereuta commented on #2727
The proper fix would be to create a team with Everett and Dwight in it and add that team as a codeowner.

[2022-07-25 14:55] #2727 closed, assigned to nobody

[2022-07-25 21:17] #2574 closed, assigned to radumereuta

[2022-07-27 10:37] ana-pantilie opened #2750 "[Bug] [kompile] - simplification rules for constructors shouldn't be allowed"
K Version
---------

[code]

Description
-----------

`kompile` succesfully kompiles the definition.

Input Files
-----------

File `test.k`:
[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

The frontend should error when encountering simplification rules with constructor symbols at the top.

[2022-07-27 11:41] radumereuta commented on #2750
We should add back this test: https://github.com/runtimeverification/k/pull/2711/files#diff-487106080746c9047c18b3addae0c79a7a377a2e1c517ac087bfd17eecf38b7eL455
But more refined. We should allow `function`, `functional`, and matching logic connectives like `#Equals`, `#Ceil` which are tagged with `mlOp`. The backend should give an error message for things that are not supported yet.

[2022-07-27 13:21] radumereuta commented on #2558
@tothtamas28 can we close this now?

[2022-07-27 14:53] radumereuta commented on #2618
This requires too much time to get right.
I think the error message returned by the backend should suffice for now.
Please reopen if it is a problem in the future.

[2022-07-27 14:53] #2618 closed, assigned to radumereuta

[2022-07-27 14:53] radumereuta commented on #2446
This requires too much time to get right.
I think the error message returned by the backend should suffice for now.
Please reopen if it is a problem in the future.

[2022-07-27 14:53] #2446 closed, assigned to radumereuta

[2022-07-28 08:47] tothtamas28 commented on #2558
If we decide not to implement this, then I think so:

[2022-07-28 13:43] goodlyrottenapple commented on #2726
Running these on the public runners would take too long. Perhaps if we migrate Jenkins to Github workflows, re-opening this might make sense.

[2022-07-28 13:43] #2726 closed, assigned to nobody

[2022-07-28 15:44] radumereuta opened #2755 "Update the USERMANUAL with info about how to do rule profiling in the LLVM backend"
This could be useful for profiling the Plutus semantics
@ChristianoBraga and @gtrepta can you have a look into this?

[2022-07-28 15:47] radumereuta commented on #2429
No longer a priority since we have the JSON RPC

[2022-07-29 16:46] #2750 closed, assigned to radumereuta

[2022-07-30 05:37] ehildenb opened #2762 "[Bug] pyk and kast disagree on kore terms"
K Version
---------

[code]

Actually version e72bb80786 with some modifications to pyk.

Description
-----------

`pyk` is writing a Kore term to text that the Frontend does not want to parse.

Input Files
-----------

File `test.k`:

[code]

File `test1.kore`:

[code]

File `test2.kore`:

[code]

Reproduction Steps
------------------

Kompile the definition:

[code]

Kast the first file:

[code]

[2022-08-01 16:02] radumereuta opened #2764 "[doc] include a Cheat Sheet for useful commands - restructure documentation?"
We should include a list of useful commands somewhere in kframework.org

[code]
Thanks to @ovatman ^
We should consider the structure of the documentation in the K repo as well.
Maybe add a `/doc` directory which could include the `USER_MANUAL.md` and this file. We could consider adding the `k-tutorial` and the `pl-tutorial` as well.

[2022-08-01 19:45] ehildenb opened #2765 "[Bug] [pyk prove] - Crashes on empty rule-log"
K Version
---------

[code]

Description
-----------

`pyk` rule productivity measurements trigger a potential division by 0 when no rules are applied. Here (https://github.com/runtimeverification/k/blob/master/pyk/src/pyk/ktool/kprove.py#L230) we do a division that could be zero on the denominator (for a proof that takes zero steps, for example). So we should handle this case more gracefully.

[2022-08-02 14:18] #2762 closed, assigned to radumereuta

[2022-08-03 18:13] ehildenb opened #2770 "[kompile] Add option for post-processing the kore output"
Currently we have `--post-process`, which happens after Kompile pipeline, and before ModuleToKORE.

pyk now supports Kore data-structures directly, and parsing/unparsing of them. So we can also easily have `--post-process-kore` option, which passes the Kore through an external program and then reads it back in. This would enable things like this: https://github.com/runtimeverification/k/pull/2768,

[2022-08-03 18:15] radumereuta commented on #2770
But do we need a `-post-process-kore` option?
You just call a script after kompile finishes that modifies the `definition.kore` file.

[2022-08-03 18:21] ehildenb commented on #2770
True, would be for smoother integration I suppose. Also because after the definition is generated, then the haskell backend validation routines are called on it. So we probably want to validate the post-processed definition, not the pre-processed version, to double-check that the user isn't doing anything that breaks assumptions about Kore.

[2022-08-03 19:32] ChristianoBraga commented on #2755
# Profiling your K semantics

## General instructions
_(This is this [post](https://runtimeverification.slack.com/archives/C7E701MFG/p1578937371082200), by @dwightguth, with minor changes in prose and formatting.)_

1. The first thing to be aware of is in order to get meaningful data, you need to build the semantics and all of its dependencies with optimizations enabled but _without the frame poin

[2022-08-03 21:09] ehildenb commented on #2755
Thank you :) It looks very nice.

[2022-08-04 16:47] #2587 closed, assigned to radumereuta

[2022-08-04 16:58] radumereuta opened #2774 "`comm` attribute is being ignored on llvm and Haskell backends"
- [x] change the front end - @radumereuta
- [ ] change the Haskell Backend - @ana-pantilie
- [ ] change the LLVM Backend - @dwightguth

Simplification rules annotated with the `comm` attribute in the Haskell backend are being [ignored](https://github.com/runtimeverification/haskell-backend/blob/b06757e252ee01fdd5ab8f07de2910711997d845/kore/src/Kore/Equation/Registry.hs#L125-L142)
Likely the LLVM b

[2022-08-04 17:13] dwightguth commented on #2774
I mean, if we wanted to we could probably just not emit those axioms in the frontend since they are not, as I said, being used. I believe the original intent was for them to be used during proof object generation, but that's a good ways away from being at all relevant.

Alternately, we could just give the old use of the comm attribute a different name, like `commutativity` or something.

[2022-08-04 17:20] radumereuta commented on #2774
Right now the front end generates only two of those axioms: for `_Set_` and for `_Map_`, but as you say, if they're not being used, we could use a different keyword and disable this code path. But let's see how this PR behaves further.

[2022-08-05 14:47] ehildenb opened #2775 "List Dedukti backend on our active projects page"
https://gitlab.com/semantiko/K-semantics

This backend for K enables translating K into other logical formalisms like Coq, and it's working for real-world languages!

We should get the author's permission first, but it would be cool to list this on our active projects page, and perhaps on RV Research page.

[2022-08-06 04:55] ehildenb opened #2776 "[Bug] [kast] - Dies with bad error message when passed non-existent sort"
K Version
---------

[code]

Description
-----------

Calling `kast --sort ...` with a sort that doesn't exist causes crash with no useful error message.

Input Files
-----------

File `test.k`:

[code]

File `add.aexp`:

[code]

Reproduction Steps
------------------

`kompile` and then call `kast` on a sort that doesn't exist (`Foo`):

[code]

Expected Behavior
-----------------

`kast` should pr

[2022-08-06 04:56] ehildenb commented on #2776
This is not blocking, was just very difficult to debug.

[2022-08-07 18:19] ehildenb opened #2780 "kore-expand-macros takes a long time to do nothing"
In KEVM, we can run the script in 2 modes, (i) where we are invoking the `krun` frontend (https://github.com/runtimeverification/evm-semantics/blob/master/kevm#L117), and (ii) where we are directly invoking the `interpreter` binary (https://github.com/runtimeverification/evm-semantics/blob/master/kevm#L231). This is because it used to be that `krun` was calling the Java frontend, and we wanted to

[2022-08-07 18:29] ehildenb commented on #2780
This isn't blocking anything, I can use option `--no-expand-macros`. Just figure we should identify the performance issue here.

[2022-08-08 13:32] Baltoli commented on #2780
I found a bit of low-hanging fruit [here](https://github.com/runtimeverification/llvm-backend/pull/543); this took the running time from 2m30 to 1m54 on my machine.

There are macros in the definition you provide, so we can't elide the macro expansion step completely without walking the entire input term to check it doesn't use any (_you_ know this because you generated the term, of course). I thi

[2022-08-08 13:55] radumereuta commented on #2776
I had a look and this can easily be fixed by adding a test in [ParseInModule](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/parser/inner/ParseInModule.java#L219), or [KRead](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/parser/KRead.java#L54) or [CompiledDefinition](https://github.com/runtimeverification/k/blob/m

[2022-08-08 14:51] Baltoli opened #2782 "Docker instructions on release pages are wrong"
We suggest that:

This hasn't been true for nearly a year and a half:
[code]

We should either remove this instruction, or resume tagging a master build of K to our docker registry.

[2022-08-08 15:04] ehildenb commented on #2780
The LLVM backend can surely do this macro expansion faster? Is the reason it's slow because we're using a separate less-standard rewriting for this macro expander? Is it possible to use the LLVM backend directly (like kompile a definition for it to consume?)

[2022-08-08 15:13] Baltoli commented on #2780
Yes, sorry for not expanding on what I meant by a "more substantial redesign" - the macro expansion is done at the AST level, rather than on runtime terms. This is why there's so much overhead compared to actually executing terms; it's essentially a tree-walk interpreter for a different semantics of the definition.

Conceptually I _think_ you could work out a way to compile that semantics to somet

[2022-08-08 15:42] dwightguth commented on #2780
I mean, conceptually, we can't do better than linear in the size of the input term. That being said, if the input term contains no productions over which macros have been defined, it ought to basically just walk the term once and do nothing. Is it doing substantially more work than that currently?

[2022-08-08 15:49] Baltoli commented on #2780
It's `O(size of term * number of macros)` currently.

For each node in the AST, it iterates through the list of macros and checks whether they've been applied yet (or are recursive), then tries to match the current node against the LHS of the macro and apply the RHS with the resulting substitution if possible.

[2022-08-08 15:53] dwightguth commented on #2780
Okay. We ought to be able to do better than that. Why don't we preprocess the axioms to generate a set of symbols that have macros associated with them, and then skip testing the axioms if the symbol we're currently at isn't in the set.

[2022-08-08 15:53] ehildenb commented on #2780
I guess it should probably be something more like `O(size of term * log(number of macros))` at most (should be very quickly able to decide "no macros apply at this position" using a simple bloom filter).

Are we using the exact same code that LLVM backend uses for applying `anywhere` rules? Because if not, I guess that would be faster.

[2022-08-08 15:54] dwightguth commented on #2780
@ehildenb we are using a very different code path for macros, but it would be nontrivial to change. I don't think it's worth trying until we see if we can effectively optimize the current code path.

[2022-08-08 16:11] Baltoli commented on #2780
Yes, the problem is the current `O(no. of macros)` logic for determining "no macros apply here". Let me take a look at optimising that a bit and see where I can get it to.

[2022-08-08 19:43] ovatman commented on #2033
- [ ] Lesson 15: I found it hard to understand what is being requested in Lesson 15's exercise 1 (in terms of syntax). I had a couple of guesses and I tried each of my guesses but it would be really helpful if a syntactical example like "false; 3 / 5 reset; -7 / -2" is provided for the exercise.
- [ ] Lesson 19: In Lesson 19 example `lesson-19-b.k` putting a breakpoint at line 9 didn't work for me

[2022-08-09 03:46] #2765 closed, assigned to ehildenb

[2022-08-09 11:26] Baltoli commented on #2637
I've done some more investigation into this, and I suspect that the problem is in the way that we're doing debug codegen [here](https://github.com/runtimeverification/llvm-backend/blob/master/lib/codegen/Debug.cpp). On Jammy, _no_ type information except the explicitly-added `.debug_pubtypes` section is available in the generated executable. This means that no types declared in the runtime library

[2022-08-09 14:00] ana-pantilie commented on #2709
What's wrong with having `rule lhs(X) => rhs(X, ?Y) requires req(X) ensures ens(X, ?Y) [simplification]` translated to
[code]

Ideally, we'd also support writing the ML version in K, without using that `unboundVariables` attribute. We should just take care to not combine ML syntax with question mark variables.

Now that we support simplification rules on other constructs like `#Equals` (and other

[2022-08-09 14:37] ehildenb commented on #2709
I think the "free variable checker" probably has a  bug. `#Exists X . f(X)` should not consider `X` to be a free variable, so the free variable on RHS checker shouldn't care about it.

[2022-08-09 15:48] Baltoli commented on #2637
It's a bit tricky to do because of the dependencies between the bits of debug information that we're emitting, but the problem does seem to be that emitting our own debug information causes the _existing_ debug information to get trampled for some reason.

You can verify this by looking at the output of `info functions` for a Focal / Jammy interpreter binary respectively. On Focal, the backend run

[2022-08-09 16:13] dwightguth commented on #2637
@Baltoli is it possible that the metadata we emit about the debug information is incorrect on Jammy somehow?

[2022-08-09 16:14] dwightguth commented on #2637
You might want to compare the global metadata we emit to the global metadata emitted by clang.

[2022-08-10 07:51] Baltoli opened #2791 "Print `llvm-kompile` invocation in verbose / debug mode"
It's useful to be able to quickly see how the frontend is invoking the LLVM backend (e.g. in combination with `--save-temps` to fiddle with part of the compilation process).

The implementation for this is simple - we can just print the collected arguments out [here](https://github.com/runtimeverification/k/blob/42ce9be9b2e2f1bdf37a6f734bc77f542954df8a/llvm-backend/src/main/java/org/kframework/bac

[2022-08-10 15:41] #2637 closed, assigned to Baltoli

[2022-08-10 20:48] ehildenb opened #2796 "kast: allow parsing using the Rule grammar"
Currently `kast` will not allow direct parsing using the rule grammar.

I'd propose a new flag `kast --rule-grammar`, which allows using the full rule-grammar parser from the command-line.

This is needed for the pyk library, because we need to parse expressions like `N:Int ==Int 3`, or `<k> foo => bar </k>`.

We still want to specify the sorts for these parses, we just want the grammar from rule

[2022-08-11 11:18] radumereuta commented on #2791
Other options: `--dry-run`, but also `-v`. See below the behavior for `kprove`:
[code]

[2022-08-11 11:28] Baltoli commented on #2791
I think adding an "executing: ..." line to `-v` is what makes the most sense here.

[2022-08-11 12:09] radumereuta commented on #2791
We should also make it so that `--debug` keeps the temp files. And those temp files should be located in the `.kompile-*` temp dir.
If they are not already. But this is optional.

[2022-08-11 14:24] radumereuta commented on #2775
Take care of this here: #2514

[2022-08-11 14:49] radumereuta commented on #2755
@ChristianoBraga can you also make a PR and update https://github.com/runtimeverification/k/blob/master/USER_MANUAL.md
with this info?

[2022-08-11 15:15] radumereuta commented on #2774
We should try to use `commutativity` as Dwight suggested and change the front end and the backends together so we don't miss functionality. We should try to keep the `comm` attribute on the new productions and simplification rules.

@dwightguth please point out where in the LLVM backend we need to make changes.

[2022-08-11 15:15] dwightguth commented on #2774
LLVM backend needs to be changed in two places:

* https://github.com/runtimeverification/llvm-backend/blob/master/matching/src/main/scala/org/kframework/backend/llvm/matching/Parser.scala#L141
* https://github.com/runtimeverification/llvm-backend/blob/master/lib/ast/AST.cpp#L1185

This is not a hard change; I would suggest whoever is working on the frontend also do the backends.

@ana-pantilie I

[2022-08-11 15:20] ehildenb opened #2797 "Remove `--disable-ceil-simplification-rules` flag"
This flag was introduced as a hack to avoid a pathalogical case in the haskell backend where it spends quite a bit of time on simplifying Ceil conditions.

We should remove this flag once the backend has a more principled way of handling this pathological case.

[2022-08-11 15:24] radumereuta commented on #2776
Try to check in the KastFronEnd maybe tests will pass this way.

[2022-08-11 15:27] ana-pantilie commented on #2774
The backend should parse the `Comm` attribute as true for both `"comm"` and the new version (`"commutativity"`?) here: https://github.com/runtimeverification/haskell-backend/blob/e0580ec3a1ecfb05b0e8e2730cc16c9adfd6a6f5/kore/src/Kore/Attribute/Comm.hs#L50. After the frontend is changed, the attribute should be renamed to `Commutativity` instead.

[2022-08-11 15:27] radumereuta commented on #2755
Should be close to this section: https://github.com/runtimeverification/k/blob/master/USER_MANUAL.md#debugging

[2022-08-11 15:30] radumereuta commented on #2709
The free variable checker should be aware of ML binders. #Exists and #Forall.
There might be a few things that break. We can decide what to do then.

[2022-08-12 11:30] jberthold opened #2804 "Follow modifications to HS-Backend JSON-RPC protocol"
https://github.com/runtimeverification/haskell-backend/pull/3192 modifies the HS backend's JSON-RPC endpoint for `execute`. Specifically:
* The reason value `final-state` was removed;
* The `states` field was renamed to `next-states`;
* A new field `state` was added;
* The `condition` field within the list elements of `next-states` was flattened into the parent. States in the `execute` response ar

[2022-08-12 11:35] tothtamas28 commented on #2804
Related issue on backend: https://github.com/runtimeverification/haskell-backend/issues/3143

[2022-08-12 17:46] #2791 closed, assigned to Baltoli

[2022-08-16 12:15] fiedlr commented on #2033
Thanks for the tutorial, it's a great piece of writing for the fact that K is not the easiest thing to learn. A couple of thoughts:

- [x] Lesson 2: I missed seeing mention of the `--definition` flag because the tutorials often worked with multiple definitions. The tutorial said we would come to this later but it was quite handy to know before. I guess the tutorial meant the Modules Lesson, but `-

[2022-08-17 17:28] ehildenb opened #2812 "[kprove] Control which claims the backend discharges"
On the CLI, we'd like to be able to dynamically mark claims as trusted, or to exclude them. This could come in 3 forms (I think we could have uses for all 3):

- `--trusted CLAIM_ID_LIST`: Mark this set of claims as trusted.
- `--exclude CLAIM_ID_LIST`: Remove these claims from the definition before sending to backend.
- `--claims CLAIM_ID_LIST`: Only keep the named claims in the definition before

[2022-08-17 17:34] anvacaru opened #2813 "[KProve]Support rules with #Not at the top"
With the following simplification rule added:

[code]
I get an error when trying to prove the following claim:

[code]

Current output is
[code]

[2022-08-18 08:54] tothtamas28 opened #2814 "Include `flake8` in `pyk` code style checks"
There are some issues that `flake8` flag as formatting errors (e.g. `F541 f-string is missing placeholders`) that `black` does not take care of. Thus `flake8` has to be included again with a configuration that does not conflict with `black`: https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8.

We can also consider adding some useful plugins: https://flake8.pycqa

[2022-08-18 13:11] tothtamas28 opened #2816 "Clean up naming in `pyk`"
#2815 includes `pep8-naming` in code checks, which right now flags ca. 150 naming issues in `pyk`.

First, enable these errors by updating the `flake8` configuration in `setup.cfg`:

[code]

Then ensure that `make check-flake8` succeeds.

[2022-08-18 15:08] radumereuta commented on #2813
We should be able to write simplification rules with any kind of ML connectives at the top.
@anvacaru can you provide a self contained minimal example? If you can't figure it out, let me know.
Also, the version of K.

[2022-08-18 15:14] radumereuta commented on #2812
- what happens if you pass to kprove a module that is empty (no claims)
  - should not crash
  - if the claim list is empty, we should do the same thing as right now
- report an error if the claim doesn't exist
- report an error if the claim list is empty when specifying `--claims` or other options

CLAIM_ID_LIST example: ModuleName.claim_name, separated by commas

[2022-08-18 15:28] radumereuta commented on #2429
Obsolete.

[2022-08-18 15:28] #2429 closed, assigned to gtrepta

[2022-08-18 16:21] ehildenb opened #2817 "Process failure in `k-util.sh` should be more informative"
I had a definition that was failing at macro expansion stage.

It only became apparent to me that this was the failure stage after adding `-v` to `krun`.

`k-util.sh` https://github.com/runtimeverification/k/blob/master/k-distribution/src/main/scripts/lib/k-util.sh should print out failing commands, so that the user knows what phase failed. But then it should still fail overall.

[2022-08-18 16:28] radumereuta commented on #2817
Minimal example?

[2022-08-18 16:44] dwightguth commented on #1949
As I told Guy, there is a way to fix this issue, I believe, that doesn't require futzing with the z3 constraints.

Essentially, right now the issue is that we do not in any way try to choose optimal values for sort parameters of parametric sorts and productions, but we still try to apply a single sort for each parameters across all branches of the parse forest.

The solution is to simply not use t

[2022-08-18 20:18] dwightguth opened #2818 "Generalize constant folder into a full inlining and constant evaluation pass"
Right now we have a pass in the compiler, `ConstantFolding`, which essentially takes terms in rules and applies hooked functions when possible over constant arguments for functions over the Bool, Float, Int, and String types.

It would be nice if we could write user-defined functions with concrete arguments on the lhs or rhs of rules and have the compiler also apply those user-defined rules to rep

[2022-08-18 20:23] dwightguth commented on #2818
We do need to be careful of the fact that, like macro expansion, this could in theory be a problem with nonterminating functions. We need to do our best to avoid compiling forever if the user writes something that doesn't terminate.

[2022-08-19 14:46] ana-pantilie commented on #2813
Please move the issue to the Haskell backend repo when the frontend support is added.

[2022-08-19 15:14] ehildenb opened #2820 "[pyk] factor out `get_singleton` or `single` method"
We use an idiom quite a bit when searching through K definitions, which is to get a list of things, and then check that the list length is 1, and error out otherwise.

This pattern could be factored out into `utils.py` as a `singleton` or `single` method: https://github.com/runtimeverification/k/pull/2808#discussion_r948821400

I'm not sure it's worth it, we should see the change in isolation. If

[2022-08-19 17:16] #2814 closed, assigned to tothtamas28

[2022-08-19 18:45] #2804 closed, assigned to tothtamas28

[2022-08-22 17:04] radumereuta commented on #2813
Apparently, we are mismanaging the handling of sentences tagged with `kore`.
This should fix the front-end, but the backend still fails with:
[code]

[2022-08-23 07:34] tothtamas28 commented on #2820
Closed by #2824

[2022-08-23 07:34] #2820 closed, assigned to tothtamas28

[2022-08-23 11:14] radumereuta commented on #2813
@ana-pantilie: this claim should be handled as an equational claim, but we don't have that implemented yet.
The other issue is that the `kore` attribute takes a special path through the kompile pipeline which is not very clear to me.
Maybe @dwightguth or @ehildenb can shed some light on what `kore` means as an attribute on rules or claims.

I tried to fix the front end, and return valid KORE, but

[2022-08-23 15:45] #2816 closed, assigned to tothtamas28

[2022-08-25 15:05] radumereuta commented on #2817
Should look for every location in the scripts where we run external tools and report an error message where they fail.
There might be some exceptions though.

[2022-08-25 15:11] radumereuta commented on #2813
@anvacaru can you be more specific with regard to what you are trying to do?
After some investigation into why it was failing, we're still not sure what the proper fix would be.

[2022-08-25 15:28] radumereuta commented on #1949
Make sure to test the performance on C and KEVM.
You can profile with `kompile --verbose and --profile-rule-parsing <file>`

[2022-08-25 18:07] anvacaru commented on #2813
@radumereuta I apologize for not being able to provide a minimal example. I was working on a claim and the backend got stuck with the following contradiction.
[code]
I assumed that a lemma like `rule #Not ({ false #Equals X }) => { true #Equals X } [simplification]` would unblock the proof and wanted to first try the claim posted in the description of the issue.  Later I found out that in ML this

[2022-08-25 18:10] radumereuta commented on #2813
Is this still an issue for your or can we close it?

[2022-08-25 18:10] anvacaru commented on #2813
We can close it.

[2022-08-25 18:10] #2813 closed, assigned to radumereuta

[2022-08-29 15:22] #2627 closed, assigned to ehildenb

[2022-08-29 23:19] SchmErik commented on #2576
@ana-pantilie I noticed that the stuck claim error could be really nice if the haskell backend could pass back the claim to the kfrontend when it gets stuck. Not sure how difficult this is to do but this could help kprove point to the actual line number of the claim that's stuck and print the contents of the source code at that location.

[2022-08-30 00:03] nishantjr opened #2836 "[kprove] - Allow `--input json`"
Motivation
----------

Several constructs that come up in a programs semantics cannot be parsed with the rule parser---for example, the freezers generated by strictness. When unparsing with the pyk parser we also lose information such as operator precedence, unless parens are added.

Documentation
-------------

Add a `--input json` that allows passing a JSON/KAST encoded K definition.

Potential

[2022-08-30 09:25] ana-pantilie commented on #2576
@SchmErik We could log the source location of the claim which got stuck, would that solve your problem?

[2022-08-30 18:26] SchmErik commented on #2576
@radumereuta do you know how this log file is represented?

[2022-08-30 19:24] #2796 closed, assigned to radumereuta

[2022-08-30 23:46] #2812 closed, assigned to radumereuta

[2022-08-31 11:40] jberthold opened #2843 "Follow changes for JSON-RPC `implies` endpoint"
The `implies` endpoint implementation added a field `implication` containing the simplified implication, and introduces a few restrictions on the input (i.e., a new error code with a few cases).

 See https://github.com/runtimeverification/haskell-backend/pull/3212/files#diff-33056b272a31036133e8a05cdb6b3d5867228db805ca402fda9291e01fb92515 for details

[2022-08-31 11:42] jberthold commented on #2843
Also, the `depth` value off-by-one has been fixed, `pyk` tests can now use the correct expected depth

[2022-08-31 13:08] ana-pantilie commented on #2576
@SchmErik The backend emits the log directly to either stderr or a file the user provides, the frontend doesn't really have anything to do with this.

I think that the cleanest solution would be to have the frontend support processing these logs. We have a `--oneline` format so that they're easier to parse.

[2022-08-31 14:47] #2171 closed, assigned to SchmErik

[2022-09-01 15:01] gtrepta commented on #1949
Here's a first attempt, it doesn't work though.

~~https://github.com/runtimeverification/k/commit/c1049c2c4c4070abb4d832fec867d1a4f45f1594~~

Trying `kprove proof-temp.k` throws this error:
[code]

The `lub` function in AddSortInjections ends up with an empty set of sorts to choose from.

[2022-09-01 15:14] radumereuta commented on #2836
We want to skip parse time completely since it takes a substantial time for KEVM proofs.
We might want to insert right before ModuleToKORE.
This is a stopgap solution until we implement KORE-RPC.

[2022-09-03 12:45] #2843 closed, assigned to tothtamas28

[2022-09-07 23:22] F-WRunTime commented on #2745
Check out the provided bug-report.yaml on the working feature/bug-performance-testing branch on k.
Please provide some feedback @ana-pantilie if you have any. Tackled this while making the template for Performance.

[2022-09-07 23:23] F-WRunTime commented on #2745
I can assign multiple people. Or we can look to break this out into 3 different templates and have 3 different default assignees?
This intended just for triage and expect others to be assigned.
Alternatively we stick with a single person who handles triage and is the default assignee.

FrontEnd - @radumereuta ?
Haskell backend - @ana-pantilie
llvm - @Baltoli  ?

[2022-09-08 22:26] ehildenb commented on #2745
I think we don't need a default assignee. It would be nice if it could automatically be put onto the K Development board though, in the Triage column.

[2022-09-08 22:28] ehildenb commented on #2745
Also, can you open it as a PR so it's easier to see the new template?

[2022-09-09 06:28] ana-pantilie commented on #2745
Looks good to me! 👍

[2022-09-09 08:02] Baltoli commented on #2745
That template looks great @F-WRunTime - big improvement over the current setup!

I agree that we don't necessarily need a default assignee - at least for the LLVM backend, a new issue is equally likely to get picked up by me or Theo. Making sure that it doesn't get lost and does end up on the triage list so we remember to look at it in the K meeting is the important thing really.

[2022-09-09 15:34] Baltoli opened #2866 "Reduce memory usage of kompilation"
@sskeirik reports that memory usage is a bottleneck / issue for the project he is working on, and asks if there is any way to reduce it.

[2022-09-09 15:35] Baltoli commented on #2866
@sskeirik Please get us a minimal working example so we can investigate this properly.

[2022-09-09 15:35] david-k commented on #2477
Here is an example that shows the advantage that using `:=K` would have over `#let`.
[code]
If the binding restriction on `:=K` is lifted we could a rule like the following:
[code]
Note that `I` is used in multiple cells, but only in the LHS. Also, in the rule that prompted this example, the term that is bound to `I` is more complex, and binding it to a variable greatly increases readability of th

[2022-09-09 16:28] ehildenb opened #2867 "[Bug] [kompile] - Parsing token vs parsing variable name"
K Version
---------

bd04f5fd32

Description
-----------

Tokens declared in one sort conflict with variables in another sort.

Input Files
-----------

File `test.k`:

[code]

Reproduction Steps
------------------

Kompile the definition:

[code]

Expected Behavior
-----------------

I would like this case to be handled. The variable `C` in these rules cannot be of sort `Contract`, so we should b

[2022-09-09 21:14] F-WRunTime commented on #2745
Opened as a PR here: https://github.com/runtimeverification/k/pull/2868 for easier viewing @ehildenb

I don't unfortunately see a way for it to automatically go to the board. But Maybe I'm missing some configurations. I'm still working with this for the haskell-backend side. If I learn something new I can come back and apply it to k.

[2022-09-09 21:44] F-WRunTime commented on #2745
Okay did some diving into the community forums for github and looks like the feature to have repository created issues pushed straight into a project board is still open:
https://github.com/github/roadmap/issues/286

Subscribed to the issue see if we see any progress on it. Worst case we can dive into the API and see if we can make some automation around bundling together repositories a single boa

[2022-09-10 11:29] radumereuta commented on #2866
This really needs more details.
It's possible this is because of parsing, so I would like to know:
- which semantics is this?
- output of `kompile -v`
- the output of 'kompile --profile-rule-parsing <file>` could help. Rules that take a long time to parse may produce many ambiguities. Parentheses or sort annotations could help a lot.

It's less likely this can be minimized since such issues arise

[2022-09-10 17:07] ehildenb opened #2869 "Downstream Testing and Versioning"
We should be bumping the K minor version when there are API changes, if we are following some semblance of [semantic versioning](https://semver.org/). It's hard for us to measure API changes though, and the tool is changing fast. We also don't really make a distinction between a branch with "only bug-fixes" and a branch with "new features". This is a proposal to change how we do our CI for K repo.

[2022-09-12 12:03] dwightguth commented on #2866
It's impossible to work on this without at the minimum either a self contained example, or an hprof heap dump. If you want to do the latter, you can enable the `-XX:+HeapDumpOnOutOfMemoryError` JVM flag and decrease the jvm heap just enough that it OOMs, but not so much that the heap profile will be unrepresentative of the true problem. This file is going to be several gigabytes though so you won'

[2022-09-12 12:26] dwightguth commented on #2867
I'm not really sure how we could possibly fix this without nuking performance, doing something really ad hoc, or breaking existing definitions.

The issue happens at the level of the scanner, which has absolutely no knowledge of sorts and thus can't make the kind of distinction you are talking about. Maybe we could tweak something so that if the parser expects a regex token, it can accept a non re

[2022-09-12 20:43] #2745 closed, assigned to FWBlueWizard

[2022-09-13 14:23] ana-pantilie commented on #2899
Most likely this is the new link: https://github.com/runtimeverification/haskell-backend/blob/6b37a7de8cd977d2640cfcdef84510288f30f8a7/test/setvars/setvars.k#L17

We  need to check if this is still happening or not.

[2022-09-13 15:11] ana-pantilie commented on #2878
@radumereuta these tests were specifically written for the Java backend.

[2022-09-13 21:09] sskeirik commented on #2866
I've been working on getting an example.

I can consistently repro the memory usage (~15GB) used during a single K semantics compilation on my machine.

Please see this issue for instructions on how to repro:

https://github.com/runtimeverification/algorand-sc-semantics/issues/741

Link used because repo is private and to avoid releasing more details publicly.

[2022-09-13 21:26] dwightguth commented on #2866
Yeah I strongly suggest you just create a heap dump yourself. Nobody wants to have to build Algorand from source to reproduce things.

[2022-09-13 21:27] dwightguth commented on #2866
Bear in mind though that the heap dump will contain private data and shouldn't be uploaded publicly.

[2022-09-13 21:47] #1928 closed, assigned to ehildenb

[2022-09-14 08:16] Baltoli opened #2880 "README for Ubuntu dependencies is out of date"
@jinxinglim identifies several issues with the README for Ubuntu dependencies [here](https://runtimeverification.slack.com/archives/C022YGTV4JK/p1663132643209489) on Slack.

To summarise:
* Clang / LLVM version 10 is not available in Ubuntu Jammy; we should de-version this requirement or tell users which one to install for their distribution.
* We need to tell users to install python3-dev as a con

[2022-09-14 12:18] radumereuta commented on #2558
If one needs to do such a transformation we have the `--post-process` kompile option.
The pyk repo contains an example on how to implement such a transformation easily: https://github.com/runtimeverification/pyk/tree/master/pyk-tests/post-process

[2022-09-14 12:18] #2558 closed, assigned to nobody

[2022-09-14 14:46] #2576 closed, assigned to SchmErik

[2022-09-14 19:05] gtrepta commented on #1949
I have pushed up a branch [sort-param-inference](https://github.com/runtimeverification/k/compare/sort-param-inference) with an implementation of @dwightguth's solution above, with as much code re-use as possible. It isn't correct yet, still. The next step should be to determine if parts of the re-used code need to be reimplemented for this use case and then implement them.

[2022-09-14 21:46] SchmErik opened #2882 "test suite emits warnings on macro labels placed on rules"
### What component is the issue in?

_No response_

### Which command

kompile

### What K Version?

v5.3.195-5-gf2be328531

### Operating System

Linux

### K Definitions (If Possible)

all tests run by CI under k-distribution/tests and k-distribution/pl-tutorial

### Steps to Reproduce

run `make -j8 --output-sync=recurse` from `k/k-distribution/tests/regression-new/`

### Expected Results

No t

[2022-09-15 09:42] Baltoli opened #2885 "`kprove-error-status` test is flaky"
The test implemented in #2862 is flaky because it contains a Cabal hash in its expected output. This means that any change to the backend source code is going to cause this test to start failing.

It should be redesigned so that the hash is stripped out of that line in the test and expected output (as we do with absolute filenames).

[2022-09-15 09:44] goodlyrottenapple commented on #2885
specifically this one: https://github.com/runtimeverification/k/blob/16b3dc1d0d9c5418c3e91977576a6ccba747bd07/k-distribution/tests/regression-new/kprove-error-status/crash-spec.k.out

[2022-09-15 09:46] goodlyrottenapple commented on #2885
also, the line in the source code (`called at src/Kore/Rewrite/Function/Evaluator.hs:274:6`) will be prone to change, tho maybe not as often

[2022-09-15 10:04] Baltoli commented on #2755
Can this issue be closed now that the information is in the USER_MANUAL? https://github.com/runtimeverification/k/blob/master/USER_MANUAL.md#profiling-your-k-semantics

[2022-09-15 10:59] radumereuta commented on #2867
Wouldn't that make the scanner bigger, therefore slower to generate? I've seen definitions where it takes >4s to generate the scanner.

[2022-09-15 12:16] #2755 closed, assigned to ChristianoBraga

[2022-09-15 13:04] radumereuta commented on #1364
Fixed by: https://github.com/runtimeverification/k/pull/2248

[2022-09-15 13:04] #1364 closed, assigned to radumereuta

[2022-09-15 15:00] sskeirik opened #2886 "[K-Improvement] K Developer Container for Easier Installation"
## K Dev Container

### Motivation

**TLDR:** To make K development accessible beyond RV itself, we need a packaging solution that just works, in the sense that all optional features are either: (a) already enabled; or (b) can consistently and easily enabled.
I propose that we produce a K dev container where all K features just work that operates on host-mounted directories.

**Full version:** To

[2022-09-15 15:21] radumereuta commented on #2867
We should try to fix the modularity so we don't get errors from domains.md.
We need to try this and see what performance we get.

[2022-09-15 15:29] #2878 closed, assigned to nobody

[2022-09-15 15:34] radumereuta commented on #2885
Changing the sed script from the Makefile might be the easiest way.

[2022-09-15 15:39] radumereuta commented on #2514
Make a poll in the #k channel to see if the changelog is valuable to them.
If it's not useful, we can do without the chnagelog being so carefully updated.

[2022-09-15 15:40] #2607 closed, assigned to goodlyrottenapple

[2022-09-15 15:47] #2780 closed, assigned to Baltoli

[2022-09-15 16:24] SchmErik commented on #2885
This is definitely my bad! Why don't we make the sed script to ignore this part:
`error, called at src/Kore/Rewrite/Function/Evaluator.hs:274:6 in kore-0.60.0.0-C6NIGnCldg2CHYuzj5V8fi:Kore.Rewrite.Function.Evaluator`

So the sed pattern looks something like `s/error, called at .*.hs:[0-9]\+:\[0-9]\+ in .*$//g`

[2022-09-15 16:26] SchmErik commented on #2885
we could actually keep `error, called at` so maybe the patter would look like this: `s/\(error, called at \).*.hs:[0-9]\+:\[0-9]\+ in .*$/\1/g`

[2022-09-15 16:46] #2782 closed, assigned to Baltoli

[2022-09-15 17:32] sskeirik commented on #2866
After a bit of profiling, the algorand-sc-semantics type semantics, @radumereuta and I found that:

-   the entire kompilation process is using up to 15 GB memory
-   parsing is around 30 seconds (not too bad) and using up to 6 GB memory
-   the slowest rule took 600ms for parsing and 3s for type-inferencing
-   the high memory usage is only observed when building the LLVM backend
-   in particula

[2022-09-15 17:45] nishantjr opened #4235 "KInner.match should allow matching against a variable of a specific sort"
There's one of two ways this can be done:

1. We can make a special case for `KApply` where label = `#SemanticCast`,
    Here `KApply('#SemanticCastToInt', KVariable('Foo')).match(...)` would match only integers.
2. We could add a `sort` parameter to `KVariable`.
    Here `KApply(KVariable('Foo', sort='Int')).match(...)` would match only integers.

Matching would also need to be relative to a sema

[2022-09-15 20:17] #2885 closed, assigned to SchmErik

[2022-09-16 04:04] jinxinglim commented on #2033
Lesson 1:

- [ ] Under the instructions for building with Nix flakes, after the instruction of temporarily adding the K binaries, it would be good to include how to add them permanently (i.e., `update your $PATH with <checkout-dir>/result/bin`).
- [ ] Building with Maven: If you have different Java versions installed, make sure you switch to a version that is compatible with Maven (e.g., run `sudo

[2022-09-16 13:18] #2880 closed, assigned to Baltoli

[2022-09-16 23:46] #2775 closed, assigned to radumereuta

[2022-09-19 17:40] radumereuta commented on #2672
Apparently, you can use `mvn clean -Dhaskell.backend.skip` and it will not touch the Haskell code.

[2022-09-19 17:40] #2672 closed, assigned to nobody

[2022-09-19 18:05] ehildenb commented on #2379
These are either done or not planned at this point.

[2022-09-19 18:05] #2379 closed, assigned to nobody

[2022-09-19 19:35] ehildenb opened #2894 "`kup` command for managing Nix K versions"
Many of our users complain about our installation process, and we historically have trouble tools with different versions of K and such.

One installation process that everyone seems to like is the `curl SOME_URL | bash -` approach, especially if it does version management for the user. The Foundry tool, for example, has you [install `foundryup`](https://github.com/foundry-rs/foundry#installation)

[2022-09-19 20:00] ehildenb commented on #2894
Related: https://github.com/runtimeverification/k/issues/2886

[2022-09-20 08:17] goodlyrottenapple commented on #2894
I definitely support the nix approach. We do in fact populate a public cache https://app.cachix.org/cache/kore. It would probably be good to bring the self-hosted M1 runners online so that the CI also pushes M1 builds to the cache.

[2022-09-20 16:06] F-WRunTime commented on #2718
@goodlyrottenapple Is this something we're currently doing already? This was also causing merge issues with the flake.lock file?

[2022-09-20 16:18] goodlyrottenapple commented on #2718
we have a check in github ci which fails if they are not in sync, but we probably want to automate the sync when we update submodules via the automated rv-jenkins script

[2022-09-20 16:24] F-WRunTime commented on #2894
I'm working on the M1 runner there is an issue with keeping it online. But we have been getting builds running with haskell-backend

[2022-09-20 16:26] goodlyrottenapple commented on #2886
many of these are already addressed by our nix packaging, e.g. whilst still flaky, nix is currently (probably) the least painful way to get K running on M1 macs. Also you can run

[code]

and immediately useK  tools such as `kast`/`kompile` in your current shell, without having to globally install K. We also keep track of exactly which version of Z3 we use in nix and it doesn't interfere with any

[2022-09-20 16:44] ehildenb commented on #2869
@radumereuta can you help me understand some things about K testing. I think there are a few main test-suites:

- The Java unit tests (which `mvn package` runs). How can I run _just_ these unit tests, and_not_ any of the regression or integration tests?
- The regression tests (currently `mvn package` runs these I believe, but can also be run with `cd k-distribution/ && make -jN`).
- The tutorial t

[2022-09-20 19:42] radumereuta commented on #2869
This is where the bulk of our testing is done: https://github.com/runtimeverification/k/blob/master/Jenkinsfile#L70
- `mvn verify` builds K and runs all the JUnit tests and the `k-distribution/Makefile`
- ``make -j`nproc` --output-sync ${MAKE_EXTRA_ARGS}`` runs all the tests from `k-exercises`

To run only the JUnit tests, you can call `mvn package`. This will also build K with all its dependencie

[2022-09-21 04:52] jberthold commented on #2899
Re-tested with current K release, and using code quoted above (`haskell-backend/test/setvars/setvars.k`)

Modified module `setvars.k` contains
[code]
(the two "not yet supported" items from the original)
`kompile --backend haskell setvars.k` yields a `definition.kore` which contains (in the `generated axioms` section) axiom
[code]
i.e., `Lblf'LParUndsRParUnds'SETVARS'Unds'KItem'Unds'Int` and `Lbli

[2022-09-21 10:15] ana-pantilie commented on #2899
Declaring something like `syntax Foo ::= f` makes `f` a constructor. If the `function` attribute is present then it's not a constructor but a function. The frontend should detect if we are writing simplification rules like the one for `f` there and throw an error. @radumereuta what do you think?

[2022-09-21 10:56] radumereuta commented on #2899
We have such a check but it's only active for `kprove`.
[code]

[2022-09-21 12:17] ana-pantilie commented on #2899
Additional reading material for `anywhere`: https://github.com/runtimeverification/haskell-backend/issues/2405#issuecomment-780444275

[2022-09-22 06:14] enzeve opened #2910 "Compiled binaries are not portable (problem with Nix builds)"
When running the kevm docker with tag [ubuntu-focal-0e96c8d](https://hub.docker.com/layers/runtimeverificationinc/runtimeverification-evm-semantics/ubuntu-focal-0e96c8d/images/sha256-7ae7b8fece78a2ce4fd40f389a61a0814d40f770155c70b8cdcf25cdbc6a0cd4?context=explore) with `kevm prove` it gives me the error

[code]

while `find / -name 'word.md'` results in only

[code]

Does anyone know to to resolve

[2022-09-22 13:20] Baltoli opened #2901 "Document & improve C++ hook implementation"
Being able to extend K with custom LLVM backend hooks is a useful feature, but the API we provide to do so is tricky to figure out. We should write the [section of the K tutorial](https://github.com/runtimeverification/k/tree/master/k-distribution/k-tutorial/3_advanced/3_extending_k/1_custom_hooks) that deals with them.

For the purposes of documentation, I've worked through a (probably) minimal e

[2022-09-22 15:07] ehildenb commented on #2866
We need to find out how the Java process is using 10GB, it seems that it's our biggest consumer.

Some quick experiments you can run @sskeirik:

- Instruct it to run 1 thread at a time the decision tree generation (modify the code here by just removing the `par`: https://github.com/runtimeverification/llvm-backend/blob/e6dc37ae64379e06493cddd2e02d1e05376c821a/matching/src/main/scala/org/kframework

[2022-09-22 15:09] ehildenb commented on #1741
Is this a problem with Nix? Are we able to specify the correct Bison version with a nix expression?

If so, and if Nix also allows specifying Z3 version, we could solve a lot of these problems with Nix expression-based packaging.

[2022-09-22 15:12] ehildenb commented on #1741
We can make the bison parser default for the Nix package if this works.

[2022-09-22 16:00] ehildenb commented on #2276
No satisfactory solution currently other than just "use Nix".

[2022-09-22 16:03] ehildenb commented on #2899
`anywhere` rule is not relevant here, `kompile` should be erroring out on the `simplification` rule.

[2022-09-22 16:04] ehildenb commented on #2901
This should be added to `USER_MANUAL.md` as well.

[2022-09-22 16:04] ehildenb commented on #2836
We will be implementing this via kore-rpc instead, so that we skip parse-time entirely.

[2022-09-22 16:04] #2836 closed, assigned to nobody

[2022-09-22 18:35] gtrepta commented on #2901
I'm not sure if that `kompile -> llvm-kompile` pattern is correct, `llvm-kompile` takes a `definition.kore` if I'm not mistaken. Here's how hooks are generally being kompiled in these days:
[code]

It should be pointed out that if the hooks are using any extra libraries (like `cryptopp` for example) then `-ccopt -lcryptopp` will also be needed.

Some knowledge of the llvm-backend's data structures

[2022-09-22 18:55] radumereuta commented on #2866
We spent a bit more time trying to debug this, and we couldn't make it crash with OOM.
We've removed the parallelism and we couldn't see any difference.
We've reduced the java heap memory down to 5GB (from 16GB), but kompile went through fine w/o any errors or time difference.

I've made a PR that prints out more detailed information about the kompile stages related to the backend.
https://github.

[2022-09-22 19:05] sskeirik commented on #2866
So, @radumereuta and I did some more investigation today.

Firstly, we commented out the parallel execution by commenting out the `par` expressions in the Scala code but saw no real change in memory usage.

We then tried @dwightguth's approach (using `-XX:+HeapDumpOnOutOfMemoryError` and `-Xmx`) to get a heap dump. We successively lowered the JVM max heap size to just 5GB and the compilation proce

[2022-09-22 19:29] nishantjr opened #4237 "Various algorithms should be aware of KVariable sorts."
Some of these are:

- [x] Parsing (Fixed in runtimeverification/pyk#33)
- [x] Unparsing (Fixed in runtimeverification/pyk#33)
- [ ] Matching
- [ ] Anti-unification

[2022-09-22 19:36] nishantjr opened #4234 "Store bindings of KVariables in more systematic way."
Currently if a KVariable is bound by an existential quantifier, it is indicated by a `?` prefix to its name. There is a bunch of string manipulation to add an remove this that sometimes loses track of this information. For example, when initializing a CFG, we strip the question marks. We need to infer which variables are universal and which are existential by checking against the inital configurat

[2022-09-22 19:36] dwightguth commented on #2901
For what it's worth, there is a dedicated section of the k tutorial for this. It's under 3_advanced/3_extending_k/1_custom_hooks. This is where the tutorial should be placed. It should include information about useful helper functions as well as strict requirements for the memory allocation and layout of terms returned by the hook.

I am not opposed to a section also being placed in the k manual,

[2022-09-25 15:29] amelieled opened #2906 "[K-Improvement] [USER_MANUAL.md] Using the attribute `functional` without the attribute `function`"
I don't know how to understand the meaning of a production with the attribute `functional` but not the attribute `function`. Maybe the attribute `function` is implicitly added.

I believe that the user manual does not say that this is an excluded case, but neither does it explain what it would mean.

Moreover, the user manual says that:
[code]
 but also  (in the last tabular)
[code]

[2022-09-25 15:51] amelieled opened #2907 "[K-Improvement] [Dedukti Project] Interoperability between tests for K and Dedukti"
I just saw that the Dedukti project has been added to the list of projects around K, and I thank you for that.
It is probably best to put the following link, which corresponds to the translator’s code repository: `https://gitlab.com/semantiko/kamelo`.

The current link (`https://gitlab.com/semantiko/K-semantics`) contains a state of the current K-semantics, but at this stage it doesn't really high

[2022-09-25 16:45] ehildenb commented on #2894
@goodlyrottenapple I modified the main issue body with a more concrete specification of the script that needs to be `curl`able for the `kup` command.

[2022-09-25 18:09] ehildenb commented on #2907
The easiest way to test the translator directly is if we can expose a simple `krun` like interface for the Dedukti backend, or a `kprove` interface. Can you remind me exactly the functionality the Dedukti backend gives? My understanding is that it was able to take `kprove` proof obligations and validate that they are correct reductions? So then it would be consuming `KClaim` like `kprove` does?

I

[2022-09-25 18:32] amelieled commented on #2907
The Dedukti backend doesn't yet take `kprove` proof obligations, but it could be the case in few weeks (or days).
The main interface of the Dedukti backend is similar to `krun`.
Its current interface is explained here: `https://gitlab.com/semantiko/kamelo/-/blob/master/README.md`.

But yes, I can implement a `krun`-like interface and `kprove`-like interface but I don't know how to start, and maybe

[2022-09-25 19:24] ehildenb commented on #2907
Nice, I see this here:

![image](https://user-images.githubusercontent.com/12721972/192161577-767150e4-9c57-44bb-aa57-ddc4f82179f9.png)

This `translate_pgm.sh` is language agnostic, or only works for IMP?

[2022-09-25 19:56] amelieled commented on #2907
It is language agnostic (I hope) !

[code]
That's it! :)

[2022-09-26 08:29] Stevengre opened #2909 "[K-Bug] Expecting sort SortGeneratedTopCell but got SortK"
### What component is the issue in?

_No response_

### Which command

- [x] kompile
- [ ] kast
- [ ] krun
- [ ] kprove
- [ ] kprovex
- [ ] ksearch

### What K Version?

K version:    5.3.205

### Operating System

Linux

### K Definitions (If Possible)

#### `error.k`
[code]

#### `test.k`
[code]

### Steps to Reproduce

[code]

### Expected Results

**now:**
kore-exec: [85986] Error (ErrorVerify

[2022-09-26 08:48] Baltoli commented on #2909
I don't think that you can write `[anywhere]` rules over K sequences. This code is kompiled fine by the LLVM backend, but doesn't actually apply the rules as written even when the configuration matches.

If the Haskell backend rejects this at validation time, and the LLVM backend accepts it but won't apply the rules, I think this ought to be a frontend check. @radumereuta what do you think?

@Stev

[2022-09-26 10:51] radumereuta commented on #2910
I'm reopening this issue to have a discussion about this check.
It has caused some repeated issues lately for KEVM and is causing even more issues to @goodlyrottenapple with packaging K in NIX.

Right now we give an error message when you import the same module name from two different file locations.
KEVM moves files around, and NIX has to move files around.
So when running `kprove`, it gathers re

[2022-09-26 11:11] radumereuta commented on #2909
If we add a check to the frontend, it might get out of sync with what the backends can support.
What are the current abilities of the backends regarding `anywhere` rules?
@dwightguth or @theo25
@ana-pantilie

[2022-09-26 12:07] enzoevers commented on #2910
This fixed the error! Thank you very much.

[2022-09-26 15:00] ana-pantilie commented on #2909
Anywhere rules are currently not supported in the Haskell backend.

[2022-09-27 04:54] ehildenb commented on #2894
Slack coversation: https://runtimeverification.slack.com/archives/C7E701MFG/p1664227496058109?thread_ts=1663938750.906789&cid=C7E701MFG

[2022-09-27 11:24] tothtamas28 opened #2914 "`kompile --version` requires `mvn clean` to work"
When K is rebuilt without `mvn clean`, command `kompile --version` reports the version and build date for the last clean build.

[code]

[2022-09-27 11:51] tothtamas28 opened #2915 "Small inconsistency between git and package install in format of reported version"
There is a small discrepancy in the format of the reported version number between K installed from git repository and that installed from package.

Git:

[code]

Package:

[code]

It would be more consistent if the packaged version also reported its version number with a prefix `v`. Then
- parsing / regex matching would be simpler;
- the version number would still indicate whether it's a git or a

[2022-09-27 14:23] fiedlr opened #2917 "How to minimize config output in kore-repl"
When one is working with kore-repl and looking at specific configurations using `config`, sometimes the configurations can be huge.

The easiest way to make them smaller is to use the new `pyk` toolkit. `pyk` is a new package that contains a Python toolkit for manipulating with K terms. We will use the pipeline operator `|` to translate our configs to JSON and then send them to `pyk`, which will p

[2022-09-29 03:25] gtrepta commented on #1949
I made some interesting progress. I think I have the issue for this card partially fixed, the type inferencer now knows to keep both branches of the ambiguity. I believe the ambiguity is supposed to be resolved later in the pipeline, but I get this error message instead, which makes it seem to me like there's a second bug that's affecting this issue:
[code]

My work still isn't correct as it at le

[2022-09-29 08:05] radumereuta commented on #1949
@gtrepta that's actually the expected behavior.
See this other issue which was similar in nature: https://github.com/runtimeverification/k/issues/2219
Now we just have to think about how to fix the tests.

[2022-09-29 10:33] Stevengre commented on #2909
Thank you so much!

[2022-09-29 14:48] Baltoli opened #2925 "K semantic REPL"
## Current Situation

The debugging tools available for K projects are limited. Currently, the following options are available to developers of K-based projects:
* [GDB integration with the LLVM backend](https://github.com/runtimeverification/llvm-backend/blob/master/debug/kgdb.py):
  * **+** Allows for fine-grained introspection of what the generated code is doing while a program executes.
  * **

[2022-09-29 14:57] ehildenb opened #2926 "Publish `kup` scirpt"
The `kup` install script (at `package/nix/install`) should be made available at https://kframework.org/install, so that users can do `bash <(curl https://kframework.org/install)`

[2022-09-29 14:59] ehildenb commented on #2894
`kup` is working, we'll make new issues for problems we have with it.

[2022-09-29 14:59] #2894 closed, assigned to goodlyrottenapple

[2022-09-29 15:21] ehildenb commented on #2514
Just use a normal commit list (PR title list basically) for changelog, we should not be curating something people are not using.

[2022-09-29 15:21] ehildenb commented on #2514
Just use a normal commit list (PR title list basically) for changelog, we should not be curating something people are not using.

[2022-09-29 15:24] ehildenb commented on #2866
@sskeirik we should close this unless you can provide exact reproduction steps. It seems that it's solved by adding `-Xmx 5G` to the arguments? Does that work for the Algorand folks too? Is that still too much memory?

If it's too much memory, then we need exact reproduction steps, so that others can try this out.

[2022-09-29 15:37] ehildenb commented on #2910
There are two issues:

- The frontend does not detect that the new file location has the same contents as the prior file location (and reuse the artifacts from taht). Maybe `kompile` needs to be smarter about this (using content hashes instead of file locations to decide whether to reparse a file), and the `kbuild` command can take care of deciding whether to call `kompile` again or not.
- The llv

[2022-09-29 15:39] #2636 closed, assigned to nobody

[2022-09-29 15:43] ehildenb commented on #2718
Let's move [this `nix-flake-submodules`](https://github.com/runtimeverification/k/blob/master/.github/workflows/test-pr.yml#L80) step to a new file called `.github/workflows/update-deps.yml`, which is only run on update-deps branch, similar to [how KEVM does it](https://github.com/runtimeverification/evm-semantics/blob/master/.github/workflows/update-version.yml).

[2022-09-29 15:46] ehildenb commented on #2886
We don't want to work on this until the Nix stuff is ironed out.

[2022-09-29 15:50] ehildenb commented on #2907
I think you'll likely have to make the adaptions to the Dedukti tool directly, instead of us changing the structure of our current tests.

The tests you want to make work are in `k-distribution/pl-tutorial`. Currently, to run those tests, you can do `cd k-distribution/pl-tutorial` and then run `make`. You likely need to override the `KOMPILE` variable to point at a script which calls `kompile ...

[2022-09-29 15:52] ehildenb commented on #2914
The current version identifier is read from a file, which is not being updated on mvn package. Likely `mvn package` just needs to call the version bumper before calling the java build.

[2022-09-29 15:53] ehildenb commented on #2917
This should go into the USER_MANUAL.md for now.

[2022-09-29 15:54] ehildenb opened #2928 "Split user manual into docs directory"
USER_MANUAL.md currently containts documentation on:

- K the language.
- K tools.
- Some K practices/advice.

We should make a new `docs/` directory, where the `docs/manual.md` in the docs only discuss K the language, and the K tools can be moved to `docs/tools.md` or such.

[2022-09-29 15:55] ehildenb commented on #2928
The website should be made aware of the new structure.

[2022-09-29 16:00] ehildenb commented on #2925
Let's jsut get the first version of `k-repl` implemented and merged which allows single K steps for now, then we can figure otu the rest.

[2022-09-29 16:01] ehildenb commented on #2925
More features it should have:

- From a current configuration, _try_ applying some specific rule.
- Pretty-printing modules able to be plugged into k-repl for displaying state (minimize which cells are displayed, omitting some cells, etc...)

[2022-09-29 16:27] dwightguth commented on #2866
I agree that the jvm is not super great at not using all available memory instead of doing garbage collection. It sounds like that's part of what is going on here. Some jvm garbage collectors are more aggressive than the one we are currently using at making sure that memory isn't taken from the os unnecessarily. It's possible you might have more luck with some jvm flags to use a different gc algor

[2022-09-29 17:11] ehildenb commented on #2925
We should also store the nodes (or allow storing the nodes) in a `pyk.kcfg.KCFG`.

Maybe we add a command `store NODE_NAME` which allows storing the current node in the KCFG, and defines an alias `NODE_NAME` for it?

Then the user can use [`show-cfg` to display a textual CFG](https://github.com/runtimeverification/pyk/blob/master/src/pyk/kcfg.py#L292), and can select another node to jump to with `

[2022-09-29 23:42] F-WRunTime commented on #2869
For repositories that are submodules of a repo we can utilize the gh tool to kick off workflows of subsequent deps. And desired "tests" to be run.
We can specify branches we wish to run them on as well

This is a benefit to us as we don't need to implement chain reaction worfklows and simple a singular action that recursively checks
submodules, in the case of a PR the submodule branch should alrea

[2022-09-30 05:10] #2928 closed, assigned to ehildenb

[2022-09-30 05:10] #2764 closed, assigned to ehildenb

[2022-09-30 08:15] PumpkinDemo opened #2934 "Does krun consume more memory in the latest version? [bug]"
I updated my kframework from version 5.2.100 to version 5.4.2 recently.

But today I find one of my old test case cannot be finished and throw an OutOfMemoryError.
[code]
I allocate more memory by prepending `K_OPTS+=-Xmx10G` before the `krun` command and then the test job is finished successfully.

And when I switch back to the old version 5.2.100, the test case is finished successfully as well w

[2022-09-30 08:22] Baltoli commented on #2934
How much memory do you have on your machine, and are you able to share the exact test case you're referring to here? It's hard for us to narrow this down otherwise.

[2022-09-30 08:29] PumpkinDemo commented on #2934
I use a 16G-memory machine and usually allocate 8G for `krun`

Sorry for no exact test code can be shared because it's a big project containing thousands lines

[2022-09-30 08:54] Baltoli commented on #2934
You might find [this issue thread](https://github.com/runtimeverification/k/issues/2866) useful; it deals with `kompile` rather than `krun`, but it gives some pointers on how to do heap dumps for Java. If at some point you have a reproducible example we can help you more specifically.

[2022-09-30 09:09] #2899 closed, assigned to radumereuta

[2022-09-30 12:19] fiedlr commented on #2917
I see that printing kore terms is in TODO in the manual:
[code]
Do you mean I should try to write a part of the section?

[2022-09-30 19:33] ehildenb opened #2938 "`kup install k --version ...` does not work"
I have `kup` installed, and I tried to install a specific version of K:

[code]

So it's not installing the specific version I want, but staying on the prior version.

[2022-10-03 11:28] goodlyrottenapple commented on #2938
`kup` expected the following command for updating already installed packages:

```kup update k --version ...```

Also note that the version argument has to either be a git commit hash or the tag, so in this instance,

[code]

[2022-10-03 14:15] ehildenb commented on #2938
How can I see the acceptable version tags? Can kup script pull them down? `kup list k --versions` or `kup list k --all` or something?

Or `kup version k --all`?

[2022-10-03 14:18] goodlyrottenapple commented on #2938
I have been thinking about this. github does have some APIs which do not require auth tokens, so we could potentially add a call to list the versions. however, we will probably have to manually hard-code the commit past which no nix flake exists and therefore cannot be installed via `kup`

[2022-10-03 16:26] goodlyrottenapple commented on #2938
I've started working on a `kup list <package>` command. The current output is:
[code]
I was thinking of adding the commit hash and along with the messages and dates to this table? Also, some repos may not have tagged releases, so this table would show all commits and leave the tag name blank for non-tagged, and then have  `kup list k --tags-only` to only show major/tagged releases...

[2022-10-03 16:31] ehildenb commented on #2938
I would do a short commit hash, instead of long (8 characters at most).

And then have a third column with the commit title, that sounds good yes.

But it would be good if it was the title of the commit which was done by computing `git merge-base $(git rev-parse origin/develop) ${TAG_ID}`, instead of just `${TAG_ID}` commit. Because the `${TAG_ID}` commit will just be "Set version ${TAG_ID}`.

[2022-10-03 18:08] dwightguth commented on #2925
Some questions I want to answer. Some are probably very easy, others will take more time.

* Are we set on python as the language to build this in?
* If the idea is to interactively enter commands, what commands should we target to start with?
* How can we engineer the code for handling commands so that it's extensible to new commands, both user supplied and developer written?
* Do we want a comma

[2022-10-03 18:57] goodlyrottenapple commented on #2938
not sure how to get that info via the github api

[2022-10-03 19:04] ehildenb commented on #2925
The kit REPL that we used for the summarizer had these commands: https://github.com/runtimeverification/ksummarize/blob/master/kit-shell

We also have the commands the kore-repl uses. We should probably pick (roughly) a subset of the intersection of the commands of both.

I would propose:

- `show-cfg`: Display an ascii rendering of the current exploration.
- `step [n] [NODE_ID]`: single K step (s

[2022-10-03 19:50] sskeirik commented on #2925
@ehildenb's answer seems to be focused on symbolic execution; concrete debuggers typically have different priorities and I think it is worth highlighting those.

I think the most important commands are (in order of most important to least important):

1.   `show [id]` - pretty-print configuration of state `id` (defaults to current configuration)
2.   `step [step-count]` - executes `step-count` ste

[2022-10-03 20:05] dwightguth commented on #2925
While all of these commands are potentially valuable, I want to remind everyone that what I'm trying to get us to agree on is a basic initial version of the tool. Please moderate your expectations because it's inevitable not everything from these lists will make it into the first version prototype.

[2022-10-03 21:24] sskeirik commented on #2925
To try and make priority for a concrete debugger more clear, I have added click-to-expand sections to hide non-essential commands and their implementation details to my previous comment. I also added two other primitives to my previous comment that are needed for `break`.

[2022-10-04 09:38] goodlyrottenapple commented on #2938
this is how it looks now for k:

[code]
for kore-exec:

[code]

[2022-10-04 18:30] ehildenb commented on #2938
It looks good to me! Let's try it, and if people want something different they can say.One feature I would add is `--count` or `--max-count` or `--max-number` which is the maximum number of relaeses it should try to fetch.

[2022-10-04 19:31] ehildenb commented on #2938
Can we also have `kup install k --version SOME_VERSION` basically work the same as `kup update k --version SOME_VERSION`? The first seems more intuitive to me.

[2022-10-05 07:39] amelieled opened #2953 "[K-Improvement] <Title>"
### Per the Examples above please provide some Improvement Suggestions

_No response_

[2022-10-05 07:41] amelieled opened #2954 "[K-Improvement] User Manual"
Missing attributes in Attribute Index (but used in the K standard library):

- [ ] `not-lr1`
  - Documented in the user manual, used to flag incompatibility with Bison parsers.
- [ ] `returnsUnit`:
  - It seems that this actually isn't used anywhere in either backend, so we should just remove this attribute from the frontend. The only place it shows up is in domains.md.
- [ ] `unblock`
  - Used fo

[2022-10-05 07:41] amelieled commented on #2953
Strange bug!

[2022-10-05 07:41] #2953 closed, assigned to nobody

[2022-10-05 07:46] amelieled commented on #2954
The issue #2906 is another improvement for the User Manual.

[2022-10-05 08:24] amelieled commented on #2954
The attribute `injective` seems to have been forgotten.

In https://kframework.org/k-distribution/include/kframework/builtin/domains/, one can read:
[code]
and
[code]

[2022-10-05 08:32] tothtamas28 commented on #2925
I think the focus should be on the second option. So the backends would expose a common debugging interface (with additional custom features that the particular backend supports) for which we can implement a client in Python. The simplest K REPL is then a small script that starts and initializes a Python interpreter.

---

In this setting, the following questions by @dwightguth would (to some exte

[2022-10-05 08:45] #2817 closed, assigned to Baltoli

[2022-10-05 09:51] goodlyrottenapple commented on #2938
the number of items it fetches is fixed. i think the API is paginated. will make `kup install --version` and `kup update --version` behave the same way

[2022-10-05 15:02] goodlyrottenapple opened #2958 "Create a `kup` DB for verified working releases"
Currently `kup` relies on calling Github API to display versions of tools that can be installed. This is problematic for several reasons:

* not all commits on master work
* not all commits on master are cached (not such a big issue but still an annoyance)
* the commit history in k is cluttered and it would be better if we could tag releases with a nicer message when displaying via `kup list k`

A

[2022-10-05 15:03] goodlyrottenapple commented on #2958
@F-WRunTime @shd101wyy @ehildenb thoughts?

[2022-10-05 15:07] #2926 closed, assigned to shd101wyy

[2022-10-05 18:32] ehildenb commented on #2925
Commands:

- `load PROGRAM` (parse and load a program, initialize it as the first term)
- `step [N]` (take K steps)
- `show [ID]` (display a given configuration)
  - `kit` aliases, uses hashes to identify configurations
  - `add-alias [alias-name|ID]` etc. if we do this; default aliases for things like case splitting
  - Minimise configurations - use Pyk to insert `...` smartly by collapsing `_Unu

[2022-10-05 19:03] Baltoli commented on #2925
https://github.com/runtimeverification/llvm-backend/blob/pybind/bin/k-repl

Note that the API as installed is slightly different to this demo as well.

[2022-10-05 19:06] Baltoli commented on #2925
Steps to take:
- @dwightguth investigate REPL libraries, code structure from demo
- @tothtamas28 pull in dependencies properly - RPC server + python bindings

[2022-10-06 03:10] ehildenb commented on #2958
It sounds good to me. Though I wonder if we can somehow leverage the fact that we'll be spinning up our own binary cache for this? If we are publishing packages to our binary cache, could the script instead of querying GitHub just query the binary cache for available versions?

Then anything that made it into our binary cache would be a "blessed" version that builds fast on users machines, and we

[2022-10-06 08:20] goodlyrottenapple commented on #2958
Not sure just the cache would be enough. For one thing, storing the metadata, such as the commit messages, would be awkward. The cache is immutable, so unless you know what you are looking for, there isn't really a way to say give me the latest k binary (afaik anyway).

[2022-10-06 14:58] #2631 closed, assigned to nobody

[2022-10-06 15:20] radumereuta commented on #2910
Take care of the front end for now. The llvm backend hasn't bothered us.

[2022-10-06 15:23] radumereuta commented on #493
We will implement these functionality through k-repl.

[2022-10-06 15:23] #493 closed, assigned to nobody

[2022-10-06 15:25] radumereuta commented on #2909
Add a check in the front-end for anywhere rules which are not supported in the haskell backend.

[2022-10-06 15:39] radumereuta commented on #2934
We should start doing performance measurements on the llvm-backend and add it to CI to track performance degradation.

[2022-10-06 15:40] radumereuta commented on #2938
Fixed by: https://github.com/runtimeverification/k/pull/2957

[2022-10-06 15:40] #2938 closed, assigned to nobody

[2022-10-06 15:47] radumereuta commented on #31
@dwightguth should we close this as a not planned? Scanner based parsers are always going to have this issue.

[2022-10-06 15:50] radumereuta commented on #502
Using the `--post-process <json-script>` should be able to give you way more possibilities.

[2022-10-06 15:50] #502 closed, assigned to nobody

[2022-10-06 15:51] #578 closed, assigned to nobody

[2022-10-06 15:52] #579 closed, assigned to nobody

[2022-10-06 15:53] radumereuta commented on #583
We have the pyk library and `--post-process <json-script>`.

[2022-10-06 15:53] #583 closed, assigned to nobody

[2022-10-06 15:56] radumereuta commented on #843
Add a warning in the front-end.
We should clean the front-end code a bit to make sure we have a complete list of all the supported attributes in one place.

[2022-10-06 15:59] radumereuta commented on #941
To be able to run the tests, you need to have `LC_ALL` set to the English format.
But you can always skip the unit tests with `mvn package -DskipTests`.

[2022-10-06 15:59] #941 closed, assigned to nobody

[2022-10-06 16:02] goodlyrottenapple opened #2964 "`kup` install seems to fail silently"
`kup install k` seems to silently fail on my mac. need to investigate whether the python script prints the stderr output.

[2022-10-06 19:17] ehildenb commented on #430
With modern K, it appears that the frontend now reports a correct error message:

[code]

Adding in `syntax KResult ::= Value` makes this error go away, and compilation succeeds.

Reopen if not addressed.

[2022-10-06 19:17] #430 closed, assigned to ehildenb

[2022-10-06 19:26] ehildenb commented on #821
I made this minimal example:

[code]

Then kompiled with coverage enabled:

[code]

It appears that we now correctly are able to tell that this definition is not valid, since there is a rewrite inside the `_#as_` pattern.

Reopen if still an issue.

[2022-10-06 19:26] #821 closed, assigned to ehildenb

[2022-10-06 19:32] ehildenb commented on #984
With this example:

[code]

Kompiling with the Haskell backend succeeds and results in the `definition.kore` (which looks good to me, @traiansf maybe you can double-check):

[code]

Kompiling with the LLVM backend fails, and results in this error message:

[code]

It appears that we should, in the frontend, be seeing that this is not an allowed pattern for the LLVM backend on the RHS of a rule, an

[2022-10-06 19:47] ehildenb commented on #36
`<mayThrow>` is not a cell that exists in the SIMPLE semantics (and never did AFAICT). So we need a full example to reproduce properly. In light of that, I will close this unless you can provide a self-contained full example. I was not able to reproduce.

This issue is so old at this point anyway, that I think it may not be relevant anymore anyway.

[2022-10-06 19:47] #36 closed, assigned to ehildenb

[2022-10-06 19:58] ehildenb commented on #1165
Closing this as we are not investigating the java backend anymore.

[2022-10-06 19:58] #1165 closed, assigned to nobody

[2022-10-06 20:01] ehildenb commented on #1285
@dwightguth do we still see this error with `kdep`?

[2022-10-06 20:04] ehildenb commented on #1382
I have confirmed that the original error persists.

[2022-10-06 20:05] ehildenb commented on #1277
@h0nzZik is this still a problem?

[2022-10-06 20:06] ehildenb commented on #1419
Related: https://github.com/runtimeverification/k/issues/1271

[2022-10-06 20:06] ehildenb commented on #1271
Related: https://github.com/runtimeverification/k/issues/1419

[2022-10-06 20:07] ehildenb commented on #1199
I have confirmed that this is fixed:
![image](https://user-images.githubusercontent.com/12721972/194408508-f92d9f04-85e4-4cfd-bf84-2b38c8c6cb14.png)

[2022-10-06 20:07] #1199 closed, assigned to nobody

[2022-10-06 20:09] ehildenb commented on #1157
I have confirmed that I get the same output:

[code]

[2022-10-06 20:11] ehildenb commented on #1109
This option is only available on the Java backend, which we no longer support, so I'll close.

The haskell backend will not apply functions which it cannot show are deterministic at runtime (if more than one function axiom applies, it doesn't apply any of them).

[2022-10-06 20:11] #1109 closed, assigned to nobody

[2022-10-06 20:11] ehildenb commented on #1079
Closing this as undesired fix (the current behavior is good).

[2022-10-06 20:11] #1079 closed, assigned to nobody

[2022-10-06 20:12] ehildenb commented on #1053
@radumereuta is this still relevant? If not, let's close.

[2022-10-06 20:14] ehildenb commented on #1046
I have confirmed with the following example (`test.k`):

[code]

And the following commands:

[code]

That we are indeed letting the user know that the variable is not bound correctly.

[2022-10-06 20:14] #1046 closed, assigned to nobody

[2022-10-06 20:17] ehildenb commented on #1038
I have confirmed that this is still an issue (file `test.k`):

[code]

And with the commands:

[code]

[2022-10-06 20:35] ehildenb commented on #1483
Here is the current output I am getting with this example (K version 5.4.30).

File `test.k`:

[code]

File `test.in`:

[code]

Then the commands:

[code]

So it appears to me that we are getting the correct output on the first input now, and the second one is warning the user that it's not supported. I guess this can be closed then?

@dwightguth thoughts?

[2022-10-06 20:41] ehildenb commented on #1562
This is mostly the case it seems.

[2022-10-06 20:41] #1562 closed, assigned to nobody

[2022-10-06 20:41] ehildenb commented on #1564
I believe this should be sorted now, we had some problems with the unmunger. Re-open if not sorted.

[2022-10-06 20:41] #1564 closed, assigned to nobody

[2022-10-06 20:45] ehildenb commented on #1590
I have reproduced, with the same inputs as above, and the following output, on K version 5.4.30.

[code]

[2022-10-06 20:49] ehildenb commented on #1590
However, by fixing the `macro` error, you now can get the behavior you expect:

file `test.k`:

[code]

Notice the changes:

- `macro-rec` attribute is moved onto the `_st_` production directly.
- The `rule A[Q st F(Args)] --> B => A[Q such that F(Args)] --> B [macro-rec]` is adjusted to say instead `rule A[Q st F(Args)] => A[Q such that F(Args)]`

Then you get the expected behavior you supply:

[

[2022-10-06 20:49] ehildenb commented on #1590
Closing as resolved, re-open if not!

[2022-10-06 20:49] #1590 closed, assigned to nobody

[2022-10-06 20:54] ehildenb commented on #1609
This appears to be fixed on K 5.4.30.

File `test.k`:

[code]

File `test.wat`:

[code]

Then I get the following interaction:

[code]

Closing as fixed.

[2022-10-06 20:54] #1609 closed, assigned to nobody

[2022-10-06 20:56] ehildenb commented on #2491
Related: https://github.com/runtimeverification/k/issues/1664

[2022-10-06 20:56] ehildenb commented on #1664
Related: https://github.com/runtimeverification/k/issues/2491

[2022-10-06 20:57] ehildenb commented on #1686
This will be subsumed by https://github.com/runtimeverification/pyk/issues/30

[2022-10-06 20:57] #1686 closed, assigned to nobody

[2022-10-06 20:58] ehildenb commented on #1711
Closing this as it's been a long time since we migrated `kx` to the new `krun` script, which is fast (and indeed is intended to be fast, with direct execution paths rather than proper parsing libraries and such).

[2022-10-06 20:58] #1711 closed, assigned to nobody

[2022-10-06 21:00] ehildenb commented on #1752
This change has been made to the current tutorial, closing.

[2022-10-06 21:00] #1752 closed, assigned to nobody

[2022-10-06 21:08] ehildenb commented on #1798
I have reproduced this on K version 5.3.40.

Same input file as above, in `definition.kore` I'm getting:

[code]

Which still contains the suspicious: `inj{SortFunctionCell{}, SortFunctionCellMap{}}(VarFs:SortFunctionCell{})`

So it's inferring sort `FunctionCell` for `Fs` instead of `FunctionCellMap` directly.

[2022-10-06 21:14] ehildenb commented on #1890
I have reconfirmed this behavior on K version 5.3.40:

File `test.k`:

[code]

Then the interaction:

[code]

So it still can't find symbol `_+Int_` for some reason. But adding `requires "domains.md"` explicitly at the top solves it. It seems weird that implicit import of it doesn't work.

[2022-10-06 21:24] ehildenb commented on #1956
The frontend now correctly outputs a warning:

[code]

And `krun` still crashes as expected. The following definition works:

[code]

You get:

[code]

Note the changes I had to make to the definition:

- Add `imports BOOL` to `TEST-SYNTAX`.
- Move the `macro` symbol to the `if(_){_}` production.
- Modify the macro rule to not have the variable `REST`, which is not under the macro production.

Clo

[2022-10-06 21:24] #1956 closed, assigned to nobody

[2022-10-06 21:26] ehildenb commented on #1936
We need to remove Java backend from the rest of the tutorial. Related: https://github.com/runtimeverification/k/issues/1271

[2022-10-06 21:26] ehildenb commented on #1938
Yes, this is related to the recent work on simplification @radumereuta and @ana-pantilie .

[2022-10-06 21:30] ehildenb commented on #2247
@radumereuta is this particular issue still a problem? I thought we had sorted out a lot of the type inference slowness by now.

[2022-10-06 21:31] ehildenb commented on #2257
I have confirmed that the duplicate production is still not detected on K version 5.4.30.

[2022-10-06 21:35] ehildenb commented on #2315
I have confirmed that this si still hapenning on K version 5.4.30:

Inptu file `test.k`:

[code]

Input file `in.test`:

[code]

Reproduction:

[code]

It should be outputting `false`.

[2022-10-06 21:37] ehildenb commented on #2327
Closing as duplicate: https://github.com/runtimeverification/k/issues/2326

[2022-10-06 21:37] #2327 closed, assigned to nobody

[2022-10-06 21:37] ehildenb commented on #2328
Closing as duplicate: https://github.com/runtimeverification/k/issues/2326

[2022-10-06 21:37] #2328 closed, assigned to nobody

[2022-10-06 21:38] ehildenb commented on #2329
Closing as duplicate: https://github.com/runtimeverification/k/issues/2326

[2022-10-06 21:38] #2329 closed, assigned to nobody

[2022-10-06 21:38] ehildenb commented on #2330
Closing as duplicate: https://github.com/runtimeverification/k/issues/2326

[2022-10-06 21:38] #2330 closed, assigned to nobody

[2022-10-06 21:38] ehildenb commented on #2331
Closing as duplicate: https://github.com/runtimeverification/k/issues/2326

[2022-10-06 21:38] #2331 closed, assigned to nobody

[2022-10-06 21:38] ehildenb commented on #2332
Closing as duplicate: https://github.com/runtimeverification/k/issues/2326

[2022-10-06 21:38] #2332 closed, assigned to nobody

[2022-10-06 21:38] ehildenb commented on #2326
Related: https://github.com/runtimeverification/k/issues/2327 https://github.com/runtimeverification/k/issues/2328 https://github.com/runtimeverification/k/issues/2329 https://github.com/runtimeverification/k/issues/2330 https://github.com/runtimeverification/k/issues/2331 https://github.com/runtimeverification/k/issues/2332

[2022-10-06 21:40] ehildenb commented on #2414
Related: https://github.com/runtimeverification/pyk/issues/30

[2022-10-06 21:42] ehildenb commented on #2439
I have confirmed that this crashes on K 5.3.40.

[2022-10-06 21:43] ehildenb commented on #2481
Related: https://github.com/runtimeverification/pyk/issues/30

[2022-10-06 21:46] ehildenb commented on #2519
@dwightguth and @Baltoli is this still an issue? If not, please close.

[2022-10-06 21:49] dwightguth commented on #984
The llvm backend doesn't currently support this. It wouldn't be too hard to write a frontend pass that desugars \or on the rhs to duplicate rules though. That's probably going to be easier than trying to get this to work in the backend in a way that would cooperate with search

[2022-10-06 21:49] ehildenb commented on #2541
Related: #2925

[2022-10-06 21:52] ehildenb commented on #2625
Related: https://github.com/runtimeverification/k/issues/843 and https://github.com/runtimeverification/k/issues/1585, #3193

[2022-10-06 22:01] ehildenb commented on #2964
It should also be exiting with non-zero exit code on failure (to be verified).

[2022-10-06 23:54] dwightguth commented on #1277
This is definitely not relevant. The semantics linked in the issue has not been in active use for months. It's possible there's a bug here, but it's not worth trying to track it down.

[2022-10-07 10:09] ana-pantilie commented on #1938
Once we have something that can generate minimal definedness conditions for rules, we can apply it to simplification rules as well.

[2022-10-07 10:34] fiedlr commented on #2917
**Troubleshooting**

It might happen that you come across an error like this:

`parse error: Exceeds depth limit for parsing at line x, column y`

One of the options how to overcome this is to increase the bison stack depth and force `jq` to use stream parsing.
Edit your `pykprint.sh` to the following:

[code]

[2022-10-07 12:11] radumereuta commented on #984
`rule choose(choose(A,B), choose(C,D)) => (A #Or B) #Or (C #Or D)`
Are nested #Ors allowed?

[2022-10-07 12:22] radumereuta commented on #1053
We changed the serialization method since then.
So probably no longer relevant.

[2022-10-07 12:22] #1053 closed, assigned to nobody

[2022-10-07 12:44] radumereuta commented on #2247
The C semantisc takes 30s to parse all the rules on a 32threads machine. The slowest rule takes 8s to do type inference.
No longer horrible, but we could still improve this by a lot.
I marked it as low priority.
We can close it if people are happy with this state. It's not such a big issue since we have caching that works pretty well.
So repeated calls to kompile don't suffer that much.
But calls

[2022-10-07 13:27] fiedlr commented on #2917
**pyk print --keep-cells**

Starting with `pyk@0.1.16`, there is a new functionality in `pyk print` called `--keep-cells` that is sort of inverse to `--omit-cells`. The flag `--keep-cells` allows you to keep selected cells and remove the rest, leading to a very compact (sub)configuration. This is especially useful for tracking a handful of cells with primitive values when debugging a claim. Actual

[2022-10-07 14:55] radumereuta commented on #1038
Somewhat related: https://github.com/runtimeverification/llvm-backend/issues/579
The LLVM backend doesn't check types that well when doing conversions.

[2022-10-07 18:12] dwightguth commented on #984
Yeah that would have be handled also.

[2022-10-08 14:48] amelieled commented on #2954
Missing attributes in `Attribute Index` (but used in the K standard library):
- for module: `kast`, `kore`, `not-lr1`
- for cell: `stream="stdin"` and `stream="stdout"`
- `stream`
- `returnsUnit`
- `unblock`
- `unparseAvoid`
- `defaultBracket`
- `impure`
- `index(0)`
- `mlBinder` (I think, there is a missing declaration of `syntax priorities` that used it)

[2022-10-08 14:50] amelieled commented on #2954
The neutral element `arrayCtor` seems to be undefined.

[2022-10-08 16:16] amelieled commented on #2954
**About tokenisation:**

Why there is the attribute `token` in the following:
[code]
but not here:
[code]
?
Maybe, it is because `#LowerId` is a "token sort", i.e. defined only with tokens and without constructor, whereas `#KVariable` isn't a "token sort"?

Indeed, the definition of `#LowerId` is:
[code]
whereas the definition of `#KVariable`:
[code]

So, implicitly, the declaration:
[code]
is equ

[2022-10-10 04:54] #2612 closed, assigned to jberthold

[2022-10-10 10:57] Baltoli commented on #2519
We don't have any real need to do this; it's unlikely to become a bottleneck. Happy to close.

[2022-10-10 10:57] #2519 closed, assigned to nobody

[2022-10-10 14:33] amelieled commented on #2954
I'm not sure about the possible combinations of some attributes:
* `function` + `strict`/`seqstrict` is a correct combination?
* `constructor` + `assoc`/`comm`/`unit`/`idem` is a correct combination?

[2022-10-10 14:50] #2882 closed, assigned to Baltoli

[2022-10-10 14:51] Baltoli commented on #2534
Closing as our verified method for installing K on these systems is now the Nix flake, which is tested in CI.

[2022-10-10 14:51] #2534 closed, assigned to Baltoli

[2022-10-10 18:37] radumereuta commented on #2914
@Baltoli you are the last one to touch version calculation.
Can you look into this? I've managed to reproduce the bug, but I found all sorts of inconsistencies.
For example, this [line](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/utils/file/JarInfo.java#L86) is looking for a version embedded in the jar file, but that doesn't seem to be updated.
I think

[2022-10-10 20:24] tothtamas28 opened #2974 "Kompile executes post-processing command in modified environment"
When running `kompile` with `--post-process <command>`, one would expect that `command` is executed in the caller's environment (extended perhaps with a few variables that do not clash with existing ones).

This is not the case however. Consider e.g. `script.sh`:

[code]

Then

[code]

produces

[code]

whereas

[code]

produces

[code]

Notably, `$PATH` is extended with new directories, so comman

[2022-10-11 16:43] goodlyrottenapple opened #2978 "`kup` crashes when no nix profile installs exist"
Fix

[code]

[2022-10-12 15:26] radumereuta commented on #2974
This comes from here: https://github.com/runtimeverification/k/blob/master/k-distribution/src/main/scripts/lib/setenv#L12

[2022-10-13 08:31] Baltoli opened #2981 "`kup shell` swallows stdout"
When using `kup shell` on macOS / Intel, with iterm2 3.4.15, the standard output of any command executed is silently discarded. Standard error is displayed fine:
[code]

This also breaks TUI apps like `vim`.

More info:
[code]

[2022-10-13 08:33] #2978 closed, assigned to goodlyrottenapple

[2022-10-13 08:34] Baltoli commented on #2964
Is this closed by #2965 @goodlyrottenapple?

[2022-10-13 08:41] goodlyrottenapple commented on #2964
yes

[2022-10-13 08:41] #2964 closed, assigned to goodlyrottenapple

[2022-10-13 08:46] goodlyrottenapple commented on #2981
hmm cannot reproduce. might be an issue with the underlying nix shell command?

[2022-10-13 08:52] Baltoli commented on #2981
Doesn't seem to be the case:
[code]

[2022-10-13 08:53] goodlyrottenapple commented on #2981
Interesting...what os are you on? also what shell?

[2022-10-13 08:54] goodlyrottenapple commented on #2981
oh nm, i see you posted both

[2022-10-13 08:55] Baltoli commented on #2981
Same happens on a remote macOS / Arm64 machine:
[code]

[2022-10-13 08:57] goodlyrottenapple commented on #2981
ah, i wasn't on latest kup. also getting the same behaviour now

[2022-10-13 08:57] goodlyrottenapple commented on #2981
think its to do with the change to how nix commands are ran

[2022-10-13 09:36] Baltoli opened #2983 "New Ubuntu Jammy packaging fails on release job"
https://github.com/runtimeverification/k/actions/runs/3240999414/jobs/5312347235

The release job fails because it's unable to find the asset `kframework_ubuntu_jammy.deb`. Looking at the action that's responsible for building the package, it seems like the name we use in the release job is wrong (and should possibly be `kframework_amd64_jammy.deb`): https://github.com/runtimeverification/k/blob/4

[2022-10-13 11:18] radumereuta commented on #2867
Possibly related: https://github.com/runtimeverification/k/issues/1281

[2022-10-13 12:39] #2981 closed, assigned to nobody

[2022-10-13 13:32] radumereuta commented on #2315
@Baltoli is this safe to close?
I don't know why GH didn't close it automatically.

[2022-10-13 13:51] #2315 closed, assigned to Baltoli

[2022-10-13 15:20] radumereuta commented on #2866
@sskeirik can you give us an update on this?
Has the reduced memory for Java heap solved the issue for your clients?

[2022-10-13 15:24] radumereuta commented on #2915
Leave it as is. We like to have the hash at the end to know if someone built K from git or got it from a package.
Fixed by: https://github.com/runtimeverification/k/pull/2989

[2022-10-13 15:24] #2915 closed, assigned to radumereuta

[2022-10-13 15:36] #2247 closed, assigned to nobody

[2022-10-13 15:40] radumereuta commented on #31
There are workarounds by structuring the syntax differently, but there isn't much we can do implementation wise.

[2022-10-13 15:40] #31 closed, assigned to nobody

[2022-10-13 15:44] radumereuta commented on #843
This check should be somewhere in the outer parser.
Should concern only the attributes a user might write.
Probably we will have to change some definitions, and make sure we declare all attributes in Att.scala.

[2022-10-13 15:47] radumereuta commented on #1000
Dwight: We don't have a use case for this. Reopen if we still have this issue.

[2022-10-13 15:47] #1000 closed, assigned to nobody

[2022-10-13 15:54] radumereuta commented on #1271
The k-tutorial is fine, but the pl-tutorial needs to be updated when we remove the java backend.

[2022-10-13 15:55] #1277 closed, assigned to nobody

[2022-10-13 17:06] amelieled commented on #2954
About the attribute `applyPriority(_)`:
Between parenthesis = one integer OR a list of integers?

[2022-10-14 09:29] #1038 closed, assigned to Baltoli

[2022-10-14 10:23] Baltoli opened #2991 "Submodule update jobs don't respect new PR workflow"
The LLVM / Haskell backend jobs don't respect our new workflow for opening PRs. This means that they end up pulling in version changes when they shouldn't (screenshot taken 14 Oct - will only get worse as we keep bumping the version), and so we have to rebase these out manually. If a PR is merged without rebasing them out, we can end up with versions jumping back in time.

@F-WRunTime @ehildenb fe

[2022-10-14 15:37] #2914 closed, assigned to Baltoli

[2022-10-14 16:12] goodlyrottenapple opened #2994 "add `--local` option to `kup install/update`"
`kup install k --local ${pwd)` should install k from the local checkout

[2022-10-14 16:38] F-WRunTime commented on #2991
@Baltoli  Good question @ehildenb and I can sync on this to avoid any toe stepping while Everett was in the middle of working on some Jenksfile transitions.

[2022-10-15 08:22] LesleyLai opened #2999 "Inconsistency in SIMPLE language tutorial"
Hi, In the [Simple language tutorial](https://kframework.org/k-distribution/pl-tutorial/2_languages/1_simple/1_untyped/simple-untyped/) on K's website, there are several places in text mentioned declaration and `Stmts`, but they are nowhere to be found in code. After some digging, I found [this commit](https://github.com/runtimeverification/k/commit/b0233450427c9da9d863f31159a598489379b8f4) change

[2022-10-17 19:29] radumereuta commented on #1947
I'm not sure this is related to macros, maybe more related to this issue that was recently fixed:
https://github.com/runtimeverification/k/pull/2968
Since there isn't a minimal example to quickly test, I would suggest closing this and seeing if it resurfaces.

[2022-10-17 19:32] radumereuta commented on #2219
Possible solution Guy is working on: https://github.com/runtimeverification/k/pull/2923

[2022-10-17 21:03] #2910 closed, assigned to radumereuta

[2022-10-18 11:34] radumereuta opened #3002 "[kserver] doesnt work with `mvn integration-test`"
I noticed CI takes longer than usual to run tests:
- 11m22s - Build and Test K (regression-new)
- 26m58s - Tutorial Integration Tests

These should be less than half normally, but I ran locally
[code]
and kserver doesn't output anything.
Running:
[code]
works correctly, and is fast.
On top of that, there are 2 java processes hanging at the end and don't release the memory.

[2022-10-18 15:02] radumereuta commented on #3002
Turns out the new runners are more restrictive than what we had on Jenkins.
So the times are expected.

[2022-10-18 15:02] #3002 closed, assigned to nobody

[2022-10-18 21:09] #1134 closed, assigned to nobody

[2022-10-18 21:12] dwightguth commented on #1157
This does not actually need a code change to accomplish what you intend.

Here is, for example, a membership function written over a cell collection as it appears in the C semantics:

[code]

Note that this is written to look at the global cell declaration using function context, but it equally would work by passing the cell collection explicitly as an argument to the function.

[2022-10-18 21:12] #1157 closed, assigned to nobody

[2022-10-18 21:16] dwightguth commented on #1278
We don't appear to have touched this issue in the past two years, so I'm closing it. Feel free to open a new issue with more up to date information if you still view this as a priority.

[2022-10-18 21:16] #1279 closed, assigned to nobody

[2022-10-18 21:18] dwightguth commented on #1281
I tried an implementation of lexical modes and the performance was bad enough that it's not really a suitable solution to this particular issue. As Radu says, there are several potential workarounds. If this is still an issue for you, feel free to reopen.

[2022-10-18 21:18] #1281 closed, assigned to nobody

[2022-10-18 21:18] dwightguth commented on #1285
I have not seen this error in quite some time; I'm assuming it got fixed at some point.

[2022-10-18 21:18] #1285 closed, assigned to nobody

[2022-10-18 21:21] dwightguth commented on #1295
Closing as a duplicate of #2477

[2022-10-18 21:21] #1295 closed, assigned to nobody

[2022-10-18 21:22] dwightguth commented on #1300
Closing as stale. Please open a new issue if you still need this.

[2022-10-18 21:22] #1300 closed, assigned to nobody

[2022-10-18 21:24] dwightguth commented on #1312
Closing as stale. Please open a new issue if you still need this.

[2022-10-18 21:24] #1312 closed, assigned to nobody

[2022-10-18 21:25] dwightguth commented on #1382
Closing as stale. If you still feel you would benefit from this, feel free to reopen.

[2022-10-18 21:25] #1382 closed, assigned to nobody

[2022-10-18 21:26] dwightguth commented on #1391
Closing this as stale. Feel free to reopen if you still believe you would currently benefit from this.

[2022-10-18 21:26] #1391 closed, assigned to nobody

[2022-10-18 21:27] dwightguth commented on #1419
Closing as duplicate of #1271

[2022-10-18 21:27] #1419 closed, assigned to nobody

[2022-10-18 21:29] dwightguth commented on #1483
Closing this as stale. Feel free to open a new issue if you still need this.

[2022-10-18 21:29] #1483 closed, assigned to nobody

[2022-10-18 21:30] dwightguth commented on #1527
This is over two years old, so I'm going to close it. @malturki , feel free to reopen if you still believe it would provide value to you.

[2022-10-18 21:30] #1527 closed, assigned to nobody

[2022-10-18 21:31] dwightguth commented on #1587
This is a duplicate of #1271

[2022-10-18 21:31] #1587 closed, assigned to nobody

[2022-10-18 21:32] dwightguth commented on #1607
This is probably fixed. If you're still having issues feel free to reopen though.

[2022-10-18 21:32] #1607 closed, assigned to nobody

[2022-10-18 21:34] dwightguth commented on #1594
This seems to be pretty stale. Feel free to open a new issue if you are still having issues with this.

[2022-10-18 21:34] #1594 closed, assigned to nobody

[2022-10-18 21:40] dwightguth commented on #1798
This appears to have been opened as part of Tom's work on the C semantics. It's definitely no longer necessary, but it's also definitely a bug, so I'm going to move this to the backlog.

[2022-10-18 21:46] dwightguth commented on #1278
I've been a little too aggressive here I think. I'll reopen this, but I'm moving it to the backlog as it's clearly not a high priority.

[2022-10-18 21:51] dwightguth commented on #1890
This is a bug, but it's unclear that current work is affected by it, so I'm going to move it to the backlog.

[2022-10-18 21:53] dwightguth commented on #1950
I'm closing this because it's unclear if this is still affecting you. Feel free to open a new issue if you are still affected by this.

[2022-10-18 21:53] #1950 closed, assigned to nobody

[2022-10-18 21:55] dwightguth commented on #1947
Closing since we can't reproduce it. Feel free to reopen with an example if you have one.

[2022-10-18 21:55] #1947 closed, assigned to nobody

[2022-10-18 22:00] dwightguth commented on #2273
@niconaus are you still affected by this?

[2022-10-18 22:01] #2303 closed, assigned to nobody

[2022-10-18 22:05] dwightguth commented on #2439
@trinhmt is this still affecting you?

[2022-10-18 22:28] dwightguth opened #3004 "Test"

[2022-10-18 22:28] #3004 closed, assigned to nobody

[2022-10-19 11:26] radumereuta commented on #2974
@dwightguth are we still using the extra path added to `$PATH` added to the K environment?
It seems that Tamash is running into some issue because of that.

[2022-10-19 15:29] dwightguth commented on #2974
This particular behavior is necessary so that k will always call its own version of any tools that exist even if the tool being run isn't the version on the path. For example, if I say `krun --parser kast` but k isn't on the path, without this line that will be an error.

We can probably remove the native directory from the path though as I believe that was specifically to deal with windows partic

[2022-10-19 19:11] radumereuta opened #3005 "K version bump feature list (5.5.0)"
Updated up to: 536d704c44e59c0aa789cd34485172a8a11b63f5

- Features:
  - https://github.com/runtimeverification/k/issues/2899
  - https://github.com/runtimeverification/k/pull/2929
  - https://github.com/runtimeverification/k/pull/2919
  - https://github.com/runtimeverification/k/pull/2924
  - https://github.com/runtimeverification/k/pull/2936
  - https://github.com/runtimeverification/k/pull/2946

[2022-10-20 10:34] tothtamas28 commented on #2974
The particular issue I have is the following. Consider the following dummy post-processing script:

[code]

(Obviously, this is not a proper post-processing script, as its output is not well formed KAST JSON.)

In order to have the `pyk` module available, we can run it from the `pyk` project folder using Poetry (I ran it in a `pyk` CI docker container):

[code]

and the output, as expected, will b

[2022-10-20 11:10] dwightguth commented on #2974
What you describe may be possible but it might be simpler simply to add a directory that only contains k binaries to the path instead.

[2022-10-20 13:37] radumereuta commented on #2099
Some updates after the parser kernel rewrite:
[code]

[2022-10-20 14:34] radumereuta opened #3008 "Rename `functional` into `total-function` for better clarity"
The name `functional` is non-descriptive of what it actually means.
The description in the user manual is good enough, but during training people always had to ask what this means.

We could add the `total-function` attribute as an alias for a while and slowly phase out `functional`.
Also, we shouldn't require `function` when we add `total-function`. This will make some conditions in the code a bi

[2022-10-20 15:07] #2481 closed, assigned to nobody

[2022-10-20 15:10] dwightguth commented on #2568
@ChristianoBraga is this still useful to you?

[2022-10-20 15:11] dwightguth commented on #2640
@PetarMax is this still affecting you?

[2022-10-20 15:15] #2907 closed, assigned to nobody

[2022-10-20 15:22] dwightguth commented on #1949
Duplicate of #2219

[2022-10-20 15:22] #1949 closed, assigned to gtrepta

[2022-10-20 15:23] #2718 closed, assigned to goodlyrottenapple

[2022-10-20 15:34] ehildenb commented on #2373
It could be as simple as checking if update to JavaCC fixes this.

[2022-10-20 15:41] dwightguth commented on #2709
@PetarMax is this still affecting you?

[2022-10-20 15:53] #2994 closed, assigned to nobody

[2022-10-20 16:05] dwightguth commented on #3008
Just `total` and it does not imply `function` but implies `functional` if `function` is also present.

[2022-10-20 16:16] #2063 closed, assigned to ehildenb

[2022-10-20 16:16] #2906 closed, assigned to ehildenb

[2022-10-20 16:16] #2917 closed, assigned to ehildenb

[2022-10-20 17:41] radumereuta commented on #2373
I just tested this with
[code]
and
[code]
And the issue persists.
I would not bother fixing this.
The error message is clear enough to avoid it. We can accept such a limitation.

[2022-10-21 21:14] #2514 closed, assigned to radumereuta

[2022-10-21 21:14] #3005 closed, assigned to radumereuta

[2022-10-22 12:34] ChristianoBraga commented on #2568
Yes it’s still useful.

Em qui., 20 de out. de 2022 às 12:11, Dwight Guth ***@***.***>
escreveu:

[2022-10-25 17:54] niconaus commented on #2273
Thank you for the follow-up! I was not able to resolve this issue, and have moved to a virtual machine to run the K framework. I'll give it another shot in a couple of days and report my findings.

[2022-10-26 10:12] PetarMax commented on #2640
@dwightguth I haven't received any reply from anyone thus far, so I assume it hasn't been resolved.

[2022-10-26 10:13] PetarMax commented on #2709
@radumereuta @ehildenb Could the free variable calculation be adapted to not include `X` as a free variable (which would be correct), so that `unboundVariables` doesn't have to be used in these scenarios?

Otherwise, the issue is resolved.

[2022-10-26 12:01] tothtamas28 opened #4236 "Enable test-post-process"
Blocked on: https://github.com/runtimeverification/k/issues/2974

Re-add test case disabled in https://github.com/runtimeverification/pyk/pull/74.

[2022-10-26 12:43] goodlyrottenapple commented on #2276
@PetarMax reports he's successfully installed K on an M1 mac without nix and uses it daily. Not sure if we need to update any specific install instructions for the M1?

[2022-10-27 04:27] ehildenb opened #3020 "[K-Bug] Tangle tags from kompiled definition behave unexpectedly"
### What component is the issue in?

Front-End

### Which command

- [ ] kompile
- [ ] kast
- [ ] krun
- [X] kprove
- [ ] kprovex
- [ ] ksearch

### What K Version?

5.5.4 - 43f56ac166

### Operating System

Linux

### K Definitions (If Possible)

File `test.md` has these contents:

[code]

Note that the module `EVM-TYPES` has two different tangle tags in use, one with `bytes` and one with `nobyte

[2022-10-27 04:35] ehildenb commented on #3020
This is urgent, it is affecting KEVM.

[2022-10-27 10:50] radumereuta commented on #3020
You are using the wrong module to call kprove.
[code]

[2022-10-27 14:41] ehildenb commented on #3020
Oh good point. I've updated the example with the correct tangle tags. It's still inconvenient that at `kprove` time, which may be using a packaged semantics on a different machine by a different person than the one who did `kompile`, that I need to know the tangle tags that were used at `kompile` time.

This is not blocking anymore, because I can make KEVM adjust it's arguments

[2022-10-27 15:06] ehildenb commented on #2316
Some notes:

- Leave any warnings due by the Java backend alone (instead of fixing them) unless the fix is easy/trivial.
- Get incremental progress merged.

[2022-10-27 15:18] ehildenb commented on #2925
Notes:

- Working on data-layer for storing database of terms, and eventually KCFGs. Looking into MongoDB for this currently. Want data-layer separated from representation layer.
- Separate repo for server infrastructure? Makes sense because adding in dependencies like MongoDB to pyk is too heavy. Will update cookiecutter python project template, and then make new repo.

Remember our users of k-re

[2022-10-27 15:27] ehildenb commented on #2276
I think we can close this for now, several people are reporting that it's working on their M1s now.

[2022-10-27 15:27] #2276 closed, assigned to goodlyrottenapple

[2022-10-28 01:09] ehildenb opened #3023 "Kore label munging confusion"
According to the munging table in [StringUtil](https://github.com/runtimeverification/k/blob/master/kore/src/main/java/org/kframework/utils/StringUtil.java#L551), and also to [KoreToK](https://github.com/runtimeverification/k/blob/fc61802320bf64d4e0b1f2462e7e91ea2d3296bd/kore/src/main/scala/org/kframework/parser/kore/parser/KoreToK.scala#L37), the munging of `-` should be `'Hyph'`. But I take this

[2022-10-28 16:13] ehildenb commented on #3023
It appears [that here in ModuleToKORE](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L1851) we are overriding the munge table for a few specific symbols, in particular we're undoing the `-` munging.

Maybe the `StringUtil` and `KoreToK` implementations should be updated to just not munge `-` in the first place? We don't use

[2022-10-31 14:00] goodlyrottenapple commented on #2958
if we don't want to rely on a cache, we could perhaps set up the following convention:
1) only list tagged releases as installable by default (question: can we find out the latest tagged release from the public github API?). Installing latest master would be done via e.g. `kup install k --dev` or via a specific commit/tag, i.e. `kup install k --version 1234abc`
2) have a way to record any broken r

[2022-11-02 11:30] jberthold opened #3026 "Revise symbolic set simplification rules and tests"
After fixing two set matching bugs in the Haskell backend, the set simplification rules in `domains.md` should be revised, and possible some more rules added. Some tests in `regression-new/set-symbolic-tests` were failing before, and more cases should be added if more powerful simplification rules can be added.

[2022-11-03 14:55] radumereuta commented on #2934
This doesn't have enough information to properly test.
For high performance applications, the java code path should be avoided.
We have the krun script and the bison parser for that.
If you add the `--verbose` flag to the commands you are running, we could provide more insight into what is failing and how to fix it.

[2022-11-03 15:02] radumereuta commented on #2709
`ComputeUnboundVariables` should have an extra set with `boundVariables`
And modify the case for KApply and when found in `#Exists` and `#Forall` it should not report it.
Add tests.
https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/compile/checks/ComputeUnboundVariables.java#L46

[2022-11-03 15:05] #2983 closed, assigned to ehildenb

[2022-11-03 15:12] #2707 closed, assigned to nobody

[2022-11-03 15:35] ehildenb opened #3028 "Current releases are not being marked correctly"

[2022-11-03 16:00] radumereuta commented on #3028
Details from the meeting:
Specifically, v5.5.8 got released as a draft: https://github.com/runtimeverification/k/releases/tag/untagged-cfe6dfff545d05bd4a35
Because of that, other builds that depended on this started to fail.
Funny thing is v5.5.9 went through correctly.

[2022-11-03 17:15] #2776 closed, assigned to radumereuta

[2022-11-03 17:18] radumereuta commented on #2316
First stage is done. regression-new is the first line of defense and now it's free of errors.
Moving this issue to backlog and we can come back to it when we're going to remove the java backend.

[2022-11-04 18:09] #3008 closed, assigned to dwightguth

[2022-11-04 18:26] dwightguth commented on #2373
I looked into this and it appears that the issue is that the way we are specifying the regex for comments is that we expect a comment to end with \n or \r. In theory we could probably modify the way we handle comments in outer parsing so we used lexical states to deal with comments, which would likely fix this issue. However, we are already using lexical states when parsing comments in a way I don

[2022-11-04 18:32] dwightguth commented on #2774
This feels like the wrong solution to me. If we're not using these axioms currently, let's just not emit them. We can always add them back easily enough if we get to a point where we actually need them. But following a complicated migration path just to deal with code we're not actually using at all just feels like a waste of our time to me.

[2022-11-07 12:22] ana-pantilie commented on #2774
I did a bit of investigating, and I think the Haskell backend only uses the old `comm` attribute to know that it has to _ignore_ those axioms which are marked as `comm`.

I can't remember, did we want the new `comm` for symbols to be sent to the backends as well? If not, then it's as simple as, when the frontend stops emitting those `comm` axioms we can just delete the `comm` attribute from the ba

[2022-11-07 12:55] amelieled opened #3031 "[K-Bug] Uncaught error when a cell is named `GeneratedCounter`"
### What component is the issue in?

Front-End

### Which command

- [X] kompile
- [ ] kast
- [ ] krun
- [ ] kprove
- [ ] kprovex
- [ ] ksearch

### What K Version?

K version:    5.4.14

### Operating System

Linux

### K Definitions (If Possible)

[code]

### Steps to Reproduce

Just run: `kompile bug.k`.

### Expected Results

Generation of the folder `bug-kompiled`.

But, I obtained:
[code]

T

[2022-11-07 14:01] radumereuta commented on #3031
Timeboxed this for 30 mins and the error comes from somewhere in [ConcretizeCells.java](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/compile/ConcretizeCells.java#L75)
[`<generatedCounter>`](https://github.com/runtimeverification/k/blob/master/kore/src/main/java/org/kframework/builtin/KLabels.java#L28) is a reserved cell name and it appears we're not hand

[2022-11-07 16:27] dwightguth commented on #2774
Here is, I believe, the complete plan of attack:

1. Modify the frontend so it no longer emits the commutativity axioms that are getting ignored by both backends anyway.
2. Modify both backends so they no longer ignore axioms with the comm attribute (once the first step is merged). The haskell backend can just start treating the comm attribute like any other attribute it doesn't care about.
3. Mod

[2022-11-07 16:27] dwightguth commented on #2774
I will get started on this today and I believe I can complete all 3 steps.

[2022-11-07 18:49] niconaus commented on #2273
I re-ran the installation command "brew install kframework/k/kframework", and this time, no library-not-found errors. After struggling a bit to get the xcode command line tools to play nice ("xcocebuild -runFirstLaunch" was a very helpful command), everything is working perfectly now.

[2022-11-07 19:08] ehildenb commented on #3031
This should be a better error message, but I don't think there is a reason to support user-declared `<generatedCounter>`.

[2022-11-08 09:46] Baltoli commented on #3031
Is it worth documenting this behaviour somewhere in the user manual, as well as having a better error message? The list doesn't have to be exhaustive, but just that it's possible for the implementation to reserve cell names that are _lexically_ valid.

[2022-11-08 11:32] ana-pantilie opened #3035 "Remove "antiLeft" priority predicates from rewrite rules"
Rewrites rules which get assigned priorities get parsed into Kore which looks like:
[code]

That `\not{SortGeneratedTopCell{}}(priorityLE2{}())` encodes the priority of the rewrite rule into Kore, and it was deemed necessary a long time ago for constructing proof objects. This is no longer one of our goals, and the Haskell backends do not (and shouldn't) use this priority predicate in any way. I s

[2022-11-08 15:44] #2709 closed, assigned to radumereuta

[2022-11-09 20:14] gtrepta opened #3038 "[K-Bug] Key lookup exception for hooked string2token function in imported module"
### What component is the issue in?

Front-End

### Which command

- [X] kompile
- [ ] kast
- [ ] krun
- [ ] kprove
- [ ] kprovex
- [ ] ksearch

### What K Version?

5.5.14

### Operating System

Linux

### K Definitions (If Possible)

`token-hook-user.k`:
[code]

### Steps to Reproduce

[code]
<details><summary>

### Stack Trace</summary>

[code]
</details>

### Expected Results

It should kompil

[2022-11-10 11:35] ana-pantilie commented on #3035
I guess the bigger discussion here is if we still want the Kore definition to be as similar to a ML theory as possible. There is a lot of stuff being generated which we don't actually use (what is described above, constructor axioms etc.).

Argument for removing them: simplifies Kore generation by the frontend and internalization by the backends and might have performance benefits (we should measu

[2022-11-14 12:06] radumereuta commented on #2909
Make sure to test the C semantics this time: https://github.com/runtimeverification/k/pull/3041

[2022-11-14 12:09] Baltoli commented on #2909
Yes, apologies this got missed the first time @radumereuta!

[2022-11-14 12:38] amelieled commented on #3031
I suggest something: it might be interesting to be able to re-display the K semantics after each transformation performed by K.
For example, the attributes `strict` and `seqstrict` generate rewrite rules, so it is conceivable to re-display the new K semantics obtained.
With this in mind, at most a warning should be generated if a user wants to use a cell named `<GeneratedCounter>`.

[2022-11-14 13:10] radumereuta commented on #2909
What? I made the PR, I was supposed to test it.

[2022-11-14 19:20] #2564 closed, assigned to radumereuta

[2022-11-15 14:03] #3038 closed, assigned to radumereuta

[2022-11-16 15:07] amelieled commented on #2907
Is it possible to get the exhaustive list of the K tests?
I don't understand why I got very often "Parsing Ambiguity" for the semantics in `k-distribution/pl-tutorial` and `k-distribution/k-tutorial`.

[2022-11-17 09:28] Baltoli commented on #2273
Closing this as the original issue is for an old version of macOS that we don't support any more, and @niconaus is no longer affected. Feel free to reopen if it becomes an issue again.

[2022-11-17 09:28] #2273 closed, assigned to niconaus

[2022-11-17 16:10] ehildenb commented on #3035
We can have, by default, that `priority` attribute is not resolved into aliases for the LHS of the rules, and the antiLeft patterns are not added. The adding the `--gen-antileft-patterns` flag will recover the original behavior.

It should not affect any of our definitions/backends, but other tools may rely on those antiLeft patterns that we don't know about. So we'll turn off generation of them b

[2022-11-17 16:14] ehildenb commented on #3031
We'll make an explicit check (and document in the user manual), that the user is not allowed to use `<generatedTop>` or `<generatedCounter>` for cell names, or `<s>`.

The issue about exporting the definition after every compile step is another one. Please open a separate issue for it describing your use case, and we'll see if the simple approach we have in mind will work for you.

[2022-11-17 16:20] ehildenb commented on #2909
We'll re-implement this change in the following way:

- Frontend should not allow `anywhere` rules going to Haskell backend.
- Frontend should have a flag `--allow-anywhere-haskell` which tells it to turn the prior check off, and will instead:
  - Print out a loud warning that `anywhere` rules are not allowed for haskell backend.
  - Strip out that rule before sending the definition to the backend

[2022-11-17 16:25] ehildenb commented on #3026
This directory: https://github.com/runtimeverification/k/tree/master/k-distribution/tests/regression-new/set-symbolic-tests/failing

Contains all the failing tests, and we should see if some of them are passing now, and if so enable them on CI.

This directory as well: https://github.com/runtimeverification/k/tree/master/k-distribution/tests/regression-new/set-symbolic-tests/unsimplified

[2022-11-17 16:29] ehildenb commented on #2954
@Baltoli first go through the attributes in the list on the first comment, and see if any of them are defunct like `returnsUnit` is.

[2022-11-21 09:06] Baltoli commented on #2909
Closed by #3051

[2022-11-21 09:06] #2909 closed, assigned to Baltoli

[2022-11-21 10:55] Baltoli commented on #3028
This seems to have been fixed now; the most recent releases are going through. Can reopen if this starts happening again.

[2022-11-21 10:55] #3028 closed, assigned to nobody

[2022-11-21 18:08] #3031 closed, assigned to radumereuta

[2022-11-21 19:20] ehildenb commented on #2477
For the frontend:

- Add a new syntax for `where WHERE_CLAUSES` (and `WHERE_CLAUSES` can only be a bunch of `_andBool_` of a bunch of `_:=K_`).
- The `WHERE_CLAUSES` rhs should only contain variables which are already bound by either the LHS of the rule, or a prior clause in the `WHERE_CLAUSE`.
- The frontend needs to sort the WHERE_CLAUSES and check for no-cycles.

For the LLVM backend:

- The de

[2022-11-23 09:10] Baltoli opened #3056 "Expose Python bindings compilation in `kompile`"
Currently, to generate the Python bindings for the LLVM backend, you need to call into `llvm-kompile` directly. Ideally, `kompile` would expose an option like `--llvm-kompile-mode` that would allow the higher-level tool to use this feature.

[2022-11-23 09:14] Baltoli opened #3057 "K PL Tutorials are out of date"
The languages in `2_languages` are slightly out of date and should be modernised. A list of concrete issues identified is:
* #2999
* #2882 (partially fixed for the regression test suite, not for the PL tutorial)

Some work has been done already:
* #2841

[2022-11-23 09:22] Baltoli commented on #2999
Thanks for reporting this @LesleyLai - I'll track this and other necessary updates to the tutorial in #3057.

[2022-11-23 18:59] nwatson22 opened #3061 "[K-Bug] Certain projection cast rules not applying in the prover"
### What component is the issue in?

haskell-backend

### Which command

- [ ] kompile
- [ ] kast
- [ ] krun
- [X] kprove
- [ ] kprovex
- [ ] ksearch

### What K Version?

v5.5.33-0-g66738e4353-dirty

### Operating System

Linux

### K Definitions (If Possible)

test.k
[code]

### Steps to Reproduce

1. Create spec file `test-spec.k`
[code]
2. `kompile test.k --backend haskell`
3. `kprove test-spe

[2022-11-24 11:06] ana-pantilie commented on #2774
If someone picks this up, ping me.

[2022-11-25 13:50] radumereuta commented on #2387
### second half of the year progress:
**K**
 - add LLDB as a debugger for Macs (Bruce)
 - allow the kast tool to parse rules (Radu)
 - move macro attribute from rules to syntax (Erik)
 - begin work on the `K repl`
 - updated simple-untyped to work with the llvm-backend (Nishant and Radu)
 - update the bug report templates (Freeman)
 - reduce simplification rule duplication with the `comm` attribut

[2022-11-29 13:03] #3056 closed, assigned to nobody