[2015-12-18 17:21] cos commented on #1732
done

[2015-12-18 17:21] #1732 closed

[2015-12-18 17:21] andreistefanescu commented on #1661
This was done some time ago.

[2015-12-18 17:21] #1661 closed

[2015-12-18 17:21] cos commented on #1731
done

[2015-12-18 17:21] #1731 closed

[2015-12-18 17:23] cos commented on #1748
@daejunpark, can we consider this solved?

[2015-12-18 17:24] cos commented on #1744
@msaxena2, is this still failing?

[2015-12-18 17:25] cos commented on #1705
done

[2015-12-18 17:25] #1705 closed

[2015-12-18 17:25] cos commented on #1671
too general

[2015-12-18 17:25] #1671 closed

[2015-12-18 17:26] cos commented on #1670
@radumereuta, is this still an issue?

[2015-12-18 21:37] cos opened #1927 "klabel with quote in KOOL definition"
[code]

[2015-12-18 21:46] cos opened #1929 "add brackets for builtin domains where it makes sense"

[2015-12-18 22:12] radumereuta commented on #1928
Could you be a bit more descriptive? This tells me nothing.

[2015-12-18 22:15] radumereuta commented on #1929
@cos, you have to be more descriptive of these issues.
You are not communicating efficiently here.
If this is something just for you to remember, then use something privately, don't clutter everybody's inbox.

[2015-12-18 22:31] grosu commented on #1929
@radumereuta , no, Cosmin is doing the right thing.  He's adding tasks that need to be completed before Jan 18 as issues, to we can keep track of them and assign them to people.  If anybody is interested in picking up any of these tasks, please volunteer.  Otherwise, most likely you will be assigned to some of these tasks.

[2015-12-18 22:56] cos commented on #1928
check where the issue is referenced

[2015-12-18 22:58] cos commented on #1929
@radumereuta, I'm referencing them back from the pull request -- you can look at the discussion there

[2015-12-19 05:43] laurayuwen commented on #1799
logik also use <br/>.

[2015-12-19 06:34] daejunpark commented on #1927
fixed in fdc04d5976c7e7857cb40aab0f0c1c65d723eb7b

[2015-12-19 06:34] #1927 closed

[2015-12-19 06:44] daejunpark commented on #1929
@radumereuta's suggestion doesn't work:

[code]

[code]

I tried the suggestion and tested against kool-untyped, but parsing failed many places (having 82 parsing errors). I guess it is due to ambiguities between an user-defined function's parenthesis with the bracket parenthesis of K.

[2015-12-19 07:30] daejunpark opened #1931 "parsing ambiguities for set brackets"
[code]

[code]

on the top of ba05f53c83dedde7ac7351ad34958acad2c02664

[2015-12-19 08:05] daejunpark opened #1932 "unparsing issue with bracket"
Adding a bracket for Int sort (f3ba3bd94563d49112a0d4d9ef11b8ab5f26560e) affects unparsing lambda term (8a24fe8143a921108f0b67930d5c97bf3902ce9f).

[2015-12-19 08:06] daejunpark commented on #1932
@dwightguth do you have an idea why it happened?

[2015-12-19 10:38] radumereuta commented on #1932
Guys. Stop adding brackets for every sort. Only one is needed for K.

[2015-12-19 10:40] radumereuta commented on #1929
Hmmm. I will have a look when I get back home tomorrow. It worked in K3. It should work in K4 too.

[2015-12-19 15:19] grosu commented on #1932
And why is that, @radumereuta?  These domains should have brackets anyway, regardless of K.  If somebody wants to import INT in the syntax of their language, they would expect to have parentheses there when parsing programs, too, not only in the semantics.  I understand your concern, ambiguities, but we have to deal with those ambiguities anyway.  Remember that we now have the module qualification

[2015-12-19 15:38] laurayuwen commented on #1932
I don't understand why we need to add brackets to every sort? I see PR#1930 add bracket for Int, Set and Bag in order to use brackets instead of backticks in kool semantics, but it doesn't seem to be the right way. We didn't have backticks for very sort, and yet can use it everywhere.

[2015-12-19 15:44] grosu commented on #1932
I just explained it above.  I can repeat:

These domains should have brackets anyway, regardless of K. If somebody wants to import INT in the syntax of their language, they would expect to have parentheses there when parsing programs, too, not only in the semantics...

[2015-12-19 16:09] cos commented on #1927
that was easy -- I thought there was something broken down the pipeline requiring it.

[2015-12-19 16:11] cos commented on #1931
@radumereuta, I guess `Busy` is considered a klabel and the `KApply` production is preferred, right?

[2015-12-19 16:17] laurayuwen commented on #1932
They are two separate concerns, one is If somebody wants to import INT in the syntax of their language, they would expect to have parentheses there when parsing programs, too, not only in the semantics?  This one I am not sure, somebody many and somebody may not.
The other one is we want to replace where we used backticks with parenthesis. And it doesn't convince me that it needs to be done separa

[2015-12-19 16:29] cos commented on #1932
It may be good, instead of adding brackets to every sort, to simply make a module:
[code]
Then we can subsort HAS_BRACKETS to any sort that needs them.

[2015-12-19 16:35] grosu commented on #1932
I think you are misunderstanding the issue.  Nobody said that we should add brackets for *every* sort, except for @radumereuta above, exaggerating.  We should add brackets to all the mathematical domains that ought to have brackets.  And that will also make it unnecessary, to a large extent, to even use the K bracket, so it will likely eliminate the need for backticks, even if we don't rename them

[2015-12-19 16:50] grosu commented on #1932
@cos, I think that would be very risky, because it would then collapse all the syntactic categories with brackets into one.  In Maude or rewriting logic terminology, they would all become the same kind.  Maude, in particular, would give you lots and lots of pre-regularity warnings when you collapse diffent syntactic categories.

I actually think that the parser should do *nothing* about brackets a

[2015-12-19 17:12] grosu commented on #1931
Welcome back to our good old friend, the parentheses.

@daejunpark , I'm assuming you are talking about this old rule, right?
[code]

If yes, then I believe this is a parsing bug, right @radumereuta?

TK syntax should have priority when there are ambiguities.  But it should not disallow other parses which are possible otherwise.  In the rule above, we know that `Busy` has sort `Set` (user-declared

[2015-12-19 21:46] cos opened #1933 "naming scheme for modules"
I think there is some confusion regarding the naming scheme for modules. I will take `IMP` as an example.

In K < 4.0, the syntax was in `IMP-SYNTAX` and the semantics in `IMP`. Thus, `IMP` imported `IMP-SYNTAX`. `IMP-SYNTAX` was used directly to generate program parsers via some Java hacks which made sure that this is possible, e.g., restricting `Id` etc.

In K >= 4.0, we have more fine-grained m

[2015-12-19 22:26] daejunpark commented on #1931
@grosu Yes, this issue came from that rule.

[2015-12-20 01:04] daejunpark opened #1935 "unexpected parsing ambiguities"
For this rule from kool-untyped:
[code]

Ambiguities: (the second is what expected.)
[code]
vs
[code]

How the first could be possible?

Actual warning msg:
[code]

[2015-12-20 01:35] daejunpark commented on #1802
fixed via PR #1804

[2015-12-20 03:44] daejunpark commented on #1842
@bmmoore, I assigned it to @radumereuta, assuming that you are not working on this.

[2015-12-20 03:49] #1803 closed

[2015-12-20 03:50] #1576 closed

[2015-12-20 05:51] omarz1 commented on #1933
@cos If confusing students next semester was the most urgent problem, then they should use the 3.6 release with its tutorials. Like you said, you don't have time for this.

[2015-12-20 06:06] omarz1 commented on #1933
If I have a say in this, I like the suggestion by @cos that is:
[code]
And `X-PROGRAMS` must be auto-generated unless overriden, just like the `super()` method  in a Java inheriting class.

[2015-12-20 12:14] grosu opened #1939 "Using functional notation in productions in the include folder"
In the include folder in the distribution, I see we use a lot of explicit, redundant KLabels.  For example:

    syntax String ::= "Id2String" "(" Id ")"    [function, hook(STRING.token2string), klabel(Id2String)]
    syntax Id ::= "String2Id" "(" String ")"    [function, klabel(String2Id)]

Remember the functional notation convention in productions,

    syntax Sort ::= name(Sort1,Sort2,...,Sortn

[2015-12-20 14:53] grosu commented on #1933
@omarz1 , the problem with allowing students to use K3.6 is that they will have no support from us if they do so.  We are not going to add improvements to 3.6 anymore, not even fix bugs, simply because we do not have the resources to do it.  And I can tell you from experience that students WILL find lots of issues with K during the class.  That's why we must release K 4.0 before the semester start

[2015-12-20 15:54] grosu commented on #1933
@cos Many thanks for your thoughts on this.  I do not like the current notations either.  What is worse is that, again, it looks like the particular names of modules have meaning in the tool.  The same happened before in previous versions of K and our users and ourselves hated it, because this only leads to headaches and inconsistencies.  We should *stop* doing this.  Actually, I thought that we a

[2015-12-20 17:27] laurayuwen commented on #1939
I see, it is redundant.

[2015-12-20 17:36] grosu commented on #1939
It should not be redundant!  If you don't put it, then the automatically generated attribute would be `name(_,_,...,_)`.  However, if you use the functional notation then it becomes redundant.

[2015-12-20 17:39] laurayuwen commented on #1939
yes, I saw your example. and I saw other cases that are using the way your example shows in domains.k

[2015-12-20 17:54] laurayuwen commented on #1939
What about these?
  syntax Int ::= Int "+Int" Int     [klabel('_+Int_), function, hook(#INT:_+Int_), left]
The concrete syntax would automatically result in the same klabel.

[2015-12-20 17:57] grosu commented on #1933
@cos and I had a discussion about this this morning and we reached a compromise that seems to give us the best we can get with minimal changes.

1) We keep the definitions in the tutorial unchanged (vs K3.6) in what regards the modules.  In the case of IMP, for example, we still have a module called "IMP-SYNTAX" imported by a module "IMP", and the latter defines a configuration whose `<k/>` cell c

[2015-12-20 18:27] grosu commented on #1939
Good question, @laurayuwen.  I don't like the quotes, but it is probably best to not open cans of worms if we don't have to right now.  Let us focus on what is absolutely needed for the transition to K4.0 right now.  Renaming these KLabels can wait.

[2015-12-20 22:42] cos commented on #1940
Yes, we could.
Should `#prettyPrint` be hooked to the meta or ground-level unparsing? I.e., should it print `#token("foo", Id)` or `foo`? From the example, it seems it should be the latter.

[2015-12-21 01:13] grosu commented on #1940
Yes, I think the latter.  And this should be the naive prettyPrinter, not the smart unparser.  We will probably have an unparser hook, too, but no need to worry about it right now.  Thanks.

[2015-12-21 16:26] kheradmand commented on #1863
I move stuff from ccommon to main and I get ambiguities with K's internal syntax. I keep them and I have this problem. It's really annoying. I wish there was a better way to resolve the ambiguities.

[2015-12-21 16:36] kheradmand commented on #1863
@msaxena2 I was wondering how did you figure out that "KRun can't figure out that sort OptionalPackageDec is a subsort of sort PackageDec."?

[2015-12-21 16:39] msaxena2 commented on #1863
I ran intellij's debugger on K running your program, set a breakpoint at
the match to see why it failed.
On Dec 21, 2015 10:36 AM, "Ali Kheradmand" <notifications@github.com> wrote:

[2015-12-21 16:44] kheradmand commented on #1863
@msaxena2 Is there any mechanism to figure out this stuff as a user?

[2015-12-21 16:50] msaxena2 commented on #1863
The debugger can help you figure out whether a match succeeded or not, but
finding out why it didn't succeed would be slightly tricky. I'm not sure
but K's --audit flag may help. It's something that we should incorporate
into audit (and we also plan to have auditing as part of the debugger as
well).
On Dec 21, 2015 10:44 AM, "Ali Kheradmand" <notifications@github.com> wrote:

[2015-12-21 22:25] kheradmand commented on #1863
@msaxena2 Don't know how to work with audit. is there any documentation?
I did something else, I  moved a minimal set of productions to common.

But still does not work. Can you checkout the branch "compiler-new" in my project and test it with
[code]

[2015-12-21 22:42] bmmoore commented on #1842
`Cell` is a sort from `kast.k` which is used for defining the nice front-end syntax of uncompleted cells.
For more than one cell you actually want the name `Bag` (which is poorly named, I just opened #1942 to rename it to `Cells`). We should never refer to that in ordinary rules generated by orginary compiler passes, but that seems like the right way to go inside of `RuleGrammarGenerator` where th

[2015-12-21 22:46] daejunpark commented on #1943
split from #1929

[2015-12-21 22:48] daejunpark commented on #1929
I split the bracket for K into separate issue #1943

[2015-12-22 01:06] grosu commented on #1842
I agree with Cells over Bag, but I am not sure that we even need to complicate ourselves with Cells at all.  We want to allow any operations to be structural, not only cells.  And once they are structural, they can take any arbitrary number of arguments and of any sorts that can ever appear underneath them.  That is just yelling for one generic sort for their arguments and results, which can be us

[2015-12-22 01:08] grosu commented on #1942
Please go ahead and do this, as this is a step ahead over what we have now anyway.

[2015-12-22 03:48] daejunpark commented on #1945
@grosu just to make sure, by the nice error messages, do you mean a kind of static checks for K definitions? Where and how can I find the full list of those checks? Who am I ask for this?

[2015-12-22 04:29] daejunpark commented on #1935
I guess that the above has something to do with sort inference.

Here is another example. Given:
[code]
Parser reports the following parse is possible for the rule:
[code]
but it shouldn't, since the variable `K` is of sort `K` and cannot be of sort `KLabel`.

[2015-12-22 04:31] daejunpark commented on #1935
@radumereuta any idea?

[2015-12-22 16:05] msaxena2 commented on #1863
@kheradmand Running krun with the -X flag will output help for all the experimental features. You will be able to find instructions about running an audit there. You'll have to use the --audit-file flag to specify the k file you'd like to audit, the --audit-step flag to specify a step number, and the --audit-line flag to specify the rule you'd like to be considered within the k file.

[2015-12-22 16:43] andreistefanescu opened #1948 "wrong rule for initKCell for configurations without $PGM"
The following module compile incorrectly, generating the wrong rule for ```initKCell```:
[code]

[2015-12-22 21:30] cos commented on #1945
@daejunpark, your best bet would be to look at instantiations of `KEMException` and figure out what they checked for. If it's not obvious on a first read, do a blame and bug the people who implemented most of that code.

[2015-12-22 21:36] kheradmand commented on #1863
@msaxena2 What does audit do exactly? It is going to help with my situation?
I also got k source code and I can now run it in debug mode. Can you help me on where to put breakpoints and what to look for to know what's going on inside?

[2015-12-22 22:17] daejunpark commented on #1945
@cos thanks! I expected it as well. But, what K version should I look for? The one before killing KIL, or someone even before?

[2015-12-22 22:21] cos commented on #1945
I guess 3.6 would be best. I don't think anything significant was done afterwards.

[2015-12-22 22:28] kheradmand commented on #1863
@msaxena2 @dwightguth  So right now as I said only a minimal set of productions are excluded from the semantics module.

I am running K in debug mode and this is the value of program before line 74 in KRun.java

[code]

**note the ```PackageDec(PackageName(IdList(#token("mop",Id),.List{"'IdList"}())))``` part**

The relevant part of syntax is :
[code]

I have test these two rules:
[code]
and
[code

[2015-12-22 22:40] daejunpark commented on #1945
got it 28ea17d, thanks!

[2015-12-22 22:41] daejunpark commented on #1945
@grosu I'll work on it, as you suggested.

[2015-12-22 23:17] kheradmand commented on #1863
Although this works:
[code]

[2015-12-22 23:40] kheradmand commented on #1863
the matche tries to match subject
[code]

with pattern
[code]

and it can't.

[2015-12-23 03:32] kheradmand commented on #1813
@msaxena2  I have similar experience. Any progress on that? Any idea what to do meanwhile ?

[2015-12-23 04:13] msaxena2 commented on #1813
@kheradmand Turn off system Integrity Protection on OS X. That solves the
issue.
On Dec 22, 2015 9:32 PM, "Ali Kheradmand" <notifications@github.com> wrote:

[2015-12-23 04:53] grosu commented on #1945
Thanks, @daejunpark.  One thing which is nice about the new KORE-based approach, is that consistency checks are being performed at KORE module built time.  If any of the old checks can be performed that way, then it would be nice to do it.  This way, we move those checks at the place where they are first needed, and do not allow junk to be propagated through the kompile pipeline.

[2015-12-23 16:19] msaxena2 commented on #1863
@kheradmand I'll take a look into what's going on with this. In the meanwhile, if you'd like to set breakpoints within K, look at the file `org/kframework/backend/java/symbolic/FastRuleMatcher.java`. Specifically the `mainMatch` function. Within the function is a call to a private `match` function. The `match` function is supposed to return the substitution of the match operation. If the substitut

[2015-12-23 16:51] kheradmand commented on #1863
@msaxena2 I already did that. It seems that nothing is matching.
I traced the execution until
[code]
with
[code]
and
[code]
This :
[code]

returns 3  and
[code]

returns null because ```varKItemDisjunctionsMap``` is empty

[2015-12-23 17:18] dwightguth commented on #1932
I am pretty sure the root cause of this issue is that if multiple bracket productions can be chosen for any particular location, they are not chosen in any particular order. I have talked about having some kind of unparser-prefer and unparser-avoid attributes to allow us to have a bit more control over the order in which productions are chosen by the unparser but we have not implemented anything l

[2015-12-23 17:23] dwightguth commented on #1940
I will say I have no objection to having a #prettyPrint function but I am strongly opposed to using it to implement more basic conversions between types. This is both a performance issue and an issue with compatibility because supporting the pretty-printer from within the OCAML backend would be highly nontrivial.

[2015-12-23 18:34] kheradmand commented on #1863
@msaxena2
[code]

it goes into the first and third if but nothing matches

[2015-12-23 20:01] msaxena2 commented on #1863
@kheradmand is compiler-new still the most recent relevant branch? (The one that the errors are happening on)

[2015-12-23 20:02] kheradmand commented on #1863
@msaxena2 yep

[2015-12-23 21:23] cos commented on #1520
Let's try to fix this.
@radumereuta, why aren't configuration variables true variables?

[2015-12-24 17:01] msaxena2 commented on #1863
@kheradmand
The pattern that you were trying to match, in your rule was rule `X:OptionalPackageDec`. It looks like there should be more to this pattern to make the match successful.
Given your production was syntax MOP ::= OptionalPackageDec ImportDecList SpecDec
Can you trying matching something Like  `X:PackageDec Y:ImportDecList Z:SpecDec`? I believe this simple pattern should match on somethin

[2015-12-24 18:26] kheradmand commented on #1863
I thought those three dots ```...``` do the same thing in
[code]

I changed it to
[code]

And it works :+1: Thanks a lot @msaxena2
(I tried this before but it used to give me strange output (_279). That was probably because of separation of syntax and semantics modules in a wrong way.)

Just can you explain to me how to use and not use ```...``` in rules?

[2015-12-29 00:15] cos opened #1959 "Flaky tests"
The `ktest`s are flaky, i.e., they fail non-deterministically -- true failures, not printing issues. For now, the problem is not that bad and in most cases a retry via "Jenkins: test this please" solves the problem. Still, as we add more of the tutorial, the problem will likely get worse.

Let's use this issue to mark the tests that we find flaky so that someone can inspect them at some point. I f

[2015-12-29 13:13] grosu commented on #1842
Guys, please, take care of this!!!  @radumereuta , @bmmoore .  It does *not* matter at this stage what I said above, all it matters is to make it work, so our tutorial definitions pass.  Once done, I will get back to this and make sure it is done properly, in terms of theory at least.  Please discuss it some more if needed.

@bmmoore : are you working on this or not?  Either way, can you concisely

[2015-12-29 13:26] grosu commented on #1959
Two things that I can think about:

1) We should run RV-Predict on K following the instructions at https://runtimeverification.com/blog/?p=88, to see at least if there are data races in RV-Predict.  @dwightguth , @cos , @yilongli : would it make sense to add a jenkins job to do that with each PR?

2) We can look at http://office.runtimeverification.com:8080/job/k-framework-pull-request/ and see wh

[2015-12-29 17:07] cos opened #1960 "Add documentation to `ParseInModule` constructors"
see:
https://github.com/kframework/k/pull/1957#discussion-diff-48540342

[2015-12-29 22:23] cos opened #1963 "make e-kore definition parser full-K attributes"
`e-kore` currently parsers the attributes using labeled form. So it is not full K and requires things like `.::KList`. As I'm using it for `kdoc`, I need it to work, as expected, with full K. I don't really care in what form the attributes are parsed as long as we can use `latex` annotations on their productions.

Furthermore, I propose we postpone any philosophical discussion on how attributes sh

[2015-12-29 22:28] dwightguth commented on #1963
Sorry I'm not entirely following what you're saying in this issue. Can you please clarify whether you are proposing to change the default syntax for existing attributes in a non-backwards-compatible manner?

[2015-12-29 22:30] cos commented on #1963
@dwightguth, no, it's related to the `e-kore.k` definition, which is not used by the main pipeline right now.
There will be no change to the current definitions.
I think @radumereuta knows what I'm talking about.

[2015-12-29 22:36] cos commented on #1959
1) I don't think it would be worth it. It would mean at least a 10x slowdown.
2) We could look into history, yes. But it also happens often enough that we can post them here as we catch them. Just caught one. I'm adding it to the first comment of the thread.

[2015-12-29 22:38] grosu commented on #1963
I agree with not deciding the exact syntax of attributes in `e-kore.k` now and I also agree with keeping things backwards-compatible.  We will worry about that later, after we transit to K4.0, when we'll use the syntax in e-kore.k for parsing full K.  So for now, @cos, anything that keeps the current attributes unchanged in the definitions in the tutorial and in the C semantics is acceptable.

[2015-12-29 22:41] cos commented on #1959
Also, regarding 1): those are likely not low-level races but higher-level atomicity violations, either at the level of Java code, or even non-confluence in the definitions themselves.

[2015-12-29 22:41] grosu commented on #1959
I don't understand your 1).  Are you saying that it is not worth running RV-Predict on K to find data-races if any, or that it is not worth adding it as a jenkins job?  Even the latter, we can set something up where we run it during the night, or on a different computer, and only have it report workings (and not to prevent merges).

[2015-12-29 22:42] grosu commented on #1959
We did find races in K using rv-predict before.

[2015-12-29 22:49] cos commented on #1959
Regarding the existence of races: I'm not saying there are no races in K -- there likely are. I'm saying that there's a good change this non-determinism is coming from something higher-level than data races. Afaik, RV predict cannot help with that.

Regarding running RV predict with Jenkins: Yes, I just wouldn't add RV predict to the tests executed on each PR. It can make sense to add it as a sepa

[2015-12-29 22:51] yilongli commented on #1959
Many atomicity violations have low-level data races as a symptom. It is probably still worth a try.

[2015-12-29 22:56] cos commented on #1959
@yilongli, I agree. It can be worth giving it a try.

[2015-12-29 22:57] yilongli commented on #1959
@grosu BTW, if RV-Predict is provided as a service in the cloud like Travis, it would be nice to have a github badge for RV-Predict like Travis and Coverity. https://github.com/badges/shields

[2015-12-29 22:58] grosu commented on #1959
This all sounds great to me!  @edgar-pek , do you want to look into it when you get a chance?

[2015-12-29 23:01] edgar-pek commented on #1959
@grosu, yes, definitely.

[2015-12-29 23:09] cos opened #1964 "Create the scaffold for the kdoc front(or back?)end"
We need to expose `kdoc` from the command line. I've created a separate mvn module `kdoc` but I'm not sure how to hook it further. I don't want to use other backends as a model because this command doesn't have separate kompile/krun phases.

The `kdoc` module is here: https://github.com/kframework/k/pull/1961
(the implementation is not complete, but it has all the basic ingredients, including late

[2015-12-29 23:10] cos commented on #1964
@edgar-pek, I'm not using the implementation in the `kdoc` branch because it looks like it is based on the compiled module. Let me know if I'm wrong.

[2015-12-29 23:13] cos commented on #1964
Basically, I'm trying to keep this as small as possible, if possible.

[2015-12-29 23:15] edgar-pek commented on #1964
You are right, @cos. Your approach looks much cleaner than what I had, btw.

[2015-12-29 23:20] dwightguth commented on #1964
You are not going to be able to generate pdfs of all the  definitions in the tutorial in a reasonable time frame if you try to reparse each one of them.

[2015-12-29 23:26] cos commented on #1964
Considering the approach, I need to parse each one of them with the slower `e-kore.k`-based parser anyhow.
At most I could save time on the KIL-to-KORE pipeline parsing, but that should be fairly fast generally, especially as I'm not parsing the rules at all. In that respect, avoiding the standard compilation pipeline is useful.

[2015-12-29 23:28] dwightguth commented on #1964
sorry I'm confused. You're not parsing the rules at all? how then can you interpret the production's latex attributes?

[2015-12-29 23:39] cos commented on #1964
I'm only parsing the "outer" parts of definitions. Rules in most definitions remain as bubbles. The only rules that are parsed are for the definition File/String (let's call it target) you're generating latex from, and they're only parsed once.
Because we still rely on KIL-to-KORE to get a `org.kframework.defintion.Definition`, the target is processed twice. Once by KIL-to-KORE to get a `Definitio

[2015-12-29 23:41] dwightguth commented on #1964
Okay but that means you have to point kdoc both to a source (to get the outer) and to a compiled definition (to get the inner) at the same time, right? Or am I misunderstanding?

[2015-12-30 00:47] cos commented on #1964
The compiled definition is not needed. I just need as input the source (and lookup directories). From there I get a non-compiled definition from KIL-to-KORE which I then use along with `e-kore.k` to generate the latex.

[2015-12-30 00:49] cos commented on #1964
So I need the scaffold for something that exposes roughly the same inputs as `Kompile`.

[2015-12-30 02:46] dwightguth commented on #1964
Okay. I would suggest taking a look at kdep then. It's a tool I wrote
recently to provide makefile integration with k definitions. The code is
pretty much entirely self contained to the org.kframework.kdep package, and
it does very little besides accept all the inputs needed to perform outer
parsing. You should be able to make use of most of it with only minimal
modifcations. And the boot sequence

[2015-12-30 03:20] laurayuwen opened #1965 "NullPointerException when we don't have any rules"
Running a program with a kompiled definition which has no rules will result in a NullPointerException.
For example, the first lesson in lambda tutorial, I am trying to run with the following:
[code]
Also get the same error when writing the above in one module.
The problem is that the left hand side when we fast compute rewrite step is null when we don't have rules.

[2015-12-30 04:18] cos commented on #1947
#1965 is a duplicate but will keep it as it has a better description

[2015-12-30 13:58] grosu commented on #1932
@radumereuta , @cos: guys, we need to switch back to parentheses (instead of backticks) asap.  Can you just make the change and we'll deal with bugs afterwards?  We cannot do the tutorial otherwise, so this is on the critical path.

[2015-12-30 16:35] dwightguth commented on #1964
After talking with Grigore I have agreed to work on this this afternoon. There should be a pull request for it out shortly.

[2015-12-30 18:58] cos commented on #1963
@radumereuta, I took a closer look at the productions for attributes, and it should actually work already. I remembered a previous intermediate step when they didn't. I'll bug you if I run into any trouble.

[2015-12-30 21:23] radumereuta commented on #1932
Adding parenthesis back as brackets is easy. Just go to `kast.k`, in module `KSEQ` and add:
`syntax KBott     ::= "(" K ")"    [bracket]` next to the one with backticks. I haven't tried it, and I don't know what kind of error may appear because of this, so please give it a try.
I'm away, with dodgy internet. I can try and do it myself on Monday.

[2015-12-30 21:25] radumereuta commented on #1932
And for now, add only the one for `K`, since it should be enough for all other sorts.
Yes, we should have it for other sorts too, but there might be problems with overloading (I haven't forgot about it).

[2015-12-30 22:02] cos commented on #1963
should be ok

[2015-12-30 22:02] #1963 closed

[2015-12-30 22:23] dwightguth commented on #1964
fixed in #1971. I suggest you steal the code and adapt it into the form you want it. Everything is more or less there with one exception. The kdoc backends are not wired in this because they have not been updated and still rely on Context which we don't have anymore. So what I suggest you do is to modify the PosterBackend interface to your satisfaction, create a LatexBackend class that implements

[2015-12-31 02:32] cos commented on #1964
to be honest, I still don't understand how things are wired. I tried to follow your instructions. Is this it?
https://github.com/dwightguth/k/compare/kdoc...kframework:hotfix/kdoc-preparation?expand=1

[2015-12-31 02:33] cos commented on #1964
(left some comments in as I might want to reimplement part of that code)

[2015-12-31 02:52] dwightguth commented on #1964
That should work although I think you probably want to keep parsing as part of the frontend otherwise you're going to have to do the work of parsing in each backend, which would duplicate code.

[2015-12-31 03:16] cos commented on #1964
So, which is the frontend and which is the backend here? As far as I understand the tex/pdf generation, it is effectively only one step at command line.

[2015-12-31 03:50] dwightguth commented on #1964
So the old functionality was one step because it took an already parsed
definition and converted it to latex. But you are parsing again. So you
need two steps. The frontend would be KDocFrontEnd and it would call the
parser to parse the definition and then pass it to the backend which
implements PosterBackend which would take a parsed definition and convert
it to whatever poster format the user sp

[2015-12-31 13:58] grosu opened #1972 "including domains automatically?"
I'm revising the README.md files in the tutorial and I find it difficult to have to explain upfront about the domains.k file and about its DOMAINS and DOMAINS-SYNTAX modules.  Besides, these may/will change anyway in the future, in which case we'd have to change the tutorial again.  Also, we'd like to have good defaults in general, that give beginners a quick way to using K without much upfront le

[2016-01-01 13:42] grosu commented on #1972
We have no time to argue about this, there are literally only a bit more than 2 weeks left, which is barely enough time to revise the tutorial.  So I take full responsibility for this decision: let's include domains.k and DOMAINS-SYNTAX and DOMAINS automatically as described above.  It is a very risky move to change the user-visible syntax in all definitions for a temporary reason.

[2016-01-01 13:44] grosu commented on #1972
I'm saying this after revising #1966 and seeing how ugly all those imports are.  It is just too early in the learning flow to tell students about it, so it must be a default.

[2016-01-02 00:15] cos commented on #1972
solved by #1976

[2016-01-03 02:37] daejunpark opened #1983 "[ktest] negative tests for kompile"
Currently, ktest compares outputs of krun only, not of kompile. If kompile fails, the whole test fails. So, it is not possible to do negative-tests of kompile using ktest.

See also #1945 #1982

[2016-01-03 02:57] daejunpark opened #1984 "[em] add Location back to kompile output"
https://github.com/kframework/k/pull/1982#discussion_r48689602

[2016-01-03 03:46] daejunpark opened #1985 "Module LANGUAGE-PARSING not found"
@cos do you have any idea?

[code]

[code]

[code]

[2016-01-03 03:56] cos commented on #1985
`LANGUAGE-PARSING` is added by the compilation pipeline. Could you --debug this?

[2016-01-03 03:59] daejunpark commented on #1985
[code]

[2016-01-03 04:00] daejunpark commented on #1985
https://github.com/kframework/k/blob/b422c31f1f10ba4fa028198b9da05eff7b2c4ca3/kernel/src/main/java/org/kframework/krun/KRunOptions.java#L117

If I drop the option `-m mainModuleName`, then it works.

[2016-01-03 04:05] daejunpark commented on #1985
BTW, do you know why we have duplicate configVars methods? I think the first one should be removed:
https://github.com/kframework/k/blob/b422c31f1f10ba4fa028198b9da05eff7b2c4ca3/kernel/src/main/java/org/kframework/krun/KRunOptions.java#L96
https://github.com/kframework/k/blob/b422c31f1f10ba4fa028198b9da05eff7b2c4ca3/kernel/src/main/java/org/kframework/krun/KRunOptions.java#L114

[2016-01-03 05:59] cos commented on #1985
I agree.

[2016-01-03 23:47] cos commented on #1985
@daejunpark, I don't understand how things are wired in the frontend and options. I can at most make a guess. This line in `KRun`:
[code]
probably shouldn't take `languageParsingModule`. I would guess `compiledDef.parsedDefinition.mainModule` is a better choice. If it doesn't work, ask @dwightguth about it.

[2016-01-04 19:13] cos opened #1991 "Figure out why search misses results"
See:
https://github.com/kframework/k/pull/1990/files#r48702825

[2016-01-04 19:48] grosu opened #1992 "krun error on Windows 10"
I'm trying to run the lessons in 1_lambda and I'm getting the following error when running krun:
[code]

Note that I have not run K for a long time, but I would expect the above to work.

[2016-01-04 20:01] laurayuwen commented on #1965
solved with PR#1966

[2016-01-04 20:01] #1965 closed

[2016-01-04 20:08] grosu commented on #1992
@laurayuwen , @daejunpark , did you guys have problems with this?

[2016-01-04 20:12] grosu commented on #1992
This is what I get with --debug:
[code]

[2016-01-04 20:17] dwightguth commented on #1992
Pretty sure this is because we are now using external parsers for everything and you are not running from a cygwin environment so it doesn't know how to interpret and execute the bash script. The simple fix should be to add a .bat to the default on windows. I will take care of this.

[2016-01-04 20:17] grosu commented on #1992
And, of course, kast works in command line, otherwise I would have reported a different bug:

D:\github\grosu\k\k-distribution\tutorial\1_k\1_lambda\lesson_1>kast tests\identity.lambda
`lambda_._`(#token("x","Id"),#token("x","Id"))

[2016-01-04 20:18] grosu commented on #1992
Thanks, @dwightguth!  I think we are already doing that for all our RV tools, so that should work.

[2016-01-04 20:25] radumereuta commented on #1992
@daejunpark but that means it's not limited only to windows 10, but to all windows platforms.
I know that Java has this issue where if you try to execute a .bat file, you have to specify the extension. And it's not required in the command line.

Another thing. Why aren't you calling the parser directly from krun? It's more efficient, and you avoid all kinds of problems.

[2016-01-04 20:30] dwightguth commented on #1992
@radumereuta the old implementation was extremely quirky as a result of what we did. I'm not at all convinced that the performance difference associated with a new process is particularly noticeable with nailgun. If you want to try to test it and compare and let me know if you still see a performance difference, let me know. But I suspect it will be about the same either way.

I am choosing to go

[2016-01-04 20:32] cos commented on #1992
@dwightguth, regarding the second issue, you may want to merge my other PR then.

[2016-01-04 20:34] cos commented on #1992
Regarding the first, I agree with @radumereuta and the two of us had this discussion before. You may like the command line as the "API" of the tool, but it isn't the way it's usually done and can lead to problems like this.

[2016-01-04 20:58] radumereuta commented on #1992
I actually agree with @dwightguth on this one.
The only problem I can foresee is having a good enough intermediate language to represent the terms and error messages. In this case is KORE, and we are gaining confidence in the implementation every day.

[2016-01-04 21:19] cos commented on #1992
@radumereuta, the issue I'm referring to is having the command line as the API of K. This is a bad idea, and I'm not even going to argue about it anymore.

[2016-01-04 21:29] dwightguth commented on #1992
If you can come up with a way to have krun call an API for kast in a way that allows support for external parsers and is cleaner than the way it was implemented in the old implementation, I have no particular objection. It's just not remotely a priority for me to work on since we don't use kast at all in the C semantics.

[2016-01-04 21:30] grosu commented on #1992
We do not have time for this now, please let's worry about it after Jan 18.  The simple bug fix is good enough for now.

[2016-01-04 22:24] cos commented on #1959
added another test

[2016-01-05 00:42] cos commented on #1992
fixed by #1994

[2016-01-05 00:42] #1992 closed

[2016-01-05 02:57] cos commented on #1959
and another

[2016-01-05 04:08] cos commented on #1933
solved by #1949

[2016-01-05 04:08] #1933 closed

[2016-01-05 04:32] #1972 closed

[2016-01-05 04:34] cos commented on #1983
@daejunpark, added you so we have someone tracking this issue.

[2016-01-05 04:34] cos commented on #1942
@bmmoore, assigned you so we have someone tracking this issue.

[2016-01-05 04:35] cos commented on #1929
@daejunpark, @laurayuwen, is it ok to close this issue?

[2016-01-05 04:36] cos commented on #1913
is this required for 4.0?

[2016-01-05 04:37] daejunpark commented on #1985
fixed via #1995

[2016-01-05 04:37] #1985 closed

[2016-01-05 04:40] daejunpark commented on #1929
yes

[2016-01-05 04:43] daejunpark commented on #1913
only if it is hard for @grosu to update readme and videos.

[2016-01-05 04:47] #1929 closed

[2016-01-05 08:08] daejunpark opened #1996 "[em] data structure to lookup"
@andreistefanescu could you look over if the following error/warning messages in the previous KIL version are provided in the current KORE version, or no longer required? I'm working on #1945, but this kind of errors are quite hard to understand, while I think it would be easy for you to check. If they are already provided or no longer required in KORE, then I can save time.

 1. https://github.co

[2016-01-05 16:04] grosu commented on #1913
@daejunpark , if you are referring to having to put the attribute `[klabel(_,_::Ids)]` then yes, we do not want that.  Not because it is "hard to update the readme and video", but because that is something that should not be there and will very very likely change soon anyway.  We should do what I said above @cos's last comment above.

[2016-01-06 03:39] grosu opened #2000 "do priorities work?"
I spent 15 minutes trying to make priorities work for lambda, lesson 1:

    syntax priority lambda_._ > __

etc.  Tried lots of variants and nothing worked as I wanted with `krun`.  The default priority is the right one in krun, that is, `lambda x . x y` is displayed as `lambda x . (x y)` in the k cell by krun, but I cannot make it do the other parsing, `(lambda x . x) y`.  I tried putting the la

[2016-01-06 13:58] radumereuta commented on #2000
I have a few suspects:
1. In K3.6 we generated klabels with a quote in front. @cos didn't like that, so he stripped them programatically in some places. Maybe that code wasn't so clean. I will have to do some serious digging to confirm and fix this.
2. In the new implementation krun calls the parser via kast (external command line call). It may be that krun ignore the warnings reported by kast.

I

[2016-01-06 14:22] grosu commented on #2000
1) It was all the time just *plain wrong* to rely on the particular name of a KLabel, whether it starts with a quote or not, etc.  If you need to keep track of information about it, then that information should be stored as attributes of the KLabel object.  Relying on the name in order to figure out information about the KLabels is fragile.  If you can fix this quickly then fine, otherwise please

[2016-01-06 18:31] dwightguth opened #2003 "Add test coverage for _CellBag_ case"
[code]

When compiled, before #1999 you ended up with an ambiguity between Bag and CellBag. If the latter ends up chosen, the behavior becomes incorrect leading to incorrect rewriting. We need test coverage ensuring that the rule for "end" parses correctly as `#cells`.

[2016-01-06 23:34] laurayuwen opened #2005 "Unparsing: get rid of dot empty List"
An example can be found in PR #1998.

[2016-01-07 19:08] dwightguth commented on #1959
It would be nice if we could get this fixed soon. The percentage of builds that are failing because of this is getting pretty high...

[2016-01-07 22:11] laurayuwen opened #2009 "Strict List Evaluation"
Given this definition
[code]
and input file of `1+2,3+4` K3.6 would result in `3, 7`

But It is difficulties to get the result in current K.

[2016-01-08 08:13] jarsp opened #2012 "Unable to match $PGM variable"
The following rule, attempting to match $PGM fails:

[code]

Note that if the `<program> S </program>` section is removed then the rule successfully matches.

[2016-01-08 16:04] dwightguth commented on #2012
Can you please tell me what version of K you are using?

[2016-01-08 16:07] jarsp commented on #2012
The latest version, I pulled it straight from master yesterday.
(Commit ef11f905bf7d7a6ec27e4f0eec0b7d0ff435f3b0)

[2016-01-08 16:45] dwightguth commented on #2012
Can you please tell me what command you are passing to krun? I tested the following and it works:
[code]

[2016-01-08 18:53] #1744 closed

[2016-01-08 19:16] dwightguth opened #2013 "Look into issue with empty attribute caching"
See discussion on #2007. I tried Cosmin's solution but got the following exception:

[code]

[2016-01-08 19:53] grosu opened #2015 "kompile error with Windows"
Could this be related to #1992, which @dwightguth fixed recently?

[code]

[2016-01-08 19:55] dwightguth commented on #2015
To be clear it successfully finds domains.k?

[2016-01-08 20:02] grosu commented on #2015
I think it does, because everything works if I remove the requires, the imports, and the rewrite rule from:

https://github.com/kframework/k/blob/master/k-distribution/tutorial/1_k/1_lambda/lesson_2/lambda.k

So it is OK with the Id sort defined in domains.k

[2016-01-08 20:06] dwightguth commented on #2015
That's quite baffling. They're in the same directory, I can't think of any reason why it would be able to find one but not the other. Can you show me the contents of the k-distribution/target/release/k/include/builtin directory for the version of K that is on your path?

[2016-01-08 20:12] grosu commented on #2015
They are both there:
[code]
But note that domains.k is now added automatically, which substitution.k is required manually.  Maybe different code for building the paths is used in the two cases.

[2016-01-08 20:15] dwightguth commented on #2015
I doubt that's it but if you want to test just add domains.k manually and see if it finds it. It won't harm anything to be required twice I don't think.

[2016-01-08 20:21] grosu commented on #2015
Looks like that's the problem, indeed.  Lesson 1 works fine without explicit require domains.k, but as soon as I add it,
[code]
I get a similar error:
[code]

[2016-01-08 20:23] dwightguth commented on #2015
Can I see `--debug`? I just realized this error message doesn't look right and I want to make sure you have the right version of the tool.

[2016-01-08 20:24] grosu commented on #2015
[code]

[2016-01-08 20:25] dwightguth commented on #2015
Are you sure you're not using K 3.6? This is the stack trace I would expect from the old KIL pipeline.

[2016-01-08 20:42] grosu commented on #2015
In case others run into the same issue: I just happened to have a kserver started from antique K3.6 times.  All I had to do was to run stop-kserver.  Thanks @dwightguth

[2016-01-08 20:53] #2015 closed

[2016-01-08 21:02] grosu opened #2016 "Is `KItem ~> .(.KList)` even possible?"
Very strange behavior with 1_lambda\lesson_2.
[code]
What is the trailing `.`? Going further:
[code]
So it looks like `.::K` is a KLabel ... Is that intended?  That is certainly different from the theory of K.

On the other hand, search with a pattern works fine:
[code]

@cos, @andreistefanescu ?

[2016-01-08 21:30] grosu opened #2017 "`[anywhere]` rules seem to apply only once"
`1_lambda\lesson_2.5` has an anywhere rule, meant to give the standard semantics of lambda-claculus:
[code]
However, the rule only applies once:
[code]
@cos, @andreistefanescu ?

[2016-01-08 21:35] dwightguth commented on #2017
@cos could this be because we have broken how impure functions work?

[2016-01-08 22:58] jarsp commented on #2012
My bad, I did not realize that the input had to be enclosed in quotes. Sorry for the trouble.

[2016-01-08 22:58] #2012 closed

[2016-01-08 23:05] cos commented on #2017
No, that would at most make rules over-apply, not under-apply. It may be a bug in substitution, I'll have a look at it.

[2016-01-08 23:07] cos commented on #2016
at parsing time, yes, `.::K` is a label -- @radumereuta knows why this is necessary

[2016-01-08 23:08] cos commented on #2016
The extra `~> .` is an artifact of the backend implementation. If it's not that bad, I would leave it alone for now.

[2016-01-09 00:00] andreistefanescu commented on #2016
The ```~> .``` is removed after the assoc pull request.

[2016-01-09 00:05] andreistefanescu commented on #2017
It is probably faster for me to fix this.

[2016-01-09 12:00] grosu commented on #2016
I prefer what @andreistefanescu said, because my suspicion is that it will resurface in other definitions.  It may work here because of search with a pattern, but who knows what happens in FUN or other languages that we have not translated yet.

[2016-01-10 18:52] omarz1 opened #2021 "[latex]: temporary change of style"
The k.sty file says:
[code]
but it's not working!

[2016-01-12 04:07] grosu opened #2023 ".Ids seems to be needed in rules now"
In https://github.com/kframework/k/tree/master/k-distribution/tutorial/1_k/2_imp/lesson_4 we say:
[code]
It turns out, though, that now we do need to add the `.Ids` in the second rule for variable declarations.  The parser does not complain if you don't, but the programs fail with `int .Ids` on top of the `k` cell when you run them.  We may continue to argue whether we want lists to be automatical

[2016-01-12 14:11] radumereuta commented on #2023
But this is a really really old text. git blame tells me you wrote this in 2012.
I think this is what used to happen in K2, but we found that we don't want to allow terms which match on 'nothing' in rules because we may be able to write unreadable stuff like `rule X =>`.

In this case, to parse `int ; S`, we would have to add a term `Ids ::= ""`, but something like this will produce unmanageable a

[2016-01-12 14:22] grosu commented on #2023
Maybe I should change the readme text, indeed, but I will only do it after the parser rejects `int ; S`.  It currently does not, as I said above.

[2016-01-12 14:41] andreistefanescu opened #2025 "report which tests timeout on jenkins"
When jenkins timeouts, it does not report which tests don't terminate. I would like to be able to see that list in the report produced by jenkins. @dwightguth I am assigning this to you since you said you already have a script that does that, but feel free to reassign it.

[2016-01-12 15:42] #2025 closed

[2016-01-12 17:14] #2017 closed

[2016-01-12 20:41] radumereuta commented on #2023
That's interesting. I tried to parse this: `rule int ;   [structural]`, and works!!!!
Something is very, very, VERY wrong in kompile.
How did this pass through our tests?

[2016-01-12 20:44] grosu commented on #2023
Isn't that the same I said?  :)

[2016-01-12 20:46] radumereuta commented on #2023
This has nothing to do with parsing. I'm looking into it with @dwightguth.

[2016-01-12 20:47] radumereuta commented on #2023
Ah, and please don't merge anything until we have this fixed!

[2016-01-12 21:12] #2023 closed

[2016-01-13 11:57] daejunpark commented on #1996
@andreistefanescu any comments?

[2016-01-13 12:06] daejunpark commented on #1984
#1945

[2016-01-13 16:06] daejunpark commented on #1945
Report:

I reviewed all of error messages that had been reported in the version 3.6 but not in the current KORE pipeline, and brought them back if (I think) necessary (see the referenced PRs in the above).

The error messages were identified by `grep`ing the following keywords from all of Java source files:
 * `KEMException.`
 * `KExceptionManager.`
 * `new KException`
 * `register*Warning`

Among

[2016-01-13 16:25] daejunpark commented on #1883
@radumereuta was it fixed via #2019?

[2016-01-13 17:13] radumereuta commented on #1883
It should be, yes.

[2016-01-13 17:13] #1883 closed

[2016-01-13 17:30] dwightguth commented on #1945
What about the errors in org.kframework.compile.checks? Have those also been rewritten? Because those are perhaps the ones that I would have considered the highest priority.

[2016-01-13 23:51] cos commented on #2034
It is a bit curious it works for div. @andreistefanescu, do you have any idea?

The strategy-based heating/cooling, which can do superheat if given the right strategy, is only activated if importing the STRATEGY module, which is not currently the default.

[2016-01-14 00:10] cos opened #2035 "test or steps to replicate for the issue behind #2027"
@radumereuta, @dwightguth, please document (test or at least steps to replicate) as soon as possible the problem that required you to revert my #1962 PR via #2027. It has already been a day since and and I am blocked because of it.

If this is not fixed soon, I will not be able to complete the kdoc functionality by the 4.0 deadline.

[2016-01-14 00:11] grosu commented on #2034
Actually, I did not really check div.imp, I only looked at the config.xml files and the div.imp.out file, and assumed that @laurayuwen just ran ktest when she revised imp++ and was done with it:

https://github.com/kframework/k/blob/3.6Base/k-distribution/tutorial/1_k/4_imp%2B%2B/lesson_3/tests/div.imp.out
https://github.com/kframework/k/blob/3.6Base/k-distribution/tutorial/1_k/4_imp%2B%2B/lesson_

[2016-01-14 00:20] grosu commented on #2035
@cos, it may have been my fault, with #2023, because the messages started immediately once @radumereuta realized there was a problem there.  But not sure.  If it is only that problem that triggered the entire thing, then I would not be that concerned.  I mean, we can merge, add a comment in the definition and modify the readme (myself), and move on with our deadline and fix the problem afterwards.

[2016-01-14 00:37] dwightguth commented on #2035
@cos the extent of my reproduction steps was that I wrote a rule that did not parse and kompile terminated successfully anyway. If you can't reproduce following those steps I suggest you talk to @radumereuta because he seemed to think he had some easily reproducible test case.

[2016-01-14 00:39] cos commented on #2035
@grosu, I guess that was the problem that triggered the entire thing. I'm not sure as I have no more details -- the reason I added this issue. The reverting PR has been merged so, if my PR was the problem, it should be fixed now. But I'm blocked regarding kdoc because that branch is directly dependent on the reverted refactorings and adds more, and I don't want to go into juggling multiple branche

[2016-01-14 00:47] dwightguth commented on #2035
I can tell you right now it was not just that definition because I actually
independently was already working on the bug after it arose in the C
semantics when Radu contacted me. We really can't merge this until it's
fixed because it makes it next to impossible to do any development in the K
language.

On Wed, Jan 13, 2016 at 6:39 PM, Cosmin Radoi <notifications@github.com>
wrote:

[2016-01-14 01:18] cos commented on #2035
thanks @dwightguth, I will try that.

[2016-01-14 01:20] dwightguth commented on #2035
I suggest you also try it with and without a version of that rule in the
cache, if that's not enough to reproduce it.
On Jan 13, 2016 7:18 PM, "Cosmin Radoi" <notifications@github.com> wrote:

[2016-01-14 01:43] laurayuwen commented on #2034
div has been excluded from lesson 1, as later lessons use test config from previous lessons, so you don't see that directly in current lesson. When I worked on it, I couldn't get multiple results either, so left it for later.

[2016-01-14 02:13] cos commented on #2035
Simply having a non-config error in the rule failed to trigger the required exception. I missed that because error tracking is handled orthogonally to the main program logic (i.e., methods return even when there are errors and it is the responsibility of the method caller to also check the error set). I will try to make that harder to break by making it more functional style -- methods to return t

[2016-01-14 02:55] laurayuwen opened #2037 "--search --pattern works strange for multiplicity cells"
In 5_types/lesson_6, we have this configuration
[code]
Search without a pattern looks good
[code]
But after adding `--pattern '<k>V:K</k>'`, there is no search result.

[2016-01-14 03:47] daejunpark commented on #2034
At that time I worked on KORE-translatoin of lambda++, `--superheat` wan't supported, so `free-variable-capture` was excluded from lesson_2:
https://github.com/kframework/k/blob/e6a13a83d395aee3bd330609d061b27821674fb4/k-distribution/tutorial/1_k/3_lambda%2B%2B/lesson_2/tests-kore/config.xml#L5-L8
As such, lesson_4 had several excludes as well:
https://github.com/kframework/k/blob/e6a13a83d395aee3

[2016-01-14 04:08] daejunpark commented on #1945
@dwightguth thanks for your comment. Those are *not* removed by `Killing KIL`, and thus I presumed that they will still work in the KORE pipeline. (There are 500 error messages and I couldn't check all of them manually.) But it turned out that they are deadcode, never used in the current code base.

Ok, I'll fix this.

[2016-01-14 15:36] andreistefanescu commented on #1996
The new pass implementing the conversion to lookup/update is ```ConvertDataStructureToLookup```. I am not sure if it already reports errors or not, but most of these errors should still be reported.

[2016-01-14 17:30] cos commented on #2035
addressed by #2036

[2016-01-14 17:30] #2035 closed

[2016-01-14 19:46] dwightguth commented on #2039
@cos if you could make this a high priority that would be great because while it doesn't break anything per se, it does really really slow down k development if I have to wait an extra 6 minutes every time I build the C semantics.

[2016-01-14 22:02] dwightguth commented on #1996
I can say one thing which is that the new pass definitely supports behaviors, at least in the OCAML backend, that were not supported by the old KIL implementation. So I would definitely like to see some of these be warnings if the KORE generated by the new pass is correct but the Java backend simply doesn't process that KORE correctly. E.g. I believe this happens with nondeterministic set choices

[2016-01-14 22:58] cos commented on #2039
@radumereuta, thanks for highlighting it. I'll solve it tonight.

[2016-01-15 03:56] daejunpark opened #2044 "regression tests removed"
@andreistefanescu Is this a temporary change, or a mistake? I just wanted to make sure you're tracking of this.
https://github.com/kframework/k/commit/6af3d1a3

[2016-01-15 04:41] cos commented on #2039
addressed by #2045

[2016-01-15 09:44] radumereuta commented on #2039
Caching works right now. Sort of. I found another bug which you can trigger after you move a rule up or down in the file. The warnings are not updated to the new location.
Try 1: `kompile -v -w all test.k`
[code]
prints out:
[code]
Try 2: `kompile -v -w all test.k`
[code]
prints out:
[code]
This used to work in K3.6.

[2016-01-15 16:27] dwightguth commented on #2039
@radumereuta I think that is less urgent because it probably didn't used to work in my version of the code either. We should probably fix it at some point but I'm not sure it should be part of #2045.

[2016-01-15 16:41] cos commented on #2039
thanks, @dwightguth, right.
@radumereuta, please open a separate issue for the new problem.

[2016-01-15 16:55] radumereuta commented on #2039
Opened #2047.

[2016-01-15 23:08] grosu opened #2053 "Is jenkins supposed to throw exceptions that ktest does not?"
I understand that we may not want warnings, but it is strange to have ktest pass the tests and then have jenkins throw exceptions:

http://office.runtimeverification.com:8080/job/k-framework-pull-request/org.kframework.k$k-distribution/710/testReport/junit/_var_lib_jenkins_jobs_k-framework-pull-request_workspace_k-distribution_tutorial_1_k_3_lambda++_lesson_2_lambda/k/lambda_k/

We should have the

[2016-01-15 23:17] andreistefanescu opened #2054 "wrong start symbol for parser"
```krun``` throws a parsing error for ```imp++``` in ```lesson_7``` without ```--parser 'kast -s Stmts'```.

[2016-01-15 23:52] grosu opened #2055 "ktest should accumulate options, not clear them"
Currently, if you include a config file config1.xml into another config file config2, if you add any new key-value to an option in config2 to the included config1, then that option is completely cleared in the included config1.

For example:
[code]
So because of the superhead option that is needed, now I also have to repeat the syntax-module option, which was already there in the config file in le

[2016-01-16 00:43] laurayuwen commented on #2053
Yes, that would make developers better off. In fact, when you kompile, you also receive this warning, it's just ktest ignores such warnings.

[2016-01-16 04:47] daejunpark commented on #2055
I remember we had similar concerns before when we designed the semantics of include. At that time, we know that There are more functionalities needed as well as the one reported here:
- selectively inherit
- selectively remove

[2016-01-16 04:58] daejunpark commented on #2055
I remember we had similar concerns before when we designed the semantics of include. At that time, a more general inheritance operation was proposed that can selectively inherits included options, but not implemented due to time limitation and/or lack of motivation.

If we can selectively inherit included options, then we can not only accumulate new options, but also drop some of included options

[2016-01-16 05:07] daejunpark commented on #1801
https://github.com/kframework/k/pull/1925/files#diff-577ed67708e4facf3a50380408fa9c30R949

[2016-01-16 05:08] daejunpark commented on #1801
@cos could you take care of this? I think you can easily fix it at least for the case of KOOL:
https://github.com/kframework/k/pull/1925/files#diff-577ed67708e4facf3a50380408fa9c30R949

[2016-01-16 05:11] daejunpark commented on #1842
@radumereuta can you fix this? This seems to be one of road-blockers for our milestone, and I think you are best to fix this issue.

[2016-01-16 18:53] grosu opened #2057 "I/O does not seem to work properly"
Somehow, the output buffer does not seem to flushed to the screen:
[code]
I'm using Windows 10.

[2016-01-16 19:59] cos commented on #1801
@daejunpark, `[owise]` can be easily handled by strategies. They are not active by default now, and it wouldn't be wise to activate them for the tutorial just now. Fixing this by other means would mean adding another special case in the backend, and I would rather avoid it. I'll mark this to be fixed later.

[2016-01-16 20:07] cos opened #2058 "remove this ugly fix when we're sure of cell AC"
https://github.com/kframework/k/commit/2230bb3947c34b34b09e44eaa2ea2dfbd46b31cf

[2016-01-16 20:09] cos commented on #2058
postponed for when we're sure of cell AC.

[2016-01-17 00:59] #2000 closed

[2016-01-17 02:51] daejunpark commented on #2057
It works for my machine, Mac OS X 10.9. I suspect you didn't wait enough until it prints the outputs. I had to wait a few (1 or 2) seconds to see the prompt: `Input two numbers: `. It may be due to the recent slowdown of the java backend. Let me know if you still have the problem.

[code]

[code]

[2016-01-17 03:08] grosu commented on #2057
That's not the problem.  I waited 1 min for `io.imp`.  Then I pushed a few ENTER.  Then I typed in a 10 followed by ENTER.  Then the text which was supposed to be printed at the beginning was printed immediately as soon as I hit ENTER.  Then I typed the second number.  Then the result was printed immediately:
[code]

[2016-01-17 11:17] grosu opened #2062 "--stdout and --stderr options to krun, for ktest at least"
It is a bit hard to understand precisely from its `--dry` option what `ktest` is going to do.  Specifically, we do not know the `.out file` against which each of the `krun` commands will be compared its output.  I think it would be nice to have a "silent" mode for krun, where everything it needs is provided as arguments, including the expected text to be printed to `--stdout` and to `--stdin`.

An

[2016-01-17 16:31] #1935 closed

[2016-01-17 16:36] radumereuta commented on #2064
This issue has been discussed before.
On Linux is ok to write that, but on Windows, calling kast needs the extension: `.bat`.
Try: `krun ..\lesson_1\tests\sum-io.imp --parser "kast.bat --sort Stmts"`

I don't think this is something that we can fix, it's just how java works in relation to windows.

[2016-01-17 16:48] grosu commented on #2064
But ktest with the provided config files fails because of that (the config file of imp++, lesson 7, needs to set the parser option) , which makes K unusable on Windows.  On the other hand, if we modify the config files to use kast.bat instead of kast then ktest will fail on the other platforms.  There must be a solution to this problem.

[2016-01-17 16:51] radumereuta commented on #2064
I know. When I was testing such things, I would temporarily add the `.bat` extension, and make sure I don't commit them.
I agree, this solution is silly. I someone could come up with a simple and elegant solution, that would be great.

[2016-01-17 17:37] cos opened #2068 "move cellProductionsFor out of Module (outer.scala)"
https://github.com/kframework/k/pull/2061/files#r49949010

[2016-01-17 17:38] cos commented on #2068
#2061

[2016-01-17 19:44] #2068 closed

[2016-01-17 19:51] andreistefanescu commented on #1991
Fixed in #2038 .

[2016-01-17 19:51] #1991 closed

[2016-01-17 19:58] andreistefanescu commented on #2016
Fixed in #1955 .

[2016-01-17 19:58] #2016 closed

[2016-01-17 20:00] andreistefanescu commented on #2034
Fixed in #2038 .

[2016-01-17 22:58] cos commented on #2075
For the record, I find the second version more cryptic. Unless someone knows the context, it is not obvious a new thread is spawn. E.g., I'm not sure I would have understood it immediately if I didn't have the first version.

This note is not about the power of our configuration concretization mechanism. We could have something powerful enough to support the second but choose to write it as the fi

[2016-01-17 23:07] grosu commented on #2075
Exactly.  It is one's choice how to write these things.  Our duty is to provide a powerful structure inference mechanism, based on solid principles and backed by a serious theorem (same like type inference in higher-order languages).  Then users decide themselves how they want to use it.  For example, many users of functional languages tag variables with their types "just in case".

Modularity ext

[2016-01-18 01:29] andreistefanescu commented on #2037
Fixed in #2073 .

[2016-01-18 01:29] #2037 closed

[2016-01-18 06:43] 20harshita opened #2079 "could not find sorts"
kjkompile.sh

Preprocessing semantics:
[Error] Compiler: Could not find sorts: [SwitchLabel]
Source(/home/harshita/java-semantics/src/./prep/../common/list-syntax.k)
Location(36,38,36,95)

Execution semantics:
[Error] Critical: Could not find file: builtins/model-checker.k
Lookup directories:[./exec,
/home/harshita/new/k/lib/java/../../include/builtin]
Source(/home/harshita/java-semantics/src/./ex

[2016-01-18 17:04] laurayuwen opened #2080 "kompile and ktest kompile differently"
Very strange problem:
[code]
After I run the above ktest, krun right after that produced correct result; however, if I kompile the definition directly, krun produced a different result.
[code]
Why is the difference?

[2016-01-18 17:06] andreistefanescu commented on #1948
This does not block the release of the tutorial.

[2016-01-18 17:07] cos commented on #2064
@grosu, I would guess this is essential for 4.0. @dwightguth would know best how to handle this. Otherwise, I can pick it up.

[2016-01-18 17:10] cos commented on #2080
it looks like non-determinism. Could you --search to figure out what's going on?

[2016-01-18 17:12] andreistefanescu commented on #2080
I am looking into it. The issue is not one of non-determinism, because ```stmt``` should be cooled.

[2016-01-18 17:14] grosu commented on #2064
If @dwightguth can fix it quickly fine, but you do not have time to spend on this.  I am currently just modifying the "kast" to "kas.bat" in my config.xmls temporarily.  We can live with such known bugs and fix them immediately after the release.  What is critical is for all the definitions in the tutorial, with all their examples that were tested before, to work the same way now.

[2016-01-18 17:15] dlucanu opened #2081 "Strange behaviour with floats"
Consider the following simple definition:

[code]

For the input `a = 0.0;` it works fine:

[code]

Instead, for the input `a = 0.1;` it gives the following error message:

[code]

A similar error is obtained with the input `a = 0.1f;`.
With the input `a = 0.31e+2;` it works fine:

[code]

but with the input `a = 0.314e+2;` it gives again an error:

[code]

I used the last version:

[code]

The ve

[2016-01-18 17:16] dwightguth commented on #2064
adding the .bat extension manually is the most elegant solution I can come up with. I agree it's not nice, but manually modifying the parsers people specify on the command line is even less nice. Eventually when you have correct support for start symbols this will not be as much of an issue though because it only affects ktest tests where the parser has been specified manually.

[2016-01-18 17:17] dwightguth commented on #2081
This looks like a bug in the MPFR java bindings. I will look into this when I have some time.

[2016-01-18 17:20] dwightguth commented on #2081
This is on Mac OS, correct?

[2016-01-18 17:22] dlucanu commented on #2081
Thanks. It would be nice to fix it in 3.6 as well. I use it for teaching.
Yes, it is a Mac OS. The OS is El Capitain 10.11.2.

[2016-01-18 17:22] cos commented on #2054
this, while not a big issue, is becoming annoying. I'll have a look at it soon.

[2016-01-18 17:24] cos commented on #2047
this is not related to the refactoring but yes, should be fixed.

[2016-01-18 17:26] cos commented on #2044
@andreistefanescu, can we postpone re-adding them? Mark this as 4.1 if so.

[2016-01-18 17:26] grosu commented on #2064
No need to fix it now, but the big problem right now is that people download K and the tests it comes with fail on Windows.  Yes, the problem will be minimized once the parser takes the user-declared sort of $PGM into account, but it is still strange that everything works fine if I type `kast --sort --Stmts sum.imp` in the command line, but it does not work if I type `krun sum.imp --parser "kast -

[2016-01-18 17:34] cos commented on #2009
@laurayuwen, is this still the case?

[2016-01-18 17:35] cos commented on #2005
this looks like low priority.

[2016-01-18 17:37] cos commented on #1996
@daejunpark, are you already tracking these somewhere else? can we close?

[2016-01-18 17:42] #1964 closed

[2016-01-18 17:43] dwightguth commented on #2081
Okay. Can you tell me the exact processor your computer has?

[2016-01-18 17:43] cos commented on #1943
solved

[2016-01-18 17:44] andreistefanescu commented on #2044
This is not super urgent.

[2016-01-18 17:45] cos commented on #1939
I removed quotes from klabels everywhere.

[2016-01-18 17:45] #1939 closed

[2016-01-18 17:48] cos commented on #1902
@msaxena2 fixed this.

[2016-01-18 17:48] #1902 closed

[2016-01-18 17:57] laurayuwen commented on #2053
It's because Jenkins have this '--warnings-to-errors' option.

[2016-01-18 18:07] cos opened #2083 "The last stretch on the tutorial"
- [x] 1_k
  - [x] 1_lambda
    - [x] last lesson
    - [x] all lessons (lesson 2, exclude: omega)
  - [x] 2_imp
    - [x] last lesson
    - [x] all lessons
  - [x] 3_lambda++
    - [x] last lesson
    - [x] all lessons (lesson 3, exclude: omega closed-variable-capture free-variable-capture)
  - [x] 4_imp++
    - [x] last lesson
    - [x] all lessons
  - [x] 5_types
- [x] 2_languages
  - [x] 1_simp

[2016-01-18 18:16] cos commented on #2083
This doesn't seem hooked in `config.xml`, should it?

https://github.com/kframework/k/tree/master/k-distribution/tutorial/1_k/4_imp%2B%2B/lesson_5/exercises/no-duplicate-declarations

[2016-01-18 18:17] cos commented on #2083
These look like bugs in the definitions themselves:
https://github.com/kframework/k/blob/master/k-distribution/tutorial/1_k/4_imp%2B%2B/lesson_7/tests/config.xml

[2016-01-18 18:24] grosu commented on #2083
Exercises are not hooked.  They have a separate repository with solutions, which needs to be kept private, for instructors.  Those also need to be updated, but I will do it later.  The idea is for students to call ktest on the provided config.xml of the exercise from the folder with the solution.  Likely the config.xmls need to be updated, too, but again, after.

[2016-01-18 18:25] grosu commented on #2083
Why are you saying that?

[2016-01-18 18:26] cos commented on #2083
Nevermind, I thought the special casing was added to avoid flaky non-determinism. I see it's related to the $PGM sort hooking bug.

[2016-01-18 19:09] grosu commented on #2083
If there are no unexpected problems, I think I should be able to do SIMPLE and KOOL.  However, if there are problems, I don't know.  FUN is the most exposed one at this moment.  One possibility is that I move to FUN after SIMPLE.  @daejunpark are you also available today?  Not sure when you are flying back from Korea, might be today ...

[2016-01-18 19:38] grosu commented on #1913
Guys, we still have this comment in SIMPLE-UNTYPED:
[code]
This is very very ugly, and an artifact of a poor implementation.  We cannot leave this in the tutorial, and certainly it becomes even more annoying as we/I have to add the same dirty hack in all the other languages that are not yet modified.  This sucks!  I thought that we eliminated all the road blockers.

[2016-01-18 19:46] daejunpark commented on #2083
@grosu I was still working on the error message, but it seems that I'd better to work on KOOL typed right now. Do you agree?

[2016-01-18 19:46] laurayuwen opened #2085 "ugly token output"
before
[code]
after
[code]

[2016-01-18 19:49] daejunpark commented on #2079
@20harshita which K version are you using? @laurayuwen could you let him know which version is working for java semantics?

[2016-01-18 19:50] grosu commented on #1842
Has this been fixed?  I just commented the additional production out below in simple untyped and it seems to work (ktest passes):
[code]
@radumereuta , please let us know if this has been fixed and if yes, close this issue.

[2016-01-18 19:54] grosu commented on #2083
yes, i agree!  we can fix the remaining errors afterwards, but we cannot release without all the languages in the tutorial working.

[2016-01-18 20:04] daejunpark commented on #1996
I think it is better not to close this, but change milestone.

[2016-01-18 20:14] cos commented on #2085
looking at `KOREToTreeNodes`, line 30-32, it seems this happens when printing tokens which do not have an associated production in the definition given to `unparse`. It's likely the module structure is strange in some regard.

[2016-01-18 20:15] cos commented on #2085
"Strange" = the semantics module does not have the productions for MetaVariable and Literal

[2016-01-18 20:16] cos commented on #2085
@grosu, is this verbose output acceptable for now?

[2016-01-18 20:17] daejunpark commented on #1984
fixed via #2042

[2016-01-18 20:17] #1984 closed

[2016-01-18 20:20] daejunpark commented on #1931
fixed via #2048

[2016-01-18 20:20] #1931 closed

[2016-01-18 20:21] grosu commented on #2085
Fine, although it obviously needs to change soon after the release.  We don't want students to see this.  So fine to modify the .out files, but please add a NOTES.md and explain it and say that we are going to make it look good soon.

[2016-01-18 20:24] cos commented on #2085
@laurayuwen, before you do that, I'll attempt a quick fix.

[2016-01-18 20:36] radumereuta commented on #1842
I've been looking over this, and most of the code that handles CellFragments, is written by @bmmoore (parsing and desugaring after that).
I think he is the most appropriate to fix it completely since he has the best understanding. I can have a look, but it's going to take me more than a day before I can understand all the details.

Other things: - the issue should not be closed, since there are mo

[2016-01-18 20:48] cos commented on #2085
#2088 should fix this for now.

[2016-01-18 20:48] cos commented on #2085
@laurayuwen, give it a try and merge if it works.

[2016-01-18 20:49] daejunpark commented on #1945
Progress of re-implementing org.kframework.compile.checks:
- [x] CheckConfigurationCells
- [x] CheckListDecl
- [ ] CheckRewrite
- [x] CheckSortTopUniqueness
- [x] CheckStreams
- [ ] CheckSyntaxDecl
- [ ] CheckVariables

[2016-01-18 20:53] laurayuwen opened #2090 "logik tests"
Logik/basic can pass tests `fact`, `append` and `family` now, stuck in k for `reverse` and `takeout` tests.
I checked K online tutorial and it also stuck there for those tests. Were they left for homework?

[2016-01-18 20:55] grosu commented on #2090
don't have time to look into this now.  pick the same thing as in 3.6.

[2016-01-18 20:56] laurayuwen commented on #2090
Is online tutorial 3.6?

[2016-01-18 20:57] grosu commented on #2090
Doesn't matter.  This is the official 3.6:

https://github.com/kframework/k/tree/3.6Base

[2016-01-18 20:59] cos commented on #1945
@daejunpark, you could make adding checks for coherence of syntax declarations, e.g., "is the sort being used in this production ever declared?", lower priority because we already haven them in the modularization pull request

[2016-01-18 21:02] radumereuta commented on #1913
@andreistefanescu, any input on this? The error reported if I remove the klabel comes from the backend.
Although, after looking over the definition, the current fix has a point. The rules used to evaluate Ids are different from those used for Exps and Vals, so it's not completely wrong to have a different klabel.

[2016-01-18 21:04] grosu opened #2091 "uncaught exception and unnecessary message"
This is what you get when you kompile simple-typed-static.k of K3.6 with the K4.0 kompiler:

[code]
I've already ran the program with --debug, so no need to be told the above.  Period at the end of the message.

[2016-01-18 21:07] andreistefanescu commented on #1913
@radumereuta the input is what has been said at the beginning of the thread: k3.6 adds a dummy sort ```List{Bot}``` which is subsorted to all list sorts, and then all list units have least sort ```List{Bot}```.

[2016-01-18 21:13] laurayuwen commented on #2090
OK, not homework. some search bug here.

[2016-01-18 21:13] #2090 closed

[2016-01-18 21:25] grosu opened #2092 "<EOF> or <eof> or eof token?"
It would be useful to have an end-of-file token in K, like Maude has.  When it occurs alone on a line, everything following it in the file is ignored.

[2016-01-18 21:36] grosu commented on #1913
@radumereuta can this be fixed quickly?  I have the same problem in simple typed.  So all languages suffer because of this.

[2016-01-18 21:43] grosu commented on #2091
Apparently this exception was thrown because the old definitions used `.` instead of `.Bag` in the following rule:
[code]
We should obviously get a more civilized error here.

[2016-01-18 21:43] andreistefanescu commented on #1913
The transformation is in ```CompleteSortLatice.java``` in k3.6, if anyone wants to look (is is no longer in the main repository).

[2016-01-18 21:46] cos commented on #1913
I'm talking to @radumereuta now and he says this is to be added in the compiler. we'll give it a try after we finish with the $PGM issue.

[2016-01-18 21:47] grosu opened #2094 "Revise and explain all error messages"
We should do something like this, eventually, with K's error messages, when they stabilize a bit, and add them in the K manual:

https://github.com/kframework/c-semantics/blob/master/examples/error-codes/Error_Codes.csv

[2016-01-18 21:52] grosu opened #2095 "Error message needs to improve"
In this rule, `.Bag` was just `.` initially:
[code]
The error message I got was the following, which is quite hard to make sense of:
[code]

[2016-01-18 22:33] laurayuwen commented on #2079
The latest K is not working with Java Semantics, sorry.
Could you try this branch: https://github.com/kframework/k/tree/pldi16 ?

[2016-01-18 22:57] laurayuwen commented on #2079
Could you try this? https://github.com/kframework/k/tree/javaCompatible

[2016-01-18 23:00] grosu opened #2097 "Parsing or pretty-printing error?"
You would expect the following to work:
[code]

[2016-01-18 23:03] grosu opened #2098 "Empty substitution should be explicit"
Continuing the example in #2097:
[code]
Probably `.Bag` is somewhat overloaded for all cell types, which is OK for now.  However, it is not nice to end a user message `Solution 1:`.  In K3.6 we used to report:
[code]
This looks better and we don't have to change many of our `.out` files in the tutorial.

[2016-01-18 23:56] cos opened #2101 "throw an error when unparsing a token with no associated production"
This should throw an error instead of propagating the token up with a different sort:

https://github.com/kframework/k/blob/hotfix/unparse-token-with-no-production/kore/src/main/scala/org/kframework/unparser/KOREToTreeNodes.scala#L28-L32

[2016-01-19 00:08] radumereuta commented on #1913
Fixed in #2099.

[2016-01-19 00:10] cos commented on #2054
fixed by #2093

[2016-01-19 00:10] #2054 closed

[2016-01-19 00:10] cos commented on #1520
fixed by #2093

[2016-01-19 00:10] #1520 closed

[2016-01-19 00:11] radumereuta opened #2102 "Auto added Bottom sort for lists can be improved a bit"
The fix in #2099 is not quite perfect, because when we are looking for the minimum in `AddBottomSortForListsWithIdenticalLabels` we don't know if we already added a minimum in a previous module.
The result is we add extra productions in descending modules. It doesn't break things at the moment, but you never know.

[2016-01-19 00:40] cos commented on #2100
@grosu, I can have a look so @andreistefanescu can focus on FUN. In which branch are you working?

[2016-01-19 00:57] grosu commented on #2100
Thanks, @cos.  I'm working in the master of my fork grosu/k, but I just made a PR with some fixes in simple untyped and i pushed simple-static as well.  See right at the end of the file, where the LValue sort is defined and the ltype wrapper.  I'm switching to simple dynamic in the meanwhile

[2016-01-19 01:00] cos opened #2104 "isLValue(HOLE) issue in SIMPLE typed static"
#2103

[2016-01-19 01:02] cos commented on #2104
ups, duplicate of #2100

[2016-01-19 01:02] #2104 closed

[2016-01-19 01:02] cos commented on #2100
note: #2103 is a workaround, change when this is fixed

[2016-01-19 01:03] cos commented on #2100
@grosu, is the workaround good enough for now, or should I look at it this evening?

[2016-01-19 01:12] grosu commented on #2100
@cos, I don't have a workaround for that, do you?  I would take any reasonable workaround right now.

[2016-01-19 01:18] cos commented on #2100
@grosu, I thought #2103 somehow made it work, but now I understand it's work-in-progress. I will look into it now.

[2016-01-19 01:26] cos commented on #2063
@dwightguth, this seems related to the binary serialization change

[2016-01-19 02:06] cos commented on #2100
seems like the sort on the `HOLE` exposes some bug related to sorted variables that is not easy to track down. Either way, the side-condition `requires isLValue(HOLE)` gets generated so we can start directly from there.

@andreistefanescu, what would be that more complex structure?

[2016-01-19 02:13] grosu commented on #2083
I checked the simple typed dynamic and also fixed the list: there is no type inference for FUN, but there is an environment-based substitution and a substitution-based one; also, logik extended was HW, so there is only logik basic.

I am stuck with simple typed static.  @cos, was it clear from my descriptions what the problem was?  Can I help with anything there?

@laurayuwen : how is logik going?

[2016-01-19 02:18] andreistefanescu commented on #2083
@grosu I am working on the environment based fun. I will add some hooks for the pattern matching, rather than fix the version based on k rules, and we can fix that once we have a proper meta-level.

[2016-01-19 02:20] cos commented on #2083
@grosu, not quite clear, see my comment on that thread:
https://github.com/kframework/k/issues/2100#issuecomment-172709012

[2016-01-19 02:25] grosu commented on #2100
1. comment `context ltype(HOLE:LValue)` and uncomment `context ltype(HOLE) requires isLValue(HOLE)`

2. uncomment `rule isLValue(_:Exp[_:Exps]) => true`

3. kompile and then execute factorial.simple.

This is what I get, which I reported a few hours ago and @andreistefanescu said it was a problem with the membership predicates:
[code]

[2016-01-19 02:37] grosu commented on #2100
I've found a combination of the various options to do the same thing which seems to work:
[code]

[2016-01-19 02:44] grosu commented on #2100
@cos everything seems to work with simple static now.  i'll do a few more sanity checks and then make a final PR.  before I do that, it would be great if you can take care of #2098.  Otherwise I have to modify all the .out files, and probably @daejunpark, too.

[2016-01-19 03:01] daejunpark commented on #2083
@grosu I'm still working on kompiling KOOL typed dynamic. There are two issues regarding cell fragment variables. I just fixed one of them, and will fix another. I think it would be better if you can take over KOOL typed static in the meantime.

[2016-01-19 03:40] laurayuwen commented on #2083
@grosu logik has half its tests ok, but --symbolic-execution --search does not give correct output in the other half tests.

[2016-01-19 03:52] grosu commented on #2083
And are you trying to fix it yourself or you are waiting for somebody else to fix it?  Who?  I think @andreistefanescu is stuck with FUN.

[2016-01-19 04:09] grosu opened #2109 "very unkool ambiguity warnings in kool typed static"
There are literally hundreds of such warnings
[code]
when I try to kompile this version of KOOL:
https://github.com/grosu/k/blob/unkool-warnings/k-distribution/tutorial/2_languages/2_kool/2_typed/2_static/kool-typed-static.k

[2016-01-19 04:34] laurayuwen commented on #2083
I have been trying it myself. This afternoon I was in lab, so I know Andrei's working on FUN. Just a little busy at home this evening.

[2016-01-19 04:53] #2098 closed

[2016-01-19 04:56] grosu opened #2112 "unkool warning"
Trying to dig more into the warnings reported in #2109, I finally identified this nasty little bugger:
[code]
Kompiling it, you get this:
[code]
As a user, here I throw the towel.  :)

[2016-01-19 05:42] daejunpark commented on #1913
Issue recurred. https://github.com/kframework/k/pull/2113/files#r50074467

[2016-01-19 05:44] daejunpark commented on #1842
This issue is still not fixed. See KOOL: https://github.com/kframework/k/pull/2113/files#r50074538

[2016-01-19 05:56] daejunpark opened #2114 "duplicate ktest"
Currently kool-typed-dynamic's config.xml has two test nodes, which are duplicate except that one is for concrete java backend, and another for symbolic java backend. I can remember that we did before, but forgot why.

@grosu Can we delete one of them, especially symbolic one, which will reduce time for regression test.

[2016-01-19 05:56] daejunpark commented on #2114
https://github.com/kframework/k/blob/18cb31ec469967d4a7afeaf8a2aa092e4be03e85/k-distribution/tutorial/2_languages/2_kool/2_typed/1_dynamic/tests/config.xml

[2016-01-19 05:57] grosu commented on #2114
Yes.  I've done exactly the same thing in SIMPLE a few hours ago (after checking with @andreistefanescu).

[2016-01-19 07:17] dlucanu commented on #2081
Hardware Overview:

  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro7,1
  Processor Name:	Intel Core 2 Duo
  Processor Speed:	2,4 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  L2 Cache:	3 MB
  Memory:	8 GB
  Bus Speed:	1,07 GHz
  Boot ROM Version:	MBP71.0039.B0E
  SMC Version (system):	1.62f7
  Serial Number (system):	W802926PATP
  Hardware UUID:	5D811644-45B9-521A-A09F-8E621C

[2016-01-19 13:05] radumereuta commented on #2112
Hmm...ok. I understand what happens.
I'm working on a fix.

[2016-01-19 13:06] grosu commented on #2112
Please @radumereuta , I'm currently stall, as KOOL typed static is the only one nobody is working on.

[2016-01-19 13:19] 20harshita commented on #2079
I M trying..will rply u the result.
On 19 Jan 2016 04:27, "laurayuwen" <notifications@github.com> wrote:

[2016-01-19 13:25] 20harshita commented on #2079
in this screenshot i downloaded TAR.GZ file.

On Tue, Jan 19, 2016 at 1:20 AM, Daejun Park <notifications@github.com>
wrote:

[2016-01-19 13:29] grosu commented on #2112
Finally, I have managed to eliminate all the other kompilation errors from `kool-typed-static.k`!  So if I comment the attribute of the subsort relation like below,
[code]
I can kompile it.

[2016-01-19 13:51] grosu opened #2116 "krun uncaught exception"
1. kompile this version of KOOL typed static:
https://github.com/grosu/k/tree/krun-exception/k-distribution/tutorial/2_languages/2_kool/2_typed/2_static

2. krun as follows and see the exception:
[code]

[2016-01-19 14:13] grosu commented on #2116
I think I found the culprit.  It is this rule:
[code]
Here it is, again:
[code]
If you comment it out, you get a stuck configuration as you expect.  If you modify it minimally to apply and then stuck the computation, for example by adding a new type `stmtStuck` and replacing `stmt` with `stmtStuck` in the first line, then you get the exception again.  So it really has a problem applying such a rul

[2016-01-19 14:40] 20harshita commented on #2079
after runing command kjkompile.sh..will processing semantics take more time
to process??
due to this my system get hanged..shall i have to run it on server??

On Tue, Jan 19, 2016 at 6:49 PM, HARSHITA GOSWAMI <hrshtgoswami339@gmail.com

[2016-01-19 15:03] grosu commented on #2116
I tried lots of different ways to fix this: reordering the cells, using parentheses for grouping, even adding one more layer of cells, `<tasks/>` and `<classes>`, and everything failed with the same exception thrown because of the same rule.

I don't know how to continue, so I need help here asap, otherwise we are not going to make it with KOOL.

@daejunpark , since you spent a lot of time with KO

[2016-01-19 15:38] andreistefanescu commented on #2116
This is a bug probably due to associative matching. I think I am the best person to look into it.

[2016-01-19 16:00] #2114 closed

[2016-01-19 16:07] daejunpark commented on #2116
@andreistefanescu thanks. Let me know if you need my help. I can work again after classes, around 2pm.

[2016-01-19 16:23] laurayuwen commented on #2079
Yes, it can take half an hour or more. If your system get hanged, I am
afraid so.

On 19 January 2016 at 08:41, 20harshita <notifications@github.com> wrote:

[2016-01-19 21:33] cos commented on #2122
It looks good to me overall. I talks a bit about latex, and we don't support it in 4.0, but we will add it soon so I don't think we should go back and forth.

[2016-01-19 21:35] andreistefanescu opened #2123 "Pattern matching for configuration displaying is not available for normal execution"
The option ```--pattern``` should be available for normal execution (without --search).

[2016-01-19 21:35] andreistefanescu commented on #2123
@cos reassign as appropriate.

[2016-01-19 21:38] cos commented on #2123
@dwightguth knowns best how this is hooked. If this is urgent (please add a milestone tag) and @dwightguth doesn't have time, I can do it.

[2016-01-19 21:47] dwightguth commented on #2123
This should work already as long as you correctly implement executeAndMatch. If there is a problem it's not in anything having to do with my code because the ocaml backend does this all the time.

[2016-01-19 22:02] andreistefanescu commented on #2123
It works. I assumed it did not work because ```--pattern``` was used with ```--search``` on deterministic definitions. The config files must have been old.

[2016-01-19 22:02] #2123 closed

[2016-01-19 23:58] radumereuta commented on #2112
I've managed to create a fix for the problem, but I got stuck in some caching issues in the visitors for TermConses. At least this is what @cos thinks happens.

I will continue to work on this tomorrow.

[2016-01-20 07:59] 20harshita opened #2124 "error after preprocessing semantics"
![screenshot from 2016-01-19 19 56 33](https://cloud.githubusercontent.com/assets/16714929/12442866/aa35071c-bf79-11e5-8ad1-946679650e34.png)

[2016-01-20 08:32] 20harshita opened #2125 "error after kjkompile.sh"
harshita@harshita-VPCEH25EN:~/java-semantics/src$ kjkompile.sh

Preprocessing semantics:
[Error] Internal: Uncaught exception thrown of type AssertionError.
Please rerun your program with the --debug flag to generate a stack trace, and
file a bug report at https://github.com/kframework/k/issues

Execution semantics:
Java HotSpot(TM) 64-Bit Server VM warning: INFO: os::commit_memory(0x00000000d8200

[2016-01-20 10:54] imran-iitp opened #2126 "## Environment"
PATH=$PATH:<release>/lib/native/linux:<release>/lib/native/linux64
LD_LIBRARY_PATH=$LD_LIBRARY_PATH:<release>/lib/native/linux64

What is the meaning of <release> in the above path?.. What should I write over there?

[2016-01-20 12:46] daejunpark commented on #2126
It should be: (Note that we have `<release>`.)
[code]

`<release>` is a path to `k-distribution/target/release/k` in your source tree.

[2016-01-20 12:58] daejunpark commented on #2125
You seem to have no sufficient physical memory or not to have a correct JVM memory setting. @laurayuwen Can you help?

BTW, this seems not an issue of K, but more of Java semantics. @20harshita I recommend you to report further issues into Java semantics repository: https://github.com/kframework/java-semantics/issues which will help us to track of such issues.

Thanks!

[2016-01-20 19:44] laurayuwen commented on #2125
@20harshita I created a copy of this issue in Java-Semantics repository, but unfortunately, I have never seen and nor can I reproduce this problem. I can do no better than google this problem, and this seems to be a general issue not relating to K or Java Semantics, some people say this means that you're running so many programs on your PC that there is no memory left to run this one and no Java o

[2016-01-20 19:45] laurayuwen commented on #2125
I am closing this issue, if you have further message, please go to https://github.com/kframework/java-semantics/issues/57

[2016-01-20 19:45] #2125 closed

[2016-01-27 11:28] #1874 closed

[2016-01-27 11:33] omarz1 commented on #1881
Closed because @dwightguth said it will not be a problem in K 4.0.

[2016-01-27 11:33] #1881 closed

[2016-01-27 11:38] omarz1 opened #2128 "[latex]: Using LuaLaTeX with `k.sty` package"
Can I use `lualatex` instead of `pdflatex`? Will `k.sty` work with it if we make the few common changes when moving from `pdflatex` to `lualatex`? Or is there something deeply rooted in the package that will make it very difficult?

[2016-01-27 18:42] cos commented on #2128
I think @traiansf knows more about this.
My advice is to simply try it if the changes are few.

[2016-01-27 18:43] #2126 closed

[2016-01-27 18:44] cos commented on #2124
@20harshita, could you rerun this with `--debug` and post the output here? Also, which version of K are you using?

[2016-01-27 18:46] cos commented on #2112
@radumereuta, I will close this now. Reopen if you think there's anything not clarified here.

[2016-01-27 18:46] #2112 closed

[2016-01-27 18:54] cos opened #2129 "slow KToken to KVariable pass"
performance bug

[2016-01-27 21:48] omarz1 commented on #2128
I did try it and I got various errors that didn't make sense to me, nor
could I trace.

[2016-01-27 22:29] #2109 closed

[2016-01-29 21:10] cos opened #2133 "re-add flaky test when problem is solved"
https://github.com/kframework/k/blob/test-ci/k-distribution/tutorial/2_languages/2_kool/2_typed/1_dynamic/tests/config.xml#L8

[2016-02-01 09:11] dlucanu commented on #2081
Any news?

[2016-02-01 09:47] dwightguth commented on #2081
Apologies, I didn't see your update with the hardware info. In order for me to determine whether this is affecting all machines or just your machine, I need to be able to test on another Mac, unfortunately, I am out of the office for the week and away from the development Mac we usually use.

@andreistefanescu can you please test this for me quickly and let me know if you can reproduce it?

[2016-02-05 02:31] jarsp opened #2134 "List Matching issue?"
[code]

This rule does not seem to match. I am just running krun and kompile without options. I have tried both the master branch and fix/ac-bug (see #2130) but neither seem to work. if I remove the `...` or put another ListItem in front of ListItem(0) the rule will match fine.

Cosmin asked me to assign @andreistefanescu but I don't think I'm able to assign things at the moment.

Benjamin

[2016-02-05 15:24] cos commented on #2135
My best guess is that the absolute path somehow messes some require. I am not very familiar with that part of the code base -- it is the frontend we're aiming to improve. @andreistefanescu should probably guess which module/require is missing and I'll look into fixing it over the weekend.

The non-termination is likely unrelated. The SMT error likely prevents the execution from reaching the infini

[2016-02-05 22:22] grosu opened #2137 "defining map, fold, etc., operations in K"
I'd like to open this issue now to make sure we keep track of it, because it happened twice in the last 2 days that this has been brought up to my attention.

There should be no problem to define higher-order-style list operations in K, such as `map`, `fold`, etc.  For example:

    syntax KList ::= map(KLabel, KList)
    rule map(_, .) => .
    rule map(F, (K,Kl)) => F(K), map(F,Kl)

Or, if you w

[2016-02-05 22:59] cos commented on #2129
solved

[2016-02-05 22:59] #2129 closed

[2016-02-05 23:18] grosu commented on #2137
The clean solution for user defined lists, though, will come when we add proper modularization to K.  Lists should be defined either using parametric modules, or renaming.  The latter would look something like this (actually Maude supports that, btw! but in Maude you need to explicitly go to the meta-level to pass KLabels around):
[code]

[2016-02-07 01:42] daejunpark opened #2138 "terms having a wrong sort Id"
In kool-static, a term has a wrong sort during execution. @andreistefanescu @cos do you have any idea?

For example, a term `_._(class(Id(#"Main")),, Id(#"Main"))` has a sort `Id`, which is not correct. Because of this, the following rule is being applied over and over again, which leads to non-terminating.
[code]

To reproduce:

On the top of `fix/ac-bug` branch 27d1eea93b,
`kompile kool-typed-st

[2016-02-07 01:42] daejunpark commented on #2138
related to https://github.com/kframework/k/pull/2130#issuecomment-180397690

[2016-02-07 16:38] grosu commented on #2138
Yes, it is definitely wrong for `Id.Main` to be an `Id`.  Maybe the regex corresponding to `Id`s is what needs to change?

Thanks, @daejunpark, for putting your finger on the bug.

[2016-02-07 22:52] cos commented on #2138
The problem is the following:
By [subsorting rule](https://github.com/kframework/k/blob/fix/ac-bug/k-distribution/tutorial/2_languages/2_kool/2_typed/2_static/kool-typed-static.k#L692) any `_._` is an LValue:
[code]
but `_._` is also an `Exp`, and the only `Exp` that we know of that is also an `LValue` is `Id` (i.e., `Id` is the unique GLB of `Exp` and `LValue`) so the inference algorithm conclude

[2016-02-07 22:53] cos commented on #2138
I'll try to solve it by the split:
[code]
Let's see...

[2016-02-07 23:03] cos commented on #2138
Also named the `ArrayReference` and `constructors.kool` type-checks on my computer. Let's see if the rest are passing.

[2016-02-07 23:09] cos commented on #2138
The sort issue seems to be solved.

@grosu, just making sure I understand this correctly, a subsort pre-regularity check would have caught the above problem at compile time, right?

[2016-02-08 00:51] laurayuwen opened #2139 "matchAssoc bug"
For logik/basic, `krun --symbolic-execution tests/reverse-fast-1.logik`, `matchAssoc` did not find this rule when it should:
[code]

[2016-02-08 17:42] cos opened #2143 "excluded the kool-static-typed return-object test"
The test works on my computer but fails intermittently on codeship. Will add it back once we get a chance to investigate the implementation non-determinism.

[2016-02-08 17:48] cos opened #2144 "improve pretty-printing for logik outputs"
see, e.g., `append-1.logik.out`

[2016-02-08 20:16] radumereuta commented on #2097
I tried it this way:
[code]
Clearly there is a misunderstanding between parsing and pretty printing, but I'm not sure which one is wrong.

[2016-02-09 09:49] omarz1 opened #2147 "[latex]: Big parentheses around cells"
Sometimes it is not obvious that a rewrite applies to multiple cells like in the attached rule.
![untitled4](https://cloud.githubusercontent.com/assets/7592333/12912710/5ef569ba-cf2b-11e5-98b0-b4a2cb3b0b9c.png)

I would like to surround these two cells with parentheses. How do I do that?

[2016-02-09 18:51] egunter opened #2148 "Can't find a directory"
bash-3.2$ pwd
/Users/elsa/courses/cs422/sp2016/students/_class/_private/lectures/5
bash-3.2$ ls -d int-kompiled/
int-kompiled/
bash-3.2$ ls test.int
test.int
bash-3.2$ krun --directory "/Users/elsa/courses/cs422/sp2016/students/_class/_private/lectures/5/int-kompiled/"  test.int
[Error] Critical: Could not find a compiled definition. Use --directory to
specify one.
bash-3.2$

[2016-02-09 18:54] egunter commented on #2148
I have the same problem if Replace --directory by -d.  If I leave out the directory specification and I krun test.int all works as expected.
---Elsa

[2016-02-09 19:09] cos commented on #2083
module very few exceptions, done.

[2016-02-09 19:09] #2083 closed

[2016-02-09 19:14] andreistefanescu commented on #2148
Can you try this path ```/Users/elsa/courses/cs422/sp2016/students/_class/_private/lectures/5``` (without ```int-kompiled```)?

[2016-02-09 21:54] egunter commented on #2148
OK.  That works.

What use is that if I have multiple ?-kompile directories in one place
and want to specify which one?  I don't understand the intent of this
flag or the directory structure restrictions imposed by K.
---Elsa

On 2/9/16 1:14 PM, Andrei Stefanescu wrote:

[2016-02-10 02:28] grosu commented on #2148
@andreistefanescu , @cos , @dwightguth : to me this looks like a bug.  Can you please look into it?

@egunter: the idea is to allow multiple kompilations of the same language in the same folder, for example with different parameters; for example, one can be optimized for execution, another for search, another for verification.  Each of them is stored in a different folder, and then you can refer t

[2016-02-10 06:31] daejunpark commented on #2148
It is not a bug, but a feature. It works as follows:
Suppose you kompile `imp.k`.
 * By default, `imp-kompiled` directory is created in the directory `imp.k` resides in.
 * When the option `--directory X` is provided, `imp-kompiled` is created in `X` (relative to the current directory if `X` is a relative path).

Now, when you run the semantics:
 * By default, `krun` finds `*-kompiled` directory i

[2016-02-10 06:47] egunter commented on #2148
This semantics is counter-intuitive and means you can not have a
collection of files each building an approximation to a final language
all in the same directory.  If the name of the language must be prefixed
to the -kompiled directory name and suffixed to the object files of that
language, then why do you have the restriction that there can only be
one *-kompiled directory in a given directory?

[2016-02-10 07:56] grosu commented on #2148
Now I remember, thanks @daejunpark.

You can, but in that case you have to use options.  Say you want to have `imp1.k` and `imp2.k` in the same folder, both defining approximations of the same language IMP (so main module is called IMP in both, and programs have extension `.imp` in both).  Then kompile them as follows:
[code]
Now you got two folders, `imp1` and `imp2`, each containing one kompiled

[2016-02-13 16:45] grosu opened #2150 "parsing with narrowing"
In a meeting with Ben yesterday, it came out that we can use narrowing for parsing.  This morning I did some experiments using Maude's narrowing support to flush out the idea, and it seems to work:

[code]
The above outputs:
[code]
Unfortunately, it looks like narrowing in Maude only works with full maude, and does not have support for associativity, so I had to cripple the definition to use `appe

[2016-02-14 15:12] laurayuwen commented on #2150
Looks nice! If we have a mechanism to produce AST from narrowing path (maude can already show the path), `mod GRAMMAR` can be further simplified to have rules look like `rl [A1] => a nil .`, but this module will be automatically generated by parsing mechanism anyway.
But this reminds me of how we used spoofax to create Java parser from SDF syntax, what is the technique there and how is narrowing a

[2016-02-14 15:33] grosu commented on #2150
That's how it was initially, but I wanted to also see the AST.  And the difference in performance is not that big.  They are both equally slow.

Why do you think there is any relationship here?  SDF is specialized for parsing and that's what it does, it generates parsers from grammars, no narrowing, just a very specialized parser generator.

Go ahead and read :)  Both the SDF approach and our code

[2016-02-14 16:02] omarz1 commented on #2147
I just found out that even in rules where I apply a function to a whole cell, the parentheses of the function don't show up! Something is clearly wrong with parentheses. I'm pretty sure that I saw a thread here before talking about their appearance, but I can't find it. Can someone help me with this issue?

[2016-02-14 16:10] omarz1 commented on #2147
I just added `\left(` and `\right)` in the right places and it worked.

[2016-02-14 16:12] omarz1 commented on #2147
But this should be done automatically with `kdoc`. This should be added to the many issues I titled [latex] or [kdoc].

[2016-02-14 16:12] #2147 closed

[2016-02-18 12:16] omarz1 commented on #2147
Actually the `\left(` and `\right)` should be surrounded by an `array` environment. Or instead you can use `\begin{pmatrix}` and `\end{pmatrix}`.

[2016-02-27 21:51] cos commented on #2152
@imran-iitp, the --pdf option is not available in K 4.0 yet. We are working on it and it should be there in a few weeks.

[2016-03-04 12:47] 20harshita commented on #2079
Can you provide me how to get input from user in K in imp language?

[2016-03-04 12:49] 20harshita opened #2153 "how to get input from user in k"
Can you provide me syntax or semantics which take input from user in k in imp language?

[2016-03-04 22:29] daejunpark commented on #2153
Declare a cell with `stream="stdin"` attribute and match an item in it, then you can get an input for it.

Please refer to `IMP++` tutorial for details:
https://github.com/kframework/k/blob/master/k-distribution/tutorial/1_k/4_imp%2B%2B/lesson_8/imp.k#L369

[2016-03-07 12:43] 20harshita commented on #2153
Thank you sir for your kind help.
sir one more thing I want to know that how to show the value of a variable
during execution( for example: assume while loop, in each iteration
variable value gets updated)... Is there any option to trace the program
execution with krun command?

Thanking You.

With Regards.
Harshita

On Sat, Mar 5, 2016 at 3:59 AM, Daejun Park <notifications@github.com>
wrote:

[2016-03-07 20:18] daejunpark commented on #2153
There is no explicit option for that, but you can easily modify (by augmenting) the semantics to print out values of variables whenever they are updated.

Printing out values is similar with reading inputs. Please refer to the following for details:
https://github.com/kframework/k/blob/master/k-distribution/tutorial/1_k/4_imp%2B%2B/lesson_8/imp.k#L190
https://github.com/kframework/k/blob/master/k-

[2016-03-07 20:59] msaxena2 commented on #2153
The --debugger flag to krun may also be of help here.
https://github.com/kframework/k/wiki/K-Debugger

[2016-03-09 11:04] 20harshita commented on #2153
Thankyou sir for kind help.
sir, i am writing program as
 int x,y;
 x=read(); // I assume read as high type
 y=x+5;   // as x is high then y should also be high
I m trying to write the rule using type system  to make x and y of type
high in  k rule but not able to consumed the k cell.
 what rule should be added to print x and y of type high.

On Sat, Mar 5, 2016 at 3:59 AM, Daejun Park <notificati

[2016-03-09 22:23] daejunpark commented on #2153
In general, you can have additional information in the configuration, and control behavior using the information. For the type information, for example, you can either associate each variable to a tuple of its value and its type in your memory cell, or have a separate map from each variable to its type. Why don't you take a look: https://github.com/kframework/k/tree/master/k-distribution/tutorial/

[2016-03-10 06:07] andreistefanescu commented on #2154
The exception is generated by applying this rule
[code]
on the term
[code]
by the fact that lookup ```Loc[!L]``` returns bottom (since ```!L``` is fresh, the map is always undefined for it).

I will add a patch to have a meaningful error message. In the meantime, is this information enough to fix the rule?

[2016-03-10 06:26] egunter commented on #2154
Dear Andrei,
   I've already fixed it.  When I sent the bug report, I had assumed it
was another problem.  I had an event in class when I used concrete
syntax for assignment (A := B) and it would not parse the rule (if I
remember, it kept insisting it need parentheses, but when I but them it
it complained about having them), but when switched to (_:=_(A,B)) it
seemed happy.  I added the offending

[2016-03-14 09:29] dlucanu commented on #2081
It seems the same problem is on some linux machines.
I asked my students to use Windows machine for the examples with floats, but this is far to be a fair solution.

[2016-03-14 13:15] cos commented on #2081
I know little about how we use the MPFR Java bindings. @dlucanu, is MPFR required for your problem?

@andreistefanescu, you probably know more about this. Are the MPFR bindings actually required in most cases or are we simply using them because they are available? It may be good to have the common case not use non-Java libraries.

[2016-03-14 13:23] cos commented on #2155
The KAST seems to be using the backtick syntax. That was introduced in K 3.6 but we decided against it in K 4.0. As far as I know, we never got to a point where we had a working roundtrip, printing a definition and being able to parse it back in K 3.6. This would likely work better in K 4.0, as we highly encourage you to use it if at all possible -- Elsa Gunter is also using it for teaching the Pr

[2016-03-14 14:24] dlucanu commented on #2081
I need an implementation of floats in order to execute algorithms from computational geometry. Any implementation that works on all platforms is fine for me. Note that there are more than 400 students that have to use K Tool to execute the taught algorithms.

[2016-03-14 14:37] dlucanu commented on #2155
I expected that the kast generated with 3.6 can be compiled with K 3.6, but it seems that it doesn't.
When I started the teaching, K 4.0 was not released and therefore I preferred the last stable released version. The definition I use for teaching is quite complex and needs a significant effort to switch to K 4.0 and I have no time now. I will do it for the next year. Now I need a simple and stabl

[2016-03-15 18:11] ngasoft opened #2156 "how multiple matched rules are dealt with"
Sorry for an naive question. I try to understand what happens two or more rules are matched? do they all fired to give rise to different runs?

For example, I have the following K program:

module TEST-SYNTAX

  syntax STM ::= "i" | "a" | "b"

endmodule

module TEST

  imports TEST-SYNTAX

  configuration
  <T>
    <k> $PGM:STM </k>
    <out> .K </out>
  </T>

  rule <k> i => b </k>
  rule <k> i =

[2016-03-15 18:24] cos commented on #2156
Yes. With regular execution you will only see one of the runs, while `--search` will give you all possible runs.

For your example, it does look like it should give two solutions. It might be a bug in K 3.5. Could you try it with K 4.0?

[2016-03-15 18:29] andreiarusoaie commented on #2156
Have you tried to add the ```[transition]``` tag to your rules?
Syntax:
```rule Left => Right [transition]```

[2016-03-15 18:43] cos commented on #2156
@andreiarusoaie, right :-)

We had been defaulting to `[transition]` in the Java backend for a while but, yes, it was needed before, and it is still needed in the latest version.

[2016-03-15 18:53] grosu commented on #2156
Guys, let me remind you that we do not encourage you to use the "transition" attribute.  Instead, you should use the --transition option to kompile, and include all the rules that you want to consider as transitions there.  If you want all the rules to be transitions, then add "computational" to the list of transitions (--transition "computational")..

[2016-03-16 11:57] 20harshita commented on #2153
sir,I am getting problem to assign a new type( high or low ) to a variable
which is of type int in k type system.kindly give me a little hint to write
the rule for assigning new type.

On Thu, Mar 10, 2016 at 3:53 AM, Daejun Park <notifications@github.com>
wrote:

[2016-03-16 12:02] 20harshita commented on #2153
I have gone through
https://github.com/kframework/k/tree/master/k-distribution/tutorial/1_k/5_types/lesson_9
but I am unable to understand as i am new lambda calculus.I am trying to
assign a new type to a variable as i maintained in my previous mail.
your rules for assigning new type to a variable will help us alot.Actually
i need to flow the type of a variable from one statement to another
statem

[2016-03-16 14:18] cos commented on #2153
which is of type int in k type system

What is the problem specifically?

[2016-03-17 04:55] 20harshita commented on #2153
I am trying to write a rule which can assign value of that type on that
statement,further that value should be used if the behaviour change.
for example,
       int x,y;
       x = read(); // as we taking input from user x should become high type
       y = x; // as x is assign to y therefore y will become of high type
   i m trying to write k rule for that statement but didn't get success in
doin

[2016-03-17 16:49] cos commented on #2153
@20harshita, tutorial/1_k/5_types/lesson_9 is a good example of how you can do this.

What is the precise problem you are encountering? Does K throw an error? Is there a specific rule that you expect to be applied and it isn't?

If you simply do not know how to approach this in general, the K tutorial should give you answers to most questions: http://www.kframework.org/index.php/K_Tutorial

[2016-03-17 22:49] ngasoft commented on #2156
Hello, thank you for your answers. Also a similar question about how multiple applicable rules are dealt with, but now, in the definition of a function? when two or more rules in the definition of a function are applicable at the same time, is there an implicit priority which determines which rule is applied? Can we specifies an explicit priority for these rules?

[2016-03-18 02:45] cos commented on #2156
The rules are applied non-deterministically. While some earlier versions of K did follow some conventions for rule application order, it would be best to not rely on them.

The cleanest way to prioritize rules is to use rewriting strategies. We have experimental support for them in K 4.0. If using the latest version of K is not an option for you, there was some limited support for strategies befor

[2016-03-21 09:48] smaaliSahar opened #2157 "Z3 solver"
Hello,
I want to use Z3 solver of the K tool in order to verify my models.
where may I find documentations or examples??
Thank you for replying.

[2016-03-22 03:23] laurayuwen commented on #2157
Hi, we usually recommend people who want to start using K to have a look at K tutorial http://www.kframework.org/index.php/K_Tutorial

[2016-03-22 10:27] smaaliSahar commented on #2157
Hi, thank you for your answer. Actually, I know how to use K and I have defined my own language. Now, I want to use Z3 solver interface but I could not find documentation about it.

[2016-03-23 04:30] laurayuwen commented on #2157
Sorry, we haven't documented everything. You can find some examples, such as verifying some bst properties, in https://github.com/kframework/java-semantics

[2016-03-23 07:37] smaaliSahar commented on #2157
Thank you for your help

[2016-04-02 18:09] omarz1 opened #2160 "Setting up K for development"
Hello. What is the best way to set up the Java backend of K for development? I'm using Eclipse. Should I import it as a Git project or as a Maven project? Can I compile the whole thing in Eclipse? or is every part separate?

[2016-04-02 18:16] cos commented on #2160
If you no not want to change any of the K code, simply add the jar from the K release as a dependency for your project: https://github.com/kframework/k/releases

If you do want to change K, it may be better to use IntelliJ. We had some trouble making Eclipse play well with both Scala and some mvn packages.

If you run into any trouble, i'll be on gitter most of the day today.

[2016-04-03 01:47] omarz1 commented on #2160
IntelliJ was straightforward. Thank you.

[2016-04-03 01:47] #2160 closed

[2016-04-03 01:48] omarz1 commented on #2160
IntelliJ was straightforward. Thank you.

[2016-04-03 10:24] grosu opened #2162 "improve error message"
I'm using the online interface, definition 1_k/1_lambda/lesson_1.  kompile then krun with arguments
[code]
Getting this error message:
[code]
The only problem in the above is that I used `-pattern` (one dash) instead of `--pattern`.  The error message though does not help me at all to understand what I did wrong.

Also, besides the obvious `got:attern`, the `a=b` info is incorrect.  What is `a` an

[2016-04-03 16:11] #1055 closed

[2016-04-10 10:04] omarz1 opened #2164 "Develpoing the IntelliJ Idea Plugin for K"
Hello. I wanted to develop the IntelliJ Idea plugin for the K language. I want to add features like highlighting of rule LHS/RHS with the rewrite symbol, and folding modules and other things.
The current implementation was for Idea 13. My question is should I build on it or just use its code as I progress through the tutorial making a new one from scratch? Has a lot changed from Idea 13 to Idea 20

[2016-04-10 10:49] radumereuta commented on #2164
I don't know what changed in IntelliJ, but I would like to help.
I always wanted to use the JavaCC parser of the outer K so we have way better control of the syntax declarations. Then we can just think of what efficient stuff we can do for the rules since they are harder to parse.

[2016-04-10 11:13] omarz1 commented on #2164
I tried compiling the current implementation but I couldn't generate the lexer. The instructions say I have to use Idea 12 to do that. But such a small inconvenience made me think of starting from scratch, especially since the tutorial is clear.

[2016-04-10 14:48] cos commented on #2164
@omarz1, it would be great if you could pick this up. We are working on a new API for K and this would be a good opportunity to exercise the API while solving a long-standing problem.

How important is for IntelliJ to use its own parser? Ideally, we would use our own parser and only give IntelliJ the data structures it wants.

[2016-04-10 19:46] omarz1 commented on #2164
OK I decided I will start from scratch and use as much as I can from the current implementation, without sacrificing convenience for future development.

[2016-04-10 19:50] omarz1 commented on #2164
@cos. I still can't estimate the necessity of intelliJ to use its own parser. I have just started using IntelliJ myself and I just got into the [language support guide](http://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support.html) and [tutorial](http://www.jetbrains.org/intellij/sdk/docs/tutorials/custom_language_support_tutorial.html). When I reach the stage of the data

[2016-04-10 19:54] omarz1 commented on #2164
@radumereuta, your help will be greatly appreciated. I will keep this thread updated as soon as I reach a compilable version of the plugin.

[2016-04-12 23:06] lucaspena opened #2166 "KItem not acting as least sort"
I'm using K 4.0 trying to kompile the LLVM semantics, and I came across this bug that I believe is a bug in K, caused by KItem not acting as a least sort. Below is a minimal version of the code that caused the bug. The error message was "Unexpected sort KItem for term, ..., expected Loc"

[code]

[2016-04-12 23:22] cos commented on #2166
It is best to avoid playing with the KItem as a bottom sort. In my view, we would be better of if we simply didn't even expose it to end users. Why not express this somehow else, e.g., `syntax Loc ::= "nextSym" Loc`?

[2016-04-13 01:34] lucaspena commented on #2166
Yes, I had tried that, and it works, and I'll change it to that, but should it not also work as is?

[2016-04-13 04:03] egunter commented on #2167
Adding "imports TOP-CONFIG" to module mp2  fixes the problem.
---Elsa

[2016-04-13 07:24] dlucanu commented on #2166
Maybe I am wrong, but I guess that the problem is not that KItem is not a bottom sort. Note that the configuration specifies that the sort of the cell `<nextLoc>` is `Loc` (= the sort of `loc(1,0)`) and it expected that the content of the cell to be always of sort Loc.

[2016-04-13 16:58] cos commented on #2166
The KItem sort is split into a top and bottom sort. There is a mechanism for shoving something below the bottom sort, which is useful in certain circumstances, e.g., allowing the rewrite arrow to appear anywhere. I think the mechanism is still exposed to the end users, and I think that's what @lucaspena was trying to use. So, in this case, `"nextSym" Loc` would have become a bottom sort and be all

[2016-04-13 17:56] radumereuta commented on #2166
That sort is `KBott`. It's not finalized, and it's better if it's not used by users since it may get abused and lead to other issues in the future.

[2016-04-13 21:08] cos commented on #2167
It's likely the configuration was declared in a module which was not (transitively) imported. We'll have to improve the error message. Thank you!

[2016-04-13 22:28] daejunpark commented on #2166
So, there are cases where users want to use such a bottom sort explicitly. Think about a polymorphic function, e.g., a function replacing all sub-terms that match some patterns. In that case, a return value of the function should be able to be used for arbitrary sorts, and we need a kind of least sort for that.

The thing is that this is a situation that we have in LLVM semantics. It heavily uses

[2016-04-13 22:39] grosu commented on #2166
did you try to use K instead of KItem?  and you can alway use casting to make a term of sort K be parsed as any sort you want, can't you?

[2016-04-13 22:55] daejunpark commented on #2166
I cannot use K because it cannot be extended. I can try the casting, which will be ugly and cumbersome though.

[2016-04-13 23:00] omarz1 commented on #2167
@cos. Just curious. I'm wondering if you can you reproduce this in order to test it.

[2016-04-14 02:20] cos commented on #2167
If the problem is what I think it is, simply refer to a non-existent cell within a rule. E.g.:
[code]

[2016-04-14 02:52] grosu commented on #2166
You can define your own Bottom sort if you wish to do subsort polymorphism manually.

[2016-04-14 11:26] radumereuta commented on #2166
It used to be that in K3, the sort K would be used as a Top and a Bott at the same time.
But I think that made it less clear of what was happening because it was based on a trick that SDF was able to do.
With K4, we migrated to a slightly different system, where every user sort is contained between a top (`K`) and a bottom (`KBott`): `K ::= Exp` and `Exp ::= KBott`
For example, the rewrite product

[2016-04-23 08:30] omarz1 opened #2170 "Infinity Int"
How do you say infinity integer in K? I need to find the least number in a certain bag, and I need to initially compare to infinity.

[2016-04-26 12:48] radumereuta commented on #2170
I don't remember having such a thing in K for Integers. Only for floats.
Another thing is, bags are supposed to be commutative, so no order on them.
Maybe you need a different structure to keep track of an order?

[2016-04-26 17:28] omarz1 commented on #2170
No, the number is in a cell inside a cell inside the bag, but that's not my problem. I already solved my problem though. I'm using an upper limit. But just for reference, how do you refer to infinity with floats?

[2016-04-26 17:28] #2170 closed

[2016-04-26 18:15] radumereuta commented on #2170
https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k#L318

[2016-04-28 14:59] radumereuta commented on #2171
If you look over the syntax of floats:
https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k#L317
`0` is actually never parsed as a float. You have to say either `.0` or `0.`.
This is intended because, in some languages, where you have a common super sort of both Int and Float (like Exp), you will always get an ambiguity at parsing time, requiring an extra step of di

[2016-04-29 08:21] omarz1 opened #2172 "Does K have Rationals?"
Does K have a built-in data type for rationals like Maude's `Rat`?

[2016-04-29 18:03] radumereuta commented on #2172
Not in K4. If you ever need to see what's predefined in k, you can have a look in https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k
Andhttps://github.com/kframework/k/blob/master/k-distribution/include/builtin/kast.k

[2016-04-29 19:00] omarz1 commented on #2172
OK. how about K3.5? can I hook it from the Maude back-end?
On Apr 29, 2016 9:03 PM, "Radu Mereuta" <notifications@github.com> wrote:

[2016-05-06 21:25] omarz1 commented on #2172
@traiansf, can you please help me hook Maude's `Rat` properly in K3.5?

[2016-05-06 21:28] dwightguth opened #2175 "investigate problems found in tool relating to spin"
spin (https://spinroot.com/spin/Src/) is a tool they were testing kcc on at JPL with Grigore. We ran into several issues that need investigating:

1. an issue with line numbers where an indeterminate value error is reported on a line that contains the empty statement. it seems to actually be occurring on the line immediately above it.
2. An issue with running kcc on older versions of linux where w

[2016-05-06 21:50] omarz1 opened #2176 "java.lang.AssertionError: assertion failed"
Hello. I have an interesting case here. The code posted here worked correctly on K3.5 and K3.6. However, in the latest master of K4.0, I am getting a `java.lang.AssertionError` on `kompile`. I spent a couple of hours minimizing the code to pinpoint the cause of the problem. Here's the minimal code:
[code]
It will `kompile` successfully if we remove either of `[strict(2)]`, the side condition `when

[2016-05-06 22:04] dwightguth commented on #2177
You need to import the module containing the actual configuration
declaration. K4 is much more strict about requiring that any module
containing a rule that uses a piece of syntax import the module that syntax
is declared in.
On May 6, 2016 5:02 PM, "omarz1" <notifications@github.com> wrote:

[2016-05-06 22:30] omarz1 commented on #2177
I tried that. I put the configuration in a separate file and imported that from other modules. The same error appeared.

[2016-05-07 01:50] dwightguth commented on #2177
That's definitely a bug then. You should construct a minimal example.
On May 6, 2016 5:30 PM, "omarz1" <notifications@github.com> wrote:

[2016-05-07 06:09] grosu commented on #2175
And there is also the fact that the produced binary crashed in the end.

[2016-05-07 12:48] omarz1 commented on #2177
You were right again @dwightguth. I made a mistake before in importing. Thank you.

[2016-05-07 12:51] omarz1 commented on #2176
I hope I made it clear. Can anyone explain it? Is it a bug or is it intended?

[2016-05-07 16:03] dwightguth commented on #2175
Closing this. Opened it in the wrong repo, sorry.

[2016-05-07 16:04] #2175 closed

[2016-05-08 02:38] egunter commented on #2178
This one seems different from the last one. <tenv> is defined in the configuration in FUN and FUN is imported into FINAL.
---Elsa

[2016-05-08 03:31] egunter commented on #2178
If you comment out the line

  rule typecheck B:Bool => bool

then ti behaves as I would expect. In particular, it does not throw a NullPointerException.
---Elsa

[2016-05-08 05:28] egunter commented on #2178
I have distilled the code displaying the bug down to the following:

/* File: final.k */

module FINAL-SYNTAX
  syntax Ty ::= "int" | "bool"
  syntax Exp ::= Int | Bool
endmodule

module FINAL
  imports FINAL-SYNTAX
  syntax KItem ::= "typecheck" Exp
  configuration <Top> <k> typecheck $PGM:Exp </k> </Top>
  syntax Val ::= Int | Bool
  syntax GenExp ::= Exp | "anything" GenExp  [strict(1)]

  synt

[2016-05-08 13:19] cos commented on #2178
We should have better error messages for this, but the problem stems from:
[code]

In K 3.6 subsorting to `KItem` put `"typecheck" Exp` under the bottom sort. This is no longer true in 4.0. To solve the problem, simply make sure that the definition is properly sorted, e.g., `syntax Exp ::= "typecheck" Exp` solves the problem. I see there a `GenExp`. Was the definition intended to be as below?

[co

[2016-05-08 13:20] cos commented on #2178
I will leave this open so we eventually improve the error message. Thank you!

[2016-05-08 14:47] egunter commented on #2178
The reason for leaving typecheck Exp at type KItem is to allow the students the freedom to choose how implement it.  It may have been better to create a new syntactic category and place type check Exp in that, but I do not understand how it is a mistake to declare it an element of the almost-top sort KItem, unless you just decided this is to be a language feature from here out.  By the way where i

[2016-05-08 16:37] cos commented on #2178
Yes, using the `KItem` top sort is more flexible but the flexibility comes with some fragility.

@andreistefanescu , you might be know better how to handle this: `RuleAutomatonDisjunction` still uses the old subset computation code in `org.kframework.backend.java.util.Subsorts` and fails to compute an upper bound for `Bool` and `Int`. For some reason, it doesn't like that there is no direct relati

[2016-05-08 16:39] cos commented on #2178
`.getLUBSort` returns `null` which then breaks the `RuleAutomatonDisjunction` constructor.

[2016-05-08 16:40] cos commented on #2178
It probably shouldn't be hard to fix but it's probably better to provide a workaround instead of a fix at this point.

[2016-05-08 18:48] omarz1 opened #2179 "Custom list in configuration, strange bug"
I think I found another bug in K4.0. See the following code:
[code]
`kompile` will return the following error:
[code]
Any of the following will fix the problem:
- Removing `<p> .Ids </p>`
- Removing `syntax Ints ::= List{Int,","}`
- Changing the `Ints` delimiter to something else like `;`

[2016-05-08 19:55] andreistefanescu commented on #2178
Probably the best solution is to add a check that if ```.getLUBSort``` returns ```null```, then use "KItem" instead.

[2016-05-09 00:01] cos commented on #2178
This K binary that should fix the problem:

https://github.com/kframework/k/releases/download/untagged-91d96e2f22f24f4c96d2/k-distribution-4.0-beta.zip

[2016-05-09 12:32] omarz1 opened #2181 "`roundFloat` causing parsing ambiguity error on K4.0"
I'm defining many math functions in my language by rewriting them directly to K-builtin ones like so:
[code]
Only `roundFloat` causes the following parsing ambiguity warning on K4.0:
[code]

[2016-05-09 13:01] #1870 closed

[2016-05-09 13:07] radumereuta commented on #2181
We decided in K4 to change the syntax of labels a bit.
So I think there you have an issue because `roundFloat` can be also parsed as a KLabel.
If you give me a small example where I can reproduce this issue, I can give you more details.

[2016-05-09 13:19] omarz1 commented on #2181
OK. Give me a few minutes.

[2016-05-09 13:26] omarz1 commented on #2181
Here:
[code]
I can make it even smaller but then it won't make sense.

[2016-05-09 13:32] omarz1 commented on #2181
Look at this:
[code]
`rootFloat` will not cause the warning but `roundFloat` will.

[2016-05-09 13:38] omarz1 commented on #2181
OK. Avoiding the custom list `Vals` will solve the problem:
[code]

[2016-05-09 16:36] andreistefanescu commented on #2176
This is a limitation of current implementation: associative and commutative matching is compiled to associative only matching, and having a side condition on ```A``` is not supported. For now, maybe it's faster/simpler to refactor the rule to avoid the side condition. I believe it would look something like this:
[code]

[2016-05-11 21:26] omarz1 commented on #2179
Following @cos's suggestion, I changed the line in the configuration which has the custom list `.Ids` to `<p> .Ids:Ids </p>`, to explicitly define the type; and that solved the problem. As I understood, the bug was that in this case both `.Ints` and `.Ids` will have the same list ending which is why the parser confused them.
However another bug turned up when I tried the double colon operator. `<p

[2016-05-11 23:09] cos commented on #2179
this is still a bug, so let's leave it open

[2016-05-11 23:43] omarz1 commented on #2176
@andreistefanescu Your rules still produce the same error. You can test it yourself on my minimal example. Using `anyCall(A)` itself on a bag of threads is what's causing the problem, not that it's in a side condition.

[2016-05-12 02:28] andreistefanescu commented on #2176
Ok, I will take a look over the weekend and get back to you.

[2016-05-12 10:21] omarz1 commented on #2176
OK. So I made it simpler and avoided the side condition. Removing any of the following three will make it `kompile` successfully:
- The call `truth(A)` where `A` is a `Bag`.
- The `strict` attribute even though it's in a totally independent production.
- The `multiplicity="*"` for cell `thread`.

[code]

[2016-05-12 10:30] omarz1 commented on #2176
Removing `multiplicity="*"` and adding another cell next to `thread` will make another error appear:
[code]

[2016-06-09 21:17] daejunpark opened #2182 "out of memory error in parsing"
Parsing doesn't scale well for Bag, Set, and Map. For example, a bag with *only* **16** elements requires ~**6GB** memory to be parsed!

To reproduce:

run the following command:
[code]

against the following K definition:
[code]

The comments in the side shows how much memory was used to parse `<obj>`s up to that point. Memory usage seems to blow up over the number of `<obj>`s.

K version of the

[2016-06-09 21:19] daejunpark commented on #2182
@radumereuta any idea?

[2016-06-09 21:23] daejunpark commented on #2182
This problem frustrates me in porting JavaScript semantics into K4.0, especially because I cannot initialize the configuration with a large number of built-in JavaScript objects.

[2016-06-09 21:29] dwightguth commented on #2182
This is almost certainly because of lack of support for priorities in the parser. As a result, I would be highly interested in a solution to this issue, because it will likely have significant implication for the speed of the parser as well.

[2016-06-09 21:30] dwightguth commented on #2182
I would be interested to know whether you still get this behavior in the runtimeverification version of k though, because there are several major optimizations to parsing that were included in that version that have not been integrated into this version, at least one of which might very well affect memory usage.

[2016-06-09 21:41] dwightguth commented on #2182
okay, I can confirm that this issue affects rv-k as well. please tag me in the pull request if one gets made.

[2016-06-09 21:44] daejunpark commented on #2182
@dwightguth yes, it still happens in rv-k:
[code]

[2016-06-09 21:54] daejunpark commented on #2166
Another possible workaround is to use the sort casting `:>`, like:
[code]
It could be a simpler solution if there are not many places to annotate the sort casting.

[2016-06-09 21:55] daejunpark commented on #2166
@lucaspena can we close this?

[2016-06-09 22:04] daejunpark commented on #2182
A possible workaround is to use explicit klabel, i.e., `#cells` for Bag, `_Map_` and `_Set_` for Map and Set, like:
[code]

But it requires me to put a lot of manual efforts. But, depending on how long it will be taken to fix this issue, it might be worth doing it to make a progress. So, @radumereuta I need your input. How much is it hard to fix this?

[2016-06-09 22:33] lucaspena commented on #2166
Yes, sorry. I just closed it.

[2016-06-09 22:33] #2166 closed

[2016-07-25 17:09] cos opened #2189 "Separate IO rules at compile time instead of runtime"
for verification

[2016-07-25 17:09] cos commented on #2189
update `FastRuleMatcher` to not do the runtime check anymore

[2016-07-25 17:12] cos commented on #2189
relevant commit: b999011ee54c01f5d796cc3b48e38690073d60ab

[2016-08-06 14:10] manueldallavalle opened #2195 "How to write conditional rule in K"
I'm trying to implement the condition statements of COBOL into K.
I've already implemented with success the logic of the IF [condition] THEN .. ELSE .. END-IF

Now i'm trying to implement the negated condition for this statement but i cannot figure how to do it..
I thought to write a new rule with the following condition:
_**If BExp contains "IS NOT" negate the final result with notBool, else do n

[2016-08-08 15:52] #2195 closed

[2016-08-08 20:03] traiansf commented on #2194
@radumereuta I've created a minimal example to ease your task.
Interestingly enough, compilation works just fine, the error arises only when attempting to run a program.

[minimal-example.zip](https://github.com/kframework/k/files/407619/minimal-example.zip)

[2016-08-08 22:28] cos commented on #2195
hi @manueldallavalle, sorry for the late reply. did you figure out a solution?

[2016-08-09 11:31] manueldallavalle commented on #2195
@cos Yes, found a solution myself. Thanks anyway

[2016-08-10 13:47] radumereuta commented on #2194
I think I found the problem. The output of kast is incorrect. The klabel of the production `Exp ::= "\\" Id "." Exp` should be `` `\\_._` `` because backslash is the escape character, and when pretty printed like that, should be doubled.

The problem is that I don't know how to proceed with the fix because the escape function is in `kernel`  `StringUtil.escapeKoreKLabel`, and the unperser is writt

[2016-08-11 12:23] cos commented on #2194
Moved the relevant functions to the kore module:
https://github.com/kframework/k/tree/hotfix/2194

Could you do the rewiring to use them?

[2016-08-11 15:01] radumereuta commented on #2194
@traiansf please review.

[2016-08-16 10:07] manueldallavalle opened #2199 "How to write class condition rule in K"
I'm trying to implement the Class Condition of conditional statements (COBOL) into K.
I've already implemented with success the logic of:
* IF [condition] THEN .. ELSE .. END-IF
* Relation Condition (IS GREATER THAN,IS LESS THAN..)
* Sign Condition (IS POSITIVE,...)
* Negated Condition (IF NOT...) --> Opened issue last week but then i've resolved myself

Now i'm trying to implement the class condi

[2016-08-22 14:13] radumereuta commented on #2182
Somehow this escaped my attention at the time.
It seems that for some reason, the length of that list is a problem with the way we're parsing cells in rules.
As a quick fix, you can put a few parenthesis around the list: `(1 2 3 4)(5 6 7 8..)`. This dropped the total kompile time to 4.6s.

Next time when you don't get a response from me, send me a message on hangouts: "hey, look at this please". @

[2016-08-22 14:20] radumereuta commented on #2192
These are used by K3.x.
We're trying to move towards K4, which uses files only from `/include/builtin`. Hopefully, this won't be an issue then since we're planning to remove them completely.

[2016-08-22 14:34] radumereuta commented on #2193
I just tried it on windows with the latest version, and it works correctly.
Try to see if you have a clean installation and all paths set up correctly.

[2016-08-22 19:55] adrianherrera commented on #2192
Cool, thanks Radu. Any timeframe for when you’ll move to K4?

[2016-08-22 20:26] andreistefanescu commented on #2193
@grosu I created this issues based on my recollection of what we discussed.
@radumereuta maybe you guys can talk and figure out what the problem is.

[2016-08-22 21:50] radumereuta commented on #2193
If the problem is still there I can have a look. I tested it on my windows computer and it works as expected.

[2016-08-22 21:52] radumereuta commented on #2192
@cos might be able to answer that better, but in the meantime, you can use it in the master branch of the K framework. To call it K4, we just have to iron out some kinks, and clean out old files.

[2016-08-23 09:25] traiansf commented on #2193
I remember encountering a similar problem in Windows. I'll try to
re-reproduce it

În Mar, 23 aug. 2016, 00:50 Radu Mereuta, <notifications@github.com> a
scris:

[2016-08-24 12:52] #2199 closed

[2016-08-24 17:37] cos commented on #2192
@adrianherrera, we have already released K4: https://github.com/kframework/k/releases/tag/v4.0.0

We'll do another release in about a month with new features and cleaning up the old files.

[2016-08-24 20:46] cos commented on #2199
@manueldallavalle, did you figure out a solution?

There are a couple of ways to do this. We can talk if it's still a problem.

[2016-09-12 15:24] cos commented on #2192
related to deprecated code so closing

[2016-09-13 04:11] grosu opened #2201 "Windows64 PATH in README.md needs to be fixed"
It says we need to do the following for Windows64:
[code]
However, there is no `lib\native\64`.

Also, isn't Maven smart enough to only generate the native libraries for the target platform?  That is, why see osx or linux libraries on windows target?

[2016-09-29 07:31] h0nzZik opened #18 "Flex - an undocumented dependency"
Class 'Scanner' runs gcc and assumes that flex library is installed. However, this dependency is not documented anywhere. Imho it should be documented in README.md.

[2016-10-06 10:14] andreiarusoaie opened #2212 "Rewriting top cell <T> results in ArrayIndexOutOfBoundsException"
Consider the following definition:

[code]

Then, `kompile`:

[code]

Rewriting only the `<k>` cell works. Probably rewriting the top cell is forbidden, but we need a better error message.

[2016-10-06 14:01] grosu commented on #2212
It should work to rewrite the top cell, too, so something is definitely wrong here.

[2016-10-06 22:23] ZhuXiaoran07 opened #2213 "Uncaught exception thrown of type AssertionError"
When kompiling the following definition:
[code]

it results in  **[Error] Internal: Uncaught exception thrown of type AssertionError.
Please rerun your program with the --debug flag to generate a stack trace, and
file a bug report at https://github.com/kframework/k/issues**.

But the code:
`module TEST-SYNTAX
  syntax Stmt  ::= "COUNTER" "=" Id ";"
endmodule
module TEST
  imports TEST-SYNTAX
  syn

[2016-10-07 17:06] cos opened #2215 "Inheritance breaks fragments"
see: #1918 and this branch: https://github.com/kframework/k/tree/inheritance-breaks-fragments

[2016-10-12 05:45] Iaroslav-Mazur opened #2218 "Strange behavior on Windows 8"
Here is my definition:

[code]

Compiling works, but the following test fails. Here is the content I'm trying to parse:

[code]

Here is my output:

[code]

Here is my output with --debug:

[code]

OS: Windows 8.1 Pro, x64
K Framework version: 4.0.0
Java version:

[code]

Kompiler version:

[code]

[2016-10-12 11:32] radumereuta commented on #2218
Hi, I just tried this on `master`, revision: 1377911, and it works correctly. No ugly stack trace. I think it got fixed at one point.

On another note: you have to provide the start symbol for the programs, in the configuration:
`configuration <k> $PGM:Ids </k>`
If nothing is declared, all sorts are taken into consideration, except for list sorts, since a single element in the program is always am

[2016-10-17 15:19] radumereuta opened #2220 "Latest version of Java fails with error on IntelliJ"
Tested on version jdk1.8.0_101 and 102.
I always get an error in master, in file AttCompare.java:69
This worked somehow in version 60, but I couldn't revert to that state.

Note that maven works correctly, only IntelliJ fails.

[2016-10-20 17:23] cos commented on #2220
is it that IntelliJ just highlights that as an error, or does it also fail to build?

If it fails to build, what is the exact error?

[2016-10-20 17:24] cos commented on #2218
@Iaroslav-Mazur, do you still have this problem with the latest master?

[2016-10-20 17:27] cos commented on #2213
it looks like a bug in concretization. thanks for submitting!

[2016-10-20 17:29] cos commented on #2189
@andreistefanescu, can we close this?

[2016-10-22 00:12] cos commented on #2189
@andreistefanescu, let's open this later if necessary

[2016-10-22 00:12] #2189 closed

[2016-10-31 20:03] cos commented on #2220
@radumereuta, could you have a look?

[2016-10-31 20:08] cos commented on #2218
@radumereuta, shall we close this?

[2016-10-31 20:14] andreiarusoaie commented on #2218
I  know for sure that Iaroslav just switched to Linux and he doesn't have this problem anymore. If it's fixed on a newer version of K then you can probably close it.

[2016-10-31 20:14] cos commented on #2053
The current behavior seems ok. Reopen if you disagree.

[2016-10-31 20:14] #2053 closed

[2016-10-31 20:17] cos commented on #1932
@radumereuta, can this be closed?

[2016-10-31 20:18] cos commented on #1913
@andreistefanescu, you fixed this at some point, right?

[2016-10-31 20:28] andreistefanescu commented on #1913
This should be fixed now.

[2016-10-31 20:28] #1913 closed

[2016-11-02 12:32] radumereuta commented on #1932
I haven't seen similar problems since then. I believe it is safe to close it.

[2016-11-02 12:32] #1932 closed

[2016-11-02 12:53] radumereuta commented on #2220
Fails to buld with error:
[code]

Did you try to update to the latest versions of Java and IntelliJ?

[2016-11-02 12:55] radumereuta commented on #2218
I will take that as a yes.

[2016-11-02 12:55] #2218 closed

[2016-11-02 16:07] cos commented on #2220
It looks like it's compiling with the wrong version of Scala. This is a setting in IntelliJ -- you usually select it through the "Setup Scala SDK" button that appears when the Scala library is not automatically detected.

[2016-11-02 16:08] cos commented on #2220
Check that the IntelliJ module settings are the same as the the version in the ".pom", 2.12-M5 I think.

[2016-11-02 20:45] radumereuta commented on #2220
Ok, that worked. I had to reimport the entire project from the maven files. I guess it got desynchronized at one point while switching between different branches.

Thanks.

[2016-11-02 20:45] #2220 closed

[2016-11-15 06:54] kheradmand opened #2231 "rule does not apply"
I having lot and lots of technical problems giving semantics to a language.

I have isolated one the problems to this:

[code]

When I use krun with this input:
[code]

The rule does not apply:
[code]

I was wondering why.

[2016-11-15 06:58] kheradmand commented on #2231
Btw, I am using K on commit f1e428f488fe338a9f4994a9da61323d0e86401f

[2016-11-15 08:57] daejunpark commented on #2231
@kheradmand

Try:
[code]

The thing is that `P4Program` is `P4Declarations`, but you tried to match `P4Declaration` with its list.

[2016-11-15 09:04] daejunpark commented on #2231
@kheradmand btw, the prefix of the label name `'` is deprecated. You can just put the name without the quote, but should have a different name with its sort name.

[2016-11-15 14:39] cos commented on #2231
@daejunpark, as far as I remember, we made `List{...}` assoc at some point. So the original version should have worked.

[2016-11-15 17:01] kheradmand commented on #2231
@daejunpark
[code]
Is not exactly what I wanted, I changed it to
[code]
And now it works. But I still wonder why the original rule does not work.  I thought ```...``` will take care of of the rest of the stuff in a cell.

[2016-11-15 17:22] cos commented on #2231
this looks like an issue with concretization, not assoc.
[code]
[code]
should be identical after compilation. @kheradmand, does it work with just `_` instead of `_:P4Declarations` as above?

[2016-11-15 17:56] daejunpark commented on #2231
@kheradmand your original rule could be ambiguous. So, essentially, you have a list of lists. The top level list is a k sequences (separated by `~>`) , and each k item is another list (separated by white spaces).

To me, it is much natural and easy to understand (and less error-prone) to use the `...` in the k cell only for matching the remaining k sequences (i.e., the one separated by `~>`). It i

[2016-11-15 18:21] kheradmand commented on #2231
@cos
[code]
works

@daejunpark It there a place to read about this stuff? I am doing everything **only** by trial and error and have not much idea what is exactly going on underneath.

[2016-11-21 02:32] hreada commented on #1948
Hi, @cos Cosmin, I can't find what the symbol "`" means in tutorials, so I don't know how to debug this issue. Could you provide me some clues? What does "`" mean in "  a * a  " for example?

[2016-11-21 19:50] cos commented on #1948
@hreada, it was a feature of K that we removed in the meantime. Simply replace the ` with parentheses, e.g.,
[code]

[2016-11-25 05:28] hreada commented on #1948
@cos As far as I understood, this is an old feature that has been removed from the current K. So how shall I "fix" this bug?

[2016-11-27 20:22] HelenRouty commented on #2219
Hello, we tried to recreate this bug but could not. What we did is: `kompile --no-prelude --debug k-distribution/tutorial/1_k/2_imp/lesson_4/imp.k`. However, we only got an expected error` java.lang.AssertionError: While defining module IMP-SYNTAX: Could not find symbol Id` as a result of not importing prelude.k . Could you give us more specific instructions on how to reproduce the NoSuchElementEx

[2016-11-27 20:45] HelenRouty commented on #2167
Hello, we tried to reproduce this bug but could not. What we did is: `kompile --debug k-distribution/tutorial/1_k/2_imp/lesson_4/mp2.k`. mp2.k is renamed after mp2-k.txt downloaded from this page. We deleted the  TOP-CONFIG module and added a line:  `rule <neverDefined> 0 </neverDefined>` in module MP2. However, we only got an expected error `Parse error: unexpected character '<'. `  If we replace

[2016-11-28 00:39] cos commented on #2212
fixed via #2232

[2016-11-28 00:39] #2212 closed

[2016-11-28 00:41] cos commented on #2219
@radumereuta, you reported this originally. Can you give any more details on reproducing it?

[2016-11-28 04:41] cos commented on #2167
Great, it seems the bug is already fixed then.

[2016-11-28 06:03] kheradmand opened #2234 "unexpected result of rule application"
I have a the following (the irrelevant parts are omitted)

[code]

for input
[code]

Using these two rules:
[code]

I get the output that I want:
[code]

But using the other two rules:
[code]

I get some variables in the output (V0 and V1) which I didn't expect. Also it seems that it goes into an infinite loop (that is why I provided --depth 2)
[code]

What is the problem?

[2016-11-28 13:08] radumereuta commented on #2219
Try it on this:
[code]
Just a simple empty module. Also, I've tested this on windows 10, 64 bits, if that helps.

[2016-11-28 22:26] kheradmand opened #2237 "removing a list member"
I have something like this:
[code]

I want to have a rule that removes the first element of the list in each application of the rule.

Something like

[code]

Wont work. For example for input:
[code]

I will get
[code]
(note the rule does not apply for the second header)

I was wondering how I can fix this.
I tried
[code]
But it gives me kompile error.

┆Issue is synchronized with this [Asana task

[2016-11-28 22:27] kheradmand commented on #2237
btw this works fine:
[code]

but I want to know what is the problem with my first rule.

[2016-11-28 22:41] kheradmand opened #2238 "making kompile/krun faster"
Currently for each simple change I have to wait around 20s for kompile and 20s for krun.
I was wondering if there any way/option to make kompile or krun faster?

[2016-11-29 03:54] HelenRouty commented on #2219
@radumereuta Thanks for your explanation, I found the same NoSuchElementException error. What should be the expected result when having an empty module? Should we throw an exception or warning or should we simply return a CompiledDefinition with a KLabel of null value?

Currently, after adding three checks, we are able to kompile an empty module with an exit code 0, a warning of no corresponding s

[2016-11-29 05:38] HelenRouty commented on #1942
Hi, I have difficulty in understanding this requirement and have several questions.

(1)  What is a Sort? Is Sort a data structure/type that represents the syntax definition in a specific module? For example, does Sort BAG mean the Syntax representation of Bag in module KCELLS? However, there is also a class CellDataStructure which only is extended by CellList and Context. Is CellDataStructure dat

[2016-11-29 12:41] radumereuta commented on #2219
I'm not sure what should happen.
I added this issue because I needed to create a parsing module in which nothing was included automatically. @cos suggested using this option, but I'm not even sure how this would work in the later stages of kompile.
What I know for sure is that, in order for the program parser to be clean and correct, I need a way to specify that nothing should be included automati

[2016-11-29 13:16] radumereuta commented on #2238
This sounds a bit much.
Can you run the tools with the -v option? This should give out a bit more detail about how much each step takes. kompile also has incremental compilation. Can you post some outputs for the first (after clearing caches) and second kompilation?

Also, how big is your definition? And what machine are you using (cpu, memory, OS, SSD vs HDD). All these might affect time consider

[2016-11-29 17:17] kheradmand commented on #2238
to see the definition take a look at this this: https://github.com/kframework/p4-semantics

this is the result of kompile when I remove the *-kompiled folder:
[code]

here is the result of kompile for second time:
[code]

here is the result of krun:
[code]

I have Macbook Air (1.6 GHz Intel Core i5 with 8GB RAM and SSD Hard)

Waiting around 30s for each rule change (specially that I (have to) do e

[2016-11-29 18:02] radumereuta commented on #2238
I still get 7s/4s on an i7 3.6 GHz for an empty definition.
I think it might be mostly related to serialization, although applying the compile pipeline takes an awfully long time (much more than K3).

@cos opinions on this?

[2016-11-29 21:13] grosu commented on #1942
@cos (and @bmmoore if you are still reading this), can you please help @HelenRouty with this question?  Thanks.

[2016-11-30 20:59] HelenRouty commented on #1942
Hi @cos, currently our biggest problem is what the changes of this Sort Bag would affect? What definition files and pgm that we should use to have the kompile program to read the Bag syntax?Thank you.

[2016-12-01 03:31] cos commented on #2219
This is good.

Which KLabel are you referring to?

[2016-12-01 03:32] cos commented on #2231
do you consider this fixed?

[2016-12-01 03:32] HelenRouty commented on #2219
The KLabel topCellInitializer in CompiledDefinition

[2016-12-01 03:34] cos commented on #2219
what does it say on `krun`?

[2016-12-01 03:39] HelenRouty commented on #2219
We haven't checked with krun. Yeah, there might be problems with krun if set topCellInitializer. We will probably need to add several more checks.

[2016-12-01 03:45] cos commented on #1942
@bmmoore implemented most of this so he understands the various data structures much better. I'll forward a link to this issue to his email.

[2016-12-01 03:57] HelenRouty commented on #1942
Hi @cos, thank you for help. I have talked to bmmoore today. He taught us the difference between data structure Bag and the syntax Bag. To distinguish them, he said we should rename all the Sort Bag defined in module KCELLS to CellBag. Then we should fix corresponding errors when running all the unit tests.

[2016-12-01 07:17] kheradmand commented on #2231
@cos are you asking me daejun?
If it is me, adding ```_``` solved my problem. I don't know if it will be considered as a K's problem or not.

[2016-12-01 16:28] cos commented on #2097
It seems that parsing is wrong. `.TaskCellBag` is generated by the configuration expander, so it should be visible during the parsing of patterns as well. I haven't seen any sub-sorting between `.Bag` and `.TaskCellBag` so it's curious it works that way. @xianzezhan, I suggest printing the module used for parsing the pattern and checking that is contains the production for `.TaskCellBag`.

[2016-12-01 17:21] yeahyy commented on #2057
In the VM which were assigned to us for CS427, this bug is not reproducible.
In the Ubuntu Linux, this is a bug and the fix is to replace the line 87 in imp.k "context print(HOLE:AExp, _);" with "context print(HOLE:AExp, AEs:AExps);
In Mac OSX, this is also a bug but the fix above does not work for OSX. The fix is adding a "[read]" at the end of the line 55.
We suspect this bug may relate to the u

[2016-12-01 20:01] xianzezhan commented on #2097
When I tracked down the codes and I found the parsing error here: [https://github.com/kframework/k/blob/49c82bb0e40107ce97d2bd56634b802b5183a9b5/kernel/src/main/java/org/kframework/kompile/CompiledDefinition.java#L172](url) . Do you have any idea how to fix the parsing issue when the pattern is <task> .TaskCellBag </task> besides special-casing?

[2016-12-01 21:51] xianzezhan commented on #2097
Could you tell me which file should I look for? I am looking into ConfigurationInfoFromModule.java and I am not sure whether it is the file I want.

[2016-12-01 23:13] cos commented on #2057
@yeahyy, could you explain why it was failing before and why your changed fixed the issues?

[2016-12-05 23:27] daejunpark commented on #2234
@kheradmand The problem is due to the function attribute `[function]`. The rule for the functional term cannot mention other cells. So, a fix could be to either drop the function attribute or make the rule for `@splitDeclarations` not mention other cells.

That being said, `kompile` should have provided a warning or an error message.

[2016-12-09 04:31] hksskh commented on #2215
We are working on this issue and have an temporary solution for this test. see https://github.com/kframework/k/pull/2246.
Thank you.
@cos @bmmoore

[2016-12-09 09:07] hksskh commented on #2063
We are working on this issue, and find that the first two problems put by @grosu may have already been fixed in the current version (master branch).
We pick the commit 78cc611c87ae49acdb747603026018851de3dca5 on 17 Jan to reproduce these problems.
1. For the first problem, it outputs in this former commit like:
huangkesongdeMacBook-Pro:lesson_7 hksskh$ krun ../lesson_1/tests/sum-io.imp
[Error] Cri

[2016-12-09 09:18] hksskh commented on #2063
For the first problem, we manage to reproduce it in commit 0a16a1f51bb3b434935272e736c41e35750ec6c3 on 16 Jan.
What causes this bad output is the block in function externalParse in KRun.java:
`if (output.exitCode != 0) {
            throw new ParseFailedException(new KException(KException.ExceptionType.ERROR, KException.KExceptionGroup.CRITICAL, "Parser returned a non-zero exit code: "

[2016-12-10 07:07] hksskh commented on #2063
The third problem put by @grosu is also fixed in current version.
if the KRun command is proceeded without error, then the KAST command will also proceed normally. When running KRun, one of functions parseConfigVars and externalParse will be called. And function getUserConfigVarsMap will then be called. In this function, we have an assertion:
`Sort sort = compiledDef.configurationVariableDefaultSo

[2016-12-11 02:15] JoeSun940303 commented on #2057
Yes, this bug seems so deep with some problem with the underlying system. So what we have done is to format the imp.k file so that the bug won't appear in OSX system and Ubuntu system

[2016-12-13 18:31] ZhuXiaoran07 opened #2248 "Proving Specs in K 4.0"
I am trying to prove sth. about arrays.
The semantics is much like imp.k except adding some rules about arrays:

`......
syntax Int ::="["Id "," AExp "]"
syntax Int::= "value-array" "("  Int  ")" [function]

syntax Int::=  "update" "(" Id "," Int "," Int ")"
syntax Map::=	"array-map" "(" Int "," Int ")"  [function]

rule <k>T:Type X:Id[I:Int];=>[X,I]...</k>
     <env>M:Map</env>
	 when notBool(I i

[2017-01-04 13:41] gian2991 opened #2251 "problem with CLASS condition of cobol in K"
hi, i'm trying to implement the class condition of cobol in k,
i have already done the if condition, relation condition, negated condition, combined condition and sign condition.
For the class condition i must check if the string is NUMERIC, ALPHABETIC, ALPHABETIC-LOWER, or ALPHABETIC-UPPER.
I have already done this
rule I1:String IS ALPHABETIC-LOWER => (ordChar(I1) >=Int ordChar("a")) AND (ordCha

[2017-01-06 23:08] kheradmand commented on #2234
@daejunpark  Thanks Daejun. I just want mention that my problem was solved by dropping [function]. I don't know if you want to keep the issue open (for the kompile warning) or not.

[2017-01-06 23:11] kheradmand commented on #2237
I got what the problem is.

[2017-01-06 23:11] #2237 closed

[2017-01-06 23:25] kheradmand opened #2252 "rule gets applied but its effect is partial"
I have a rule that among other things, adds and entry to a map:
[code]
The configuration is something like this:
[code]

On some input, I know that the rule gets applied because its other effects take place (for example `<index>` gets incremented), but the `<fieldVals>` cell remains empty:

[code]

Interestingly, if I remove _:Map from the rule, the map entry will be added (note that `<fieldVals>`

[2017-01-06 23:34] kheradmand commented on #2252
Similarly
[code]

gets applied because @extract... goes away, but the <valid> cell remains false

If I change the rule to
[code]

<valid> cell will become true

[2017-01-11 01:28] daejunpark commented on #2252
That's very strange. Are you sure that there is no other <instance> cell whose <name> cell has the same value with Name?

[2017-01-11 02:08] daejunpark commented on #2251
You can get a character in each position using `substrString`. For example, `substrString(s, i, i+1)` will return the i-th character of `s`.
https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k#L422

Using the above, you can also traverse the string by having a recursive rule. For example,
[code]
while the initial term could be `foo(S, 0, lengthString(S))`.

[2017-01-11 05:20] JerryWang304 opened #2253 "List and NeList"
What is the difference between List and NeList?
Python-semantics uses NeList. I don't know its meaning.

Also is there a doc introducing how to write complex configurations? I am current working on writing the semantics and don't know how to write the state.

[2017-01-11 06:29] daejunpark commented on #2253
The difference is mainly related to parsing. By declaring NeList, the parser will reject an empty list. NeList stands for "Non-empty List".

The best source to learn K is tutorial.
https://github.com/kframework/k/tree/master/k-distribution/tutorial
The language IMP will be a good start.
https://github.com/kframework/k/tree/master/k-distribution/tutorial/1_k/2_imp

[2017-01-11 20:58] kheradmand commented on #2252
I am almost sure that was the case.
I changed the code a bit. Now it has a different kind of weird outcome.
Here is the rule now:
[code]

And here is the relevant part of KDebug:
[code]

To make life easier, I run an xml formater on the above two configurations:
Before application of the rule:
[code]
After application of the rule:
[code]

Note that the `ethertype |-> @val ( 8533 , 16 , false ) ` i

[2017-01-12 00:03] kheradmand commented on #2252
Nevermind it was a mistake from my side.

[2017-01-12 00:03] #2252 closed

[2017-01-12 10:32] bpinke commented on #88
You can solve the issue by patching libz3java.so to find its dependency on the same location with:
patchelf --set-rpath '.:$ORIGIN' libz3java.so
If you are interested in the background, you can read at http://enroute.osgi.org/appnotes/native-libraries.html
And how to install patchelf is here: https://installion.co.uk/ubuntu/vivid/universe/p/patchelf/install/index.html

[2017-01-12 22:09] kheradmand opened #2255 "new rule makes krun unresponsive"
Currently I have a language definition that works as expected so far.
But when add the following rule:
[code]

It causes krun to go into infinite loop/get stuck from the beginning (where the new rule is not even applicable):
[code]
And it gets stuck on step.

[2017-01-12 22:44] kheradmand commented on #2255
Need to dig deeper bug I it seems that it gets stuck at
[code]
In `matchRulePattern`  in `FastRuleMatcher.java`

[2017-01-13 01:07] kheradmand commented on #2255
Actually this is a bug in K (in implementations of `OneWordBitSet` and `FourWordBitSet`). The bug is probably related to misunderstanding the semantics of shift operation in Java.
In `OneWordBitSet` (implemented using (64 bit) `Long`), the `nextSetBit` is implemented this way:
[code]

The developer probabely thought that if `i` is 64, then `WORD_MASK << i` becomes 0 and thus `maskedWord` becomes z

[2017-01-13 06:06] daejunpark commented on #2257
The PDF file generation option is temporarily unavailable. Sorry for the inconvenience.

[2017-01-17 22:08] kheradmand opened #2259 "[owise] seems not working"
I have the following
[code]

The execution gets to this point
[code]

The result is `false`. But if I comment the second rule, the result becomes `true`, so I guess `[owise]` is not working properly.

[2017-01-18 04:58] JerryWang304 opened #2261 "Usage questions"
How to separate variables with newlines using KList? For example, I want to separate like this "x \n y \n z", not "x,y,z".

[2017-01-18 16:51] gian2991 commented on #2251
hi, thanks for the answer, i have solved the problem.
but now i have another problem, i must implement the CONDITION NAME condition of COBOL.
i'm thinking to store the last declared variable to use this later, but i have no idea how to do this

[2017-01-18 17:53] gian2991 opened #2263 "problem with CONDITION-name condition of COBOL"
i have another problem, i must implement the CONDITION NAME condition of COBOL.
i'm thinking to store the last declared variable to use this later, but i have no idea how to do this

[2017-01-18 22:22] daejunpark commented on #2264
It was temporarily broken due to updated dependencies. Now it should work. You can follow:
https://app.codeship.com/projects/130795/builds/21832044

[2017-01-18 22:23] daejunpark commented on #2264
You can close once you find it is fixed. I think we have to think about a better approach to prevent this happen later.

[2017-01-19 16:08] msaxena2 commented on #2264
@daejunpark Thanks.

[2017-01-30 06:11] mragankyadav commented on #2152
has this issue been solved ? I am still getting it even after taking the latest master code.

[2017-02-02 11:36] tomofumi-yuki opened #2269 "Uncaught ModuleTransformException"
Hi,

I encountered the following:
 [Error] Internal: Uncaught exception thrown of type ModuleTransformerException.
Please rerun your program with the --debug flag to generate a stack trace, and
file a bug report at https://github.com/kframework/k/issues

Here are the outputs with --debug and the input file.

[kompile-out.txt](https://github.com/kframework/k/files/747575/kompile-out.txt)
[test.txt]

[2017-02-03 03:40] kheradmand opened #2270 "feature request: some warning if an attribute is not recognized"
I was wondering if it possible to add a feature to `kompile` to give warning if an attribute is not recognized.
I just spend an entire day debugging K in order to find out why one of my functions does not get evaluated only to find out I had a typo in my definition: `[fucntion]` :smile:

[2017-02-05 22:27] daejunpark commented on #2261
Sorry for the delay in replying. You can declare a list whose elements are separated by white spaces, as follows:
[code]
Note that K doesn't distinguish different white spaces. Indeed, K parser ignores all white spaces. That means the above list will accept all in below:
[code]

[2017-02-05 22:30] daejunpark commented on #2152
@mragankyadav Unfortunately, it is not available yet. Sorry for your inconvenience.

[2017-02-05 22:59] daejunpark commented on #2269
@tomofumi-yuki We recommend to enclose the cell of `multiplicity=*` with another cell, e.g., as follows:
[code]
Also, you have to qualify the dot `.` with a proper sort name (e.g., .Bag, .List, .Map).

Please find the fixed definition in below:
[code]

[2017-02-06 03:26] #2255 closed

[2017-02-09 03:31] kheradmand commented on #2273
@daejunpark @andreistefanescu
Actually what is  `OneIntegerGenericBitSet`  and why it exists ? Why not java.util.BitSet?

[2017-02-09 03:45] kheradmand commented on #2273
There is this comment at the top of the class declaration:
[code]

So maybe it would be better to get rid of it.

[2017-02-09 15:39] daejunpark commented on #2273
@kheradmand Why don't you propose a solution and make a pull request for it?

[2017-02-09 23:34] kheradmand commented on #2273
@daejunpark  I replace the `OneIntegerGenericBitSet` with a wrapper for `java.util.BitSet`. Now I get this exception:
[code]

I don't know if it is a bug in other parts of K, or is related to my change.

[2017-02-10 02:22] kheradmand commented on #2273
That problem was due to a bug in my wrapper class, I fixed that (see 57fff53ffc1eb0f7fcca6d542ad5754336f5bacb).
But now I get another kind of error:
[code]

[2017-02-10 02:56] daejunpark commented on #2273
This type of errors happens mostly when it attempts to apply a wrong rule. You can try to find the rule to be applied at that point, and locate (sub-)terms of sort `BoolExpr`.

[2017-02-10 03:56] kheradmand commented on #2273
@daejunpark
I had these two rules:
[code]

But it seemed that the second rule gets applied even if `notBool (X in_keys(M))` is not true (i.e even when `X` have an associated entry at the top of `frameStack`, `X` itself gets added to `$resolve` instead of `V`)

So I wanted to check what was the value of `notBool (X in_keys(M))`,  so I changed to second rule to:
[code]

But it caused some ambiguitie

[2017-02-10 04:21] daejunpark commented on #2273
try:
[code]
note that there is no underscore (`_`).

[2017-02-10 04:41] kheradmand commented on #2273
It works! But why that one wasn't workings?

[2017-02-10 04:47] kheradmand commented on #2273
Oh I saw just your pull request

[2017-02-10 04:52] kheradmand commented on #2273
fixed in #2274

[2017-02-10 22:43] kheradmand commented on #2276
Sorry my bad, I though the second int argument in substrString is the length of the substring

[2017-02-11 02:40] kheradmand opened #2277 "does #include work?"
@daejunpark
I see in javascript semantics that things like `#include "js-init-configuration.k"` are used. I was wondering if this thing is supported in the current version of K and if not, what is the alternative?

[2017-02-11 06:06] daejunpark commented on #2277
That's what a simple C-like preprocessor handles:
https://github.com/kframework/javascript-semantics/blob/master/kpp.py

[2017-02-11 06:31] kheradmand commented on #2277
Oh I thought it was supported by K (like `#requires`). thanks

[2017-02-11 06:31] #2277 closed

[2017-02-11 22:06] daejunpark commented on #2278
Probably, no. From what I remember, `getKLabel` doesn't work well.

[2017-02-12 00:08] kheradmand commented on #2278
Yeah it seems not working. `#sort` is not working either.

[2017-02-12 01:34] kheradmand opened #2279 "problem with `Bag`"
I am trying to send part of the configuration to a function.
[code]

But `kompile` gives me error:

[code]

[2017-02-12 01:53] daejunpark commented on #2279
Do not use `Bag` other than `.Bag`. You can say `K` for the function argument sort. For `< controlFlows>` cell, you should use the correct sort.

[2017-02-12 01:58] kheradmand commented on #2279
what is the correct sort for `<controlFlows>` ? My configuration is :
[code]

[2017-02-12 02:02] daejunpark commented on #2279
Um, then try without specifying the sort. Also try to pass the whole cell `<controlFlows> Fls </controlFlows>` into the function.

[2017-02-12 02:03] daejunpark commented on #2279
Also, take a look at KOOL tutorial. There should be similar use cases.

[2017-02-12 03:32] kheradmand commented on #2279
With this
[code]
I get this error

[code]

[2017-02-12 03:44] kheradmand commented on #2279
I looked at kool, I see something like this there
[code]

man this is stuff are too adhoc

[2017-02-12 10:31] grosu commented on #2279
Indeed, very adhoc.  I had no idea about this.  Who added this and why?

[2017-02-12 14:28] cos commented on #2279
We discussed this at the time. The javacc parser generates KIL data structures which are converted directly into KORE modules, but with the bubbles not parsed yet. The configuration is still a bubble at this stage so its information, including the sorts generated according to the methodology [here](https://github.com/kframework/k/wiki/KAST-and-KORE), is not available at this time. If there are pro

[2017-02-14 03:58] dfava opened #2280 "Non-ascii character in comment later leads to krun crash"
Ran kompile on a simple definition which contained a non-ascii character on a comment.  The compilation succeeded, but a subsequent krun caused a crash.

(see https://lists.cs.illinois.edu/lists/arc/k-user/2017-02/msg00027.html)

The non-ascii character are the quotes surrounding the ! in the comment below.

$ cat simple.k
module SIMPLE-SYNTAX
    syntax Globals ::= List{Id,","}
    syntax Pgm ::=

[2017-02-14 04:00] dfava commented on #2280
[simple.k.txt](https://github.com/kframework/k/files/773103/simple.k.txt)

[2017-02-17 22:32] omarzd commented on #2281
I solved it by declaring in the configuration `<defId> ?X:Id </defId>`, but I'm not sure if it should be `?X` or `!X`.

[2017-02-17 23:32] omarzd opened #2282 "Substitution as an argument of a function"
Before K4.0, I could do something like this:
[code]
Now the substitution inside `prep` upsets the parser. How should I do that?

[2017-02-18 23:27] omarzd commented on #2279
I have a related problem. I think my case is simply a syntax error. The following used to work with `Bag` before K4.0, but since I changed to `Cell` for K4.0, it's not working:
[code]
It accepts either the `thread` cell or `_:Cell`, so it's not like `Bag`. So how should I do this?

[2017-02-21 15:32] dfava opened #2283 "krun prints out a warning when taking the "size" of a list containing a single element"
krun prints out the following warnings when taking the size of a list containing a single element:
[Warning] Critical: failed to translate smtlib expression:
(assert (and (= (> (smt_seq_len (smt_seq_elem true)) 0) true)))
(error "line 1 column 51: unknown function/constant smt_seq_elem")

(error "line 1 column 51: unknown function/constant smt_seq_elem")

Here is a small definition file that can b

[2017-02-23 14:41] radumereuta commented on #2281
Since the configuration is regarded as a ground term, usually we use the null element of the required type. `.Map`, `.K`... In this case, you could try `0`. I find the error message from your first message as expected behavior, and what happened in K3.6 as a flaw that happened to work in that case.

[2017-02-23 14:43] radumereuta commented on #2282
Do you have more details about the error message?
A simple test and version of K could suffice in this case.

[2017-02-25 19:25] omarzd commented on #2282
I tried to make a minimal example. I modified `lesson2/lambda.k`. It doesn't make much sense, but it is the same error I'm getting.
[code]

[2017-02-25 19:26] omarzd commented on #2281
Why is `0` better than `?X:Id` ? `0` does not carry a specific type.

[2017-02-27 10:50] radumereuta commented on #2281
Actually `0` carries the sort `Int`, but now I noticed that you wanted `Id`, in which case I guess you could use that. But my suggestion still applies. The configuration reads the sort of the term in that cell and applies it to later rules. So you could use anything that parses unambiguously as `Id.

[2017-02-27 11:03] omarzd commented on #2281
I see. That was very helpful. Thank you.

[2017-02-27 11:07] omarzd commented on #2279
Is it bad to do `syntax Cell ::= Cell Cell` in order to solve this?

[2017-02-27 11:57] omarzd commented on #2259
Are you saying that your example should be `true` but it is evaluating to `false`?

[2017-03-01 00:12] Juanpam opened #2285 "Parser error on Windows 10"
Hello there. I've just downloaded the k-distribution4.0.0 and when I try to
use krun on Windows 10 it always outputs the following error:

"[Error] Outer Parser: Encountered <EOF>.
Was expecting one of: [<DOTK>, "#token", "#klabel", <ID_KLABEL>, "`"]
        Source(<command line: -cPGM>)
        Location(0,0,0,0)
"
The 3.6 works without a problem though so it must be something in the last update.

[2017-03-01 09:13] omarzd commented on #2285
When you say always, do you mean you tried it on the provided examples and you still got the error? Can you show the file you're running `krun` on?

[2017-03-01 09:15] omarzd commented on #2282
@radumereuta Oh and I'm using the latest master!

[2017-03-01 09:27] omarzd opened #2286 "Cell vs. Bag"
I'm trying to migrate my Orc specs from K3.5 and 3.6 to 4.0. I'm using the latest master and I regularly update and recompile it.
My problem is with using `Cell` where I used `Bag` before. Suppose I have a `<thread>` cell. A `Bag` can contain one such thread or multiple threads. `Cell` can only contain one!
As a result, the following which used to work with `Bag` before K4.0, stopped working when

[2017-03-03 23:50] daejunpark commented on #2288
You can increase the JVM memory size by providing, for example,
[code]

[2017-03-07 12:29] radumereuta commented on #2282
The relation between `K` and the user defined sorts in the definition has changed. So now at the top there is `K`, and at the bottom there is `KBot`.
Changing the prep production to something like:
[code]
avoids your error.

[2017-03-08 12:19] dfava opened #2289 "Adding <s></s> to a configuration causes krun to throw an exception"
Adding <s></s> to a configuration causes krun to throw an exception.
That happens, I believe, because <s> is defined in domains.k.  So, a user defined <s> seems to override the one in domains.k.  The problem is fixed if I rename <s> to something else (such as mysettag).

Files to reproduce:

$ cat test.k
require "./myset.k"
module TEST-SYNTAX
  imports MYSET-SYNTAX
  syntax K ::= init(MySet)
endmo

[2017-03-08 16:33] cos commented on #2289
@dfava, yes `<s>` is reserved for the strategy cell. We should make the error message nicer when it is used for something else. Thanks!

[2017-03-14 09:53] Md-Imran-Alam opened #2290 "adding rule <k> while(taint) {if(BExp) {S} S } => if(BExp) {S} S ...</k> through exception of type AssertionError"
I have the following syntax:
module TEST-SYNTAX
  syntax Decl ::= "int" AExps ";"
               | "int" Id "(" Ids ")" Block
  syntax AExp ::= Int | Bool | String | Id
               | "(" AExp ")"             [bracket]

               | "read" "(" ")"

                 AExp "+" AExp             [strict, left]
syntax BExp ::= AExp "<=" AExp				[strict]
syntax Condt ::=  "if" "(" BExp ")" Block

[2017-03-15 12:52] #2290 closed

[2017-03-22 17:53] ritwika314 opened #2292 "Floats not included in domains.k"
Hi, in https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k , FLOAT is not included in the domains.

[2017-03-29 11:19] radumereuta opened #2293 "Variables of type KList break krun"
I've been working on trying to disambiguate C, and I need a few tools for that.
One of them is a visitor that can traverse the entire AST resulted after parsing.

I've been trying to revive the visitors built by @traiansf in K3.6, but K4 has a bad 'habit' of crashing with `java.lang.ClassCastException`.

Here is a small example:
[code]
Usage: kompile test.k | krun a.test
a.test contains: `1`
Error

[2017-03-29 17:27] lucaspena commented on #2293
Hi Radu,

You are receiving this error because you're trying to match on a KLabel,
which unfortunately is not supported in the current version of K, as we do
not support meta-level reasoning within K.

The error message is unintuitive because we are not expecting users to
attempt such meta-level reasoning. We will work on providing better error
messages in the future.

On Wed, Mar 29, 2017 at 6:19

[2017-03-30 05:19] dlucanu commented on #2293
This is a bit unexpected for me. I know that KLabel is replaced with Symbol (or something like that) in the new ML approach, but I expect the user to have access to the AST representation. It should be a way to write generic rules on ASTs, otherwise a rule like `rule isValid(KL:KLabel(KLs:KList)) => KL(isValidKL(KLs))` has to be implemented/replaced with several thousands of rules for a language d

[2017-03-30 18:28] lucaspena commented on #2293
Unfortunately, there is no good solution for this right now. As you
mentioned, K is going through some structural changes right now, and there
is a lot that still needs to be done. Having such meta-level reasoning will
be very useful, and it is something we are working towards adding in the
future (hopefully sooner rather than later).

Specifically, here's one idea for an implementation of meta-le

[2017-03-30 18:41] radumereuta commented on #2293
Actually, having access to the meta level would work even better.
I'm not sure what is the status of that.
Do you have some documentation and examples?

[2017-04-01 14:06] dlucanu commented on #2293
Thank you very much for the detailed explanations. In the new ML-based approach does it make sense to clearly separate object level and metalevel. The only thing not clear for me is whether do you intend to use the double bracket syntax or explicit functions `#downTerm()` and `#upTerm()` (as in Maude). Now the use of double brackets is confusing since its meaning in the lhs of the rule is differen

[2017-04-05 14:16] zanzix commented on #2152
Just got the same error, is there any news on when this feature will be available?

[2017-04-05 14:31] h0nzZik opened #19 "K fails to build C/C++ semantics"
When using K after commit 097e611ff2b3a2b22fcaa7b0c9334c86a43e3986 with newest rv-match backend, it fails to build the newest C/C++ semantics (91161bdb21b1cf86fb3398b2d0b299b84ceda442). Output:

[code]
With the previous version of K (2ba519f691f355b31acb26fc22a7993fea188ce2), the output is a bit different:

[code]

K version 2ba519f691f355b31acb26fc22a7993fea188ce2 together with the semantics vers

[2017-04-05 16:15] msaxena2 commented on #2152
Unfortunately, the feature is still not available. The team at the moment
is busy with may high priority changes to K, so it'll be another few weeks
until this issue is addressed. We will send out an update once we have the
feature.

On Wed, Apr 5, 2017 at 9:16 AM, zanzix <notifications@github.com> wrote:

[2017-04-05 17:03] zanzix commented on #2152
Sure, no problem!

No rush at all, I was just curious.

Thanks for the work you do, guys - I've just introduced a friend to K and that's how we bumped into this error as it's quite a helpful feature for someone new to the framework to see the code for the rules turn into a more familiar presentation in terms of inference rules.

By the way, speaking of high priority changes - is full support for m

[2017-04-05 20:27] #19 closed, assigned to nobody

[2017-04-30 20:13] csujedihy opened #2298 "How to print out evert key pair in a .Set?"

[2017-05-02 02:17] ehildenb commented on #2298
Could you clarify what you're trying to do? `.Set` corresponds to the empty set in K, and there are no keys for a set.

[2017-05-02 05:02] csujedihy commented on #2298
Sorry. I made a mistake here. I mean .Map.

Best regards,

Yi Huang

On 2017年5月1日 -0500 PM9:17, ehildenb <notifications@github.com>, wrote:

[2017-05-02 14:47] ehildenb commented on #2298
`.Map` is the empty map, so it has no keys. If `M` is a variable of sort `Map` you can call `keys(M)` to get the `Set` of keys of the map.

[2017-05-04 00:39] kheradmand opened #2299 "Problem with symbolic execution (is it expected?)"
For my P4 semantics, I use string of 0s and 1s as input and the rules convert parts of this string to integer using String2Base. Concrete interpretation works fine but if I introduce a symbolic string instead of a concrete one, then I get some errors. I was wondering if this errors are expected or it is a bug.

One step before the error happens:
[code]

The next step:
[code]

[2017-05-04 02:18] kheradmand commented on #2299
It seems that it is not related to packets being string. I changed the packets structure and still get this kind of errors:

An step before error:
[code]

The next step;
[code]

And the step after that:
[code]

[2017-05-04 04:30] kheradmand opened #2300 "Does --coverage-file option work"
I use `--coverage-file <some-file>` option with `krun` hoping to get coverage report, but I do not see any output file. Is it because the option does not work or am I missing something?

[2017-05-04 04:38] kheradmand commented on #2300
A quick look show that the option does not work because the option (defined in KRunOptions.java) is not used anywhere in the project. But it seems that it was implemented in another commit (@5413919) by @daejunpark. Is it possible to merge that into current K ?

[2017-05-04 18:02] kheradmand commented on #2299
This is happening in commit 35df078e85e

[2017-05-05 00:38] kheradmand commented on #2299
@daejunpark It seems that the essence of the problem is this;
[code]
With such a configuration:
[code]

[2017-05-05 00:56] kheradmand commented on #2299
This one also has the same problem:
[code]

[2017-05-05 21:26] kheradmand commented on #2299
thanks to @daejunpark, returning "unsat" when z3 throws such error seems to fix my problems for now

[2017-05-05 21:28] cos commented on #2299
is it safe/correct to return "unsat" on exception?

[2017-05-05 21:29] kheradmand commented on #2299
I don't know if it is generally safe/correct to do that, but for my very special case it seems to be correct

[2017-05-05 23:02] daejunpark commented on #2299
@cos It depends. But here we are interested in symbolic execution, and returning `unsat` on exception is not safe/correct. More generally, we have to consider a rule even if z3 returns `unknown` for satisfiability of the `require` constraint. Otherwise, we may miss some reachability behaviors.

[2017-05-05 23:10] cos commented on #2299
@daejunpark, yep, I was thinking of symbolic execution.

@kheradmand, would there be any problem allowing the rule to apply instead? Would it significantly impact performance?

[2017-05-05 23:14] kheradmand commented on #2299
@cos in that case (which was the default behavior before I made the change I mentioned), I get to the `assertionError` that was mentioned in the first comment.

[2017-05-05 23:22] cos commented on #2299
@kheradmand, ok, I see.

[2017-05-11 21:58] kheradmand commented on #2303
@cos @daejunpark

I tried to create a simplified version of the problem and here it is:

[code]

And here are the steps that are taken:
[code]

The same rule:
[code]
Does not get applied the second time

[2017-05-11 22:35] kheradmand commented on #2303
Actually the simplified example was fixed by changing `.` to `.List`. But doing so did not solve the problem in the actual program

[2017-05-12 00:15] kheradmand commented on #2303
The problem somehow get mysteriously fixed by itself after changing some irrelevant parts of the semantics!

[2017-05-12 08:49] radumereuta commented on #2303
I remember having a similar issue some time ago.
Unfortunately is not something in the front end, and I don't know where to look in the backend.

[2017-05-23 22:59] msaxena2 opened #2304 "Rule Encoding in Kore"
A rule in Legacy kore is translated into Kore as follows (pasted verbatim from the codebase) -
[code]
or in other words
[code]
This translation may not be correct, based on the short discussions I had with @grosu and @lucaspena . Even though this doesn't affect K's working at the moment, we might want to ensure that the Kore we get at the end of the kompile pipeline is correct.

[2017-05-23 23:25] cos commented on #2304
That translation seems strange to me. Can't we simply translate it to: `lhs AND requires => rhs AND ensures`? At least that's what the Scala backend expects.

[2017-05-24 00:16] daejunpark commented on #2304
I admit that the translation is not correct. I realized the problem soon after I encoded it in that way, but I postponed fixing it since I wanted to think/discuss more about the reasonable solution (but sorry I hadn't have a chance to do it.)

The thing is that the correct encoding is not trivial. Note that the `body` is not necessarily simply in the form of `lhs => rhs`; the `=>` can appear local

[2017-05-24 02:48] grosu commented on #2304
What is wrong with the obvious desugaring, that is, `lhs => rhs` gets desugared to `Implies(lhs,next(rhs))` ?

[2017-05-24 16:29] cos commented on #2304
When the rewrites are local, I think the correct translation is to simply leave them there. Unless I'm missing some subtlety, `body AND (requires => ensures)` should work in all cases.

As a side note, in the next few days I will merge local rewriting functionality for the Scala backend, so we won't even have to move the rewrites to the top.

[2017-05-24 18:56] daejunpark commented on #2304
@grosu Your encoding seems to work, although I haven't thought about it that much. My original question is how to incorporate the `requires` and `ensures` that are not local. Indeed, I should admit that I didn't think about it that much, so there could be a simple encoding that works.

[2017-06-18 21:59] leavens opened #2307 "KRun.externalParse StackOverflowError"
The files I refer to are found in the attached zip file.  I am using:

K framework version 4.0.0
Git revision: d310c7a
Git branch: v4.0.0
Build date: Wed Jul 27 22:10:26 EDT 2016

When I kompile the module model.k (in the zip file), everything seems fine. But when I do krun --debug model1.mod, I get a StackOverflowError with the following output.

[stackoverflowerror.zip](https://github.com/kframe

[2017-06-18 22:02] leavens commented on #2307
The zip file is not part of the output I receive. The output starts after that with "org.kframework..."

[2017-06-18 23:16] leavens commented on #2307
I thought perhaps the stack overflow was due to the left recursion in the grammar, but even changing it to right recursion

  syntax MBElems ::= MBElem
  	 	 | MBElem MBElems

doesn't help, as the same error occurs.

However, if I take out the recursion completely and use

module MODEL-SYNTAX

  syntax Model ::= "model" Id "{" MBElems "}"

  syntax MBElems ::= MBElem

  syntax MBElem ::= "use" "mo

[2017-06-20 09:33] radumereuta commented on #2307
You get the stack overflow because the parser gets into a loop. `MBElem` and `MBElems` can be nullable.

I changed your example into:
[code]
and I managed to get a result.

Note that K has a complete context-free parser, you don't have to worry about left recursion, but you do have to worry about infinite cycles.

Let us know if this solves your problem and if we can close the issue.

[2017-06-20 15:33] leavens commented on #2307
Yes, that does solve the problem. Perhaps K should check for such infinite cycles, or the error message about StackOverflowError should be changed to point out the possibility of such infinite cycles, but now that I know what to do I can make progress. Thanks!

[2017-06-20 15:33] leavens commented on #2307
Hi Radu,

Thanks very much for your reply. That does solve my problem.

        Regards,

        Gary T. Leavens
        437D Harris Center (Bldg. 116)
        Computer Science, University of Central Florida
        4000 Central Florida Blvd., Orlando, FL 32816-2362 USA
        http://www.cs.ucf.edu/~leavens  phone: +1-407-823-4758
        leavens@cs.ucf.edu

On Tue, Jun 20, 2017 at 5:33 AM, Radu

[2017-06-21 04:28] ayberkt commented on #2310
Hi @jsinglet!  Unfortunately, this is a known issue:`kdoc` has not been implemented in K 4.0. There really should be a warning explaining the situation when someone calls `kdoc` so sorry for that.

I don't know if fixing `kdoc` is on anyone's todo list. I was in fact considering looking into this myself though I don't know how long it would take to get a complete fix working. Anyhow, thanks for op

[2017-06-21 17:22] jsinglet commented on #2310
Hi @ayberkt! Is it possible to use a older version of kdoc with a newer version of kompile? I suspect not, but I figure I'd ask in case.

[2017-06-21 21:07] cos commented on #2310
@jsinglet, it's been on our todo list for a while but we didn't get to it.

In some cases it's possible to compile the same program with K 3.6, and kdoc is available for it.

[2017-06-29 16:42] msaxena2 commented on #2313
fixed via #2315

[2017-07-09 23:58] jsinglet opened #2320 "Access AST of Parser?"
What facilities are provided for accessing (via API) the AST of the parsed program? I can't seem to find this information in the documentation.

[2017-07-11 06:23] dongbiao830415 opened #20 "On the centos6.9,build fail"
mvn package：
...........................
Tests run: 23, Failures: 0, Errors: 21, Skipped: 0, Time elapsed: 32.021 sec <<< FAILURE! - in org.kframework.parser.concrete2kore.RuleGrammarTest
test10(org.kframework.parser.concrete2kore.RuleGrammarTest)  Time elapsed: 1.531 sec  <<< ERROR!
org.kframework.utils.errorsystem.KEMException: [Error] Internal: gcc returned nonzero exit code. See output for det

[2017-07-15 18:22] #20 closed, assigned to nobody

[2017-07-15 18:23] dongbiao830415 opened #21 "Error while compiling c-semantics"
Centos6.9
gcc version 7.1.0 (GCC)
When using K after commit 0c6be5696ee8c522ac42eab9a09c95d8b111df2b , it fails to build the newest c-semantics (`0c6be5696ee8c522ac42eab9a09c95d8b111df2b`). Output:
[code]
The output of running kcc -d is following:
[code]

[2017-07-18 13:58] #21 closed, assigned to nobody

[2017-07-21 17:43] ayberkt opened #2323 "Missing hooks in the Scala backend (primarily for Plutus Core)"
The following hooks will have to be implemented in the Scala backend as a first step to getting [Plutus Core](github.com/kframework/plutus-core-semantics) to run with it.

* [ ] "LIST.size" for label "sizeList"
* [ ] "STRING.le" for label "_<=String_"
* [ ] "String.string2base" for label "String2Base"
* [ ] "STRING.countAllOccurrences" for label "countAllOccurrences(_,_)"
* [ ] "MAP.removeAll" for

[2017-07-22 23:44] dongbiao830415 opened #22 "Error while compiling lambda.k"
When using kompile, it fails to compile the lambda.k(a very simple example).

cat lambda.k
[code]
(1)  kompile --no-prelude lambda.k. Output:
[code]
(2)  kompile lambda.k. Output:
[code]
I don't know what the reason is.
Who has the latest K manual?
Thank you.

[2017-08-09 21:51] nishantjr commented on #2327
In posix, the modification time of a directory changes only when a file is added or removed from the directory, not when the *contents* any of it's files change. This makes sense, because you'd otherwise have to recurse upwards and change the modified time all the way up to the root of the filesystem.

If you want this for writing a Makefile, you can instead depend on `*-kompiled/kore.txt` or `*-k

[2017-08-15 20:38] lucaspena commented on #2328
Also @daejunpark

[2017-08-21 17:13] lucaspena commented on #2328
@msaxena2 and I figured out the root cause of the issue. Basically, `matchImplies` in the file `ConstrainedTerm.java` is trying to prove that the current term implies the target term. In doing this, it calculates the `rightOnlyVariables`, i.e. the variables present in the target term but not the current term. However, in this example, the current term no longer has the variable `Y` in scope as it

[2017-08-22 16:22] bmmoore commented on #2327
I have an existing makefile that was trying to depend directly on the `-kompiled` directory. I can change it as you suggest.

[2017-08-22 19:16] ehildenb opened #2333 "Parser Tests Commented Out"
In the test file [DefinitionParserTest](https://raw.githubusercontent.com/kframework/k/f6b8b978e4f40f07be187014ccf0fd32efcfb679/kernel/src/test/java/org/kframework/DefinitionParserTest.java), the `assertEquals` lines in the tests are commented out.

@daejunpark, it looks like commit de8eee23 disables these.

Porque?

[2017-08-25 15:35] nishantjr opened #2335 "ktest does not correctly report exit code in case of exceptions"
This is demonstrated on branch `njr/ktest-incorrect-exit-code`

See commit message for instructions on how to reproduce

[2017-08-25 15:37] nishantjr opened #2336 "ktest should look up paths relative to `config.xml`"
The current behavior is that it looks up paths relative to the current working directory. This is a pain, because we need to `cd` into that directory and call `ktest` from there when we want to run a single test.

[2017-08-25 17:16] nishantjr opened #2337 "Parser accepts `/* ... */` comments implicitly"
This implicit behavior doesn't allow writing syntax, e.g. for python where this style of comments should not parse.

[2017-09-04 13:15] radumereuta commented on #2337
Currently, the K parser doesn't allow you to specify indentation sensitive languages.
Layout is handled automatically and uniformly. In order to parse Python, the parser needs a bit more work.

Regarding comments, it is actually relatively easy to specify different styles, but we could never agree on a way to specify them, so I just chose the most common example (C style of comments) and hard code

[2017-09-07 01:39] nishantjr commented on #2337
Ah, didn't realise that. Thanks!

[2017-09-07 01:39] #2337 closed

[2017-09-11 19:50] kheradmand commented on #2339
@daejunpark any ideas?

[2017-09-11 20:35] lucaspena commented on #2339
Hi Ali,

If you change the rule to

rule <k> @updateCounter (C:Id , I:Int) => T ==K
#parseToken("CounterType@STATEFUL-SYNTAX", "bytes") ... </k>
     <statefuls> <stateful> <name> N </name> <opts> "$counter_type"
|-> T:CounterType _:Map </opts> ... </stateful> ...    </statefuls>

This is actually eliminating the ambiguity based on the sort rather than
the label. I'm not sure if you can eliminate

[2017-09-11 22:12] kheradmand commented on #2339
Thanks a lot @lucaspena :) 👍

[2017-09-11 22:34] kheradmand commented on #2339
@lucaspena
Actually I don't know why the following happens:

[code]

the rule is:
[code]

[2017-09-11 22:46] lucaspena commented on #2339
Hm, I'm not sure why that is. Do you think you can create a full minimal example I can look at? The rule seemed to go through fine in a small example I created locally. My only guess would be that when `packets` is placed into the `opts` map it has the wrong sort. What happens if `MeterType` is used in the rule instead of `CounterType`?

[2017-09-11 22:48] kheradmand commented on #2339
I will try that but the sort of T is checked in the rule : ```...("$counter_type" |-> T:CounterType)...```

[2017-09-11 22:52] lucaspena commented on #2339
Yea, the rule likely won't apply with that change. I would suggest that when `packets` is loaded into the map to also use the `#parseToken` syntax.